.transactionSummaryButtonContainer{
  margin-top: 30px;
  button{
    height: 35px;
    width: 40px;
    background-color: #C44342;
    color: white;
    border-radius: 8px;
    padding: 10px;
    &:hover{
      background-color: white;
      border: 1px solid #C44342;
      color: #C44342;
    }
  }
}

.consumer-timeline-edit-button{
  background-color: $red !important;
  color: white !important;
  padding: 10px 0 !important;
  width: 100%;
  font-size: 17px;
  font-weight: 300;
  border-radius: 5px !important;
  border: solid 2px $red !important;
  &:hover{
    background-color: white !important;
    border: solid 2px $red !important;
    color: $red !important;
  }
  div{
    padding: 0;
    display: inline-block;
  }
  div:last-child{
    text-align: right;
    float: right;
    padding-right: 10px;
  }
}
