/******** Colors  *****/
//Not sure if teal is the primary color or secondary color, so leaving it as teal for now.
$teal           : #21D7D1;
$lightTeal      : #E8FBFA;
$red            : #C44342;
$orange         : #FF8C00;
$gray           : #e4e4e4;
$gray-background: #eeeeee;
$disabled       : #dddddd;
$green          : #08b004;

.teal{
  color: $teal !important;
}

.gray{
  color: $gray !important;
}

.gray-background {
  background: $gray-background !important;
}

.white-background{
  background: white !important;
}

.teal-background {
  background: $teal !important;
}

.otc-red {
  color: $red;
}

.border-red {
  border: 1px solid $red;
}

.green{
  color:$green;
}

.light-blue-background{
  background: #D5EEF0 !important;
}

.white-text{
  color: white !important;
}

.hov-teal-color:hover{
  color: $teal !important;
}

.hov-teal-bg:hover{
  background: $teal !important;
}