/*** Consumer Transaction Summary ***/
#ConsumerTransactionSummary{
  margin-top: 50px;

  .task-and-milestone-description{
    float: left;
    width: 90%;
  }

  .details-content{
    margin-bottom: 20px !important;
    padding: 15px;
  }

  .container{
    padding: 0 !important;
  }

  .tb-item.left{
    @media screen and (min-width: 1200px){
      width: 60%;
    }
  }

  #ConsumerDocumentsControls{
    padding: 0;
    .doc-search-box{
      .input-group{
        input{
          width: 72%;
        }
      }
    }
  }

  .timeline-additional-data{
    div:first-child{
      cursor: pointer;
    }
    .details-list{
      margin-top: 20px;
      .kp-name{
        float: right;
      }
      .detail-item{
        font-size: 12px;
        display: flex;
        justify-content: left;
        padding: 5px 10px;
        min-height: 0;
        .item-title{
          text-transform: uppercase;
        }
      }
    }
    h3{
      display: inline;
      font-weight: 500;
    }
    .title-icon{
      float: right;
      i{
        color: $teal;
      }
    }
  }

  .SearchContainer{
    padding: 15px;
    .search-button{
      border-radius: 0;
    }
  }

  #CS-sorting-dropdown{
    padding: 15px 27px;
    .dropdown-menu{
      position: absolute;
      top: -1px !important;
      left: unset !important;
      right: -1px !important;
      transform: none !important;
      margin: 0 !important;
      div:first-child{
        height: 35px;
        background: #21D7D1;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding-right: 10px;
        color: white;
        &:hover{
          text-decoration: none;
        }
      }
    }
  }

  .list-dates {
    .date-item {
      margin-bottom: 10px;
      .description{
        .desc-wrap{
          font-size: 16px;
          .dropdown-menu{
            right: 0 !important;
            top: -3px !important;
            left: unset !important;
            border: solid 1px $teal;
            padding: 0;
            transform: none !important;
            max-width: 200px;
            div{
              width: 100%;
              border-bottom: 1px solid $teal;
              padding: 5px 5px 5px 20px;
              &:hover{
                text-decoration: none;
                background: $lightTeal;
                color: black;
              }
            }
            div:first-child{
              height: 47px;
              display: flex;
              justify-content: flex-end;
              align-items: center;
              padding-right: 17px;
              background: #21D7D1;
              i{
                padding: 6px;
                color: #e6e6e6;
                border: solid 1px #e6e6e6;
                border-radius: 50%;
                margin-right: -5px;
              }
            }
            div:last-child{
              border: none;
            }
          }
          &:hover{
            .timeline-item-dropdown-trigger{
              /*color: white;
              border: solid 1px white;*/
            }
            background: white;
            color: unset;
            border: 1px dashed #cdcdcd;
          }
        }
      }
      .date {
        .month{
          font-weight: 800;
          font-size: 17px;
        }
        .day{
          font-weight: 800;
        }
      }
    }
  }

  .timeline-item-dropdown-trigger{
    float: right;
    border-radius: 50%;
    border: solid 1px #ccc9;
    padding: 2px 4px;
    color: #ccc9;
    display: inline-block;
  }
}
/*** End Consumer Transaction Summary ***/