/*** Consumer Documents ***/

#ConsumerDocuments{
  .doc-atoz-content {
    max-width: 1000px;
    min-height: 500px;
    background-color: white;
    border-radius: 8px;
    padding: 20px 100px 25px 35px;
  }

  .v-expansion-panel__container{
    border: none;
  }

  .v-expansion-panel__header{
    border-bottom: solid 3px #dedede;
    font-weight: normal;
  }

  .doc-heading-section {
    width: 100%;
  }

  .doc-search-box {
    width: 80% !important;
  }

  #Doc-card-content .col-sm-6 {
    margin-bottom: 20px;
  }

  .card {
    border: 1px dashed #21D7D1;
    .card-body {
      position: relative;
    }
    img {
      height: 60px;
      margin-right: 30px;
    }
  }

  .doc-ellipsis-menu {
    position: absolute;
    top: 5px;
    right: 30px;
    color: #21D7D1;
  }

  .card-container{
    min-height: 160px;
    margin-top: 20px;
  }

  .card {
    padding: 20px 0 0 5px;
    .dropdown-toggle:after {
      content: none;
    }
    .card-title {
      font-size: 18px;
      font-weight: 700;
      color: black;
      text-decoration: none;
    }
    .card-text {
      color: #C14241;
      font-size: 13px;
      padding-left: 20%;
    }

    .card-footer{
      margin-top: 15px;
      i {
        color: #C14241;
        margin-right: 5px;
      }
      a {
        color: #6F6F6F;
        font-style: italic;
        font-size: 12px;
      }
    }
  }

  .upload-button {
    background-color: $teal;
    color: white;
    border-radius: 6px;
    font-size: 12px;
    margin-bottom: 7px;
    margin-left: 45px;
    padding: 10px;
  }

  #Doc-Categories {
    border-bottom: 3px solid #EAEAEA;
    margin-bottom: 20px;
  }

  @media screen and (max-width: 600px) {
    .doc-atoz-content {
      padding: 20px;
    }
    .doc-search-box {
      width: 100% !important;
    }
    #Doc-card-content .col-sm-6 {
      padding: 5px;
    }
    #Doc-BtnStyleOne {
      float: right;
      margin-right: 10px;
    }
  }
}

#ConsumerDocumentsControls{
  padding-right: 50px;
  padding-left: 50px;
  button{
    padding: 10px;
  }

  .controls-dropdown{
    border:1px solid $teal;
    color: black;
    background-color: white;
    margin-right: 100px;
    padding: 0;
    a{
      &.dropdown-item-header{
        background: #21D7D1;
        color: white;
        pointer-events: none;
        cursor: default !important;
        &:hover{
          background: $teal;
          cursor: default !important;
        }
      }
      color: #000;
      display: block;
      padding: 7px;
      text-align: center;
      border-bottom: solid 1px $teal;
      &:hover{
        background: $lightTeal;
      }
    }
    a:last-child{
      border-bottom: none;
    }
  }

  .documentControlButtons{
    height: 35px;
    border:1px solid #21D7D1;
    color: #21D7D1;
    font-size: 14px;
    margin-bottom: 10px;
    &:hover{
      background-color: #21D7D1;
      color: white;
    }
  }

  #CS-sorting-dropdown {
    float: right;
    .active {
      background-color: #21D7D1;
      color: white;
    }
  }

  .doc-search-box{
    .input-group{
      width: 75%;
      input{
        width: 60%;
        height: 38px;
      }
      .search-button{
        height: 38px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
      .add-doc-button{
        margin-left:20px;
      }
    }
  }

  .red-button{
      background-color: #C44342;
      color: white;
      font-size: 12px;
      height: 38px;
      border-radius: 6px;
      &:hover{
        background-color: white;
        border:1px solid #C44342;
        color: #C44342;
    }
  }

  .controls-dropdown{
    border:1px solid #21D7D1 !important;
    color: black;
    background-color: white;
    margin-right: 100px;
    margin-left: 65%;
    margin-top: 8%;
    a{
      padding-top: 8px;
      padding-bottom: 8px;
      border-bottom:1px solid #21D7D1;
      font-size: 12px;
      &:hover{
        background-color: #E8FBFA;
      }
    }
  }
}

/*** Consumer Documents ***/