/*** Consumer Footer ***/

#ConsumerFooter{
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  margin-top: 50px;
  background-color: #343a40;
  color: white;
  font-size: 12px;
  padding-left: 270px;
  a{
    color: white;
  }
  .px-5{
    padding-left: 3rem;
  }
  #social{

  }
  .nav{
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    a{
      font-size: 14px;
      &:hover{
        color: blue;
      }
    }
    li{
      a{
        &:hover{
          background: none;
        }
      }
    }
  }
  .row{
    div{
      padding-top: 30px;
      &:nth-child(2){
        padding-top: 25px;
      }
      &:last-child{
        padding-top: 0;
      }
    }
    .justify-content-end{
      justify-content: flex-end;
    }
  }

  @media screen and (max-width: 768px){
    padding-left: 0;
  }

}

/*** End Consumer Footer ***/