#ConsumerEditDetails{
  padding-top: 50px;
  margin: 0;

  .TransactionHeader {
    background-color: white;
    margin-top: -50px;
    padding: 15px 50px !important;
    border-bottom: 2px solid #C34241;
  }

  .TransactionAddress {
    margin-bottom: 0;
  }

  .TransactionHeader small {
    font-size: 13px;
    font-weight: 600;
    text-align: left;
  }

  .DaysOfEscrow {
    color: #4DDCD7;
  }

  .EditButtonOne {
    background-color: #C34241 !important;
    color: white !important;
    border-radius: 8px !important;
    height: 35px;
    width: 40px;
    padding-top: 5px !important;
    &:hover {
      background-color: white !important;
      border: 1px solid #C44342 !important;
      color: #C44342 !important;
    }
  }

  .EditSettingsHeading {
    display: block;
    padding: 0 8px 5px;
    margin-bottom: 15px;
  }

  .EditSettingsLeftCol {
    background-color: white;
    border-radius: 8px;
    margin-bottom: 20px;
    padding: 20px !important;
    position: relative;
    border: 1px solid #CED4DA;
    img {
      width: 100%;
      min-height: 100px;
      &:hover {
        border: 1px dashed #F0F0F0;
      }
    }
    ul {
      padding-inline-start: 0;
      margin-top: 10px;
      margin-left: 15px;
      li {
        list-style-type: none;
        font-size: 13px;
        margin-bottom: 5px;
        padding: 3px 0;
        a {
          text-decoration: none;
          color: #41DDD7;
          font-weight: 500;
          &:hover {
            font-weight: 600;
          }
        }
      }
    }
  }

  .EditButtonTwo {
    position: absolute;
    right: 0;
    bottom: 0;
    margin-right: 10px;
    margin-bottom: 10px;
    background-color: #65DFDB !important;
    color: #51B2AF !important;
    border-radius: 360px !important;
    font-size: 15px !important;
    height: 30px;
    width: 30px;
    padding: 0 !important;
  }

  .EditDetailsBodyContent {
    background-color: white;
    padding-bottom: 50px;
    padding-top: 50px;
    margin-bottom: -50px;
  }

  .EditDetailsBody {
    border-radius: 8px;
    border: 1px solid #CED4DA;
    padding-bottom: 50px;
  }

  .EditHeadingOne {
    color: #CE343E;
    margin: 20px 0;
    padding-left: 35px;
    font-size: 20px;
    font-weight: 500;
  }

  .EditDetailsForm {
    width: 90%;
    margin: 40px auto;
    input {
      height: 45px;
      padding-left: 30px !important;
    }
    label {
      font-size: 16px !important;
      color: #777777;
    }
  }

  .EditDetailsArrowLabel {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }

  .InputPropertyAddress {
    background: url("icon-map.png") no-repeat 2%;
    padding-left: 30px !important;
  }

  .EditFormDButton {
    text-align: left !important;
    border: 1px solid #CED4DA !important;
    padding-left: 30px !important;
    height: 45px !important;
    color: black;
    i{
      float: right;
      margin-right: -20px;
      color: $teal;
    }
    &:hover{
      color: black;
    }
  }

  .EditDetailsForm {
    .dropdown-toggle::after {
      color: #21D7D1;
      float: right;
      font-size: 25px;
      margin-top: 10px;
    }
    .dropdown-menu {
      border: 1px solid #CED4DA;
      width: 100%;
      padding: 10px !important;
      .dropdown-item {
        margin: 0;
        color: #1C2023 !important;
        padding: 8px 0 8px 20px;
        display: block;
        &:hover {
          background-color: #E8FBFA;
          border-radius: 4px;
          color: black;
        }
      }
    }

    .changeControlButtons{
      div{
        &:first-child{
          display: flex;
          justify-content: flex-end;
          padding-top: 3px;
        }
      }
    }
  }

  .EditAnchorOne {
    color: #1FCDC7 !important;
    font-weight: 500;
    display: block;
    padding-top: 8px;
  }

  .EditAnchorTwo {
    color: #1FCDC7 !important;
    font-weight: 500;
  }

  .EditButtonThree {
    color: white !important;
    background-color: #CE343E !important;
    font-size: 14px !important;
    padding: 10px;
  }

  .EditDetailsBodyTwo {
    .col-sm-2, .col-sm-6 {
      padding: 0;
    }
  }

  #TransactionDetails{
    .EditDetailsForm{
      input{
        display: block;
        height: 45px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #555555;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 4px;
      }
    }
  }

  .EditDropdownStyle {
    .dropdown-toggle::after {
      display: none;
    }
    i {
      float: right;
      font-size: 20px;
      color: #777777;
      margin-top: 3px;
    }
  }

  .EditYearBuiltDropdown .dropdown-menu {
    max-height: 200px;
    overflow-y: scroll;
    .dropdown-menu{
      .dropdown-item{
        display: block;
        text-decoration: none;
        font-size: 16px;
        padding-left: 20px !important;
      }
    }
  }

  .EditDetailsForm input {
    &[type="date"] {
      background: url("date to excrow.png") 97% no-repeat;
    }
    &::-webkit-inner-spin-button {
      display: none;
    }
    &::-webkit-calendar-picker-indicator {
      opacity: 0;
      height: 20px;
      width: 20px;
    }
  }

  @media screen and (max-width: 400px) {
    .EditDetailsForm {
      padding: 0 25px;
    }
  }
}