/*** Consumer Profile ***/

#ConsumerProfile{
  width: 90%;

  .profile-body {
    max-width: 1000px !important;
    min-height: 500px;
    padding: 0 20px;
    width: 100%;
    margin-top: 50px;
  }

  .account-profile-pic, .account-settings {
    background-color: white;
    border-radius: 8px;
    min-height: 250px;
    margin-bottom: 20px;
    padding: 1rem;
  }

  .account-profile-pic img {
    min-height: 180px;
    width: 100%;
    &:hover {
      border: 1px dashed #F0F0F0;
    }
  }

  .account-settings {
    height: 380px;
    ul {
      margin-top: 10px;
      margin-left: 15px;
      padding-inline-start: 0;
      li {
        list-style-type: none;
        font-size: 13px;
        margin-bottom: 5px;
        a {
          text-align: left;
          text-decoration: none;
          color: #41DDD7;
          font-weight: 500;
          &:hover {
            font-weight: 600;
          }
        }
      }
    }
  }

  .account-details-body {
    background-color: white;
    border-radius: 8px;
    min-height: 660px;
    h5 {
      color: #CE343E;
      padding-top: 1.5rem;
      margin-left: 1.5rem;
      margin-bottom: 1.5rem;
      font-size: 20px;
      font-weight: 500;
    }
    form {
      padding: 20px;
      label {
        color: #AAADB0;
        font-size: 14px;
        margin-bottom: 5px;
      }
      input::placeholder {
        color: black;
      }
    }
    a {
      margin-top: 25px;
      color: #41DDD7;
      font-weight: 400;
      font-size: 15px;
      &:hover {
        color: #41DDD7;
      }
    }
  }

  #profile-save-button {
    background-color: #CE343E;
    color: white;
    border-radius: 6px;
    font-size: 14px;
    margin-top: 80px;
    padding: 10px;
    float: right;
  }

  @media screen and (max-width: 600px) {
    .account-settings {
      height: 100px;
    }
  }

}
/*** End Consumer Profile ***/