/*** Consumer Header ***/

#ConsumerHeader{
  top: 0;
  padding: 0;
  margin: 0;
  position: fixed;
  width: 100%;
  z-index: 1020;
  .consumer-icon{
    color: #000;
    float: right;
  }
  .notification-count{
    color: white;
    font-size: 8px;
    text-decoration: none;
  }
  #notification-count-span{
    top: -1px;
    width: 13px;
    height: 13px;
    background: #C44342;
    border-radius: 50%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0;
    sup{
      top: unset !important;
    }
  }
  .expand-menu-button-container{
    padding: 15px;
    display: none;
  }
  button{
    background: white;
    border-radius: 5px;
    border: 0;
    border: solid 1px #ccc;
    float: right;
    padding: 0.25rem 0.75rem;
    font-size: 1.25rem;
    line-height: 1;
  }
  .container-fluid{
    padding-left: 0;
    .header-row{
      height: 70px;
    }
    #alertBellContainer{
      height: 60px;
      a{
        height: inherit;
        display: flex;
        justify-content: center;
        align-items: center;
        .consumer-icon{
          font-size: 30px;
        }
      }
    }
    background: white;
    .item.alerts{
      display: inline-block;
    }
    #LogoContainer{
      padding: 5px 5px;
      @media screen and (max-width: 500px){
        img{
          width: 160px;
        }
      }
      @media screen and (min-width: 500px){
        padding: 0 20px;
      }
    }
    .PropDropdownMenuStyleOne{
      top: 7px !important;
      right: 0;
      left: auto !important;
      border: solid 1px $teal;
      padding: 0;

      a, span{
        width: 100%;
        padding: 5px 5px 5px 15px;
        display: block;
        border-bottom: solid 1px $teal;
        &:hover{
          background: $lightTeal;
        }
        &:last-child{
          border: none;
        }
      }
    }
    #Navbar{
      padding-top: 17px;
      float: right;
      table{
        tr{
          td{
            border-right: solid 1px black;
            padding: 0 10px 0 10px;
            i{
              border-radius: 50%;
              border: solid 1px black;
              padding: 5px;
              font-size: 15px;
            }
            a{
              color: #000;
            }
          }
        }
      }
      ul{
        li{
          display: inline-block;
          a{
            color: #000;
          }
          .user-info-drop-down{
            min-width: 200px;
            right: 0;
            left: auto;
            ul{
              padding: inherit;
              li{
                display: block;
              }
            }
          }
        }
      }
    }
  }
  @media screen and (max-width: 767px){
    .expand-menu-button-container{
      display: block;
    }
  }
  @media screen and (max-width: 767px){
    #Navbar{
      width: 100%;
      div:first-child{
        display: flex;
        justify-content: center;
      }
    }
  }
}

/*** End Consumer Header ***/