#ConsumerSearchKeyPeople{
  @import url('https://fonts.googleapis.com/css?family=Mada:300&display=swap');
  *{
    padding: 0;
    margin: 0;
  }

  width: 90%;
  margin: 50px auto 0;

  .display-4 {
    font-size: 3.5rem;
    font-weight: 300;
    line-height: 1.2;
  }

  .rounded-0 {
    border-radius: 0 !important;
  }

  .d-block {
    display: block !important;
  }

  .KeyPeopleBody{
    max-width: 1000px;
    margin: 50px auto !important;
    padding-bottom: 250px;
  }

  .KeyPeopleHeading{
    text-align: center !important;
    font-size: 35px !important;
    font-family: 'Mada', sans-serif;
  }

  .KeyPeopleSearchBox{
    margin-top: 50px;
    width: 100%;
    input{
      height: 50px;
      padding-left: 10px;
      border-radius: 0 !important;
    }
    button{
      position: absolute;
      top: 6px;
      right: 14px;
      z-index: 3;
      padding: 11px;
    }
  }

  .KeyPeopleSearchBox input:focus{
    box-shadow: none;
  }

  .KeyPeopleTableRow{
    td{
      background: white;
    }
    &:hover {
      background-color: $lightTeal !important;
    }
  }

  .KeyPeopleTable {
    table{
      border-collapse: unset !important;
      thead{
        display: none;
      }
      tr{
        &:hover{
          td{
            background: $lightTeal;
          }
        }
      }
      td {
        text-align: center;
        border: none !important;
        display: table-cell;
        width: 33%;
        font-size: 17px;
        padding: 20px 0 20px 10%;
        &:first-child{
          text-align: left;
          font-size: 18px;
        }
      }
    }
  }

  .KeyPeopleRole{
    display: block;
    padding-top: 20px !important;
  }

  .KeyPeopleEditOptions{
    width: 50px !important;
    padding-top: 20px !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
  }

  .KeyPeolpeAnchorStyleOne{
    color: #21D7D1 !important;
  }

  .KeyPeopleAnchorBorder{
    border-left: 1px solid #21D7D1;
    border-right: 1px solid #21D7D1;
    padding-left: 20px;
    padding-right: 20px;
  }

  .KeyPeopleTableBox{
    border: solid 1px #ccc;
    border-top: none;
  }

  @media screen and (max-width: 600px) {
    .KeyPeopleTableBox{
      overflow-x: auto;
    }
  }
}