/*** Consumer Alerts ***/

#ConsumerAlerts{
  //background: #F4F4F4;
  .consumer-alerts{
    .row {
      max-width: 1000px;
      margin-left: 20px;
    }
  }
  .nav{
    float: right;
    li{
      display: inline-block;
    }
  }

  .alert-action-style-one {
    color: $teal;
    padding-left: 10px;
    padding-right: 10px;
    &:hover {
      color: $teal;
      text-decoration: none;
    }
  }

  .consumer-alerts {
    ul li:first-child {
      border-right: 1px solid $teal;
    }
    h5 {
      color: $teal;
      font-size: 18px;
      font-weight: 700;
    }
    table tr {
      font-size: 13px;
      height: 50px;
      &:hover {
        background-color: #E6FFFE;
      }
    }
  }

  .alert-address {
    color: black;
    font-weight: bold;
    text-decoration: none;
    padding-left: 20px;
    &:hover {
      color: black;
      text-decoration: none;
    }
  }

  .alert-action-style-two {
    padding-left: 0;
    color: $teal;
    font-size: 12px;
    font-weight: 500;
    &:hover {
      text-decoration: underline;
      color: $teal;
    }
  }

  .no-border{
    border: none !important;
  }

  .mark-as-read {
    border-right: 1px solid $teal;
    padding-right: 20px;
    @media screen and (max-width: 600px){
      padding: 5px 5px 5px 0;
      margin-right: 0;
    }
  }

  .notification-date {
    color: #B6B6B6;
    font-size: 12px;
  }

  .unread-icon {
    color: $teal;
    font-size: 8px;
    margin-right: -10px;
  }

  table{
    border-spacing: 0;
    tr{
      &:hover{
        background-color: #E6FFFE;
      }
      td{
        background: white;
        vertical-align: middle;
        //text-align: left;
        border: none;
        border-top: 1px solid #dee2e6;
      }
      .alert-description{
        text-align: left;
        padding-left: 40px;
        cursor: pointer;
      }
    }
  }

  @media screen and (max-width: 600px) {
    .consumer-alerts {
      .row {
        width: auto;
        margin-left: 0;
        margin-right: 0;
      }
      ul {
        margin-bottom: 10px;
      }
      h5 {
        margin-left: 10px;
      }
      .table-box {
        overflow-x: auto;
      }
    }
  }

  #agent-view{
    h5{
      color: black;
      font-family: Roboto, sans-serif;
      font-weight: 200;
      font-size: 28px;
    }
    .visibility-stats{
      font-size: 12px;
    }
    .address-container{
      text-align: left;
      .alert-address{
        display:block;
        padding-left: 0;
        font-family: Roboto, sans-serif;
        font-weight: 400;
        text-transform: uppercase;
      }
      .alert-city-state-zip{
        display: block;
        font-family: Roboto, sans-serif;
        font-size: 11px;
        color: black;
      }
    }
    .nav{
      padding-top: 30px;
      a{
        padding: 0 !important;
      }
    }
    .spacer{
      background: #F4F4F4;
      height: 20px;
      border: solid 2px #ccc;
      border-bottom: 0;
      border-top-right-radius: 5px;
      border-top-left-radius: 5px;
    }
    table{
      border: solid 2px #ccc;
      border-radius: 5px;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      border-top: solid 1px #cccccc1f;
    }
    .view-more{
      border: solid 2px #ccc;
      width: 90%;
      display: inline-block;
      text-decoration: none;
      padding: 5px;
      border-radius: 5px;
      font-weight: 600;
      i{
        border: solid 2px $teal;
        border-radius: 50%;
        padding: 1px 3px;
      }
    }
  }
}

/*** End Consumer Alerts ***/