/*** Consumer Dashboard ***/

#ConsumerDashboard{
  * {
    margin: 0;
    padding: 0;
  }

  .address-div{
    min-height: 50px;
  }

  .role-display{
    min-height: 66px;
  }

  .image-container{
    @media screen and (max-width: 520px){
      display: inline-flex;
      width: 100%;
      justify-content: center;
    }
  }

  .recent-transactions-title{
    padding: 20px 20px 0 20px;
    font-size: 30px;
    font-family: Roboto, sans-serif;
    font-weight: 200;
  }

  .scroll-container{
    height: 505px;
    overflow: hidden;
    position: relative;
    .rightArrow{
      right: 15px;
    }
    .scroll-arrow{
      position: absolute;
      height: 100%;
      display: flex;
      align-items: center;
      color: $teal;
      font-size: 25px;
      cursor: pointer;
    }
    .horizontal-scroll{
      overflow-x: scroll;
      overflow-y: hidden;
      height: 525px;
      white-space: nowrap;

    }
  }

  .NoProperty {
    max-width: 1000px;
  }

  .firstRow{
    padding: 20px;
  }

  .PropCol{
    padding: 20px;
    max-height: 472px;
    margin-top: 20px;
    display: inline-block;
  }

  .PropColStyleOne {
    border: 1px solid #B4B4B4;
    border-radius: 6px;
    margin-bottom: 30px;
  }

  .PropHeadingStyleOne {
    font-weight: bold;
    background-color: #126469;
    color: white;
    text-align: center;
    padding: 20px 20px;
  }

  .InformationalSegmentsContainer{
    padding: 20px;
  }

  .NoProperties{
    padding: 20px;
    div{
      &:first-child{
        cursor:pointer;
      }
    }
    p{
      padding: 20px;
      font-size: 15px;
    }
    .AddPropertyLinkContainer{
      padding: 20px;
    }
  }

  .PropAnchorStyleOne {
    color: #3DCDCD !important;
    font-weight: 500;
    text-decoration: none !important;
  }

  .InformationalSegment{
    padding: 1rem 1.5rem;
    margin-top: .5rem;
    &:first-child{
      margin-top: 40px;
    }
    
  }

  .AgentCard{
    height: 472px;
    .PropCard{
      height: 100%;
      .card-body{
        div{
          padding: 20px;
        }
      }
    }
    img{
      height: 158px;
      width: 100%;
    }
  }

  .PropImageStyleOne {
    float: left;
    margin-right: 30px;
  }

  .PropCardImg {
    height: 220px;
    width: 100%;
  }

  .add-property-link{
    color: $teal;
    &:hover{
      text-decoration: underline;
    }
  }

  .close-of-escrow-date{
    padding: 7px 20px;
  }

  .PropDropdownButton {
    background: white;
    padding: 5px 1.5rem;
  }

  .PropDropdownButtonStyleTwo {
    border: 1px solid #D2D2D2 !important;
    color: #21D7D1 !important;
    font-size: 25px !important;
  }

  .PropCard {
    .dropdown-toggle::after {
      display: none;
    }
    border: 1px solid #B4B4B4;
    border-radius: 5px;
  }

  .PropListStyleOne li {
    border-left: 1px solid $teal;
    padding: 0 10px;
  }

  .PropSpanStyleOne {
    color: #CD6564;
    font-weight: 500;
  }

  .PropSpanStyleTwo {
    font-weight: bold;
    font-size: 20px;
  }

  .PropSpanStyleThree {
    display: block;
    text-align: center;
    margin: 10px 0;
  }

  .actions-div{
    ul{
      display: flex;
      justify-content: center;
      padding: 10px;
      font-size: 17px;
      font-weight: 600;
      li{
        &:first-child{
          border: none;
        }
      }
    }
  }

  @media screen and (max-width: 700px) {
    .PropCol {
      padding: 0 !important;
    }
    .PropCardImg {
      max-height: 180px;
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1085px){
    .PropCol {
      width: 100%;
    }
  }
}

/*** End Consumer Dashboard ***/