/*** Consumer Left Nav ***/

#LeftNav{
  overflow-y: scroll;
  max-height: 500px;
  .navbar-collapse{
    padding: 0;
  }
  .sub-item{
    padding-inline-start: 0;
  }

  .address-list-trigger{
    font-size: 13px;
    border: 1px solid white;
    border-radius: 360px;
    width: 20px;
    height: 20px;
    padding-top: 3px;
    text-align: center;
    margin-right: 9px;
  }
  .sidebar {
    margin: 0;
    padding: 0;
    width: 250px;
    background-color: #343a40;
    position: fixed;
    height: 100%;
    overflow: auto;
    button{
      background-color: #343A40;
      color: #8C9194;
      width: 100%;
      height: 40px;
      margin: 0 auto;
      border-radius: 0;
      border: 0;
    }
    a {
      display: block;
      color: #8C9194 !important;
      font-size: 12px;
      background-color: #404B51;
      border-bottom: 1px solid #343A40;
      padding: 11px 23px;
      text-decoration: none;
    }
    .sub-item a {
      font-size: 11px;
      background-color: #343A40;
      border-bottom: none;
      padding: 5px 10px 5px 65px;
      &:hover{
        background-color: #404B51;
        color: #8C9194;
      }
    }
    ul li{
      width: 100%;
      img{
        height: 17px;
        width: 20px;
        margin-right: 10px;
        margin-top: -5px;
      }
    }
  }
  .navbar-toggler{
    display: none;
  }

  @media screen and (max-width: 768px){
    .navbar-toggler{
      display: block;
    }
    .sidebar{
      width: auto;
      position: relative;
    }
  }
  @media screen and (max-width: 518px){
    .sidebar{
      width: auto;
      position: relative;
    }
  }
}

/*** End Consumer Left Nav ***/