<template>
    <div>
        <center>
            <p class="questionnaire-title">{{title}}</p>
            <form class="my-5 pb-1 address">
                <input
                        type="text"
                        name="Street1"
                        ref="autocomplete"
                        autocomplete="off"
                        placeholder="STREET ADDRESS"
                        id="address"
                        class="AnswerChoice"
                        v-model="address"
                ><br>
                <input
                        type="text"
                        name="UnitNumber"
                        placeholder="Unit #"
                        class="InputStyle1 AnswerChoice"
                        v-model="unit"
                >
                <input
                        type="text"
                        name="City"
                        id="locality"
                        placeholder="CITY"
                        class="InputStyle2 AnswerChoice"
                        v-model="locality"
                >
                <input
                        type="text"
                        name="State"
                        id="administrative_area_level_1"
                        placeholder="STATE"
                        class="InputStyle1 AnswerChoice"
                        v-model="administrative_area_level_1"
                >
                <input
                        type="text"
                        name="Zip"
                        id="postal_code"
                        placeholder="ZIP/POSTAL CODE"
                        class="InputStyle2 AnswerChoice"
                        v-model="postal_code"
                >
            </form>
        </center>
    </div>
</template>

<script>
    import has from 'lodash';
    export default {
        components: {
            has,
        },
        name: "AddressSearch",
        props: {
            friendlyIndex: {
                type: String,
                default: null,
            },
            title: {
                type: String,
                default: null,
            },
            answerChoices:{
                type: Array,
                default: () => []
            },
            currentAnswers: {
                type: Object,
                default: () => {},
            },
        },
        methods:{
            checkValidState: _.debounce(function () {
                if (!this.supportedStates.includes(this.administrative_area_level_1))
                {
                    unsupportedStateWarning(this.supportedStates, this.administrative_area_level_1);
                    $('.AnswerChoice').val('');
                }
            }, 500),
        },
        watch: {
            administrative_area_level_1: {
                handler(val){
                    this.checkValidState();
                },
            }
        },
        data(){
            return {
                autocomplete: {},
                componentForm: {
                    street_number: 'short_name',
                    route: 'long_name',
                    locality: 'long_name',
                    administrative_area_level_1: 'short_name',
                    postal_code: 'short_name'
                },
                address: this.currentAnswers['Street1'].Answer || '',
                administrative_area_level_1: this.currentAnswers['State'].Answer || '',
                postal_code: this.currentAnswers['Zip'].Answer || '',
                locality: this.currentAnswers['City'].Answer || '',
                unit: this.currentAnswers['UnitNumber'].Answer || '',
                supportedStates: this.$store.getters.getActiveStates(),
                errorMessages: {
                    Street1: {required : 'Street Address is required.',},
                    City: {required: 'City is required.'},
                    State: {required: 'The state is required.',},
                    Zip: {required: 'Zip code is required.',}
                }
            }
        },
        mounted() {
            let v = this;
            this.autocomplete = new google.maps.places.Autocomplete(
                (this.$refs.autocomplete),
                {types: ['geocode']});

            this.autocomplete.setComponentRestrictions(
                {'country': ['us']},
            );

            this.autocomplete.addListener('place_changed', () => {
                let streetNumberPlusRoute = '';
                let place = this.autocomplete.getPlace();
                let components = place.address_components;
                let state = components.filter(c => c.types.includes('administrative_area_level_1'));
                v.state = state[0].short_name;
                for (var i = 0; i < components.length; i++)
                {
                    var addressType = components[i].types[0];
                    if(addressType !== 'street_number' && addressType !== 'route')
                    {
                        if (this.componentForm[addressType]) {
                            var val = components[i][this.componentForm[addressType]];
                            this[addressType] = val;
                        }
                    }
                    else
                    {
                        if (this.componentForm[addressType]) {
                            var val = components[i][this.componentForm[addressType]];
                            streetNumberPlusRoute += i === 0 ? val + ' ': val;
                        }
                    }
                    this.address = streetNumberPlusRoute;
                }
            });
            this.$parent.$emit('setErrorMessages', this.errorMessages);
        }
    }
</script>

<style scoped>

</style>