<template>
    <div class="col-sm-12">
        <center>
            <div class="form-check">
                <input
                        type="checkbox"
                        class="form-check-input AnswerChoice booleanCheckbox"
                        :id="friendlyIndex"
                        :name="friendlyIndex"
                        :checked="currentAnswers[friendlyIndex].Answer == 1"
                >
                <label class="form-check-label SkipStepStyle" :for="friendlyIndex">
                    {{title}}
                </label>
            </div>
        </center>
    </div>
</template>

<script>
    import QuestionTitle from "../../QuestionTitle";
    export default {
        name: "BooleanCheckbox",
        components: {
            QuestionTitle
        },
        props: {
            friendlyIndex: {
                type: String,
                default: null,
            },
            title: {
                type: String,
                default: null,
            },
            answerChoices:{
                type: Array,
                default: () => []
            },
            currentAnswers: {
                type: Object,
                default: () => {},
            },
        },
        mounted() {

        }
    }
</script>

<style scoped>

</style>