<template>
    <div>
        <center>
            <question-title :title="title"></question-title>
            <div class="ButtonStyleOne">
                <div v-for="answer in answerChoices">
                    <input
                            type="checkbox"
                            :value="answer.value"
                            :checked="processedAnswers.includes(answer.value)"
                            v-model="CheckedItems"
                    >
                    <input :name="friendlyIndex" type="hidden" :value="CheckedItemsValue" class="AnswerChoice">
                    <br>
                    <label :for="answer.FriendlyIndex">{{answer.display}}</label>
                </div>
            </div>
        </center>
    </div>
</template>

<script>
    import QuestionTitle from "../../QuestionTitle";
    export default {
        name: "Checkbox",
        components: {
            QuestionTitle
        },
        computed: {
            CheckedItemsValue(){
                return this.CheckedItems.join(',')
            },
        },
        data(){
            return {
                processedAnswers: [],
                CheckedItems: [],
            }
        },
        props: {
            friendlyIndex: {
                type: String,
                default: null,
            },
            title: {
                type: String,
                default: null,
            },
            answerChoices:{
                type: Array,
                default: () => []
            },
            currentAnswers: {
                type: Object,
                default: () => {},
            },
        },
        mounted() {
            if (this.currentAnswers[this.friendlyIndex].Answer)
                this.processedAnswers = this.currentAnswers[this.friendlyIndex]['Answer'].split(',');
        }
    }
</script>

<style scoped>

</style>