<template>
    <div>
        <center>
            <p class="questionnaire-title">{{title}}</p>
            <form class="pt-5 pb-4 mb-5 BuyerSellerAgentInfo">
                <input
                        type="text"
                        :name="friendlyIndex"
                        class="AnswerChoice"
                        placeholder="$"
                        v-model="answer"
                        >
            </form>
        </center>
    </div>
</template>

<script>
    export default {
        name: "CurrencyInput",
        components: {

        },
        props: {
            friendlyIndex: {
                type: String,
                default: null,
            },
            title: {
                type: String,
                default: null,
            },
            answerChoices:{
                type: Array,
                default: () => []
            },
            currentAnswers: {
                type: Object,
                default: () => {},
            },
            required: {
                type: String,
                default: '',
            },
        },
        watch: {
            answer: {
                handler(val){
                    const min = 1000;
                    let min_msg = 'The minimum amount is $1,000.';
                    const max = 100000000;
                    let max_msg = 'The maximum amount is $100,000,000';
                    val = val.toString().replace(/[^0-9]/g, '');
                    val = parseInt(val);
                    if (val < min) this.errors.push(min_msg);
                    else this.errors = removeFromArray(this.errors, min_msg);
                    if (val > max) this.errors.push(max_msg);
                    else this.errors = removeFromArray(this.errors, max_msg);
                    this.answer = currencyFormat(val.toString());
                },
            },
            errors: {
                handler(val){
                    val = uniqueValueArray(val);
                    this.$root.$emit('__addErrors', val);
                },
                deep: true,
            },
        },
        data(){
            return{
                errorMessages: {},
                errors: [],
                answer: this.currentAnswers[this.friendlyIndex].Answer || '',
            }
        },
        mounted() {
            this.errorMessages[this.friendlyIndex] = {required: this.required || 'Please enter an amount.',};
            this.$parent.$emit('setErrorMessages', this.errorMessages);
        }
    }
</script>

<style scoped>

</style>