<template>
    <div>
        <center>
            <p class="questionnaire-title">{{title}}</p>
            <form class="py-4 mb-2 EscrowDateStyle">
                <input
                        readonly
                        placeholder="MM/DD/YYYY"
                        type="text"
                        id="date"
                        v-model="date"
                >
            </form>
            <input type="hidden" class="AnswerChoice" :name="friendlyIndex" :value="formattedDate">
        </center>
    </div>
</template>

<script>
    export default {
        name: "DateInput",
        components: {

        },
        props: {
            friendlyIndex: {
                type: String,
                default: null,
            },
            title: {
                type: String,
                default: null,
            },
            answerChoices:{
                type: Array,
                default: () => []
            },
            currentAnswers: {
                type: Object,
                default: () => {},
            },
        },
        computed: {
            formattedDate(){
                if (this.date) return moment(this.date, 'MM/DD/YYYY').format('YYYY-MM-DD');
            }
        },
        data(){
            return {
                date: '',
                errorMessages: {},
            }
        },
        mounted() {
            let v = this;
            this.errorMessages[this.friendlyIndex] = {required: this.required || 'Please select a date.'};
            $('#date').datepicker({
                onSelect: function() {
                    let dateObject = $(this).datepicker('getDate');
                    v.date = moment(dateObject).format('MM/DD/YYYY');
                }
            });
            let oldValue = this.currentAnswers[this.friendlyIndex].Answer;
            if (oldValue) this.date = moment(oldValue, 'YYYY-MM-DD').format('MM/DD/YYYY');
            this.$parent.$emit('setErrorMessages', this.errorMessages);
        }
    }
</script>

<style scoped>

</style>