<template>
    <form style="max-width: 304px;">
        <div class="row">
            <div class="col-xs-12 col-sm-6 form-group">
                <p class="display-4 p2">{{title}}</p>
            </div>
            <div class="col-xs-12 col-sm-2 form-group">
                <input v-model="length" class="form-control" type="text">
            </div>
            <div class="col-xs-12 col-sm-4 form-group">
                <button
                        id="lengthDropdown"
                        type="button"
                        class="form-control dropdown-toggle"
                        data-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false"
                >
                    {{rentBackTimeDisplay}}
                    <div id="lengthTypeDropdown" class="form-group dropdown-menu" aria-labelledby="lengthDropdown">
                        <ul>
                            <li v-on:click="lengthType = 'd'">Days</li>
                            <li v-on:click="lengthType = 'm'">Months</li>
                            <li v-on:click="lengthType = 'y'">Years</li>
                        </ul>
                    </div>
                </button>
                <div class="icon-container">
                    <span><i class="fas fa-chevron-down"></i></span>
                </div>
            </div>
        </div>
        <input v-model="val" type="hidden" id="answer" class="AnswerChoice" :name="friendlyIndex">
    </form>
</template>

<script>
    export default {
        name: "HowLongQuestion",
        components: {

        },
        props: {
            currentAnswers: {
                type: Object,
                default: () => {},
            },
            friendlyIndex: {
                type: String,
                default: null,
            },
            title: {
                type: String,
                default: null,
            },
            answerChoices:{
                type: Array,
                default: () => []
            },
        },
        watch: {
            length: {
                handler(val){
                    let value;
                    if (isNaN(Number(val)) || Number(val) <= 0)
                    {
                        this.length = this.minVal;
                    }

                    if (val)
                    {
                        value = val+this.lengthType;
                    }
                    else
                    {
                        value = this.minVal+this.lengthType;
                    }
                    this.val = value;
                }
            },
            lengthType: {
                handler(val){
                    this.val = this.length+val;
                },
            }
        },
        computed: {
            rentBackTimeDisplay(){
                switch(this.lengthType)
                {
                    case 'd':
                        return 'Days';
                    case 'm':
                        return 'Months';
                    case 'y':
                        return 'Years';
                    default:
                        return '';
                }
            }
        },
        data(){
            return {
                length: '',
                lengthType: 'd',
                val: '0',
                minVal: '1',
            }
        },
        methods: {

        },
        mounted() {
            let oldValue = this.currentAnswers[this.friendlyIndex].Answer;
            if (oldValue)
            {
                this.lengthType = oldValue[oldValue.length - 1];
                this.length = oldValue.slice(0, oldValue.length - 1);
            }
            if (!this.length) this.length = this.minVal;
        }
    }
</script>

<style scoped>

</style>