<template>
    <div>
        <center>
            <question-title :title="title"></question-title>
            <button
                    v-for="answer in answerChoices"
                    :class="{'btn teal-background white-text question-response-button':answer.value == radioValue,
                        'btn question-response-button':answer.value != radioValue}"
                    v-on:click="assignVal(answer.value)"

            >
                <span class="ButtonStyleOneText">{{answer.display}}</span>
            </button>
            <input
                    type="hidden"
                    class="AnswerChoice"
                    :name="friendlyIndex"
                    v-model="radioValue"
            >
        </center>
    </div>
</template>

<script>
    import QuestionTitle  from "../../QuestionTitle";
    export default {
        name: "NoImgRadio",
        components: {
            QuestionTitle,
        },
        computed: {

        },
        props: {
            friendlyIndex: {
                type: String,
                default: null,
            },
            title: {
                type: String,
                default: null,
            },
            answerChoices:{
                type: Array,
                default: () => []
            },
            currentAnswers: {
                type: Object,
                default: () => {},
            },
            required: {
                type: String,
                default: '',
            }
        },
        watch: {
            radioValue: {
                handler(val, oldVal){
                    if (val) this.$parent.processAutoAdvance();
                }
            }
        },
        data(){
            return {
                radioValue: this.currentAnswers[this.friendlyIndex].Answer || '',
                errorMessages: {},
            }
        },
        methods: {
            assignVal(val){
                if (val == this.radioValue)
                {
                    val = '';
                    this.radioValue = val;
                }
                if (val) this.radioValue = val;
            },
        },
        mounted() {
            this.errorMessages[this.friendlyIndex] = {required: this.required || 'Please select an option.',};
            this.$parent.$emit('setErrorMessages', this.errorMessages);
        }
    }
</script>

<style scoped>

</style>