<template>
    <div>
        <center>
            <question-title :title="title"></question-title>
            <form class="my-4 pb-3 BuyerSellerAgentInfo">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <input
                                id="phone"
                                class="AnswerChoice"
                                type="text"
                                :name="friendlyIndex"
                                :value="currentAnswers[friendlyIndex].Answer"
                                maxlength="14"
                        >
                    </div>
                </div>
            </form>
        </center>
    </div>
</template>

<script>
    import QuestionTitle from "../../QuestionTitle";
    export default {
        name: "PhoneInput",
        components: {
            QuestionTitle
        },
        props: {
            friendlyIndex: {
                type: String,
                default: null,
            },
            title: {
                type: String,
                default: null,
            },
            answerChoices:{
                type: Array,
                default: () => []
            },
            currentAnswers: {
                type: Object,
                default: () => {},
            },
            errorMsg: {
                type: String,
                default: '',
            }
        },
        data(){
            return {
                errorMessages: {},
            }
        },
        mounted() {
            $('#phone').mask('(###)-###-####');
            this.errorMessages[this.friendlyIndex] = {required:  this.errorMsg || 'Phone number is required. '};
            this.$parent.$emit('setErrorMessages', this.errorMessages);
        }
    }
</script>

<style scoped>

</style>