<template>
    <div>
        <center>
            <question-title :title="title"></question-title>
            <a class="ButtonStyleOne">
                <button
                        :class="{'btn light-blue-background':answer.value == radioValue,
                        'btn':answer.value != radioValue}"
                        v-for="answer in answerChoices"
                        v-on:click="assignVal(answer.value)"
                >
                    <img v-if="answer.imgURL" :src="answer.imgURL">
                    <br>
                    <span class="ButtonStyleOneText">{{answer.display}}</span>
                </button>
                <input
                        type="hidden"
                        :name="friendlyIndex"
                        v-model="radioValue"
                        class="AnswerChoice"
                >
            </a>
        </center>
    </div>
</template>

<script>
    import QuestionTitle from "../../QuestionTitle";
    export default {
        name: "Radio",
        components: {
            QuestionTitle
        },
        props: {
            friendlyIndex: {
                type: String,
                default: null,
            },
            title: {
                type: String,
                default: null,
            },
            answerChoices:{
                type: Array,
                default: () => []
            },
            currentAnswers: {
                type: Object,
                default: () => {},
            },
            required: {
                type: String,
                default: '',
            }
        },
        watch: {
            radioValue: {
                handler(val, oldVal){
                    if (val) this.$parent.processAutoAdvance();
                }
            }
        },
        data(){
            return {
                radioValue: this.currentAnswers[this.friendlyIndex].Answer || '',
                errorMessages: {},
            }
        },
        methods: {
            assignVal(val){
                if (val == this.radioValue)
                {
                    val = '';
                    this.radioValue = val;
                }
                if (val) this.radioValue = val;
            },
        },
        mounted() {
            this.errorMessages[this.friendlyIndex] = {required: this.required || 'Please select an option.',};
            this.$parent.$emit('setErrorMessages', this.errorMessages);
        }
    }
</script>

<style scoped>

</style>