<template>
    <div>
        <center>
            <p class="questionnaire-title">{{title}}</p>
        </center>
        <ul class="ListStyleOne">
            <a v-on:click.prevent="selectAnswer(choice.value)" href="#" v-for="(choice,i) in answerChoices" class="openSelectChoice">
                <li v-bind:class="{'active':answer == choice.value}">{{choice.display}}</li>
            </a>
        </ul>
        <input
                type="hidden"
                class="AnswerChoice"
                :name="friendlyIndex"
                v-model="answer"
        >
    </div>
</template>

<script>
    export default {
        name: "SelectInputOpen",
        components: {

        },
        props: {
            friendlyIndex: {
                type: String,
                default: null,
            },
            title: {
                type: String,
                default: null,
            },
            answerChoices:{
                type: Array,
                default: () => []
            },
            currentAnswers: {
                type: Object,
                default: () => {},
            },
        },
        watch: {
            answer: {
                handler(val){
                    if (val) this.$parent.processAutoAdvance();
                },
            }
        },
        data(){
            return {
                answer: this.currentAnswers[this.friendlyIndex].Answer || '',
                errorMessages: {}
            }
        },
        methods: {
            selectAnswer(val){
                if (val == this.answer) val = this.answer = '';
                else if (val) this.answer = val;
            },
        },
        mounted() {
            this.errorMessages[this.friendlyIndex] = {required: this.required || 'Please make a selection.'};
            this.$parent.$emit('setErrorMessages', this.errorMessages);
        }
    }
</script>

<style scoped>

</style>