<template>
    <div>
        <center>
            <question-title :title="title"></question-title>
            <center>
                <select class="SelectStyleOne AnswerChoice" :name="friendlyIndex">
                    <option
                            v-for="answer in answerChoices"
                            :value="answer.value"
                            :selected="currentAnswers[friendlyIndex].Answer == answer.value"
                    >
                        {{answer.display}}
                    </option>
                </select>
            </center>
        </center>
    </div>
</template>

<script>
    import QuestionTitle from "../../QuestionTitle";
    export default {
        name: "SelectInput",
        components: {
            QuestionTitle
        },
        props: {
            friendlyIndex: {
                type: String,
                default: null,
            },
            title: {
                type: String,
                default: null,
            },
            answerChoices:{
                type: Array,
                default: () => []
            },
            currentAnswers: {
                type: Object,
                default: () => {},
            },
            errorMsg: {
                type: String,
                default: '',
            }
        },
        data(){
            return {
                errorMessages: {},
            }
        },
        mounted() {
            this.errorMessages[this.friendlyIndex] = {required: this.errorMsg || 'Please make a selection.'};
            this.$parent.$emit('setErrorMessages', this.errorMessages);
        }
    }
</script>

<style scoped>

</style>