<template>
    <div>
        <div>
            <center>
                <question-title v-if="title != ''" :title="title"></question-title>
            </center>
        </div>
        <div>
            <center>
                <form class="my-4 pb-3 BuyerSellerAgentInfo">
                    <div v-if="activateNA === '1'" class="clickable-text-container">
                        <span v-on:click="notApplicable()">Not Applicable</span>
                    </div>
                    <div class="form-group col-md-12">
                        <textarea
                                class="form-control AnswerChoice"
                                :name="friendlyIndex"
                                v-model="val"
                        ></textarea>
                    </div>
                </form>
            </center>
        </div>
    </div>
</template>

<script>
    import QuestionTitle from "../../QuestionTitle";
    export default {
        name: "TextAreaInput",
        components: {
            QuestionTitle
        },
        props: {
            friendlyIndex: {
                type: String,
                default: null,
            },
            title: {
                type: String,
                default: null,
            },
            answerChoices: {
                type: Array,
                default: () => []
            },
            currentAnswers: {
                type: Object,
                default: () => {},
            },
            errorMsg: {
                type: String,
                default: '',
            },
            activateNA:{
                type: String,
                default: '0',
            },
        },
        methods: {
            notApplicable(){
                this.val = 'N/A';
                let v = this;
                setTimeout(() => {
                    v.$root.$emit('next');
                }, 250);
            },
        },
        data(){
            return {
                val: this.currentAnswers[this.friendlyIndex].Answer || '',
                errorMessages: {},
            }
        },
        mounted() {
            this.errorMessages[this.friendlyIndex] = {required: this.errorMsg || 'This field is required.'};
            this.$parent.$emit('setErrorMessages', this.errorMessages);
        }
    }
</script>

<style scoped>

</style>