<template>
    <div>
        <div>
            <center>
                <question-title v-if="title != ''" :title="title"></question-title>
            </center>
        </div>
        <div>
            <center>
                <form class="my-4 pb-3 BuyerSellerAgentInfo">
                    <div class="form-group col-md-6">
                        <input
                                class="AnswerChoice"
                                type="text"
                                :name="friendlyIndex"
                                :value="currentAnswers[friendlyIndex].Answer || ''"
                        >
                    </div>
                </form>
            </center>
        </div>
    </div>
</template>

<script>
    import QuestionTitle from "../../QuestionTitle";
    export default {
        name: "TextInput",
        components: {
            QuestionTitle
        },
        props: {
            friendlyIndex: {
                type: String,
                default: null,
            },
            title: {
                type: String,
                default: null,
            },
            answerChoices: {
                type: Array,
                default: () => []
            },
            currentAnswers: {
                type: Object,
                default: () => {},
            },
            errorMsg: {
                type: String,
                default: '',
            }
        },
        data(){
            return {
                errorMessages: {}
            }
        },
        mounted() {
            this.errorMessages[this.friendlyIndex] = {required: this.errorMsg || 'This field is required.'};
            this.$parent.$emit('setErrorMessages', this.errorMessages);
        }
    }
</script>

<style scoped>

</style>