<template>
    <div>
        <h4 class="reports-main-heading">{{questionnaireTitle}}</h4>
        <a href="" id="help"><i class="far fa-question-circle"></i></a>
        <h5 class="question">{{title}}</h5>
        <center>
            <a href="#/" class="ButtonStyleOne ButtonStyleTwo">
                <input
                        class="btn AnswerChoice"
                        type="radio"
                        :name="friendlyIndex"
                        value="yes"
                        :checked="currentAnswers[friendlyIndex].Answer == 'yes'"
                >
                <img src="images/icon-thumbsup.png">
                <label>Yes</label>
            </a>
            <a href="#/" class=" ButtonStyleOne ButtonStyleTwo">
                <input
                        class="btn AnswerChoice"
                        type="radio"
                        :name="friendlyIndex"
                        value="no"
                        :checked="currentAnswers[friendlyIndex].Answer == 'no'"
                >
                <img src="images/icon-thumbsdown.png">
                <label>No</label>
            </a>
            <a href="#/" class=" ButtonStyleOne ButtonStyleTwo">
                <input
                        class="btn border AnswerChoice"
                        type="radio"
                        :name="friendlyIndex"
                        value="da"
                        :checked="currentAnswers[friendlyIndex].Answer == 'da'"
                >
                <label>Doesn't<br> Apply</label>
            </a>
            <br>
            <a href="#/" class="report-anchor-style-one">
                <input
                        class="AnswerChoice"
                        type="radio"
                        :name="friendlyIndex"
                        value="dk"
                        :checked="currentAnswers[friendlyIndex].Answer == 'dk'"
                >
                <label>I don't know</label>
            </a>
        </center>
    </div>
</template>

<script>
    export default {
        name: "",
        components: {

        },
        computed: {

        },
        props: {
            friendlyIndex: {
                type: String,
                default: null,
            },
            title: {
                type: String,
                default: null,
            },
            answerChoices:{
                type: Array,
                default: () => []
            },
            currentAnswers: {
                type: Object,
                default: () => {},
            },
            questionnaireTitle: {
                type: String,
                default: null,
            },
        },
        data(){
            return {

            }
        },
        methods: {

        },
        mounted() {

        }
    }
</script>

<style scoped>

</style>