<template>
    <div v-on:click="changeAccessActions"
         v-bind:data-sum="sum"
         v-bind:data-perms="perms" class="permissionTD">
        <p v-bind:class="classTD"> {{formattedText}} </p>
    </div>
</template>

<script>
    export default {
        props: [
            'accessActions',
            'accessRoles',
            'route',
            'passed_token',
            'editMode',
            'sumProp',
            'permString',
            'passedRole',
            'passedDescription',
            'passedID',
            'passedTable',
            'passedText',
        ],
        computed:{
            formattedText: function () {
                if(this.text !== '-')
                {
                    return this.text.replace(/\//g, ' ');
                }
                return this.text;
            },
        },
        data(){
            return{
                text: this.passedText,
                access_levels_route: '',
                access_route: '',
                sum: this.sumProp,
                perms: this.permString,
                accessActionsArray: this.accessActions,
                accessRolesArray: this.accessRoles,
                token: '',
                el: null,
                role: this.passedRole,
                description: this.passedDescription,
                id: this.passedID,
                classTD: 'normalTD',
                selectedTable: this.passedTable,
            }
        },
        watch: {
            passedID:{
                handler(val){
                    this.id = val;
                },
            },
            passedTable:{
                handler(val){
                    this.selectedTable = val;
                },
            },
            passedDescription:{
                handler(val){
                    this.description = val;
                },
            },
            passedRole:{
                handler(val){
                    this.role = val;
                },
            },
            permString:{
                handler(val){
                    this.perms = val;
                },
            },
            sumProp:{
                handler(val){
                    this.sum = val;
                },
            },
            passedText:{
                handler(val){
                    this.text = val;
                },
            },
        },
        methods: {
            changeAccessActions(event){
                if(this.access_levels_route === null){
                    Swal2({
                        text: 'Feature to add missing defaults still in development.',
                        confirmButtonText: 'I understand',
                        type: 'warning',
                        allowOutsideClick: () => !Swal2.isLoading()
                    });
                    return false;
                }
                var accessRoles = this.accessRolesArray;
                var accessActions = this.accessActionsArray;
                var title;
                var accessArray;

                let accessRules = {
                    r    : 'Read Only',
                    u    : 'Upload Only',
                    ru   : 'Read and Upload',
                    reu  : 'Read, Edit, and Upload',
                    resu : 'Read, Edit, Sign, and Upload',
                    rsu  : 'Read, Sign, and Upload',
                    reuo : 'Own (includes all other permissions except for Sign)',
                    resuo: 'Own and Sign',
                };

                let displays = {
                    r: 'Read Document',
                    e: 'Edit and Read Document',
                    s: 'Sign Document',
                    u: 'Upload New Versions of the Document',
                    o: 'Owner/Approver of Document',
                };

                switch (this.selectedTable)
                {
                    case 'DocumentAccessDefaults':
                        title = 'Edit Permissions';
                        accessArray = accessActions;
                        break;
                    case 'DocumentTransferDefaults':
                        title = 'Edit Transfers';
                        accessRules = false;
                        accessArray = accessRoles;
                        displays = {
                            btc:    'Buyer\'s Transaction Coordinator',
                            ba:     'Buyer\'s Agent',
                            b:      'Buyers',
                            stc:    'Seller\'s Transaction Coordinator',
                            sa:     'Seller\'s Agent',
                            s:      'Sellers',
                            e:      'Escrow Agent',
                            t:      'Title Agent',
                            l:      'Loan Agent',
                        };
                        break;
                    case 'lk_TransactionsDocumentAccess':
                        title = 'Edit Permissions';
                        accessArray = accessActions;
                        break;
                    case 'lk_TransactionsDocumentTransfers':
                        title = 'Edit Transfers';
                        accessRules = false;
                        accessArray = accessRoles;
                        displays = {
                            btc:    'Buyer\'s Transaction Coordinator',
                            ba:     'Buyer\'s Agent',
                            b:      'Buyers',
                            stc:    'Seller\'s Transaction Coordinator',
                            sa:     'Seller\'s Agent',
                            s:      'Sellers',
                            e:      'Escrow Agent',
                            t:      'Title Agent',
                            l:      'Loan Agent',
                        };
                        break;
                }
                this.el = event.target.offsetParent;
                var html = '<h3>'+this.description+'</h3>' +
                    '<h4>'+accessRoles[this.role].display+'</h4>' +
                    '<form id="permissions_form">' +
                    '<div>' +
                    '   <button id="clearAll" type="button">Clear All</button>' +
                    '   <button id="checkAll" type="button">Check All</button>' +
                    '</div>';

                var permissionObject = {
                    r: false,
                    e: false,
                    s: false,
                    u: false,
                    o: false,
                };
                var perms = this.perms.split('/');
                if(perms !== undefined && perms !== null)
                {
                    for(var i = 0; i < perms.length; i++)
                        if(perms.length > 0) permissionObject[perms[i].toLowerCase()] = true;
                }
                let vueObject = this;
                $.each(accessArray, function(key,obj){
                    let id = obj.value+vueObject.id;
                    if(permissionObject[key] === true){
                        html += '<div id="'+id+'">' +
                            '    <label for="'+obj.value+'">'+displays[obj.value]+'</label>\n'+
                            '    <input type="checkbox" name="'+obj.value+'" value="'+obj.valueInt+'" checked><br>' +
                            '    </div>';
                    }
                    else
                    {
                        html += '<div id="'+id+'">' +
                            '    <label for="'+obj.value+'">'+displays[obj.value]+'</label>\n'+
                            '    <input type="checkbox" name="'+obj.value+'" value="'+obj.valueInt+'"><br>' +
                            '    </div>';
                    }

                });
                permissionObject = [];
                html += '</form>';

                if (this.editMode) {
                    let accessModal     = accessModalLogic.bind(this);
                    function accessModalLogic()
                    {
                        let sum             = 0;
                        let allowed         = -1;
                        let accessString    = '';
                        Swal2({
                            title: title,
                            html: html,
                            type: 'info',
                            inputAttributes: {
                                autocapitalize: 'off'
                            },
                            showCancelButton: true,
                            confirmButtonText: 'Save',
                            showLoaderOnConfirm: true,
                            onBeforeOpen: () => {

                                const content = Swal2.getContent();
                                const $s = content.querySelector.bind(content);
                                let checkAll = $s('#checkAll');
                                let clearAll = $s('#clearAll');
                                checkAll.addEventListener('click', function () {
                                    $.each(displays, function (i, obj)
                                    {
                                        if (i !== 'o')
                                        {
                                            $s('#' + i + vueObject.id + ' input').checked = true;
                                        }
                                    });
                                });
                                clearAll.addEventListener('click', function () {
                                    $.each(displays, function (i, obj)
                                    {
                                        $s('#' + i + vueObject.id + ' input').checked = false;
                                    });
                                });

                                if (this.selectedTable === 'DocumentAccessDefaults' ||
                                    this.selectedTable === 'lk_TransactionsDocumentAccess')
                                {
                                    let readContainer = $s('#r' + vueObject.id);
                                    let read = $s('#r' + vueObject.id + ' input');
                                    let editContainer = $s('#e' + vueObject.id);
                                    let edit = $s('#e' + vueObject.id + ' input');
                                    let signContainer = $s('#s' + vueObject.id);
                                    let sign = $s('#s' + vueObject.id + ' input');
                                    let uploadContainer = $s('#u' + vueObject.id);
                                    let upload = $s('#u' + vueObject.id + ' input');
                                    let ownContainer = $s('#o' + vueObject.id);
                                    let own = $s('#o' + vueObject.id + ' input');

                                    $('#o' + vueObject.id).hide();

                                    read.addEventListener('click', function (e) {
                                        if (!read.checked) {
                                            $.each(displays, function (i, obj) {
                                                if (i !== read.name) {
                                                    if ($s('#' + i + vueObject.id + ' input').checked && i !== upload.name) {
                                                        read.checked = true;
                                                    }
                                                }
                                            });
                                        }
                                    });
                                    edit.addEventListener('click', function () {
                                        if (edit.checked) {
                                            $s('#r' + vueObject.id + ' input').checked = true;
                                            $s('#u' + vueObject.id + ' input').checked = true;
                                        }
                                    });
                                    sign.addEventListener('click', function () {
                                        if (sign.checked) {
                                            $s('#r' + vueObject.id + ' input').checked = true;
                                            $s('#u' + vueObject.id + ' input').checked = true;
                                        }
                                    });
                                    upload.addEventListener('click', function () {
                                        if (upload.checked) {
                                            $.each(displays, function (i, obj) {
                                                if (i !== upload.name && i !== read.name) {
                                                    $s('#' + i + vueObject.id + ' input').checked = false;
                                                }
                                            });
                                        }
                                        else {
                                            $.each(displays, function (i, obj) {
                                                if (i !== upload.name) {
                                                    if ($s('#' + i + vueObject.id + ' input').checked && i !== read.name) {
                                                        upload.checked = true;
                                                    }
                                                }
                                            });
                                        }
                                    });
                                    own.addEventListener('click', function () {
                                        if (own.checked) {
                                            $s('#r' + vueObject.id + ' input').checked = true;
                                            $s('#e' + vueObject.id + ' input').checked = true;
                                            $s('#u' + vueObject.id + ' input').checked = true;
                                        }
                                    });
                                }
                            },
                            preConfirm: (value) => {
                                let formData = $('#permissions_form').serializeArray();
                                $.each(formData, function (i, obj) {
                                    accessString += obj.name;
                                    sum += parseInt(obj.value);
                                });
                                allowed = accessRules ? accessRules[accessString] || -1 : 1;
                                if (sum === 0) allowed = 1;
                            },//end pre-confirm
                            allowOutsideClick: () => !Swal2.isLoading()
                        }).then((userChoice) => {
                            if(!userChoice.dismiss)
                            {
                                if(allowed === -1)
                                {
                                    let errorHTML = '<div style="text-align:left;">' +
                                                    'That access combination is not permitted.' +
                                                    'The following access combinations are allowed: <br>' +
                                                    '<ul style="list-style: none;">';
                                    $.each(accessRules, (i, obj) => {
                                        errorHTML += '<li style="font-weight: bold;">'+obj+'</li>';
                                    });
                                    errorHTML += '</ul></div>';
                                    Swal2({
                                        title: 'Forbidden',
                                        html: errorHTML,
                                        type: 'warning',
                                    }).then(() => {
                                        accessModal();
                                    });
                                }
                                else
                                {
                                    axios.post(this.access_levels_route, {
                                        ID: this.id,
                                        sum: sum,
                                        _table: this.selectedTable,
                                    }).then(function (response) {
                                        if(response.data.status === 'success')
                                        {
                                            this.sum = response.data.sum;
                                            this.text = response.data.text.toUpperCase();
                                            this.perms = this.text;
                                            if(this.text === '') this.text = '-';
                                            Swal2({
                                                toast: true,
                                                title: 'Data Saved Successfully!',
                                                type: 'success',
                                                width: 200,
                                                position: 'center',
                                                showConfirmButton: false,
                                                timer: 2000,
                                            });
                                        }
                                        else
                                        {
                                            console.log(response.data.message);
                                            console.log('This may mean that the value is the same.');
                                        }
                                    }.bind(this));
                                }
                            }
                        }); //end of Swal2
                    } //end of accessModalLogic
                    accessModal();
                }//end of if this edit mode
            },
        },
        mounted()
        {
            this.access_levels_route    = this.route;
            this.accessActionsArray     = this.accessActions;
            this.accessRolesArray       = this.accessRoles;
            this.token                  = this.passed_token;
            if(this.access_levels_route === null){
                this.text = '-';
                this.classTD = 'warningClass';
            }
        }
    }

</script>

<style scoped>
    .permissionTD{
        width: 100%;
        height: 100%;
    }
    .permissionTD:hover{
        cursor: pointer;
    }
    .permissionTD p{
        padding: 10px;
    }
    .warningClass{
        color: white;
        background: darkred;
    }

    .hidden-form{
        display: none;
    }
</style>