<template>
    <div class="container-fluid" id="ConsumerAlerts">
        <div v-if="consumer && fetchedAlerts && windowWidth > 600" class="container consumer-alerts px-0">
            <div class="row">
                <div class="col-sm-12">
                    <div class="nav float-lg-right">
                        <a v-on:click.prevent="markAlertsAsRead(alerts)" href="#" class="alert-action-style-one">MARK ALL AS READ</a>
                        <a href="#\" class="alert-action-style-one">&nbsp&nbsp|&nbsp&nbsp</a>
                        <a v-on:click.prevent="clearAlerts(alerts)" href="#" class="alert-action-style-one">CLEAR ALL</a>
                    </div>
                    <h5 style="padding-bottom: 20px;">YOUR NOTIFICATIONS</h5>

                    <div class="table-box">
                        <table class="table bg-white mt-4">
                            <tbody>
                            <tr v-for="alert in visibleAlerts" class="alert-row">
                                <td v-on:click="viewTimeline(alert)">
                                    <i v-if="!alert['dateRead']" class="fas fa-circle unread-icon"></i>
                                    <a href="#" class="alert-address">{{alert['address']}}</a>
                                </td>
                                <td v-on:click="viewTimeline(alert)" class="alert-description">{{alert['description']}} <strong>{{alert['status']}}</strong></td>
                                <td><span class="notification-date">{{alertDate(alert['dueDate'])}}</span></td>
                                <td v-if="!alert['dateRead']"><a v-on:click.prevent="markAlertsAsRead([alert])" href="#" class="alert-action-style-two mark-as-read">Mark as Read</a></td>
                                <td v-else><a href="#" class="alert-action-style-two mark-as-read no-border"></a></td>
                                <td><a v-on:click.prevent="clearAlerts([alert])" href="#" class="alert-action-style-two pr-3 clear-alert">Clear</a></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <center style="margin-top: 20px;">
                        <a v-on:click.prevent="limit = 0" href="#" class="alert-action-style-one view-more">VIEW ALL</a>
                    </center>
                </div>
            </div>
        </div>
        <div v-else-if="(agent || tc) && fetchedAlerts && windowWidth > 600" class="container consumer-alerts px-0" id="agent-view">
            <div class="row">
                <div class="col-sm-12">
                    <div class="nav float-lg-right">
                        <a v-on:click.prevent="markAlertsAsRead(alerts)" href="#" class="alert-action-style-one">MARK ALL AS READ</a>
                        <a href="#\" class="alert-action-style-one">&nbsp&nbsp|&nbsp&nbsp</a>
                        <a v-on:click.prevent="clearAlerts(alerts)" href="#" class="alert-action-style-one">CLEAR ALL</a>
                    </div>
                    <h5 style="padding-bottom: 20px;">Notifications</h5>
                    <div class="table-box">
                        <div class="spacer">

                        </div>
                        <table class="table bg-white mt-4">
                            <tbody>
                            <tr v-for="alert in visibleAlerts" class="alert-row">
                                <td><i v-if="!alert['dateRead']" class="fas fa-circle unread-icon"></i></td>
                                <td v-on:click="viewTimeline(alert)">
                                    <div class="address-container">
                                        <a href="#" class="alert-address">{{alert['property']['Street1']+' '+alert['property']['Street2']}}</a>
                                        <a href="#" class="alert-city-state-zip">{{alert['property']['City']+', '+alert['property']['State']+' '+alert['property']['Zip']}}</a>
                                    </div>
                                </td>
                                <td v-on:click="viewTimeline(alert)" class="alert-description">{{alert['description']}}</td>
                                <td><span class="notification-date">{{alertDate(alert['dueDate'])}}</span></td>
                                <td v-if="!alert['dateRead']"><a v-on:click.prevent="markAlertsAsRead([alert])" href="#" class="alert-action-style-two mark-as-read">Mark as Read</a></td>
                                <td v-else><a href="#" class="alert-action-style-two mark-as-read no-border"></a></td>
                                <td><a v-on:click.prevent="clearAlerts([alert])" href="#" class="alert-action-style-two pr-3 clear-alert">Clear</a></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <center style="margin-top: 20px;">
                        <a v-if="visibleAlerts.length < alerts.length" v-on:click.prevent="limit = limit + 10" href="#" class="alert-action-style-one view-more">
                            <i class="fas fa-chevron-down"></i>
                            VIEW MORE NOTIFICATIONS
                        </a>
                    </center>
                    <center>
                        <span class="visibility-stats" v-if="visibleAlerts.length > 0">Showing 1 to {{visibleAlerts.length}} of {{alerts.length}} Notifications</span>
                    </center>
                </div>
            </div>
        </div>
        <div v-else class="container consumer-alerts px-0">
            <div class="row">
                <div class="col-sm-12">
                    <h5 style="color:black;padding-bottom: 20px; font-size: 35px;font-weight: 200;font-family: Roboto, sans-serif;">Notifications</h5>
                    <div class="nav" style="float:none;margin-bottom: 20px;">
                        <a style="display: block; margin-bottom: 10px;" v-on:click.prevent="markAlertsAsRead(alerts)" href="#" class="alert-action-style-one">MARK ALL AS READ </a>
                        <a style="display:block;" v-on:click.prevent="clearAlerts(alerts)" href="#" class="alert-action-style-one"> CLEAR ALL</a>
                    </div>
                    <div class="table-box">
                        <div class="spacer">

                        </div>
                        <div class="bg-white mt-4">
                            <div v-for="alert in visibleAlerts" class="alert-row row" style="margin-bottom: 15px;">
                                <div v-on:click="viewTimeline(alert)" class="col-sm-12" style="display:inline-block; height: 50px;">
                                    <span v-if="!alert['dateRead']"><i class="fas fa-circle unread-icon" style="margin-right: 0;"></i></span>
                                    <a style="display:inline-block; padding-left: 0;" href="#" class="alert-address">{{alert['property']['Street1']+' '+alert['property']['Street2']}}</a>
                                    <a style="display: block; color: black; font-size: 12px;" href="#" class="alert-city-state-zip">{{alert['property']['City']+', '+alert['property']['State']+' '+alert['property']['Zip']}}</a>
                                </div>
                                <div v-on:click="viewTimeline(alert)" class="col-sm-12 alert-description">
                                    {{alert['description']}}
                                </div>
                                <div class="col-sm-12 notification-date">
                                    {{alertDate(alert['dueDate'])}}
                                </div>
                                <div class="col-sm-12">
                                    <a v-if="!alert['dateRead']" v-on:click.prevent="markAlertsAsRead([alert])" href="#" class="alert-action-style-two mark-as-read">Mark as Read</a>
                                    <a v-else href="#" class="alert-action-style-two mark-as-read no-border"></a>
                                    <a v-on:click.prevent="clearAlerts([alert])" href="#" class="alert-action-style-two pr-3 clear-alert">Clear</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <center style="margin-top: 20px;">
                        <a v-if="visibleAlerts.length < alerts.length" v-on:click.prevent="limit = limit + 10" href="#" class="alert-action-style-one view-more">
                            <i class="fas fa-chevron-down"></i>
                            VIEW MORE NOTIFICATIONS
                        </a>
                    </center>
                    <center>
                        <span class="visibility-stats" v-if="visibleAlerts.length > 0">Showing 1 to {{visibleAlerts.length}} of {{alerts.length}} Notifications</span>
                    </center>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import moment from 'moment';
    export default {
        name: "AlertsPage",
        components: {
            moment,
        },
        props: {

        },
        computed: {
            visibleAlerts(){
                let alerts = [];
                let limit = this.limit;
                if (limit > this.alerts.length || limit == 0) limit = this.alerts.length;
                for (let i = 0; i < limit; i++) alerts.push(this.alerts[i]);
                return alerts;
            },
            consumer(){
                let role = this.userData.userRole;
                return role == 'b' || role == 's' || role == 'h';
            },
            agent(){
                let role = this.userData.userRole;
                return role == 'ba' || role == 'sa' || role == 'a';
            },
            tc(){
                return this.userData.userRole == 'tc';
            }
        },
        data(){
            return {
                alerts:         [],
                userData:       this.$store.getters.getUserData(),
                limit:          10,
                fetchedAlerts:  false,
                windowWidth:    window.innerWidth,
                initialLoad:    false,
            }
        },
        methods: {
            viewTimeline(alert){
                this.$store.dispatch('setTransaction', alert.transactionID);
                this.$store.dispatch('__redirect', {
                    url: route('transactionSummary.timeline',[alert.transactionID]).url()+'/#scroll='+alert.type+alert.modelID,
                    waitFor: [
                        'fetchLookupTables'
                    ]
                })
            },
            /**
             * Pass in an array of alerts to get an array of their IDs.
             * @param alerts
             * @returns {[]}
             */
            getAlertIDs(alerts){
                let ids = [];
                let length = alerts.length;
                for (let i = 0; i < length; i++) ids.push(alerts[i]['alertID']);
                return ids;
            },
            clearAlerts(alerts){
                axios.post(route('clearAllAlerts').url(),{
                    alerts: this.getAlertIDs(alerts),
                }).then((r) => {
                    console.log({
                        clearAllAlertsResponse: r,
                    });
                    if (r.data.status == 'success') this.fetchAlerts();
                }).catch((err) => {
                    console.log({
                        clearAllAlertsError: err,
                    });
                });
            },
            markAlertsAsRead(alerts){
                axios.post(route('markAlertsAsRead').url(),{
                    alerts: this.getAlertIDs(alerts),
                }).then((r) => {
                    console.log({
                        clearAllAlertsResponse: r,
                    });
                    if (r.data.status == 'success')
                    {
                        genericSuccessToast('Alert(s) marked as read!', '');
                        this.fetchAlerts();
                    }
                }).catch((err) => {
                    console.log({
                        clearAllAlertsError: err,
                    });
                });
            },
            fetchAlerts(){
                if (!this.initialLoad) genericLoading('Loading notifications...');
                this.initialLoad = true;
                axios.post(route('ajax.converter').url(),{
                    class: '\\App\\Http\\Controllers\\UserController',
                    isStatic: 0,
                    method: 'getAlertsByUserId',
                    args: [],
                }).then((r) => {
                    console.log({
                        userAlertsResponse: r,
                    });
                    if (r.data.status == 'success')
                    {
                        this.alerts = r.data.data;
                        Swal2.close();
                        this.fetchedAlerts = true;
                        this.$root.$emit('AlertsIcon__Fetch');
                    }
                    else if (r.data.status == 'fail') genericError(r.data.message);
                    else genericError();
                }).catch((err) => {
                    genericError();
                    console.log({
                        userAlertsErrorResponse: err,
                    })
                });
            },
            alertDate(date){
                return moment(date).format('MMMM DD, YYYY');
            }
        },
        mounted() {
            this.fetchAlerts();
            let v = this;
            window.addEventListener('resize', function () {
                v.windowWidth = window.innerWidth;
            });
        }
    }
</script>

<style scoped>

</style>