<template>
    <span style="position: relative; color:black;" id="alertDropdown">
        <i class="fas fa-bell consumer-icon" style="position: relative;">
            <span id="notification-count-span" style="top: -5px">
                <sup class="notification-count">{{unreadAlerts}}</sup>
            </span>
        </i>
    </span>
</template>

<script>
    export default {
        name: "AlertsIcon",
        props: {

        },
        computed: {
            unreadAlerts(){
                let unread = (this.alerts.filter(a => !a.dateRead)).length;
                if (unread > 99) unread = '99+';
                return unread;
            }
        },
        data(){
            return {
                alerts: [],
            }
        },
        methods: {
            fetchAlerts(){
                console.log('alerts icon is fetching');
                axios.post(route('ajax.converter').url(),{
                    class: '\\App\\Http\\Controllers\\UserController',
                    isStatic: 0,
                    method: 'getAlertsByUserId',
                    args: [],
                }).then((r) => {
                    console.log({
                        alertIconResponse: r,
                    });
                    if (r.data.status == 'success') this.alerts = r.data.data;
                }).catch((err) => {
                    console.log({
                        alertIconErrorResponse: err,
                    })
                });
            },
        },
        mounted() {
            this.fetchAlerts();
            this.$root.$on('AlertsIcon__Fetch', () => {
                this.fetchAlerts();
            });
        }
    }
</script>

<style scoped>

</style>