<template>
    <div class="dropdown-menu" :aria-labelledby="triggerID" id="alertsDropDown">
        <ul>
            <li id="alertsDropDownListHeader">
                <i class="fas fa-bell"></i>
                <span id="alertCount"><sup>{{unreadAlerts}}</sup></span>
            </li>
            <li v-if="i < limit" v-for="(alert, i) in sortedAlerts" v-on:click="openTimeline(alert.transactionID)">
                {{alert['description']}}
            </li>
        </ul>
    </div>
</template>

<script>
    import moment from 'moment';
    export default {
        name: "AlertsDropdown",
        components: {
            moment,
        },
        props: {
            triggerID: {

            }
        },
        computed: {
            unreadAlerts(){
                let unread = this.alerts.filter(a => !a.dateRead);
                return unread.length;
            },
            sortedAlerts(){
                function dueDateSort(a1, a2)
                {
                    let dueDate1 = moment(a1.dueDate);
                    let dueDate2 = moment(a2.dueDate);
                    if (dueDate1.isBefore(dueDate2)) return -1;
                    else if (dueDate2.isBefore(dueDate1)) return 1;
                    else return 0;
                }
                return this.alerts.sort((a,b) => dueDateSort(a,b));
            }
        },
        data(){
            return {
                alerts: [],
                limit: 5,
            }
        },
        methods: {
            openTimeline(transactionID){
                this.$store.dispatch('setTransaction', transactionID);
                this.$store.dispatch('__redirect', {
                    url: route('transactionSummary.timeline', [transactionID]).url(),
                    waitFor: [
                        'setTransaction',
                        'fetchDaysUntilClose',
                        'fetchLookupTables',
                    ]
                })
            },
            fetchAlerts(){
                axios.post(route('ajax.converter').url(),{
                    class: '\\App\\Http\\Controllers\\UserController',
                    isStatic: 0,
                    method: 'getAlertsByUserId',
                    args: [],
                }).then((r) => {
                    console.log({
                        userAlertsDropdownResponse: r,
                    });
                    if (r.data.status == 'success')
                    {
                        this.alerts = r.data.data;
                    }
                }).catch((err) => {
                    console.log({
                        userAlertsDropdownErrorResponse: err,
                    })
                });
            },
        },
        mounted() {
            this.fetchAlerts();
        }
    }
</script>

<style scoped>
    #alertCount{
        position: absolute;
        top: 12px;
        right: 6px;
    }
    #alertCount sup{
        background: #ca4544;
        border-radius: 50%;
        min-height: 10px;
        min-width: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 2px 0.7px;
    }
    #alertsDropDown{
        padding: 0;
        border: solid 1px #21d7d1;
        position: absolute;
        right: -7px !important;
        top: -9px !important;
        transform: none !important;
        left: unset !important;
    }
    #alertsDropDown ul{
        padding-inline-start: 0;
        list-style: none;
        margin-bottom: 0;
    }
    #alertsDropDown ul li{
        display: block !important;
        border-bottom: solid 1px #21d7d1;
        padding: 6px;
        font-weight: 500;
        font-family: sans-serif;
    }
    #alertsDropDown ul li:hover{
        background: #D5EEF0;
    }
    #alertsDropDown ul li:last-child{
        border: none;
    }
    #alertsDropDownListHeader{
        background: #21d7d1;
        padding: 5px;
        text-align: right;
        color: white;
    }
    #alertsDropDownListHeader:hover{
        background: #21d7d1 !important;
    }
    #alertsDropDownListHeader i{
        border: solid 1px white !important;
    }
</style>