<template>
    <div>
        <h3>Audit Logs</h3>
        <div v-for="log in logs" style = "margin-bottom: 20px; padding-bottom: 20px; border-bottom: solid 1px #ccc">
            <div>To: <span>{{log.To}}</span></div>
            <div>Cc: <span>{{log.Cc}}</span></div>
            <div>Bcc: <span>{{log.Bcc}}</span></div>
            <div>Reply To: <span>{{log.ReplyTo}}</span></div>
            <div>Subject: <span>{{log.Subject}}</span></div>
            <div>Date Transmitted: <span>{{formatDate(log.DateTransmitted)}}</span></div>
            <div>
                <div>Message: </div>
                <div v-html="log.Message"></div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "AuditLogs",
        props: {
            transactionID: {

            }
        },
        data(){
            return {
                userData: this.$store.getters.getUserData(),
                logs: [],
            }
        },
        methods: {
            formatDate(date){
                return moment(date).format('MMMM DD YYYY hh:mm A');
            },
            fetchLogs(){
                axios.post(route('fetch.emailLogs').url(), {
                    transactionID: this.transactionID,
                    userID: this.userData.userID,
                }).then((r) => {
                    console.log({
                        fetchEmailLogsResponse: r,
                    });
                    let status = r.data.status || false;
                    if (status == 'success')
                    {
                        this.logs = r.data.logs;
                    }
                    else if (status == 'fail') genericError(r.data.message);
                    else genericError();
                }).catch((err) => {
                    console.log({
                        fetchEmailLogsError: err,
                    });
                    if (err.data.status == 'fail') genericError(err.data.message);
                    else genericError(err);
                });
            },
        },
        mounted() {
            this.fetchLogs();
        }
    }
</script>

<style scoped>

</style>