<template>
    <div>{{date}}</div>
</template>

<script>
    import moment from 'moment';
    export default {
        components: {
            moment
        },
        props:{
            dateProp: {
                String,
                default: null,
            },
            timeProp: {
                String,
                default: null,
            },
            dateTimeProp: {
                String,
                default: null,
            },
        },
        data(){
            return {
                date: null,
                time: null,
            }
        },
        watch: {
            dateProp: {
               handler(val){
                   this.date = this.formatDate(val, 'date');
               }
            },
            timeProp:{
               handler(val){
                   this.date = this.formatDate(val, 'time');
               }
            },
            dateTimeProp:{
                handler(val){
                    this.date = this.formatDate(val);
                },
            }
        },
        methods: {
            formatDate(dateString, format = null){
                if (!dateString) return '';
                let formatted;
                if (format) formatted = moment(dateString).format(format);
                else formatted = moment(dateString).format('MMMM D, YYYY hh:mm a');
                return formatted;
            },
        },
        mounted(){
            this.$root.$on('parseDateTime',(data)=>{
                return this.formatDate(data[0],data[1]);
            });
            this.date = this.formatDate(this.dateTimeProp);
        }
    }
</script>

<style scoped>

</style>