<template>
    <div class="container" id="DocumentBagShare">
        <div v-if="groupedData" id="documentBagShareMainHeader">
            <div>
                <div class="float-left">
                    <h1>SHARE THE:</h1>
                </div>
                <div class="float-right">
                    <a href="#" v-on:click.prevent="goToDocumentBag">
                        <button type="button" class="btn btn-red">Back To Document</button>
                    </a>
                </div>
                <div style="clear: both;"></div>
            </div>
            <h2>{{lkDoc.Description}}</h2>
            <h3>Required Signatures</h3>
            <ul>
                <li v-for="signer in requiredSignatures">{{signer.display}}</li>
            </ul>
        </div>
        <div>
            <v-expansion-panel
                    :expand="false"
                    v-model="panel"
            >
                <v-expansion-panel-content
                    expand-icon=""
                    v-for="(file,bagID) in groupedData"
                    :key="bagID"
                    v-if="shareAccess[bagID] === true"
                >
                    <template v-slot:header>
                        <div class="row" v-on:click="selectFile(bagID)">
                            <div class="col-xs-12 bag-header">
                                <div class="header-uploader-image">
                                    <img :src="getHostUrl()+file[0].UserImage" class="img-responsive">
                                </div>
                                <div class="bag-header-meta-data">
                                    <div class="header-text">{{lkDoc.Description}}</div>
                                    <div class="uploaded-timestamp">
                                        <date :date-time-prop="file[0].DateCreated"></date>
                                    </div>
                                    <div class="view-file-link">
                                        <span v-on:click="openInNewTab(file[0].DocumentPath)">View Document</span>
                                    </div>
                                    <div class="delete-file-link">
                                        <span v-on:click="deleteFile(bagID)">Delete this Version</span>
                                    </div>
                                </div>
                                <div class="header-icon-container">
                                    <span><i :class="getOpenClosedIcon(bagID)"></i></span>
                                </div>
                                <div style="clear: both;"></div>
                            </div>
                        </div>
                    </template>
                    <div class="signed-by-container row controls-container">
                        <div class="signature-column col-sm-8 col-sm-offset-1">
                            <div class="inner-column">
                                <span>Signed By:</span>
                            </div>
                            <div class="inner-column">
                                <div v-if="requiredSignatures.b" v-for="(buyer,i) in file[0].Signers.b">
                                    <input v-if="signersEnabled" v-on:click="signerAddRemove('b',buyer.ID)" :id="'bsign'+i+bagID" type="checkbox" :checked="buyer.Signed">
                                    <input v-else type="checkbox" class="deactivated-noevents" :checked="buyer.Signed">
                                    <label :for="'bsign'+i+bagID">{{buyer.NameFull}} <span class="signed-by-role">(Buyer)</span></label>
                                </div>
                                <div v-if="requiredSignatures.ba" v-for="(agent,i) in file[0].Signers.ba">
                                    <input v-if="signersEnabled" v-on:click="signerAddRemove('ba',agent.ID)" :id="'basign'+i+bagID" type="checkbox" :checked="agent.Signed">
                                    <input v-else type="checkbox" class="deactivated-noevents" :checked="agent.Signed">
                                    <label :for="'basign'+i+bagID">{{agent.NameFull}} <span class="signed-by-role">(Buyer's Agent)</span></label>
                                </div>
                                <div v-if="requiredSignatures.s" v-for="(seller,i) in file[0].Signers.s">
                                    <input v-if="signersEnabled" v-on:click="signerAddRemove('s',seller.ID)" :id="'ssign'+i+bagID" type="checkbox" :checked="seller.Signed">
                                    <input v-else type="checkbox" class="deactivated-noevents" :checked="seller.Signed">
                                    <label :for="'ssign'+i+bagID">{{seller.NameFull}} <span class="signed-by-role">(Seller)</span></label>
                                </div>
                                <div v-if="requiredSignatures.sa" v-for="(agent,i) in file[0].Signers.sa">
                                    <input v-if="signersEnabled" v-on:click="signerAddRemove('sa',agent.ID)" :id="'sasign'+i+bagID" type="checkbox" :checked="agent.Signed">
                                    <input v-else type="checkbox" class="deactivated-noevents" :checked="agent.Signed">
                                    <label :for="'sasign'+i+bagID">{{agent.NameFull}} <span class="signed-by-role">(Seller's Agent)</span></label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="shared-with-container row controls-container">
                        <table class="col-sm-8 col-sm-offset-1">
                            <tr>
                                <td>Shared With:</td>
                                <td>
                                    <div>
                                        <input
                                                :id="'btcshare'+bagID"
                                                v-bind="shareWithAttr('btc', file)"
                                                type="checkbox"
                                                v-on:click="addSubtractSharingSum('btc')"
                                        >
                                        <label
                                                :for="'btcshare'+bagID"
                                                v-bind="shareWithAttr('btc', file)"
                                        >
                                            Buyer's TC
                                        </label>
                                    </div>
                                    <div>
                                        <input
                                                :id="'bashare'+bagID"
                                                v-bind="shareWithAttr('ba', file)"
                                                type="checkbox"
                                                v-on:click="addSubtractSharingSum('ba')"
                                        >
                                        <label
                                                :for="'bashare'+bagID"
                                                v-bind="shareWithAttr('ba', file)"
                                        >
                                            Buyer's Agent
                                        </label>
                                    </div>
                                    <div>
                                        <input
                                                :id="'bshare'+bagID"
                                                v-bind="shareWithAttr('b', file)"
                                                type="checkbox"
                                                v-on:click="addSubtractSharingSum('b')"
                                        >
                                        <label
                                                :for="'bshare'+bagID"
                                                v-bind="shareWithAttr('b', file)"
                                        >
                                            Buyers
                                        </label>
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        <input
                                                :id="'stcshare'+bagID"
                                                v-bind="shareWithAttr('stc', file)"
                                                type="checkbox"
                                                v-on:click="addSubtractSharingSum('stc')"
                                        >
                                        <label
                                                :for="'stcshare'+bagID"
                                                v-bind="shareWithAttr('stc', file)"
                                        >
                                            Seller's TC
                                        </label>
                                    </div>
                                    <div>
                                        <input
                                                :id="'sashare'+bagID"
                                                v-bind="shareWithAttr('sa', file)"
                                                type="checkbox"
                                                v-on:click="addSubtractSharingSum('sa')"
                                        >
                                        <label
                                                :for="'sashare'+bagID"
                                                v-bind="shareWithAttr('sa', file)"
                                        >
                                            Seller's Agent
                                        </label>
                                    </div>
                                    <div>
                                        <input
                                                :id="'sshare'+bagID"
                                                v-bind="shareWithAttr('s', file)"
                                                type="checkbox"
                                                v-on:click="addSubtractSharingSum('s')"
                                        >
                                        <label
                                                :for="'sshare'+bagID"
                                                v-bind="shareWithAttr('s', file)"
                                        >
                                            Sellers
                                        </label>
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        <input
                                                :id="'eshare'+bagID"
                                                v-bind="shareWithAttr('e', file)"
                                                type="checkbox"
                                                v-on:click="addSubtractSharingSum('e')"
                                        >
                                        <label
                                                :for="'eshare'+bagID"
                                                v-bind="shareWithAttr('e', file)"
                                        >
                                            Escrow
                                        </label>
                                    </div>
                                    <div>
                                        <input
                                                :id="'lshare'+bagID"
                                                v-bind="shareWithAttr('l', file)"
                                                type="checkbox"
                                                v-on:click="addSubtractSharingSum('l')"
                                        >
                                        <label
                                                :for="'lshare'+bagID"
                                                v-bind="shareWithAttr('l', file)"
                                        >
                                            Lender
                                        </label>
                                    </div>
                                    <div>
                                        <input
                                                :id="'tshare'+bagID"
                                                v-bind="shareWithAttr('t', file)"
                                                type="checkbox"
                                                v-on:click="addSubtractSharingSum('t')"
                                        >
                                        <label
                                                :for="'tshare'+bagID"
                                                v-bind="shareWithAttr('t', file)"
                                        >
                                            Title
                                        </label>
                                    </div>
                                </td>
                            </tr>
                        </table>
                        <table class="col-sm-3">
                            <tr>
                                <td>
                                    <button v-on:click="executeSharingChanges()" type="button" class="form-control btn-teal" style="max-width: 100px;">Share</button>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="share-link-container row controls-container">
                        <div class="share-link-input-container col-sm-8 col-sm-offset-1 form-group">
                            <div class="share-link-description">
                                share a link with someone that isn't on the list (separate multiple emails with a comma)
                            </div>
                            <input v-model="externalEmails" placeholder="enter email here" class="form-control" type="text">
                        </div>
                        <div class="share-link-button-container col-sm-3">
                            <button v-on:click="sendExternalEmails()" type="button" style="max-width: 100px;" class="form-control btn-teal">Share</button>
                        </div>
                    </div>
                </v-expansion-panel-content>
            </v-expansion-panel>
        </div>
    </div>
</template>

<script>
    import Date from './Date';
    export default {
        components:{
           Date,
        },
        props: {
            transactionID:{
                default: 0,
            },
            documentCode:{
                type: String,
                default: null,
            },
            bagIDProp: {
                default: 0,
            },
            linkDocument: {

            }
        },
        data() {
            return {
                externalEmails: '',
                signersEnabled: true,
                sharingChecks: [],
                panel: null,
                panelIndexes: {},
                headers: [],
                firstHeader: 'Document',
                groupedData: [],
                selectedTable: null,
                accessActions: null,
                accessRoles: null,
                bufferSharingSum: 0,
                bagID: 0,
                changesMade: false,
                shareWithRoles: [],
                requiredSignatures: null,
                rolesAdded: {},
                rolesEdited: {},
                shareAccess: {},
                lkDoc: JSON.parse(this.linkDocument),
            }
        },
        watch: {
            bagID: {
                handler(val, oldVal){
                    if (parseInt(val) !== parseInt(oldVal))
                    {
                        this.bufferSharingSum = parseInt(this.groupedData[val][0].SharingSum);
                    }
                },
            },
        },
        methods :{
            sendExternalEmails(){
                genericLoading('Sending emails...');
                this.externalEmails = this.externalEmails.replace(/ /g, '');
                axios.post(route('share.documentBag.externally').url(), {
                    transactionID: this.transactionID,
                    emails: this.externalEmails,
                    documentPath: this.groupedData[this.bagID][0].DocumentPath,
                    documentName: this.lkDoc.Description,
                }).then((r) => {
                    console.log({
                        shareDocumentBagFileExternallyResponse: r,
                    });
                    if (Swal2.isVisible()) Swal2.close();
                    let status = r.data.status || false;
                    if (status == 'success') genericSuccess('Emails have been sent.');
                    else if (status == 'fail') genericError(r.data.message);
                    else genericError();
                }).catch((err) => {
                    console.log({
                        shareDocumentBagFileExternallyError: err,
                    });
                    genericError(err);
                });
            },
            getOpenClosedIcon(bagID){
                if (this.panel == this.panelIndexes[bagID]) return 'fas fa-minus';
                return 'fas fa-plus';
            },
            signerAddRemove(role,signerID){
                this.signersEnabled = false;
                axios.post(route('signerAddRemove').url(), {
                    ID      : signerID,
                    role    : role,
                    bagID   : this.bagID,
                }).then((r) => {
                    console.log({
                        signerAddRemoveResponse: r,
                    });
                    this.signersEnabled = true;
                    if(r.data.status == 'success') this.getData(this.bagID, -1);
                    else if(r.data.status == 'fail') genericError(r.data.message + 'Error code: '+r.data.error_code);
                    else genericError();
                }).catch((err) => {
                    console.log({
                        signerAddRemoveError: err,
                    });
                    genericError(err);
                });
            },
            getHostUrl(){
                return getHostURL();
            },
            goToDocumentBag(){
                window.location.href = route('openDocumentBag', [this.transactionID, this.documentCode]).url();
            },
            deleteFile(bagID){
                genericLoading('Deleting file...');
                axios.post(route('delete.bagDocument').url(), {
                    bagID: bagID,
                }).then((r) => {
                    console.log({
                        deleteBagDocumentResponse: r,
                    });
                    let status = r.data.status || false;
                    if (status == 'success')
                    {
                        genericSuccessToast('File deleted.');
                        this.getData();
                    }
                    else if (status == 'fail') genericError(r.data.message);
                    else genericError();
                }).catch((err) => {
                    console.log({
                        deleteBagDocumentError: err,
                    });
                    genericError(err);
                });
            },
            selectFile(id){
                this.bagID = id;
            },
            shareWithAttr(role, file){
                let data = file.find(f => f.PovRole == role);
                let disallowed = this.shareWithRoles[role] === undefined;
                return {
                    class: disallowed ? 'disallowed-role' : '',
                    checked: data.isSelf || data.isAnOwner || data.isShared,
                    disabled: disallowed || data.isSelf || data.isAnOwner,
                }
            },
            roleAllowedClass(role){
                return this.shareWithRoles[role] === undefined ? 'disallowed-role':'';
            },
            getFileDataForRole(role, bagID){
                return this.groupedData[bagID].find(col => col.PovRole == role);
            },
            openInNewTab(url){
                window.open(url);
            },
            addSubtractSharingSum(role, bagID = 0){
                bagID = this.bagID;
                let index;
                let length = this.groupedData[bagID].length;
                for (let i = 0; i < length; i++)
                {
                    if (this.groupedData[bagID][i].PovRole == role)
                    {
                        index = i;
                        break;
                    }
                }
                if (parseInt(bagID) === parseInt(this.bagID)) {
                    if (this.groupedData[bagID][index].isShared) {
                        this.bufferSharingSum -= parseInt(this.groupedData[bagID][index].ValueInt);
                        this.groupedData[bagID][index].isShared = false;
                        if(this.rolesAdded[this.groupedData[bagID][index].PovRole]) delete this.rolesAdded[this.groupedData[bagID][index].PovRole];
                    }
                    else {
                        this.bufferSharingSum += parseInt(this.groupedData[bagID][index].ValueInt);
                        this.groupedData[bagID][index].isShared = true;
                        this.rolesAdded[this.groupedData[bagID][index].PovRole] = true;
                    }
                    this.groupedData[bagID][index].Edited = !this.groupedData[bagID][index].Edited;
                    if(this.rolesEdited[this.groupedData[bagID][index].PovRole] === undefined) this.rolesEdited[this.groupedData[bagID][index].PovRole] = true;
                    else delete this.rolesEdited[this.groupedData[bagID][index].PovRole];
                    this.changesMade = Object.keys(this.rolesEdited).length > 0;
                }
            },
            executeSharingChanges(){
                axios.post(route('changeBagDocumentSharingSum').url(), {
                    newSum: this.bufferSharingSum,
                    bagID: this.bagID,
                }).then((r) => {
                    console.log({
                        changeBagDocumentSharingSumResponse: r,
                    });
                    let status = r.data.status || false;
                    if(status !== 'success')
                    {
                        console.log('The query was not executed');
                        console.log({query: r.data.query});
                    }
                    else if (status === 'success')
                    {
                        genericLoading('Making changes...');
                        if (Object.keys(this.rolesAdded).length > 0)
                        {
                            let role = JSON.stringify(this.rolesAdded);
                            axios.post(route('documentSharedEmail').url(), {
                                    transactionID: this.transactionID,
                                    roles: role,
                                    documentName: this.groupedData[this.bagID][0].Description,
                                    documentCode: this.documentCode,
                                }).then((r2) => {
                                    console.log({
                                        documentSharedEmailResponse: r2,
                                    });
                                    let status = r2.data.status || false;
                                    let html = '<div>';
                                    this.rolesAdded     = {};
                                    this.changesMade    = false;
                                    if(status === 'success')
                                    {
                                        let emailsSent      = r2.data.emailsSent;
                                        let emailsNotSent   = r2.data.emailsNotSent;
                                        if (emailsSent.length > 0)
                                        {
                                            html += '<h3>Emails Sent To</h3>';
                                            html += '<ul style="list-style: none;">';
                                            $.each(emailsSent, (i, name) => {
                                                html += '<li>' + name + '</li>';
                                            });
                                            html += '</ul>';
                                        }
                                        if (emailsNotSent.length > 0)
                                        {
                                            html += '<br>' +
                                                '<h3>Emails Not Sent</h3>' +
                                                '<br>' +
                                                '<p>These emails could not be sent out ' +
                                                'because the email address associated ' +
                                                'with that person was not set.</p>' +
                                                '<ul style="list-style: none;">';
                                            $.each(emailsNotSent, (i, name) => {
                                                html += '<li>' + name + '</li>';
                                            });
                                            html += '</ul>';
                                        }
                                        html += '</div>';
                                        if(emailsNotSent.length === 0 && emailsSent.length === 0) html = null;
                                        this.getData(this.bagID, true,false, html);
                                    }
                                    else if (status === 'fail')
                                    {
                                        html += '<p>'+r2.data.message+'</p></div>';
                                        this.getData(this.bagID, true,false, html);
                                    }
                                    else
                                    {
                                        html += '<p>An unknown error has occurred.</p></div>';
                                        this.getData(this.bagID, true,false, html);
                                    }
                            }).catch((err2) => {
                                console.log({
                                    documentSharedEmailError: err2,
                                });
                                genericError(err2);
                            });
                        }
                        else
                        {
                            this.bagID          = r.data.bagID;
                            this.rolesAdded     = {};
                            this.changesMade    = false;
                            this.getData(this.bagID, true,false);
                        }

                    }
                    else
                    {
                        this.bagID          = r.data.bagID;
                        this.changesMade    = false;
                        this.getData(this.bagID,false,true);
                    }
                }).catch((err) => {
                    console.log({
                        changeBagDocumentSharingSumError: err,
                    });
                    genericError(err);
                });
            },
            savedHeaders(column,array){
                var headers = {};
                $.each(array, function(i,obj){
                    $.each(obj, function(k, innerObj){
                        headers[innerObj.PovRole] = innerObj.Display.replace('Transaction Coordinator', 'TC');
                    });
                });
                return headers;
            },
            getData(bagID = null, showSuccess = false, showFail = false, customHTML = null, reverting = false){
                let title = bagID === null ? 'Loading data...' : 'Saving data...';
                if(reverting) title = 'Reverting changes...';
                if (showSuccess != -1) genericLoading(title);
                axios.get(route('documentBagShareData',[this.transactionID, this.documentCode]).url(),{
                    transactionID: this.transactionID,
                    documentCode: this.documentCode})
                    .then((r)=>{
                        Swal2.disableLoading();
                        Swal2.close();
                        this.groupedData = r.data.data;
                        if(this.groupedData === null)
                        {
                            Swal2({
                               title: 'error',
                               text: 'You do not have access to this content or it does not exist.',
                               type: 'error',
                               timer: 5000,
                            }).then(() => {
                               window.history.back();
                            });
                        }
                        let index = 0;
                        $.each(this.groupedData, (bagID, file) => {
                            this.panelIndexes[bagID] = index;
                            index++;
                        });
                        this.accessRoles        = r.data.accessRoles;
                        this.accessActions      = r.data.accessActions;
                        this.shareWithRoles     = r.data.shareRoles;
                        this.shareAccess        = r.data.shareAccess;
                        let falseCount = 0;
                        let shareAccessLength = Object.keys(this.shareAccess).length;
                        $.each(this.shareAccess, (i,o) => {if(o===false)falseCount++});
                        if(falseCount === shareAccessLength)
                        {
                            genericError('You do not have access to this content.').then(() => {
                                window.history.back();
                            });
                        }
                        this.requiredSignatures = r.data.requiredSignatures;
                        this.selectFile(bagID || this.bagIDProp);
                        this.panel = this.panelIndexes[this.bagID];
                        this.headers            = this.savedHeaders('PovRole', this.groupedData);
                        customHTML              = showSuccess ? customHTML || 'Data Successfully Processed' :
                                                                customHTML || 'An unknown error has occurred...';
                        if(showSuccess === true) Swal2({
                            title: 'Success',
                            type: 'success',
                            html: customHTML,
                        });
                        else if(showFail === true) Swal2({
                            title: 'Error',
                            type: 'error',
                            html: customHTML,
                        });
                    });
            },
        },
        mounted(){
            this.getData();
        },
    }
</script>

<style scoped>
    .v-expansion-panel{
        box-shadow: none;
        border-top: solid 1px #ccc;
    }
    .focused{
        opacity: 1.0 !important;
        cursor: pointer;
    }

    .nonFocused{
        opacity: .4;
    }

    .icons{
        font-size: 45px;
    }

    .editIcon{
        cursor:pointer;
    }

    .self{
        opacity: .3;
    }

    #share_table{
        width:100%;
        border-collapse: separate;
        border-spacing: 10px;
        table-layout:fixed;
    }

    .orange_background{
        background: #C3900E;
    }

    .red_background{
        background: #CA666C;
    }

    .green_background{
        background: #ACD795;
    }

    .gray_background{
        background: #EAF6EB;
    }

    .blue_background{
        background: #D8E4F4;
    }

    #share_table tbody tr{
        width: 100%;
    }

    #share_table tbody tr td,#share_table tbody tr td{
        border: solid 1px rgba(0, 17, 255, 0.57);
        padding: 12px 12px 12px 12px;
        text-align: center;
    }

    #share_table td:last-child{

    }

    #share_table tbody tr td:first-child{
        text-align: left;
    }

    #share_table thead tr th{
        border: solid 1px #eeeeee;
        padding: 12px 12px 12px 12px;
        font-size: 15px;
    }

    #share_table thead tr th:first-child{
        border: none !important;
        padding: 12px 12px 12px 12px;
    }

    .saveIcon{
        animation: save-icon-flicker 3s infinite ease;
    }

    @keyframes save-icon-flicker{
        0% {
            color: #0fedff;
        }

        25%{
            color: #0abecb;
        }

        50%{
            color: #0fedff;
        }

        75%{
            color: #0abecb;
        }

        100%{
            color: #0fedff;
        }
    }
</style>