<template>
    <div class="row" v-if="dataLoaded">
        <div v-if="fail"><h2>{{message}}</h2></div>
        <div v-else>
            <h4 class="text-center" v-if="documents.length > 1">Other Versions</h4>
            <div class="col-md-1 col-lg-1"></div>
            <div class="col-sm-12 col-md-10 col-lg-10 thumbnailContainer">
                <div v-for="(doc,key) in documents" class="thumbnail">
                    <div v-if="key == bagKey" class="highlighted">
                        <div class="cover" v-on:click="bagKeyEquals(key)">
                        </div><iframe :src="documents[key].DocumentPath" scrolling="no"></iframe>
                        <div class="timestamp">
                            <date :date-time-prop="doc.DateCreated"></date>
                        </div>
                    </div>
                    <div v-else>
                        <div class="cover" v-on:click="bagKeyEquals(key)">

                        </div>
                        <iframe :src="documents[key].DocumentPath" scrolling="no"></iframe>
                        <div class="timestamp">
                            <date :date-time-prop="doc.DateCreated"></date>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-1 col-lg-1"></div>
        </div>
    </div>
</template>

<script>
    import Date from './Date';
    export default {
        components: {
            Date,
        },
        props:{
            transactionIDProp: {
                default: 0,
            },
            documentCodeProp: {
                default: 0,
            },
        },
        data(){
            return {
                bagID: 0,
                documents: null,
                transactionID: this.transactionIDProp,
                documentCode: this.documentCodeProp,
                additionalInfoTemplateID: '',
                documentName: null,
                uploadedByName: '',
                uploadedByImage: '',
                uploadTime: '',
                bagKey: -1,
                lk_ID: null,
                dataLoaded: false,
                signers: null,
                fail: false,
                message: '',
                allowedSplitDocuments: [],
            }
        },
        watch:{
            bagID:{
                handler(val){

                },
            },
            bagKey:{
                handler(val){
                    this.runUpdate();
                }
            }
        },
        methods: {
            runUpdate(){
                this.bagID                              = this.documents[this.bagKey].ID;
                this.documentName                       = this.documents[this.bagKey].Description;
                this.uploadedByName                     = this.documents[this.bagKey].name;
                this.uploadTime                         = this.documents[this.bagKey].DateCreated;
                this.uploadedByImage                    = this.documents[this.bagKey].image;
                this.signers                            = this.documents[this.bagKey].signers;
                this.lk_ID                              = this.documents[this.bagKey].lk_ID;
                this.$parent.isDocumentOwner            = this.documents[this.bagKey].isOwner;
                this.$parent.canShare                   = this.documents[this.bagKey].canShare;
                this.$parent.DateApproved               = this.documents[this.bagKey].DateApproved;
                this.$parent.isComplete                 = this.documents[this.bagKey].isComplete;
                this.$parent.uploadedByUsers_ID         = this.documents[this.bagKey].UploadedByUsers_ID;
                this.$parent.bagKey                     = this.bagKey;
                this.$parent.documentURL                = this.documents[this.bagKey].DocumentPath;
                this.$parent.additionalInfoTemplateID   = this.additionalInfoTemplateID;
                this.$parent.allDocuments               = this.documents;
                this.$parent.allowedSplitDocuments      = this.allowedSplitDocuments;
                this.sendDocumentInfo();
                this.sendUploaderInfo();
                this.$root.$emit('enableSigners');
            },
            plusKey(){
                this.bagKey = (this.bagKey + 1) == (this.documents.length) ? this.bagKey : this.bagKey + 1;
            },
            minusKey(){
                this.bagKey = (this.bagKey - 1) == -1 ? this.bagKey : this.bagKey - 1;
            },
            bagKeyEquals(num){
                this.bagKey = num;
            },
            getBagIDKey(bagID){
                $.each(this.documents,(i,doc) => {
                    if(doc['ID'] == bagID) this.bagKey = i;
                });
            },
            sendDocumentInfo(){
                this.$parent.documentName       = this.documentName;
                this.$parent.number             = this.bagID;
                this.$parent.documentSigners    = this.signers;
                this.$parent.lk_ID              = this.lk_ID;
                /**
                 * This Swal2.close() is for the modal opened
                 * inside of getTransactionDocuments
                 **/
                Swal2.close();
            },
            sendUploaderInfo(){
                this.$parent.uploadedByName     = this.uploadedByName;
                this.$parent.uploadTime         = this.uploadTime;
                this.$parent.uploadedByImageURL = this.uploadedByImage;
            },
            getTransactionDocuments(key){
                genericLoading();
                axios.post(route('ajaxGetDocumentsInBag').url(), {
                    transactionID: this.transactionID,
                    documentCode: this.documentCode,
                }).then((r) => {
                    console.log({
                        getTransactionDocumentsResponse: r,
                    });
                    this.dataLoaded = true;
                    if (r.data.status == 'success')
                    {
                        this.documents                  = r.data.bagDocuments;
                        this.additionalInfoTemplateID   = r.data.additionalInfoTemplateID;
                        this.allowedSplitDocuments      = r.data.linkDocuments;
                        if(window.location.hash)
                        {
                            let hashes = getLocationHashes();
                            let defaultBagKey = true;
                            /**
                             * Loop through the hashes a first time to change values if necessary.
                             */
                            $.each(hashes, (i,hash) => {
                                if (hash != '' || hash != null)
                                {
                                    if (hash.indexOf('show') !== -1) {
                                        this.getBagIDKey(parseInt(hash.replace('show', '')));
                                        defaultBagKey = false;
                                    }
                                }
                            });
                            if(defaultBagKey) this.bagKey = key;
                            this.runUpdate();
                            /**
                             * Loop through the hashes a second time to take actions. Emitting before having
                             * a bagKey may cause issues, but some hashes like #show changes bagKey so
                             * that needs to be checked first.
                             */
                            $.each(hashes, (i,hash) =>
                            {
                                if (hash != '' || hash != null)
                                {
                                    if (hash.indexOf('sign') !== -1) {
                                        this.$root.$emit('openSignatureModal');
                                    }
                                }
                            });
                        }
                        else
                        {
                            this.bagKey = key;
                            this.runUpdate();
                        }
                        this.fail = false;
                    }
                    else
                    {
                        this.fail       = true;
                        this.message    = r.data.message;
                        this.signers    = r.data.signers;
                        if(r.data.lk_ID)
                        {
                            this.lk_ID = r.data.lk_ID;
                            this.sendDocumentInfo();
                        }
                    }
                }).catch((err) => {
                    console.log({
                        getTransactionDocumentsError: err,
                    })
                });
            },
        },
        mounted(){
            this.getTransactionDocuments(0);
            this.$root.$on('update', data => {
                if(data)
                {
                    var currentDocumentsLength;
                    if(this.documents) currentDocumentsLength = this.documents.length;
                    else currentDocumentsLength = 0;
                    if (currentDocumentsLength > 0)this.getTransactionDocuments(currentDocumentsLength);
                    else this.getTransactionDocuments(0);
                }
            });

            this.$root.$on('getBagListDocuments', bagKeyToFocus => {
                if(bagKeyToFocus > -1) this.getTransactionDocuments(bagKeyToFocus);
                else this.getTransactionDocuments(0);
            });
        },
    }

</script>

<style scoped>
    .thumbnailContainer{
        justify-content: center;
        align-items: center;
    }
    .thumbnail div{
        width: 100%;
        height: 100%;
        background: #eeeeee;
        overflow: hidden;
        position: relative;
    }
    .thumbnail .cover{
        width: 100%;
        height: 100%;
        position:absolute;
        top: 0;
        left: 0;
        background: transparent;
        cursor: pointer;
        z-index:5;
    }
    .thumbnail div iframe{
        height: 170px;
        width: 125%;
        border:0;
        opacity: .4;
        transform: scale(1);
        -ms-transform-origin: 0 0;
        -moz-transform-origin: 0 0;
        -o-transform-origin: 0 0;
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
    }
    .thumbnail .highlighted iframe{
        opacity: 1;
    }

    .gap{
        position: relative;
        height:100px;
    }

    .rightArrow{
        width:20px;
        position: absolute;
        height: 10%;
        top:35%;
        left: 0;
        cursor: pointer;
    }
    .leftArrow{
        width:20px;
        position: absolute;
        height: 10%;
        top:35%;
        right: -10px;
        cursor: pointer;
    }
    ::-webkit-scrollbar {
        display: none;
    }

    .thumbnail{
        height: 210px;
        width: 150px;
        margin-right: 15px;
        white-space: nowrap;
        display: inline-block;
    }

    .timestamp{
        position: absolute !important;
        width: 100% !important;
        opacity: 1.0 !important;
        z-index: 6 !important;
        height: 40px !important;
        font-size: 13px !important;
        line-height: 35px;
        text-align: center;
    }


</style>