<template>
    <div class="row wholeArea">
        <div class="propertyAddressArea col-lg-12 col-md-12 col-sm-12">
            <property
                    :transaction-i-d="transactionID"
                    :address-container-class="'col-sm-5 col-md-5 col-lg-5'"
                    :main-container-style="'margin-top:10px;margin-left: -100px;'"
            ></property>
        </div>
        <div class="documentNameArea col-lg-12 col-md-12 col-sm-12 row">
            <div style="float:left" class="col-xs-12 col-sm-6"><h2>{{documentName}}</h2></div>
            <div v-if="splittingUIActive" class="col-xs-12 col-sm-6 splitUIControls">
                <button class="btn-teal btn-v2" v-on:click="splitDocument">Split Document</button>
                <button class="btn-white btn-v2" v-on:click="deleteSplitPages">Delete Pages</button>
                <button class="btn-white btn-v2" v-on:click="cancelSplittingUI">Cancel</button>
            </div>
        </div>
        <upload-document v-if="documentSigners"
                 :signers-prop="documentSigners"
                 :key="number"
                 :passed-token="token"
                 :lk-prop="lk_ID"
                 :transaction-i-d-prop="transactionID"
                 :document-code="documentCode"
                 :search-person-route="searchPersonRoute"
                 :get-agent-info-route="getAgentInfoRoute"
                 :save-agent-data-route="saveAgentDataRoute"
                 :save-buyer-data-route="saveBuyerDataRoute"
                 :save-seller-data-route="saveSellerDataRoute">
        </upload-document >
        <div class="col-sm-12 col-md-8 col-lg-8 documentArea">
            <div class="col-lg-12 col-md-12 col-sm-12 documentViewArea">
                <individual-document-view
                        :bag-link-i-d-prop="number"
                        :key="number">
                </individual-document-view>
            </div>
            <div :class="documentBagListClass">
                <document-bag-list-view
                        :transaction-i-d-prop="transactionID"
                        :document-code-prop="documentCode" >

                </document-bag-list-view>
            </div>
        </div>
        <div v-if="!splittingUIActive" class="col-md-1 col-lg-1 gap"></div>
        <div v-if="!splittingUIActive" class="col-sm-12 col-md-3 col-lg-3 documentOptionsArea">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12 documentOptionsTopSection">
                    <div class="row">
                        <!--<div class="col-sm-12 col-md-12 col-lg-12 gray optionsItem"><button class="btn-teal btn-v2" v-on:click="viewDocumentPermissionTable">Document Permissions</button></div>-->
                        <div v-if="canShare" class="col-sm-12 col-md-12 col-lg-12 teal optionsItem"><button class="btn-teal btn-v2" v-on:click="viewDocumentBagShare">Share Document</button></div>
                        <div v-if="permissionsObject.o || permissionsObject.u" class="col-sm-1 col-md-1 col-lg-1 teal optionsItem"><i class="fas fa-file-upload"></i></div>
                        <div v-else class="col-sm-1 col-md-1 col-lg-1 gray optionsItem"><i class="fas fa-file-upload"></i></div>
                        <div v-if="permissionsObject.o || permissionsObject.u" class="col-sm-9 col-md-9 col-lg-9 teal optionsItem optionsClick" v-on:click="toggleUploadDocument">Upload Document</div>
                        <div v-else class="col-sm-9 col-md-9 col-lg-9 gray optionsItem optionsClick">Upload Document</div>
                        <div v-if="permissionsObject.o || permissionsObject.e || userID == uploadedByUsers_ID" class="col-sm-1 col-md-1 col-lg-1 teal optionsItem"><i class="fas fa-copy"></i></div>
                        <div v-else class="col-sm-1 col-md-1 col-lg-1 gray optionsItem"><i class="fas fa-copy"></i></div>
                        <div v-if="(permissionsObject.o || permissionsObject.e || userID == uploadedByUsers_ID) && number > 0" class="col-sm-9 col-md-9 col-lg-9 teal optionsItem optionsClick" v-on:click="splitFile()">Split Document</div>
                        <div v-else class="col-sm-9 col-md-9 col-lg-9 gray optionsItem optionsClick">Split Document</div>
                        <!-- <div v-if="permissionsObject.e || permissionsObject.o || userID == uploadedByUsers_ID" class="col-sm-1 col-md-1 col-lg-1 teal optionsItem"><i class="fas fa-eraser"></i></div>
                        <div v-else class="col-sm-1 col-md-1 col-lg-1 gray optionsItem"><i class="fas fa-eraser"></i></div> -->
                        <!-- <div v-if="permissionsObject.e || permissionsObject.o || userID == uploadedByUsers_ID" class="col-sm-9 col-md-9 col-lg-9 teal optionsItem optionsClick">Remove Pages</div>
                        <div v-else class="col-sm-9 col-md-9 col-lg-9 gray optionsItem optionsClick">Remove Pages</div> -->
                        <div v-if="number > 0 && permissionsObject.s" class="col-sm-1 col-md-1 col-lg-1 teal optionsItem"><i class="fas fa-pen-fancy"></i></div>
                        <div v-else class="col-sm-1 col-md-1 col-lg-1 gray optionsItem"><i class="fas fa-pen-fancy"></i></div>
                        <div v-if="number > 0 && permissionsObject.s" class="col-sm-9 col-md-9 col-lg-9 teal optionsItem optionsClick" v-on:click="signDocument">Sign Document</div>
                        <div v-else class="col-sm-9 col-md-9 col-lg-9 gray optionsItem optionsClick">Sign Document</div>
                        <!--<div v-if="DateApproved && isComplete" class="col-sm-1 col-md-1 col-lg-1 teal optionsItem"><i class="fas fa-check-circle"></i></div>
                        <div v-else class="col-sm-1 col-md-1 col-lg-1 teal optionsItem"><i class="far fa-check-circle"></i></div>
                        <div v-on:click="markBagDocumentAsCompleteIncomplete(number)" class="col-sm-10 col-md-10 col-lg-10 teal optionsItem optionsClick">{{DateApproved && isComplete ? 'Completed':'Mark as Complete'}}</div>-->
                        <!-- <div v-if="number > 0 && permissionsObject.e" class="col-sm-1 col-md-1 col-lg-1 teal optionsItem"><i class="fas fa-paperclip"></i></div>
                        <div v-if="number > 0 && permissionsObject.e" class="col-sm-9 col-md-9 col-lg-9 teal optionsItem optionsClick" v-on:click="addInformation">Add Information</div> -->
                        <div class="col-sm-1 col-md-1 col-lg-1 teal optionsItem"><i class="fas fa-edit"></i></div>
                        <div class="col-sm-9 col-md-9 col-lg-9 teal optionsItem optionsClick" v-on:click="viewSummary">View Transaction Summary</div>
                        <div class="col-sm-1 col-md-1 col-lg-1 teal optionsItem"><i class="fas fa-edit"></i></div>
                        <div class="col-sm-9 col-md-9 col-lg-9 teal optionsItem optionsClick" v-on:click="editTransaction">Edit Transaction</div>
                        <div class="col-sm-1 col-md-1 col-lg-1 teal optionsItem"><i class="fas fa-arrow-left"></i></div>
                        <div class="col-sm-9 col-md-9 col-lg-9 teal optionsItem optionsClick" v-on:click="returnToAllDocuments">View All Documents</div>
                    </div>
                    <div class="divisor"></div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-12 documentOptionsBottomSection">
                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-12 optionsItem" v-if="uploadedByName">
                            <h4>Uploaded By</h4>
                            <div class="row">
                                <div class="optionsItemDetails">
                                    <img v-if="uploadedByImageURL" class="avatarImage" :src="uploadedByImageURL" width="30" height="30">
                                    <span>{{uploadedByName}}</span>
                                </div>
                                <div class="optionsItemDetails"><date :date-time-prop="uploadTime"></date></div>
                            </div>
                        </div>
                        <div v-if="number > 0" class="col-sm-12 col-md-12 col-lg-12 optionsItem">
                            <h4>Signed By</h4>
                            <div v-for="(signer,key) in documentSigners">
                                <div v-if="key == 'b' && signer" class="signedByDetails">
                                    <h3>Buyer(s)</h3>
                                    <ul>
                                        <li v-if="p" v-for="p in signer" >
                                            <div class="" v-if="p.Signed">
                                                <i v-if="!signersEnabled" class="fas fa-square deactivated-noevents"></i>
                                                <i class="fas fa-check-square teal" v-on:click="signerAddRemove('b',p.ID)" v-else-if="p.Signed == true"></i>
                                                <img v-if="p !== undefined && p.Icon" :src="p.Icon" class="avatarImage" />
                                                <span>{{p.NameFull || p.NameFirst + ' ' + p.NameLast}}</span>
                                            </div>
                                            <div v-else>
                                                <i v-if="!signersEnabled" class="fas fa-square deactivated-noevents"></i>
                                                <i v-else class="far fa-square teal" v-on:click="signerAddRemove('b',p.ID)"></i>
                                                <img v-if="p !== undefined && p.Icon" :src="p.Icon" class="avatarImage" />
                                                <span>{{p.NameFull || p.NameFirst + ' ' + p.NameLast}}</span>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div v-else-if="key == 'ba' && signer" class="signedByDetails">
                                    <h3>Buyer's Agent</h3>
                                    <ul>
                                        <li v-if="signer[0]">
                                            <div class="">
                                                <i v-if="!signersEnabled" class="fas fa-square deactivated-noevents"></i>
                                                <i v-else-if="signer[0].Signed == true" v-on:click="signerAddRemove('ba',signer[0].ID)" class="fas fa-check-square teal"></i>
                                                <i v-else v-on:click="signerAddRemove('ba',signer[0].ID)" class="far fa-square teal"></i>
                                                <img v-if="signer[0].Icon" :src="signer[0].Icon" class="avatarImage" />
                                                <span>{{signer[0].NameFull || signer[0].NameFirst + ' ' + signer[0].NameLast }}</span>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div v-else-if="key == 's' && signer" class="signedByDetails">
                                    <h3>Seller(s)</h3>
                                    <ul>
                                        <li v-if="p" v-for="p in signer" >
                                            <div class="" v-if="p.Signed">
                                                <i v-if="!signersEnabled" class="fas fa-square deactivated-noevents"></i>
                                                <i class="fas fa-check-square teal" v-on:click="signerAddRemove('s',p.ID)" v-else-if="p.Signed == true"></i>
                                                <img v-if="p !== undefined && p.Icon" :src="p.Icon" class="avatarImage" />
                                                <span>{{p.NameFull || p.NameFirst + ' ' + p.NameLast}}</span>
                                            </div>
                                            <div v-else>
                                                <i v-if="!signersEnabled" class="fas fa-square deactivated-noevents"></i>
                                                <i v-else v-on:click="signerAddRemove('s',p.ID)" class="far fa-square teal"></i>
                                                <img v-if="p !== undefined && p.Icon" :src="p.Icon" class="avatarImage" />
                                                <span>{{p.NameFull || p.NameFirst + ' ' + p.NameLast}}</span>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div v-else-if="key == 'sa' && signer" class="signedByDetails">
                                    <h3>Seller's Agent</h3>
                                    <ul>
                                        <li v-if="signer[0]">
                                            <div class="">
                                                <i v-if="!signersEnabled" class="fas fa-square deactivated-noevents"></i>
                                                <i v-else-if="signer[0].Signed == true" v-on:click="signerAddRemove('sa',signer[0].ID)" class="fas fa-check-square teal"></i>
                                                <i v-else v-on:click="signerAddRemove('sa',signer[0].ID)" class="far fa-square teal"></i>
                                                <img v-if="signer[0].Icon" :src="signer[0].Icon" class="avatarImage" />
                                                <span>{{signer[0].NameFull || signer[0].NameFirst + ' ' + signer[0].NameLast }}</span>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div> <!-- End of Signed By Section -->
                    </div>
                </div> <!-- End of Bottom Section -->
            </div>
        </div>
        <div v-else class="row col-sm-12 col-md-4 col-lg-4 documentOptionsArea splitUIInfo" style="min-height: 550px;">
            <div class="currentVersion row col-sm-12">
                <h3>Current Version</h3>
                <div class="col-sm-12 versionContainer">
                    <span>Uploaded - {{splitUIDateFormat(uploadTime)}}</span>
                    <br>
                    <span>by {{uploadedByName}}</span>
                </div>
            </div>
            <div class="otherVersions row col-sm-12">
                <h3>Other Versions</h3>
                <div class="col-sm-12 versionContainer" v-for="doc in allDocuments">
                    <div v-if="doc.ID !== number">
                        <span>Uploaded - {{splitUIDateFormat(doc.DateCreated)}}</span>
                        <br>
                        <span>by {{doc.name}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div v-if="splittingUIActive" class="col-sm-12 col-md-12 col-lg-12">
            <split-document-file-list
                :pages="splitFilePages"
                :prev-selected-pages="prevSelectedPages"
            >

            </split-document-file-list>
        </div>
    </div>
</template>

<script>
    import DocumentBagListView from "./DocumentBagListView";
    import IndividualDocumentView from "./IndividualDocumentView";
    import Date from './Date';
    import UploadDocument from './UploadDocument';
    import Property from './Property';
    import SplitDocumentFileList from "./SplitDocumentFileList";
    import moment from 'moment';

    export default {
        components: {
            DocumentBagListView,
            IndividualDocumentView,
            Date,
            UploadDocument,
            Property,
            SplitDocumentFileList,
            moment,
        },
        computed: {
            documentBagListClass(){
                return {
                    'col-lg-12 col-md-12 col-sm-12 documentListViewArea' : !this.splittingUIActive,
                    'col-lg-12 col-md-12 col-sm-12 documentListViewArea hidden' : this.splittingUIActive
                }
            },
        },
        props:{
            reviewDocRouteProp: {
                default: null,
                String
            },
            passedToken: {
                default: null,
                String
            },
            transactionIDProp: {
                default: 0,
            },
            documentCodeProp: {
                default: 0,
            },
            permissions: {
                default: {},
            },
            searchPersonRoute: {
                String,
                default: null,
            },
            getAgentInfoRoute: {
                String,
                default: null,
            },
            saveAgentDataRoute: {
                String,
                default: null,
            },
            saveBuyerDataRoute: {
                String,
                default: null,
            },
            saveSellerDataRoute: {
                String,
                default: null,
            },
            userID: {
                default: 0
            }
        },
        data(){
            return{
                COMPONENT_NAME: 'DocumentBagView',
                token: this.passedToken,
                number: 0, //this is bagID
                bagKey: -1,
                transactionID: this.transactionIDProp,
                documentCode: this.documentCodeProp,
                documentName: null,
                documentSigners: null,
                documentURL: null,
                uploadedByName: '',
                uploadedByImageURL: null,
                uploadedByUsers_ID: null, //from child DocumentBagListView
                uploadTime: '',
                showUploadDocumentModal: false,
                lk_ID: null,
                bagIDString: null,
                permissionsObject: {},
                canShare: false, ////from child DocumentBagListView
                DateApproved: null, //from child DocumentBagListView
                isComplete: 0, //from child DocumentBagListView
                signersEnabled: true,
                additionalInfoTemplateID: 0,
                splittingUIActive: false,
                splitFilePages: [],
                allDocuments: [],
                allowedSplitDocuments: [],
                pickedSplitLinkDocumentID: 0,
                pickedSplitDocumentName: '',
                selectedPages: [],
                prevSelectedPages: [],
            }
        },
        watch: {
            lk_ID: {
                handler(val){

                },
            },
            number:{
                handler(val){

                },
            },
            documentSigners: {
                handler(val){
                    this.documentSigners = val;
                },
            },
        },
        methods: {
            splitDocument(){
                let vueObject = this;
                if (vueObject.selectedPages.length == 0) genericError('You must select pages to do that.');
                else
                {
                    let html = '' +
                        '<div id="splitDocumentModal">' +
                        '   <div class="closeButton" id="closeButton">' +
                        '       <i class="fas fa-times"></i>' +
                        '   </div>' +
                        '   <div class="header col-sm-12">' +
                        '       <h3>Save Your Split Document</h3>' +
                        '   </div>' +
                        '   <div class="content col-sm-12">' +
                        '       <div class="adHocDocInputContainer">' +
                        '           <input id="splitDocName" type="text" placeholder="Enter a New Document Name">' +
                        '           <span class="help-block hidden red" style="font-size: 12px;">You must provide a document name</span>' +
                        '       </div>' +
                        '       <div class="docListContainer">' +
                        '           <h4 id="pickFromDocList">Pick from a list of Current Documents</h4>' +
                        '           <div class="docList hidden">' +
                        '               <ul>';
                    $.each(this.allowedSplitDocuments, (i, doc) => {
                        html += '' +
                            '<li class="docListItem" data-id="'+doc.lk_ID+'" data-name="'+doc.Description+'">'+doc.Description+'</li>';
                    });
                    html +=
                        '               </ul>' +
                        '           </div>' +
                        '       </div>' +
                        '       <div class="saveButtonContainer">' +
                        '           <button id="saveButton" class="btn-red-white-trim btn-v2">Save</button>' +
                        '       </div>' +
                        '   </div>' +
                        '</div>';

                    Swal2({
                        html: html,
                        showConfirmButton: false,
                        padding: '0',
                        onBeforeOpen: () => {
                            $('#saveButton').off().on('click',function () {
                                let docName = $('#splitDocName');
                                if (docName.val())
                                {
                                    vueObject.pickedSplitDocumentName = docName.val();
                                    vueObject.saveNewSplitDocument();
                                }
                                else $('#splitDocumentModal .help-block').removeClass('hidden');
                            });

                            $('.docListItem').on('click', function () {
                                vueObject.pickedSplitLinkDocumentID = $(this).data('id');
                                vueObject.pickedSplitDocumentName = $(this).data('name');
                                vueObject.saveNewSplitDocument();
                            });

                            $('#pickFromDocList').off().on('click',function () {
                                let docList         = $('.docList');
                                let adHocContainer  = $('.adHocDocInputContainer');
                                let saveButton      = $('#saveButton');
                                if (docList.hasClass('hidden'))
                                {
                                    docList.removeClass('hidden');
                                    adHocContainer.addClass('hidden');
                                    saveButton.addClass('hidden');
                                }
                                else
                                {
                                    docList.addClass('hidden');
                                    adHocContainer.removeClass('hidden');
                                    saveButton.removeClass('hidden');
                                }
                            });

                            $('#closeButton').off().on('click',function () {
                                Swal2.close();
                            });
                        },
                    });
                }
            },
            deleteSplitPages(){
                axios.post(route('delete.split.pages').url(), {
                    SelectedPages:  this.selectedPages,
                }).then((r) => {
                    console.log({
                        deleteSplitPagesResponse: r,
                    });
                    let status = r.data.status;
                    if (status == 'success')
                    {
                        genericSuccess('Pages successfully deleted.');
                        this.splitFile('Deleting pages...');
                    }
                    else if (status == 'fail') genericError(r.data.message);
                    else genericError();
                }).catch((err) => {
                    console.log({
                        deleteSplitPagesErr: err,
                    });
                });
            },
            saveNewSplitDocument(){
                Swal2({
                    text: 'Saving file...',
                    showConfirmButton: false,
                    allowOutsideClick: false,
                    onBeforeOpen: () => {
                        Swal2.showLoading();
                    }
                });
                axios.post(route('store.split.document').url(),{
                    DocumentLinkID: this.pickedSplitLinkDocumentID,
                    DocumentName:   this.pickedSplitDocumentName,
                    SelectedPages:  this.selectedPages,
                    TransactionID:  this.transactionIDProp,
                }).then((r) => {
                    console.log({
                        saveNewSplitDocumentResponse: r,
                    });
                    let status = r.data.status;
                    if (status == 'success')
                    {
                        this.prevSelectedPages = this.prevSelectedPages.concat(this.selectedPages);
                        this.prevSelectedPages = uniqueValueArray(this.prevSelectedPages);
                        genericSuccess('File added to '+r.data.DocumentName+'.');
                        if (parseInt(r.data.adHoc) === 1)
                        {
                            this.allowedSplitDocuments.push({
                                lk_ID: r.data.ID,
                                Description: r.data.DocumentName,
                            });
                        }
                    }
                    else if (status == 'fail') genericError(r.data.message);
                    else genericError();
                    this.$root.$emit('splitUIResetSelectedPages');
                }).catch((err) => {
                    console.log({
                        saveNewSplitDocumentError: err,
                    });
                });
            },
            cancelSplittingUI(){
                this.splitFilePages     = [];
                this.prevSelectedPages  = [];
                this.splittingUIActive  = false;
            },
            splitUIDateFormat(dateTime){
                return moment(dateTime).format('M/D/YYYY, h:mm a');
            },
            splitFile(loadingMessage = 'Splitting pages...') {
                genericLoading(loadingMessage);
                if (this.number > 0)
                {
                    axios.post(route('document.split').url(), {
                        transactionID:  this.transactionIDProp,
                        documentBagID:  this.number,
                        documentName:   this.documentName,
                    }).then((r) => {
                        Swal2.close();
                        let status = r.data.status;
                        if (status == 'success')
                        {
                            this.splitFilePages = r.data.pages;
                            if (this.splitFilePages.length == 1)
                                genericError('You cannot split a document that has only one page.');
                            else this.splittingUIActive = true;
                        }
                        else if (status == 'fail') genericError(r.data.message);
                        else genericError();
                    });
                }
            },
            addInformation() {
                var vueObject = this;
                var submittedFormData = {};
                var additionalDataRoute = correctVuexRouteURL(this.$store.getters.routeName('document.additional.data'));
                if(!additionalDataRoute) genericError('Route not found. Error code: add-info-001');
                let html = '' +
                    '<div style="width: 100%; height: 100%;">' +
                    '   <div style="width: 100% !important; display: inline-block;" >' +
                    '       <iframe src="'+this.documentURL+'" width="100%" height="300px"></iframe>' +
                    '   </div>' +
                    '   <div class="additionalInformationForm" style="display: inline-block; width: 100%;">' +
                    '   </div>' +
                    '</div>';

                Swal2({
                    html: html,
                    width: '100%',
                    showCloseButton: true,
                    showConfirmButton: false,
                    allowOutsideClick: true,
                    animation: false,
                    onBeforeOpen: () => {
                        FormAPI.createVisualForm('.additionalInformationForm', {
                            templateId: vueObject.additionalInfoTemplateID,
                            waitForPDF: true,
                            focusFirstFieldOnLoad: false,
                            showSignatureModalOnFocus: true,
                            adjustHeaderOnScroll: false,
                            showTermsOfServiceLink: false,
                            pdfProcessingTitle: (template) =>
                                'Processing Document...',
                            pdfProcessingMessage: (template) =>
                                'Please wait a few moments while we generate your PDF...',
                            showPdfProcessingSpinner: true,
                            onClearForm: function() {
                            },
                            onFieldFocus: function(field) {
                            },
                            onFieldBlur: function(field) {
                            },
                            onFieldChange: function(field) {
                                var name = field.name,
                                    value = field.value,
                                    previousValue = field.previousValue;
                            },
                            onShowAcceptTerms: function() {
                            },
                            onSubmit: function(formData) {
                                submittedFormData = formData;
                            },
                            onSave: function (submissionId) {
                            },
                            onProcessed: function(data) {
                                genericLoading('Saving file...');
                                axios.post(additionalDataRoute, {
                                    bag_lk_ID:      vueObject.lk_ID,
                                    transactionID:  vueObject.transactionIDProp,
                                    templateName:   'additionalData',
                                    templateID:     vueObject.additionalInfoTemplateID,
                                    documentName:   vueObject.documentName,
                                    documentCode:   vueObject.documentCode,
                                    formData:       submittedFormData,
                                    originalPDF:    vueObject.documentURL,
                                }).then(r => {
                                    if (r.data.status == 'success')
                                    {
                                        window.location.href = r.data.url;
                                        location.reload();
                                    }
                                    else if(r.data.status == 'fail') genericError(r.data.message+' '+r.data.errorCode);
                                    else genericError();
                                }).catch( err => {
                                    console.log(err);
                                    genericError(err);
                                });
                                // $.ajax({
                                //     url: additionalDataRoute,
                                //     method: 'POST',
                                //     data: {
                                //         bag_lk_ID:      vueObject.lk_ID,
                                //         transactionID:  vueObject.transactionIDProp,
                                //         templateName:   'additionalData',
                                //         templateID:     vueObject.additionalInfoTemplateID,
                                //         documentName:   vueObject.documentName,
                                //         documentCode:   vueObject.documentCode,
                                //         _token:         vueObject.passedToken,
                                //         formData:       submittedFormData,
                                //         originalPDF:    vueObject.documentURL,
                                //     },
                                //     success: function(r){
                                //         if (r.status == 'success')
                                //         {
                                //             window.location.href = r.url;
                                //             location.reload();
                                //         }
                                //         else if(r.status == 'fail') genericError(r.message+' '+r.errorCode);
                                //         else genericError();
                                //     },
                                //     error: function (err) {
                                //         console.log(err);
                                //         genericError(err);
                                //     },
                                // });
                            },
                            onError: function(error) {
                                genericError(error);
                            }
                        });
                    },
                });
            },
            sign(signatureAPI, embeddedSigningURL = null){
                console.log({
                    signatureAPI: signatureAPI,
                    embeddedSigningURL: embeddedSigningURL,
                });
                genericLoading('Loading...');
                let v = this;
                if(signatureAPI == 'EverSign' && embeddedSigningURL)
                {
                    Swal2.hideLoading();
                    let html = '' +
                        '<div style="padding: 20px;">' +
                        '    <div id="everSign"></div>' +
                        '</div>';
                    Swal2({
                        html: html,
                        grow: 'fullscreen',
                        animation: false,
                        customClass: 'animate fadeInDown faster',
                        showConfirmButton: false,
                        allowOutsideClick: false,
                        onBeforeOpen: () => {
                            Swal2.showLoading();
                            eversign.open({
                                url: embeddedSigningURL,
                                containerID: 'everSign',
                                width: '100%',
                                height: 600,
                                events: {
                                    loaded: function () {
                                        Swal2.hideLoading();
                                    },
                                    signed: function () {
                                        v.saveEverSignSignedDocument();
                                    },
                                    declined: function () {
                                        Swal2.close();
                                        v.cancelEverSignDocument();
                                    },
                                    error: function () {
                                        v.cancelEverSignDocument();
                                        window.location += '#oes';
                                        location.reload();
                                    }
                                }
                            });
                        }
                    });
                }
                else
                {
                    let sRoute = route('signature.gateway', [v.transactionID, v.bagIDString, signatureAPI]).url();
                    axios.get(sRoute).then((r) => {
                        console.log({
                            SignatureGatewayResponse: r,
                        });
                        switch (signatureAPI)
                        {
                            case 'DocuSign':
                                window.location.href = "https://account.docusign.com/oauth/auth?response_type=code&scope=signature&client_id=62a70dcd-a5a8-4886-aa27-5f03c8d713ee&redirect_uri="+route('signature.getDocuSignAuth').url();
                                break;
                            case 'EverSign':
                                axios.get(route('signature.everSign').url()).then((r) => {
                                    console.log({
                                        EverSignSignatureResponse: r,
                                    });
                                    if(r.data.status == 'success')
                                    {
                                        Swal2.hideLoading();
                                        let embedded_signing_url = r.data.signing_url;
                                        let html = '' +
                                            '<div style="padding: 20px;">' +
                                            '    <div id="everSign"></div>' +
                                            '</div>';
                                        Swal2({
                                            html: html,
                                            grow: 'fullscreen',
                                            animation: false,
                                            customClass: 'animate fadeInDown faster',
                                            showConfirmButton: false,
                                            allowOutsideClick: false,
                                            onBeforeOpen: () => {
                                                Swal2.showLoading();
                                                eversign.open({
                                                    url: embedded_signing_url,
                                                    containerID: 'everSign',
                                                    width: '100%',
                                                    height: 600,
                                                    events: {
                                                        loaded: function () {
                                                            Swal2.hideLoading();
                                                        },
                                                        signed: function () {
                                                            v.saveEverSignSignedDocument();
                                                        },
                                                        declined: function () {
                                                            Swal2.close();
                                                            v.cancelEverSignDocument();
                                                        },
                                                        error: function () {
                                                            location.reload();
                                                        }
                                                    }
                                                });
                                            }
                                        });
                                    }
                                    else if(r.data.status == 'fail') genericError(r.data.message);
                                    else genericError();
                                }).catch((err) => {
                                    console.log({
                                        EverSignSignatureError: err,
                                    });
                                });
                                break;
                            default:
                                window.location.href = "https://account.docusign.com/oauth/auth?response_type=code&scope=signature&client_id=62a70dcd-a5a8-4886-aa27-5f03c8d713ee&redirect_uri="+route('signature.getDocuSignAuth').url();
                                break;
                        }
                    }).catch((err) => {
                        console.log({
                            SignatureGatewayError: err,
                        });
                    });
                }
            },
            saveEverSignSignedDocument(){
                Swal2.close();
                genericLoading('Please be patient, this may take a few minutes.', 'Saving Document...');
                axios.get(route('saveEverSignSignedDocument').url()).then((r)=>{
                    if(r.data.status == 'success')
                    {
                        genericSuccess();
                        if(window.location.href.indexOf('#') !== -1)
                            window.location += 'show'+r.data.bagID;
                        else
                            window.location += '#show'+r.data.bagID;
                        location.reload();
                    }
                    else if(r.data.status == 'fail') genericError(r.data.message);
                    else genericError();
                });
            },
            cancelEverSignDocument(){
                axios.post(route('cancelEverSignDocument').url(),{
                    transactionID: this.transactionID,
                    documentCode: this.documentCode,
                    bagIDString: this.bagIDString,
                }).then((r) => {
                    if(r.data.status == 'success')
                    {
                        genericSuccess('Document successfully canceled.',0);
                        location.reload();
                    }
                    else if (r.data.status == 'fail') genericError(r.data.message);
                    else genericError();
                });
            },
            signerAddRemove(role,signerID){
                this.signersEnabled = false;
                axios.post(route('signerAddRemove').url(), {
                    ID      : signerID,
                    role    : role,
                    bagID   : this.number,
                }).then((r) => {
                    console.log({
                        signerAddRemoveResponse: r,
                    });
                    if(r.data.status == 'success')
                    {
                        genericSuccessToast(r.data.message);
                        this.$root.$emit('getBagListDocuments', this.bagKey);
                    }
                    else if(r.data.status == 'fail') genericError(r.data.message);
                    else genericError();
                }).catch((err) => {
                    console.log({
                        signerAddRemoveError: err,
                    });
                });
            },
            markBagDocumentAsCompleteIncomplete(lk_ID){
                lk_ID = parseInt(lk_ID);
                axios.post(route('markBagDocumentAsCompleteIncomplete').url(), {
                    lk_ID: lk_ID,
                }).then((r)=>{
                    console.log({
                        markBagDocumentAsCompleteIncompleteResponse: r,
                    });
                    if(r.data.status == 'success')
                    {
                        genericSuccessToast(r.data.message);
                        this.$root.$emit('getBagListDocuments', this.bagKey)
                    }
                    else if (r.data.status == 'fail') genericError(r.data.message);
                    else genericError();
                }).catch((err) => {
                    console.log({
                        markBagDocumentAsCompleteIncompleteError: err,
                    });
                });
            },
            viewDocumentBagShare(){
                window.location.href = route('documentBagShareView', [
                    this.transactionID,
                    this.documentCode
                ]) + this.number;
            },
            viewDocumentPermissionTable(){
                this.routeTo(route('documentPermissionTable', [this.transactionID, this.documentCode]));
            },
            viewSummary(){
                this.routeTo(route('transactionSummary.timeline', [this.transactionID]).url());
            },
            toggleUploadDocument(){
                $('.uploadDocumentModal').modal('toggle');
            },
            returnToAllDocuments(){
                this.routeTo(route('transactionSummary.documents',[this.transactionID]).url());
            },
            editTransaction(){
                this.routeTo(route('transaction.editDetails').url());
            },
            routeTo(url){
                this.$store.dispatch('setTransaction', this.transactionID);
                this.$store.dispatch('__redirect', {
                    url: url,
                    waitFor: [
                        'setTransaction',
                        'fetchDaysUntilClose',
                        'fetchLookupTables',
                    ],
                });
            },
            signDocument(){
                genericLoading('Loading...');
                /**
                 * If you want to add more files, add their numbers to bagIDString and delimit with (.)
                 * Example: 12.13 will fetch bag IDs 12 and 13.
                 * For now we do not have a UI or a determination on what that functionality will look like.
                 **/
                this.bagIDString = this.number;
                axios.post(route('checkDocumentExistence').url(),{
                    documentCode: this.documentCode,
                    bagIDString: this.bagIDString,
                    transactionID: this.transactionID,
                }).then((r) => {
                    console.log({
                        signDocumentResponse: r,
                    });
                    let continuePreviousDocument = false;
                    let embeddedSigningURL = null;
                    if(r.data.status == 'found')
                    {
                        continuePreviousDocument = true;
                        embeddedSigningURL = r.data.signingURL;
                    }
                    Swal2.hideLoading();
                    let v = this;
                    let html =
                        '<div class="row">' +
                        '    <div class="col-xs-12 col-sm-6">' +
                        '        <button id="docuSignButton" class="btn-v2 btn-teal">Use your DocuSign</button>' +
                        '    </div>' +
                        '    <div class="col-xs-12 col-sm-6">' +
                        '        <button id="everSignButton" class="btn-v2 btn-teal">Sign with Offer To Close</button>' +
                        '    </div>' +
                        '</div>';

                    Swal2({
                        title: 'Please Select a Signature Platform',
                        html: html,
                        showCloseButton: true,
                        showCancelButton: true,
                        showConfirmButton: false,
                        animation: false,
                        customClass: 'animated fadeInDown faster',
                        onBeforeOpen: () => {
                            $('#docuSignButton').off().on('click',function () {
                                v.sign('DocuSign');
                            });

                            $('#everSignButton').off().on('click',function () {
                                if(continuePreviousDocument) v.sign('EverSign', embeddedSigningURL);
                                else v.sign('EverSign')
                            });
                        },
                    });
                }).catch((err) => {
                    console.log({
                        signDocumentError: err,
                    });
                });
            },
        },
        ready(){
            this.token = this.passedToken;
        },
        mounted(){
            /**
             * This is passed in as a prop through the bagView.blade.php file
             * so it must be json_encoded server side and then decoded here.
             */
            this.permissionsObject = JSON.parse(this.permissions);
            this.$root.$on('enableSigners', ()=>{
                this.signersEnabled = true;
            });

            this.$root.$on('openSignatureModal', () => {
                if(this.permissionsObject.s) this.signDocument();
                else genericWarning('You do not have permission to sign this document.');
            });

            this.$root.$on('splitUISelectedPages', data => {
                this.selectedPages = data;
            });
        },
    }
</script>

<style scoped>

    .splitUIControls{
        float: right;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        height: 60px;
    }

    .splitUIControls button{
        margin-right:10px;
    }

    .splitUIInfo{
        font-size: 15px;
    }

    .splitUIInfo h3{
        font-size: 20px;
        color: #928d8d;
    }

    .versionContainer{
        margin-bottom: 10px;
    }

    .currentVersion.otherVersions{
        font-size: 15px;
    }

    .wholeArea{
        width: 80%;
        margin: 0 auto;
    }
    .documentArea{
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        background:white;
        padding:20px;
    }
    .documentNameArea h2{
        font-size: 20px;
        font-weight: bold;
    }
    .documentViewArea{
        border-top: solid #eeeeee 10px;
        border-bottom: solid #eeeeee 10px;
        border-left:solid #eeeeee 20px;
        border-right:solid #eeeeee 25px;
    }
    .belowDocumentViewInfo{
        background: #eeeeee;
        padding:20px;
    }

    .documentOptionsArea{
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        background:white;
        padding:20px;
    }

    .documentListViewArea{
        margin-top: 50px;
        
    }

    .optionsItem{
        margin-top: 16px;
        display:inline-block;
        margin-left: 5px;
    }
    
    .optionsItem h4{
        color: #cacacb;
    }

    .optionsItemDetails{
        margin-left:19px;
        margin-top: 7px;
    }

    .divisor{
        width: 80%;
        margin: 0 auto;
        height: 3px;
        border-bottom: solid 1px #ccc;
        margin-top:20px;
    }

    .avatarImage{
        border-radius: 50%;
        vertical-align: middle;
        height: 30px;
        width: 30px;
    }

    .signedByDetails ul li{
        list-style: none;
    }

    .signedByDetails h3{
        font-size: 15px;
    }

    .signedByDetails p{
        font-size: 12px;
        margin-left: 10px;
    }

    .optionsClick{
        cursor: pointer;
    }
    
    .fa-check-square, .fa-square{
        cursor: pointer;
    }


</style>