<template>
    <div>
        <upload-document v-if="isMounted && canUpload"
                         :signers-prop="documentSigners"
                         :passed-token="token"
                         :lk-prop="lk_ID"
                         :key="lk_ID"
                         :transaction-i-d-prop="tID"
                         :upload-document-route-prop="uploadDocumentRoute"
                         :get-signature-route-prop="getFilestackSignatureRoute"
                         :get-required-signers-route="getRequiredSignersRoute"
                         :document-code="documentCode"
                         :search-person-route="searchPersonRoute"
                         :get-agent-info-route="getAgentInfoRoute"
                         :save-agent-data-route="saveAgentDataRoute"
                         :save-buyer-data-route="saveBuyerDataRoute"
                         :save-seller-data-route="saveSellerDataRoute">
        </upload-document >
        <div id="documents" class="tab-content">
            <div class="document-wrapper">
                <div class="docs-actions">
<!--                    <div v-if="!consumer && !agent && !tc" class="action-item docs-filler"></div>-->
<!--                    <div v-if="!accordionView && !consumer && !agent && !tc" class="action-item docs-search">-->
<!--                        <form class="docs-search-wrap">-->
<!--                            <input v-model="search" id="documentSearch" type="text" class="search-input" placeholder="Search for a Document">-->
<!--                            <button type="submit" class="search-submit"><i class="fas fa-search"></i></button>-->
<!--                        </form>-->
<!--                    </div>-->
                    <div v-if="consumer || agent || tc">
                        <div class="clearfix doc-heading-section" id="ConsumerDocumentsControls">
                            <!--<h3 class="d-inline-block pb-3" style="padding-bottom: 30px;">DOCUMENTS</h3>-->
                            <div class="float-lg-right float-right" id="CS-sorting-dropdown">
                                <!--
                                <div class="dropdown d-inline-block">
                                    <button class="btn dropdown-toggle active documentControlButtons" data-toggle="dropdown">Type <i class="fas fa-caret-down"></i></button>
                                    <div class="dropdown-menu py-0 controls-dropdown">
                                        <a v-on:click="addFilter('DocumentCategory', category)" v-for="category in documentCategories" :class="filters.DocumentCategory.includes(category) ? 'dropdown-item light-blue-background' : 'dropdown-item'" href="#/">{{category}}</a>
                                    </div>
                                </div>
                                -->
                                <div class="dropdown d-inline-block">
                                    <button class="btn dropdown-toggle documentControlButtons white-background hov-teal-bg" data-toggle="dropdown">View <i class="fas fa-caret-down"></i></button>
                                    <div class="dropdown-menu py-0 controls-dropdown">
                                        <a class="dropdown-item dropdown-item-header">View</a>
                                        <a class="dropdown-item" href="#" v-on:click.prevent="accordionView = false"><i v-if="!accordionView" class="far fa-check-circle"></i>  Alpha</a>
                                        <a class="dropdown-item" href="#" v-on:click.prevent="accordionView = true"><i v-if="accordionView" class="far fa-check-circle"></i>  Category</a>
                                        <a class="dropdown-item dropdown-item-header">Document Categories</a>
                                        <a
                                                v-on:click.prevent="addFilter('DocumentCategory', category)"
                                                v-for="category in documentCategories"
                                                class="dropdown-item"
                                                href="#"
                                        >
                                            <i v-if="filters.DocumentCategory.includes(category)" class="far fa-check-circle"></i>  {{category}}
                                        </a>
                                    </div>
                                </div>
                                <div class="dropdown d-inline-block">
                                    <button class="btn dropdown-toggle documentControlButtons white-background hov-teal-bg" data-toggle="dropdown">Sort <i class="fas fa-caret-down"></i></button>
                                    <div class="dropdown-menu py-0 controls-dropdown">
                                        <a class="dropdown-item" href="#" v-on:click.prevent="sortDocuments('az')"><i v-if="latestSortRule == 'az'" class="far fa-check-circle"></i>  A-Z</a>
                                        <a class="dropdown-item" href="#" v-on:click.prevent="sortDocuments('za')"><i v-if="latestSortRule == 'za'" class="far fa-check-circle"></i>  Z-A</a>
                                        <a class="dropdown-item" href="#" v-on:click.prevent="sortDocuments('date_desc')"><i v-if="latestSortRule == 'date_desc'" class="far fa-check-circle"></i>  Due Date <i class="fas fa-arrow-down"></i></a>
                                        <a class="dropdown-item border-0" href="#" v-on:click.prevent="sortDocuments('date_asc')"><i v-if="latestSortRule == 'date_asc'" class="far fa-check-circle"></i>  Due Date <i class="fas fa-arrow-up"></i></a>
                                    </div>
                                </div>

                                <div class="dropdown d-inline-block" id="CS-filter-button">
                                    <button class="btn dropdown-toggle documentControlButtons white-background hov-teal-bg" data-toggle="dropdown" >Filter <i class="fas fa-caret-down"></i></button>
                                    <div class="dropdown-menu py-0 controls-dropdown">
                                        <a class="dropdown-item" href="#" v-on:click.prevent="addFilter('isIncluded', true)"><i v-if="filters.isIncluded === true" class="far fa-check-circle"></i>  Required</a>
                                        <a class="dropdown-item" href="#" v-on:click.prevent="addFilter('isIncluded', false)"><i v-if="filters.isIncluded === false" class="far fa-check-circle"></i>  Optional</a>
                                        <a class="dropdown-item" href="#" v-on:click.prevent="addFilter('DateCompleted', true)"><i v-if="filters.DateCompleted === true" class="far fa-check-circle"></i>  Complete</a>
                                        <a class="dropdown-item" href="#" v-on:click.prevent="addFilter('DateCompleted', false)"><i v-if="filters.DateCompleted === false" class="far fa-check-circle"></i>  Incomplete</a>
                                        <a class="dropdown-item" href="#" v-on:click.prevent="addFilter('hasViewableUploaded', true)"><i v-if="filters.hasViewableUploaded === true" class="far fa-check-circle"></i>  Has Uploaded</a>
                                        <a class="dropdown-item border-0" href="#" v-on:click.prevent="addFilter('hasViewableUploaded', false)"><i v-if="filters.hasViewableUploaded === false" class="far fa-check-circle"></i>  No Uploaded</a>
                                    </div>
                                </div>
                            </div>
                            <div class="pr-0 mt-4" style="border-bottom: solid 1px #ccc;padding-bottom: 30px;">
                                <form id="CS-search-box" class="doc-search-box">
                                    <div class="input-group mb-3">
                                        <input type="text" class="form-control" v-model="search" placeholder="Search Documents">
                                        <div class="input-group-append">
                                            <button class="btn rounded-left red-button search-button" type="button"><i class="fas fa-search"></i></button>
                                            <button class="btn mt-n1 add red-button add-doc-button float-right" type="button" v-on:click="addDocument()"><i class="fas fa-plus"></i> ADD A DOCUMENT</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
<!--                    <div v-else class="action-item docs-sorting">-->
<!--                        <ul class="list-sort">-->
<!--                            <li class="sort-item">-->
<!--                                <a v-on:click="addDocument()" href="#">-->
<!--                                    <i class="fas fa-plus-circle"></i>-->
<!--                                </a>-->
<!--                            </li>-->
<!--                            <li class="sort-item">-->
<!--                                <a v-on:click="changeView($event,false)" href="#">-->
<!--                                    <i class="fas fa-sort-alpha-down"></i>-->
<!--                                </a>-->
<!--                            </li>-->
<!--                            <li class="sort-item">-->
<!--                                <a v-on:click="changeView($event,true)" href="#">-->
<!--                                    <i class="fas fa-list-ul"></i>-->
<!--                                </a>-->
<!--                            </li>-->
<!--                        </ul>-->
<!--                    </div>-->
                </div>
                <div  class="document-listing">
                    <div v-if="consumer || agent || tc">
                        <div id="ConsumerDocuments" class="row my-5 doc-atoz-content" style="margin: 0 auto;">
                            <div v-if="accordionView" class="col-sm-12">
                                <v-expansion-panel
                                    v-model="accordionViewOpenPanelIndex"
                                >
                                    <v-expansion-panel-content
                                        v-for="(category,key) in documentCategories"
                                        :key="key"
                                        expand-icon=""
                                        v-if="(filters.DocumentCategory.includes(category) && filters.DocumentCategory.length > 0) || filters.DocumentCategory.length == 0"
                                    >
                                        <template v-slot:header>
                                            <div class="accordion-trigger">
                                                <h4 v-if="category == 'oth'" class="acc-title">Other</h4>
                                                <h4 v-else class="acc-title">{{category}}
                                                    <i v-if="accordionViewOpenPanelIndex == key" class="fas fa-minus float-right"></i>
                                                    <i v-else class="fas fa-plus float-right"></i>
                                                </h4>
                                            </div>
                                        </template>
                                        <v-data-iterator
                                                :items="filteredDocuments"
                                                :search="search"
                                                :hide-default-footer="true"
                                                :hide-actions="true"
                                        >
                                            <template v-slot:item="docs">
                                                <div v-if="docs.item.DocumentCategory == category" class="col-xs-12 col-sm-6 card-container">
                                                    <div class="card">
                                                        <div class="card-header py-0 pr-2 border-0 bg-white">
                                                            <a href="#/" class="dropdown-toggle doc-ellipsis-menu"  data-toggle="dropdown"><i class="fas fa-ellipsis-h"></i></a>
                                                            <div class="dropdown-menu controls-dropdown py-0">
                                                                <a :href="documentShareViewUrl([transactionID, docs.item.Code, '0'])" v-if="areAnyUploadedFilesViewable(docs.item) || docs.item.Permissions.o" class="dropdown-item">Share</a>
                                                                <a v-if="canView(docs.item)" class="dropdown-item" href="#/" v-on:click="openDocumentBag(docs.item.Code)">View</a>
                                                                <a v-if="docs.item.Permissions.o || docs.item.Permissions.u" class="dropdown-item" href="#/" v-on:click="setupUploadDocument(docs.item)">Upload File</a>
                                                                <a class="dropdown-item" href="#/" v-on:click="markDocumentAsCompleteIncomplete(docs.item.lk_ID)">{{ docs.item.DateCompleted ? 'Mark as Incomplete' : 'Mark as Complete'}}</a>
                                                                <a class="dropdown-item" v-for="(hap,i) in docs.item.Haps" v-on:click="functionCallHandler(hap['__FUNCTION__'], hap)">{{i}}</a>
                                                            </div>
                                                        </div>
                                                        <div class="card-body pl-3 pr-0 pt-0 pb-1">
                                                            <a href="#/">
                                                                <img v-on:click="clickedDocImage(docs.item)" v-if="docs.item.DateCompleted" :src="getHostUrl() + 'images/document-complete.png'" class="img-responsive float-left">
                                                                <img v-on:click="clickedDocImage(docs.item)" v-else :src="getHostUrl() + 'images/document.png'" class="img-responsive float-left">
                                                            </a>
                                                            <a href="#/" class="text-decoration-none"><h4 class="card-title">{{docs.item.Description}}</h4></a>
                                                            <div v-if="!areAnyUploadedFilesViewable(docs.item)">
                                                                <button v-if="docs.item.Permissions.o || docs.item.Permissions.u"  v-on:click="setupUploadDocument(docs.item)" class="btn upload-button">Browse to Upload Document</button>
                                                                <button v-else class="btn upload-button" disabled>Browse to Upload Document</button>
                                                            </div>
                                                            <p v-else class="card-text mt-0">last upload by {{docs.item.UploadedDocuments[0].name}}<br>{{formatDate(docs.item.UploadedDocuments[0].DateCreated)}}</p>
                                                        </div>
                                                        <div class="card-footer border-0 bg-white pt-0 pb-1 pl-2">
                                                            <a href="#/">
                                                                <i class="fas fa-info-circle"></i>
                                                                {{docs.item.isIncluded == 1 ? 'Required' : 'Optional'}}
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </template>
                                        </v-data-iterator>
                                    </v-expansion-panel-content>
                                </v-expansion-panel>
                            </div>
                            <div v-else class="col-sm-12">
                                <v-data-iterator
                                        :items="filteredDocuments"
                                        :search="search"
                                        :hide-default-footer="true"
                                        :hide-actions="true"
                                >
                                    <template v-slot:item="docs">
                                        <div class="col-xs-12 col-sm-6 card-container">
                                            <div class="card">
                                                <div class="card-header py-0 pr-2 border-0 bg-white">
                                                    <a href="#/" class="dropdown-toggle doc-ellipsis-menu"  data-toggle="dropdown"><i class="fas fa-ellipsis-h"></i></a>
                                                    <div class="dropdown-menu controls-dropdown py-0">
                                                        <a :href="documentShareViewUrl([transactionID, docs.item.Code, '0'])" v-if="areAnyUploadedFilesViewable(docs.item) || docs.item.Permissions.o" class="dropdown-item">Share</a>
                                                        <a v-if="canView(docs.item)" class="dropdown-item" href="#/" v-on:click="openDocumentBag(docs.item.Code)">View</a>
                                                        <a v-if="docs.item.Permissions.o || docs.item.Permissions.u" class="dropdown-item" href="#/" v-on:click="setupUploadDocument(docs.item)">Upload File</a>
                                                        <a class="dropdown-item" href="#/" v-on:click="markDocumentAsCompleteIncomplete(docs.item.lk_ID)">{{ docs.item.DateCompleted ? 'Mark as Incomplete' : 'Mark as Complete'}}</a>
                                                        <a class="dropdown-item" v-for="(hap,i) in docs.item.Haps" v-on:click="functionCallHandler(hap['__FUNCTION__'], hap)">{{i}}</a>
                                                        <a v-if="!areAnyUploadedFilesViewable(docs.item)"  href="#/" v-on:click="deleteDocument(docs.item.lk_ID)">Delete</a>
                                                    </div>
                                                </div>
                                                <div class="card-body pl-3 pr-0 pt-0 pb-1">
                                                    <a href="#/">
                                                        <img v-on:click="clickedDocImage(docs.item)" v-if="docs.item.DateCompleted" :src="getHostUrl() + 'images/document-complete.png'" class="img-responsive float-left">
                                                        <img v-on:click="clickedDocImage(docs.item)" v-else :src="getHostUrl() + 'images/document.png'" class="img-responsive float-left">
                                                    </a>
                                                    <a href="#/" class="text-decoration-none"><h4 class="card-title">{{docs.item.Description}}</h4></a>
                                                    <div v-if="!areAnyUploadedFilesViewable(docs.item)">
                                                        <button v-if="docs.item.Permissions.o || docs.item.Permissions.u"  v-on:click="setupUploadDocument(docs.item)" class="btn upload-button">Browse to Upload Document</button>
                                                        <button v-else class="btn upload-button" disabled>Browse to Upload Document</button>
                                                    </div>
                                                    <p v-else class="card-text mt-0">last upload by {{docs.item.UploadedDocuments[0].name}}<br>{{formatDate(docs.item.UploadedDocuments[0].DateCreated)}}</p>
                                                </div>
                                                <div class="card-footer border-0 bg-white pt-0 pb-1 pl-2">
                                                    <a href="#/">
                                                        <i class="fas fa-info-circle"></i>
                                                        {{docs.item.isIncluded == 1 ? 'Required' : 'Optional'}}
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </template>
                                </v-data-iterator>
                            </div>
                        </div>
                    </div>
                    <div v-else>
                        <div v-if="accordionView" class="accordions">
                            <div class="accordion-item">
                                <v-expansion-panel
                                    v-model="accordionViewOpenPanelIndex"
                                >
                                    <v-expansion-panel-content
                                            v-for="(docsInCategory,key) in documentsByCategory"
                                            :key="key"
                                            expand-icon=""
                                    >
                                        <template v-slot:header>
                                            <div class="accordion-trigger">
                                                <h4 v-if="docsInCategory[0].Category == 'oth'" class="acc-title">Other</h4>
                                                <h4 v-else class="acc-title">{{docsInCategory[0].DocumentCategory}}</h4>
                                            </div>
                                        </template>
                                        <div class="table-wrap">
                                            <table class="table">
                                                <thead>
                                                <tr>
                                                    <th></th>
                                                    <th>Document Name</th>
                                                    <th>Status</th>
                                                    <th>Actions</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr class="docs-item" v-for="(docs,i) in docsInCategory">
                                                    <td class="item">{{ docs.isIncluded == 1 ? 'Required' : 'Optional' }}</td>
                                                    <td class="text-xs-right item">
                                                        {{ docs.Description }}
                                                        <i v-if="(docs.UploadedDocuments.length > 0) && (countUploadedDocumentsVisible(docs.UploadedDocuments) > 0)" class="fas fa-file-alt teal file-quantity" v-on:click="openDocumentBag(docs.Code)"></i>
                                                    </td>
                                                    <td class="text-xs-right item">
                                                        <span v-if="docs.DateCompleted" class="green">Completed</span>
                                                        <span v-else class="red">Incomplete</span>
                                                    </td>
                                                    <td class="text-xs-right item">
                                                        <i style="color: #21d7d1; font-size: 20px;" class="fas fa-caret-down dropdown-toggle text-center" v-bind:id="'dropdownMenuButton'+docs.lk_ID" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
                                                        <div class="dropdown-menu" v-bind:aria-labelledby="'dropdownMenuButton'+docs.lk_ID">
                                                            <div v-if="docs.Permissions.o || docs.Permissions.u" v-on:click="setupUploadDocument(docs)">
                                                                Upload Document
                                                            </div>
                                                            <div v-else class="deactivated-noevents">Upload</div>
                                                            <div v-if="(docs.Permissions && !isUploadOnly(docs.Permissions)) || (countUploadedDocumentsVisible(docs.UploadedDocuments) > 0)" v-on:click="openDocumentBag(docs.Code)">
                                                                View
                                                            </div>
                                                            <div v-else class="deactivated-noevents">View</div>
                                                            <div v-on:click="deleteDocument(docs.lk_ID)">Delete</div>
                                                            <div v-on:click="markDocumentAsCompleteIncomplete(docs.lk_ID)">{{docs.DateCompleted ? 'Mark as Incomplete' : 'Mark as Complete'}}</div>
                                                            <div v-for="(hap,i) in docs.Haps">
                                                                <div v-on:click="functionCallHandler(hap['__FUNCTION__'], hap)">{{i}}</div>
                                                            </div>

                                                        </div>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </v-expansion-panel-content>
                                </v-expansion-panel>
                            </div>
                        </div>
                        <div v-else class="table-wrap">
                            <v-data-table
                                    :headers="headers"
                                    :items="documents"
                                    :search="search"
                                    class="elevation-1"
                                    :pagination.sync="pagination"
                                    :loading="loading"
                                    :hide-actions="hideActions"
                            >
                                <template v-slot:items="docs">
                                    <tr class="docs-item">
                                        <td class="item">{{ docs.item.isIncluded == 1 ? 'Required' : 'Optional' }}</td>
                                        <td class="text-xs-right item">
                                            {{ docs.item.Description }}
                                            <i v-if="(docs.item.UploadedDocuments.length > 0) && (countUploadedDocumentsVisible(docs.item.UploadedDocuments))" class="fas fa-file-alt teal file-quantity" v-on:click="openDocumentBag(docs.item.Code)"></i>
                                        </td>
                                        <td class="text-xs-right item">
                                            <span v-if="docs.item.DateCompleted" class="green">Completed</span>
                                            <span v-else class="red">Incomplete</span>
                                        </td>
                                        <td class="text-xs-right item">
                                            <i style="color: #21d7d1; font-size: 20px;" class="fas fa-caret-down dropdown-toggle text-center" v-bind:id="'dropdownMenuButton'+docs.item.lk_ID" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
                                            <div class="dropdown-menu" v-bind:aria-labelledby="'dropdownMenuButton'+docs.item.lk_ID">
                                                <div v-if="docs.item.Permissions.o || docs.item.Permissions.u" v-on:click="setupUploadDocument(docs.item)">
                                                    Upload Document
                                                </div>
                                                <div v-else class="deactivated-noevents">Upload</div>
                                                <div v-if="(docs.item.Permissions && !isUploadOnly(docs.item.Permissions)) || (countUploadedDocumentsVisible(docs.item.UploadedDocuments) > 0)" v-on:click="openDocumentBag(docs.item.Code)">
                                                    View
                                                </div>
                                                <div v-else class="deactivated-noevents">View</div>
                                                <div v-on:click="markDocumentAsCompleteIncomplete(docs.item.lk_ID)">{{docs.item.DateCompleted ? 'Mark as Incomplete' : 'Mark as Complete'}}</div>
                                                <div v-for="(hap,i) in docs.item.Haps">
                                                    <div v-on:click="functionCallHandler(hap['__FUNCTION__'], hap)">{{i}}</div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </template>
                            </v-data-table>
                        </div>
                    </div>
                </div><!-- end document listing -->
            </div>
        </div>
        <add-document
            ref="AddDocumentModal"
            :transaction-i-d="transactionID"
        >
        </add-document>
    </div>
</template>

<script>
    import UploadDocument from './UploadDocument';
    import moment from 'moment';
    import _ from 'lodash';

    export default {
        components: {
            UploadDocument,
            moment,
            _
        },
        computed:{
            consumer(){
                return this.userRole == 'h' || this.userRole == 'b' || this.userRole == 's';
            },
            agent(){
                return this.userRole == 'a' || this.userRole == 'ba' || this.userRole == 'sa';
            },
            tc(){
                return this.userRole == 'tc' || this.userRole == 'btc' || this.userRole == 'stc';
            },
            aux(){
                return this.userRole == 'e' || this.userRole == 'l' || this.userRole == 't' || this.userRole == 'aux';
            }
        },
        props: {
            getDocumentsRoute :{
                String,
                default: null,
            },
            startProp: {
                String,
                default: 'Test',
            },
            token: {
                String,
                default: null,
            },
            transactionID: {
                String,
                default: null,
            },
            getRequiredSignersRoute: {
                String,
                default:null,
            },
            getFilestackSignatureRoute: {
                String,
                default: null,
            },
            uploadDocumentRoute: {
                String,
                default: null,
            },
            openDocumentBagRoute: {
                String,
                default: null,
            },
            markDocumentCompleteIncompleteRoute: {
                String,
                default: null,
            },
            deleteDocumentRoute: {
                String,
                default: null,
            },
            searchPersonRoute: {
                String,
                default: null,
            },
            getAgentInfoRoute: {
                String,
                default: null,
            },
            saveAgentDataRoute: {
                String,
                default: null,
            },
            saveBuyerDataRoute: {
                String,
                default: null,
            },
            saveSellerDataRoute: {
                String,
                default: null,
            },
        },
        watch: {

        },
        data(){
            return {
                COMPONENT_NAME: 'Documents',
                booleanTrue: true,
                accordionView: false,
                documentSigners:null,
                canUpload: false,
                documentCode: null,
                lk_ID: 0,
                loading: true,
                hideActions: true,
                pagination: {
                    'sortBy': 'column2',
                    'alphabetical':'true',
                    'rowsPerPage': -1
                },
                search: '',
                documents: [],
                filteredDocuments: [],
                filters: {
                    DateCompleted: null,
                    isIncluded: null,
                    DocumentCategory: [],
                    hasViewableUploaded: null,
                },
                documentCategories: [],
                latestSortRule: 'az',
                documentsByCategory: [],
                propertyData: {},
                isMounted: false,
                userID: 0,
                userRole: null,
                userName: '',
                accordionViewOpenPanelIndex: 0,
                tID: this.transactionID,
                headers: [
                    {
                        text: '',
                        sortable: true,
                        value: 'isIncluded'
                    },
                    {
                        text: 'Document Name',
                        sortable: true,
                        value: 'Description'
                    },
                    {
                        text: 'Status',
                        sortable: true,
                        value: 'DateCompleted'
                    },
                    {
                        text: 'Actions',
                        sortable: false,
                    },
                ],
            }
        },
        methods: {
            clickedDocImage(doc){
                if (this.canView(doc)) this.openDocumentBag(doc.Code);
            },
            canView(doc){
                return (doc.Permissions && !this.isUploadOnly(doc.Permissions)) && this.areAnyUploadedFilesViewable(doc);
            },
            /**
             * This will return false is any of the following two conditions are met:
             * 1. There are no uploaded files to this document.
             * 2. None of the uploaded files to this document are shared with this user.
             **/
            areAnyUploadedFilesViewable(doc){
                let files       = doc.UploadedDocuments;
                let length      = files.length;
                let isVisible = false;
                if (length > 0)
                {
                    for (let i = 0; i < length; i++)
                    {
                        if (files[i].isVisible == true)
                            isVisible = true;
                    }
                }
                return isVisible;
            },
            sortDocuments(rule){
                let vueObject = this;
                function date_desc(a,b)
                {
                    let atime = new Date(a.DueDate).getTime();
                    let btime = new Date(b.DueDate).getTime();
                    if (atime < btime) {return 1}
                    if (atime > btime) {return -1}
                    return 0;
                }

                function date_asc(a,b)
                {
                    let atime = new Date(a.DueDate).getTime();
                    let btime = new Date(b.DueDate).getTime();
                    if (atime < btime) {return -1}
                    if (atime > btime) {return 1}
                    return 0;
                }

                switch (rule)
                {
                    case "az":
                        this.filteredDocuments = _.sortBy(this.filteredDocuments, 'Description');
                        this.latestSortRule = 'az';
                        break;
                    case "za":
                        this.filteredDocuments = _.sortBy(this.filteredDocuments, 'Description');
                        this.filteredDocuments = this.filteredDocuments.reverse();
                        this.latestSortRule = 'za';
                        break;
                    case 'date_desc':
                        this.filteredDocuments = this.filteredDocuments.sort((a,b) => date_desc(a,b));
                        this.latestSortRule = 'date_desc';
                        break;
                    case 'date_asc':
                        this.filteredDocuments = this.filteredDocuments.sort((a,b) => date_asc(a,b));
                        this.latestSortRule = 'date_asc';
                        break;
                }
            },
            filterDocuments(){
                let documents           = this.documents;
                $.each(this.filters, (type, val) => {
                    if (val !== null)
                    {
                        switch (type)
                        {
                            case 'DateCompleted':
                                if (val === false)
                                {
                                    documents = documents.filter(doc => doc[type] == null);
                                }
                                else if (val === true)
                                {
                                    documents = documents.filter(doc => doc[type] != null);
                                }
                                break;
                            case 'isIncluded':
                                if (val === false)
                                {
                                    documents = documents.filter(doc => parseInt(doc[type]) === 0);
                                }
                                else if (val === true)
                                {
                                    documents = documents.filter(doc => parseInt(doc[type]) === 1);
                                }
                                break;
                            case 'DocumentCategory':
                                let length = val.length;
                                if (length > 0)
                                {
                                    documents = documents.filter(doc => val.includes(doc.DocumentCategory));
                                }
                                break;
                            case 'hasViewableUploaded':
                                if (val === false)
                                {
                                    documents = documents.filter(doc => this.areAnyUploadedFilesViewable(doc) === false);
                                }
                                else if (val === true)
                                {
                                    documents = documents.filter(doc => this.areAnyUploadedFilesViewable(doc) === true);
                                }
                                break;
                        }
                    }
                });
                this.filteredDocuments = documents;
            },
            addFilter(type, value) {
                if ($.isArray(this.filters[type]))
                {
                    let index = this.filters[type].indexOf(value);
                    if (index > -1)
                    {
                        this.filters[type].splice(index,1);
                    }
                    else
                    {
                        this.filters[type].push(value);
                        this.filters[type] = uniqueValueArray(this.filters[type]);
                    }
                }
                else
                {
                    if (this.filters[type] === value) value = null;
                    this.filters[type] = value;
                }
                this.filterDocuments();
            },
            formatDate(dateTime){
                return moment(dateTime).format('MMMM D, YYYY @ h:mm a');
            },
            /**
             * This function is used to execute a function who's name is a variable.
             **/
            functionCallHandler(functionName, data){
                this[functionName](data);
            },
            _orderNHD(dataObject){
                console.log({
                    dataObject: dataObject,
                });
                let v = this;
                let provider = 'SnapNHD'; //this value will be set if selecting a provider from a list.
                axios.get(route('verifyReport', [this.transactionID, provider]).url()).then((r) => {
                    console.log({
                        verifyReportResponse: r,
                    });
                    let images = r.data.images;
                    let isComplete = r.data.isOrdered;
                    let orderType  = r.data.type || '';
                    provider = 'SnapNHD';
                    let snapNHD = {
                        standard: images.standard.available,
                        premium: images.premium.available,
                        types: {
                            standard: 'Standard',
                            premium: 'Premium'
                        },
                    };
                    let style = '';
                    if(isComplete)
                    {
                        style = 'display: none;';
                        if(orderType === 'standard')
                        {
                            snapNHD.premium = images.premium.disabled;
                            snapNHD.standard = images.standard.ordered;
                        }
                        else if(orderType === 'premium')
                        {
                            snapNHD.premium = images.premium.ordered;
                            snapNHD.standard = images.standard.disabled;

                        }
                    }
                    let modalHTML =
                        '<div class="row">\n' +
                        '    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">Order an NHD Report</div>\n' +
                        '    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">Provider: <span>'+provider+'</span></div>\n' +
                        '    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" style="position: relative;">' +
                        '       <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">\n' +
                        '           <img src="'+snapNHD.premium+'" style="width: 100%;height:100%; border: solid 1px #e7e7e7;border-radius: 10px;">\n' +
                        '       </div>\n' +
                        '       <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="position: absolute; bottom: -85%; left: 0;height: 100%;">' +
                        '           <button value="premium" id="orderPremium" style="'+style+' width: 60%;height:10%;margin: auto;" class="order-report">Order Report</button>' +
                        '       </div>' +
                        '    </div>' +
                        '    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" style="position: relative;">' +
                        '       <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">\n' +
                        '           <img src="'+snapNHD.standard+'" style="width: 100%;height: 100%; border: solid 1px #e7e7e7; border-radius: 10px;">\n' +
                        '       </div>\n' +
                        '       <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="position: absolute; bottom: -85%; left: 0; height: 100%;">' +
                        '           <button value="standard" id="orderStandard" style="'+style+' width: 60%;height:10%;margin: auto;" class="order-report">Order Report</button>' +
                        '       </div>' +
                        '    </div>' +
                        '</div>';

                    Swal2({
                        html:modalHTML,
                        width: '50%',
                        showConfirmButton: false,
                        showCancelButton: true,
                        onBeforeOpen: () =>{
                            const content   = Swal2.getContent();
                            const s$        = content.querySelector.bind(content);
                            let standard    = s$('#orderStandard');
                            let premium     = s$('#orderPremium');
                            function confirmOrder(orderType)
                            {
                                Swal2({
                                    title: 'Confirm Order',
                                    html: '' +
                                        '<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">' +
                                        '    Order Type: '+orderType+'' +
                                        '</div>' +
                                        '<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">' +
                                        '    Provider: '+provider+'' +
                                        '</div>',
                                    confirmButtonText: 'Yes, I want to order this report.',
                                    preConfirm: () => {
                                        Swal2.showLoading();
                                        axios.post(route('order.snapnhd').url(), {
                                            transactionID: v.transactionID,
                                            reportType: orderType,
                                        }).then((r) => {
                                            console.log({
                                                orderSnapNHDResponse: r,
                                            });
                                            let status = r.data.status || false;
                                            if (status === 'success') genericSuccess();
                                            else if (status === 'fail') genericError(r.data.message);
                                            else genericError();
                                        }).catch((err) => {
                                            console.log({
                                                orderSnapNHDError: err,
                                            });
                                            genericError(err);
                                        });
                                    },
                                });
                            }
                            standard.addEventListener('click',() =>{
                                confirmOrder(standard.value);

                            });
                            premium.addEventListener('click',() =>{
                                confirmOrder(premium.value);
                            });
                        },
                    });
                    }).catch((err) => {
                        console.log({
                            verifyReportError: err,
                        });
                });
            },
            /**
             * _uploadBlankDocument function is part of the haps structure and is used to add a blank copy of
             * document into the document bag. The user must have upload and read permissions to do this.
             */
            _uploadBlankDocument(dataObject){
                let data = dataObject['uploadblankdocument'].Data;
                if (data)
                {
                    //let route = correctVuexRouteURL(this.$store.getters.routeName('review.questionnaire'));
                    // if (route)
                    // {
                        let r = route('upload.blankDocument', [
                            this.transactionID,
                            data.DocumentLinkID,
                            data.DocumentCode
                        ]).url();
                        console.log({
                            route: r,
                        });
                        window.location.href = r;
                    // }
                }
            },
            /**
             * _fillOut function is used to process either using the questionnaire or formfiller to fill out a
             * specific document. If both are available then the user is asked which one they wish to use.
             **/
            _fillOut(dataObject){
                var vueObject = this;
                var filledFormData = {};
                this.propertyData.YearBuilt = this.propertyData.YearBuilt.toString();
                var additionalFormData = {
                    ...this.propertyData,
                    ...{NameFull: vueObject.userName},
                };

                function getQuestionnaireRoute(questionnaireID)
                {
                    let answerQuestionnaireRoute = correctVuexRouteURL(vueObject.$store.getters.routeName('answer.questionnaire'));
                    if(!answerQuestionnaireRoute)
                    {
                        genericError('Route not found. Error code: fill-out-doc-001');
                    }
                    else
                    {
                        answerQuestionnaireRoute = answerQuestionnaireRoute.replace(':questionnaireID', questionnaireID);
                        answerQuestionnaireRoute = answerQuestionnaireRoute.replace(':transactionID', vueObject.tID);
                        answerQuestionnaireRoute = answerQuestionnaireRoute.replace(':type?', '');
                        answerQuestionnaireRoute = answerQuestionnaireRoute.replace(':key?', '');
                    }

                    return answerQuestionnaireRoute;
                }

                if (dataObject['formfiller'] && dataObject['questionnaire'])
                {
                    let route = getQuestionnaireRoute(dataObject['questionnaire']['Data'].QuestionnaireID);
                    let html = '' +
                        '<div class="row" id="fillOutDocument">' +
                        '    <div>' +
                        '       <p>' +
                        '           Please choose whether you would like to fill this document out yourself, or let us walk you ' +
                        '           through the questions. If you choose to fill the document out yourself' +
                        '           we will not save the explanations you write in the documents.' +
                        '       </p>' +
                        '    </div>' +
                        '    <div class="row" style="margin: 0 auto;" >' +
                        '        <div class="col-md-6 col-xs-12">' +
                        '             <button id="selfFill" class="btn-v2 btn-teal">I\'ll Fill It Out Myself</button>' +
                        '        </div>' +
                        '        <div class="col-md-6 col-xs-12">' +
                        '             <button id="wizard" class="btn-v2 btn-teal">Walk Me Through It</button>' +
                        '        </div>' +
                        '    </div>' +
                        '</div>';

                    Swal2({
                        title: 'Fill Out Document',
                        html: html,
                        showConfirmButton: false,
                        showCloseButton: true,
                        onBeforeOpen: function () {
                            $('#wizard').click(function () {
                                window.location.href = route;
                            });
                            $('#selfFill').click(function () {
                                if (window.DocSpring) {
                                    let html = '' +
                                        '<div style="width: 100%; height: 100%;">' +
                                        '   <div class="customFormArea">' +
                                        '   </div>' +
                                        '</div>';

                                    Swal2({
                                        html: html,
                                        width: '100%',
                                        showCloseButton: true,
                                        showConfirmButton: false,
                                        allowOutsideClick: false,
                                        animation: false,
                                        onBeforeOpen: () => {
                                            DocSpring.createVisualForm('.customFormArea', {
                                                templateId: dataObject['formfiller']['Data'].TemplateID,
                                                waitForPDF: true,
                                                defaultFormData: additionalFormData,
                                                focusFirstFieldOnLoad: false,
                                                showSignatureModalOnFocus: true,
                                                adjustHeaderOnScroll: false,
                                                showTermsOfServiceLink: false,
                                                pdfProcessingTitle: (template) =>
                                                    'Processing Document...',
                                                pdfProcessingMessage: (template) =>
                                                    'Please wait a few moments while we generate your PDF...',
                                                showPdfProcessingSpinner: true,
                                                onClearForm: function() {
                                                    //console.log('[Callback] Form was cleared');
                                                },
                                                onFieldFocus: function(field) {
                                                    //console.log('[Callback] Focussed field:', field.name);
                                                },
                                                onFieldBlur: function(field) {
                                                    //console.log('[Callback] Field lost focus:', field.name);
                                                },
                                                onFieldChange: function(field) {
                                                    var name = field.name,
                                                        value = field.value,
                                                        previousValue = field.previousValue;
                                                },
                                                onShowAcceptTerms: function() {
                                                    //console.log('[Callback]  "accept terms"');
                                                },
                                                onSubmit: function(formData) {
                                                    //console.log('[Callback] Form was submitted. Data:', formData);
                                                    filledFormData = formData;
                                                    console.log({
                                                        filledFormData: formData,
                                                    });
                                                },
                                                onSave: function (submissionId) {
                                                    //console.log('[Callback] Submission was saved:', submissionId);
                                                },
                                                onProcessed: function(data) {
                                                    // submissionId: string
                                                    // downloadURL: string
                                                    //console.log('[Callback] PDF was generated. Download at:', data.downloadURL);
                                                    genericLoading('Saving PDF...');
                                                    let saveFileRoute = correctVuexRouteURL(vueObject.$store.getters.routeName('transactionSummary.form.embedded.save'));
                                                    if(!saveFileRoute) genericError('Route not found. Error code: fill-out-doc-001');
                                                    axios.post(saveFileRoute, {
                                                        formData:           filledFormData,
                                                        transactionID:      vueObject.tID,
                                                        downloadURL:        data.downloadURL,
                                                        documentLinkID:     dataObject['formfiller']['Data'].DocumentLinkID,
                                                        documentShortName:  dataObject['formfiller']['Data'].DocumentShortName,
                                                        documentCode:       dataObject['formfiller']['Data'].DocumentCode,
                                                        templateID:         dataObject['formfiller']['Data'].TemplateID,
                                                    }).then( r => {
                                                        if (r.data.status == 'success') window.location.href = r.data.url;
                                                        else if(r.data.status == 'fail') genericError(r.data.message+' '+r.data.errorCode);
                                                        else genericError();
                                                    }).catch( err => {
                                                        genericError(err);
                                                    });
                                                    // $.ajax({
                                                    //     url: saveFileRoute,
                                                    //     method: 'POST',
                                                    //     data: {
                                                    //         formData:           filledFormData,
                                                    //         transactionID:      vueObject.tID,
                                                    //         downloadURL:        data.downloadURL,
                                                    //         documentLinkID:     dataObject['formfiller']['Data'].DocumentLinkID,
                                                    //         documentShortName:  dataObject['formfiller']['Data'].DocumentShortName,
                                                    //         documentCode:       dataObject['formfiller']['Data'].DocumentCode,
                                                    //         _token:             vueObject.token,
                                                    //         templateID:         dataObject['formfiller']['Data'].TemplateID,
                                                    //     },
                                                    //     success: function(r){
                                                    //         if (r.status == 'success') window.location.href = r.url;
                                                    //         else if(r.status == 'fail') genericError(r.message+' '+r.errorCode);
                                                    //         else genericError();
                                                    //     },
                                                    //     error: function(err){
                                                    //         console.log(err);
                                                    //     },
                                                    // });
                                                },
                                                onError: function(error) {
                                                    console.log('[Callback] Error:', error);
                                                }
                                            });
                                        },
                                    });
                                }
                            });
                        }
                    });
                }
                else if (dataObject['formfiller'])
                {
                    let html = '' +
                        '<div style="width: 100%; height: 100%;">' +
                        '   <div class="customFormArea">' +
                        '   </div>' +
                        '</div>';

                    Swal2({
                        html: html,
                        width: '100%',
                        showCloseButton: true,
                        showConfirmButton: false,
                        allowOutsideClick: false,
                        animation: false,
                        onBeforeOpen: () => {
                            DocSpring.createVisualForm('.customFormArea', {
                                templateId: dataObject['formfiller']['Data'].TemplateID,
                                waitForPDF: true,
                                defaultFormData: additionalFormData,
                                focusFirstFieldOnLoad: false,
                                showSignatureModalOnFocus: true,
                                adjustHeaderOnScroll: false,
                                showTermsOfServiceLink: false,
                                pdfProcessingTitle: (template) =>
                                    'Processing Document...',
                                pdfProcessingMessage: (template) =>
                                    'Please wait a few moments while we generate your PDF...',
                                showPdfProcessingSpinner: true,
                                onClearForm: function() {
                                    //console.log('[Callback] Form was cleared');
                                },
                                onFieldFocus: function(field) {
                                    //console.log('[Callback] Focussed field:', field.name);
                                },
                                onFieldBlur: function(field) {
                                    //console.log('[Callback] Field lost focus:', field.name);
                                },
                                onFieldChange: function(field) {
                                    var name = field.name,
                                        value = field.value,
                                        previousValue = field.previousValue;
                                },
                                onShowAcceptTerms: function() {
                                    //console.log('[Callback]  "accept terms"');
                                },
                                onSubmit: function(formData) {
                                    //console.log('[Callback] Form was submitted. Data:', formData);
                                    filledFormData = formData;
                                    console.log({
                                        filledFormData: formData,
                                    });
                                },
                                onSave: function (submissionId) {
                                    //console.log('[Callback] Submission was saved:', submissionId);
                                },
                                onProcessed: function(data) {
                                    // submissionId: string
                                    // downloadURL: string
                                    //console.log('[Callback] PDF was generated. Download at:', data.downloadURL);
                                    genericLoading('Saving PDF...');
                                    let saveFileRoute = correctVuexRouteURL(vueObject.$store.getters.routeName('transactionSummary.form.embedded.save'));
                                    if(!saveFileRoute) genericError('Route not found. Error code: fill-out-doc-001');
                                    axios.post(saveFileRoute, {
                                        formData:           filledFormData,
                                        transactionID:      vueObject.tID,
                                        downloadURL:        data.downloadURL,
                                        documentLinkID:     dataObject['formfiller']['Data'].DocumentLinkID,
                                        documentShortName:  dataObject['formfiller']['Data'].DocumentShortName,
                                        documentCode:       dataObject['formfiller']['Data'].DocumentCode,
                                        templateID:         dataObject['formfiller']['Data'].TemplateID,
                                    }).then( r => {
                                        if (r.status == 'success') window.location.href = r.url;
                                        else if(r.status == 'fail') genericError(r.message+' '+r.errorCode);
                                        else genericError();
                                    }).catch( err => {
                                        genericError(err);
                                        console.log(err);
                                    });
                                    // $.ajax({
                                    //     url: saveFileRoute,
                                    //     method: 'POST',
                                    //     data: {
                                    //         formData:           filledFormData,
                                    //         transactionID:      vueObject.tID,
                                    //         downloadURL:        data.downloadURL,
                                    //         documentLinkID:     dataObject['formfiller']['Data'].DocumentLinkID,
                                    //         documentShortName:  dataObject['formfiller']['Data'].DocumentShortName,
                                    //         documentCode:       dataObject['formfiller']['Data'].DocumentCode,
                                    //         _token:             vueObject.token,
                                    //         templateID:         dataObject['formfiller']['Data'].TemplateID,
                                    //     },
                                    //     success: function(r){
                                    //         if (r.status == 'success') window.location.href = r.url;
                                    //         else if(r.status == 'fail') genericError(r.message+' '+r.errorCode);
                                    //         else genericError();
                                    //     },
                                    //     error: function(err){
                                    //         console.log(err);
                                    //     },
                                    // });
                                },
                                onError: function(error) {
                                    console.log('[Callback] Error:', error);
                                }
                            });
                        },
                    });
                }
                else if (dataObject['questionnaire'])
                {
                    let route = getQuestionnaireRoute(dataObject['questionnaire']['Data'].QuestionnaireID);
                    if (route) window.location.href = route;
                }
                else
                {
                    Swal2({
                        type: 'warning',
                        text: 'You do not have permission to fill out this document.',
                    });
                }
            },
            addDocument(){
                if (this.$refs.AddDocumentModal)
                    this.$refs.AddDocumentModal.$emit('AddDocument__toggle');
            },
            countUploadedDocumentsVisible(uploadedDocuments){
                let visibleCount = 0;
                $.each(uploadedDocuments, (i,obj) => {
                    if(uploadedDocuments.hasOwnProperty(i))
                    {
                        if(obj['isVisible'] == true)
                        {
                            visibleCount++;
                        }
                        else if(parseInt(obj['UploadedByUsers_ID']) > 0)
                        {
                            if(obj['UploadedByUsers_ID'] == this.userID)
                            {
                                visibleCount++;
                            }
                        }
                    }
                });
                return visibleCount;
            },
            markDocumentAsCompleteIncomplete(lk_ID){
                // console.log('complete/incomplete document: ', lk_ID);
                lk_ID = parseInt(lk_ID);
                axios.post(this.markDocumentCompleteIncompleteRoute, {
                    lk_ID: lk_ID
                }).then((r)=>{
                    if(r.data.status == 'success')
                    {
                        Swal2({
                            toast: true,
                            text: r.data.message,
                            type: 'success',
                            showConfirmButton: false,
                            timer: 2000,
                            position: 'top-end',
                        }).then(()=>{
                            this.getDocuments();
                        });
                    }
                    else if (r.data.status == 'fail')
                    {
                        genericError(r.data.message);
                    }
                    else
                    {
                        genericError();
                    }
                });
            },
            deleteDocument(lk_ID){
                // console.log('delete document: ', lk_ID);
                lk_ID = parseInt(lk_ID);
                axios.post(this.deleteDocumentRoute, {
                    lk_ID: lk_ID
                }).then((r)=>{
                    if(r.data.status == 'success')
                    {
                        Swal2({
                            toast: true,
                            text: r.data.message,
                            type: 'success',
                            showConfirmButton: false,
                            timer: 2000,
                            position: 'top-end',
                        }).then(()=>{
                            this.getDocuments();
                        });
                    }
                    else if (r.data.status == 'fail')
                    {
                        genericError(r.data.message);
                    }
                    else
                    {
                        genericError();
                    }
                });
            },
            changeView(e,isAccordion){
                e.preventDefault();
                this.accordionView = isAccordion;
            },
            isUploadOnly(permissions){
                let uploadOnly = false;
                if(permissions)
                {
                    if(permissions.hasOwnProperty('u') && Object.keys(permissions).length == 1) uploadOnly = true;
                }
                return uploadOnly;
            },
            getDocuments(){
                genericLoading('Loading Documents...');
                console.log({
                    getDocumentsRoute: this.getDocumentsRoute,
                });
                axios.post(this.getDocumentsRoute, {
                    transactionID: this.tID
                }).then((r)=>{
                    console.log({
                        DocumentsResponse: r,
                    });
                    Swal2.close();
                    this.documents              = r.data.documents;
                    this.userID                 = r.data.userID;
                    this.userRole               = r.data.userRole;
                    this.documentsByCategory    = r.data.documentsByCategory;
                    this.documentSigners        = r.data.signers;
                    this.propertyData           = r.data.propertyData;
                    this.userName               = r.data.userName;
                    this.isMounted              = true;
                    this.loading                = false;
                    let vueObject               = this;
                    $.each(this.documentsByCategory, (i, arr) => {
                        if (arr[0].DocumentCategory)
                            vueObject.documentCategories.push(arr[0].DocumentCategory);
                    });
                    this.documentCategories = uniqueValueArray(this.documentCategories);
                    this.filterDocuments();
                }).catch((r) => {
                    console.log({
                        DocumentsErrorResponse: r,
                    })
                });
            },
            setupUploadDocument(thisDoc){
                this.canUpload      = true;
                this.documentCode   = thisDoc.Code;
                this.lk_ID          = thisDoc.lk_ID;
                let vueObject       = this;
                setTimeout(function(){
                    vueObject.toggleUploadDocumentModal();
                },500);
            },
            toggleUploadDocumentModal(){
                $('.uploadDocumentModal').modal();
            },
            openDocumentBag(documentCode){
                window.location.href= this.openDocumentBagRoute.replace(':dc', documentCode);
            },
            getHostUrl() {
                return getHostURL();
            },
            documentShareViewUrl(params){
                return route('documentBagShareView', params).url();
            },
        },
        mounted(){
            this.getDocuments();
            this.$root.$on('updateDocuments', data => {
                this.getDocuments();
            });
            this.$on('Documents__getDocuments', () => {
                this.getDocuments();
            });
            this.$root.$on('transactionChanged', data => {
                if (this.tID != data.currentTransactionID)
                {
                    this.tID = data.currentTransactionID;
                    this.getDocuments();
                }
            });
        }
    }
</script>

<style lang="scss" scoped>
    .v-expansion-panel{
        box-shadow:none !important;
    }
    .file-quantity{
        cursor: pointer;
    }
</style>