<template>
    <div class="container">
        <div class="spinner"><i class="fas fa-spinner fa-spin"></i></div>
        <div>
            <label class="switch" v-if="this.is_edit !== '0'">
                <input type="checkbox"
                       v-bind:checked="editMode"
                       v-bind:value="editMode"
                       v-on:input="editModeSwitch">
                <span class="slider round">Edit</span>
            </label>
            <label class="" v-if="selectedTransaction === 0">
                <select v-model="selectedTable">
                    <option disabled value="">Please Select a Default Table</option>
                    <option value="DocumentAccessDefaults">Document Access Defaults</option>
                    <option value="DocumentTransferDefaults">Document Transfer Defaults</option>
                </select>
            </label>
            <label class="" v-else>
                <select v-model="selectedTable">
                    <option disabled value="">Please Select</option>
                    <option value="lk_TransactionsDocumentAccess">Document Access</option>
                    <option value="lk_TransactionsDocumentTransfers">Document Transfer</option>
                </select>
            </label>
            <label class="">
                <select v-model="selectedTransaction" v-if="this.transaction === '0'">
                    <option disabled value="">Please Select a Transaction</option>
                    <option :value="0">None</option>
                    <option v-for="trans in ownedTransactions" :value="trans.ID">{{trans.ID}}</option>
                </select>
                <select v-model="selectedTransaction" v-else>
                    <option disabled :value="selectedTransaction">{{selectedTransaction}}</option>
                </select>
            </label>
            <label v-if="selectedTransaction === 0">
                <select v-model="state">
                    <option v-for="(s,key) in possibleStates" :value="key">{{s}}</option>
                </select>
            </label>
            <label class="" v-if="selectedTransaction > 0 && editMode === 1">
                <button v-on:click="resetToDefaults()">Reset to Defaults</button>
            </label>
        </div>
        <div class="table-container">
            <table id="permissions_table" class="table">
                <thead>
                    <tr>
                        <th>{{this.firstHeader}}</th>
                        <th v-for="header in headers">{{ header }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="row in retrievedData">
                        <th scope="row" class="rowHeader">{{row[0].Description || row[0].ShortName || ''}} {{row[0].Documents_Code}}</th>
                        <td v-for="column in row" v-if="column === null">
                            <AccessSquare   v-bind:data-id="0"
                                            :access-roles="null"
                                            :access-actions="null"
                                            :route="null"
                                            :passed_token="null"
                                            :edit-mode="0"
                                            :access-sum-prop="null"
                                            :perm-string="null"
                                            :passed-description="null"
                                            :passed-role="null"
                                            :passed-i-d="null"
                                            :passed-table="selectedTable"
                                            :passed-text="column.Access"
                                            :key="count + column.ID">
                            </AccessSquare>
                        </td>
                        <td v-else>
                            <AccessSquare v-bind:data-id="column.ID"
                                          :access-roles="accessRoles"
                                          :access-actions="accessActions"
                                          :route="access_levels_route"
                                          :passed_token="passed_token"
                                          :edit-mode="editMode"
                                          :sum-prop="column.Sum"
                                          :perm-string="column.Access"
                                          :passed-description="column.Description"
                                          :passed-role="column.PovRole"
                                          :passed-i-d="column.ID"
                                          :passed-table="selectedTable"
                                          :passed-text="column.Access"
                                          :key="count + column.ID">
                            </AccessSquare>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>

<script>
    import AccessSquare from './AccessSquare';
    export default {
        props: {
            token:{

            },
            route:{

            },
            access_route:{

            },
            edit_access_route:{

            },
            owned_transactions_route:{

            },
            is_edit:{

            },
            user_type_prop:{

            },
            transaction:{
                default: 0,
            },
            documentCodeProp: {
                default: null,
                String,
            },
        },
        components: {
            AccessSquare,
        },
        data () {
            return{
                retrievedData: null,
                accessRoles: '',
                accessActions: '',
                state: 'CA',
                possibleStates: {},
                headers: null,
                editMode: false,
                access_levels_route: '',
                passed_token: null,
                selectedTable: 'DocumentAccessDefaults',
                selectedTransaction: 0,
                ownedTransactions: null,
                userType: this.user_type_prop,
                firstHeader: 'Document',
                count: 0,
                documentCode: null,
            }
        },
        computed :{
            tableTitle: function(){

            }
        },
        watch: {
            state: {
                handler(){
                    this.buildTable();
                }
            },
            selectedTable: {
                handler(newVal,oldVal){
                    this.buildTable();
                    this.addCount();
                },
            },
            selectedTransaction:{
                handler(newVal,oldVal)
                {
                    if(newVal === 0 )
                    {
                        this.selectedTable = 'DocumentAccessDefaults';
                    }
                    else
                    {
                        if(this.selectedTable === 'DocumentAccessDefaults')
                            this.selectedTable = 'lk_TransactionsDocumentAccess';
                        else if(this.selectedTable === 'DocumentTransferDefaults')
                            this.selectedTable = 'lk_TransactionsDocumentTransfers';
                        else this.buildTable();
                    }
                    this.addCount();
                },
            },
        },
        //you must place all custom methods in here.
        methods: {
            editModeSwitch(){
                if(this.editMode === 1) this.editMode = 0;
                else this.editMode = 1;
            },
            resetToDefaults(){
                var table;
                if(this.selectedTable === 'lk_TransactionsDocumentAccess') table = 'Access';
                else table = 'Transfers';
                Swal2({
                    title: 'Reset to Default Permissions?',
                    text:  'Please confirm you wish to reset '+table+' for this transaction to its defaults. ' +
                        'This operation will take about a minute and cannot be undone.',
                    type:  'question',
                    confirmButtonText: 'Confirm',
                    showLoaderOnConfirm: true,
                    allowOutsideClick: false,
                    preConfirm:() => {
                        genericLoading();
                        axios.post(this.route, {
                            transactionID: this.selectedTransaction,
                            _table: this.selectedTable,
                            state: this.state,
                            reset: true,
                        }).then( r => {
                            if(r.data.status === 'success')
                            {
                                Swal2({
                                    toast: true,
                                    title: r.data.message,
                                    type: 'success',
                                    width: 200,
                                    position: 'center',
                                    showConfirmButton: false,
                                    timer: 4000,
                                });
                                this.buildTable();
                                this.addCount();
                            }
                            else if (r.data.status === 'fail') genericError(r.data.message);
                            else genericError();
                        });
                    }
                });
            },
            savedHeaders(column,array){
                var headers = {};
                $.each(array, function(i,obj){
                    $.each(obj, function(k, innerObj){
                        headers[innerObj.PovRole] = innerObj.Display;
                    });
                });

                return headers;
            },
            findInHeaders(specificHeader,headers){
                var counter = 0;
                var foundIndex = false;
                $.each(headers,function(key,headerObj){
                    if(key === specificHeader) foundIndex = counter;
                    counter++;
                });
                return foundIndex;
            },
            findInObject(obj,theHeader,index){
                var counter = 0;
                var foundIndex = false;
                $.each(obj,function(key,innerObj){
                    if(innerObj.PovRole === theHeader) foundIndex = counter;
                    counter++;
                });
                return foundIndex;
            },
            getOwnedTransactions(){
                axios.get(this.owned_transactions_route+'/'+true).then( r => {
                    console.log({
                        getOwnedTransactionsResponse: r,
                    });
                   this.ownedTransactions = r.data.ownedTransactions;
                });
            },
            addCount(){
                this.count = this.count + 1;
            },
            buildTable(){
                $('.spinner').show();
                $('.table-container').addClass('dim');
                this.getOwnedTransactions();
                axios.post(this.route, {
                    state: this.state,
                    _table: this.selectedTable,
                    transactionID: this.selectedTransaction,
                    userType: this.userType,
                    })
                    .then(function (response){
                        this.retrievedData  = [];
                        this.headers        = [];
                        this.firstHeader    = 'Document';
                        this.possibleStates = response.data.allStates;
                        var retrievedData   = response.data.data;
                        var accessActions   = response.data.accessActions;
                        var accessRoles     = response.data.accessRoles;
                        if(retrievedData === undefined || retrievedData.length === 0) this.firstHeader = 'Table is empty.';
                        else
                        {
                            this.accessActions = accessActions;
                            this.accessRoles   = accessRoles;
                            var groupedData    = [];
                            groupedData[0]     = [];
                            var oldID = 0;
                            var newCode;
                            var oldCode;
                            $.each(retrievedData, function(i,obj){
                                if(i === 0){
                                    oldCode = obj.Documents_Code;
                                }
                                if(obj.Access !== null) obj.Access = obj.Access.toUpperCase();
                                if(obj.Access === null || obj.Access === '') obj.Access = '-';
                                if(this.documentCode && obj.Documents_Code === this.documentCode) groupedData[0].push(obj);
                                else if(!this.documentCode)
                                {
                                    newCode = obj.Documents_Code;
                                    if(oldCode !== newCode) {
                                        oldCode = newCode;
                                        oldID ++;
                                        groupedData[oldID] = [];
                                    }
                                    groupedData[oldID].push(obj);
                                }
                            }.bind(this));

                            this.headers = this.savedHeaders('PovRole',groupedData);
                            var headers = this.headers;

                            $.each(groupedData, function(i,obj){
                                var counter = 0;
                                var tempArray = [];
                                var theIndex;
                                $.each(headers,function(key,headerObj) {
                                    theIndex = this.findInObject(obj,key,counter);
                                    if(theIndex === false) tempArray[counter] = null;
                                    else tempArray[counter] = obj[theIndex];
                                    counter++;
                                }.bind(this));
                                groupedData[i] = tempArray;
                            }.bind(this));

                            this.retrievedData = groupedData;
                        }
                        $('.table-container').removeClass('dim');
                        $('.spinner').hide();
                    }.bind(this));
            },
        },
        mounted(){
            //this function executes once the component is mounted
            this.access_levels_route = this.edit_access_route;
            this.passed_token = this.token;
            this.$nextTick(function(){
                this.buildTable();
            });
        },
        created(){
            this.documentCode = this.documentCodeProp;
            this.editMode = parseInt(this.is_edit) === 1 ? 1 : 0;
            if(this.transaction !== '0') this.selectedTransaction = this.transaction;
        },
    }

</script>

<style scoped>
    .spinner{
        display: none;
        font-size: 80px;
        color: #ffff;
        position: absolute;
        left: 47%;
        top: 35%;
        z-index: 6;
        transform: translateX(-50%, -50%);
    }
    .table-container.dim:after{
        content: "";
        position: absolute;
        top:0;
        left:0;
        right:0;
        bottom:0;
        display: block;
        z-index: 1;
        background:rgba(0, 0, 0, 0.7);
    }
    .table-container table td{
        word-wrap: break-spaces !important;
    }
    .table-container table td:last-child{
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

</style>