<template>
    <div class="row">
        <div class="text-right" v-if="bagLinkID > 0">
            <i class="fas fa-external-link-alt teal openTabLink iconContainer" v-on:click="openInNewTab"></i>
        </div>
       <div class="col-sm-12 col-md-12 col-lg-12 documentFrameContainer">
           <iframe class="documentFrame" v-bind:src="url">

           </iframe>
       </div>
    </div>
</template>

<script>
    export default {
        props:[
            'bagLinkIDProp',
        ],
        data(){
            return {
                bagLinkID: 0,
                url: null,
            }
        },
        watch: {
            bagLinkIDProp :{
                handler(val){
                    this.bagLinkID = val;
                    this.fetchDocument();
                },
            }
        },
        methods: {
            fetchDocument() {
                if (this.bagLinkID > 0)
                {
                    axios.post(route('ajaxFetchDocument').url(), {
                        bagID: this.bagLinkID
                    }).then((r) => {
                        console.log({
                            fetchDocumentResponse: r,
                        });
                        this.url = r.data.url;
                    }).catch((err) => {
                        console.log({
                            fetchDocumentError: err,
                        });
                    });
                }
            },
            openInNewTab(){
                window.open(this.url);
            },
        },
        mounted(){
            this.bagLinkID = this.bagLinkIDProp;
            this.fetchDocument();
        },
    }
</script>

<style scoped>
    .documentFrameContainer{
        overflow: hidden;
    }
    .documentFrame{
        width: 107%;
        min-height:500px;
    }

    iframe{
        border:0;
        overflow: auto;
    }
    .openTabLink{
        cursor: pointer;
    }
    .row{
        background: #eeeeee;
    }
    .iconContainer{
        background: white;
        border-radius: 50%;
        padding: 10px;
    }


</style>