<template>
    <div id="questionnaire" style="width: 90%">
        <div class="container" id="body-content">
            <div class="row">
                <div id="TCCT" class="col-sm-12 shadow questionnaireContainer">
                    <div>
                        <div class="Q">
                            <center>
                                <p class="questionnaire-title">Invite others to use Offer To Close<br> to assist with this transaction</p>
                                <br>
                                <form class="mt-4 mb-3 row">
                                    <div style="max-width: 500px;">
                                        <div class="InviteFieldStyle" id="select-wrapper">
                                            <div id="icon"><i class="fas fa-chevron-down"></i></div>
                                            <div id="select-cover" class="InviteFieldStyle"><span>{{roles[selectedRole] || 'ROLE'}}</span></div>
                                            <div
                                                    class="InviteFieldStyle dropdown-toggle"
                                                    id="role-select"
                                                    role="button"
                                                    data-toggle="dropdown"
                                                    aria-haspopup="true"
                                                    aria-expanded="false"
                                            >

                                            </div>
                                            <div id="role-options" class="dropdown-menu" aria-labelledby="role-select">
                                                <div v-on:click="selectedRole = val" v-for="(role, val) in roles">{{role}}</div>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <div style="max-width:500px;">
                                        <div id="email-wrapper" class="InviteFieldStyle">
                                            <input
                                                    type="email"
                                                    name="email"
                                                    v-model="email"
                                                    placeholder="EMAIL ADDRESS"
                                                    style="text-align: center"
                                                    class="InviteFieldStyle">
                                        </div>
                                    </div>
                                    <br>
                                    <div class="form-group col-sm-4 col-sm-offset-4">
                                        <button v-if="selectedRole && email" type="button" class="btn btn-teal" v-on:click="sendInvite()">SEND INVITE</button>
                                        <button v-else type="button" class="btn btn-teal" disabled>SEND INVITE</button>
                                    </div>
                                    <div class="form-group col-sm-12" id="success-message-container">
                                        <span v-bind="successMsgClass">{{successMessage}}</span>
                                    </div>
                                </form>
                            </center>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "InvitePage",
        props: {
            transactionID: {},
        },
        computed: {
            successMsgClass(){
                let classVal = 'fade-leave otc-red fade';
                if (this.successMessage) classVal = 'fade-enter otc-red fade';
                return {
                    class: classVal,
                }
            },
            usersRoles(){
                const roles = [
                    'agents',
                    'tcs',
                ];
                let disallowed = [];
                roles.forEach((role,i) => {
                    let data = this.transaction[role];
                    let length = data.length;
                    if (length > 0)
                    {
                        data.forEach((person, i) => {
                            if (person.Users_ID == this.userData.userID)
                            {
                                disallowed.push(person.Role);
                            }
                        });
                    }
                });
                return disallowed;
            },
        },
        watch: {
            selectedRole: {
                handler(val){
                    if (this.usersRoles.includes(val))
                    {
                        genericError('You cannot replace yourself in this transaction.');
                        this.selectedRole = '';
                    }
                }
            }
        },
        data(){
            return {
                roles: {
                    b: 'Buyer',
                    s: 'Seller',
                    ba: 'Buyer\'s Agent',
                    sa: 'Seller\'s Agent',
                    btc: 'Buyer\'s Transaction Coordinator',
                    stc: 'Seller\'s Transaction Coordinator',
                },
                userData: this.$store.getters.getUserData(),
                successMessage: '',
                selectedRole: '',
                email: '',
                transaction: this.$store.getters.getTransactionByID(this.transactionID),
            }
        },
        methods: {
            sendInvite(){
                genericLoading('Sending Invite...');
                let list = {};
                list[this.selectedRole] = this.email;
                axios.post(route('ajax.converter').url(), {
                    class: 'App\\Http\\Controllers\\InvitationController',
                    isStatic: 1,
                    method: 'processInvitationsFromList',
                    args: [
                        list,
                        this.transactionID,
                    ]
                }).then((r) => {
                    console.log({
                        sendInviteResponse: r,
                    });
                    let status = r.data.status || false;
                    if (status == 'success')
                    {
                        this.successMessage = 'Email was sent successfully.';
                        let v = this;
                        setTimeout(() => {
                            v.successMessage = '';
                        }, 5000);
                    }
                    if (Swal2.isVisible()) Swal2.close();
                    this.selectedRole = '';
                    this.email = '';
                }).catch((err) => {
                    genericError(err);
                    console.log({
                        sendInviteError: err,
                    });
                });
            },
        },
        mounted() {

        }
    }
</script>

<style scoped>
    .fade {
        transition: opacity 2s
    }
    .fade-enter{
        opacity: 1;
    }
    .fade-leave{
        opacity: 0
    }
    .questionnaire-title{
        font-family: Roboto, sans-serif;
        font-weight: 200;
    }
    #role-options{
        width: 100%;
        background: #f4f4f4;
        top: -1px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
    #icon{
        position: absolute;
        height: 50px;
        width: 60px;
        right: 0;
        top: -1px;
        z-index: 3;
        display: flex;
        align-items: center;
        justify-content: center;
        background: black;
        color: white;
        font-size: 20px;
    }
    #select-wrapper{
        position: relative;
    }
    #role-select{
        padding-left: 23%;
        position: absolute;
        left: -1px;
        top: -1px;
    }
    #email-wrapper{
        position: relative;
        background: white;
        border: none;
        padding: 0;
    }
    #email-wrapper a{
        position: absolute;
        right: -70px;
        top: 35%;
        font-size: 13px;
    }
    @media screen and (max-width: 1060px){
        #email-wrapper a{
            position: unset;
        }
        #email-wrapper{
            margin-bottom: 40px;
        }
    }
    #invitations-wrapper{
        width: 100%;
        max-width: 500px;
    }
    #invitations-wrapper div{
        border: solid 2px #ccc;
        padding: 0;
    }
    #invitations-wrapper span:first-child{
        padding: 0;
    }
    #invitations-wrapper ul{
        padding-inline-start: 0;
        list-style: none;
        font-size: 10px;
    }
    #select-cover{
        position: absolute;
        padding: 0;
        left: 0;
        top: 0;
        text-align: center;
        background: transparent;
        pointer-events: none;
        z-index: 4;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #9CA0A3;
        font-size: 14px;
    }
    #icon{
        pointer-events: none;
    }
</style>