<template>
    <div id="LeftNav">
        <nav class="sidebar  navbar-expand-md bg-dark navbar-dark">
            <div v-if="isConsumer">
                <ul class="nav pt-4 mt-3 pb-3">
                    <li class="nav-item">
                        <a v-if="currentAddress" href="#/" class="nav-link js__addressChoice" data-toggle="collapse" data-target="#addresses"><i class="fas fa-caret-down white-text address-list-trigger"></i> {{currentAddress}}</a>
                        <a v-else class="nav-link" v-on:click.prevent="addTransaction"><i class="fas fa-plus-circle white-text address-list-trigger"></i> ADD A PROPERTY</a>
                        <ul id="addresses" class="collapse show sub-item">
                            <li v-for="t in consumerTransactions" class="nav-item">
                                <a v-on:click="selectTransaction(t.ID)" href="#/" class="nav-link address-option">{{t.Street1}}</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a v-on:click="goToDashboard" href="#/" class="nav-link"><img alt="nav-icon-dashboard.png" :src="getHostUrl() + 'images/nav-icon-dashboard.png'"> DASHBOARD</a>
                    </li>
                    <li class="nav-item" v-if="false">
                        <!-- Removing offers menu for now -->
                        <a href="#" class="nav-link" data-toggle="collapse" data-target="#offers"><img alt="nav-icon-offers.png" :src="getHostUrl() + 'images/nav-icon-offers.png'"> OFFERS</a>
                        <ul id="offers" class="collapse show sub-item">
                            <li class="nav-item">
                                <a href="#" class="nav-link">CREATE NEW OFFERS</a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">PAST OFFERS</a>
                            </li>
                        </ul>
                    </li>

                    <li class="nav-item">
                        <a href="#/" class="nav-link" data-toggle="collapse" data-target="#activity"><img alt="nav-icon-activity.png" :src="getHostUrl() + 'images/nav-icon-activity.png'"> ACTIVITY</a>
                        <ul id="activity" class="collapse show sub-item">
                            <!--
                            <li class="nav-item">
                                <a v-on:click="viewTransactionSummary(selectedTransaction.ID)" href="#/" class="nav-link">TO DO ITEMS</a>
                            </li>
                            -->
                            <li class="nav-item">
                                <a v-on:click="viewTransactionSummary(selectedTransaction.ID)" href="#/" class="nav-link">TIMELINE</a>
                            </li>
                            <li class="nav-item">
                                <a v-on:click="goToNotifications()" href="#/" class="nav-link">NOTIFICATIONS</a>
                            </li>
                        </ul>
                    </li>

                    <li class="nav-item">
                        <a v-on:click="viewDocuments(selectedTransaction.ID)" href="#/" class="nav-link"><img alt="nav-icon-doc.png" :src="getHostUrl() + 'images/nav-icon-doc.png'"> DOCUMENTS</a>
                    </li>
                    <li class="nav-item">
                        <a href="#/" class="nav-link" data-toggle="collapse" data-target="#people"><img alt="nav-icon-people.png" :src="getHostUrl() + 'images/nav-icon-people.png'"> KEY PEOPLE</a>
                        <ul id="people" class="collapse show sub-item">
                            <li class="nav-item">
                                <a v-on:click="addKeyPeopleQuestionnaire(selectedTransaction.ID)" href="#/" class="nav-link">ADD PEOPLE</a>
                            </li>
                            <li class="nav-item">
                                <a v-on:click="searchKeyPeople()" href="#/" class="nav-link">SEARCH PEOPLE</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item" v-if="windowWidth <= 768">
                        <a v-on:click.prevent="addTransaction" href="#" class="nav-link"><img alt="nav-icon-add.png" :src="getHostUrl() + 'images/nav-icon-add.png'"> ADD TRANSACTION</a>
                    </li>
                    <li class="nav-item" v-if="windowWidth <= 768">
                        <a href="#" class="nav-link" data-toggle="collapse" data-target="#profile"><img alt="nav-icon-user.png" :src="getHostUrl() + 'images/nav-icon-user.png'"> PROFILE</a>
                        <ul id="profile" class="collapse show sub-item">
                            <li class="nav-item">
                                <a v-on:click.prevent="switchUserRole(obj.Role)" v-for="obj in userData.userRoles" href="#" class="nav-link">{{rolesLookup[obj.Role]}}</a>
                            </li>
                            <li class="nav-item">
                                <a v-on:click.prevent="goToProfile()" href="#" class="nav-link">My Profile</a>
                            </li>
                            <li class="nav-item">
                                <a v-on:click.prevent="logout" href="#" class="nav-link">Logout</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div v-else-if="isAgent || isTC">
                <ul class="nav pt-4 mt-3 pb-3">
                    <li class="nav-item">
                        <a v-on:click="goToDashboard" href="#/" class="nav-link"><img alt="nav-icon-dashboard.png" :src="getHostUrl() + 'images/nav-icon-dashboard.png'"> DASHBOARD</a>
                    </li>
                    <li class="nav-item" v-if="false">
                        <!-- removing offers menu for now -->
                        <a href="#" class="nav-link" data-toggle="collapse" data-target="#offers"><img alt="nav-icon-offers.png" :src="getHostUrl() + 'images/nav-icon-offers.png'"> OFFERS</a>
                        <ul id="offers" class="collapse show sub-item">
                            <li class="nav-item">
                                <a href="#/" class="nav-link">CREATE NEW OFFERS</a>
                            </li>
                            <li class="nav-item">
                                <a href="#/" class="nav-link">PAST OFFERS</a>
                            </li>
                        </ul>
                    </li>

                    <li class="nav-item">
                        <a href="#/" class="nav-link" data-toggle="collapse" data-target="#nav_transactions"><img alt="nav-icon-activity.png" :src="getHostUrl() + 'images/nav-icon-activity.png'"> TRANSACTIONS</a>
                        <ul id="nav_transactions" class="collapse show sub-item">
                            <li class="nav-item">
                                <a v-on:click.prevent="viewTransactionsList('#open')" href="#" class="nav-link">ACTIVE TRANSACTIONS</a>
                            </li>
                            <li class="nav-item">
                                <a v-on:click.prevent="viewTransactionsList('#closed')" href="#" class="nav-link">CLOSED TRANSACTIONS</a>
                            </li>
                            <li class="nav-item">
                                <a v-on:click.prevent="addTransaction" href="#" class="nav-link">ADD A NEW TRANSACTION</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a href="#/" class="nav-link" data-toggle="collapse" data-target="#activity"><img alt="nav-icon-activity.png" :src="getHostUrl() + 'images/nav-icon-activity.png'"> ACTIVITY</a>
                        <ul id="activity" class="collapse show sub-item">
                            <!--
                            <li class="nav-item">
                                <a href="#/" class="nav-link">TO DO ITEMS</a>
                            </li>
                            -->
                            <li class="nav-item">
                                <a v-on:click="goToNotifications()" href="#/" class="nav-link">NOTIFICATIONS</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a href="#/" class="nav-link" data-toggle="collapse" data-target="#people"><img alt="nav-icon-people.png" :src="getHostUrl() + 'images/nav-icon-people.png'"> KEY PEOPLE</a>
                        <ul id="people" class="collapse show sub-item">
                            <li class="nav-item">
                                <a v-on:click="addKeyPeopleQuestionnaire(selectedTransaction.ID)" href="#/" class="nav-link">ADD PEOPLE</a>
                            </li>
                            <!--<li class="nav-item">
                                <a href="#/" class="nav-link">MY PROFESSIONALS</a>
                            </li>-->
                            <li class="nav-item">
                                <a v-on:click="searchKeyPeople()" href="#/" class="nav-link">SEARCH PEOPLE</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item" v-if="windowWidth <= 768">
                        <a v-on:click.prevent="addTransaction" href="#" class="nav-link"><img alt="nav-icon-add.png" :src="getHostUrl() + 'images/nav-icon-add.png'"> ADD TRANSACTION</a>
                    </li>
                    <li class="nav-item" v-if="windowWidth <= 768">
                        <a href="#" class="nav-link" data-toggle="collapse" data-target="#profile"><img alt="nav-icon-user.png" :src="getHostUrl() + 'images/nav-icon-user.png'"> PROFILE</a>
                        <ul id="profile" class="collapse show sub-item">
                            <li class="nav-item">
                                <a v-on:click.prevent="switchUserRole(obj.Role)" v-for="obj in userData.userRoles" href="#" class="nav-link">{{rolesLookup[obj.Role]}}</a>
                            </li>
                            <li class="nav-item">
                                <a v-on:click.prevent="goToProfile()" href="#" class="nav-link">My Profile</a>
                            </li>
                            <li class="nav-item">
                                <a v-on:click.prevent="logout" href="#" class="nav-link">Logout</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</template>

<script>
    export default {
        name: "ConsumerLeftNav",
        props: {
            userID: {
                type: String,
                default: '',
            },
        },
        computed: {
            isConsumer(){
                return this.userData.userRole == 'h';
            },
            isAgent(){
                return this.userData.userRole == 'a';
            },
            isTC(){
                return this.userData.userRole == 'tc';
            },
            consumerTransactions(){
                let vueObject = this;
                function filterConsumer(t,index)
                {
                    let r       = false;
                    let buyers  = t['buyers'] || [];
                    let sellers = t['sellers'] || [];
                    let length  = buyers.length;
                    for(let i = 0; i < length; i++)
                    {
                        if (buyers[i].Users_ID == vueObject.userID)
                        {
                            r = true;
                        }
                    }
                    length = sellers.length;
                    for(let j = 0; j < length; j++)
                    {
                        if (sellers[j].Users_ID == vueObject.userID)
                        {
                            r = true;
                        }
                    }
                    return r;
                }

                if (vueObject.allTransactions.length > 0)
                {
                    return vueObject.allTransactions.filter((t,index) => filterConsumer(t,index));
                }
                return [];
            },
        },
        watch: {

        },
        data(){
            return{
                selectedTransaction:    {},
                allTransactions:        this.$store.getters.getAllTransactions(),
                currentAddress:         '',
                windowWidth:            window.innerWidth,
                userData:               this.$store.getters.getUserData(),
                rolesLookup:            this.$store.getters.getRolesLookup(),
            }
        },
        methods: {
            viewTransactionsList(hash = ''){
                let r = route('transactions').url();
                let link = r;
                let sameLocation = false;
                if (window.location.href.indexOf(r) != -1) sameLocation = true;
                if (hash) link = r + '/' + hash;
                if (sameLocation)
                {
                    window.location.replace(link);
                    window.location.reload();
                }
                else window.location.href = link;
                // console.log({
                //     currentLocation: window.location.href,
                //     link: link,
                //     sameLocation: sameLocation,
                // });
            },
            logout(){
                let route = correctVuexRouteURL(this.$store.getters.routeName('logout'));
                window.localStorage.removeItem('vuex');
                window.location.href = route;
            },
            addTransaction(){
                window.location.href = route('questionnaire.createTransaction', [this.userData.userRole]).url();
            },
            goToProfile(){
                let route = correctVuexRouteURL(this.$store.getters.routeName('consumer.profile'));
                if (!route) genericError('Unable to find profile, aborting. Error code: cp-001');
                else window.location.href = route;
            },
            switchUserRole(role){
                let route = correctVuexRouteURL(this.$store.getters.routeName('switch.Role'));
                if (!route) genericError('Unable to switch roles, aborting. Error code: sr-001');
                else
                {
                    axios.post(route, {
                        role: role,
                    }).then((r) => {
                        let status = r.data.status;
                        if (status == 'success')
                            window.location.href = correctVuexRouteURL(this.$store.getters.routeName('user.dashboard'));
                    })
                }
            },
            addKeyPeopleQuestionnaire(id){
                let state = this.$store.getters.currentTransactionProperty().State;
                let route = correctVuexRouteURL(this.$store.getters.routeName('consumer.addRole'));
                if (!route) genericError('Unable to find add key person route. Error code: kpr-001');
                else
                {
                    route = route.replace(':transactionID', id);
                    route = route.replace(':state', state);
                    window.location.href = route;
                }
            },
            searchKeyPeople(){
                let route = correctVuexRouteURL(this.$store.getters.routeName('search.keyPeople'));
                if (!route) genericError('Unable to find search key people view route. Error code: skp-001');
                else
                {
                    window.location.href = route;
                }
            },
            setCurrentTransactionID__VUEX(id){
                this.$store.dispatch('setTransaction', id);
            },
            getHostUrl(){
                return getHostURL();
            },
            selectTransaction(id, updateVuex = true){
                if (updateVuex) this.setCurrentTransactionID__VUEX(id);
                this.selectedTransaction    = this.consumerTransactions.find(t => t.ID == id) || {};
                this.currentAddress         = this.$store.getters.currentTransactionProperty().Street1 || this.selectedTransaction.Street1;
                $('#addresses').removeClass('show');
            },
            editTransaction(id){
                let editTransactionRoute = correctVuexRouteURL(this.$store.getters.routeName('transaction.home'));
                if (!editTransactionRoute) genericError('Unable to find edit route. Error code er-001');
                else
                {
                    editTransactionRoute = editTransactionRoute.replace(':taid', id);
                    window.location.href = editTransactionRoute;
                }
            },
            viewDocuments(id){
                let viewDocumentsRoute = correctVuexRouteURL(this.$store.getters.routeName('transactionSummary.documents'));
                if (!viewDocumentsRoute) genericError('Cannot find documents route. Error code: doc-r-001');
                else
                {
                    viewDocumentsRoute = viewDocumentsRoute.replace(':transactionID', id);
                    window.location.href = viewDocumentsRoute;
                }
            },
            viewTransactionSummary(id){
                let timelineRoute = correctVuexRouteURL(this.$store.getters.routeName('transactionSummary.timeline'));
                if (!timelineRoute) genericError('Unable to find timeline route. Error code: tr-001');
                else
                {
                    timelineRoute = timelineRoute.replace(':transactionID', id);
                    window.location.href = timelineRoute;
                }
            },
            goToDashboard(){
                let dashboardRoute = correctVuexRouteURL(this.$store.getters.routeName('user.dashboard'));
                if (!dashboardRoute) genericError('Dashboard route not found. Error code: dash-001');
                else
                {
                    window.location.href = dashboardRoute;
                }
            },
            goToNotifications(){
                window.location.href = route('view.alerts').url();
            },
        },
        mounted(){
            let v = this;
            window.addEventListener('resize', function () {
                v.windowWidth = window.innerWidth;
            });
            if (this.isConsumer)
            {
                this.selectedTransaction = this.consumerTransactions[0] || {};
                let currentTransactionID = this.$store.getters.currentTransaction();
                if (currentTransactionID) this.selectTransaction(currentTransactionID);
                else if (this.selectedTransaction) this.selectTransaction(this.selectedTransaction['ID']);
            }
            this.$store.subscribe((mutation, state) => {
                switch(mutation.type)
                {
                    case 'setLookupTables':
                        this.$root.$emit('transactionChanged', state);
                        break;
                    case 'setAllTransactions':
                        this.allTransactions = state.allTransactions;
                        if (this.isConsumer)
                        {
                            let id = (
                                typeof (this.$store.getters.currentTransaction()) === 'undefined' ||
                                this.$store.getters.currentTransaction() == 0
                            ) ?
                                this.consumerTransactions[0].ID : this.$store.getters.currentTransaction();
                            this.selectTransaction(id, false);
                        }
                        break;
                    case 'setUserData':
                        this.userData = state.userData;
                        break;
                }
            });
        }
    }
</script>

<style scoped>

</style>