<template>
    <div class="container-fluid" id="ConsumerProfile">
        <div class="profile-body">
            <div class="row">
                <div class="col-sm-3 mb-4">
                    <div class="account-profile-pic py-3 px-3">
                        <center><b>Profile Photo</b></center>
                        <a href="#\">
                            <img alt="avatar.png" :src="getHostUrl() + 'images/defaultprofile.png'" class="img-responsive mt-3">
<!--                            <img v-else alt="avatar.png" :src="profileImage" class="img-responsive mt-3">-->
                        </a>
                    </div>
                </div>
                <div class="col-sm-9">
                    <div class="account-details-body pb-4">
                        <h5 class="pt-4 ml-4 mb-4">Record</h5>
                        <hr>
                        <form class="mb-3 mt-4 mx-4 pr-4 clearfix">
                            <b>Record Details</b>
                            <div class="form-group row mt-4">
                                <div class="col-sm-6">
                                    <label for="fname">First Name</label>
                                    <input v-model="nameFirst" name="NameFirst" type="text" class="form-control" id="fname" placeholder="">
                                </div>
                                <div class="col-sm-6">
                                    <label for="lname">Last Name</label>
                                    <input v-model="nameLast" name="NameLast" type="text" class="form-control" id="lname">
                                </div>
                            </div>
                            <div class="form-group row mb-4">
                                <div class="col-sm-6">
                                    <label for="email">Email Address</label>
                                    <input v-model="email" name="Email" type="email" class="form-control" autocomplete="on" id="email" placeholder="">
                                </div>
                                <div class="col-sm-6">
                                    <label for="phone">Phone</label>
                                    <input maxlength="14" v-model="phone" name="PrimaryPhone" type="text" class="form-control js__phoneMask" id="phone" placeholder="">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "OtherProfile",
        props: {
            userIDToView: {

            },
        },
        data(){
            return {
                nameFirst: '',
                nameLast: '',
                email: '',
                phone: '',
            }
        },
        methods: {
            getHostUrl(){
                return getHostURL();
            },
            getOtherUserData(){
                axios.post(route('ajax.converter').url(),{
                    class: '\\App\\Combine\\AccountCombine',
                    isStatic: 1,
                    method: 'getUserData',
                    args: [
                        this.userIDToView,
                    ]
                }).then((r) => {
                    console.log({
                        getOtherUserDataResponse: r,
                    });
                }).catch((err) => {
                    console.log({
                        getOtherUserDataError: err,
                    });
                });
            },
        },
        mounted() {
            console.log('view other profile mounted.');
        }
    }
</script>

<style scoped>

</style>