<template>
    <div class="container-fluid" id="ConsumerProfile">
        <div class="profile-body">
            <div class="row">
                <div class="col-sm-3 mb-4">
                    <div class="account-profile-pic py-3 px-3">
                        <center><b>Profile Photo</b></center>
                        <a href="#" v-on:click.prevent="uploadNewImage()">
                            <img v-if="imageURL == '/images/avatar.jpg'" alt="avatar.png" :src="getHostUrl() + 'images/defaultprofile.png'" class="img-responsive mt-3">
                            <img v-else alt="avatar.png" :src="profileImage" class="img-responsive mt-3">
                        </a>
                        <span v-if="errors.image" class="col-md-12 text-center errors text-left">{{errors.image[0] || ''}}</span>
                    </div>
                    <div class="account-settings py-3 px-3">
                        <center>
                            <b class="border-bottom pb-1">ACCOUNT SETTINGS</b>
                        </center>
                        <ul>
                            <li>
                                <router-link to="/account/details">Account Details</router-link>
                            </li>
                            <li v-if="userData.userRole == 'a'">
                                <router-link to="/account/licensing/info">Licensing Information</router-link>
                            </li>
                            <li>
                                <router-link to="/account/email/settings">Email Settings</router-link>
                            </li>
                            <li>
                                <router-link to="/account/text/alerts">Text Alerts</router-link>
                            </li>
                            <li>
                                <router-link to="/account/integrations">Integrations</router-link>
                            </li>
                        </ul>
                    </div>
                </div>
                <router-view v-bind="bindAttributes()" class="col-sm-9">

                </router-view>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "ProfileSettings",
        props: {
            nameFirst: {
                type: String,
                default: '',
            },
            nameLast: {
                type: String,
                default: '',
            },
            email: {
                type: String,
                default: '',
            },
            primaryPhone: {
                type: String,
                default: '',
            },
            image: {
                type: String,
                default: '',
            },
            settings: {
                type: String,
                default: '[]',
            },
            token: {
                type: String,
                default: '',
            }
        },
        computed: {
            profileImage(){
                let d = new Date();
                return getHostURL() + this.imageURL + '?' + d.getTime();
            }
        },
        data(){
            return {
                imageURL: this.image,
                parsedSettings: JSON.parse(this.settings),
                errors: {},
                userData: this.$store.getters.getUserData(),
            }
        },
        methods: {
            getHostUrl(){
                return getHostURL();
            },
            bindAttributes(){
                return {
                    NameFirst: this.nameFirst,
                    NameLast: this.nameLast,
                    Email: this.email,
                    PrimaryPhone: this.primaryPhone,
                    token: this.token,
                    Settings: this.parsedSettings,
                    errors: {},
                };
            },
            uploadNewImage(){
                let v = this;
                async function uploadImage()
                {
                    const {value: file} = await Swal2({
                        title: 'Select image',
                        input: 'file',
                        inputAttributes: {
                            'accept': 'image/jpg, image/jpeg, image/png',
                            'aria-label': 'Upload your profile picture'
                        }
                    });
                    if (file)
                    {
                        const reader = new FileReader;
                        reader.onload = (e) => {
                            Swal2({
                                title: 'Selected Picture.',
                                imageUrl: e.target.result,
                                imageAlt: 'The selected picture.',
                                confirmButtonText: 'Continue'
                            }).then(()=>{
                                Swal2({
                                    text: 'Uploading...',
                                    showConfirmButton: false,
                                    onBeforeOpen: () => {
                                        Swal2.showLoading();
                                    },
                                });
                                fetch(e.target.result).then(res => res.blob()).then((blob) => {
                                    let formData = new FormData();
                                    formData.append('image',blob);
                                    formData.append('_token', v.token);

                                    axios.post(route('userProfile.uploadImage').url(), formData).then((r) => {
                                        let status = r.data.status || null;
                                        if (status == 'success')
                                        {
                                            genericSuccess('Image successfully saved!', 0);
                                            setTimeout(() => {
                                                location.reload();
                                            }, 1000);
                                        }
                                        console.log({
                                            userProfileImageUpload: r,
                                        });
                                    }).catch((r) => {
                                        console.log({
                                            userProfileUploadError: r,
                                        });
                                        let errors = r.data.errors || false;
                                        Swal2.close();
                                        if (errors) v.errors = errors;
                                    });
                                });


                            });
                        };
                        reader.readAsDataURL(file)
                    }
                }
                uploadImage();
            },
        },
        mounted() {
            this.$router.push('/account/details');
        }
    }
</script>

<style scoped>
    .errors{
        display: inline;
    }
</style>