<template>
    <div class="row">
        <div class="col-md-12" :style="mainContainerStyle">
            <div v-if="icon" class="col-sm-1 col-md-1 col-lg-1 location-icon"><i class="fas fa-map-marker-alt teal"></i></div>
            <div v-bind:class="addressContainerClass+' addressContainer'">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <span v-bind:class="Street1Class">{{street1}}</span>
                    <span v-bind:class="Street2Class">{{street2 || ''}}</span>
                    <span v-bind:class="UnitClass">{{unit || ''}}</span>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <span v-bind:class="CityClass">{{city}}</span>
                    <span v-bind:class="ZipClass">{{zip}}</span>
                    <span v-bind:class="StateClass">{{state}}</span>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            icon: {
                default: true,
            },
            mainContainerStyle: {
                String,
                default: '',
            },
            addressContainerClass: {
                default: true,
            },
            transactionID: {
                String,
                default: null,
            },
            Street1: {
                String,
                default: null,
            },
            Street1Class:{
                String,
                default:null,
            },
            Street2: {
                String,
                default: null,
            },
            Street2Class:{
                String,
                default:null,
            },
            Unit:{
                String,
                default: null,
            },
            UnitClass: {
                String,
                default: null,
            },
            City: {
                String,
                default: null,
            },
            CityClass:{
                String,
                default:null,
            },
            State: {
                String,
                default: null,
            },
            StateClass:{
                String,
                default:null,
            },
            Zip: {
                String,
                default: null,
            },
            ZipClass:{
                String,
                default:null,
            },
        },
        data(){
            return {
                route: null,
                property: null,
                street1: '',
                street2: '',
                unit: '',
                city: '',
                state: '',
                zip: '',
            }
        },
        watch: {

        },
        methods: {
            getPropertyAddress(){
                if (this.Street1 && this.City && this.State && this.Zip)
                {
                    this.street1     = this.Street1;
                    this.street2     = this.Street2;
                    this.city        = this.City;
                    this.state       = this.State;
                    this.zip         = this.Zip;
                }
                else
                {

                    axios.get(route('get.Property', [this.transactionID]).url()).then((r) => {
                        console.log({
                            getPropertyAddressResponse: r,
                        });
                        this.property       = r.data.property[0];
                        let propertyDetails = this.property;
                        this.street1        = propertyDetails.Street1;
                        this.street2        = propertyDetails.Street2;
                        this.state          = propertyDetails.State;
                        this.unit           = propertyDetails.Unit;
                        this.city           = propertyDetails.City;
                        this.zip            = propertyDetails.Zip;
                    }).catch((err) => {
                        console.log({
                            getPropertyAddressError: err,
                        });
                    });
                }
            },
        },
        mounted(){
            this.getPropertyAddress();
        },
    }
</script>

<style scoped>
    .location-icon{
        font-size: 20px;
        text-align: right;
        padding: 0;
        margin-top: 5px;
        height: 50px;
    }

    .addressContainer{
        padding: 0;
        color: #a0a0a0;
    }

</style>