<template>
    <div class="container" id="dashboardContainer">
        <div v-if="isConsumer" id="ConsumerDashboard">
            <div class="row">
                <v-container>
                    <div :class="cTransactions.length > 1 ? 'scroll-container' : ''">
                        <div v-if="cTransactions.length > 1" v-on:click="scrollTransactions('l')" class="leftArrow scroll-arrow"><i class="fas fa-chevron-left"></i></div>
                        <div v-if="cTransactions.length > 1" v-on:click="scrollTransactions('r')" class="rightArrow scroll-arrow"><i class="fas fa-chevron-right"></i></div>
                        <div :class="cTransactions.length > 1 ? 'horizontal-scroll' : ''">
                            <v-data-iterator
                                    :items="cTransactions"
                                    :hide-actions="true"
                                    v-if="cTransactions.length > 0"
                            >
                                <template v-slot:item="t">
                                    <div class="PropCol mb-5 pl-0 pr-lg-3" :style="transactionContainerStyle">
                                        <div class="close-of-escrow-date">
                                            <span :class="escrowPastDueClass(t.item['Close of Escrow'])">Close of Escrow: {{t.item['Close of Escrow']}}</span>
                                        </div>
                                        <div class="card PropCard h-100 mt-2">
                                            <img alt="Property Image" v-if="t.item.PropertyImagePath" :src="t.item.PropertyImagePath" class="card-img-top PropCardImg img-responsive">
                                            <img alt="Property Image" v-else :src="getHostURL() + 'images/defaultPropertyImage.jpg'" class="card-img-top PropCardImg img-responsive">
                                            <div class="card-body px-0 pb-0">
                                                <div class="row firstRow">
                                                    <div class="col-sm-8 address-div">
                                                        <div v-if="t.item.Street1">
                                                            <span class="ml-4 PropSpanStyleTwo d-block">{{t.item['Street1']}}</span>
                                                            <span class="ml-4 text-muted">{{t.item['City']+', '+t.item['State']+' '+t.item['Zip']}}</span>
                                                        </div>
                                                        <a v-else v-on:click="enterPropertyModal(t.item.ID)" class="add-property-link">
                                                            <span class="ml-4 PropSpanStyleTwo d-block">Add an Address</span>
                                                        </a>
                                                    </div>
                                                    <div class="dropdown clearfix col-sm-4">
                                                        <button type="button" class="btn dropdown-toggle PropDropdownButton PropDropdownButtonStyleTwo float-right mt-n5 px-3 py-0" data-toggle="dropdown" >
                                                            <i class="fas fa-ellipsis-h"></i>
                                                        </button>
                                                        <div class="dropdown-menu controls-dropdown py-0">
                                                            <a href="#" v-on:click.prevent="route({id:t.item.ID}, 'editTransaction')" class="dropdown-item">Edit Transaction</a>
                                                            <a href="#" v-on:click.prevent="closeAndOpenTransaction(t.item.ID, t.item.Status)" class="dropdown-item">{{t.item.Status == 'open' ? 'Close ':'Open '}} Transaction</a>
                                                            <a href="#" v-on:click.prevent="route({id: t.item.ID}, 'invitePage')" class="dropdown-item">Invite Key People</a>
                                                            <a href="#" v-on:click.prevent="uploadPropertyPhoto(t.item.ID)" class="dropdown-item border-0">Upload Photo</a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div>
                                                    <h3 class="PropHeadingStyleOne role-display py-3 mt-3">{{t.item.role ?  t.item.role.toLowerCase() == 'buyer' ? 'BUYING' : 'SELLING' : ''}}</h3>
                                                </div>
                                                <div class="actions-div">
                                                    <ul class="list-inline PropListStyleOne">
                                                        <li class="list-inline-item border-0" v-if="false">
                                                            <a href="#/" class="PropAnchorStyleOne">Offers</a>
                                                        </li>
                                                        <li class="list-inline-item">
                                                            <a v-on:click="route({id:t.item.ID}, 'viewTransactionSummary')" href="#/" class="PropAnchorStyleOne">To Do's</a>
                                                        </li>
                                                        <li class="list-inline-item">
                                                            <a v-on:click="route({id:t.item.ID}, 'viewTransactionSummary')" href="#/" class="PropAnchorStyleOne">Timeline</a>
                                                        </li>
                                                        <li class="list-inline-item">
                                                            <a v-on:click="route({id:t.item.ID}, 'viewDocuments')" href="#/" class="PropAnchorStyleOne">Documents</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div v-if="cTransactions.length == 1" class="PropCol" :style="transactionContainerStyle">
                                        <div v-for="t in cTransactions">
                                            <div v-for="agent in t.agents" class="col-sm-6 AgentCard PropCol mb-4 pr-lg-0">
                                                <div class="card PropCard h-100">
                                                    <img :src="getHostURL() + agent.UserImage" class="card-img-top px-3 pt-2 pb-1">
                                                    <div class="card-body p-0">
                                                        <h5 class="PropHeadingStyleOne py-2 mb-4">{{ (agent.Role == 'ba' && t.role == 'Buyer') || (agent.Role == 'sa' && t.role == 'Seller') ? 'YOUR AGENT' : (agent.Role == 'sa' ? 'SELLER' : 'BUYER')+'\'S AGENT'}}</h5>
                                                        <div>
                                                            <span v-if="agent.NameFull" class="ml-4 PropSpanStyleTwo d-block text-center mb-3">{{agent.NameFull}}</span>
                                                            <span v-if="agent.Email" v-tooltip="makeTooltip(agent.Email)"><span class="PropSpanStyleThree clamp">{{agent.Email}}</span></span>
                                                            <span v-if="agent.PrimaryPhone" class="PropSpanStyleThree">{{agent.PrimaryPhone}}</span>
                                                            <span v-if="agent.BrokerageOffices_Name" class="PropSpanStyleThree">{{agent.BrokerageOffices_Name}}</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </template>
                            </v-data-iterator>
                        </div>
                    </div>
                    <div v-if="cTransactions.length == 0" class="NoProperties">
                        <div class="col-sm-12 text-center PropColStyleOne px-0 py-4" v-on:click="addNewTransaction()">
                            <p class="text-muted">TO UTILIZE OFFER TO CLOSE’S CUSTOM TASKS, SMART DOCUMENT LISTS, ESIGNATURES, AND MORE</p>
                            <h2 class="PropHeadingStyleOne">ADD A PROPERTY YOU ARE BUYING OR SELLING</h2>
                            <div class="AddPropertyLinkContainer">
                                <a href="#/" class="PropAnchorStyleOne"><i class="fas fa-plus mr-2"></i> Add a Property Now</a>
                            </div>
                        </div>
                    </div>
                    <div class="InformationalSegmentsContainer">
                        <div class="col-sm-12 mt-2 px-4 py-3 PropColStyleOne InformationalSegment">
                            <a href="https://homesumer.com" class="image-container"><img :src="getHostURL() + 'images/icon-homesumer.png'" class="img-responsive PropImageStyleOne"></a>
                            <p class="mt-2">Visit our partner, Homesumer.com, to find reviews and links for products like home warranties, home insurance, earthquake insurance, flood insurance, and more. <a href="https://homesumer.com" class="PropAnchorStyleOne">Search for home services at Homesumer.com</a></p>
                        </div>

                        <div class="col-sm-12 px-4 py-3 PropColStyleOne InformationalSegment">
                            <a href="https://www.snapnhd.com/" class="image-container"><img :src="getHostURL() + 'images/icon-snapnhd.png'" class="img-responsive  PropImageStyleOne"></a>
                            <p class="mt-2">California law requires real estate agents and sellers provide buyers with a natural hazard disclosure statement to inform the buyer if the property lies in a hazard area. We’ve partnered with Snap NHD to provide an NHD report faster and for less. <a href="https://www.snapnhd.com/" class="PropAnchorStyleOne">Order an NHD report from Snap NHD</a></p>
                        </div>
                    </div>
                </v-container>
            </div>
        </div>
        <div v-else-if="isAgent || isTC" id="ConsumerDashboard" class="agent-dashboard">
            <h5 v-if="roleData.length > 0" class="recent-transactions-title">Recent Transactions</h5>
            <div class="row">
                <v-container>
                    <div :class="roleData.length > 1 ? 'scroll-container' : ''">
                        <div v-if="roleData.length > 1 && windowWidth >= 702" v-on:click="scrollTransactions('l')" class="leftArrow scroll-arrow"><i class="fas fa-chevron-left"></i></div>
                        <div v-if="roleData.length > 1 && windowWidth >= 702" v-on:click="scrollTransactions('r')" class="rightArrow scroll-arrow"><i class="fas fa-chevron-right"></i></div>
                        <div :class="roleData.length > 1 ? 'horizontal-scroll' : ''">
                            <v-data-iterator
                                    :items="roleData"
                                    :hide-actions="true"
                                    v-if="roleData.length > 0"
                                    item-key="index"
                            >
                                <template v-slot:item="t">
                                    <div :id="'card'+t.item.index" class="PropCol mb-5 pl-0 pr-lg-3" :style="transactionContainerStyle">
                                        <div class="close-of-escrow-date">
                                            <span :class="escrowPastDueClass(t.item['Close of Escrow'])">Close of Escrow: {{t.item['Close of Escrow']}}</span>
                                        </div>
                                        <div class="card PropCard h-100 mt-2">
                                            <img alt="Property Image" v-if="t.item.PropertyImagePath" :src="t.item.PropertyImagePath" class="card-img-top PropCardImg img-responsive">
                                            <img alt="Property Image" v-else :src="getHostURL() + 'images/defaultPropertyImage.jpg'" class="card-img-top PropCardImg img-responsive">
                                            <div class="card-body px-0 pb-0">
                                                <div class="row firstRow">
                                                    <div class="col-sm-8 address-div">
                                                        <div>
                                                            <span class="ml-4 PropSpanStyleTwo d-block">{{t.item['Street1']}}</span>
                                                            <span class="ml-4 text-muted">{{t.item['City']+', '+t.item['State']+' '+t.item['Zip']}}</span>
                                                        </div>
                                                    </div>
                                                    <div class="dropdown clearfix col-sm-4">
                                                        <button type="button" class="btn dropdown-toggle PropDropdownButton PropDropdownButtonStyleTwo float-right mt-n5 px-3 py-0" data-toggle="dropdown" >
                                                            <i class="fas fa-ellipsis-h"></i>
                                                        </button>
                                                        <div class="dropdown-menu controls-dropdown py-0">
                                                            <a href="#" v-on:click.prevent="route({id:t.item.ID}, 'editTransaction')" class="dropdown-item">Edit Transaction</a>
                                                            <a href="#" v-on:click.prevent="closeAndOpenTransaction(t.item.ID, t.item.Status)" class="dropdown-item">{{t.item.Status == 'open' ? 'Close ':'Open '}} Transaction</a>
                                                            <a href="#" v-on:click.prevent="route({id:t.item.ID}, 'invitePage')" class="dropdown-item ">Invite Key People</a>
                                                            <a href="#" v-on:click.prevent="uploadPropertyPhoto(t.item.ID)" class="dropdown-item border-0">Upload Photo</a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div>
                                                    <h3 class="PropHeadingStyleOne role-display py-3 mt-3">{{sideText(t.item.side)}}</h3>
                                                </div>
                                                <div class="actions-div">
                                                    <ul class="list-inline PropListStyleOne">
                                                        <li class="list-inline-item border-0" v-if="false">
                                                            <a href="#/" class="PropAnchorStyleOne">Offers</a>
                                                        </li>
                                                        <li class="list-inline-item">
                                                            <a v-on:click="route({id:t.item.ID}, 'viewTransactionSummary')" href="#/" class="PropAnchorStyleOne">To Do's</a>
                                                        </li>
                                                        <li class="list-inline-item">
                                                            <a v-on:click="route({id:t.item.ID}, 'viewTransactionSummary')" href="#/" class="PropAnchorStyleOne">Timeline</a>
                                                        </li>
                                                        <li class="list-inline-item">
                                                            <a v-on:click="route({id:t.item.ID}, 'viewDocuments')" href="#/" class="PropAnchorStyleOne">Documents</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div v-if="roleData.length == 1" :style="transactionContainerStyle" class="PropCol">
                                        <div v-for="person in profile(roleData[0])" :class="(hasSideProfile && isTC) || isAgent ? 'col-sm-6 AgentCard PropCol mb-4 pr-lg-0' : 'col-sm-12 AgentCard PropCol mb-4 pr-lg-0'">
                                            <div class="card PropCard h-100">
                                                <img v-if="person.UserImage" :src="getHostURL() + person.UserImage" class="card-img-top px-3 pt-2 pb-1">
                                                <div class="card-body p-0">
                                                    <h5 class="PropHeadingStyleOne py-2 mb-4">YOUR PROFILE</h5>
                                                    <div>
                                                        <span v-if="person.NameFull" class="ml-4 PropSpanStyleTwo d-block text-center mb-3">{{person.NameFull}}</span>
                                                        <span v-if="person.Email" v-tooltip="makeTooltip(person.Email)"><span class="PropSpanStyleThree clamp">{{person.Email}}</span></span>
                                                        <span v-if="person.PrimaryPhone" class="PropSpanStyleThree">{{person.PrimaryPhone}}</span>
                                                        <span v-if="person.BrokerageOffices_Name" class="PropSpanStyleThree">{{person.BrokerageOffices_Name}}</span>
                                                        <span class="teal PropSpanStyleThree" v-on:click="editProfile">EDIT</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div v-for="person in sideProfile(roleData[0])" class="col-sm-6 AgentCard PropCol mb-4 pr-lg-0">
                                            <div v-if="person.ID" class="card PropCard h-100">
                                                <img :src="getHostURL() + person.UserImage" class="card-img-top px-3 pt-2 pb-1">
                                                <div class="card-body p-0">
                                                    <h5 class="PropHeadingStyleOne py-2 mb-4">YOUR {{isAgent ? 'TC' : 'AGENT'}}</h5>
                                                    <div>
                                                        <span v-if="person.NameFull" class="ml-4 PropSpanStyleTwo d-block text-center mb-3">{{person.NameFull}}</span>
                                                        <span v-if="person.Email" v-tooltip="makeTooltip(person.Email)"><span class="PropSpanStyleThree clamp">{{person.Email}}</span></span>
                                                        <span v-if="person.PrimaryPhone" class="PropSpanStyleThree">{{person.PrimaryPhone}}</span>
                                                        <span v-if="person.BrokerageOffices_Name" class="PropSpanStyleThree">{{person.BrokerageOffices_Name}}</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div v-if="isAgent && !person.ID" class="card PropCard h-100">
                                                <img :src="getHostURL() + 'images/findatc.jpg'" class="card-img-top px-3 pt-2 pb-1">
                                                <div class="card-body p-0">
                                                    <h5 class="PropHeadingStyleOne py-2 mb-4">HIRE A TC</h5>
                                                    <div>
                                                        <span class="PropSpanStyleThree">
                                                            Find a Transaction Coordinator to assist with this, or any other, transaction
                                                            at findatc.com.
                                                        </span>
                                                            <span class="PropSpanStyleThree">
                                                            <a href="https://findatc.com" class="teal">Search Now!</a>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </template>
                            </v-data-iterator>
                        </div>
                    </div>
                    <div v-if="roleData.length == 0" class="NoProperties">
                        <div v-on:click="addNewTransaction" class="col-sm-12 text-center PropColStyleOne px-0 py-4">
                            <p class="text-muted">TO UTILIZE OFFER TO CLOSE’S CUSTOM TASKS, SMART DOCUMENT LISTS, ESIGNATURES, AND MORE</p>
                            <h2 class="PropHeadingStyleOne">ADD A TRANSACTION</h2>
                            <div class="AddPropertyLinkContainer">
                                <a href="#/" class="PropAnchorStyleOne"><i class="fas fa-plus mr-2"></i> Add a Transaction Now</a>
                            </div>
                        </div>
                    </div>
                    <div class="InformationalSegmentsContainer">
                        <div class="col-sm-12 mt-2 px-4 py-3 PropColStyleOne InformationalSegment">
                            <a href="https://homesumer.com" class="image-container"><img :src="getHostURL() + 'images/icon-homesumer.png'" class="img-responsive PropImageStyleOne"></a>
                            <p class="mt-2">Visit our partner, Homesumer.com, to find reviews and links for products like home warranties, home insurance, earthquake insurance, flood insurance, and more. <a href="https://homesumer.com" class="PropAnchorStyleOne">Search for home services at Homesumer.com</a></p>
                        </div>
                        <div class="col-sm-12 px-4 py-3 PropColStyleOne InformationalSegment">
                            <a href="https://www.snapnhd.com/" class="image-container"><img :src="getHostURL() + 'images/icon-snapnhd.png'" class="img-responsive  PropImageStyleOne"></a>
                            <p class="mt-2">California law requires real estate agents and sellers provide buyers with a natural hazard disclosure statement to inform the buyer if the property lies in a hazard area. We’ve partnered with Snap NHD to provide an NHD report faster and for less. <a href="https://www.snapnhd.com/" class="PropAnchorStyleOne">Order an NHD report from Snap NHD</a></p>
                        </div>
                        <div v-if="isAgent" class="col-sm-12 px-4 py-3 PropColStyleOne InformationalSegment">
                            <a href="https://www.findatc.com/" class="image-container"><img :src="getHostURL() + 'images/icon-find-a-tc-square.jpg'" class="img-responsive  PropImageStyleOne"></a>
                            <p class="mt-2">A Transaction Coordinator is a real estate professional who manages all the paperwork and deadlines involved in a real estate transaction. We've created the largest most comprehensive national directory of transaction coordinators. <a href="https://www.findatc.com/" class="PropAnchorStyleOne">Find a Transaction Coordinator at findatc.com</a></p>
                        </div>
                    </div>
                </v-container>
            </div>
        </div>
        <div v-else>
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-6 col-md-offset-3 search-bar">
                        <input v-model="search" type="text" placeholder="Search Transaction" class="search-text" id="search_table">
                        <span class="otc-red" style="position: absolute; top: 40%; left: -1%; font-size: 24px; "><i class="fas fa-map-marker-alt"></i></span>
                    </div>
                </div>
            </div>
            <v-container>
                <div id="filterContainer">
                    <img
                            class="dropdown-toggle img-responsive"
                            id="dropdownFilter"
                            data-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="false"
                            style="display: inline-block"
                            :src="getHostURL() + 'images/icons/filter1.png'"
                            width="50">
                    <div class="dropdown-menu filterDropdown" aria-labelledby="dropdownFilter">
                        <p>Add Filter</p>
                        <hr>
                        <ul class="filters">
                            <li data-type="Status" data-filter="open">Open</li>
                            <li data-type="Status" data-filter="draft">Draft</li>
                            <li data-type="Status" data-filter="closed">Closed</li>
                            <li data-type="Status" data-filter="canceled">Canceled</li>
                        </ul>
                    </div>
                </div>
                <v-data-iterator
                        :items="filteredItems"
                        content-tag="v-layout"
                        content-class="transactionsIterator"
                        :search="search"
                        row
                        wrap
                        :pagination.sync="pagination"
                        :hide-actions="booleanTrue"
                        :key="key"
                >
                    <template v-slot:item="props">
                        <v-flex
                                xs12
                                sm6
                                md4
                                lg4
                        >
                            <v-card

                            >
                                <v-img
                                        v-if="props.item.Street1"
                                        height="170px"
                                        :src="getPropertyImage(props.item.PropertyImagePath, props.item.Address)"
                                >
                                </v-img>
                                <div class="noPropertyCover" v-on:click="enterPropertyModal(props.item.ID)" v-else>
                                    <div>Add an Address and Photo of the Property</div>
                                </div>
                                <v-card-title>
                                    <table>
                                        <tbody>
                                        <tr>
                                            <td class="addressTD" height="60">
                                                <property
                                                        v-if="props.item.Street1"
                                                        :icon="!booleanTrue"
                                                        main-container-style="margin-left:-20px"
                                                        :Street1="props.item.Street1"
                                                        :street1-class="'teal'"
                                                        :Street2="props.item.Street2"
                                                        :street2-class="'teal'"
                                                        :City="props.item.City"
                                                        :State="props.item.State"
                                                        :Zip="props.item.Zip"
                                                >

                                                </property>
                                                <div class="dividerL"></div>
                                            </td>
                                            <td class="optionsTD" height="60">
                                                <div class="teal optionsIconParent">
                                                    <i class="fas fa-ellipsis-h options dropdown-toggle" v-bind:id="'dropdownMenuButton'+props.item.ID" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
                                                    <div class="dropdown-menu" v-bind:aria-labelledby="'dropdownMenuButton'+props.item.ID">
                                                        <div v-on:click="editTransaction(props.item.ID)">Edit</div>
                                                        <div v-on:click="viewTransactionSummary(props.item.ID)">View Summary</div>
                                                    </div>
                                                </div>
                                                <div class="dividerR"></div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="clientTD" height="50">
                                                <div class="clientName row">
                                                    <div class="col-sm-12 col-md-12 col-lg-12">
                                                        <span>{{props.item.Client || ''}}</span>
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="coeTD" height="50">
                                                <div>
                                                    <span class="red coeText">
                                                        Close of Escrow {{ props.item['Close of Escrow'] }}
                                                    </span>
                                                </div>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </v-card-title>
                            </v-card>
                        </v-flex>
                    </template>
                    <template v-slot:footer>
                        <v-flex
                                xs12
                                sm12
                                md12
                                lg12
                        >
                            <v-card v-on:click="viewMoreTransactions()">
                                <div class="viewMoreTransactions">
                                    <span class="teal"><i class="far fa-arrow-alt-circle-down" style="font-size: 30px;"></i> View More Transactions</span>
                                </div>
                            </v-card>
                        </v-flex>
                    </template>
                </v-data-iterator>
            </v-container>
        </div>
        <date ref="dateInstance" date-time-prop=""></date>
    </div>
</template>

<script>
    import Date from './Date';
    import Property from './Property';
    import moment from 'moment';
    import has from 'lodash';
    export default {
        components: {
            Date,
            Property,
            moment,
            has,
        },
        props: {
            transactionListByUserRoute: {
                String,
                default: null,
            },
            transactions: {
                Array,
                default: {},
            },
            transactionCreateRoute: {
                String,
                default: null,
            },
            transactionTimelineRoute: {
                String,
                default: null,
            },
            transactionHomeRoute: {
                String,
                default: null,
            },
            userRole: {
                String,
                default: '',
            },
            userID: {
                type: String,
                default: '',
            },
        },
        data(){
            return {
                search: '',
                booleanTrue: true,
                headers: [
                    { text: 'Client', value:'Client' },
                    { text: 'Close of Escrow', value: 'Close of Escrow'},
                    { text: 'Address', value: 'Street1'},
                    { text: 'Address', value: 'Street2'},
                    { text: 'Address', value: 'City'},
                    { text: 'Address', value: 'State'},
                    { text: 'Address', value: 'Zip'},
                    { text: 'Address', value: 'Address'}
                ],
                allTransactions: [],
                consumerTransactions: [],
                addNewRows: 6,
                key: 0,
                addToKey: 1,
                filters: {
                    Status: null,
                },
                pagination: {
                    descending: true,
                    rowsPerPage: 5,
                    sortBy: 'ID',
                },
                transactionContainerWidth: 0,
                windowWidth: window.innerWidth,
            }
        },
        watch: {
            search: {
                handler(val){
                    this.clearNewTransactionButton();
                    this.key += this.addToKey;
                }
            },
            key: {
                handler(val){

                }
            }
        },
        computed: {
            hasSideProfile(){
                let sideProfile = this.sideProfile(this.roleData[0])[0] || false;
                if (sideProfile)
                    if (sideProfile.ID)
                        return true;
                return false;
            },
            transactionContainerStyle(){
                return {
                    'width' : this.transactionContainerWidth+'px'
                }
            },
            filteredItems(){
                let transactions = this.allTransactions;
                $.each(this.filters, (i,val) => {
                    if(val) transactions = transactions.filter(transaction => transaction[i] == val);
                });
                return transactions;
            },
            agentTransactions(){
                let v = this;
                function filterAgent(t,index)
                {
                    let r       = false;
                    let agents  = t['agents'];
                    let length  = agents.length;
                    let sides   = [];
                    for(let i = 0; i < length; i++)
                    {
                        if (agents[i].Users_ID == v.userID)
                        {
                            sides.push(agents[i].Role);
                            r = true;
                        }
                    }
                    if (sides.length == 2) v.allTransactions[index].side = 'both';
                    else if (sides.length == 1)
                    {
                        if (sides[0].toLowerCase() == 'ba') v.allTransactions[index].side = 'buyer';
                        else v.allTransactions[index].side = 'seller';
                    }
                    return r;
                }
                return this.indexItems(this.allTransactions.filter((t,index) => filterAgent(t,index)));
            },
            tcTransactions(){
                let v = this;
                function filterTC(t, index)
                {
                    let r       = false;
                    let tcs     = t['tcs'];
                    let length  = tcs.length;
                    let sides   = [];
                    for (let i = 0; i < length; i++)
                    {
                        if (tcs[i].Users_ID == v.userID)
                        {
                            sides.push(tcs[i].Role);
                            r = true;
                        }
                    }
                    if (sides.length == 2) v.allTransactions[index].side = 'both';
                    else if (sides.length == 1)
                    {
                        if (sides[0].toLowerCase() == 'btc') v.allTransactions[index].side = 'buyer';
                        else v.allTransactions[index].side = 'seller';
                    }
                    return r;
                }
                return this.indexItems(this.allTransactions.filter((t,index) => filterTC(t,index)));
            },
            cTransactions(){
                let v = this;
                function filterConsumer(t,index)
                {
                    let r       = false;
                    let buyers  = t['buyers'];
                    let sellers = t['sellers'];
                    let length  = buyers.length;
                    for(let i = 0; i < length; i++)
                    {
                        if (buyers[i].Users_ID == v.userID)
                        {
                            v.allTransactions[index].role = 'Buyer';
                            r = true;
                        }
                    }
                    length = sellers.length;
                    for(let j = 0; j < length; j++)
                    {
                        if (sellers[j].Users_ID == v.userID)
                        {
                            r = true;
                            v.allTransactions[index].role = 'Seller';
                        }
                    }
                    return r;
                }
                return this.indexItems(this.allTransactions.filter((t,index) => filterConsumer(t,index)));
            },
            roleData(){
                switch (this.userRole)
                {
                    case 'a':
                        return this.agentTransactions;
                    case 'tc':
                        return this.tcTransactions;
                    case 'h':
                        return this.cTransactions;
                }
            },
            isConsumer(){
                return this.userRole == 'h';
            },
            isAgent(){
                return this.userRole == 'a';
            },
            isTC(){
                return this.userRole == 'tc';
            },
        },
        methods: {
            editProfile(){
                window.location.href = route('consumer.profile').url();
            },
            makeTooltip(content){
                return {
                    content: content,
                    classes: 'dashboard-email',
                }
            },
            indexItems(items){
                return items.map((item, index) => ({
                    index: index,
                    ...item
                }));
            },
            scrollTransactions: _.debounce(function (dir) {
                let amt = this.transactionContainerWidth;
                let scrollable = $('.horizontal-scroll');
                let current = scrollable.scrollLeft();
                scrollable.animate({
                    scrollLeft: dir == 'r' ? current + (amt + 5): current - (amt + 5)
                },200);
            }, 300),
            sideText(side){
                switch (this.userRole)
                {
                    case 'a':
                        return this.agentSideText(side);
                    case 'tc':
                        return this.tcSideText(side);
                }
            },
            agentSideText(side){
                switch (side)
                {
                    case 'buyer':
                        return 'BUYER\'S AGENT';
                    case 'seller':
                        return 'SELLER\'S AGENT';
                    case 'both':
                        return 'DUAL AGENT';
                }
            },
            tcSideText(side){
                switch (side)
                {
                    case 'buyer':
                        return 'BUYER\'S TC';
                    case 'seller':
                        return 'SELLER\'S TC';
                    case 'both':
                        return 'DUAL TC';
                }
            },
            closeAndOpenTransaction(id, status){
                genericLoading('Updating Transaction Status');
                axios.post(route('transaction.updateStatus').url(), {
                    transactionID: id,
                    status: status == 'open' ? 'closed' : 'open',
                }).then((r) => {
                    console.log({
                        updateStatusResponse: r,
                    });
                    let transaction = this.allTransactions.find(t => t.ID == id);
                    this.$root.$emit('AlertsIcon__Fetch');
                    this.$store.dispatch('setTransaction', id);
                    this.$store.dispatch('__waitFor',{
                        waitFor: [
                            'setTransaction',
                        ],
                        function: Swal2.close
                    });
                    transaction.Status = r.data.currentStatus;
                }).catch((err) => {
                    Swal2.close();
                    genericError(err);
                    console.log({
                        updateStatusError: err,
                    });
                });
            },
            uploadPropertyPhoto(id){
                let v = this;
                let transaction = this.allTransactions.find(t => t.ID == id);
                let dateTime = moment().toDate();
                let loginURL = route('login').url();
                async function uploadImage()
                {
                    const {value: file} = await uploadPropertyImage();
                    if (file)
                    {
                        const reader = new FileReader;
                        reader.onload = (e) => {
                            Swal2({
                                title: 'Selected Picture.',
                                imageUrl: e.target.result,
                                imageAlt: 'The selected picture.',
                                showCancelButton: true,
                            }).then((r)=>{
                                if (r.value)
                                {
                                    genericLoading('Uploading Image...');
                                    fetch(e.target.result).then(res => res.blob()).then((blob) => {
                                        let formData = new FormData();
                                        formData.append('image',blob);
                                        formData.append('transactionID', id);
                                        formData.append('_token', $('meta[name="csrf-token"]').attr('content'));
                                        let request = new XMLHttpRequest();
                                        request.open('POST', route('property.uploadImage').url());
                                        request.send(formData);
                                        request.onreadystatechange = function () {
                                            if (request.readyState !== 4 || request.status !== 200) return;
                                            if (request.responseURL === loginURL) window.location.href = loginURL;
                                            let data = JSON.parse(request.response);
                                            transaction.PropertyImagePath = data.url+'?timestamp=' + dateTime.getTime();
                                            v.$store.dispatch('setTransaction', v.transactionID);
                                            genericSuccess('Property Image Saved!', 2000);
                                        }
                                    });
                                }
                                else Swal2.close();
                            });
                        };
                        reader.readAsDataURL(file.files[0]);
                    }
                }
                uploadImage();
            },
            profile(transaction){
                switch (this.userRole)
                {
                    case 'a':
                        return this.agentProfile(transaction);
                    case 'tc':
                        return this.tcProfile(transaction);
                }
            },
            sideProfile(transaction){
                switch (this.userRole)
                {
                    case 'a':
                        return this.tcSideProfile(transaction);
                    case 'tc':
                        return this.agentSideProfile(transaction)
                }
            },
            /**
             * agentProfile() gets the agent profile in the transaction related to the user.
             * This function is used in the agent view.
             */
            agentProfile(transaction){
                let agents = transaction.agents;
                let length  = agents.length;
                for(let i = 0; i < length; i++) if (agents[i].Users_ID == this.userID) return [agents[i]];
            },
            /**
             * agentSideProfile() gets the agent profile in the transaction related to the user's side in the transaction.
             * This function is used in the tc view.
             */
            agentSideProfile(transaction){
                let agents = transaction.agents;
                let length  = agents.length;
                for(let i = 0; i < length; i++)
                {
                    let a = agents[i];
                    if (a.ID)
                    {
                        if (transaction.side == 'both') return [a];
                        else if (transaction.side == 'buyer' && a.Role == 'ba') return [a];
                        else if (transaction.side == 'seller' && a.Role == 'sa') return [a];
                    }
                }
                return [{ID:null}];
            },
            /**
             * tcProfile() gets the agent profile in the transaction related to the user.
             * This function is used in the tc view.
             */
            tcProfile(transaction){
                let tcs = transaction.tcs;
                let length  = tcs.length;
                for(let i = 0; i < length; i++) if (tcs[i].Users_ID == this.userID) return [tcs[i]];
            },
            /**
             * tcSideProfile() gets the tc profile in the transaction related to the user's side in the transaction.
             * This function is used in the agent view.
             */
            tcSideProfile(transaction){
                let tcs = transaction.tcs;
                let length  = tcs.length;
                for(let i = 0; i < length; i++)
                {
                    let tc = tcs[i];
                    if (tc.ID)
                    {
                        if (transaction.side == 'both') return [tc];
                        else if (transaction.side == 'buyer' && tc.Role == 'btc') return [tc];
                        else if (transaction.side == 'seller' && tc.Role == 'stc') return [tc];
                    }
                }
                return [{ID:null}];
            },
            escrowPastDueClass(date){
                return moment(date).isBefore(moment().toDate()) ? 'text-muted otc-red' : 'text-muted';
            },
            editTransaction(id){
                return route('transaction.editDetails').url();
            },
            /**
             * This function is used to change the selected transaction in vuex before routing.
             * This function is also used inside of Transactions.vue
             * @param params
             * @param route
             */
            route(params, route){
                this.$store.dispatch('setTransaction', params.id);
                let url;
                switch (route)
                {
                    case 'viewTransactionSummary':
                        url = this.viewTransactionSummary(params.id);
                        break;
                    case 'viewDocuments':
                        url = this.viewDocuments(params.id);
                        break;
                    case 'addKeyPeople':
                        url = this.addKeyPeople(params);
                        break;
                    case 'editTransaction':
                        url = this.editTransaction(params.id);
                        break;
                    case 'invitePage':
                        url = this.invitePage(params.id);
                        break;
                }
                this.$store.dispatch('__redirect', {
                    url: url,
                    waitFor: [
                        'fetchLookupTables',
                    ]
                });
            },
            invitePage(id){
                return route('invite.people', [id]).url();
            },
            viewDocuments(id){
                return route('transactionSummary.documents', [id]).url();
            },
            viewTransactionSummary(id){
                return route('transactionSummary.timeline', [id]).url()
            },
            addKeyPeople(args){
                return route('consumer.addRole', [args.id,args.state]).url();
            },
            getHostURL(){
                let location = window.location.protocol+'//'+window.location.host+'/';
                if(window.location.host == 'localhost' || window.location.host == '127.0.0.1')
                {
                    location += 'OfferToClose/public/';
                }
                return location;
            },
            enterPropertyModal(id){
                window.location.href = this.transactionHomeRoute.replace(':id', id) + '#opm';
            },
            getPropertyImage(propertyImagePath, address){
                if(propertyImagePath == null)return 'https://maps.googleapis.com/maps/api/staticmap?markers='+address+'&size=700x400&scale=2&maptype=roadmap&key=AIzaSyA4J1w4-TUMxlpNYl_NZDl6_Dg2cPhrKS8';
                else return propertyImagePath;
            },
            addNewTransaction(){
                window.location.href = route('questionnaire.createTransaction', [this.userRole]).url();
            },
            clearNewTransactionButton(){
                this.removeNewTransactionButton();
            },
            viewMoreTransactions(){
                this.removeNewTransactionButton();
                this.pagination.rowsPerPage += this.addNewRows;
                this.appendNewTransactionButton(500);
            },
            appendNewTransactionButton(time){
                let iterator = $('.transactionsIterator');
                let vueObject = this;
                setTimeout(function(){
                    iterator.append(
                        '    <div class="addNewTransactionContainer col-xs-12 col-sm-6 col-md-4 col-lg-4" ' +
                        '        style="text-align: center; font-size: 60px; display: flex; justify-content: center; align-items: center; min-height: 330px;">\n' +
                        '        <div class="row">' +
                        '           <div class="col-sm-12 col-md-12 col-lg-12">' +
                        '               <i style="cursor: pointer;" class="fas fa-plus-circle teal addNewTransactionButton"></i>' +
                        '           </div>' +
                        '           <div class="col-sm-12 col-md-12 col-lg-12" style="display:flex; align-items: baseline; justify-content: center;">' +
                        '               <span class="teal" style="font-size:14px;">Add New Transaction</span>' +
                        '           </div>\n' +
                        '       </div>\n' +
                        '    </div>');

                    $('.addNewTransactionButton').click(function () {
                        vueObject.addNewTransaction();
                    });
                }, time);
            },
            removeNewTransactionButton(){
                $('.addNewTransactionContainer').remove();
            },
            formatTransactionProperties(allTrans){
                for(let i in allTrans)
                {
                    if(allTrans.hasOwnProperty(i))
                    {
                        delete allTrans[i].Agent;
                        delete allTrans[i]['Appraisal Contingency'];
                        delete allTrans[i]['Client Role'];
                        delete allTrans[i]['Desposit Due'];
                        delete allTrans[i]['Inspection Contingency'];
                        delete allTrans[i]['Loan Application'];
                        delete allTrans[i]['Loan Contingency'];
                        delete allTrans[i]['Offer Accepted'];
                        delete allTrans[i]['Possession of Property'];
                        delete allTrans[i]['Start of Contract'];
                        //delete allTrans[i].Status;
                        delete allTrans[i].TC;
                        allTrans[i]['Close of Escrow'] = this.$refs.dateInstance.formatDate(allTrans[i]['Close of Escrow'], 'MMMM DD, YYYY');
                    }
                }
                return allTrans;
            },
            calcTransactionContainerWidth(){
                let dashboard = document.getElementById('dashboardContainer');
                this.windowWidth = window.innerWidth;
                let dashboardWidth = dashboard.offsetWidth;
                let itemWidth = dashboardWidth * .47;
                if (window.innerWidth <= 1135) itemWidth = dashboardWidth * .93;
                if (window.innerWidth <= 500) itemWidth = dashboardWidth * .91;
                this.transactionContainerWidth = itemWidth;
                console.log({
                    dashboardContainerWidth: dashboardWidth,
                    itemWidth: itemWidth,
                    windowWidth: window.innerWidth,
                });
                $('.horizontal-scroll').scrollLeft(0);
            }
        },
        mounted(){
            let vueObject = this;
            this.calcTransactionContainerWidth();
            window.addEventListener('resize', function () {
                vueObject.calcTransactionContainerWidth();
            });

            let allTrans = this.$store.getters.getAllTransactions();
            this.$store.subscribe((mutation, state) => {
                switch(mutation.type)
                {
                    case 'setLookupTables':
                        this.$root.$emit('transactionChanged', state);
                        break;
                    case 'setAllTransactions':
                        this.allTransactions = this.formatTransactionProperties(state.allTransactions);
                        break;
                }
            });
            $('#search_table').keyup(_.debounce(function(){
                if($('.addNewTransactionContainer').length == 0)
                {
                    vueObject.appendNewTransactionButton(0);
                }
            } , 1000));
            this.allTransactions = this.formatTransactionProperties(allTrans);
            if (this.isConsumer) this.consumerTransactions = this.cTransactions;
            this.appendNewTransactionButton();

            $('.filters li').click(function ()
            {
                let el = $(this);
                let filter = el.data('filter');
                let filterType = el.data('type');
                if(vueObject.filters[filterType] !== filter)
                {
                    vueObject.filters[filterType] = filter;
                }
                else
                {
                    vueObject.filters[filterType] = null;
                }

                vueObject.clearNewTransactionButton();
                vueObject.key += vueObject.addToKey;

                $('*[data-type="'+filterType+'"]').removeClass('teal-background');
                if(vueObject.filters[filterType]) $('*[data-type="'+filterType+'"][data-filter="'+filter+'"]').addClass('teal-background');
            });
        }
    }
</script>

<style scoped>
    .v-card{
        border-radius: 5px;
        margin:10px;
    }

    .optionsIconParent{
        bottom: 10px;
        right: 0;
        position:absolute;
    }

    .options{
        border: solid 1px #dadada;
        border-radius: 4px;
        padding: 1px 5px;
        font-size: 25px;
        width: 50px;
        text-align: center;
    }

    table{
        table-layout:fixed;
        width:100%;
    }

    table tbody tr{
        width: 100%;
    }

    table td{
        display: inline-block;
        padding: 10px;
        position:relative;
    }


    .optionsTD {
        width: 15%;
        border-bottom: solid 1px #e2e2e2;
        vertical-align: bottom;
    }

    .addressTD{
        width: 85%;
        border-bottom: solid 1px #e2e2e2;
        font-size: 13px;

    }

    .clientTD{
        width: 40%;
    }

    .coeTD{
        width: 60%;
    }

    .clientName{
        font-weight:bold;
        font-size: 12px;
    }

    .coeText{
        font-weight: bold;
        font-size: 12px;
    }

    .viewMoreTransactions{
        cursor: pointer;
        display: flex;
        justify-content: center;
        padding:10px;
    }
    .noPropertyCover{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 170px;
        background: url("https://i.ibb.co/gRq9JkQ/static-Map.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        cursor:pointer;
        z-index: 1;
    }
    .noPropertyCover div{
        display: flex;
        border: solid 1px #21d7d1;
        color: #21d7d1;
        background: white;
        padding: 10px;
        font-size: 13px;
    }
    #filterContainer{
        text-align: right;
    }
    #dashboardContainer{
        background: white;
    }
</style>
