<template>
    <div id="v__searchPerson" :class="classes" :style="styles">
        <div v-if="searchResults.length > 0" class="results-container">
            <ul>
                <li v-on:click="getData(result.ID)" v-if="i < cLimit" v-for="(result,i) in searchResults">
                    {{result.NameFirst + ' ' + result.NameLast}}, License #: {{result.License || 'Not specified.'}}
                </li>
                <li id="viewMore" v-if="cLimit < searchResults.length" v-on:click="viewMoreResults()">
                    View More
                </li>
            </ul>
        </div>
    </div>
</template>

<script>
    export default {
        name: "SearchPerson",
        components: {

        },
        props: {
            styles: {
                type: String,
                default: '',
            },
            classes: {
                type: String,
                default: '',
            },
            token: {
                type: String,
                default: '',
            },
            table: {
                type: String,
                default: '',
            },
            model: {
                type: String,
                default: '',
            },
            roleCode: {
                type: String,
                default: '',
            },
        },
        computed:{

        },
        watch:{

        },
        data(){
            return{
                searchResults: [],
                searchRoute: '',
                cLimit: 50,
            }
        },
        methods: {
            search(search_query){
                let v       = this;
                axios.post(v.searchRoute, {
                    _table: v.table,
                    _model: v.model,
                    _roleCode: v.roleCode,
                    offset: 0,
                    limit: 100000,
                    search_query: search_query
                }).then((r) => {
                    console.log({
                        searchPersonResponse: r,
                    });
                    v.searchResults = r.data || [];
                });
            },
            viewMoreResults(){
                this.cLimit += 50;
            },
            getData(id){
                this.searchResults = [];
                let v = this;
                axios.post(route('getAuxData').url(), {
                    ID: id,
                    _model: v.model,
                }).then((r) => {
                    console.log({
                        getAuxDataResponse: r,
                    });
                    let status = r.data.status;
                    if (status == 'success')
                    {
                        let result = r.data.data;
                        if (result[0])
                        {
                            result[0].Lib_ID = result[0].ID;
                            delete result[0].ID;
                            v.$parent.$emit('searchPersonChosenData', result[0]);
                        }
                    }
                    else if(status == 'fail') genericError(r.body.message+' '+r.body.error_code);
                    else genericError();
                });
            },
        },
        mounted() {
            let route = correctVuexRouteURL(this.$store.getters.routeName('search.Person'));
            if (!route) genericError('Cannot find search route. Error code: spr-001');
            else this.searchRoute = route;
            this.$on('executeSearch', search_query => {
                this.search(search_query);
            });
        }
    }
</script>

<style scoped>
    .results-container{
        overflow-y: scroll;
        height: 200px;
        z-index: 1;
        background: white;
        border: solid 1px #ccc;
        position: absolute;
    }

    .results-container ul{
        list-style: none;
        padding: 0 10px 0 10px;
    }

    .results-container ul li{
        color: gray;
    }

    .results-container ul li:hover{
        cursor: pointer;
        color: black;
    }

    #viewMore{
        text-align: center;
        padding: 10px;
        margin-top: 10px;
        border-top: solid 1px #ccc;
    }

    #viewMore:hover{
        color: #21D7D1;
        text-decoration: underline;
    }
</style>