<template>
    <div class="row KeyPeopleBody" id="ConsumerSearchKeyPeople">
        <div class="col-sm-12">
            <h4 class="display-4 KeyPeopleHeading">Search Key People</h4>

            <div class="input-group border KeyPeopleSearchBox">
                <input
                        type="text"
                        name="search"
                        class="form-control border-0"
                        placeholder="Type a First Name, Last Name, Full Name, Role, or Email Address"
                        v-model="search"
                        autocomplete="off"
                >
                <button class="btn btn-red rounded-0" type="submit">
                    <i class="fas fa-search"></i>
                </button>
            </div>

            <div class="KeyPeopleTableBox" :style="tableBoxStyle">
                <v-data-table
                        :items="searchedKeyPeople"
                        :headers="headers"
                        :hide-actions="true"
                        class="KeyPeopleTable"
                        no-data-text=""
                >
                    <template v-slot:items="people">
                        <tr class="KeyPeopleTableRow" v-if="people.item.NameFull">
                            <td>
                                <div>
                                    <strong class="d-block">{{people.item.NameFull}}</strong>
                                    <span>{{people.item.Email ? '('+people.item.Email+')' : ''}}</span>
                                </div>
                            </td>
                            <td class="KeyPeopleRole">
                                <div>
                                    <span class="text-muted">{{people.item.Role}}</span>
                                </div>
                            </td>
                            <td class="KeyPeopleEditOptions">
                                <div>
                                    <a v-if="people.item.Transactions_ID" v-on:click.prevent="editKeyPeople(people.item.Transactions_ID)" href="#" class="KeyPeolpeAnchorStyleOne">Edit</a>
                                    <span v-if="people.item.Transactions_ID" class="KeyPeolpeAnchorStyleOne">&nbsp|&nbsp</span>
                                    <a v-if="people.item.Transactions_ID" v-on:click="sendEmail(people.item.Email || '', people.item.Transactions_ID)" href="#" class="KeyPeolpeAnchorStyleOne">Email</a>
<!--                                    <span v-if="people.item.ID && people.item.Transactions_ID" class="KeyPeolpeAnchorStyleOne">&nbsp|&nbsp</span>-->
<!--                                    <a v-if="people.item.ID" v-on:click.prevent="viewProfile(people.item.ID)" href="#" class="KeyPeolpeAnchorStyleOne">View</a>-->
                                </div>
                            </td>
                        </tr>
                    </template>
                </v-data-table>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "SearchKeyPeople",
        components: {

        },
        props: {
            token: {
                type: String,
                default: '',
            }
        },
        computed:{
            tableBoxStyle(){
                if (this.searchedKeyPeople.length == 0) return {'border':'none'};
                return {};
            },
            searchedKeyPeople(){
                if(this.search)
                {
                    let v = this;
                    /**
                     * Search uses this.search to match the string types to
                     * NameFirst, NameLast, NameFull, Role, or Email
                     **/
                    function search(person){
                        let query = v.search.toLowerCase();
                        let reg = new RegExp(query, 'g');
                        if (person.NameFirst) if (person.NameFirst.toLowerCase().match(reg)) return true;
                        if (person.NameLast) if (person.NameLast.toLowerCase().match(reg)) return true;
                        if (person.NameFull) if (person.NameFull.toLowerCase().match(reg)) return true;
                        if (person.Role) if (person.Role.toLowerCase().match(reg)) return true;
                        if (person.Email) return person.Email.toLowerCase().match(reg) || false;
                        return false;
                    }
                    return this.keyPeople.filter(k => search(k));
                }
                else return [];
            },
            consumer(){
                let role = this.userData.userRole;
                return role == 'h' || role == 'b' || role == 's';
            },
            agent(){
                let role = this.userData.userRole;
                return role == 'a' || role == 'ba' || role == 'sa';
            },
            tc(){
                let role = this.userData.userRole;
                return role == 'tc' || role == 'btc' || role == 'stc';
            },
            aux(){
                let role = this.userData.userRole;
                return role == 'e' || role == 'l' || role == 't' || role == 'aux';
            }
        },
        data(){
            return{
                rawKeyPeopleData :  {},
                keyPeople:          [],
                search:             '',
                userData:           this.$store.getters.getUserData(),
                headers: [
                    {
                        text: '',
                        sortable: false,
                        value: 'email'
                    },
                    {
                        text: '',
                        sortable: false,
                        value: 'role'
                    },
                    {
                        text: '',
                        sortable: false,
                        value: 'name'
                    },
                ],
            }
        },
        methods: {
            editKeyPeople(transactionID){
                this.$store.dispatch('setTransaction', transactionID);
                this.$store.dispatch('__redirect', {
                    url: route('transaction.editDetails').url()+'/#okp',
                    waitFor: [
                        'setTransaction',
                    ]
                });
            },
            viewProfile(recordID){
                window.location.href = route('view.userProfile', [recordID]).url();
            },
            sendEmail(email, id){
                console.log({
                    email: email,
                    id: id,
                });
                window.open(route('send.email.view', [id]).url() + '/#email**'+email);
            },
            getKeyPeople(){
                let transactions;
                let kp = [];
                if (this.consumer)
                {
                    let currentTransactionID = this.$store.getters.currentTransaction();
                    let transaction = this.$store.getters.getTransactionByID(currentTransactionID);
                    kp = this.filterOutKeyPeople([transaction]);
                }
                else if (this.agent || this.tc)
                {
                    transactions = this.$store.getters.getAllTransactions();
                    kp = this.filterOutKeyPeople(transactions);
                }
                this.keyPeople = kp;
            },
            filterOutKeyPeople(transactions){
                let keyPeople = [];
                /**
                 * This is the same list that is added to the transaction object in
                 * TransactionCombine::transactionList()
                 */
                let keyPeopleTypes = {
                    buyers  : 'Buyer',
                    sellers : 'Seller',
                    agents  : 'Agent',
                    tcs     : 'Transaction Coordinator',
                    escrow  : 'Escrow Officer',
                    loan    : 'Lender',
                    title   : 'Title Agent'
                };
                let length = transactions.length;
                for (let t = 0; t < length; t++)
                {
                    $.each(keyPeopleTypes, (prop, role) => {
                        let roleArray = transactions[t][prop] || false;
                        if (roleArray)
                        {
                            let l = roleArray.length;
                            for (let person = 0; person < l; person++)
                            {
                                if (roleArray[person].ID)
                                {
                                    roleArray[person].Role = role;
                                    keyPeople.push(roleArray[person]);
                                }
                            }
                        }
                    });
                }
                return keyPeople;
            },
        },
        mounted() {
            this.getKeyPeople();
        }
    }
</script>

<style scoped>

</style>