<template>
    <div id="EmailToolPageContainer">
        <div class="row py-5 mx-auto" id="EmailToolPage">
            <div class="col-sm-12">
                <form class="EmailToolForm">
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Send Email To:</label>
                        <div class="col-sm-9">
                            <div class="dropdown EmailToolDropdown border rounded py-0">
                                <input autocomplete="off" placeholder="Add Recipients" type="text" name="Recipients" v-model="recipients" class="form-control" data-toggle="dropdown">
                                <div class="dropDownIconContainer teal">
                                    <i class="fas fa-caret-down"></i>
                                </div>
                                <div class="dropdown-menu EmailToolDropdownMenu shadow py-3 px-lg-2">
                                    <ul>
                                        <li v-if="person.name && person.email" v-for="(person, i) in keyPeople" v-on:click="addRemoveRecipient(i,'to')">
                                            {{person.name}}
                                            <span class="personRole">({{person.role}})</span>
                                            <span v-if="showRemoveButton(person.email, 'to')" class="removeButton">click to remove</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <a v-if="!ccActive" href="#/" class="EmailToolAnchorStyleOne ml-4" v-on:click="ccActive = true">Add CC</a>
                            <a v-else href="#/" class="EmailToolAnchorStyleOne ml-4" v-on:click="ccActive = false">Remove CC</a>
                            <a v-if="!bccActive" href="#/" class="EmailToolAnchorStyleOne ml-4" v-on:click="bccActive = true">Add BCC</a>
                            <a v-else href="#/" class="EmailToolAnchorStyleOne ml-4" v-on:click="bccActive = false">Remove BCC</a>
                        </div>
                    </div>
                    <div class="form-group row" v-if="ccActive">
                        <label class="col-sm-3 col-form-label">CC:</label>
                        <div class="col-sm-9">
                            <div class="dropdown EmailToolDropdown border rounded py-0">
                                <input autocomplete="off" placeholder="Add CC Recipients" type="text" name="Recipients" v-model="ccRecipients" class="form-control" data-toggle="dropdown">
                                <div class="dropDownIconContainer teal">
                                    <i class="fas fa-caret-down"></i>
                                </div>
                                <div class="dropdown-menu EmailToolDropdownMenu shadow py-3 px-lg-2">
                                    <ul>
                                        <li v-if="person.name && person.email" v-for="(person, i) in keyPeople" v-on:click="addRemoveRecipient(i, 'cc')">
                                            {{person.name}}
                                            <span class="personRole">({{person.role}})</span>
                                            <span v-if="showRemoveButton(person.email, 'cc')" class="removeButton">click to remove</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row" v-if="bccActive">
                        <label class="col-sm-3 col-form-label">BCC:</label>
                        <div class="col-sm-9">
                            <div class="dropdown EmailToolDropdown border rounded py-0">
                                <input autocomplete="off" placeholder="Add BCC Recipients" type="text" name="Recipients" v-model="bccRecipients" class="form-control" data-toggle="dropdown">
                                <div class="dropDownIconContainer teal">
                                    <i class="fas fa-caret-down"></i>
                                </div>
                                <div class="dropdown-menu EmailToolDropdownMenu shadow py-3 px-lg-2">
                                    <ul>
                                        <li v-if="person.name && person.email" v-for="(person, i) in keyPeople" v-on:click="addRemoveRecipient(i,'bcc')">
                                            {{person.name}}
                                            <span class="personRole">({{person.role}})</span>
                                            <span v-if="showRemoveButton(person.email, 'bcc')" class="removeButton">click to remove</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Use Template:</label>
                        <div class="col-sm-9">
                            <div class="dropdown EmailToolDropdown border rounded py-0">
                                <div class="dropDownIconContainer teal">
                                    <i class="fas fa-caret-down"></i>
                                </div>
                                <button type="button" class="btn form-control dropdown-toggle EmailToolDropdownButton" data-toggle="dropdown">{{templateChosenDescription}}</button>
                                <div class="dropdown-menu EmailToolDropdownMenu shadow py-3 px-lg-2">
                                    <ul>
                                        <li v-for="template in allTemplates" v-on:click="getEmailHTML(template)">
                                            {{templateNameDisplay(template.DisplayDescription)}}
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Email Subject:</label>
                        <div class="col-sm-9">
                            <input type="text" name="subject" class="form-control" v-model="emailSubject">
                        </div>
                    </div>
                    <!--
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Add Documents:</label>
                        <div class="col-sm-9">
                            <div class="dropdown EmailToolDropdown border rounded py-0">
                                <button type="button" class="btn form-control dropdown-toggle EmailToolDropdownButton" data-toggle="dropdown">Optional</button>
                                <div class="dropdown-menu EmailToolDropdownMenu shadow py-3 px-lg-2">
                                    <a href="" class="dropdown-item EmailToolDropdownItem">Residentail Purchase Agreement</a>
                                    <a href="" class="dropdown-item EmailToolDropdownItem">Counter Offer</a>
                                    <a href="" class="dropdown-item EmailToolDropdownItem">Request for Repairs</a>
                                    <img src="images/divider.png">
                                    <a href="" class="dropdown-item EmailToolDropdownItem">Upload a New Document</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    -->
                    <quill-editor
                            ref="CompositionArea"
                            v-model="emailContent"
                            :options="quillConfig"
                    >

                    </quill-editor>
                    <div class="sendEmailButtonContainer">
                        <button v-if="recipients && emailSubject && emailContent" type="button" class="btn btn-red-white-trim" v-on:click="sendEmail">SEND EMAIL</button>
                        <button v-else type="button" class="btn btn-red-white-trim" disabled>SEND EMAIL</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
    import {quillEditor} from 'vue-quill-editor';
    export default {
        name: "SendEmail",
        components: {
            quillEditor,
        },
        watch: {
            bccActive: {
                handler(val){
                    if (!val) this.bccRecipients = '';
                },
            },
            ccActive: {
                handler(val){
                    if (!val) this.ccRecipients = '';
                },
            }
        },
        props: {
            transactionID: {
                default: 0,
            },
            token: {
                type: String,
                default: null,
            },
            keyPeopleProp: {
                type: String,
                default: '{}',
            },
            templatesProp: {
                type: String,
                default: '{}',
            },
            userEmail: {
                type: String,
                default: '',
            },
        },
        data(){
            return {
                emailContent: '',
                emailSubject: '',
                quillConfig: {
                    placeholder: 'Compose an epic...',
                    modules: {
                        toolbar: [
                            ['link', 'image'],
                            ['bold', 'italic', 'underline', 'strike'],
                            [{ size: [ 'small', false, 'large', 'huge' ]}],
                            [{ 'list': 'ordered'}, { 'list': 'bullet' }],
                            [{ 'script': 'sub'}, { 'script': 'super' }],
                            [{ 'align': [] }],
                            [{ 'color': [] }, { 'background': [] }],
                        ],
                    },
                },
                bccActive: false,
                ccActive: false,
                recipients: '',
                ccRecipients: '',
                bccRecipients: '',
                allKeyPeopleInformation: JSON.parse(this.keyPeopleProp),
                allTemplates: JSON.parse(this.templatesProp),
                keyPeople: [],
                templateChosenDescription: 'Optional',
                ajaxConverterRoute: correctVuexRouteURL(this.$store.getters.routeName('ajax.converter')),
            }
        },
        methods: {
            templateNameDisplay(display){
                return display.replace(/(<.{1,3}>)/g, '');
            },
            showRemoveButton(email, type){
                let recipients;
                let arr = [];
                switch (type)
                {
                    case 'to':
                        recipients = 'recipients';
                        break;
                    case 'cc':
                        recipients = 'ccRecipients';
                        break;
                    case 'bcc':
                        recipients = 'bccRecipients';
                        break;
                }
                if (this[recipients]) arr = this[recipients].split(',');
                return arr.includes(email);
            },
            sendEmail(){
                Swal2({
                    text: 'Sending Email...',
                    showConfirmButton: false,
                    allowOutsideClick: false,
                    onBeforeOpen: () => {
                        Swal2.showLoading();
                    },
                });
                let vueObject = this;
                let sendEmailRoute = correctVuexRouteURL(vueObject.$store.getters.routeName('sendEmail.string'));
                if (!sendEmailRoute) genericError('Unable to find send email route. Error code: se-001');
                else
                {
                    axios.post(sendEmailRoute, {
                        _to:            vueObject.recipients,
                        _cc:            vueObject.ccRecipients,
                        _bcc:           vueObject.bccRecipients,
                        _from:          vueObject.userEmail,
                        _transactionID: vueObject.transactionID,
                        message:        vueObject.emailContent,
                        subject:        vueObject.emailSubject,
                    }).then((r) => {
                        Swal2.close();
                        let status = r.data.status;
                        if (status == 'success') genericSuccess('Email has been sent.');
                        else if (status == 'fail') genericError(r.data.message);
                        else genericError();
                    });
                }
            },
            addRemoveRecipient(index, type, email = null){
                let recipients;
                let arr = [];
                switch (type)
                {
                    case 'to':
                        recipients = 'recipients';
                        break;
                    case 'cc':
                        recipients = 'ccRecipients';
                        break;
                    case 'bcc':
                        recipients = 'bccRecipients';
                        break;
                }
                if (this[recipients] != '') arr = this[recipients].split(',');
                if (!email) email = this.keyPeople[index].email;
                let emailIndex = arr.indexOf(email);
                if (emailIndex !== -1) arr.splice(emailIndex);
                else arr.push(email);
                this[recipients] = arr.join(',');
            },
            getEmailHTML(template){
                console.log({
                    template: template,
                });
                let mailTemplateID      = template.ID;
                let displayDescription  = template.DisplayDescription || '';
                genericLoading('Loading email template...');
                let vueObject = this;
                if (!vueObject.ajaxConverterRoute) genericError('ajax Converter route not found. Error code: gem-001');
                else
                {
                    axios.post(vueObject.ajaxConverterRoute, {
                        class: 'App\\Http\\Controllers\\MailController',
                        isStatic: 0,
                        method: 'getEmailHTML',
                        args: [
                            mailTemplateID,
                            vueObject.transactionID,
                        ],
                    }).then((r) => {
                        console.log({
                            getEmailHTMLResponse: r,
                        });
                        Swal2.close();
                        let status = r.data.status;
                        if (status == 'success')
                        {
                            vueObject.templateChosenDescription = this.templateNameDisplay(r.data.data.displayDescription || displayDescription);
                            vueObject.emailContent = r.data.data.html;
                            vueObject.emailSubject = r.data.data.subject;
                        }
                    });
                }
            },
            checkHashes(){
                let hash = window.location.hash || false;
                if (hash)
                {
                    let hashes = hash.split('#');
                    let length = hashes.length;
                    for (let i = 0; i < length; i++)
                    {
                        if (hashes[i])
                        {
                            if (hashes[i].indexOf('template') > -1)
                            {
                                let parts = hashes[i].split('_');
                                let templateID = parts[1];
                                if (parseInt(templateID) > 0)
                                {
                                    this.getEmailHTML({ID:templateID});

                                }
                            }
                            else if (hashes[i].indexOf('email') > -1)
                            {
                                let parts = hashes[i].split('**');
                                let email = parts[1] || null;
                                if (email) this.addRemoveRecipient(0, 'to', email);
                            }
                        }
                    }
                    window.location.hash = '';
                }
            },
            getKeyPeople(){
                this.keyPeople.push({
                    name: this.allKeyPeopleInformation['Buyer_0'] || '',
                    email: this.allKeyPeopleInformation['B Email_0'] || '',
                    role: 'Buyer',
                });
                this.keyPeople.push({
                    name: this.allKeyPeopleInformation['Buyer_1'] || '',
                    email: this.allKeyPeopleInformation['B Email_1'] || '',
                    role: 'Buyer',
                });
                this.keyPeople.push({
                    name: this.allKeyPeopleInformation['Seller_0'] || '',
                    email: this.allKeyPeopleInformation['S Email_0'] || '',
                    role: 'Seller'
                });
                this.keyPeople.push({
                    name: this.allKeyPeopleInformation['Seller_1'] || '',
                    email: this.allKeyPeopleInformation['S Email_1'] || '',
                    role: 'Seller',
                });
                this.keyPeople.push({
                    name: this.allKeyPeopleInformation['Buyer\'s Agent'] || '',
                    email: this.allKeyPeopleInformation['BA Email'] || '',
                    role: 'Buyer\'s Agent',
                });
                this.keyPeople.push({
                    name: this.allKeyPeopleInformation['Seller\'s Agent'] || '',
                    email: this.allKeyPeopleInformation['SA Email'] || '',
                    role: 'Seller\'s Agent',
                });
                this.keyPeople.push({
                    name: this.allKeyPeopleInformation['Buyer\'s Transaction Coordinator']  || '',
                    email: this.allKeyPeopleInformation['BTC Email'] || '',
                    role: 'Buyer\'s Transaction Coordinator',
                });
                this.keyPeople.push({
                    name: this.allKeyPeopleInformation['Seller\'s Transaction Coordinator'] || '',
                    email: this.allKeyPeopleInformation['STC Email'] || '',
                    role: 'Seller\'s Transaction Coordinator',
                });
            },
        },
        mounted() {
            this.getKeyPeople();
            this.checkHashes();
        }
    }
</script>

<style scoped>

</style>