<template>
    <div class="row col-sm-12 splitFileList">
        <div class="splitTitle">Select Pages to Split</div>
        <div class="col-sm-12 col-md-12 col-lg-12 thumbnailContainer">
            <div v-for="(page,key) in pages" class="thumbnail">
                <div class="fileObjectParent">
                    <div :class="coverClass(page.ID)" :style="prevSelectedPages.includes(page.ID) ? 'border:solid 1px #ca4544' : 'none'"></div>
                    <div class="fileObject">
                        <div class="numberContainer">
                            {{selectedPages.indexOf(page.ID) !== -1 ? selectedPages.indexOf(page.ID) + 1 : ''}}
                        </div>
                        <div class="selectorCheckboxContainer">
                            <input
                                    type="checkbox"
                                    v-model="selectedPages"
                                    :value="page.ID">
                        </div>
                        <iframe
                                :src="page.DocumentPath"
                                width="100%"
                                height="100%"
                                seamless
                        ></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "SplitDocumentFileList",
        props: {
            pages: {
                type: Array,
                default: () => [],
            },
            prevSelectedPages: {
                type: Array,
                default: () => [],
            }
        },
        watch: {
            selectedPages: {
                handler(){
                    this.$root.$emit('splitUISelectedPages', this.selectedPages);
                }
            },
        },
        data(){
            return {
                selectedPages: [],
            }
        },
        methods: {
            coverClass(ID){
                return this.selectedPages.indexOf(ID) !== -1 ? 'cover light-blue-background':'cover';
            }
        },
        mounted() {
            this.$root.$on('splitUIResetSelectedPages', data => {
                this.selectedPages = [];
            });
        }
    }
</script>

<style scoped>

    .splitTitle{
        font-size: 21px;
        margin-left: 20px;
    }

    .selectorCheckboxContainer{
        position: absolute;
        width: 15px;
        height: 15px;
        top: 0;
        left: -15px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .numberContainer{
        position: absolute;
        top: 20%;
        z-index: 5;
        width: 100%;
        height: 60%;
        display: flex;
        align-items: center;
        font-size: 60px;
        color: white;
        justify-content: center;
        text-shadow: 4px 5px 6px #000;
    }

    .light-blue-background{
        background: #1bb5ffba !important;
        opacity: .5;
    }

    .selectorCheckboxContainer input{
        width: 100%;
        height: 100%;
    }

    .thumbnailContainer{
        justify-content: center;
        align-items: center;
        width: 110%;
    }

    .fileObjectParent{
        position: relative;
    }

    .fileObject{
        width: 100%;
        height: 100%;
        background: #eeeeee;
        overflow: hidden;
    }
    .cover{
        width: 100%;
        height: 100%;
        position:absolute;
        top: 0;
        left: 0;
        background: transparent;
        cursor: pointer;
        z-index:5;
    }
    .fileObject iframe{
        height: 170px;
        width: 125%;
        border:0;
        transform: scale(1);
        -ms-transform-origin: 0 0;
        -moz-transform-origin: 0 0;
        -o-transform-origin: 0 0;
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
    }
    .thumbnail .highlighted iframe{
        opacity: 1;
    }

    .gap{
        position: relative;
        height:100px;
    }

    .rightArrow{
        width:20px;
        position: absolute;
        height: 10%;
        top:35%;
        left: 0;
        cursor: pointer;
    }
    .leftArrow{
        width:20px;
        position: absolute;
        height: 10%;
        top:35%;
        right: -10px;
        cursor: pointer;
    }
    ::-webkit-scrollbar {
        display: none;
    }

    .thumbnail{
        width: 150px;
        margin-right: 15px;
        white-space: nowrap;
        display: inline-block;
        border: none;
        background: none;
        border-radius: 0;
    }

    .timestamp{
        position: absolute !important;
        width: 100% !important;
        opacity: 1.0 !important;
        z-index: 6 !important;
        height: 40px !important;
        font-size: 13px !important;
        line-height: 35px;
        text-align: center;
    }
</style>