<template>
    <div class="content-wrap">
        <div v-if="consumer || agent || tc">
            <div class="clearfix doc-heading-section" id="ConsumerDocumentsControls" style="border-bottom: solid 1px #ccc;">
                <div class="pr-0 mt-4 SearchContainer col-sm-7">
                    <form id="CS-search-box" class="doc-search-box">
                        <div class="input-group mb-3" style="width: 100%;">
                            <input style="width: 50%;" type="text" class="form-control" v-model="search" placeholder="Search">
                            <div class="input-group-append">
                                <button class="btn rounded-left red-button search-button" type="button"><i class="fas fa-search"></i></button>
                                <button v-on:click="createTask()" class="btn mt-n1 add red-button add-doc-button float-right" type="button"><i class="fas fa-plus"></i>ADD A TASK</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-sm-5" id="CS-sorting-dropdown">
                    <!--
                    <div class="dropdown d-inline-block">
                        <button class="btn dropdown-toggle active documentControlButtons" data-toggle="dropdown">Type <i class="fas fa-caret-down"></i></button>
                        <div class="dropdown-menu py-0 controls-dropdown">
                            <div><span>Type <i class="fas fa-caret-down"></i></span></div>
                            <a v-on:click="changeContent('tasks')" :class="content.tasks ? 'dropdown-item light-blue-background':'dropdown-item'" href="#/">Task</a>
                            <a v-on:click="changeContent('milestones')" :class="content.milestones ? 'dropdown-item light-blue-background':'dropdown-item'" href="#/">Milestone</a>
                        </div>
                    </div>
                    -->
                    <div class="dropdown d-inline-block">
                        <button class="btn dropdown-toggle documentControlButtons white-background hov-teal-bg" data-toggle="dropdown">View <i class="fas fa-caret-down"></i></button>
                        <div class="dropdown-menu py-0 controls-dropdown">
                            <div><span>View <i class="fas fa-caret-down"></i></span></div>
                            <a class="dropdown-item" href="#" v-on:click.prevent="changeView()"><i v-if="dateView" class="far fa-check-circle"></i>  Date</a>
                            <a class="dropdown-item" href="#" v-on:click.prevent="changeView()"><i v-if="!dateView" class="far fa-check-circle"></i>  Category</a>
                            <a href="#/" class="dropdown-item dropdown-item-header">Tasks and/or Milestones</a>
                            <a v-on:click.prevent="changeContent('tasks')" class="dropdown-item" href="#"><i v-if="content.tasks" class="far fa-check-circle"></i>  Tasks</a>
                            <a v-on:click.prevent="changeContent('milestones')" class="dropdown-item" href="#"><i v-if="content.milestones" class="far fa-check-circle"></i>  Milestones</a>
                        </div>
                    </div>
                    <div class="dropdown d-inline-block">
                        <button class="btn dropdown-toggle documentControlButtons white-background hov-teal-bg" data-toggle="dropdown">Sort <i class="fas fa-caret-down"></i></button>
                        <div class="dropdown-menu py-0 controls-dropdown">
                            <div><span>Sort <i class="fas fa-caret-down"></i></span></div>
                            <a class="dropdown-item" href="#" v-on:click.prevent="sortTimeline('az')"><i v-if="latestSortRule == 'az'" class="far fa-check-circle"></i>  A-Z</a>
                            <a class="dropdown-item" href="#" v-on:click.prevent="sortTimeline('za')"><i v-if="latestSortRule == 'za'" class="far fa-check-circle"></i>  Z-A</a>
                            <a class="dropdown-item" href="#" v-on:click.prevent="sortTimeline('date_desc')"><i v-if="latestSortRule == 'date_desc'" class="far fa-check-circle"></i>  Due Date <i class="fas fa-arrow-down"></i></a>
                            <a class="dropdown-item border-0" href="#" v-on:click.prevent="sortTimeline('date_asc')"><i v-if="latestSortRule == 'date_asc'" class="far fa-check-circle"></i>  Due Date <i class="fas fa-arrow-up"></i></a>
                        </div>
                    </div>

                    <div class="dropdown d-inline-block" id="CS-filter-button">
                        <button class="btn dropdown-toggle documentControlButtons white-background hov-teal-bg" data-toggle="dropdown" >Filter <i class="fas fa-caret-down"></i></button>
                        <div class="dropdown-menu py-0 controls-dropdown">
                            <div><span>Filter <i class="fas fa-caret-down"></i></span></div>
                            <a class="dropdown-item" href="#" v-on:click.prevent="addFilter('Complete', true)"><i v-if="filters.Complete" class="far fa-check-circle"></i>  Complete</a>
                            <a class="dropdown-item border-0" href="#" v-on:click.prevent="addFilter('Incomplete', true)"><i v-if="filters.Incomplete" class="far fa-check-circle"></i>  Incomplete</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div v-else class="docs-actions">
            <div class="action-item timeline-options">
                <ul>
                    <li v-on:click="changeContent('tasks')" v-bind:class="{'teal-background': content.tasks}">
                        Tasks
                    </li>
                    <li v-on:click="changeContent('milestones')" v-bind:class="{'teal-background': content.milestones}">
                        Milestones
                    </li>
                    <li v-on:click="changeView()" v-bind:class="{'teal-background': dateView}">
                        Date View
                    </li>
                    <li v-on:click="changeView()" v-bind:class="{'teal-background': !dateView}">
                        Category View
                    </li>
                </ul>
            </div>
            <div class="section-item section-top text-right">
                <div v-on:click="createTask()" class="btn-danger add-task-button">+ ADD A TASK</div>
            </div>
            <div v-if="dateView" class="action-item searchContainer">
                <form class="docs-search-wrap">
                    <input v-model="search" type="text" class="search-input" placeholder="Search">
                    <div class="search-submit"><i class="fas fa-search"></i></div>
                </form>
            </div>
        </div>
        <v-container>
            <div v-if="isMounted && dateView">
                <div v-for="(intervalData,index) in chosenItems">
                    <div v-if="processFilters(index) && intervalData.length > 0" class="section-item thisweek-section">
                        <h4 v-if="index == 'past' && intervalData.length > 0" class="sub-title task_this_week_header"><span class="red">Past</span></h4>
                        <h4 v-else-if="index == 'week' && intervalData.length > 0" class="sub-title task_this_week_header">This Week</h4>
                        <h4 v-else-if="index == 'upcoming' && intervalData.length > 0" class="sub-title task_this_week_header">Upcoming</h4>
                        <h4 v-else-if="index == 'completed' && intervalData.length > 0" class="sub-title task_this_week_header">Completed</h4>
                        <div class="list-dates timeline_this_week">
                            <v-data-iterator
                                    :items="intervalData"
                                    content-class="timelineIterator"
                                    :search="search"
                                    row
                                    wrap
                                    :hide-actions="booleanTrue"
                                    :key="key"
                                    no-data-text=""
                            >
                                <template v-slot:item="props">
                                    <div class="date-item" :id="props.item.type+props.item.Link_ID" v-if="displayItem(props.item)">
                                        <div v-if="props.item.DateData.isToday" class="date due"><span class="quote-due">Due Today</span></div>
                                        <div v-else class="date"><span class="month" style="text-transform: uppercase">{{props.item.DateData.month}}</span><span class="day">{{props.item.DateData.date}}</span></div>
                                        <div class="description">
                                            <div v-if="!consumer && !agent && !tc" class="desc-wrap dropdown-toggle" :id="'dropdownMenuButton'+props.item.Counter" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <span class="task-and-milestone-description">{{props.item.Description}}</span>
                                                <div class="dropdown-menu transaction-list-dropdown-menu" v-bind:aria-labelledby="'dropdownMenuButton'+props.item.Counter">
                                                    <div v-on:click="completionDeletion(props.item, 'completed')">Complete</div>
                                                    <div v-on:click="edit(props.item)">Edit</div>
                                                    <div v-if="props.item.type == 'task'" v-on:click="completionDeletion(props.item, 'delete')">Remove</div>
                                                    <div v-for="(hap,i) in props.item.Haps">
                                                        <div v-on:click="functionCallHandler(hap['__FUNCTION__'], hap)">{{i}}</div>
                                                    </div>
                                                </div>
                                                <div style="clear: both;"></div>
                                            </div>
                                            <div v-else class="desc-wrap" :id="'dropdownMenuButton'+props.item.Counter">
                                                <div class="dropdown-menu transaction-list-dropdown-menu" v-bind:aria-labelledby="'dropdownMenuButton'+props.item.Counter">
                                                    <div><i class="fas fa-ellipsis-h"></i></div>
                                                    <div v-if="((!props.item.DateCompleted && props.item.type == 'task') || (props.item.isComplete == 0 && props.item.type == 'timeline'))" v-on:click="completionDeletion(props.item, 'completed')">Complete</div>
                                                    <div v-else v-on:click="completionDeletion(props.item, 'incomplete')">Mark as Incomplete</div>
                                                    <div v-on:click="edit(props.item)">Edit</div>
                                                    <div v-if="props.item.type == 'task'" v-on:click="completionDeletion(props.item, 'delete')">Remove</div>
                                                    <div v-for="(hap,i) in props.item.Haps" v-on:click="functionCallHandler(hap['__FUNCTION__'], hap)">{{i}}</div>
                                                </div>
                                                <span class="task-and-milestone-description">{{props.item.Description}}</span>
                                                <div class="timeline-item-dropdown-trigger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <i class="fas fa-ellipsis-h"></i>
                                                </div>
                                                <div style="clear: both;"></div>
                                            </div>
                                            <div class="desc-note">
                                                <span v-html="noteFormat(props.item.Notes)"></span>
                                            </div>
                                        </div>
                                    </div>
                                </template>
                            </v-data-iterator>
                        </div>
                    </div>
                </div>
            </div>
            <div v-else-if="isMounted && !dateView">
                <div class="accordions">
                    <div class="accordion-item">
                        <v-expansion-panel>
                            <v-expansion-panel-content
                                    v-for="(categoryItems,key) in chosenItems"
                                    :key="key"
                                    expand-icon=""
                                    v-if="checkCodeIncludedInSearch(key)"
                            >
                                <template v-slot:header>
                                    <div class="accordion-trigger">
                                        <h4 v-if="key == 'oth'" class="acc-title">Other</h4>
                                        <h4 v-else class="acc-title">{{categoryItems[0].Display}}</h4>
                                    </div>
                                </template>
                                <div class="section-item thisweek-section">
                                    <div class="list-dates timeline_this_week">
                                        <v-data-iterator
                                                :items="categoryItems"
                                                content-class="timelineIterator"
                                                :search="search"
                                                row
                                                wrap
                                                :hide-actions="booleanTrue"
                                                :key="key"
                                                no-data-text=""
                                                ref="categoryItems"
                                        >
                                            <template v-slot:item="props">
                                                <div class="date-item" v-if="!parseInt(props.item.isComplete) && !props.item.DateCompleted && displayItem(props.item)">
                                                    <div v-if="props.item.DateData.isToday" class="date due"><span class="quote-due">Due Today</span></div>
                                                    <div v-else class="date"><span class="month" style="text-transform: uppercase">{{props.item.DateData.month}}</span><span class="day">{{props.item.DateData.date}}</span></div>
                                                    <div class="description">
                                                        <div class="desc-wrap" :id="'dropdownMenuButton'+props.item.Counter">
                                                            <div class="dropdown-menu transaction-list-dropdown-menu" v-bind:aria-labelledby="'dropdownMenuButton'+props.item.Counter">
                                                                <div><i class="fas fa-ellipsis-h"></i></div>
                                                                <div v-if="((!props.item.DateCompleted && props.item.type == 'task') || (props.item.isComplete == 0 && props.item.type == 'timeline'))" v-on:click="completionDeletion(props.item, 'completed')">Complete</div>
                                                                <div v-else v-on:click="completionDeletion(props.item, 'incomplete')">Mark as Incomplete</div>
                                                                <div v-on:click="edit(props.item)">Edit</div>
                                                                <div v-if="props.item.type == 'task'" v-on:click="completionDeletion(props.item, 'delete')">Remove</div>
                                                                <div v-for="(hap,i) in props.item.Haps" v-on:click="functionCallHandler(hap['__FUNCTION__'], hap)">{{i}}</div>
                                                            </div>
                                                            <span class="task-and-milestone-description">{{props.item.Description}}</span>
                                                            <div class="timeline-item-dropdown-trigger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                <i class="fas fa-ellipsis-h"></i>
                                                            </div>
                                                            <div style="clear: both;"></div>
                                                        </div>
                                                        <div class="desc-note">
                                                            <span v-html="noteFormat(props.item.Notes)"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </template>
                                        </v-data-iterator>
                                    </div>
                                </div>
                            </v-expansion-panel-content>
                        </v-expansion-panel>
                    </div>
                </div>
            </div>
            <div v-if="!consumer && !agent && !tc" class="section-item completed-section">
                <h4 v-if="showCompleted" v-on:click="showCompleted = !showCompleted" class="title timeline-show-completed">Hide Completed <i class="fas fa-caret-up"></i></h4>
                <h4 v-else v-on:click="showCompleted = !showCompleted" class="title timeline-show-completed">Show Completed <i class="fas fa-caret-down"></i></h4>
                <div class="list-dates timeline_completed">
                    <div v-for="(data,i) in chosenItems">
                        <v-data-iterator
                                :items="data"
                                content-class="timelineIterator"
                                :search="search"
                                row
                                wrap
                                no-data-text=""
                                :hide-actions="booleanTrue"
                                :key="key"
                        >
                            <template v-slot:item="props">
                                <div class="date-item" v-if="(props.item.DateCompleted || parseInt(props.item.isComplete)) && displayItem(props.item)">
                                    <div v-if="props.item.DateData.isToday" class="date due"><span class="quote-due">Due Today</span></div>
                                    <div v-else class="date"><span class="month" style="text-transform: uppercase">{{props.item.DateData.month}}</span><span class="day">{{props.item.DateData.date}}</span></div>
                                    <div class="description">
                                        <div class="desc-wrap dropdown-toggle" :id="'dropdownMenuButton'+props.item.Counter" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <span class="task-and-milestone-description">{{props.item.Description}}</span>
                                            <div class="dropdown-menu transaction-list-dropdown-menu" v-bind:aria-labelledby="'dropdownMenuButton'+props.item.Counter">
                                                <div v-on:click="completionDeletion(props.item,'incomplete')">Mark as Incomplete</div>
                                                <div v-if="props.item.type == 'task'" v-on:click="completionDeletion(props.item, 'delete')">Remove</div>
                                            </div>
                                            <div style="clear: both;"></div>
                                        </div>
                                        <div class="desc-note">
                                            {{props.item.Notes}}
                                        </div>
                                    </div>
                                </div>
                            </template>
                        </v-data-iterator>
                    </div>
                </div>
            </div>
        </v-container>
        <add-task
            ref="addTaskModal"
            :transaction-i-d="transactionID"
        ></add-task>
        <edit-task
            ref="editTaskOrMilestoneModal"

        ></edit-task>
    </div>
</template>

<script>
    import _ from 'lodash';
    import moment from 'moment';
    export default {
        components: {
            _,
            moment,
        },
        props: {
            token: {
                String,
                default: null,
            },
            transactionID: {
                String,
                default: null,
            },
            userRole: {
                String,
                default: null,
            },
        },
        computed: {
            consumer(){
                return this.userRole == 'h' || this.userRole == 'b' || this.userRole == 's';
            },
            agent(){
                return this.userRole == 'a' || this.userRole == 'ba' || this.userRole == 'sa';
            },
            tc(){
                return this.userRole == 'tc' || this.userRole == 'btc' || this.userRole == 'stc';
            },
            aux(){
                return this.userRole == 'e' || this.userRole == 'l' || this.userRole == 't' || this.userRole == 'aux';
            }
        },
        data(){
            return{
                dateView:               true,
                query:                  'arraytasksmilestones',
                arraytasksmilestones:   null,
                objecttasksmilestones:  null,
                arraytasks:             null,
                objecttasks:            null,
                arraymilestones:        null,
                objectmilestones:       null,
                chosenItems:            null,
                booleanTrue:            true,
                isMounted:              false,
                prevInterval:           null,
                showCompleted:          false,
                taskRoles:              [],
                latestSortRule:         'date_asc',
                filteredCategoryCodes:  [],
                filters: {
                    Complete: false,
                    Incomplete: true,
                },
                content: {
                    tasks:          true,
                    milestones:     true,
                },
                iteratingDateObject: {},
                key:            0,
                search:         '',
                headers: [
                    { text: 'Description', value:'Description' },
                    { text: 'Display', value: 'Display'},
                    { text: 'MilestoneCode', value: 'MilestoneCode'},
                ],
            }
        },
        watch:{
            /**
             * This watcher simply hides and shows the completed list.
             */
            showCompleted: {
                handler(val){
                    let completedList = $('.timeline_completed');
                    if(val) completedList.show();
                    else completedList.hide();
                },
            },
            search: {
                handler(val){
                    let v = this;
                    if (!this.dateView)
                    {
                        if (val)
                        {
                            let filtered    = v.$refs.categoryItems.filter(c => c.filteredItems.length > 0);
                            let result      = filtered.map(f => f.filteredItems.map(i => i.Code));
                            let length      = result.length;
                            let codes       = [];
                            for (let i = 0; i < length; i++)
                            {
                                if (result[i]) codes.push(...result[i]);
                            }
                            v.filteredCategoryCodes = uniqueValueArray(codes);
                        }
                        else
                        {
                            v.filteredCategoryCodes = [];
                        }
                    }
                },
            },
        },
        methods: {
            displayItem(item){
                return (item.type == 'timeline' && item.isActive == 1) || item.type == 'task';
            },
            noteFormat(text){
                if (text) return '<span><i class="fas fa-exclamation-circle otc-red"></i></span> '+text;
                return text;
            },
            checkCodeIncludedInSearch(code){
                if (this.filteredCategoryCodes.length > 0)
                {
                    return this.filteredCategoryCodes.includes(code);
                }
                return true;
            },
            sortTimeline(rule){
                function date_desc(a,b)
                {
                    let atime = new Date(a.DateDue).getTime();
                    let btime = new Date(b.DateDue).getTime();
                    if (atime < btime) {return 1}
                    if (atime > btime) {return -1}
                    return 0;
                }

                function date_asc(a,b)
                {
                    let atime = new Date(a.DateDue).getTime();
                    let btime = new Date(b.DateDue).getTime();
                    if (atime < btime) {return -1}
                    if (atime > btime) {return 1}
                    return 0;
                }

                switch (rule)
                {
                    case "az":
                        $.each(this.chosenItems, (interval,array) => {
                            this.chosenItems[interval] = _.sortBy(this.chosenItems[interval], 'Description');
                        });
                        this.latestSortRule = 'az';
                        break;
                    case "za":
                        $.each(this.chosenItems, (interval,array) => {
                            this.chosenItems[interval] = _.sortBy(this.chosenItems[interval], 'Description');
                            this.chosenItems[interval] = this.chosenItems[interval].reverse();
                        });
                        this.latestSortRule = 'za';
                        break;
                    case 'date_desc':
                        $.each(this.chosenItems, (interval,array) => {
                            this.chosenItems[interval] = this.chosenItems[interval].sort((a,b) => date_desc(a,b));
                        });
                        this.latestSortRule = 'date_desc';
                        break;
                    case 'date_asc':
                        $.each(this.chosenItems, (interval,array) => {
                            this.chosenItems[interval] = this.chosenItems[interval].sort((a,b) => date_asc(a,b));
                        });
                        this.latestSortRule = 'date_asc';
                        break;
                }
            },
            addFilter(name, value) {
                if ($.isArray(this.filters[name]))
                {
                    let index = this.filters[name].indexOf(value);
                    if (index > -1)
                    {
                        this.filters[name].splice(index,1);
                    }
                    else
                    {
                        this.filters[name].push(value);
                        this.filters[name] = uniqueValueArray(this.filters[name]);
                    }
                }
                else
                {
                    if (this.filters[name] === value) value = !value;
                    this.filters[name] = value;
                }
            },
            processFilters(index){
                if (this.filters.Complete && this.filters.Incomplete) return true;
                else if (this.filters.Complete && !this.filters.Incomplete) return index == 'completed';
                else if (!this.filters.Complete && this.filters.Incomplete) return index != 'completed';
                this.filters.Incomplete = true;
                return this.processFilters();
            },
            /**
             * This function is used to execute a function who's name is a variable.
             **/
            functionCallHandler(functionName, data){
                this[functionName](data);
            },
            _redirectToSendEmail(dataObject){
                let sendEmailRoute = correctVuexRouteURL(this.$store.getters.routeName('send.email.view'));
                if (!sendEmailRoute) genericError('Send Email route not found. Error code: rse-001');
                else
                {
                    sendEmailRoute = sendEmailRoute.replace(':transactionID', this.transactionID);
                    sendEmailRoute += '#template_'+dataObject.emailtemplate.Data.ID;
                }
                window.open(sendEmailRoute);
            },
            /**
             * _fillOut function is used to process either using the questionnaire or formfiller to fill out a
             * specific document. If both are available then the user is asked which one they wish to use.
             **/
            _fillOut(dataObject){
                var vueObject = this;
                var filledFormData = {};
                var additionalFormData = {
                    ...this.propertyData,
                    ...{NameFull: vueObject.userName},
                };
                function getQuestionnaireRoute(questionnaireID)
                {
                    return route('answer.questionnaire',[questionnaireID, vueObject.transactionID]);
                }

                if (dataObject['formfiller'] && dataObject['questionnaire'])
                {
                    let html = '' +
                        '<div class="row" id="fillOutDocument">' +
                        '    <div>' +
                        '       <p>' +
                        '           Please choose whether you would like to fill this document out yourself, or let us walk you ' +
                        '           through the questions. If you choose to fill the document out yourself' +
                        '           we will not save the explanations you write in the documents.' +
                        '       </p>' +
                        '    </div>' +
                        '    <div class="row" style="margin: 0 auto;" >' +
                        '        <div class="col-md-6 col-xs-12">' +
                        '             <button id="selfFill" class="btn-v2 btn-teal">I\'ll Fill It Out Myself</button>' +
                        '        </div>' +
                        '        <div class="col-md-6 col-xs-12">' +
                        '             <button id="wizard" class="btn-v2 btn-teal">Walk Me Through It</button>' +
                        '        </div>' +
                        '    </div>' +
                        '</div>';

                    Swal2({
                        title: 'Fill Out Document',
                        html: html,
                        showConfirmButton: false,
                        showCloseButton: true,
                        onBeforeOpen: function () {
                            $('#wizard').click(function () {
                                window.location.href = getQuestionnaireRoute(dataObject['questionnaire']['Data'].QuestionnaireID);
                            });
                            $('#selfFill').click(function () {
                                if (window.DocSpring) {
                                    let html = '' +
                                        '<div style="width: 100%; height: 100%;">' +
                                        '   <div class="customFormArea">' +
                                        '   </div>' +
                                        '</div>';

                                    Swal2({
                                        html: html,
                                        width: '100%',
                                        showCloseButton: true,
                                        showConfirmButton: false,
                                        allowOutsideClick: false,
                                        animation: false,
                                        onBeforeOpen: () => {
                                            DocSpring.createVisualForm('.customFormArea', {
                                                templateId: dataObject['formfiller']['Data'].TemplateID,
                                                waitForPDF: true,
                                                defaultFormData: additionalFormData,
                                                focusFirstFieldOnLoad: false,
                                                showSignatureModalOnFocus: true,
                                                adjustHeaderOnScroll: false,
                                                showTermsOfServiceLink: false,
                                                pdfProcessingTitle: (template) =>
                                                    'Processing Document...',
                                                pdfProcessingMessage: (template) =>
                                                    'Please wait a few moments while we generate your PDF...',
                                                showPdfProcessingSpinner: true,
                                                onClearForm: function() {
                                                    //console.log('[Callback] Form was cleared');
                                                },
                                                onFieldFocus: function(field) {
                                                    //console.log('[Callback] Focussed field:', field.name);
                                                },
                                                onFieldBlur: function(field) {
                                                    //console.log('[Callback] Field lost focus:', field.name);
                                                },
                                                onFieldChange: function(field) {
                                                    var name = field.name,
                                                        value = field.value,
                                                        previousValue = field.previousValue;
                                                },
                                                onShowAcceptTerms: function() {
                                                    //console.log('[Callback]  "accept terms"');
                                                },
                                                onSubmit: function(formData) {
                                                    //console.log('[Callback] Form was submitted. Data:', formData);
                                                    filledFormData = formData;
                                                    console.log({
                                                        filledFormData: formData,
                                                    });
                                                },
                                                onSave: function (submissionId) {
                                                    //console.log('[Callback] Submission was saved:', submissionId);
                                                },
                                                onProcessed: function(data) {
                                                    // submissionId: string
                                                    // downloadURL: string
                                                    //console.log('[Callback] PDF was generated. Download at:', data.downloadURL);
                                                    genericLoading('Saving PDF...');
                                                    let saveFileRoute = correctVuexRouteURL(vueObject.$store.getters.routeName('transactionSummary.form.embedded.save'));
                                                    if(!saveFileRoute) genericError('Route not found. Error code: fill-out-doc-001');
                                                    axios.post(saveFileRoute, {
                                                        formData:           filledFormData,
                                                        transactionID:      vueObject.transactionID,
                                                        downloadURL:        data.downloadURL,
                                                        documentLinkID:     dataObject['formfiller']['Data'].DocumentLinkID,
                                                        documentShortName:  dataObject['formfiller']['Data'].DocumentShortName,
                                                        documentCode:       dataObject['formfiller']['Data'].DocumentCode,
                                                        templateID:         dataObject['formfiller']['Data'].TemplateID,
                                                    })
                                                    .then( r => {
                                                        if (r.data.status == 'success') window.location.href = r.data.url;
                                                        else if(r.data.status == 'fail') genericError(r.data.message+' '+r.data.errorCode);
                                                        else genericError();
                                                    })
                                                    .catch( err => {
                                                        genericError(err);
                                                        console.log(err);
                                                    });
                                                    // $.ajax({
                                                    //     url: saveFileRoute,
                                                    //     method: 'POST',
                                                    //     data: {
                                                    //         formData:           filledFormData,
                                                    //         transactionID:      vueObject.transactionID,
                                                    //         downloadURL:        data.downloadURL,
                                                    //         documentLinkID:     dataObject['formfiller']['Data'].DocumentLinkID,
                                                    //         documentShortName:  dataObject['formfiller']['Data'].DocumentShortName,
                                                    //         documentCode:       dataObject['formfiller']['Data'].DocumentCode,
                                                    //         _token:             vueObject.token,
                                                    //         templateID:         dataObject['formfiller']['Data'].TemplateID,
                                                    //     },
                                                    //     success: function(r){
                                                    //         if (r.status == 'success') window.location.href = r.url;
                                                    //         else if(r.status == 'fail') genericError(r.message+' '+r.errorCode);
                                                    //         else genericError();
                                                    //     },
                                                    //     error: function(err){
                                                    //         console.log(err);
                                                    //     },
                                                    // });
                                                },
                                                onError: function(error) {
                                                    console.log('[Callback] Error:', error);
                                                }
                                            });
                                        },
                                    });
                                }
                            });
                        }
                    });
                }
                else if (dataObject['formfiller'])
                {
                    let html = '' +
                        '<div style="width: 100%; height: 100%;">' +
                        '   <div class="customFormArea">' +
                        '   </div>' +
                        '</div>';

                    Swal2({
                        html: html,
                        width: '100%',
                        showCloseButton: true,
                        showConfirmButton: false,
                        allowOutsideClick: false,
                        animation: false,
                        onBeforeOpen: () => {
                            DocSpring.createVisualForm('.customFormArea', {
                                templateId: dataObject['formfiller']['Data'].TemplateID,
                                waitForPDF: true,
                                defaultFormData: additionalFormData,
                                focusFirstFieldOnLoad: false,
                                showSignatureModalOnFocus: true,
                                adjustHeaderOnScroll: false,
                                showTermsOfServiceLink: false,
                                pdfProcessingTitle: (template) =>
                                    'Processing Document...',
                                pdfProcessingMessage: (template) =>
                                    'Please wait a few moments while we generate your PDF...',
                                showPdfProcessingSpinner: true,
                                onClearForm: function() {
                                    //console.log('[Callback] Form was cleared');
                                },
                                onFieldFocus: function(field) {
                                    //console.log('[Callback] Focussed field:', field.name);
                                },
                                onFieldBlur: function(field) {
                                    //console.log('[Callback] Field lost focus:', field.name);
                                },
                                onFieldChange: function(field) {
                                    var name = field.name,
                                        value = field.value,
                                        previousValue = field.previousValue;
                                },
                                onShowAcceptTerms: function() {
                                    //console.log('[Callback]  "accept terms"');
                                },
                                onSubmit: function(formData) {
                                    //console.log('[Callback] Form was submitted. Data:', formData);
                                    filledFormData = formData;
                                    console.log({
                                        filledFormData: formData,
                                    });
                                },
                                onSave: function (submissionId) {
                                    //console.log('[Callback] Submission was saved:', submissionId);
                                },
                                onProcessed: function(data) {
                                    // submissionId: string
                                    // downloadURL: string
                                    //console.log('[Callback] PDF was generated. Download at:', data.downloadURL);
                                    genericLoading('Saving PDF...');
                                    let saveFileRoute = correctVuexRouteURL(vueObject.$store.getters.routeName('transactionSummary.form.embedded.save'));
                                    if(!saveFileRoute) genericError('Route not found. Error code: fill-out-doc-001');
                                    axios.post(saveFileRoute, {
                                        formData:           filledFormData,
                                        transactionID:      vueObject.transactionID,
                                        downloadURL:        data.downloadURL,
                                        documentLinkID:     dataObject['formfiller']['Data'].DocumentLinkID,
                                        documentShortName:  dataObject['formfiller']['Data'].DocumentShortName,
                                        documentCode:       dataObject['formfiller']['Data'].DocumentCode,
                                        templateID:         dataObject['formfiller']['Data'].TemplateID,
                                    }).then( r => {
                                        if (r.data.status == 'success') window.location.href = r.data.url;
                                        else if(r.data.status == 'fail') genericError(r.data.message+' '+r.data.errorCode);
                                        else genericError();
                                    }).catch( err => {
                                        console.log(err);
                                        genericError(err);
                                    });
                                    // $.ajax({
                                    //     url: saveFileRoute,
                                    //     method: 'POST',
                                    //     data: {
                                    //         formData:           filledFormData,
                                    //         transactionID:      vueObject.transactionID,
                                    //         downloadURL:        data.downloadURL,
                                    //         documentLinkID:     dataObject['formfiller']['Data'].DocumentLinkID,
                                    //         documentShortName:  dataObject['formfiller']['Data'].DocumentShortName,
                                    //         documentCode:       dataObject['formfiller']['Data'].DocumentCode,
                                    //         _token:             vueObject.token,
                                    //         templateID:         dataObject['formfiller']['Data'].TemplateID,
                                    //     },
                                    //     success: function(r){
                                    //         if (r.status == 'success') window.location.href = r.url;
                                    //         else if(r.status == 'fail') genericError(r.message+' '+r.errorCode);
                                    //         else genericError();
                                    //     },
                                    //     error: function(err){
                                    //         console.log(err);
                                    //     },
                                    // });
                                },
                                onError: function(error) {
                                    console.log('[Callback] Error:', error);
                                }
                            });
                        },
                    });
                }
                else if (dataObject['questionnaire'])
                    window.location.href = getQuestionnaireRoute(dataObject['questionnaire']['Data'].QuestionnaireID);
                else genericWarning('You do not have permission to fill out this document.');
            },
            /**
             * Used to create an ad-hoc task.
             */
            createTask(){
                if (this.$refs.addTaskModal)
                    this.$refs.addTaskModal.$emit('AddTask__toggle');
            },
            /**
             * Used to change the content of the timeline view. Content means either tasks, milestones, or both.
             * the 'query' variable is used to store the current requested data and the format.
             * @param content
             */
            changeContent(content){
                this.content[content] = !this.content[content];
                this.query = this.dateView ? 'array' : 'object';

                $.each(this.content, (i,type) => {
                    if(type) this.query += i;
                });

                if(!this.content.tasks && !this.content.milestones)
                {
                    this.query += content;
                    this.content[content] = true;
                }

                this.fetchTimeline();
            },
            /**
             * This is used to switch between dateView and categoryView.
             * !dateView = categoryView.
             */
            changeView(){
                this.isMounted = false;
                this.dateView = !this.dateView;
                if(!this.dateView) this.query = this.query.replace('array', 'object');
                else this.query = this.query.replace('object','array');
                this.fetchTimeline();
            },
            /**
             * Method is used to mark tasks/timeline as complete/incomplete and to delete tasks.
             * Milestones cannot be deleted, only completed.
             * @param object
             * @param status
             */
            completionDeletion(object, status){
                let type        = object.type;
                let id          = object.Link_ID;
                let vueObject   = this;
                if(type == 'task')
                {
                    axios.post(route('update.tasks').url(), {
                        id:         id,
                        userRole:   this.userRole,
                        status:     status
                    }).then((r) => {
                        console.log({
                            updateTasksResponse: r,
                        });
                        if(r.data.status == 'success')
                        {
                            genericSuccessToast(r.data.message);
                            vueObject.fetchTimeline();
                        }
                        else if (r.data.status == 'fail') genericError(r.data.message);
                        else  genericError();
                    }).catch((err) => {
                        console.log({
                            updateTasksError: err,
                        });
                        genericError(err);
                    });
                }
                else
                {
                    axios.post(route('updateStatus').url(), {
                        id:id,
                        status: status,
                    }).then((r) => {
                        console.log({
                            updateMilestoneResponse: r,
                        });
                        if(r.data.status == 'success')
                        {
                            genericSuccessToast(r.data.message);
                            vueObject.fetchTimeline();
                        }
                        else if (r.data.status == 'fail') genericError(r.data.message);
                        else  genericError();
                    }).catch((err) => {
                        console.log({
                            updateMilestoneError: err,
                        });
                        genericError(err);
                    });
                }
            },
            /**
             * Used to edit existing milestones and tasks.
             * By default editing the milestone description is not allowed.
             * @param object
             */
            edit(object){
                if (object.type == 'task')
                {
                    this.$refs.editTaskOrMilestoneModal.$emit('EditTask__toggle', object);
                }
                else
                {
                    let v = this;
                    let dateDue = moment(object.DateDue).format('YYYY-MM-DD');
                    let milestoneData = {
                        Approved:       false,
                        ID:             object.Link_ID,
                        Description:    object.Description,
                        DateDue:        dateDue,
                        Notes:          object.Notes,
                    };

                    if(object.Description == 'Acceptance of Offer')
                    {
                        recalculateTimeline(v.transactionID, dateDue, v.fetchTimeline);
                    }
                    else
                    {
                        timelineDateChangeDialog(
                            milestoneData,
                            v.transactionID,
                            v.fetchTimeline,
                            {headerText: object.Description},
                            false,
                            object.mustBeBusinessDay,
                            true,
                        );
                    }
                }
            },
            /**
             * Used to compute and separate important date information on the milestone/task.
             *
             * @param DateDue
             * @returns {{month: string, date: string, interval: string, isToday: boolean}}
             */
            computeDate(DateDue){
                let itemDateFormat  = 'YYYY-MM-DD';
                let USDateFormat    = 'MM/DD/YYYY';
                let today           = (new Date()).toLocaleDateString('en-US').split(' ')[0];
                let item_date       = DateDue.toLocaleString('en-US').split(' ')[0];
                let weekNumber      = moment().week();
                let month           = moment(DateDue, itemDateFormat).format("MMM");
                let date            = moment(DateDue, itemDateFormat).format("DD");
                let interval;
                if ((weekNumber === moment(DateDue, itemDateFormat).week() && !moment(DateDue, itemDateFormat).isBefore()) || moment(today, USDateFormat).isSame(item_date, itemDateFormat)) interval = 'week';
                else if(moment(DateDue, itemDateFormat).isBefore()) interval = 'past';
                else interval = 'upcoming';
                let isToday = false;
                if(moment(today, USDateFormat).isSame(item_date, itemDateFormat)) isToday = true;
                return {
                    month:      month,
                    date:       date,
                    interval:   interval,
                    isToday:    isToday,
                };
            },
            /**
             * The function which is used to fetch the task/milestone data.
             * It is necessary to call this function after making changes to the database so that
             * the user can view the updated information without refreshing the page.
             *
             * This function depends on 'query' variable to decide what information to show.
             */
            fetchTimeline(){
                let getTimelineRoute = correctVuexRouteURL(this.$store.getters.routeName('getMergedTasksTimeline'));
                if (!getTimelineRoute) genericError('Route not found or does not exist. Error code: g-time-001');
                axios.post(getTimelineRoute,{
                    transactionID: this.transactionID,
                }).then((r) => {
                    this.arraytasksmilestones   = r.data.mergedArray;
                    this.objecttasksmilestones  = r.data.mergedObject;
                    this.arraytasks             = r.data.tasks;
                    this.objecttasks            = r.data.tasksObject;
                    this.arraymilestones        = r.data.milestones;
                    this.objectmilestones       = r.data.milestonesObject;
                    this.chosenItems            = this[this.query];
                    this.taskRoles              = r.data.taskRoles;

                    /**
                     * Compute the interval prior to displaying the data.
                     * @type {{past: Array, week: Array, upcoming: Array}}
                     */

                    let intervalData    = {
                        past:       [],
                        week:       [],
                        upcoming:   [],
                        completed:  [],
                    };

                    if(this.dateView && $.isArray(this.chosenItems))
                    {
                        $.each(this.chosenItems, (i,el) => {
                            el.DateData = this.computeDate(el.DateDue);
                            if(el.DateCompleted != null || parseInt(el.isComplete))
                            {
                                intervalData.completed.push(el);
                            }
                            else
                            {
                                intervalData[el.DateData.interval].push(el);
                            }
                        });

                        this.chosenItems = intervalData;
                    }
                    else
                    {
                        $.each(this.chosenItems, (i,category) => {
                            $.each(category, (i,el) => {
                                el.DateData = this.computeDate(el.DateDue);
                                if(el.DateCompleted != null || parseInt(el.isComplete))
                                {
                                    intervalData.completed.push(el);
                                }
                                else
                                {
                                    intervalData[el.DateData.interval].push(el);
                                }
                                category = intervalData;
                            });
                        });
                    }
                    this.isMounted = true;
                });
            },
            processHashes: _.debounce(function () {
                if (this.isMounted)
                {
                    let hashes = getLocationHashes();
                    console.log({hashes: hashes,});
                    let length = hashes.length;
                    for (let i = 0; i < length; i++)
                    {
                        let parts = hashes[i].split('=');
                        let hashType = parts[0];
                        let hash = parts[1];
                        if (hashType == 'scroll') this.scrollTimeline(hash);
                    }
                }
                else this.processHashes();
            }, 1000),
            scrollTimeline(elementID){
                let element = document.getElementById(elementID);
                element.scrollIntoView({behavior: "smooth", block: "center", inline: "nearest"});
            }
        },
        mounted(){
            window.onload = this.processHashes();
            this.fetchTimeline();
            this.$on('Timeline__fetchTimeline', () => {
                this.fetchTimeline();
            });
            this.$refs.addTaskModal.$on('taskAdded', () => {
                this.fetchTimeline();
            });
            this.$root.$on('transactionChanged', data => {
                if (this.transactionID != data.currentTransactionID)
                    window.location.href = route('transactionSummary.timeline', [data.currentTransactionID]).url();
            });
        },

    }
</script>

<style scoped>
    .section-item{
        border:none;
    }
    .dropdown-menu{
        color: #000 !important;
    }
    .timeline_completed{
        display: none;
    }
    .dropdown-menu div:hover{
        color: #21d7d1;
        text-decoration: underline;
    }
    .searchContainer{
        width: 80%;
        margin: auto;
    }
    .timeline-options ul li{
        display: inline-block;
        padding: 10px;
        border: solid 1px #e6e6e6;
        border-top: none;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        cursor: pointer;
    }

    .timeline-options ul li:hover{
        background: #21d7d1;
    }
    .v-expansion-panel{
        box-shadow: none !important;
    }
</style>