<template>
    <div class="container">
        <div class="transactions-title">
            Transactions
        </div>
        <div v-if="isAgent || isTC" id="transactions">
            <div class="clearfix doc-heading-section" id="controls">
                <div class="row">
                    <div class="pr-0 mt-4 SearchContainer col-sm-6">
                        <form id="CS-search-box" class="doc-search-box">
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" v-model="search" placeholder="Search">
                                <div class="search-button-container">
                                    <button class="btn rounded-left red-button search-button" type="button"><i class="fas fa-search"></i></button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="float-lg-right float-right col-sm-6 col-xs-12" id="CS-sorting-dropdown">
                        <div class="dropdown d-inline-block">
                            <button type="button" v-on:click="addTransaction" class="btn documentControlButtons white-background hov-teal-bg">Add a New Transaction</button>
                        </div>
                        <div class="dropdown d-inline-block">
                            <button class="btn dropdown-toggle documentControlButtons white-background hov-teal-bg" data-toggle="dropdown">View <i class="fas fa-caret-down"></i></button>
                            <div class="dropdown-menu py-0 controls-dropdown">
                                <div><span>View <i class="fas fa-caret-down"></i></span></div>
                                <a v-on:click="listView = true" :class="listView ? 'dropdown-item light-blue-background' : 'dropdown-item'" href="#/">List</a>
                                <a v-on:click="listView = false" :class="!listView ? 'dropdown-item light-blue-background' : 'dropdown-item'" href="#/">Grid</a>
                            </div>
                        </div>
                        <div class="dropdown d-inline-block">
                            <button class="btn dropdown-toggle documentControlButtons white-background hov-teal-bg" data-toggle="dropdown">Sort <i class="fas fa-caret-down"></i></button>
                            <div class="dropdown-menu py-0 controls-dropdown">
                                <div><span>Sort <i class="fas fa-caret-down"></i></span></div>
                                <a v-on:click="sort('date_acceptance')" :class="latestSortRule == 'date_acceptance' ? 'dropdown-item light-blue-background':'dropdown-item'" href="#/">Date of Acceptance</a>
                                <a v-on:click="sort('close_escrow')" :class="latestSortRule == 'close_escrow' ? 'dropdown-item light-blue-background':'dropdown-item'" href="#/">Close of Escrow</a>
                                <a v-on:click="sort('address')" :class="latestSortRule == 'address' ? 'dropdown-item light-blue-background':'dropdown-item'" href="#/">Address</a>
                                <a v-on:click="sort('client_name')" :class="latestSortRule == 'client_name' ? 'dropdown-item light-blue-background border-0':'dropdown-item border-0'" href="#/">Client Name</a>
                            </div>
                        </div>

                        <div class="dropdown d-inline-block" id="CS-filter-button">
                            <button class="btn dropdown-toggle filter active documentControlButtons" data-toggle="dropdown" ><i class="fas fa-filter"></i></button>
                            <div class="dropdown-menu py-0 controls-dropdown">
                                <div><span><i class="fas fa-filter"></i></span></div>
                                <a v-on:click.prevent="filters.Status.open = !filters.Status.open" :class="filters.Status.open ? 'dropdown-item light-blue-background' : 'dropdown-item'" href="#">Open</a>
                                <a v-on:click.prevent="filters.Status.draft = !filters.Status.draft" :class="filters.Status.draft ? 'dropdown-item light-blue-background' : 'dropdown-item'" href="#">Draft</a>
                                <a v-on:click.prevent="filters.Status.canceled = !filters.Status.canceled" :class="filters.Status.canceled ? 'dropdown-item light-blue-background' : 'dropdown-item'" href="#">Cancelled</a>
                                <a v-on:click.prevent="filters.Status.closed = !filters.Status.closed" :class="filters.Status.closed ? 'dropdown-item light-blue-background' : 'dropdown-item'" href="#">Closed</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div v-if="listView" class="row" id="tList">
                <v-container>
                    <v-data-table
                            :headers="listHeaders"
                            :items="roleData"
                            :search="search"
                            class="elevation-1"
                            :pagination.sync="pagination"
                            :hide-actions="true"

                    >
                        <template v-slot:items="t">
                            <tr>
                                <td>
                                    {{t.item.ID}}
                                </td>
                                <td>
                                    {{t.item.side ? t.item.side.toUpperCase() : 'Unknown'}}
                                </td>
                                <td class="tListAddress">
                                    <div>{{t.item.Street1 + ' ' + t.item.Street2}}</div>
                                    <div>{{t.item.City + ', ' + t.item.State + ' ' + t.item.Zip}}</div>
                                </td>
                                <td class="tListClient">
                                    <div v-for="client in t.item.Client">
                                        <div>{{client.NameFull}}</div>
                                        <div class="text-muted">{{client.Email}}</div>
                                    </div>
                                </td>
                                <td>
                                    <div class="tListActions">
                                        <div class="timeline-item-dropdown-trigger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-ellipsis-h"></i>
                                            <div class="dropdown-menu transaction-list-dropdown-menu">
                                                <div><i class="fas fa-ellipsis-h"></i></div>
                                                <div v-on:click.prevent="route({id:t.item.ID}, 'editTransaction')" href="#">Edit Transaction</div>
                                                <div v-on:click.prevent="closeAndOpenTransaction(t.item.ID, t.item.Status)" href="#">{{t.item.Status == 'open' ? 'Close ': 'Open '}} Transaction</div>
                                                <div v-on:click.prevent="route({id:t.item.ID}, 'invitePage')">Invite Key People</div>
                                                <div v-on:click.prevent="uploadPropertyPhoto(t.item.ID)" href="#">Upload Photo</div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </template>
                    </v-data-table>
                </v-container>
            </div>
            <div v-else class="row">
                <v-container>
                    <v-data-iterator
                            :items="roleData"
                            :hide-actions="true"
                            :search="search"
                            v-if="roleData.length > 0"
                    >
                        <template v-slot:item="t">
                            <div class="col-sm-6 PropCol mb-5 pl-0 pr-lg-3">
                                <div class="close-of-escrow-date">
                                    <span :class="escrowPastDueClass(t.item['Close of Escrow'])">Close of Escrow: {{t.item['Close of Escrow']}}</span> <!-- make red if date past due -->
                                </div>
                                <div class="card PropCard h-100 mt-2">
                                    <img alt="Property Image" v-if="t.item.PropertyImagePath" :src="t.item.PropertyImagePath" class="card-img-top PropCardImg img-responsive"> <!-- get property image -->
                                    <img alt="Property Image" v-else :src="getHostURL()+'images/defaultPropertyImage.jpg'" class="card-img-top PropCardImg img-responsive">
                                    <div class="card-body px-0 pb-0">
                                        <div class="row firstRow">
                                            <div class="col-sm-8 address-div">
                                                <div>
                                                    <span class="ml-4 PropSpanStyleTwo d-block">{{t.item['Street1'] + ' ' + t.item['Street2']}}</span>
                                                    <span class="ml-4 text-muted">{{t.item['City']+', '+t.item['State']+' '+t.item['Zip']}}</span>
                                                </div>
                                            </div>
                                            <div class="dropdown clearfix col-sm-4">
                                                <button type="button" class="btn dropdown-toggle PropDropdownButton PropDropdownButtonStyleTwo float-right mt-n5 px-3 py-0" data-toggle="dropdown" >
                                                    <i class="fas fa-ellipsis-h"></i>
                                                </button>
                                                <div class="dropdown-menu controls-dropdown py-0">
                                                    <a href="#" v-on:click.prevent="route({id:t.item.ID}, 'editTransaction')" class="dropdown-item">Edit Transaction</a>
                                                    <a href="#" v-on:click.prevent="closeAndOpenTransaction(t.item.ID, t.item.Status)" class="dropdown-item">{{t.item.Status == 'open' ? 'Close ': 'Open '}} Transaction</a>
                                                    <a href="#" v-on:click.prevent="route({id:t.item.ID}, 'invitePage')" class="dropdown-item">Invite Key People</a>
                                                    <a href="#" v-on:click.prevent="uploadPropertyPhoto(t.item.ID)"  class="dropdown-item border-0">Upload Photo</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div>
                                            <h3 class="PropHeadingStyleOne role-display py-3 mt-3">{{sideText(t.item.side)}}</h3>
                                        </div>
                                        <div class="actions-div">
                                            <ul class="list-inline PropListStyleOne">
                                                <li class="list-inline-item border-0" v-if="false">
                                                    <a href="#/" class="PropAnchorStyleOne">Offers</a>
                                                </li>
                                                <li class="list-inline-item">
                                                    <a v-on:click.prevent="route({id:t.item.ID}, 'viewTransactionSummary')" href="#" class="PropAnchorStyleOne">To Do's</a>
                                                </li>
                                                <li class="list-inline-item">
                                                    <a v-on:click.prevent="route({id:t.item.ID}, 'viewTransactionSummary')" href="#" class="PropAnchorStyleOne">Timeline</a>
                                                </li>
                                                <li class="list-inline-item">
                                                    <a v-on:click.prevent="route({id:t.item.ID}, 'viewDocuments')" href="#" class="PropAnchorStyleOne">Documents</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </template>
                    </v-data-iterator>
                </v-container>
            </div>
        </div>
    </div>
</template>

<script>
    import moment from 'moment';
    export default {
        name: "Transactions",
        components:{
            moment
        },
        props: {

        },
        watch: {
            filters: {
                handler(val, oldVal){
                    if (!val.Status.open &&
                        !val.Status.closed &&
                        !val.Status.canceled &&
                        !val.Status.draft)
                    {
                        $.each(val.Status, (filter, isOn) => {
                            val.Status[filter] = true;
                        });
                    }
                },
                deep: true,
            }
        },
        computed: {
            isAgent(){
                return this.userData.userRole == 'a';
            },
            isTC(){
                return this.userData.userRole == 'tc';
            },
            tcTransactions(){
                let v = this;
                let userID  = v.userData.userID;
                function filterTC(t, index)
                {
                    let r       = false;
                    let tcs     = t['tcs'];
                    let length  = tcs.length;
                    let sides   = [];
                    for (let i = 0; i < length; i++)
                    {
                        if (tcs[i].Users_ID == userID)
                        {
                            sides.push(tcs[i].Role);
                            r = true;
                        }
                    }
                    if (sides.length == 2) v.transactions[index].side = 'both';
                    else if (sides.length == 1)
                    {
                        if (sides[0].toLowerCase() == 'btc') v.transactions[index].side = 'buyer';
                        else v.transactions[index].side = 'seller';
                    }
                    return r;
                }
                return this.transactions.filter((t,index) => filterTC(t,index) && this.processFilters(t,index));
            },
            agentTransactions(){
                let v = this;
                function filterAgent(t,index)
                {
                    let userID  = v.userData.userID;
                    let r       = false;
                    let agents  = t['agents'];
                    let length  = agents.length;
                    let sides   = [];
                    for(let i = 0; i < length; i++)
                    {
                        if (agents[i].Users_ID == userID)
                        {
                            sides.push(agents[i].Role);
                            r = true;
                        }
                    }
                    if (sides.length == 2) v.transactions[index].side = 'both';
                    else if (sides.length == 1)
                    {
                        if (sides[0].toLowerCase() == 'ba') v.transactions[index].side = 'buyer';
                        else v.transactions[index].side = 'seller';
                    }
                    return r;
                }
                return this.transactions.filter((t,index) => filterAgent(t,index) && this.processFilters(t,index));
            },
            roleData(){
                switch (this.userData.userRole)
                {
                    case 'a':
                        return this.agentTransactions;
                    case 'tc':
                        return this.tcTransactions;
                }
            },
        },
        data(){
            return {
                transactions:   [],
                userData:       this.$store.getters.getUserData(),
                search:         '',
                listView:       false,
                latestSortRule: '',
                pagination: {
                    'sortBy': 'column2',
                    'alphabetical':'true',
                    'rowsPerPage': -1
                },
                listHeaders:    [
                    {
                        text: 'ID',
                        value: 'ID',
                        sortable: true,
                        class: 'tListHeader',
                        align: 'center',
                    },
                    {
                        text: 'SIDE',
                        value: 'side',
                        sortable: true,
                        class: 'tListHeader',
                        align: 'center',
                    },
                    {
                        text: 'PROPERTY ADDRESS',
                        value: 'Address',
                        sortable: true,
                        class: 'tListHeader',
                        align: 'center',
                    },
                    {
                        text: 'CLIENT NAME',
                        value: 'Client',
                        sortable: true,
                        class: 'tListHeader',
                        align: 'center',
                    },
                    {
                        text: 'ACTIONS',
                        value: '',
                        sortable: false,
                        class: 'tListHeader',
                        align: 'center',
                    }
                ],
                filters: {
                    Status: {
                        open:       false,
                        closed:     false,
                        draft:      false,
                        canceled:   false,
                    }
                }
            }
        },
        methods: {
            addTransaction(){
                window.location.href = route('questionnaire.createTransaction', [this.userData.userRole]).url();
            },
            processFilters(transaction, index){
                let filters = Object.entries(this.filters);
                let allowed = [];
                let r = false;
                for (let [property, obj] of filters)
                {
                    let values = Object.entries(obj);
                    for (let [val, isAllowed] of values) if (isAllowed) allowed.push(val);
                    if (allowed.includes(transaction[property])) r = true;
                }
                return r;
            },
            sort(rule){

                function date_acceptance(a,b)
                {
                    let atime = a['DateAcceptance'];
                    let btime = b['DateAcceptance'];
                    if (moment(atime).isBefore(btime)) {return 1}
                    if (moment(atime).isAfter(btime)) {return -1}
                    return 0;
                }

                function close_escrow(a,b)
                {
                    let atime = a['Close of Escrow'];
                    let btime = b['Close of Escrow'];
                    if (moment(atime).isBefore(btime)) {return 1}
                    if (moment(atime).isAfter(btime)) {return -1}
                    return 0;
                }

                switch (rule)
                {
                    case "date_acceptance":
                        this.transactions = this.transactions.sort((a,b) => date_acceptance(a,b));
                        this.latestSortRule = 'date_acceptance';
                        break;
                    case 'close_escrow':
                        this.transactions = this.transactions.sort((a,b) => close_escrow(a,b));
                        this.latestSortRule = 'close_escrow';
                        break;
                    case 'address':
                        this.transactions = _.sortBy(this.transactions, 'Street1');
                        this.latestSortRule = 'address';
                        break;
                    case 'client_name':
                        this.transactions = _.sortBy(this.transactions, 'Client');
                        this.latestSortRule = 'client_name';
                        break;
                }
            },
            /**
             * This function is used to change the selected transaction in vuex before routing.
             * This function is also used in ProsumerDashboard.vue
             * @param params
             * @param route
             */
            route(params, route){
                this.$store.dispatch('setTransaction', params.id);
                let url;
                switch (route)
                {
                    case 'viewTransactionSummary':
                        url = this.viewTransactionSummary(params.id);
                        break;
                    case 'viewDocuments':
                        url = this.viewDocuments(params.id);
                        break;
                    case 'addKeyPeople':
                        url = this.addKeyPeople(params);
                        break;
                    case 'editTransaction':
                        url = this.editTransaction(params.id);
                        break;
                    case 'invitePage':
                        url = this.invitePage(params.id);
                        break;
                }
                this.$store.dispatch('__redirect', {
                    url: url,
                    waitFor: [
                        'fetchLookupTables',
                    ]
                });
            },
            editTransaction(){
                return route('transaction.editDetails').url();
            },
            invitePage(id){
                return route('invite.people', [id]).url();
            },
            viewDocuments(id){
                return route('transactionSummary.documents', [id]).url();
            },
            viewTransactionSummary(id){
                return route('transactionSummary.timeline', [id]).url()
            },
            addKeyPeople(args){
                return route('consumer.addRole', [args.id,args.state]).url();
            },
            sideText(side){
                switch (this.userData.userRole)
                {
                    case 'a':
                        return this.agentSideText(side);
                    case 'tc':
                        return this.tcSideText(side);
                }
            },
            agentSideText(side){
                switch (side)
                {
                    case 'buyer':
                        return 'BUYER\'S AGENT';
                    case 'seller':
                        return 'SELLER\'S AGENT';
                    case 'both':
                        return 'DUAL AGENT';
                }
            },
            tcSideText(side){
                switch (side)
                {
                    case 'buyer':
                        return 'BUYER\'S TC';
                    case 'seller':
                        return 'SELLER\'S TC';
                    case 'both':
                        return 'DUAL TC';
                }
            },
            closeAndOpenTransaction(id, status){
                genericLoading('Updating Transaction Status');
                axios.post(route('transaction.updateStatus').url(), {
                    transactionID: id,
                    status: status == 'open' ? 'closed' : 'open',
                }).then((r) => {
                    console.log({
                        updateStatusResponse: r,
                    });
                    let transaction = this.transactions.find(t => t.ID == id);
                    this.$root.$emit('AlertsIcon__Fetch');
                    this.$store.dispatch('setTransaction', id);
                    this.$store.dispatch('__waitFor',{
                        waitFor: [
                            'setTransaction',
                        ],
                        function: Swal2.close
                    });
                    transaction.Status = r.data.currentStatus;
                }).catch((err) => {
                    Swal2.close();
                    genericError(err);
                    console.log({
                        updateStatusError: err,
                    });
                });
            },
            uploadPropertyPhoto(id){
                let v = this;
                let transaction = this.transactions.find(t => t.ID == id);
                let dateTime = moment().toDate();
                let loginURL = route('login').url();
                async function uploadImage()
                {
                    const {value: file} = await uploadPropertyImage();
                    if (file)
                    {
                        const reader = new FileReader;
                        reader.onload = (e) => {
                            Swal2({
                                title: 'Selected Picture.',
                                imageUrl: e.target.result,
                                imageAlt: 'The selected picture.',
                                showCancelButton: true,
                            }).then((r)=>{
                                if (r.value)
                                {
                                    genericLoading('Uploading Image...');
                                    fetch(e.target.result).then(res => res.blob()).then((blob) => {
                                        let formData = new FormData();
                                        formData.append('image',blob);
                                        formData.append('transactionID', id);
                                        formData.append('_token', $('meta[name="csrf-token"]').attr('content'));
                                        let request = new XMLHttpRequest();
                                        request.open('POST', route('property.uploadImage').url());
                                        request.send(formData);
                                        request.onreadystatechange = function () {
                                            if (request.readyState !== 4 || request.status !== 200) return;
                                            if (request.responseURL === loginURL) window.location.href = loginURL;
                                            let data = JSON.parse(request.response);
                                            transaction.PropertyImagePath = data.url+'?timestamp=' + dateTime.getTime();
                                            genericSuccess('Property Image Saved!', 2000);
                                        }
                                    });
                                }
                                else Swal2.close();
                            });
                        };
                        reader.readAsDataURL(file.files[0]);
                    }
                }
                uploadImage();
            },
            escrowPastDueClass(date){
                return moment(date).isBefore(moment().toDate()) ? 'text-muted otc-red' : 'text-muted';
            },
            /**
             * This function ensures at least draft status filter is set to true at the start
             * that way the user does not get an empty page.
             */
            checkStatusFilters(){
                let stats = this.filters.Status;
                if (!stats.open && !stats.canceled && !stats.closed && !stats.draft)
                    stats.open = true;
            },
            processHashes(){
                let v = this;
                let stats = v.filters.Status;
                let hashes = getLocationHashes();
                hashes.forEach((hash) => {
                    if (hash == 'open') stats.open = true;
                    if (hash == 'closed') stats.closed = true;
                });
                this.checkStatusFilters();
            },
            formatTransactionProperties(allTrans){
                for(let i in allTrans)
                {
                    if(allTrans.hasOwnProperty(i))
                    {
                        delete allTrans[i].Agent;
                        delete allTrans[i]['Appraisal Contingency'];
                        delete allTrans[i]['Client Role'];
                        delete allTrans[i]['Desposit Due'];
                        delete allTrans[i]['Inspection Contingency'];
                        delete allTrans[i]['Loan Application'];
                        delete allTrans[i]['Loan Contingency'];
                        delete allTrans[i]['Possession of Property'];
                        delete allTrans[i]['Start of Contract'];
                        delete allTrans[i].TC;
                        allTrans[i]['Close of Escrow'] = moment(allTrans[i]['Close of Escrow']).format('MMMM DD, YYYY');
                    }
                }
                return allTrans;
            }
        },
        mounted() {
            this.processHashes();
            let allTransactions = this.$store.getters.getAllTransactions();
            this.transactions = this.formatTransactionProperties(allTransactions);
            this.$store.subscribe((mutation, state) => {
                switch(mutation.type)
                {
                    case 'setLookupTables':
                        this.$root.$emit('transactionChanged', state);
                        break;
                    case 'setAllTransactions':
                        this.transactions = this.formatTransactionProperties(state.allTransactions);
                        break;
                }
            });
        }
    }
</script>

<style scoped>

</style>