<template>
    <div class="wrap transaction-summary-banner-stats" id="TransactionBanner">
        <div class="float-right transactionSummaryButtonContainer">
            <span class="text-muted">Close of Escrow: </span>{{getCloseOfEscrowDate()}}
            <!--
            <a href="#" v-on:click.prevent="viewTimeline()"><button class="btn shadow pr-2"><i class="fas fa-tasks"></i></button></a>
            <a href="#" v-on:click.prevent="viewDocuments()"><button class="btn shadow pr-2"><i class="fas fa-file-alt"></i></button></a>
            <a href="#" v-on:click.prevent="sendEmail()"><button class="btn shadow"><i class="fas fa-envelope"></i></button></a>
            <a href="#" v-on:click.prevent="editTransaction()"><button class="btn shadow pr-2"><i class="fas fa-edit"></i></button></a>
            -->
        </div>
        <h1 class="title">{{propertyData.Street1}}</h1>
        <h4 class="text-left text-muted" style="margin: -10px 0 2px 0;">&nbsp;{{propertyData.City}}, {{propertyData.State}} {{propertyData.Zip}}</h4>
        <!--
        <div class="countdown" style="font-size: 19px;"> {{Math.abs(daysUntilClose)}}
            Day{{(Math.abs(daysUntilClose) > 1) ? 's' : ''}} {{daysUntilClose > 0 ? 'Until' : 'Past'}} Closing
        </div>
        -->
        <div class="row" id="linksContainer">
            <div class="col-sm-8 col-xs-12">
                <a href="#" v-on:click.prevent="viewTimeline()" class="text-muted">Timeline/Tasks</a>
                <a href="#" v-on:click.prevent="viewDocuments()" class="text-muted">Documents</a>
                <a href="#" v-on:click.prevent="sendEmail()" class="text-muted">Send a Message</a>
                <a href="#" v-on:click.prevent="editTransaction()" class="text-muted">Edit Transaction Details</a>
                <a href="#" v-on:click.prevent="auditLog()" class="text-muted">Audit Log</a>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "TransactionBanner",
        components: {

        },
        props: {

        },
        data(){
            return {
                transactionID:  this.$store.getters.currentTransaction(),
                propertyData:   this.$store.getters.currentTransactionProperty(),
                daysUntilClose: this.$store.getters.daysUntilClose(),
            }
        },
        methods: {
            auditLog(){
                window.location.href = route('audit.logs', [this.transactionID]).url();
            },
            getCloseOfEscrowDate(){
                return moment(this.propertyData.CloseEscrow, 'YYYY-MM-DD').format('MMMM DD, YYYY');
            },
            sendEmail(){
                window.location.href = route('send.email.view', [this.transactionID]).url();
            },
            editTransaction(){
                window.location.href = route('transaction.editDetails').url();
            },
            viewDocuments(){
                window.location.href = route('transactionSummary.documents', [this.transactionID]).url();
            },
            viewTimeline(){
                window.location.href = route('transactionSummary.timeline', [this.transactionID]).url();
            }
        },
        mounted() {
            this.$store.subscribe((mutation, state) => {
                switch (mutation.type)
                {
                    case 'setLookupTables':
                        this.transactionID  = state.currentTransactionID;
                        this.propertyData   = state.currentTransactionProperty;
                        this.daysUntilClose = state.currentTransactionDaysUntilClose;
                        break;
                }
            });
        }
    }
</script>

<style scoped>

</style>