<template>
    <div>
        <div class="modal fade uploadDocumentModal in" :id="'uploadDocumentModal'+lk_ID" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <form :id="'uploadFormData'+lk_ID" method="post" enctype="multipart/form-data" >
                        <input type="hidden" name="transactionID" :value="transactionIDProp">
                        <input type="hidden" name="lk_id" id="lk_id" :value="lk_ID">
                        <input type="hidden" name="ajax" value="1">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"><span  class="text-danger" style="font-size: 50px">&times;</span></button>
                        </div>

                        <div class="modal-body">
                            <div class="form-group radio-boxes text-left">
                                <div v-if="documentSigners && isMounted && Object.keys(requiredSigners).length > 0">
                                    <h2 class="">Signed By</h2>
                                    <div class="row">
                                        <div v-if="requiredSigners.b">
                                            <div v-if="documentSigners.b.length > 0" class="text-left col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                <h4>Buyers</h4>
                                                <label v-if="buyer && buyer.ID !== 0" class="label-control checkboxes radio if" v-for="buyer in documentSigners.b" >
                                                    <input v-on:click="addSigned($event)" v-model="signedBySelection" type="checkbox" name="signedBy[]" :value="'b+' + buyer.ID" />{{buyer.NameFull || (buyer.NameFirst + ' ' + buyer.NameLast) || 'Buyer'}}
                                                </label>
                                                <div v-if="documentSigners.b.length < 2" class="addRole text-left col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                    <h4 v-on:click="addEditPerson('B1')">Add Buyer</h4>
                                                </div>
                                            </div>
                                            <div v-else class="addRole text-left col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                <h4 v-on:click="addEditPerson('B2')">Add Buyer</h4>
                                            </div>
                                        </div>
                                        <div v-if="requiredSigners.s">
                                            <div v-if="documentSigners.s.length > 0" class="text-left col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                <h4>Sellers</h4>
                                                <label v-if="seller && seller.ID !== 0" class="label-control checkboxes radio" v-for="seller in documentSigners.s" >
                                                    <input v-on:click="addSigned($event)" v-model="signedBySelection" type="checkbox" name="signedBy[]" :value="'s+' + seller.ID" />{{seller.NameFull || (seller.NameFirst + ' ' + seller.NameLast) || 'Seller'}}
                                                </label>
                                                <div v-if="documentSigners.s.length < 2" class="addRole text-left col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                    <h4 v-on:click="addEditPerson('S1')">Add Seller</h4>
                                                </div>
                                            </div>
                                            <div v-else class="addRole text-left col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                <h4 v-on:click="addEditPerson('S2')">Add Seller</h4>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div v-if="requiredSigners.ba">
                                            <div v-if="documentSigners.ba.length > 0" class="text-left col-xs-12 col-sm-12 col-md-12 col-lg-12 text-left" >
                                                <h4>Buyer's Agent</h4>
                                                <label v-if="documentSigners.ba[0] && documentSigners.ba[0].ID !== 0" class="label-control checkboxes radio">
                                                    <input v-on:click="addSigned($event)" v-model="signedBySelection" type="checkbox" name="signedBy[]" :value="'ba+' + documentSigners.ba[0].ID">{{documentSigners.ba[0].NameFull || (documentSigners.ba[0].NameFirst + ' ' + documentSigners.ba[0].NameLast)}}
                                                </label>
                                            </div>
                                            <div v-else class="addRole text-left col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                <h4 v-on:click="addEditPerson('BA')">Add Buyer's Agent</h4>
                                            </div>
                                        </div>
                                        <div v-if="requiredSigners.sa">
                                            <div v-if="documentSigners.sa.length > 0" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-left" >
                                                <h4>Seller's Agent</h4>
                                                <label v-if="documentSigners.sa[0] && documentSigners.sa[0].ID !== 0" class="label-control checkboxes radio">
                                                    <input v-on:click="addSigned($event)" v-model="signedBySelection" type="checkbox" name="signedBy[]" :value="'sa+' + documentSigners.sa[0].ID">{{documentSigners.sa[0].NameFull || (documentSigners.sa[0].NameFirst + ' ' + documentSigners.sa[0].NameLast)}}
                                                </label>
                                            </div>
                                            <div v-else class="addRole text-left col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                <h4 v-on:click="addEditPerson('SA')">Add Seller's Agent</h4>
                                            </div>
                                        </div>
                                    </div>
                                    <h4>Document is Not Signed</h4>
                                    <label class="label-control checkboxes radio">
                                        <input v-on:click="addSigned($event)" v-model="signedBySelection" type="checkbox" name="signedBy[]" :value="'xx+0'"> No Signature
                                    </label>
                                    <label class="label-control checkboxes radio">
                                        <input v-on:click="addSigned($event)" v-model="signedBySelection" type="checkbox" name="signedBy[]" :value="'sk+0'"> Skip Signature
                                    </label>
                                </div>
                                <div v-else>
                                    This document does not require signatures.
                                    <h4>Document is Not Signed</h4>
                                    <label class="label-control checkboxes radio">
                                        <input v-on:click="addSigned($event)" v-model="signedBySelection" type="checkbox" name="signedBy[]" :value="'xx+0'"> No Signature
                                    </label>
                                </div>
                            </div>
                        </div>
                        <!-- <input type="file" name="taDoc"> -->
                        <div class="modal-footer">
                            <button v-if="signedBySelection.length > 0" type="button" class="btn-v2 btn-teal" v-on:click="uploadDocument" >Select Document</button>
                            <button v-else type="button" class="btn-v2 gray-background" disabled>Select Document</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <add-edit-person-modal
                ref="addEditPersonModal"
                :key-people.sync="keyPeople"
                :element-i-d="addPersonModalID"
                :transaction-i-d="transactionIDProp"
                :token="token"
        >

        </add-edit-person-modal>
    </div>
</template>

<script>
    import * as filestack from 'filestack-js';
    export default {
        /*
             Props Explanation:
            -lkProp: the lk_ID of the document
            -passedToken: the csrf_token() necessary to do POST ajax calls.
            -transactionIDProp: the transactionID
            -getSignersRouteProp: the route to DocumentController@getSigners
         */
        props: {
            mustParse: {
                default: false,
            },
            lkProp: {

            },
            passedToken: {

            },
            transactionIDProp: {

            },
            documentCode:{
                String,
                default: null,
            },
            signersProp:{

            },
            searchPersonRoute: {
                String,
                default: null,
            },
            getAgentInfoRoute: {
                String,
                default: null,
            },
            saveAgentDataRoute: {
                String,
                default: null,
            },
            saveBuyerDataRoute: {
                String,
                default: null,
            },
            saveSellerDataRoute: {
                String,
                default: null,
            },
        },
        data(){
            return {
                addPersonModalID: 'addPersonModal',
                rawKeyPeopleData:   {},
                keyPeople:          {},
                documentSigners: this.signersProp,
                lk_ID: this.lkProp,
                token: '',
                isMounted: false,
                signedBy: 0,
                requiredSigners: {},
                signedBySelection: [],
                noSignature: 'xx+0',
                skipSignature: 'sk+0',
                contentReady: false,
            }
        },
        watch: {
            documentSignersProp: {
                handler(val){
                    this.documentSigners = val;
                },
            },
            lkProp: {
                handler(val){
                    this.lk_ID = val;
                },
            }
        },
        methods :{
            addEditPerson(index = false){
                if (index) this.selectedPerson = this.keyPeople[index];
                else this.selectedPerson = {};
                let modal = this.$refs.addEditPersonModal;
                if (modal) modal.$emit('setPersonData', this.selectedPerson);
                $('#'+this.addPersonModalID).modal();
            },
            addBuyerSeller(roleCode){
                let dataObject = {
                    roleCode        : roleCode,
                    searchRoute     : null,
                    token           : this.passedToken,
                    transactionID   : this.transactionIDProp,
                };
                dataObject.saveDataRoute = roleCode == 'b' ? this.saveBuyerDataRoute : this.saveSellerDataRoute;
                openBuyerSellerModal(dataObject,'add_agent_modal', this.getRequiredSigners);
            },
            addAgent(roleCode){
                let dataObject = {
                    table           : 'Agent',
                    model           : 'App\\Models\\Agent',
                    roleCode        : roleCode,
                    searchRoute     : this.searchPersonRoute,
                    receiveDataRoute: this.getAgentInfoRoute,
                    saveDataRoute   : this.saveAgentDataRoute,
                    token           : this.passedToken,
                    transactionID   : this.transactionIDProp,
                };
                openAgentModal(dataObject,'add_agent_modal', this.getRequiredSigners);
            },
            getRequiredSigners(){
                axios.post(route('getRequiredSigners').url(), {
                    documentCode: this.documentCode,
                    transactionID: this.transactionIDProp,
                }).then((response) => {
                    let status = response.data.status;
                    if(status == 'success')
                    {
                        this.requiredSigners = response.data.requiredSigners || {};
                        this.documentSigners = response.data.documentSigners;
                        if (Object.keys(this.requiredSigners).length == 0)
                        {
                            this.signedBySelection.push(this.noSignature);
                        }
                    }
                    else if(status == 'fail')
                    {
                        Swal2({
                           title: 'Error',
                           text: response.data.message,
                           type:'error',
                        });
                    }
                    else
                    {
                        Swal2({
                           title: 'Error',
                           text: 'An unknown error has occurred.',
                           type: 'error',
                        });
                    }
                    this.isMounted = true;
                });
            },
            addSigned(event){
                if(event.target.checked)
                {
                    if(event.target.value == this.noSignature)
                    {
                        this.signedBySelection = [];
                        this.signedBySelection.push(this.noSignature);
                    }
                    else if(event.target.value == this.skipSignature){
                        this.signedBySelection = [];
                        this.signedBySelection.push(this.skipSignature);
                    }
                    else
                    {
                        let noSignatureKey = $.inArray(this.noSignature,this.signedBySelection);
                        if(noSignatureKey !== -1) this.signedBySelection.splice(noSignatureKey,1);
                    }
                }
            },
            toggleModal(){
                $('#uploadDocumentModal'+this.lk_ID).modal('show');
            },
            uploadDocument(){
                var form = $('#uploadFormData'+this.lk_ID)[0];
                var formData = new FormData(form);
                const apikey = 'AzZlFYkLVRHKkQDAtOrYpz';
                //getFilestackSignature is the route to get the policy and signature based on our key
                axios.get(route('getFilestackSignature').url()).then((response) => {
                    var policy = response.data.policy;
                    var signature = response.data.signature;
                    const security = {
                        policy: policy,
                        signature: signature,
                    };
                    const clientOptions = {security};
                    const client = filestack.init(apikey, clientOptions);
                    const options = {
                        maxFiles: 1,
                        uploadInBackground: false,
                        fromSources: [
                            'local_file_system',
                            'url',
                            'googledrive',
                            'dropbox',
                            'gmail',
                            'onedrive',
                            'onedriveforbusiness',
                            'clouddrive',
                            'box',
                        ],
                        onUploadDone: (res) => {
                            let file = {
                                test: null,
                                originalName: null,
                                mimeType: null,
                                size: 0,
                                error: 0,
                                hashName: null,
                            };

                            var text = '<ul style="color:red; list-style: none; background: #f3f3f3; padding:15px;" class="text-left">';

                            if(res.filesFailed.length > 0)
                            {
                                $.each(res.filesFailed, function(i, obj){
                                    text += '<li>'+obj.filename+' failed to upload.</li>';
                                });
                                text += '</ul>';
                                Swal2({
                                    title: 'Error',
                                    type: 'error',
                                    html: text,
                                });
                            }
                            if(res.filesUploaded.length == 1)
                            {
                                var uploadedFile = res.filesUploaded[0];
                                file.test = false;
                                file.originalName = uploadedFile.filename;
                                file.mimeType = uploadedFile.mimetype;
                                file.size = uploadedFile.size;
                                file.error = 0;
                                file.url = uploadedFile.url + '?policy='+policy+'&signature='+signature;
                                formData.append('fileInfo', JSON.stringify(file));
                                formData.append('isExternal', true);
                                formData.append('_token', this.passedToken);
                                axios({
                                    method: 'post',
                                    url: route('save.TransactionDocument').url(),
                                    data: formData,
                                    headers: {'Content-Type':'multipart/form-data'},
                                }).then( r => {
                                    console.log({
                                        saveTransactionDocumentResponse: r,
                                    });
                                    var modal = $('#uploadDocumentModal'+this.lk_ID);
                                    modal.removeClass('fade');
                                    modal.modal('toggle');
                                    $('.modal-backdrop.in').remove();
                                    if(this.$parent.COMPONENT_NAME == 'DocumentBagView')
                                        this.$root.$emit('update',true);
                                    else if (this.$parent.COMPONENT_NAME == 'Documents')
                                        this.$root.$emit('updateDocuments');
                                })
                                .catch( err => {
                                    console.log({
                                        saveTransactionDocumentError: err,
                                    });
                                    console.log(err);
                                });
                                // $.ajax({
                                //     url: route('save.TransactionDocument').url(), //TransactionSummaryController@saveTransactionDocument()
                                //     type: 'POST',
                                //     data: formData,
                                //     processData: false,
                                //     contentType: false,
                                //     success: (response) => {
                                //         var modal = $('#uploadDocumentModal'+this.lk_ID);
                                //         modal.removeClass('fade');
                                //         modal.modal('toggle');
                                //         $('.modal-backdrop.in').remove();
                                //         if(this.$parent.COMPONENT_NAME == 'DocumentBagView')
                                //             this.$root.$emit('update',true);
                                //         else if (this.$parent.COMPONENT_NAME == 'Documents')
                                //             this.$root.$emit('updateDocuments');
                                //     },
                                //     error: function(response){
                                //         console.log(response);
                                //     },
                                // }); //end ajax call
                            } //end of if uploadedFiles == 1
                        }, //end of onUploadDone
                    }; //end options

                    client.picker(options).open();

                });
            },
            fetchKeyPeople(){
                let data = {
                    class: 'App\\Combine\\TransactionCombine2',
                    isStatic: 1,
                    method: 'keyPeople',
                    args: [
                        this.transactionIDProp,
                    ],
                };
                axios.post(route('ajax.converter').url(), data).then((r) => {
                    console.log(r);
                    let status = r.data.status || false;
                    if (status == 'success')
                    {
                        this.rawKeyPeopleData = r.data.data;
                        this.getKeyPeople();
                    }
                    else if (status == 'fail') genericError(r.data.message);
                    else genericError();
                });
            },
            getKeyPeople(){
                this.keyPeople = {};
                this.keyPeople['B0'] = {
                    ID: this.rawKeyPeopleData['B ID_0'],
                    UUID: this.rawKeyPeopleData['B UUID_0'],
                    Users_ID: this.rawKeyPeopleData['B Users_ID_0'],
                    NameFull: this.rawKeyPeopleData['Buyer_0'] || '',
                    NameFirst: this.rawKeyPeopleData['B NameFirst_0'] || '',
                    NameLast: this.rawKeyPeopleData['B NameLast_0'] || '',
                    Phone: this.rawKeyPeopleData['B Phone_0'] || '',
                    Email: this.rawKeyPeopleData['B Email_0'] || '',
                    role: 'Buyer',
                    position: 1,
                    roleCode: 'b',
                    addText: 'Add a Buyer',
                    table: 'Buyers',
                    model: '\\App\\Models\\Buyer',
                };
                this.keyPeople['B1'] = {
                    ID: this.rawKeyPeopleData['B ID_1'],
                    UUID: this.rawKeyPeopleData['B UUID_1'],
                    Users_ID: this.rawKeyPeopleData['B Users_ID_1'],
                    NameFull: this.rawKeyPeopleData['Buyer_1'] || '',
                    NameFirst: this.rawKeyPeopleData['B NameFirst_1'] || '',
                    NameLast: this.rawKeyPeopleData['B NameLast_1'] || '',
                    Phone: this.rawKeyPeopleData['B Phone_1'] || '',
                    Email: this.rawKeyPeopleData['B Email_1'] || '',
                    role: 'Buyer',
                    position: 2,
                    roleCode: 'b',
                    addText: 'Add a Buyer',
                    table: 'Buyers',
                    model: '\\App\\Models\\Buyer',
                };
                this.keyPeople['S0'] = {
                    ID: this.rawKeyPeopleData['S ID_0'],
                    UUID: this.rawKeyPeopleData['S UUID_0'],
                    Users_ID: this.rawKeyPeopleData['S Users_ID_0'],
                    NameFull: this.rawKeyPeopleData['Seller_0'] || '',
                    NameFirst: this.rawKeyPeopleData['S NameFirst_0'] || '',
                    NameLast: this.rawKeyPeopleData['S NameLast_0'] || '',
                    Phone: this.rawKeyPeopleData['S Phone_0'] || '',
                    Email: this.rawKeyPeopleData['S Email_0'] || '',
                    role: 'Seller',
                    position: 1,
                    roleCode: 's',
                    addText: 'Add a Seller',
                    table: 'Sellers',
                    model: '\\App\\Models\\Seller',
                };
                this.keyPeople['S1'] = {
                    ID: this.rawKeyPeopleData['S ID_1'],
                    UUID: this.rawKeyPeopleData['S UUID_1'],
                    Users_ID: this.rawKeyPeopleData['S Users_ID_1'],
                    NameFull: this.rawKeyPeopleData['Seller_1'] || '',
                    NameFirst: this.rawKeyPeopleData['S NameFirst_1'] || '',
                    NameLast: this.rawKeyPeopleData['S NameLast_1'] || '',
                    Phone: this.rawKeyPeopleData['S Phone_1'] || '',
                    Email: this.rawKeyPeopleData['S Email_1'] || '',
                    role: 'Seller',
                    position: 2,
                    roleCode: 's',
                    addText: 'Add a Seller',
                    table: 'Sellers',
                    model: '\\App\\Models\\Seller',
                };
                this.keyPeople['BA'] = {
                    ID: this.rawKeyPeopleData['BA ID'],
                    UUID: this.rawKeyPeopleData['BA UUID'],
                    Users_ID: this.rawKeyPeopleData['BA Users_ID'],
                    NameFull: this.rawKeyPeopleData['Buyer\'s Agent'] || '',
                    NameFirst: this.rawKeyPeopleData['BA NameFirst'] || '',
                    NameLast: this.rawKeyPeopleData['BA NameLast'] || '',
                    Phone: this.rawKeyPeopleData['BA Phone'] || '',
                    Email: this.rawKeyPeopleData['BA Email'] || '',
                    License: this.rawKeyPeopleData['BA License'] || '',
                    role: 'Buyer\'s Agent',
                    roleCode: 'ba',
                    addText: 'Add a Buyer\'s Agent',
                    table: 'Agents',
                    model: '\\App\\Models\\Agent',
                };
                this.keyPeople['SA'] = {
                    ID: this.rawKeyPeopleData['SA ID'],
                    UUID: this.rawKeyPeopleData['SA UUID'],
                    Users_ID: this.rawKeyPeopleData['SA Users_ID'],
                    NameFull: this.rawKeyPeopleData['Seller\'s Agent'] || '',
                    NameFirst: this.rawKeyPeopleData['SA NameFirst'] || '',
                    NameLast: this.rawKeyPeopleData['SA NameLast'] || '',
                    Phone: this.rawKeyPeopleData['SA Phone'] || '',
                    Email: this.rawKeyPeopleData['SA Email'] || '',
                    License: this.rawKeyPeopleData['SA License'] || '',
                    role: 'Seller\'s Agent',
                    roleCode: 'sa',
                    addText: 'Add a Seller\'s Agent',
                    table: 'Agents',
                    model: '\\App\\Models\\Agent',
                };
                this.contentReady = true;
            },
        },
        mounted(){
            this.fetchKeyPeople();
            this.$on('keyPersonUpdated', data => {
                this.getRequiredSigners();
                this.fetchKeyPeople();
            });
            this.token = this.passedToken;
            this.lk_ID = this.lkProp;
            this.documentSigners = this.signersProp;
            if(this.mustParse) this.documentSigners = JSON.parse(this.documentSigners).original.signers;
            this.getRequiredSigners();
        }
    }
</script>

<style scoped>
    .addRole{
        color: #21d7d1;
        cursor: pointer;
    }
</style>