@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP');

body{
    overflow-x: hidden;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
#header{
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1) !important;
}
.footer{
    margin: 50px 0 50px 0;
    padding-left: 50px !important;
}
.footer .left,.footer .right{
    float: left;
}
.footer .img{
    background-image: url('../images/logo.png');
    height: 33px;
    width: 21px;
    margin-right: 10px;
}

.footer .right .copy p{
    font-size: 11px;
    line-height: 22px;
    color: rgb(113,113,113);
    font-weight: bold;
}
.footer .right .links{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.footer .right .links a{
    font-size: 11px;
    line-height: 22px;
    color: rgb(113,113,113);
    font-weight: bold;
    margin-right: 5px;
}
.main-content{
    padding-left: 42px;
    width: 100%;
}
.main-content.shrink{
    padding-left: 250px;
}
.quicklinks .item a{
    border-radius: 0px !important;
    color: #da6c77 !important;
    border: none !important;
    font-size: 18px !important;
    font-weight: 400 !important;
}


.name{
    padding-left: 10px;
    font-size: 18px !important;
    font-weight: 500;
}
.show{
    display: block;
}
.hide{
    display: none;
}
.user-info-wrapper .avatar img{
    height: 40px !important;
    width: 40px !important;
}

.uinfo{
    position: relative;
}
.user-info-drop-down a{
    text-decoration: none;
}
.uinfo .user-info-drop-down{
    display: none;
    left: 0;
    top: 60px;
    padding: 20px;
    position: absolute;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.15);
    z-index: 99 !important;
}

.uinfo .user-info-drop-down ul{
    text-align: left;
    padding: 0px;
    list-style: none;
    font-size: 15px;
}
.uinfo .user-info-drop-down ul li{
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 600;
    color: #333333;
}
.uinfo .user-info-drop-down .btn-ofc{
    background-color: #da6c77;
    font-weight: 600 !important;
}
.left-menu{
    transition: all 0s;
    position: absolute;
    z-index: 5;
    background-color: white;
    width: 40px;
    min-height: 100%;
    float: left;
    left:0;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1) !important;
}
.left-menu.stickIt{
    position: fixed;
    top: 0px;
}
.left-menu .menu-toggler{
    width: 40px;
    color: #aba7a7;
    padding-left: 10px;
    font-size: 20px;
    border-top: solid;
    border-bottom: solid;
    border-width: 1px;
    border-color: #e6e0e0;
}
.left-menu .menu-toggler{
    cursor: pointer;
}
.left-menu .menu-toggler.active{
    padding-left: 90%;
    width: 250px !important;
    animation: open-toggler;
    animation-duration: 0.2s;
}

.left-menu .sub{
    display: none;
    padding-left: 40px;
    font-size: 16px;
    text-transform: uppercase;
}
.left-menu .item .sub a{
    padding-left: 10px;
    color: #5f5e5e;
    display: block;
    margin-bottom: 10px;
    margin-top: 10px;
}
.left-menu .item .sub a:hover{
    color: red;
}
.menu-item-wrapper{
    overflow-y: scroll;
    height: 90vh;
}
.menu-item-wrapper::-webkit-scrollbar {
    display: none;
}
.menu-icon{
    width: 100px !important;
    color: #c94543;
}
.menu-icon.selected{
    color:white !important;
}

.main-content{
    float: left;
    font-size: 16px;
}

.left-menu .item{
    position: relative;
    font-size: 20px;
}
.left-menu .item .main{
    padding-left: 10px;
    padding-right: 5px;
    display: block;
    height: 50px;
    padding-top: 10px;
    font-weight: 500;
    border-bottom-color: grey solid 1px;
}
.left-menu .item .main.active{
    background-color: #21d7d1;
    color: white;
}
.left-menu .item .main:hover{
    background-color: #21d7d1;
    cursor: pointer;
}

.left-menu.active{
    width: 250px;
    animation-name: open-toggler;
    animation-duration: 0.2s;
}
.item .main .menu-title{
    font-size: 16px;
    letter-spacing: 1px;
    user-select: none;
    visibility: hidden;
    font-weight: 550;
    padding-left: 10px;
    color: #333333;
}
.item .main .menu-title.active{
    visibility: visible;
}
.item .main .menu-title.selected{
    color: white;
}

.left-menu .item .sub.active{
    display: block;
}

/*=======Transaction list page css====*/
.o-box{
    padding-top: 20px;
    padding-left: 0px;
    padding-right: 0px;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0 0 4px rgba(0,0,0,0.07);
}
.o-box .title{
    padding: 20px;
    font-size: 20px;
}
.o-radio-container{
    display: inline;
    position: relative;
    cursor: pointer;
    font-size: 13px;
    user-select: none;
    font-weight: 600;
    margin:7px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 25px;
    padding-right: 10px;
    border-radius: 5px;
}
.true-checked{
        background-color: #01bdb7;
        color: white !important;
}
.false-checked{
        background-color: #c94543;
        color: white !important;
}
.check-false:hover{
    background-color: #c94543;
    color: white;
}
.check-true:hover{
    background-color: #01bdb7;
    color: white;
}
.check-false{
    color: #c94543;
        border: 1px solid #c94543;
}
.check-true{
    color: #01bdb7;
    border: 1px solid #01bdb7;
}

.o-radio-container input{
    display: none;
}
.o-radio-container i{
    font-size: 14px;
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translate(-50%, -50%);
}
.o-table{
    width: 100%;
    font-size: 0.750em;
    border-spacing: 0 10px;
    margin: 0;
}


.o-table thead tr th{
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ebebec;
    border-left: 1px solid #ebebec;
    height: 73px;
    text-align: center;
    font-size: 13px;
    line-height: 22px;
    color: rgb(0,0,0);
    font-weight: bold;

}
.o-table td{
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ebebec;
    border-left: 1px solid #ebebec;
    color: #000000;
    height: 71px;
    vertical-align: middle;
    text-align: center;
    font-size: 13px;
    line-height: 17px;
    color: rgb(113,113,113);
}
.otc-red{
    color: #c94543;
}
.view-icon{
    width: 28px;
    height: 28px;
    border-radius: 3px;
    padding: 10px;
}
.view-icon:hover{
    background-color: #cd6563;
    color: white;
}
.edit-icon{
    width: 28px;
    height: 28px;
    border-radius: 3px;
    padding: 10px;
}
.edit-icon:hover{
    background-color: #01bdb7;
    color: white;
}

.search-text{
    font-size: 20px;
    font-weight: 200;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #01bdb7;
    outline: none;
    padding-left:10px;
    padding-right:20px;
    position: relative;
}
.search-text:focus{
    border-top: none !important;
    border-left: none;
    border-right: none;
}


.dashboard-banner {
    position: relative;
    overflow: hidden;
}
.dashboard-banner::after{
    content: "";
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    display: block;
    z-index: -1;
    /*background:rgba(0, 0, 0, 0.7);*/
}

.dashboard-banner .banner-bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: -2;
}

.dashboard-banner .banner-bg:after {
    content: '';
    background: transparent;
    /*background: -webkit-gradient(linear, left top, left bottom, from(rgba(30, 87, 153, 0)), to(rgba(0, 0, 0, 0.8)));*/
    /*background: linear-gradient(to bottom, rgba(30, 87, 153, 0) 0%, rgba(0, 0, 0, 0.8) 100%);*/
    background: linear-gradient(to bottom, rgba(36, 66, 101, 0) 0%, rgba(255, 255, 255, 0.94) 45%);
    padding-top: 36%;
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    min-height: 145px;
}

.dashboard-banner .wrap {
    position: relative;
    z-index: 1;
    text-align: center;
    padding: 30px 25px;
}
.left-menu .white{
    color: white !important;
}

.dashboard-banner .wrap .title {
    color: #000;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.6em;
    font-family:  Roboto, sans-serif;
}

.dashboard-banner .wrap .countdown {
    color: #21d7d1;
    font-size: 16px;
    display: inline-block;
    border-bottom: 2px solid #ca4544;
    font-family: Roboto, sans-serif;
}

.dashboard-banner .wrap .edit-button {
    margin-bottom: 20px;
}

@media (min-width: 768px) {
    .dashboard-banner .wrap {
        padding: 80px 30px 120px;
    }
    .dashboard-banner .wrap .countdown {
        padding-bottom: 20px;
    }
}

@media (min-width: 992px) {
    .dashboard-banner .wrap {
        padding: 80px 30px 120px;
    }
    .dashboard-banner .wrap .title {
        font-size: 28px;
        margin-bottom: 15px;
    }
    .dashboard-banner .wrap .countdown {
        font-size: 25px;
    }
}

@media (min-width: 1200px) {
    .dashboard-banner .wrap {
        padding: 114px 30px 183px;
    }
}

.edit-button {
    background-color: rgba(203, 69, 68, 0.8);
    border-radius: 6px;
    padding: 2px;
    padding-left: 4px;
    color: #fff;
    display: inline-block;
    line-height: 46px;
    height: 24px;
    width: 30px;
}

.edit-button:hover, .edit-button:active, .edit-button:focus {
    color: #fff;
    background-color: rgba(33, 215, 209, 0.5);
}

.main-details {
    background-color: #f9f9f9;
}

.text-center {
    text-align: center;
}

.dot-text {
    color: #000;
    display: inline-block;
    font-size: 16px;
    padding-left: 21px;
    position: relative;
}

.dot-text:before {
    content: '';
    background-color: #21d7d1;
    border: 1px solid #1baba6;
    border-radius: 50%;
    display: inline-block;
    height: 13px;
    width: 13px;
    position: absolute;
    top: 6px;
    right: auto;
    bottom: auto;
    left: 0;
}

.main-details.dashboard {
    font-family: Roboto, sans-serif;
}

.main-details.dashboard .btn-danger {
    background-color: #cb4544;
    border-radius: 6px;
    font-size: 12px;
    font-weight: 600;
    line-height: 19px;
    display: inline-block;
    padding: 10px 15px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

  #o-success-message{
        background-color: #a4e6af;
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
        position: absolute;
        border-radius: 8px;
        z-index: 10;
        top: 15%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 250px;
        padding-top: 10px;
    }
    #o-success-message .success-icon{
        font-size: 40px;
        color: white;
    }
    #o-success-message .success-text{
        color: #333333;
    }

    /************************************* STYLING FOR DISCLOSURES ********************************/
    .progress{
        margin-top: 15px;
        height: 15px !important;
        border-radius:25px !important;
    }

    .progress-bar{
        background-color: #00e2da !important;
        border-radius:25px;
        height: 15px !important;
    }

    .questionAmt{
        position: absolute;
        top: -10px;
        color: darkgrey;
        left: 40%;

    }
    .additionalInfo{
        margin-top: 10px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        height: 50px;
        width: 300px;
        border: 1px solid #ccc;
        padding: 5px;
        font-family: Tahoma, sans-serif;
    }

    .additionalInfo::placeholder{
        color: #ccc;
    }

    .disclosure-title{
        color:#C94543;
        font-size:1em;
    }

    .question{
        padding-top: 30px;
    }

    .question-text{
        font-family: 'Noto Sans JP', sans-serif;
        font-size: 30px;
        margin-top: 40px;
    }

    .question-info{
        padding: 20px;
        padding-left: 0px;
        font-weight: bold;
        font-style: italic;
    }

    .hint-title{
        color: #00e2da;
        font-weight: normal; !important;
        font-style: normal !important;
        cursor: pointer;
    }

    .hint-title:hover{
        text-decoration: underline;
    }

    .answer-section{
        margin-top:15px;
        min-height: 250px;
    }


    .list-buttons{
        width: 90%;
        padding-top: 20px;
        border-top: solid 1px rgba(204, 204, 204, 0.45);
        position: relative;
        min-height: 100px;
    }


    .questionnaireContainer{
        background: white !important;
        padding: 30px;
        min-height: 500px;
        margin-bottom: 100px;
    }

    .angle-icon{
        position: relative;
        bottom: -1px;
    }

    .next-question{
        background: #00e2da !important;
         display: inline-block;
         position: absolute;
         right: 0px;
         bottom: 0px;
        font-size: 1.2em !important;
     }

    .next-question:hover{
        background: #00e2da !important;
    }

    .prev-question{
        background: none;
        color: rgba(143, 143, 143, 0.72);
        border: none;
        display: inline-block;
        position: absolute;
        left: 0px;
        bottom: 0px;
        padding:20px;
        text-align: left;
    }

    .radio-group {
        list-style-type:none;
        margin:25px 0 0 0;
        padding:0;
    }

    .radio-group li {
        float:left;
        color:#ccc;
        margin:0 5px 0 0;
        width:200px;
        height:50px;
        position:relative;
    }

    .radio-label{
        color:lightgray;
        display: block;
        text-align: center;
        line-height: 49%;

    }

    .radio-group label, .radio-group input {
        display:block;
        position:absolute;
        top:0;
        left:0;
        right:0;
        bottom:0;
    }

    .radio-group input[type="radio"] {
        display: none;
    }

    .radio-group input[type="radio"]:checked + label {
        background-color: #00e2da;
        color: white;
    }

    .radio-group label {
        padding:20px;
        border:1px solid #CCC;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        cursor:pointer;
        z-index:90;
    }

    .radio-group label:hover {
        background-color: #00e2da;
        color: white;
    }

    .single-answer{
        font-size: 20px;
        font-style: italic;
    }

    /* Checkboxes */

    .checkbox-group .row div{
        margin-top: 10px;
    }

    .checkbox-label{
        padding-left:10px;
    }

    .checkbox-group input[type="checkbox"] {
        display: none;
        float: right;
    }

    .checkbox-group label:before {
        content: "";
        width: 30px;
        height: 30px;
        border-radius: 4px;
        display: inline-block;
        vertical-align: bottom;
        margin-right: 10px;
        line-height: 20px;
        text-align: right;
        border: 1px solid #ccc;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        padding: 10px;
    }

    .checkbox-group input[type="checkbox"]:checked+label::before {
        background: url("../../public/images/icons/check.png");
        background-position: center;

    }

    /*Dropdowns*/
    .dropdown-group select{
        height: 30px;
    }



/******************************** END DISCLOSURE STYLING **************************************/
    #o-failure-message{
        background-color: #ffe1e1;
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
        position: absolute;
        border-radius: 8px;
        z-index: 10;
        top: 15%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 250px;
        padding-top: 10px;
    }
    #o-failure-message .failure-icon{
        font-size: 40px;
        color: rgb(226, 151, 151);
    }
     #o-failure-message .failure-text{
        color: #333333;
    }
    #o-failure-popup{
        background-color: #ffe1e1;
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
        position: absolute;
        border-radius: 8px;
        z-index: 10;
        top: 15%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 500px;
        padding:30px;
        padding-top: 10px;
        padding-bottom:25px;
    }
    #o-failure-popup .failure-icon,.o-failure-popup .failure-icon{
        font-size: 40px;
        color: rgb(226, 151, 151);
    }
    #o-failure-popup .failure-text,.o-failure-popup .failure-text{
        color: #333333;
    }
    #o-failure-popup .yes-button,.o-failure-popup .yes-button{
        font-size: 14px;
        background-color: #01bdb7;
        color: white;
        font-weight: 600;
        margin-top:10px;
    }
    #o-failure-popup .no-button, .o-failure-popup .no-button{
        font-size: 14px;
        background-color: #cb4d4d;
        color: white;
        font-weight: 600;
        margin-top:10px;
    }


           .checkbox label:after,
        .radio label:after {
            content: '';
            display: table;
            clear: both;
        }

        .checkbox .cr,
        .radio .cr {
            position: relative;
            display: inline-block;
            border: 1px solid #a9a9a9;
            border-radius: .25em;
            width: 1.7em;
            height: 1.7em;
            float: left;
            margin-right: .5em;
        }

        .radio .cr {
            border-radius: 50%;
        }

        .checkbox .cr .cr-icon,
        .radio .cr .cr-icon {
            position: absolute;
            font-size: .8em;
            line-height: 0;
            top: 50%;
            left: 20%;
        }

        .radio .cr .cr-icon {
            margin-left: 0.04em;
        }

        .checkbox label input[type="checkbox"],
        .radio label input[type="radio"] {
            display: none;
        }

        .checkbox label input[type="checkbox"] + .cr > .cr-icon,
        .radio label input[type="radio"] + .cr > .cr-icon {
            transform: scale(3) rotateZ(-20deg);
            opacity: 0;
            transition: all .3s ease-in;
        }

        .checkbox label input[type="checkbox"]:checked + .cr > .cr-icon,
        .radio label input[type="radio"]:checked + .cr > .cr-icon {
            transform: scale(1) rotateZ(0deg);
            opacity: 1;
        }

        .checkbox label input[type="checkbox"]:disabled + .cr,
        .radio label input[type="radio"]:disabled + .cr {
            opacity: .5;
        }
        .rectangular-radio input{
                display: none;
            }
            .rectangular-radio .rectangular-radio-value:hover{
                background-color: #21d7d1;
                color:white !important;
                border:none;
                cursor: pointer;
            }

            .rectangular-radio .rectangular-radio-value{
                border-radius: 5px;
                padding-left: 75px;
                padding-right: 75px;
                padding-top: 20px;
                padding-bottom: 20px;
                border: 1px solid #a3a3a3;
            }
            .rectangular-radio input:checked + .rectangular-radio-value{
                background-color: #21d7d1;
                color:white !important;
                border-color: none;
            }
.main-details.dashboard .btn-danger:hover, .main-details.dashboard .btn-danger:active, .main-details.dashboard .btn-danger:focus {
    background-color: #862e2d;
}

.main-details.dashboard .tab-content .title {
    color: #cb4544;
    font-family: Roboto, sans-serif;
    font-size: 18px;
    font-weight: 400;
}

.main-details.dashboard .tab-content .sub-title {
    color: #21d7d1;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
}

.main-details.dashboard .tab-content .display-change {
    margin-bottom: 20px;
}

.main-details.dashboard .tab-content .display-change.alt {
    margin-top: 15px;
    margin-bottom: 0;
}

.main-details.dashboard .tab-content .display-change.alt a {
    color: #cb4544;
    font-size: 15px;
}

.main-details.dashboard .tab-content .display-change.alt a:hover, .main-details.dashboard .tab-content .display-change.alt a:active, .main-details.dashboard .tab-content .display-change.alt a:focus {
    color: #333333;
}

.main-details.dashboard .content-wrap {
    background-color: #fff;
    border-radius: 8px;
    margin-bottom: 30px;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
}

.main-details.dashboard .content-wrap .section-item {
    padding: 20px 20px 1px;
}

.main-details.dashboard .content-wrap .section-item + .section-item {
    border-top: 1px solid #eaeaea;
}

.main-details.dashboard .content-wrap .section-item.section-top {
    padding: 12px 13px 10px;
}

.main-details.dashboard .content-wrap .section-item:last-child {
    padding-bottom: 20px;
}

.main-details.dashboard .list-tabs {
    list-style: none;
    padding-left: 0;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 0;
}

.main-details.dashboard .list-tabs .tab-button {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    -webkit-box-flex: 1;
    flex-grow: 1;
    max-width: 100%;
    padding: 10px 15px;
    text-align: center;
}

.main-details.dashboard .list-tabs .desktop-view {
    display: none;
}

.main-details.dashboard .list-tabs .mobile-view {
    font-size: 20px;
}

.main-details.dashboard .list-dates {
    margin-bottom: 20px;
}

.main-details.dashboard .list-dates .date-item {
    display: table;
    width: 100%;
    margin-bottom: 20px;
}

.main-details.dashboard .list-dates .date-item .date {
    display: table-cell;
    vertical-align: top;
    width: 55px;
    text-align: center;
    padding-top: 2px;
}

.main-details.dashboard .list-dates .date-item .date .month {
    display: block;
    font-size: 14px;
    font-weight: 600;
    vertical-align: middle;
    line-height: 14px;
}

.main-details.dashboard .list-dates .date-item .date .day {
    font-size: 27px;
    display: inline-block;
    vertical-align: middle;
    line-height: 30px;
}

.main-details.dashboard .list-dates .date-item .date.due {
    padding-top: 7px;
    padding-right: 12px;
}

.main-details.dashboard .list-dates .date-item .date.due .quote-due {
    font-size: 10px;
    color: #cb4544;
    bordeR: 1px solid #cb4544;
    display: block;
    border-radius: 5px;
    line-height: 12px;
    padding: 10px 3px;
    position: relative;
}

.main-details.dashboard .list-dates .date-item .date.due .quote-due:after {
    content: '';
    background-image: url(../images/arrow-left.jpg);
    width: 8px;
    height: 11px;
    display: block;
    position: absolute;
    right: -8px;
    top: 11px;
}

.main-details.dashboard .list-dates .date-item .description {
    display: table-cell;
    vertical-align: middle;
}

.main-details.dashboard .list-dates .date-item .description .desc-note {
    font-size: 12px;
    font-style: italic;
    color: #616161;
    line-height: 20px;
    margin-top: 10px;
    padding-left: 20px;
    padding-right: 10px;
    position: relative;
}

.main-details.dashboard .list-dates .date-item .description .desc-note:before {
    content: '';
    display: block;
    background-image: url(../images/information-icon.png);
    width: 14px;
    height: 14px;
    position: absolute;
    left: 0;
    top: 2px;
}

.main-details.dashboard .list-dates .date-item .description .desc-wrap {
    border-radius: 8px;
    border: 1px dashed #cdcdcd;
    font-weight: 400;
    line-height: 21px;
    padding: 13px 10px 13px 33px;
    position: relative;
    font-size: 14px;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.main-details.dashboard .list-dates .date-item .description .desc-wrap.done, .main-details.dashboard .list-dates .date-item .description .desc-wrap:hover, .main-details.dashboard .list-dates .date-item .description .desc-wrap:active, .main-details.dashboard .list-dates .date-item .description .desc-wrap:focus {
    background-color: #21d7d1;
    border: 1px solid #21d7d1;
    color: #fff;
}

.main-details.dashboard .list-dates .date-item .description .desc-wrap.done .action, .main-details.dashboard .list-dates .date-item .description .desc-wrap:hover .action, .main-details.dashboard .list-dates .date-item .description .desc-wrap:active .action, .main-details.dashboard .list-dates .date-item .description .desc-wrap:focus .action {
    color: #fff;
}

.main-details.dashboard .list-dates .date-item .description .desc-wrap.done .action-list > li a, .main-details.dashboard .list-dates .date-item .description .desc-wrap:hover .action-list > li a, .main-details.dashboard .list-dates .date-item .description .desc-wrap:active .action-list > li a, .main-details.dashboard .list-dates .date-item .description .desc-wrap:focus .action-list > li a {
    color: #fff;
}

.main-details.dashboard .list-dates .date-item .description .desc-wrap .action-list {
    list-style: none;
    padding-left: 0;
    margin: 8px -5px 0;
    font-size: 0;
}

.desc{
    padding-right: 10%;
}

.main-details.dashboard .list-dates .date-item .description .desc-wrap .action-list:after {
    content: '';
    display: block;
    clear: both;
}

.main-details.dashboard .list-dates .date-item .description .desc-wrap .action-list > li {
    display: inline-block;
    padding: 0 5px;
    float: left;
}

.main-details.dashboard .list-dates .date-item .description .desc-wrap .action-list > li a {
    font-size: 12px;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    color: #cdcdcd;
}

.main-details.dashboard .list-dates .date-item .description .desc-wrap .action {
    color: #cdcdcd;
    margin-right: 6px;
    position: absolute;
    top: 13px;
    left: 13px;
    font-size: 12px;
    cursor: pointer;
}

.main-details.dashboard .list-dates .date-item .description .desc-wrap .action.alt {
    left: auto;
    right: 10px;
}

.main-details.dashboard .list-dates .date-item .description .desc-wrap .mark-complete {
    font-size: 14px;
    display: block;
    text-transform: uppercase;
}

.main-details.dashboard .list-dates .date-item .description .desc-wrap .add-date {
    color: #cb4544;
    display: block;
    font-size: 11px;
    font-weight: 600;
}

.main-details.dashboard .list-dates.w-actions .date-item .description .desc-wrap {
    padding-left: 14px;
    padding-right: 35px;
}

.main-details.dashboard .details-content {
    background-color: #fff;
    padding: 22px 20px 11px;
    border-radius: 8px;
    margin-bottom: 30px;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
}

.main-details.dashboard .details-content .title {
    margin-bottom: 15px;
}

.main-details.dashboard .details-content .details-list .detail-item {
    color: #000000;
    border-radius: 8px;
    border: 1px dashed #cdcdcd;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 11px;
    padding: 10px 15px;
    min-height:42px;
}

.main-details.dashboard .details-content .details-list .detail-item.people-icon {
    padding-left: 10px;
}

.main-details.dashboard .details-content .details-list .detail-item.people-icon .item-title:before {
    content: '\F007';
    font-family: 'Font-Awesome-5-Free';
    font-weight: 900;
    color: #cdcdcd;
    margin-right: 10px;
    display: inline-block;
}

.main-details.dashboard .details-content .details-list .detail-item .item-title {
    font-weight: bold;
    display: block;
}

.links-list {
    margin-bottom: 20px;
}

.links-list .link-item {
    margin-bottom: 10px;
}

.links-list .link-item .link {
    border-radius: 5px;
    border: 1px solid #21d7d1;
    color: #000;
    display: block;
    font-size: 13px;
    font-weight: 600;
    line-height: 20px;
    padding: 15px;
    text-align: center;
    text-transform: uppercase;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.links-list .link-item .link:hover, .links-list .link-item .link:active, .links-list .link-item .link:focus {
    border-color: #cb4544;
}

@media (min-width: 576px) {
    .main-details.dashboard .details-content {
        padding: 25px 20px 16px;
    }
    .main-details.dashboard .details-content .details-list .detail-item .item-title {
        float: left;
        width: 160px;
    }
}

@media (min-width: 768px) {
    .main-details.dashboard .wrap {
        margin-top: -100px;
        position: relative;
        z-index: 4;
    }
    .main-details.dashboard .tab-content .title {
        font-size: 20px;
    }
    .main-details.dashboard .tab-content .sub-title {
        font-size: 20px;
    }
    .main-details.dashboard .tab-content .display-change {
        margin-bottom: 30px;
    }
    .main-details.dashboard .content-wrap .section-item {
        padding: 23px 30px 1px;
    }
    .main-details.dashboard .content-wrap .section-item:last-child {
        padding-bottom: 40px;
    }
    .main-details.dashboard .list-tabs {
        padding: 0 40px;
    }
    .main-details.dashboard .list-tabs .tab-button {
        padding-bottom: 20px;
    }
    .main-details.dashboard .list-tabs .tab-button.current-tab {
        position: relative;
    }
    .main-details.dashboard .list-tabs .tab-button.current-tab:after {
        content: '';
        background-image: url(../images/triangle.png);
        background-position: center;
        background-repeat: no-repeat;
        display: block;
        height: 23px;
        left: 0;
        margin: auto;
        position: absolute;
        right: 0;
        width: 40px;
    }
    .main-details.dashboard .list-tabs .tab-button a {
        color: #000!important;
        display: inline-block;
        font-size: 16px;
        font-weight: 600;
        line-height: 13px;
        padding: 12px 0;
        text-transform: uppercase;
    }
    .main-details.dashboard .list-tabs .tab-button a:hover, .main-details.dashboard .list-tabs .tab-button a:active, .main-details.dashboard .list-tabs .tab-button a:focus {
        color: #21d7d1;
    }
    .main-details.dashboard .list-tabs .desktop-view {
        display: block;
    }
    .main-details.dashboard .list-tabs .mobile-view {
        display: none;
    }
    .main-details.dashboard .list-dates .date-item .date {
        width: 86px;
    }
    .main-details.dashboard .list-dates .date-item .description .desc-wrap .action-list,
    .main-details.dashboard .list-dates .date-item .description .desc-wrap .mark-complete,
    .main-details.dashboard .list-dates .date-item .description .desc-wrap .add-date {
        float: right;
    }
    .main-details.dashboard .list-dates .date-item .description .desc-wrap .action-list {
        margin-top: 0;
        margin-right: 6px;
        position: absolute;
        left: auto;
        right: 10px;
        top: 13px;
        font-size: 12px;
        cursor: pointer;
    }
}

@media (min-width: 992px) {
    .main-details.dashboard .wrap {
        margin-top: -134px;
    }
    .main-details.dashboard .list-tabs {
        padding: 0 80px;
    }
    .main-details.dashboard .list-dates .date-item .description .desc-wrap {
        font-size: 20px;
    }
    .main-details.dashboard .list-dates .date-item .description .desc-wrap:hover .mark-complete, .main-details.dashboard .list-dates .date-item .description .desc-wrap:active .mark-complete, .main-details.dashboard .list-dates .date-item .description .desc-wrap:focus .mark-complete {
        opacity: 1;
        visibility: visible;
    }
    .main-details.dashboard .list-dates .date-item .description .desc-wrap .mark-complete {
        color: #fff;
        opacity: 0;
        visibility: hidden;
        -webkit-transition: all 0.2s ease;
        transition: all 0.2s ease;
    }
    .main-details.dashboard .list-dates.w-actions .date-item .date {
        width: 100px;
    }
    .main-details.dashboard .list-dates.w-actions .date-item .date.due .quote-due {
        font-size: 11px;
    }
}

@media (min-width: 1200px) {
    .main-details.dashboard .container-fluid {
        max-width: 1270px;
    }
    .main-details.dashboard .container-fluid.docs-alt {
        max-width: 1400px;
    }
    .main-details.dashboard .tb-layout {
        display: table;
        width: 100%;
    }
    .main-details.dashboard .tb-layout .tb-item {
        display: table-cell;
        vertical-align: top;
    }
    .main-details.dashboard .tb-layout .tb-item.right {
        padding-left: 60px;
        width: 460px;
    }
    .main-details.dashboard .list-dates .date-item {
        margin-bottom: 27px;
    }
    .main-details.dashboard .list-dates .date-item .description .desc-wrap:hover .action-list li, .main-details.dashboard .list-dates .date-item .description .desc-wrap:active .action-list li, .main-details.dashboard .list-dates .date-item .description .desc-wrap:focus .action-list li {
        opacity: 1;
        visibility: visible;
    }
    .main-details.dashboard .list-dates .date-item .description .desc-wrap .action-list li {
        opacity: 0;
        visibility: hidden;
    }
    .main-details.dashboard .list-dates .date-item .description .desc-wrap .action-list li:last-child {
        opacity: 1;
        visibility: visible;
    }
    .main-details.dashboard .list-dates.w-actions .date-item .description .desc-wrap {
        padding-right: 90px;
    }
    .main-details.dashboard .details-content {
        margin-bottom: 60px;
    }
}

.document-wrapper {
    background-color: #fff;
    border-radius: 8px;
}

.document-wrapper .docs-actions {
    padding: 10px 15px;
}

.document-wrapper .docs-actions > .action-item.docs-search {
    margin-bottom: 15px;
}

.document-wrapper .docs-actions > .action-item.docs-filler {
    display: none;
}

@media (min-width: 576px) {
    .document-wrapper .docs-actions {
        display: table;
        width: 100%;
    }
    .document-wrapper .docs-actions > .action-item {
        display: table-cell;
        vertical-align: middle;
    }
    .document-wrapper .docs-actions > .action-item.docs-search {
        margin-bottom: 0;
    }
    .document-wrapper .docs-actions > .action-item.docs-sorting {
        width: 150px;
    }
}

@media (min-width: 992px) {
    .document-wrapper .docs-actions {
        padding: 25px;
        display: table;
        width: 100%;
    }
    .document-wrapper .docs-actions > .action-item {
        display: table-cell;
        vertical-align: middle;
    }
    .document-wrapper .docs-actions > .action-item.docs-search {
        margin-bottom: 0;
        width: 42%;
    }
    .document-wrapper .docs-actions > .action-item.docs-sorting {
        width: 29%;
    }
    .document-wrapper .docs-actions > .action-item.docs-filler {
        display: table-cell;
        width: 29%;
    }
}

.document-wrapper .docs-sorting {
    padding: 0 5px;
    margin: 0 0 0 auto;
    text-align: right;
}

.document-wrapper .docs-sorting .list-sort {
    margin: 0 -5px;
    list-style: none;
    white-space: nowrap;
    padding-left: 10px;
}

.document-wrapper .docs-sorting .list-sort .sort-item {
    display: inline-block;
    padding: 0 5px;
}

.document-wrapper .docs-sorting .list-sort .sort-item a {
    border-radius: 5px;
    border: 1px solid #eaeaea;
    color: #9b9b9b;
    display: inline-block;
    font-size: 16px;
    line-height: 19px;
    padding: 10px 5px;
    text-align: center;
    width: 50px;
}

.document-wrapper .docs-sorting .list-sort .sort-item a:hover, .document-wrapper .docs-sorting .list-sort .sort-item a:active, .document-wrapper .docs-sorting .list-sort .sort-item a:focus {
    background-color: #21d7d1;
    color: #fff;
}

.document-listing {
    padding: 10px 15px;
}

.document-listing .complete {
    color: #1fca3b;
}

.document-listing .incomplete {
    color: #cb4544;
}

.document-listing .table-wrap {
    overflow: auto;
    max-width: 100%;
}

.document-listing .table-wrap .table {
    margin-bottom: 0;
}

.document-listing .table-wrap .docs-item .item {
    color: #000;
    display: table-cell;
    font-size: 14px;
    padding: 10px 15px;
    vertical-align: middle;
    white-space: nowrap;
    border: none;
}

.document-listing .table-wrap .docs-item .item.status {
    font-weight: bold;
}

.document-listing .table-wrap .docs-item .item.dropdwn {
    color: #21d7d1;
}

.document-listing .accordions .accordion-target {
    margin-top: 0;
    padding-bottom: 30px;
}

.docs-search-wrap {
    position: relative;
}

.docs-search-wrap .search-input {
    border: 1px solid #a3a3a3;
    line-height: 20px;
    font-size: 12px;
    font-weight: 600;
    padding: 10px 30px 10px 10px;
    border-radius: 5px;
    width: 100%;
}

.docs-search-wrap .search-submit {
    background-color: transparent;
    border: none;
    color: #21d7d1;
    font-size: 16px;
    padding: 8px;
    position: absolute;
    right: 0;
    top: 0;
}


.docs-search-wrap .upload-transaction-document {
    background-color: transparent;
    border: none;
    color: #21d7d1;
    font-size: 16px;
    padding: 8px;
    position: absolute;
    right: 0;
    top: 0;
}


.docs-search-wrap .search-submit:hover, .docs-search-wrap .search-submit:active, .docs-search-wrap .search-submit:focus {
    color: #cb4544;
}

@media (min-width: 992px) {
    .document-listing {
        padding: 10px 50px;
    }
    .document-listing .table-wrap .docs-item .item {
        font-size: 14px;
        padding: 10px 10px;
        line-height: 30px;
    }
    .document-listing .table-wrap .docs-item .item.title {
        width: 200px;
        padding-left: 25px;
    }
    .docs-search-wrap .search-input {
        font-size: 14px;
        padding: 15px 42px 15px 20px;
    }
    .docs-search-wrap .search-submit {
        padding: 10px 10px;
        font-size: 20px;
    }
}

@media (min-width: 1200px) {
    .document-listing {
        padding: 0 50px 20px;
    }
    .document-listing .table-wrap .docs-item .item {
        font-size: 17px;
        padding: 15px 15px;
        line-height: 30px;
    }
}

@media (min-width: 1400px) {
    .document-listing {
        padding: 0 50px 20px;
    }
    .document-listing .table-wrap .docs-item .item.status {
        text-align: right;
        padding: 0 30px;
    }
    .document-listing .table-wrap .docs-item .item.upload {
        text-align: right;
        padding: 0 30px;
    }
    .document-listing .table-wrap .docs-item .item.dropdwn {
        text-align: right;
        padding: 0 15px;
    }
}

.accordions .acc-title {
    color: #21d7d1;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 0;
    line-height: 2em;
}

@media (min-width: 768px) {
    .accordions .acc-title {
        font-size: 20px;
        padding: 14px 0;
    }
}

.accordions .accordion-item + .accordion-item {
    border-top: 1px solid #eaeaea;
}

.accordions .accordion-item.active .accordion-trigger:after {
    content: '\F068';
}

.accordions .accordion-target {
    display: none;
    margin-top: 15px;
}

.accordions .accordion-trigger {
    cursor: pointer;
    padding: 0 26px 0 0;
    position: relative;
}

.accordions .accordion-trigger:after {
    content: '\F067';
    color: #21d7d1;
    font-family: 'Font-Awesome-5-Free';
    font-weight: 900;
    position: absolute;
    right: 9px;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
}

.accordions .accordion-trigger:hover:after,
.accordions .accordion-trigger:hover .acc-title, .accordions .accordion-trigger:active:after,
.accordions .accordion-trigger:active .acc-title, .accordions .accordion-trigger:focus:after,
.accordions .accordion-trigger:focus .acc-title {
    color: #cb4544;
}

/***************** Styling For SnapNHD **********************/


.report-modal-class .modal-dialog {
    width: 700px !important;
}

.snapNHDContainer{
    width: 600px !important;
}


.order-report{
    font-size: 15px;
    background: #e6e6e6;
    color: rgba(86, 86, 86, 0.8);
    height: 40px;
    line-height: 5px;
}

.reportbuttons button{
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    width: 200px;
    margin: 0 auto;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.plan{
    position: relative;
    border: solid 1px #ccc;
    border-radius: 5px;
}

.modal-backdrop.in{
    z-index: auto;
}

.exit-modal{
    background: #CA4A49 !important;
}


/**** Tasks  ****/

.tasks-textarea {border-radius: 5px; margin: 25px 0px 0px; width: 342px; height: 107px;}
.tasks-red-bottom {border-bottom: 1px solid #CA4A49;width:342px; overflow: hidden;}
.tasks-red-bottom img {background-repeat: no-repeat;
    float: left;
    height: 16px;
    width: 10px;
    margin-top:7px;
    margin-right: 5px;
    transform: translate(0%,39%);
    background-image: url(http://offerclose/public/images/short-icon/Rectangle-date.png);
}
.tasks-input{
    float: left;
    height: 20px;
    outline: 0px;
    border: 0!important;
    padding-left:0;
    width:342px!important;
}
.tasks-save {
    position: relative !important;
    width: 146px;
    height: 58px;
    border-radius: 6px;
    background-color: #01bdb7;
    font-size: 17px;
    line-height: 22px;
    color: rgb(255,255,255);
    font-family: Roboto, sans-serif;
    font-weight: bold;
    padding-left: 20px;
    outline: 0;
    border: 1px solid #01BDB7;
    margin-left: 15px;
    margin-top: 50px;
}

.edit-task-container{
    width: 80% !important;
    padding: 15px !important;
}

.task-modal-class .modal-content{
    width: 500px;
}

/* Alerts */
.box{
    position: relative;
}
.overlayLink{
    position: absolute;
    left: 0;top: 0;
    height: 100%;
    width: 100%;
}


/* Styling for Table */
table.dataTable thead th{
    border-bottom: none !important;
}



/** Gizmos and Cool Stuff**/
.spinner{
    display: none;
    font-size: 80px;
    color: #ffff;
    position: absolute;
    left: 47%;
    top: 35%;
    z-index: 6;
    transform: translateX(-50%, -50%);
}


/*** Timeline ***/
.timeline-modal-class .modal-content{
    width: 700px;
}




/**** Search Related   ******/

.search-container{
    padding-top: 30px;
    padding-bottom: 40px;
    border-radius: 8px;
    background-color: #eeeeee;
    margin-bottom: 5px;
}
.search-container .field-box{
    width: 70%;
    padding-left: 0px;
    padding-right: 0px;
    margin-right: 10px;
}
.search-container .field-box input{
    width: 100%;
    height: 37px;
    border-radius: 5px;
    border: 1px solid #c94543;
    margin-left: 3px;
    margin-right: 5px;
    padding-left: 10px;
}

#search_person_spinner{
    font-size: 20px;
    position: absolute;
    top: 20%;
    left: 93%;
    display: none;
}

.search_list{
    margin-left: 5px;
    margin-right: 5px;
    position: absolute;
    z-index: 4;
    left: 0px;
    right: 0px;
    list-style: none;
    padding-left: 10px;
    background: white;
    max-height: 150px;
    overflow-y: scroll;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.search_list li{
    font-size: 18px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.search_list li:hover{
    background: #f2f2f2;
    cursor: pointer;
    z-index: 5;
}
.search_list{
    font-weight: 1000;
    color: #090f0f;
    display: none;
}


/***** Key Person   *******/
.people-icon{
    cursor: pointer;
}
.kp-detail{
    padding-left: 15px;
}

.keyperson-container{
    padding: 20px;
    padding-left: 25px;
    font-size: 20px;
}

.keyperson-modal{
    width: 400px;
    background: red;
}

/* Standing by in case user does not know this is clickable
.detail-item:hover{
    background: rgba(15, 237, 255,.3);
}
*/



/***** Buttons   ******/

.btn-v2{
    border-radius: 5px;
    border: 0;
    padding: 10px 15px 10px 15px;
    width: 100%;
}

/******* Colors (If pulling from constants is not practical, otherwise use Config::get(otc.teal) etc. *******/

.teal{
    color: #21d7d1 !important;
}

.gray{
    color: #e4e4e4 !important;
}

.gray-background {
    background: #eeeeee !important;
}


/****** Sweet Alert 2 ******/
.swal2-popup {
    font-size: 1.6rem !important; /* This is slightly experimental as I am trying to upgrade from Swal1 to Swal2 */
}


/**** UI  *****/
.deactivated-noevents{
    opacity: .4;
    pointer-events: none;
}