/*** UI ***/
/******** Colors  *****/
@import url("https://fonts.googleapis.com/css?family=Mada:300&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat:500,700|Raleway:500&display=swap");
@import url("https://fonts.googleapis.com/css?family=Mada:300&display=swap");
.teal {
  color: #21D7D1 !important; }

.gray {
  color: #e4e4e4 !important; }

.gray-background {
  background: #eeeeee !important; }

.white-background {
  background: white !important; }

.teal-background {
  background: #21D7D1 !important; }

.otc-red {
  color: #C44342; }

.border-red {
  border: 1px solid #C44342; }

.green {
  color: #08b004; }

.light-blue-background {
  background: #D5EEF0 !important; }

.white-text {
  color: white !important; }

.hov-teal-color:hover {
  color: #21D7D1 !important; }

.hov-teal-bg:hover {
  background: #21D7D1 !important; }

.transactionSummaryButtonContainer {
  margin-top: 30px; }
  .transactionSummaryButtonContainer button {
    height: 35px;
    width: 40px;
    background-color: #C44342;
    color: white;
    border-radius: 8px;
    padding: 10px; }
    .transactionSummaryButtonContainer button:hover {
      background-color: white;
      border: 1px solid #C44342;
      color: #C44342; }

.consumer-timeline-edit-button {
  background-color: #C44342 !important;
  color: white !important;
  padding: 10px 0 !important;
  width: 100%;
  font-size: 17px;
  font-weight: 300;
  border-radius: 5px !important;
  border: solid 2px #C44342 !important; }
  .consumer-timeline-edit-button:hover {
    background-color: white !important;
    border: solid 2px #C44342 !important;
    color: #C44342 !important; }
  .consumer-timeline-edit-button div {
    padding: 0;
    display: inline-block; }
  .consumer-timeline-edit-button div:last-child {
    text-align: right;
    float: right;
    padding-right: 10px; }

/*** Modals ***/
#splitDocumentModal .header {
  background: #21D7D1;
  margin-top: -20px;
  font-size: 15px;
  color: white;
  font-weight: lighter; }

#splitDocumentModal .closeButton {
  position: absolute;
  height: 40px;
  width: 40px;
  z-index: 1;
  top: -18px;
  right: -10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: white;
  color: #21D7D1;
  border: solid 1px #ccc;
  font-size: 25px;
  cursor: pointer; }

#splitDocumentModal .adHocDocInputContainer {
  padding: 25px 25px 0 25px; }
  #splitDocumentModal .adHocDocInputContainer input {
    padding: 15px;
    height: 50px;
    color: #000;
    border: 0;
    border-radius: 5px;
    border: solid 1px #ccc;
    width: 90%; }

#splitDocumentModal .docListContainer h4 {
  color: #21D7D1;
  font-size: 12px;
  font-style: italic;
  text-align: left;
  margin-left: 60px;
  cursor: pointer; }

#splitDocumentModal .docList ul {
  list-style: none; }
  #splitDocumentModal .docList ul li {
    cursor: pointer;
    text-align: left;
    font-size: 15px;
    padding-left: 20px; }

#splitDocumentModal .saveButtonContainer {
  float: right;
  padding: 10px;
  margin-right: 35px; }
  #splitDocumentModal .saveButtonContainer button {
    padding: 10px 40px 10px 40px; }

/*** Documents ***/
/*** Consumer Documents ***/
#ConsumerDocuments .doc-atoz-content {
  max-width: 1000px;
  min-height: 500px;
  background-color: white;
  border-radius: 8px;
  padding: 20px 100px 25px 35px; }

#ConsumerDocuments .v-expansion-panel__container {
  border: none; }

#ConsumerDocuments .v-expansion-panel__header {
  border-bottom: solid 3px #dedede;
  font-weight: normal; }

#ConsumerDocuments .doc-heading-section {
  width: 100%; }

#ConsumerDocuments .doc-search-box {
  width: 80% !important; }

#ConsumerDocuments #Doc-card-content .col-sm-6 {
  margin-bottom: 20px; }

#ConsumerDocuments .card {
  border: 1px dashed #21D7D1; }
  #ConsumerDocuments .card .card-body {
    position: relative; }
  #ConsumerDocuments .card img {
    height: 60px;
    margin-right: 30px; }

#ConsumerDocuments .doc-ellipsis-menu {
  position: absolute;
  top: 5px;
  right: 30px;
  color: #21D7D1; }

#ConsumerDocuments .card-container {
  min-height: 160px;
  margin-top: 20px; }

#ConsumerDocuments .card {
  padding: 20px 0 0 5px; }
  #ConsumerDocuments .card .dropdown-toggle:after {
    content: none; }
  #ConsumerDocuments .card .card-title {
    font-size: 18px;
    font-weight: 700;
    color: black;
    text-decoration: none; }
  #ConsumerDocuments .card .card-text {
    color: #C14241;
    font-size: 13px;
    padding-left: 20%; }
  #ConsumerDocuments .card .card-footer {
    margin-top: 15px; }
    #ConsumerDocuments .card .card-footer i {
      color: #C14241;
      margin-right: 5px; }
    #ConsumerDocuments .card .card-footer a {
      color: #6F6F6F;
      font-style: italic;
      font-size: 12px; }

#ConsumerDocuments .upload-button {
  background-color: #21D7D1;
  color: white;
  border-radius: 6px;
  font-size: 12px;
  margin-bottom: 7px;
  margin-left: 45px;
  padding: 10px; }

#ConsumerDocuments #Doc-Categories {
  border-bottom: 3px solid #EAEAEA;
  margin-bottom: 20px; }

@media screen and (max-width: 600px) {
  #ConsumerDocuments .doc-atoz-content {
    padding: 20px; }
  #ConsumerDocuments .doc-search-box {
    width: 100% !important; }
  #ConsumerDocuments #Doc-card-content .col-sm-6 {
    padding: 5px; }
  #ConsumerDocuments #Doc-BtnStyleOne {
    float: right;
    margin-right: 10px; } }

#ConsumerDocumentsControls {
  padding-right: 50px;
  padding-left: 50px; }
  #ConsumerDocumentsControls button {
    padding: 10px; }
  #ConsumerDocumentsControls .controls-dropdown {
    border: 1px solid #21D7D1;
    color: black;
    background-color: white;
    margin-right: 100px;
    padding: 0; }
    #ConsumerDocumentsControls .controls-dropdown a {
      color: #000;
      display: block;
      padding: 7px;
      text-align: center;
      border-bottom: solid 1px #21D7D1; }
      #ConsumerDocumentsControls .controls-dropdown a.dropdown-item-header {
        background: #21D7D1;
        color: white;
        pointer-events: none;
        cursor: default !important; }
        #ConsumerDocumentsControls .controls-dropdown a.dropdown-item-header:hover {
          background: #21D7D1;
          cursor: default !important; }
      #ConsumerDocumentsControls .controls-dropdown a:hover {
        background: #E8FBFA; }
    #ConsumerDocumentsControls .controls-dropdown a:last-child {
      border-bottom: none; }
  #ConsumerDocumentsControls .documentControlButtons {
    height: 35px;
    border: 1px solid #21D7D1;
    color: #21D7D1;
    font-size: 14px;
    margin-bottom: 10px; }
    #ConsumerDocumentsControls .documentControlButtons:hover {
      background-color: #21D7D1;
      color: white; }
  #ConsumerDocumentsControls #CS-sorting-dropdown {
    float: right; }
    #ConsumerDocumentsControls #CS-sorting-dropdown .active {
      background-color: #21D7D1;
      color: white; }
  #ConsumerDocumentsControls .doc-search-box .input-group {
    width: 75%; }
    #ConsumerDocumentsControls .doc-search-box .input-group input {
      width: 60%;
      height: 38px; }
    #ConsumerDocumentsControls .doc-search-box .input-group .search-button {
      height: 38px;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0; }
    #ConsumerDocumentsControls .doc-search-box .input-group .add-doc-button {
      margin-left: 20px; }
  #ConsumerDocumentsControls .red-button {
    background-color: #C44342;
    color: white;
    font-size: 12px;
    height: 38px;
    border-radius: 6px; }
    #ConsumerDocumentsControls .red-button:hover {
      background-color: white;
      border: 1px solid #C44342;
      color: #C44342; }
  #ConsumerDocumentsControls .controls-dropdown {
    border: 1px solid #21D7D1 !important;
    color: black;
    background-color: white;
    margin-right: 100px;
    margin-left: 65%;
    margin-top: 8%; }
    #ConsumerDocumentsControls .controls-dropdown a {
      padding-top: 8px;
      padding-bottom: 8px;
      border-bottom: 1px solid #21D7D1;
      font-size: 12px; }
      #ConsumerDocumentsControls .controls-dropdown a:hover {
        background-color: #E8FBFA; }

/*** Consumer Documents ***/
#DocumentBagShare #documentBagShareMainHeader .btn.btn-red {
  padding: 10px !important; }

#DocumentBagShare #documentBagShareMainHeader h1 {
  color: #21D7D1;
  font-family: Montserrat, sans-serif;
  font-weight: 900;
  margin: 0; }

#DocumentBagShare #documentBagShareMainHeader h2 {
  font-family: sans-serif; }

#DocumentBagShare #documentBagShareMainHeader h3 {
  font-size: 18px;
  color: #21D7D1; }

#DocumentBagShare #documentBagShareMainHeader ul li {
  list-style: none;
  font-style: normal; }

#DocumentBagShare .bag-header {
  height: 90px; }
  #DocumentBagShare .bag-header .header-uploader-image {
    float: left;
    height: 100%; }
    #DocumentBagShare .bag-header .header-uploader-image img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      margin-right: 10px; }
  #DocumentBagShare .bag-header .bag-header-meta-data {
    height: 100%;
    float: left; }
    #DocumentBagShare .bag-header .bag-header-meta-data .header-text {
      font-weight: 700;
      font-family: Montserrat, sans-serif; }
    #DocumentBagShare .bag-header .bag-header-meta-data .view-file-link {
      color: #21D7D1;
      font-size: 17px; }
      #DocumentBagShare .bag-header .bag-header-meta-data .view-file-link:hover {
        text-decoration: underline; }
    #DocumentBagShare .bag-header .bag-header-meta-data .delete-file-link {
      color: #ff312c;
      font-size: 14px; }
      #DocumentBagShare .bag-header .bag-header-meta-data .delete-file-link:hover {
        text-decoration: underline; }
  #DocumentBagShare .bag-header .header-icon-container {
    float: right;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; }
    #DocumentBagShare .bag-header .header-icon-container span {
      padding: 12px 15px;
      border: solid 1px #ccc;
      border-radius: 50%;
      color: #ccc; }

#DocumentBagShare .signed-by-container .signed-by-role {
  font-size: 12px;
  color: #a7a2a2; }

#DocumentBagShare .signed-by-container .signature-column .inner-column {
  width: 70%;
  display: inline-block;
  max-height: 100px; }
  #DocumentBagShare .signed-by-container .signature-column .inner-column:first-child {
    vertical-align: top;
    color: #c3c3c3;
    width: 25%; }
  #DocumentBagShare .signed-by-container .signature-column .inner-column div {
    width: 50%;
    display: inline-block; }

#DocumentBagShare .disallowed-role {
  color: #ff312c;
  text-decoration: line-through; }

#DocumentBagShare .controls-container {
  margin-top: 15px; }

#DocumentBagShare .shared-with-container table tr td {
  width: 25%; }
  #DocumentBagShare .shared-with-container table tr td:first-child {
    vertical-align: top;
    color: #c3c3c3; }

#DocumentBagShare .share-link-container {
  height: 100px;
  display: flex;
  align-items: center; }
  #DocumentBagShare .share-link-container .share-link-input-container .share-link-description {
    padding: 10px;
    font-size: 14px;
    color: #a9a6a6; }
  #DocumentBagShare .share-link-container .share-link-button-container {
    margin-top: 25px; }

#DocumentBagShare table {
  table-layout: fixed; }

/*** Components/Pages ***/
/*** Consumer Transaction Summary ***/
#ConsumerTransactionSummary {
  margin-top: 50px; }
  #ConsumerTransactionSummary .task-and-milestone-description {
    float: left;
    width: 90%; }
  #ConsumerTransactionSummary .details-content {
    margin-bottom: 20px !important;
    padding: 15px; }
  #ConsumerTransactionSummary .container {
    padding: 0 !important; }
  @media screen and (min-width: 1200px) {
    #ConsumerTransactionSummary .tb-item.left {
      width: 60%; } }
  #ConsumerTransactionSummary #ConsumerDocumentsControls {
    padding: 0; }
    #ConsumerTransactionSummary #ConsumerDocumentsControls .doc-search-box .input-group input {
      width: 72%; }
  #ConsumerTransactionSummary .timeline-additional-data div:first-child {
    cursor: pointer; }
  #ConsumerTransactionSummary .timeline-additional-data .details-list {
    margin-top: 20px; }
    #ConsumerTransactionSummary .timeline-additional-data .details-list .kp-name {
      float: right; }
    #ConsumerTransactionSummary .timeline-additional-data .details-list .detail-item {
      font-size: 12px;
      display: flex;
      justify-content: left;
      padding: 5px 10px;
      min-height: 0; }
      #ConsumerTransactionSummary .timeline-additional-data .details-list .detail-item .item-title {
        text-transform: uppercase; }
  #ConsumerTransactionSummary .timeline-additional-data h3 {
    display: inline;
    font-weight: 500; }
  #ConsumerTransactionSummary .timeline-additional-data .title-icon {
    float: right; }
    #ConsumerTransactionSummary .timeline-additional-data .title-icon i {
      color: #21D7D1; }
  #ConsumerTransactionSummary .SearchContainer {
    padding: 15px; }
    #ConsumerTransactionSummary .SearchContainer .search-button {
      border-radius: 0; }
  #ConsumerTransactionSummary #CS-sorting-dropdown {
    padding: 15px 27px; }
    #ConsumerTransactionSummary #CS-sorting-dropdown .dropdown-menu {
      position: absolute;
      top: -1px !important;
      left: unset !important;
      right: -1px !important;
      transform: none !important;
      margin: 0 !important; }
      #ConsumerTransactionSummary #CS-sorting-dropdown .dropdown-menu div:first-child {
        height: 35px;
        background: #21D7D1;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding-right: 10px;
        color: white; }
        #ConsumerTransactionSummary #CS-sorting-dropdown .dropdown-menu div:first-child:hover {
          text-decoration: none; }
  #ConsumerTransactionSummary .list-dates .date-item {
    margin-bottom: 10px; }
    #ConsumerTransactionSummary .list-dates .date-item .description .desc-wrap {
      font-size: 16px; }
      #ConsumerTransactionSummary .list-dates .date-item .description .desc-wrap .dropdown-menu {
        right: 0 !important;
        top: -3px !important;
        left: unset !important;
        border: solid 1px #21D7D1;
        padding: 0;
        transform: none !important;
        max-width: 200px; }
        #ConsumerTransactionSummary .list-dates .date-item .description .desc-wrap .dropdown-menu div {
          width: 100%;
          border-bottom: 1px solid #21D7D1;
          padding: 5px 5px 5px 20px; }
          #ConsumerTransactionSummary .list-dates .date-item .description .desc-wrap .dropdown-menu div:hover {
            text-decoration: none;
            background: #E8FBFA;
            color: black; }
        #ConsumerTransactionSummary .list-dates .date-item .description .desc-wrap .dropdown-menu div:first-child {
          height: 47px;
          display: flex;
          justify-content: flex-end;
          align-items: center;
          padding-right: 17px;
          background: #21D7D1; }
          #ConsumerTransactionSummary .list-dates .date-item .description .desc-wrap .dropdown-menu div:first-child i {
            padding: 6px;
            color: #e6e6e6;
            border: solid 1px #e6e6e6;
            border-radius: 50%;
            margin-right: -5px; }
        #ConsumerTransactionSummary .list-dates .date-item .description .desc-wrap .dropdown-menu div:last-child {
          border: none; }
      #ConsumerTransactionSummary .list-dates .date-item .description .desc-wrap:hover {
        background: white;
        color: unset;
        border: 1px dashed #cdcdcd; }
        #ConsumerTransactionSummary .list-dates .date-item .description .desc-wrap:hover .timeline-item-dropdown-trigger {
          /*color: white;
              border: solid 1px white;*/ }
    #ConsumerTransactionSummary .list-dates .date-item .date .month {
      font-weight: 800;
      font-size: 17px; }
    #ConsumerTransactionSummary .list-dates .date-item .date .day {
      font-weight: 800; }
  #ConsumerTransactionSummary .timeline-item-dropdown-trigger {
    float: right;
    border-radius: 50%;
    border: solid 1px #ccc9;
    padding: 2px 4px;
    color: #ccc9;
    display: inline-block; }

/*** End Consumer Transaction Summary ***/
#ConsumerEditDetails {
  padding-top: 50px;
  margin: 0; }
  #ConsumerEditDetails .TransactionHeader {
    background-color: white;
    margin-top: -50px;
    padding: 15px 50px !important;
    border-bottom: 2px solid #C34241; }
  #ConsumerEditDetails .TransactionAddress {
    margin-bottom: 0; }
  #ConsumerEditDetails .TransactionHeader small {
    font-size: 13px;
    font-weight: 600;
    text-align: left; }
  #ConsumerEditDetails .DaysOfEscrow {
    color: #4DDCD7; }
  #ConsumerEditDetails .EditButtonOne {
    background-color: #C34241 !important;
    color: white !important;
    border-radius: 8px !important;
    height: 35px;
    width: 40px;
    padding-top: 5px !important; }
    #ConsumerEditDetails .EditButtonOne:hover {
      background-color: white !important;
      border: 1px solid #C44342 !important;
      color: #C44342 !important; }
  #ConsumerEditDetails .EditSettingsHeading {
    display: block;
    padding: 0 8px 5px;
    margin-bottom: 15px; }
  #ConsumerEditDetails .EditSettingsLeftCol {
    background-color: white;
    border-radius: 8px;
    margin-bottom: 20px;
    padding: 20px !important;
    position: relative;
    border: 1px solid #CED4DA; }
    #ConsumerEditDetails .EditSettingsLeftCol img {
      width: 100%;
      min-height: 100px; }
      #ConsumerEditDetails .EditSettingsLeftCol img:hover {
        border: 1px dashed #F0F0F0; }
    #ConsumerEditDetails .EditSettingsLeftCol ul {
      padding-inline-start: 0;
      margin-top: 10px;
      margin-left: 15px; }
      #ConsumerEditDetails .EditSettingsLeftCol ul li {
        list-style-type: none;
        font-size: 13px;
        margin-bottom: 5px;
        padding: 3px 0; }
        #ConsumerEditDetails .EditSettingsLeftCol ul li a {
          text-decoration: none;
          color: #41DDD7;
          font-weight: 500; }
          #ConsumerEditDetails .EditSettingsLeftCol ul li a:hover {
            font-weight: 600; }
  #ConsumerEditDetails .EditButtonTwo {
    position: absolute;
    right: 0;
    bottom: 0;
    margin-right: 10px;
    margin-bottom: 10px;
    background-color: #65DFDB !important;
    color: #51B2AF !important;
    border-radius: 360px !important;
    font-size: 15px !important;
    height: 30px;
    width: 30px;
    padding: 0 !important; }
  #ConsumerEditDetails .EditDetailsBodyContent {
    background-color: white;
    padding-bottom: 50px;
    padding-top: 50px;
    margin-bottom: -50px; }
  #ConsumerEditDetails .EditDetailsBody {
    border-radius: 8px;
    border: 1px solid #CED4DA;
    padding-bottom: 50px; }
  #ConsumerEditDetails .EditHeadingOne {
    color: #CE343E;
    margin: 20px 0;
    padding-left: 35px;
    font-size: 20px;
    font-weight: 500; }
  #ConsumerEditDetails .EditDetailsForm {
    width: 90%;
    margin: 40px auto; }
    #ConsumerEditDetails .EditDetailsForm input {
      height: 45px;
      padding-left: 30px !important; }
    #ConsumerEditDetails .EditDetailsForm label {
      font-size: 16px !important;
      color: #777777; }
  #ConsumerEditDetails .EditDetailsArrowLabel {
    padding-top: 0 !important;
    padding-bottom: 0 !important; }
  #ConsumerEditDetails .InputPropertyAddress {
    background: url("icon-map.png") no-repeat 2%;
    padding-left: 30px !important; }
  #ConsumerEditDetails .EditFormDButton {
    text-align: left !important;
    border: 1px solid #CED4DA !important;
    padding-left: 30px !important;
    height: 45px !important;
    color: black; }
    #ConsumerEditDetails .EditFormDButton i {
      float: right;
      margin-right: -20px;
      color: #21D7D1; }
    #ConsumerEditDetails .EditFormDButton:hover {
      color: black; }
  #ConsumerEditDetails .EditDetailsForm .dropdown-toggle::after {
    color: #21D7D1;
    float: right;
    font-size: 25px;
    margin-top: 10px; }
  #ConsumerEditDetails .EditDetailsForm .dropdown-menu {
    border: 1px solid #CED4DA;
    width: 100%;
    padding: 10px !important; }
    #ConsumerEditDetails .EditDetailsForm .dropdown-menu .dropdown-item {
      margin: 0;
      color: #1C2023 !important;
      padding: 8px 0 8px 20px;
      display: block; }
      #ConsumerEditDetails .EditDetailsForm .dropdown-menu .dropdown-item:hover {
        background-color: #E8FBFA;
        border-radius: 4px;
        color: black; }
  #ConsumerEditDetails .EditDetailsForm .changeControlButtons div:first-child {
    display: flex;
    justify-content: flex-end;
    padding-top: 3px; }
  #ConsumerEditDetails .EditAnchorOne {
    color: #1FCDC7 !important;
    font-weight: 500;
    display: block;
    padding-top: 8px; }
  #ConsumerEditDetails .EditAnchorTwo {
    color: #1FCDC7 !important;
    font-weight: 500; }
  #ConsumerEditDetails .EditButtonThree {
    color: white !important;
    background-color: #CE343E !important;
    font-size: 14px !important;
    padding: 10px; }
  #ConsumerEditDetails .EditDetailsBodyTwo .col-sm-2, #ConsumerEditDetails .EditDetailsBodyTwo .col-sm-6 {
    padding: 0; }
  #ConsumerEditDetails #TransactionDetails .EditDetailsForm input {
    display: block;
    height: 45px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px; }
  #ConsumerEditDetails .EditDropdownStyle .dropdown-toggle::after {
    display: none; }
  #ConsumerEditDetails .EditDropdownStyle i {
    float: right;
    font-size: 20px;
    color: #777777;
    margin-top: 3px; }
  #ConsumerEditDetails .EditYearBuiltDropdown .dropdown-menu {
    max-height: 200px;
    overflow-y: scroll; }
    #ConsumerEditDetails .EditYearBuiltDropdown .dropdown-menu .dropdown-menu .dropdown-item {
      display: block;
      text-decoration: none;
      font-size: 16px;
      padding-left: 20px !important; }
  #ConsumerEditDetails .EditDetailsForm input[type="date"] {
    background: url("date to excrow.png") 97% no-repeat; }
  #ConsumerEditDetails .EditDetailsForm input::-webkit-inner-spin-button {
    display: none; }
  #ConsumerEditDetails .EditDetailsForm input::-webkit-calendar-picker-indicator {
    opacity: 0;
    height: 20px;
    width: 20px; }
  @media screen and (max-width: 400px) {
    #ConsumerEditDetails .EditDetailsForm {
      padding: 0 25px; } }

#ConsumerSearchKeyPeople {
  width: 90%;
  margin: 50px auto 0; }
  #ConsumerSearchKeyPeople * {
    padding: 0;
    margin: 0; }
  #ConsumerSearchKeyPeople .display-4 {
    font-size: 3.5rem;
    font-weight: 300;
    line-height: 1.2; }
  #ConsumerSearchKeyPeople .rounded-0 {
    border-radius: 0 !important; }
  #ConsumerSearchKeyPeople .d-block {
    display: block !important; }
  #ConsumerSearchKeyPeople .KeyPeopleBody {
    max-width: 1000px;
    margin: 50px auto !important;
    padding-bottom: 250px; }
  #ConsumerSearchKeyPeople .KeyPeopleHeading {
    text-align: center !important;
    font-size: 35px !important;
    font-family: 'Mada', sans-serif; }
  #ConsumerSearchKeyPeople .KeyPeopleSearchBox {
    margin-top: 50px;
    width: 100%; }
    #ConsumerSearchKeyPeople .KeyPeopleSearchBox input {
      height: 50px;
      padding-left: 10px;
      border-radius: 0 !important; }
    #ConsumerSearchKeyPeople .KeyPeopleSearchBox button {
      position: absolute;
      top: 6px;
      right: 14px;
      z-index: 3;
      padding: 11px; }
  #ConsumerSearchKeyPeople .KeyPeopleSearchBox input:focus {
    box-shadow: none; }
  #ConsumerSearchKeyPeople .KeyPeopleTableRow td {
    background: white; }
  #ConsumerSearchKeyPeople .KeyPeopleTableRow:hover {
    background-color: #E8FBFA !important; }
  #ConsumerSearchKeyPeople .KeyPeopleTable table {
    border-collapse: unset !important; }
    #ConsumerSearchKeyPeople .KeyPeopleTable table thead {
      display: none; }
    #ConsumerSearchKeyPeople .KeyPeopleTable table tr:hover td {
      background: #E8FBFA; }
    #ConsumerSearchKeyPeople .KeyPeopleTable table td {
      text-align: center;
      border: none !important;
      display: table-cell;
      width: 33%;
      font-size: 17px;
      padding: 20px 0 20px 10%; }
      #ConsumerSearchKeyPeople .KeyPeopleTable table td:first-child {
        text-align: left;
        font-size: 18px; }
  #ConsumerSearchKeyPeople .KeyPeopleRole {
    display: block;
    padding-top: 20px !important; }
  #ConsumerSearchKeyPeople .KeyPeopleEditOptions {
    width: 50px !important;
    padding-top: 20px !important;
    padding-left: 10px !important;
    padding-right: 10px !important; }
  #ConsumerSearchKeyPeople .KeyPeolpeAnchorStyleOne {
    color: #21D7D1 !important; }
  #ConsumerSearchKeyPeople .KeyPeopleAnchorBorder {
    border-left: 1px solid #21D7D1;
    border-right: 1px solid #21D7D1;
    padding-left: 20px;
    padding-right: 20px; }
  #ConsumerSearchKeyPeople .KeyPeopleTableBox {
    border: solid 1px #ccc;
    border-top: none; }
  @media screen and (max-width: 600px) {
    #ConsumerSearchKeyPeople .KeyPeopleTableBox {
      overflow-x: auto; } }

#transactions {
  margin-bottom: 100px; }
  #transactions * {
    margin: 0;
    padding: 0; }
  #transactions .address-div {
    min-height: 50px; }
  #transactions .role-display {
    min-height: 66px; }
  #transactions .NoProperty {
    max-width: 1000px; }
  #transactions .firstRow {
    padding: 20px; }
  #transactions .PropCol {
    padding: 20px;
    max-height: 472px;
    margin-top: 20px; }
  #transactions .PropColStyleOne {
    border: 1px solid #B4B4B4;
    border-radius: 6px;
    margin-bottom: 30px; }
  #transactions .PropHeadingStyleOne {
    font-weight: bold;
    background-color: #126469;
    color: white;
    text-align: center;
    padding: 20px 20px; }
  #transactions .InformationalSegmentsContainer {
    padding: 20px; }
  #transactions .NoProperties {
    padding: 20px; }
    #transactions .NoProperties div:first-child {
      cursor: pointer; }
    #transactions .NoProperties p {
      padding: 20px;
      font-size: 15px; }
    #transactions .NoProperties .AddPropertyLinkContainer {
      padding: 20px; }
  #transactions .PropAnchorStyleOne {
    color: #3DCDCD !important;
    font-weight: 500;
    text-decoration: none !important; }
  #transactions .InformationalSegment {
    padding: 1rem 1.5rem;
    margin-top: .5rem; }
    #transactions .InformationalSegment:first-child {
      margin-top: 40px; }
  #transactions .AgentCard {
    margin-top: 55px;
    height: 463px; }
    #transactions .AgentCard .PropCard {
      height: 100%; }
      #transactions .AgentCard .PropCard .card-body div {
        padding: 20px; }
    #transactions .AgentCard img {
      height: 158px;
      width: 100%; }
  #transactions .PropImageStyleOne {
    float: left;
    margin-right: 30px; }
  #transactions .PropCardImg {
    height: 220px;
    width: 100%; }
  #transactions .add-property-link {
    color: #21D7D1; }
    #transactions .add-property-link:hover {
      text-decoration: underline; }
  #transactions .close-of-escrow-date {
    padding: 7px 20px; }
  #transactions .PropDropdownButton {
    background: white;
    padding: 5px 1.5rem; }
  #transactions .PropDropdownButtonStyleTwo {
    border: 1px solid #D2D2D2 !important;
    color: #21D7D1 !important;
    font-size: 25px !important; }
  #transactions .PropCard {
    border: 1px solid #B4B4B4;
    border-radius: 5px; }
    #transactions .PropCard .dropdown-toggle::after {
      display: none; }
  #transactions .PropListStyleOne li {
    border-left: 1px solid #21D7D1;
    padding: 0 10px; }
  #transactions .PropSpanStyleOne {
    color: #CD6564;
    font-weight: 500; }
  #transactions .PropSpanStyleTwo {
    font-weight: bold;
    font-size: 20px; }
  #transactions .PropSpanStyleThree {
    display: block;
    text-align: center;
    margin: 10px 0; }
  #transactions .actions-div ul {
    display: flex;
    justify-content: center;
    padding: 10px;
    font-size: 17px;
    font-weight: 600; }
    #transactions .actions-div ul li:first-child {
      border: none; }
  @media screen and (max-width: 700px) {
    #transactions .PropCol {
      padding: 0 !important; }
    #transactions .PropCardImg {
      max-height: 180px; } }
  @media screen and (min-width: 768px) and (max-width: 1085px) {
    #transactions .PropCol {
      width: 100%; } }
  #transactions #controls {
    padding-right: 20px;
    padding-left: 20px; }
    #transactions #controls .SearchContainer {
      padding-right: 20px; }
      #transactions #controls .SearchContainer .doc-search-box .input-group input {
        width: 100%;
        padding-left: 10px; }
      #transactions #controls .SearchContainer .search-button-container {
        position: absolute;
        z-index: 3 !important;
        right: 0; }
    #transactions #controls button {
      padding: 10px; }
    #transactions #controls .controls-dropdown {
      border: 1px solid #21D7D1;
      color: black;
      background-color: white;
      margin-right: 100px;
      padding: 0; }
      #transactions #controls .controls-dropdown a {
        color: #000;
        display: block;
        padding: 7px;
        text-align: center;
        border-bottom: solid 1px #21D7D1; }
        #transactions #controls .controls-dropdown a:hover {
          background: #E8FBFA; }
      #transactions #controls .controls-dropdown a:last-child {
        border-bottom: none; }
    #transactions #controls .documentControlButtons {
      height: 35px;
      border: 1px solid #21D7D1;
      color: #21D7D1;
      font-size: 14px;
      margin-bottom: 10px; }
      #transactions #controls .documentControlButtons:hover {
        background-color: #21D7D1;
        color: white; }
    #transactions #controls #CS-sorting-dropdown {
      padding-left: 20px; }
      #transactions #controls #CS-sorting-dropdown .active {
        background-color: #21D7D1;
        color: white; }
      #transactions #controls #CS-sorting-dropdown .dropdown-menu {
        position: absolute;
        top: -1px !important;
        left: unset !important;
        right: -1px !important;
        transform: none !important;
        margin: 0 !important; }
        #transactions #controls #CS-sorting-dropdown .dropdown-menu .dropdown {
          margin-right: 10px !important; }
        #transactions #controls #CS-sorting-dropdown .dropdown-menu div:first-child {
          height: 35px;
          background: #21D7D1;
          display: flex;
          justify-content: flex-end;
          align-items: center;
          padding-right: 10px;
          color: white; }
          #transactions #controls #CS-sorting-dropdown .dropdown-menu div:first-child:hover {
            text-decoration: none; }
      @media screen and (max-width: 768px) {
        #transactions #controls #CS-sorting-dropdown {
          padding-top: 10px;
          padding-left: 0; } }
    #transactions #controls .doc-search-box .input-group {
      width: 100%; }
      #transactions #controls .doc-search-box .input-group input {
        width: 60%;
        height: 38px; }
      #transactions #controls .doc-search-box .input-group .search-button {
        height: 38px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0; }
      #transactions #controls .doc-search-box .input-group .add-doc-button {
        margin-left: 20px; }
    #transactions #controls .red-button {
      background-color: #C44342;
      color: white;
      font-size: 12px;
      height: 38px;
      border-radius: 6px; }
      #transactions #controls .red-button:hover {
        background-color: white;
        border: 1px solid #C44342;
        color: #C44342; }
    #transactions #controls .controls-dropdown {
      border: 1px solid #21D7D1 !important;
      color: black;
      background-color: white;
      margin-right: 100px;
      margin-left: 65%;
      margin-top: 8%; }
      #transactions #controls .controls-dropdown a {
        padding-top: 8px;
        padding-bottom: 8px;
        border-bottom: 1px solid #21D7D1;
        font-size: 12px; }
        #transactions #controls .controls-dropdown a:hover {
          background-color: #E8FBFA; }
  #transactions #tList .v-table__overflow {
    overflow-x: unset !important;
    overflow-y: unset !important; }
  #transactions #tList .tListActions {
    text-align: center; }
    #transactions #tList .tListActions .dropdown-menu {
      right: -14px !important;
      top: -11px !important;
      left: unset !important;
      border: solid 1px #21D7D1;
      padding: 0;
      transform: none !important;
      max-width: 200px; }
      #transactions #tList .tListActions .dropdown-menu div {
        width: 100%;
        border-bottom: 1px solid #21D7D1;
        padding: 5px 5px 5px 20px; }
        #transactions #tList .tListActions .dropdown-menu div:hover {
          text-decoration: none;
          background: #E8FBFA;
          color: black; }
      #transactions #tList .tListActions .dropdown-menu div:first-child {
        height: 47px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding-right: 17px;
        background: #21D7D1; }
        #transactions #tList .tListActions .dropdown-menu div:first-child i {
          padding: 6px;
          color: #e6e6e6;
          border: solid 1px #e6e6e6;
          border-radius: 50%;
          margin-right: -5px; }
      #transactions #tList .tListActions .dropdown-menu div:last-child {
        border: none; }
    #transactions #tList .tListActions .timeline-item-dropdown-trigger {
      position: relative;
      border-radius: 50%;
      border: solid 1px #ccc9;
      padding: 4px 6px;
      display: inline-block; }
      #transactions #tList .tListActions .timeline-item-dropdown-trigger i {
        color: #ccc9; }
  #transactions #tList .container:first-child {
    padding: 20px; }
  #transactions #tList .tListHeader {
    background: #f4f4f4d4;
    border-left: solid 1px #ddd;
    text-align: center; }
    #transactions #tList .tListHeader:first-child {
      border: none; }
  #transactions #tList table {
    margin-top: 30px !important; }
    #transactions #tList table tbody .tListAddress div {
      font-size: 13px;
      font-family: Roboto, sans-serif; }
      #transactions #tList table tbody .tListAddress div:first-child {
        font-size: 17px;
        font-weight: 400;
        text-transform: uppercase; }
    #transactions #tList table tbody .tListClient div {
      font-family: Roboto, sans-serif;
      font-size: 13px; }
      #transactions #tList table tbody .tListClient div:first-child {
        font-size: 17px;
        font-weight: 400;
        text-transform: uppercase; }
    #transactions #tList table tbody td {
      padding-left: 25px;
      border-left: solid 1px #ddd;
      background: rgba(250, 250, 250, 0.92); }
      #transactions #tList table tbody td:first-child {
        border: none; }
      #transactions #tList table tbody td:last-child {
        padding-left: 0; }

.transactions-title {
  font-size: 35px;
  font-family: Roboto, sans-serif;
  font-weight: 200;
  padding: 20px; }

/*** Consumer Dashboard ***/
#ConsumerDashboard * {
  margin: 0;
  padding: 0; }

#ConsumerDashboard .address-div {
  min-height: 50px; }

#ConsumerDashboard .role-display {
  min-height: 66px; }

@media screen and (max-width: 520px) {
  #ConsumerDashboard .image-container {
    display: inline-flex;
    width: 100%;
    justify-content: center; } }

#ConsumerDashboard .recent-transactions-title {
  padding: 20px 20px 0 20px;
  font-size: 30px;
  font-family: Roboto, sans-serif;
  font-weight: 200; }

#ConsumerDashboard .scroll-container {
  height: 505px;
  overflow: hidden;
  position: relative; }
  #ConsumerDashboard .scroll-container .rightArrow {
    right: 15px; }
  #ConsumerDashboard .scroll-container .scroll-arrow {
    position: absolute;
    height: 100%;
    display: flex;
    align-items: center;
    color: #21D7D1;
    font-size: 25px;
    cursor: pointer; }
  #ConsumerDashboard .scroll-container .horizontal-scroll {
    overflow-x: scroll;
    overflow-y: hidden;
    height: 525px;
    white-space: nowrap; }

#ConsumerDashboard .NoProperty {
  max-width: 1000px; }

#ConsumerDashboard .firstRow {
  padding: 20px; }

#ConsumerDashboard .PropCol {
  padding: 20px;
  max-height: 472px;
  margin-top: 20px;
  display: inline-block; }

#ConsumerDashboard .PropColStyleOne {
  border: 1px solid #B4B4B4;
  border-radius: 6px;
  margin-bottom: 30px; }

#ConsumerDashboard .PropHeadingStyleOne {
  font-weight: bold;
  background-color: #126469;
  color: white;
  text-align: center;
  padding: 20px 20px; }

#ConsumerDashboard .InformationalSegmentsContainer {
  padding: 20px; }

#ConsumerDashboard .NoProperties {
  padding: 20px; }
  #ConsumerDashboard .NoProperties div:first-child {
    cursor: pointer; }
  #ConsumerDashboard .NoProperties p {
    padding: 20px;
    font-size: 15px; }
  #ConsumerDashboard .NoProperties .AddPropertyLinkContainer {
    padding: 20px; }

#ConsumerDashboard .PropAnchorStyleOne {
  color: #3DCDCD !important;
  font-weight: 500;
  text-decoration: none !important; }

#ConsumerDashboard .InformationalSegment {
  padding: 1rem 1.5rem;
  margin-top: .5rem; }
  #ConsumerDashboard .InformationalSegment:first-child {
    margin-top: 40px; }

#ConsumerDashboard .AgentCard {
  height: 472px; }
  #ConsumerDashboard .AgentCard .PropCard {
    height: 100%; }
    #ConsumerDashboard .AgentCard .PropCard .card-body div {
      padding: 20px; }
  #ConsumerDashboard .AgentCard img {
    height: 158px;
    width: 100%; }

#ConsumerDashboard .PropImageStyleOne {
  float: left;
  margin-right: 30px; }

#ConsumerDashboard .PropCardImg {
  height: 220px;
  width: 100%; }

#ConsumerDashboard .add-property-link {
  color: #21D7D1; }
  #ConsumerDashboard .add-property-link:hover {
    text-decoration: underline; }

#ConsumerDashboard .close-of-escrow-date {
  padding: 7px 20px; }

#ConsumerDashboard .PropDropdownButton {
  background: white;
  padding: 5px 1.5rem; }

#ConsumerDashboard .PropDropdownButtonStyleTwo {
  border: 1px solid #D2D2D2 !important;
  color: #21D7D1 !important;
  font-size: 25px !important; }

#ConsumerDashboard .PropCard {
  border: 1px solid #B4B4B4;
  border-radius: 5px; }
  #ConsumerDashboard .PropCard .dropdown-toggle::after {
    display: none; }

#ConsumerDashboard .PropListStyleOne li {
  border-left: 1px solid #21D7D1;
  padding: 0 10px; }

#ConsumerDashboard .PropSpanStyleOne {
  color: #CD6564;
  font-weight: 500; }

#ConsumerDashboard .PropSpanStyleTwo {
  font-weight: bold;
  font-size: 20px; }

#ConsumerDashboard .PropSpanStyleThree {
  display: block;
  text-align: center;
  margin: 10px 0; }

#ConsumerDashboard .actions-div ul {
  display: flex;
  justify-content: center;
  padding: 10px;
  font-size: 17px;
  font-weight: 600; }
  #ConsumerDashboard .actions-div ul li:first-child {
    border: none; }

@media screen and (max-width: 700px) {
  #ConsumerDashboard .PropCol {
    padding: 0 !important; }
  #ConsumerDashboard .PropCardImg {
    max-height: 180px; } }

@media screen and (min-width: 768px) and (max-width: 1085px) {
  #ConsumerDashboard .PropCol {
    width: 100%; } }

/*** End Consumer Dashboard ***/
#EmailToolPageContainer {
  background: #f4f4f4;
  padding: 50px;
  justify-content: center; }
  #EmailToolPageContainer #EmailToolPage {
    background-color: white;
    max-width: 1000px;
    padding: 40px 55px 40px 55px; }
    #EmailToolPageContainer #EmailToolPage .EmailToolForm {
      max-width: 800px;
      margin: 0 auto; }
      #EmailToolPageContainer #EmailToolPage .EmailToolForm select {
        color: #9B9E9E; }
      #EmailToolPageContainer #EmailToolPage .EmailToolForm label {
        color: #9B9E9E;
        font-weight: 500;
        font-size: 20px; }
    #EmailToolPageContainer #EmailToolPage .EmailToolDropdown .dropDownIconContainer {
      position: absolute;
      top: 5px;
      right: 20px;
      pointer-events: none; }
    #EmailToolPageContainer #EmailToolPage .EmailToolDropdown .dropdown-toggle::after {
      display: none; }
    #EmailToolPageContainer #EmailToolPage .EmailToolDropdownButton {
      text-align: left !important;
      color: #9B9E9E !important;
      background: url("select-caret.png") 98% 50% no-repeat;
      background-size: 10px 10px;
      border: 1px solid #ccc;
      line-height: 2px;
      padding-left: 10px; }
    #EmailToolPageContainer #EmailToolPage .EmailToolDropdownMenu {
      width: 100%;
      border-top-right-radius: 0;
      border-top-left-radius: 0;
      margin-top: -3px;
      border: solid 1px #ccc;
      border-top: none;
      padding-bottom: 0;
      max-height: 250px;
      overflow-y: scroll;
      z-index: 9999; }
      #EmailToolPageContainer #EmailToolPage .EmailToolDropdownMenu ul {
        list-style: none;
        font-size: 16px;
        padding-left: 5px;
        padding-bottom: 2px; }
        #EmailToolPageContainer #EmailToolPage .EmailToolDropdownMenu ul li:hover {
          color: #21D7D1; }
        #EmailToolPageContainer #EmailToolPage .EmailToolDropdownMenu ul li .personRole {
          font-size: 16px;
          color: #9c9c9c;
          font-style: italic; }
        #EmailToolPageContainer #EmailToolPage .EmailToolDropdownMenu ul li .removeButton {
          color: #c44342;
          font-size: 15px;
          font-style: italic; }
          #EmailToolPageContainer #EmailToolPage .EmailToolDropdownMenu ul li .removeButton:hover {
            text-decoration: underline; }
      #EmailToolPageContainer #EmailToolPage .EmailToolDropdownMenu img {
        margin-left: 25px; }
    #EmailToolPageContainer #EmailToolPage .EmailToolDropdownItem:hover {
      background-color: #E8FBFA !important;
      border-radius: 6px;
      box-shadow: 0 0 4px rgba(0, 0, 0, 0.5); }
    #EmailToolPageContainer #EmailToolPage .EmailToolAnchorStyleOne {
      color: #21D8D2;
      font-size: 12px;
      padding-left: 10px; }
      #EmailToolPageContainer #EmailToolPage .EmailToolAnchorStyleOne:hover {
        text-decoration: none;
        color: #21D8D2; }
    #EmailToolPageContainer #EmailToolPage .EmailToolAnchorStyleTwo {
      color: #404040;
      font-size: 14px; }
      #EmailToolPageContainer #EmailToolPage .EmailToolAnchorStyleTwo:hover {
        color: #21D8D2; }
    #EmailToolPageContainer #EmailToolPage .EmailToolForm textarea {
      font-style: italic;
      color: #9B9E9E; }
    #EmailToolPageContainer #EmailToolPage .EmailToolButtonOne {
      background-color: #C44342;
      border-radius: 6px;
      color: white;
      font-size: 12px;
      border: none;
      width: 100px;
      height: 35px; }
      #EmailToolPageContainer #EmailToolPage .EmailToolButtonOne:hover {
        background-color: white;
        border: 2px solid #C44342;
        color: #C44342;
        font-weight: 500; }
    #EmailToolPageContainer #EmailToolPage #EmailToolCloseStyle {
      color: #21D8D2;
      font-size: 12px; }
  #EmailToolPageContainer .ql-editor {
    min-height: 300px !important; }
  #EmailToolPageContainer .sendEmailButtonContainer {
    width: 100px;
    float: right;
    margin-top: 30px; }
    #EmailToolPageContainer .sendEmailButtonContainer button {
      font-size: 14px;
      padding: 12px 7px 12px 7px;
      font-weight: lighter; }

@media screen and (max-width: 600px) {
  .EmailToolDropdownMenu img {
    max-width: 200px; } }

/*** Consumer Alerts ***/
#ConsumerAlerts .consumer-alerts .row {
  max-width: 1000px;
  margin-left: 20px; }

#ConsumerAlerts .nav {
  float: right; }
  #ConsumerAlerts .nav li {
    display: inline-block; }

#ConsumerAlerts .alert-action-style-one {
  color: #21D7D1;
  padding-left: 10px;
  padding-right: 10px; }
  #ConsumerAlerts .alert-action-style-one:hover {
    color: #21D7D1;
    text-decoration: none; }

#ConsumerAlerts .consumer-alerts ul li:first-child {
  border-right: 1px solid #21D7D1; }

#ConsumerAlerts .consumer-alerts h5 {
  color: #21D7D1;
  font-size: 18px;
  font-weight: 700; }

#ConsumerAlerts .consumer-alerts table tr {
  font-size: 13px;
  height: 50px; }
  #ConsumerAlerts .consumer-alerts table tr:hover {
    background-color: #E6FFFE; }

#ConsumerAlerts .alert-address {
  color: black;
  font-weight: bold;
  text-decoration: none;
  padding-left: 20px; }
  #ConsumerAlerts .alert-address:hover {
    color: black;
    text-decoration: none; }

#ConsumerAlerts .alert-action-style-two {
  padding-left: 0;
  color: #21D7D1;
  font-size: 12px;
  font-weight: 500; }
  #ConsumerAlerts .alert-action-style-two:hover {
    text-decoration: underline;
    color: #21D7D1; }

#ConsumerAlerts .no-border {
  border: none !important; }

#ConsumerAlerts .mark-as-read {
  border-right: 1px solid #21D7D1;
  padding-right: 20px; }
  @media screen and (max-width: 600px) {
    #ConsumerAlerts .mark-as-read {
      padding: 5px 5px 5px 0;
      margin-right: 0; } }

#ConsumerAlerts .notification-date {
  color: #B6B6B6;
  font-size: 12px; }

#ConsumerAlerts .unread-icon {
  color: #21D7D1;
  font-size: 8px;
  margin-right: -10px; }

#ConsumerAlerts table {
  border-spacing: 0; }
  #ConsumerAlerts table tr:hover {
    background-color: #E6FFFE; }
  #ConsumerAlerts table tr td {
    background: white;
    vertical-align: middle;
    border: none;
    border-top: 1px solid #dee2e6; }
  #ConsumerAlerts table tr .alert-description {
    text-align: left;
    padding-left: 40px;
    cursor: pointer; }

@media screen and (max-width: 600px) {
  #ConsumerAlerts .consumer-alerts .row {
    width: auto;
    margin-left: 0;
    margin-right: 0; }
  #ConsumerAlerts .consumer-alerts ul {
    margin-bottom: 10px; }
  #ConsumerAlerts .consumer-alerts h5 {
    margin-left: 10px; }
  #ConsumerAlerts .consumer-alerts .table-box {
    overflow-x: auto; } }

#ConsumerAlerts #agent-view h5 {
  color: black;
  font-family: Roboto, sans-serif;
  font-weight: 200;
  font-size: 28px; }

#ConsumerAlerts #agent-view .visibility-stats {
  font-size: 12px; }

#ConsumerAlerts #agent-view .address-container {
  text-align: left; }
  #ConsumerAlerts #agent-view .address-container .alert-address {
    display: block;
    padding-left: 0;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    text-transform: uppercase; }
  #ConsumerAlerts #agent-view .address-container .alert-city-state-zip {
    display: block;
    font-family: Roboto, sans-serif;
    font-size: 11px;
    color: black; }

#ConsumerAlerts #agent-view .nav {
  padding-top: 30px; }
  #ConsumerAlerts #agent-view .nav a {
    padding: 0 !important; }

#ConsumerAlerts #agent-view .spacer {
  background: #F4F4F4;
  height: 20px;
  border: solid 2px #ccc;
  border-bottom: 0;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px; }

#ConsumerAlerts #agent-view table {
  border: solid 2px #ccc;
  border-radius: 5px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top: solid 1px #cccccc1f; }

#ConsumerAlerts #agent-view .view-more {
  border: solid 2px #ccc;
  width: 90%;
  display: inline-block;
  text-decoration: none;
  padding: 5px;
  border-radius: 5px;
  font-weight: 600; }
  #ConsumerAlerts #agent-view .view-more i {
    border: solid 2px #21D7D1;
    border-radius: 50%;
    padding: 1px 3px; }

/*** End Consumer Alerts ***/
/*** Layout ***/
/*** Consumer Footer ***/
#ConsumerFooter {
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  margin-top: 50px;
  background-color: #343a40;
  color: white;
  font-size: 12px;
  padding-left: 270px; }
  #ConsumerFooter a {
    color: white; }
  #ConsumerFooter .px-5 {
    padding-left: 3rem; }
  #ConsumerFooter .nav {
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none; }
    #ConsumerFooter .nav a {
      font-size: 14px; }
      #ConsumerFooter .nav a:hover {
        color: blue; }
    #ConsumerFooter .nav li a:hover {
      background: none; }
  #ConsumerFooter .row div {
    padding-top: 30px; }
    #ConsumerFooter .row div:nth-child(2) {
      padding-top: 25px; }
    #ConsumerFooter .row div:last-child {
      padding-top: 0; }
  #ConsumerFooter .row .justify-content-end {
    justify-content: flex-end; }
  @media screen and (max-width: 768px) {
    #ConsumerFooter {
      padding-left: 0; } }

/*** End Consumer Footer ***/
/*** Consumer Header ***/
#ConsumerHeader {
  top: 0;
  padding: 0;
  margin: 0;
  position: fixed;
  width: 100%;
  z-index: 1020; }
  #ConsumerHeader .consumer-icon {
    color: #000;
    float: right; }
  #ConsumerHeader .notification-count {
    color: white;
    font-size: 8px;
    text-decoration: none; }
  #ConsumerHeader #notification-count-span {
    top: -1px;
    width: 13px;
    height: 13px;
    background: #C44342;
    border-radius: 50%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0; }
    #ConsumerHeader #notification-count-span sup {
      top: unset !important; }
  #ConsumerHeader .expand-menu-button-container {
    padding: 15px;
    display: none; }
  #ConsumerHeader button {
    background: white;
    border-radius: 5px;
    border: 0;
    border: solid 1px #ccc;
    float: right;
    padding: 0.25rem 0.75rem;
    font-size: 1.25rem;
    line-height: 1; }
  #ConsumerHeader .container-fluid {
    padding-left: 0;
    background: white; }
    #ConsumerHeader .container-fluid .header-row {
      height: 70px; }
    #ConsumerHeader .container-fluid #alertBellContainer {
      height: 60px; }
      #ConsumerHeader .container-fluid #alertBellContainer a {
        height: inherit;
        display: flex;
        justify-content: center;
        align-items: center; }
        #ConsumerHeader .container-fluid #alertBellContainer a .consumer-icon {
          font-size: 30px; }
    #ConsumerHeader .container-fluid .item.alerts {
      display: inline-block; }
    #ConsumerHeader .container-fluid #LogoContainer {
      padding: 5px 5px; }
      @media screen and (max-width: 500px) {
        #ConsumerHeader .container-fluid #LogoContainer img {
          width: 160px; } }
      @media screen and (min-width: 500px) {
        #ConsumerHeader .container-fluid #LogoContainer {
          padding: 0 20px; } }
    #ConsumerHeader .container-fluid .PropDropdownMenuStyleOne {
      top: 7px !important;
      right: 0;
      left: auto !important;
      border: solid 1px #21D7D1;
      padding: 0; }
      #ConsumerHeader .container-fluid .PropDropdownMenuStyleOne a, #ConsumerHeader .container-fluid .PropDropdownMenuStyleOne span {
        width: 100%;
        padding: 5px 5px 5px 15px;
        display: block;
        border-bottom: solid 1px #21D7D1; }
        #ConsumerHeader .container-fluid .PropDropdownMenuStyleOne a:hover, #ConsumerHeader .container-fluid .PropDropdownMenuStyleOne span:hover {
          background: #E8FBFA; }
        #ConsumerHeader .container-fluid .PropDropdownMenuStyleOne a:last-child, #ConsumerHeader .container-fluid .PropDropdownMenuStyleOne span:last-child {
          border: none; }
    #ConsumerHeader .container-fluid #Navbar {
      padding-top: 17px;
      float: right; }
      #ConsumerHeader .container-fluid #Navbar table tr td {
        border-right: solid 1px black;
        padding: 0 10px 0 10px; }
        #ConsumerHeader .container-fluid #Navbar table tr td i {
          border-radius: 50%;
          border: solid 1px black;
          padding: 5px;
          font-size: 15px; }
        #ConsumerHeader .container-fluid #Navbar table tr td a {
          color: #000; }
      #ConsumerHeader .container-fluid #Navbar ul li {
        display: inline-block; }
        #ConsumerHeader .container-fluid #Navbar ul li a {
          color: #000; }
        #ConsumerHeader .container-fluid #Navbar ul li .user-info-drop-down {
          min-width: 200px;
          right: 0;
          left: auto; }
          #ConsumerHeader .container-fluid #Navbar ul li .user-info-drop-down ul {
            padding: inherit; }
            #ConsumerHeader .container-fluid #Navbar ul li .user-info-drop-down ul li {
              display: block; }
  @media screen and (max-width: 767px) {
    #ConsumerHeader .expand-menu-button-container {
      display: block; } }
  @media screen and (max-width: 767px) {
    #ConsumerHeader #Navbar {
      width: 100%; }
      #ConsumerHeader #Navbar div:first-child {
        display: flex;
        justify-content: center; } }

/*** End Consumer Header ***/
/*** Consumer Left Nav ***/
#LeftNav {
  overflow-y: scroll;
  max-height: 500px; }
  #LeftNav .navbar-collapse {
    padding: 0; }
  #LeftNav .sub-item {
    padding-inline-start: 0; }
  #LeftNav .address-list-trigger {
    font-size: 13px;
    border: 1px solid white;
    border-radius: 360px;
    width: 20px;
    height: 20px;
    padding-top: 3px;
    text-align: center;
    margin-right: 9px; }
  #LeftNav .sidebar {
    margin: 0;
    padding: 0;
    width: 250px;
    background-color: #343a40;
    position: fixed;
    height: 100%;
    overflow: auto; }
    #LeftNav .sidebar button {
      background-color: #343A40;
      color: #8C9194;
      width: 100%;
      height: 40px;
      margin: 0 auto;
      border-radius: 0;
      border: 0; }
    #LeftNav .sidebar a {
      display: block;
      color: #8C9194 !important;
      font-size: 12px;
      background-color: #404B51;
      border-bottom: 1px solid #343A40;
      padding: 11px 23px;
      text-decoration: none; }
    #LeftNav .sidebar .sub-item a {
      font-size: 11px;
      background-color: #343A40;
      border-bottom: none;
      padding: 5px 10px 5px 65px; }
      #LeftNav .sidebar .sub-item a:hover {
        background-color: #404B51;
        color: #8C9194; }
    #LeftNav .sidebar ul li {
      width: 100%; }
      #LeftNav .sidebar ul li img {
        height: 17px;
        width: 20px;
        margin-right: 10px;
        margin-top: -5px; }
  #LeftNav .navbar-toggler {
    display: none; }
  @media screen and (max-width: 768px) {
    #LeftNav .navbar-toggler {
      display: block; }
    #LeftNav .sidebar {
      width: auto;
      position: relative; } }
  @media screen and (max-width: 518px) {
    #LeftNav .sidebar {
      width: auto;
      position: relative; } }

/*** End Consumer Left Nav ***/
#TransactionBanner .text-muted {
  color: #adadad !important; }

#TransactionBanner #linksContainer {
  margin-top: 25px; }
  #TransactionBanner #linksContainer div {
    margin-left: 5px;
    display: flex;
    justify-content: space-between; }
    #TransactionBanner #linksContainer div a {
      display: inline-block; }
      #TransactionBanner #linksContainer div a:hover {
        color: #21D7D1 !important; }

/*** Account ***/
#Subscription { }
  #Subscription #pageHeader {
    font-family: Roboto, sans-serif;
    font-weight: 200;
    margin-bottom: 20px; }
  #Subscription .t-column {
    height: 550px;
    margin-bottom: 30px;
    position: relative;
    padding: 25px;
    margin-right: 30px;
    border-radius: 5px; }
  #Subscription .h-price {
    font-size: 50px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    color: #403f3f; }
  #Subscription .h-type {
    color: #00bdb6;
    font-size: 20px;
    letter-spacing: 3px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif; }
  #Subscription .h-per {
    font-size: 9px;
    padding-bottom: 30px;
    margin-top: -10px; }
  #Subscription .h-spans {
    display: block; }
  #Subscription .features-heading {
    background: #747171;
    padding: 10px;
    text-align: center;
    color: white;
    font-size: 17px;
    font-family: Raleway, sans-serif;
    font-weight: 500;
    margin: -25px;
    margin-bottom: 7px;
    margin-top: 15px; }
  #Subscription .features-container {
    font-family: 'Montserrat', sans-serif;
    padding: 15px 0;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    color: #747171; }
    #Subscription .features-container ul {
      list-style: none;
      padding-inline-start: 0; }
      #Subscription .features-container ul li {
        padding: 3px; }
  #Subscription .btn-container {
    position: absolute;
    bottom: 15px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto; }
  #Subscription button {
    border-radius: 0;
    white-space: nowrap;
    font-size: 12px;
    padding: 5px;
    border: none !important; }
    #Subscription button.btn-teal {
      background: #01bfb8 !important; }
  #Subscription .col-sm-3 {
    width: 27%; }

/*** Consumer Profile ***/
#ConsumerProfile {
  width: 90%; }
  #ConsumerProfile .profile-body {
    max-width: 1000px !important;
    min-height: 500px;
    padding: 0 20px;
    width: 100%;
    margin-top: 50px; }
  #ConsumerProfile .account-profile-pic, #ConsumerProfile .account-settings {
    background-color: white;
    border-radius: 8px;
    min-height: 250px;
    margin-bottom: 20px;
    padding: 1rem; }
  #ConsumerProfile .account-profile-pic img {
    min-height: 180px;
    width: 100%; }
    #ConsumerProfile .account-profile-pic img:hover {
      border: 1px dashed #F0F0F0; }
  #ConsumerProfile .account-settings {
    height: 380px; }
    #ConsumerProfile .account-settings ul {
      margin-top: 10px;
      margin-left: 15px;
      padding-inline-start: 0; }
      #ConsumerProfile .account-settings ul li {
        list-style-type: none;
        font-size: 13px;
        margin-bottom: 5px; }
        #ConsumerProfile .account-settings ul li a {
          text-align: left;
          text-decoration: none;
          color: #41DDD7;
          font-weight: 500; }
          #ConsumerProfile .account-settings ul li a:hover {
            font-weight: 600; }
  #ConsumerProfile .account-details-body {
    background-color: white;
    border-radius: 8px;
    min-height: 660px; }
    #ConsumerProfile .account-details-body h5 {
      color: #CE343E;
      padding-top: 1.5rem;
      margin-left: 1.5rem;
      margin-bottom: 1.5rem;
      font-size: 20px;
      font-weight: 500; }
    #ConsumerProfile .account-details-body form {
      padding: 20px; }
      #ConsumerProfile .account-details-body form label {
        color: #AAADB0;
        font-size: 14px;
        margin-bottom: 5px; }
      #ConsumerProfile .account-details-body form input::placeholder {
        color: black; }
    #ConsumerProfile .account-details-body a {
      margin-top: 25px;
      color: #41DDD7;
      font-weight: 400;
      font-size: 15px; }
      #ConsumerProfile .account-details-body a:hover {
        color: #41DDD7; }
  #ConsumerProfile #profile-save-button {
    background-color: #CE343E;
    color: white;
    border-radius: 6px;
    font-size: 14px;
    margin-top: 80px;
    padding: 10px;
    float: right; }
  @media screen and (max-width: 600px) {
    #ConsumerProfile .account-settings {
      height: 100px; } }

/*** End Consumer Profile ***/
/*** Tooltips ***/
.tooltip {
  display: block !important;
  z-index: 10000; }
  .tooltip .tooltip-inner {
    background: black;
    color: white;
    border-radius: 16px;
    padding: 5px 10px 4px; }
  .tooltip .tooltip-arrow {
    width: 0;
    height: 0;
    border-style: solid;
    position: absolute;
    margin: 5px;
    border-color: black;
    z-index: 1; }
  .tooltip[x-placement^="top"] {
    margin-bottom: 5px; }
    .tooltip[x-placement^="top"] .tooltip-arrow {
      border-width: 5px 5px 0 5px;
      border-left-color: transparent !important;
      border-right-color: transparent !important;
      border-bottom-color: transparent !important;
      bottom: -5px;
      left: calc(50% - 5px);
      margin-top: 0;
      margin-bottom: 0; }
  .tooltip[x-placement^="bottom"] {
    margin-top: 5px; }
    .tooltip[x-placement^="bottom"] .tooltip-arrow {
      border-width: 0 5px 5px 5px;
      border-left-color: transparent !important;
      border-right-color: transparent !important;
      border-top-color: transparent !important;
      top: -5px;
      left: calc(50% - 5px);
      margin-top: 0;
      margin-bottom: 0; }
  .tooltip[x-placement^="right"] {
    margin-left: 5px; }
    .tooltip[x-placement^="right"] .tooltip-arrow {
      border-width: 5px 5px 5px 0;
      border-left-color: transparent !important;
      border-top-color: transparent !important;
      border-bottom-color: transparent !important;
      left: -5px;
      top: calc(50% - 5px);
      margin-left: 0;
      margin-right: 0; }
  .tooltip[x-placement^="left"] {
    margin-right: 5px; }
    .tooltip[x-placement^="left"] .tooltip-arrow {
      border-width: 5px 0 5px 5px;
      border-top-color: transparent !important;
      border-right-color: transparent !important;
      border-bottom-color: transparent !important;
      right: -5px;
      top: calc(50% - 5px);
      margin-left: 0;
      margin-right: 0; }
  .tooltip.popover .popover-inner {
    background: #f9f9f9;
    color: black;
    padding: 24px;
    border-radius: 5px;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.1); }
  .tooltip.popover .popover-arrow {
    border-color: #f9f9f9; }
  .tooltip[aria-hidden='true'] {
    visibility: hidden;
    opacity: 0;
    transition: opacity .15s, visibility .15s; }
  .tooltip[aria-hidden='false'] {
    visibility: visible;
    opacity: 1;
    transition: opacity .15s; }

.dashboard-email {
  overflow-wrap: break-word; }

/*** Questionnaires ***/
#ConsumerKeyPeople { }
  #ConsumerKeyPeople .progress {
    display: none; }
  @media screen and (min-width: 950px) {
    #ConsumerKeyPeople {
      min-width: 650px; } }
  #ConsumerKeyPeople .questionnaire-title {
    font-family: 'Mada', sans-serif;
    text-align: center;
    font-size: 35px; }
  #ConsumerKeyPeople form label {
    margin-left: 0; }
  #ConsumerKeyPeople .consumer-row {
    padding: 30px 0 30px 30px; }
  #ConsumerKeyPeople .cancel {
    max-width: 800px;
    margin: 0 auto;
    margin-top: -40px; }
    #ConsumerKeyPeople .cancel a {
      text-decoration: none;
      text-align: right;
      display: block;
      color: #353535; }
      #ConsumerKeyPeople .cancel a:hover {
        text-decoration: underline; }
  #ConsumerKeyPeople .p1 {
    font-size: 35px;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 0; }
  #ConsumerKeyPeople .key-people-button-style {
    margin-top: 30px;
    margin-bottom: 60px; }
    #ConsumerKeyPeople .key-people-button-style a {
      text-decoration: none !important; }
  #ConsumerKeyPeople .search {
    height: 50px;
    border-radius: 0;
    background-color: white;
    border: 1px solid #B5B6B7;
    margin-bottom: 20px;
    margin-left: 155px;
    padding: 8px 50px;
    margin-right: 28px;
    float: right;
    max-width: 608px; }
    #ConsumerKeyPeople .search .input-group {
      width: 100%; }
      #ConsumerKeyPeople .search .input-group input {
        height: 30px;
        background-color: white;
        color: #ABABAB;
        font-weight: 500;
        border: 1px solid #D7D7D7;
        border-radius: 5px;
        width: 80%;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0; }
        #ConsumerKeyPeople .search .input-group input::placeholder {
          padding-left: 50px;
          font-size: 13px; }
      #ConsumerKeyPeople .search .input-group button {
        background-color: #D12E2E;
        border: 1px solid #D7D7D7;
        color: #F9EBEB;
        font-size: 13px;
        height: 30px;
        border-top-left-radius: 0;
        padding: 8px 10px 5px 10px;
        border-bottom-left-radius: 0; }
        #ConsumerKeyPeople .search .input-group button img {
          height: 80px; }
        #ConsumerKeyPeople .search .input-group button:hover {
          background-color: #D5EEF0;
          border-radius: 6px; }
  #ConsumerKeyPeople label {
    padding: 0;
    height: 30px;
    font-size: 12px;
    text-align: right;
    padding-top: 4px; }
    #ConsumerKeyPeople label span {
      color: #D12E2E;
      margin-left: 3px; }
  #ConsumerKeyPeople input {
    height: 30px;
    border-radius: 0;
    background-color: #F4F4F4;
    border: 1px solid #B5B6B7;
    margin-bottom: 20px;
    margin-bottom: 0px; }
  @media screen and (max-width: 600px) {
    #ConsumerKeyPeople .cancel {
      padding: 0 20px; }
    #ConsumerKeyPeople .p1 {
      margin-top: 20px;
      font-size: 30px;
      font-weight: 400; }
    #ConsumerKeyPeople label {
      text-align: left;
      padding-left: 20px; }
    #ConsumerKeyPeople input {
      margin-bottom: 10px; }
    #ConsumerKeyPeople .search {
      margin-left: 20px;
      margin-right: 20px;
      width: 100%;
      height: auto;
      margin-top: 20px;
      padding: 5px; }
      #ConsumerKeyPeople .search input::placeholder {
        padding-left: 10px; } }

/*** Other ***/
/*** Consumer Style.scss ***/
.consumer-style-edits {
  padding-left: 250px; }

@media screen and (max-width: 768px) {
  .consumer-style-edits {
    padding-left: 0; } }

/*** End Consumer Style ***/
.modal-backdrop {
  pointer-events: none !important;
  opacity: 0 !important; }

#header {
  z-index: 1; }

.float-right {
  float: right; }

.float-left {
  float: left; }

.controls-dropdown {
  border: 1px solid #21D7D1;
  color: black;
  background-color: white;
  margin-right: 100px;
  padding: 0; }
  .controls-dropdown a {
    color: #000;
    display: block;
    padding: 2px 20px !important;
    text-align: left;
    border-bottom: solid 1px #21D7D1; }
    .controls-dropdown a:hover {
      background: #E8FBFA; }
  .controls-dropdown a:last-child {
    border-bottom: none; }

.fade {
  transition: opacity 0.15s linear; }
  .fade:not(.show) {
    opacity: 0; }

@media (prefers-reduced-motion: reduce) {
  .fade {
    transition: none; } }

.modal.fade .modal-dialog {
  transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
  -webkit-transform: translate(0, -50px);
  transform: translate(0, -50px); }

.modal.show .modal-dialog {
  -webkit-transform: none;
  transform: none; }

@media (prefers-reduced-motion: reduce) {
  .modal.fade .modal-dialog {
    transition: none; } }

.modal3a-1 .form-control[readonly] {
  background: white; }

.modal3a-1 .swal2-header {
  height: 0 !important; }

.modal3a-1 #closeButton {
  position: absolute;
  width: 50px;
  height: 50px;
  background: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -10px;
  right: -10px;
  z-index: 1;
  border: solid 1px #21D7D1;
  font-size: 30px;
  font-weight: lighter; }

.modal3a-1 .EditModalButton {
  float: right;
  height: 45px;
  border-radius: 6px;
  background-color: #CCCCCC !important;
  color: #494949 !important;
  margin-top: 15px;
  padding: 10px 15px;
  margin-bottom: 20px; }

.modal3a-1 .EditModalHeader {
  background-color: #21D7D1;
  color: white;
  padding-left: 60px !important; }
  .modal3a-1 .EditModalHeader h5 {
    padding: 15px 10px 15px;
    color: white; }

.modal3a-1 .dropdown-menu {
  border: 1px solid #CED4DA;
  width: 100%;
  padding: 10px !important; }

.modal3a-1 .dropdown-item {
  margin: 0;
  color: #1C2023 !important;
  padding-top: 8px;
  padding-bottom: 8px; }
  .modal3a-1 .dropdown-item:hover {
    background-color: #E8FBFA;
    border-radius: 4px;
    color: black; }

.modal3a-1 input {
  height: 45px;
  margin-top: 15px;
  padding-left: 30px; }

.modal3a-1 .modal-content {
  border: 2px solid #21D7D1; }

.modal3a-1 form {
  width: 80%;
  margin: 20px auto; }

.modal3a-1 .dropdown-toggle::after {
  float: right;
  margin-top: 10px;
  font-size: 18px !important;
  color: #21D7D1; }

.overflow-break-word {
  overflow-wrap: break-word; }

.clamp {
  overflow: hidden;
  text-overflow: ellipsis; }

.shadow {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important; }

/**
.fa-check:before in app.css is causing issues with FormAPI/DocSpring.
This is a temporary fix, CSS needs a complete overhaul.
**/
.fa-check:before {
  content: unset !important; }

.vue-spinner-container {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  background: white !important; }
