body {
  font-family: Helvetica, sans-serif;
}

.notification {
  position: relative;
  display: flex;
	justify-content: center;
  align-items: center;
  cursor: pointer;
}

.notification:active {
  -webkit-transform: translateY(2px);
  transform: translateY(2px);
}

.read-notification{
  opacity: .5;
}

.notification i {
  padding: 8px;
}

.notification p {
  font-size: 15px;
}

.teal {
  color: #00C3B9;
}

.red {
  color: #c94543;
}

.notification .container {
  position: absolute;
  top: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  max-height: 270px;
  background: #F8F8F8;
  overflow-x: auto;
  padding: 2px 0px;
  margin-top: 9px;
  z-index: 1;
  border: 1px solid #c8c8c8;
}

.notification .box_red, .notification .box_teal {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50px 351px;
  grid-template-columns: 50px 351px;
  -ms-grid-rows: 21px 30px;
  grid-template-rows: 21px 30px;
  border: 1px solid #00C3B9;
  margin: 0.8px;
}

 .notification .box_red:hover,.notification .box_teal:hover {
  background-color: #999999;
  cursor: pointer;
}

.notification .box_red {
  border: 1px solid #c94543;
}

.notification .box_teal {
  border: 1px solid #00C3B9;
}

.notification .type {
  -ms-grid-row: 1;
  grid-row-start: 1;
  grid-row-end: 3;
  margin: auto;
}

.notification .type i {
  padding: 5px;
}

.notification .address p {
  font-size: 12px;
  margin: auto;
  padding-right: 5px;
  text-align: justify;
  font-weight: bold;
  padding-top: 5px;
}

.notification .description p {
  font-size: 12px;
  margin: auto;
  padding-right: 5px;
  text-align: justify;
  padding-bottom: 5px;
}

@media screen and (max-width: 470px) {
  .notification .box_red {
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
    -ms-grid-columns: auto auto;
    grid-template-columns: auto auto;
  }
  .notification .box_teal {
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
    -ms-grid-columns: auto auto;
    grid-template-columns: auto auto;
  }
}

@media screen and (max-width: 528px) {
  .notification .container{
    width: 70%;
    max-width: 70%;
  }
}

@media screen and (min-width: 529px) and (max-width: 991px) {
  .notification .container{
    width: 90%;
    max-width: 427px;
  }
}

@media screen and (min-width: 992px) {
  .notification .container{
    width: 900%;
    max-width: 900%;
  }
}
  /*# sourceMappingURL=main.css.map */