body{
    background-color: #F9F9F9;
}
.content-style-test-test{
    width: 100%;
    float: left;
}
.add-new-transaction-title h1{
    font-size: 21px;
    margin-top: 30px;
    line-height: 22px;
    color: rgb(0,0,0);
}
.div-address-search{
    text-align: center;
    margin-top: 50px;
}
.div-address-search .location-icon{
    width: 16px;
    height: 24px;
    float: left;
    margin-right: 1px;
}
.div-address-search .address-search{
    font-size: 20px;
    line-height: 22px;
    color: rgb(184,184,184);
    font-weight: 300;
    float: left;
}
.div-address-search .address-search{
    border:0;
    background-color: #F9F9F9;
    width: 90%;
    font-weight: 100;
    padding: 3px 5px;

}
.div-address-search .address-search:focus{
    outline: none;
    border-bottom: 1px solid #01BEB8;
}
.two-by-two,.two-by-two-white{
    margin-top: 40px;
    overflow: hidden;
}
.two-by-two div .red,.two-by-two div .blue,.two-by-two-white div .white{
    height: 309px;
    border-radius: 6px;
    position: relative;
    box-shadow: 0 0 4px rgba(0,0,0,0.07);
    text-align: center;
    display: table;
    /* cursor: pointer; */
}
.two-by-two div .blue{
    background-image: linear-gradient(0deg, #17d8d1 0%, #01bdb7 100%);
}
.two-by-two div .red,.one-by-one div .red{
    background-image: linear-gradient(0deg, #cd6563 0%, #cb4949 100%);
}
.two-by-two-white div .white{
background-image: linear-gradient(0deg, #FFFFFF 0%, #FFFFFF 100%);
}
.two-by-two div .red-blue-2,.two-by-two-white div .white{
    margin-top: 10px;
}
.two-by-two div .red-blue-2 .img,.two-by-two-white div .white .img{
    background-image: url('../images/Layer 6.png');
    height: 231px;
    width: 144px;
    left: 50%;
    transform: translate(-50%,0);
    top: 50%;
    position: absolute;
    top:  20px;
}
.two-by-two div .red-blue-2 .transaction-placeholder,.one-by-one div .red-blue-4 .transaction-placeholder,
.one-by-one-white div .white .transaction-placeholder{
    vertical-align: middle;
    display: table-cell;
}
.two-by-two div .red-blue-2 .transaction-placeholder h4,.one-by-one div .red-blue-4 .transaction-placeholder h4{
    font-size: 18px;
    color: rgb(255,255,255);
    font-weight: bold;
    text-align: center;
    margin-bottom: -13px;
}
.two-by-two div .red-blue-2 .transaction-placeholder h2{
    color: rgb(255,255,255);
    font-weight: 100;
    font-family: "Montserrat";
}
/* ########################## four by four */
.one-by-one div .red{
    height: 156px;
    border-radius: 6px;
    box-shadow: 0 0 4px rgba(0,0,0,0.07);
    text-align: center;
    display: table;
    cursor: pointer;
}
.one-by-one div .blue{
    height: 156px;
    border-radius: 6px;
    box-shadow: 0 0 4px rgba(0,0,0,0.07);
    background-image: linear-gradient(0deg, #17d8d1 0%, #01bdb7 100%);
    text-align: center;
    display: table;
    cursor: pointer;
}
.one-by-one div .red-blue-4{
    margin-top: 20px;
}
.one-by-one div .red-blue-4 .img{
    background-image: url('../images/Layer 3 copy 2.png');
    height: 131px;
    width: 82px;
    left: 50%;
    transform: translate(-50%,0);
    top: 50%;
    position: absolute;
    top:  20px;
}
.one-by-one div .red-blue-4 .transaction-placeholder h2{
    color: rgb(255,255,255);
    font-size: 20px;
    font-weight: 100;
    font-family: "Montserrat";
}
/* ######################### one-by-one-while */

.one-by-one-white div .white{
    height: 156px;
    border-radius: 6px;
    box-shadow: 0 0 4px rgba(0,0,0,0.07);
    background-color: white;
    text-align: center;
    display: table;
    margin-top: 20px;
    cursor: pointer;
}

.one-by-one-white div .white .img{
    background-image: url('../images/Layer 3 copy 2.png');
    height: 131px;
    width: 82px;
    left: 50%;
    transform: translate(-50%,0);
    top: 50%;
    position: absolute;
    top:  20px;
}
.one-by-one-white div .white .transaction-placeholder h4{
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin-bottom: -13px;
}

/* .container-test{
    width: 1040px;
    margin-left: 70px;
} */

/* @media(min-width:1200)  {
    .container-left{
    width: 1100px;
    margin-left: 70px;
    }
} */
.footer{
    margin: 70px 0 20px 0;
}
.footer .left,.footer .right{
    float: left;
}
.footer .img{
    background-image: url('../images/logo.png');
    height: 32px;
    width: 21px;
    margin-right: 10px;
}

.footer .right .copy p{
    font-size: 11px;
    line-height: 22px;
    color: rgb(113,113,113);
    font-weight: bold;
}
.footer .right .links{
    margin-top: -23px;
}
.footer .right .links a{
    font-size: 11px;
    line-height: 22px;
    color: rgb(113,113,113);
    font-weight: bold;
    margin-right: 5px;
}
/* ############################################### step2 edit transaction */
.two-by-two-white div .white {
    padding-left: 30px;
}
.two-by-two-white div .white .transaction-details .info{
    margin-top: 25px;
    overflow: hidden;
}

.two-by-two-white div .white .transaction-details .info .purchase-price span,
.two-by-two-white div .white .transaction-details .info .contract-date  span,
.two-by-two-white div .white .property-details .info .data  span

{
    font-size: 12px;
    line-height: 26px;
    color: rgb(3,192,185);
    font-weight: bold; 
    font-family: "Open Sans";
}
.two-by-two-white div .white .transaction-details .info .purchase-price h1{
    font-size: 30px;
    line-height: 26px;
    color: rgb(0,0,0);
    font-family: "open sans";
    font-weight: 300;
}
.two-by-two-white div .white .transaction-details .info .contract-date  h6,
.two-by-two-white div .white .property-details .info .data  h6
{
    font-size: 14px;
    line-height: 50px;
    color: rgb(0,0,0);
    font-family: "open sans";
    font-weight: 900;
    margin-top: -20px;
}
.two-by-two-white div .white .property-details .info .address  h6{
    line-height: 20px;
    margin-top: 5px;
}
.two-by-two-white div .white .transaction-details .info a,
.two-by-two-white div .white .property-details .info a
{
    font-size: 14px;
    color: rgb(205,101,100);
    font-family: "open sans";
    font-weight: bold;
    text-align: center;
    position: absolute;
    left: 40px;
    bottom: 5px;
}
.two-by-two-white div .white .property-details .info .data:nth-child(4) h6:nth-child(2){
    margin-top: -38px;
}
.two-by-two-white div .white .property-details .info .data:nth-child(4) h6:nth-child(1){
    margin-top: -5px;
}
/* ################################## .one-by-one in the show data */

.one-by-one div .red-blue-4 .transaction-info h3{
    font-size: 18px;
    color: rgb(255,255,255);
    font-family: "Open Sans";
    text-align: left;
}
.one-by-one-white div .white .transaction-info h3{
    font-size: 14px;
    margin-bottom: 17px;
    color: rgb(0,0,0);
    font-family: "Open Sans";
}
.one-by-one div .red-blue-4 .transaction-info h4{
    font-size: 16px;
    line-height: 23px;
    color: rgb(255,255,255);
    font-family: "Open Sans";
}
.one-by-one-white div .white .transaction-info h4{
    font-size: 14px;
    color: rgb(0,0,0);
    font-family: "Open Sans";
}
.one-by-one div .red-blue-4 .transaction-info .hrefs a{
    font-size: 12px;
    color: rgb(255,255,255);
    font-family: "Open Sans";
    font-weight: bold;
    text-align: center;
}
.one-by-one div .red-blue-4 .transaction-info .hrefs .info{
    position: absolute;
    right: 15px;
    bottom: 20px;
}
.one-by-one div .red-blue-4 .transaction-info .hrefs .view{
    position: absolute;
    left: 15px;
    bottom: 20px;
}
.one-by-one-white div .white .transaction-info .hrefs .info{
    position: absolute;
    right: 15px;
    bottom: 20px;
}
.one-by-one-white div .white .transaction-info .hrefs .view{
    position: absolute;
    left: 15px;
    bottom: 20px;
}
.one-by-one-white div .white .transaction-info .hrefs a{
    font-size: 12px;
    color: rgb(203,79,78);
    font-family: "Open Sans";
    font-weight: bold;
    text-align: center;
}
.one-by-one-white div .white .coordinator h4{
    margin: 3px 0;
    font-size: 12px;
    margin-left: 4px;
}
.one-by-one-white div .white .coordinator h3{
    margin-bottom: 10px;
}
.no-cursur{
    cursor: default !important;
}