@media screen{
	#keypeople{
		.kp-content-area{
			.kp-list-wrapper{
				.kp-list-heading{
					color: #263238;
					font-size: 1.2em;
					font-weight: 700;
					text-transform: uppercase;
					border-bottom:2px solid #d6d6d6;
					padding-bottom: 10px;
					margin-bottom: 30px;
					margin-top:0;
				}
				.kp-list{
					margin: 0;
					padding: 0;
					list-style-type: none;
					font-size: 1.2em;
					li{
						line-height: 1.4em;
					    border-left: 4px solid #CB4544;
					    padding: 10px 0;
					    margin-bottom: 15px;
					    padding-left: 30px;
					    font-weight: 300;
					}
				}
			}
			.kp-ctrls{
				text-align: right;
				a{
					padding: 9px 30px 7px;
					text-transform: uppercase;
					margin-left: 10px;
					font-weight: 700;
				    border-radius: 7px;
				}
			}
			.table{
				border-collapse: collapse;
				font-size: 1em;
				&.bordered{
				    
					td{
					    border: 1px solid #d6d6d6;

					}
				}
				th{
					border: none;
					color: #263238;
					font-size: 1.2em;
					font-weight: 700;
					text-transform: uppercase;
					vertical-align: middle;

				}
				td{
					border:none;
					&.text-left{
						text-align: left;
					}
					&.text-right{
						text-align: right;
					}
					&.text-center{
						text-align: center;
					}
				}
				tbody{
					tr{
						&:hover{
							td, th{
								background: #eaeaea;
								-webkit-transition: all 0.7s ease;
								-moz-transition: all 0.7s ease;
								-ms-transition: all 0.7s ease;
								-o-transition: all 0.7s ease;
								transition: all 0.7s ease;
							}
						}
					}
				}
				thead{
					th.table-head{
						border-bottom:2px solid #d6d6d6;

					}
				}
			}
			@media (min-width: 992px){
				padding: 0 80px;


			}
		}
		.kp-tabs{
			.nav-tabs{
				display: none;
				@media (min-width: 992px){
					display: block;
					padding: 30px 60px 0;
					border-bottom: 1px solid #7F7F7F;
					margin-bottom: 40px;
					& > li{
						padding-right: 25px;
						&:first-child{}
					}
					a{
						background: transparent;
						color: #7F7F7F;
						border:none;
						bottom: none;
						border-radius: 0;
						border-bottom: 3px solid transparent;
						text-transform: uppercase;
						font-size: 1.4em;
						font-weight: 700;
						padding: 10px 20px;
						&:hover{
							color: #CB4544;
						}
					}
					.active{
						a{
							border: none;
							color: #CB4544;
							border-bottom: 4px solid #CB4544;
						}
					}
				}
			}
			.nav-select-wrapper{
				padding: 30px 0;
				position: relative;
				&:after{
					content: "\f078";
					font-family: 'Font Awesome 5 Free';
					font-weight: 900;
					position: absolute;
					top: 50%;
					font-size: 18px;
					margin-top: -12px;
					right: 15px;
					pointer-events: none;
					z-index: 2;
				}
				select{
					width: 100%;
					padding: 10px;
					color: #7F7F7F;
					border: 1px solid #7F7F7F;
					appearance:none;
					position: relative;
					z-index: 1;
				}
				@media (min-width: 992px){
					display: none;
				}
			}
		}
		.kp-heading{
			padding: 70px 30px 40px;
			color: $white;
			margin: -70px -30px 0;
			background: #CB4544;
			@media (min-width: 992px){
				margin-top: -80px;
				padding-top: 40px;
			}
			.kp-head-address{
				margin-top: 0;
				font-size: 1.8em;
				font-weight: 300;
				border-bottom: 1px solid $white;
				line-height: 1em;
				padding-bottom: 10px;
				margin-bottom: 15px;

				@media (min-width: 992px){
					font-size: 2.500em;
					padding: 0 80px 10px;
				}
			}
			.kp-head-content{
				& > .left{
					margin-bottom: 20px;
				}
				.kp-head-name{
					font-size: 1.2em;
					font-weight: 400;
				}
				.kp-head-escrow{
					text-transform: uppercase;
					font-size: 1em;
					font-weight: 300;
				}
				@media (min-width: 992px){
					padding: 0 80px 50px;
					& > .left{
						margin-bottom: 0;
						float: left;
					}
					& > .right{
						float: right;
						padding-top: 10px;
					}
					.kp-head-name{
						font-size: 1.4em;
					}
					.kp-head-escrow{
						font-size: 1.2em;
					}
				}
			}
		}
	}
	
}