<template>
    <div class="Q mb-0">
        <center>
            <p class="display-1">{{title}}</p>
            <form class="mt-2 BuyerSellerAgentInfo" v-if="display">
                <div class="row">
                    <div class="form-group col-md-6">
                        <input
                                v-model="NameFirst"
                                type="text"
                                name="BuyersTC_NameFirst"
                                placeholder="FIRST NAME"
                                class="AnswerChoice"
                        >
                        <input
                                v-model="NameFirst"
                                type="hidden"
                                name="SellersTC_NameFirst"
                                class="AnswerChoice"
                        >
                    </div>
                    <div class="form-group col-md-6">
                        <input
                                v-model="NameLast"
                                type="text"
                                name="BuyersTC_NameLast"
                                id="NameLast"
                                placeholder="LAST NAME"
                                class="AnswerChoice"
                        >
                        <input
                                v-model="NameLast"
                                type="hidden"
                                name="SellersTC_NameLast"
                                class="AnswerChoice"
                        >
                    </div>
                    <div class="form-group col-md-6">
                        <input
                                v-model="Email"
                                type="text"
                                name="BuyersTC_Email"
                                id="Email"
                                placeholder="EMAIL ADDRESS"
                                class="AnswerChoice"
                        >
                        <input
                                v-model="Email"
                                type="hidden"
                                name="SellersTC_Email"
                                class="AnswerChoice"
                        >
                    </div>
                    <div class="form-group col-md-6">
                        <input
                                v-model="Phone"
                                type="text"
                                name="BuyersTC_Phone"
                                v-mask="'(###)-###-####'"
                                maxlength="14"
                                placeholder="PHONE #"
                                class="AnswerChoice"
                        >
                        <input
                                v-model="Phone"
                                type="hidden"
                                name="SellersTC_Phone"
                                v-mask="'(###)-###-####'"
                                maxlength="14"
                                class="AnswerChoice"
                        >
                    </div>
                    <input
                            class="AnswerChoice"
                            type="hidden"
                            v-model="ID"
                            id="ID"
                            name="BuyersTC_ID"
                    >
                    <input
                            class="AnswerChoice"
                            type="hidden"
                            v-model="UUID"
                            id="UUID"
                            name="BuyersTC_UUID"
                    >
                    <input
                            class="AnswerChoice"
                            type="hidden"
                            v-model="Users_ID"
                            id="Users_ID"
                            name="BuyersTC_Users_ID"
                    >
                    <input
                            class="AnswerChoice"
                            type="hidden"
                            v-model="ID"
                            name="SellersTC_ID"
                    >
                    <input
                            class="AnswerChoice"
                            type="hidden"
                            v-model="UUID"
                            name="SellersTC_UUID"
                    >
                    <input
                            class="AnswerChoice"
                            type="hidden"
                            v-model="Users_ID"
                            name="SellersTC_Users_ID"
                    >
                </div>
            </form>
        </center>
    </div>
</template>

<script>
    import {has} from 'lodash';
    export default {
        name: "DualTCInformation",
        components: {
            has
        },
        props: {
            friendlyIndex: {
                type: String,
                default: null,
            },
            answerChoices:{
                type: Array,
                default: () => []
            },
            currentAnswers: {
                type: Object,
                default: () => {},
            },
            prefix: {
                type: String,
                default: '',
            },
            token: {
                type: String,
                default: '',
            },
            allAnswersByFriendlyIndex: {
                type: Object,
                default: () => {},
            }
        },
        computed: {
            allRequired(){
                return this.NameFirst+this.NameLast+this.Email+this.Phone;
            }
        },
        watch: {
            allRequired: {
                handler(val){
                    this.checkRequired();
                }
            },
            Phone: {
                handler(val){
                    let msg = 'Please enter a valid phone number.';
                    if (val.length < 14 && val)
                        this.errors.push(msg);
                    else this.errors = removeFromArray(this.errors, msg);
                    if (!val) this.checkRequired();
                }
            },
            Email: {
                handler(val){
                    let msg = 'Please enter a valid email address.';
                    if ((val.indexOf('@') === -1 || val.indexOf('.') === -1) && val)
                        this.errors.push(msg);
                    else this.errors = removeFromArray(this.errors, msg);
                },
            },
            errors: {
                handler(val){
                    val = uniqueValueArray(val);
                    this.$root.$emit('__addErrors', val);
                },
                deep: true,
            }
        },
        methods: {
            displayCategories(){
                $('.categories').show();
            },
            hideCategories(){
                $('.categories').hide();
            },
            checkRequired(){
                let fname_msg   = 'First name is required.';
                let lname_msg   = 'Last name is required.';
                let p_msg       = 'A phone number is required.';
                let e_msg       = 'Email address is required.';
                if (this.NameFirst === '') this.errors.push(fname_msg);
                else this.errors = removeFromArray(this.errors, fname_msg);
                if (this.NameLast === '') this.errors.push(lname_msg);
                else this.errors = removeFromArray(this.errors, lname_msg);
                if (this.Phone === '') this.errors.push(p_msg);
                else this.errors = removeFromArray(this.errors, p_msg);
                if (this.Email === '') this.errors.push(e_msg);
                else this.errors = removeFromArray(this.errors, e_msg);
            },
        },
        data(){
            return {
                userData: this.$store.getters.getUserData(),
                tcs: [],
                answers: {},
                NameFirst: '',
                NameLast: '',
                Email: '',
                Phone: '',
                BrokerageOffice: '',
                BrokerageOfficeID: '',
                UUID: '',
                Users_ID: '',
                ID: '',
                cancelSource: null,
                searchText: '',
                errorMessages: {},
                errors: [],
                title: 'Please confirm your information.',
                display: false,
            }
        },
        mounted() {
            let all_ans = this.allAnswersByFriendlyIndex;
            let stc_userID = all_ans['SellersTC_Users_ID'];
            let btc_userID = all_ans['BuyersTC_Users_ID'];
            let bs = stc_userID == btc_userID;
            if (bs && this.userData.userID == btc_userID)
            {
                this.NameFirst          = all_ans['BuyersTC_NameFirst']            || '';
                this.NameLast           = all_ans['BuyersTC_NameLast']             || '';
                this.Email              = all_ans['BuyersTC_Email']                || '';
                this.Phone              = all_ans['BuyersTC_Phone']                || '';
                this.ID                 = all_ans['BuyersTC_ID']                   || '';
                this.UUID               = all_ans['BuyersTC_UUID']                 || '';
                this.Users_ID           = all_ans['BuyersTC_Users_ID']             || '';
                this.checkRequired();
                this.display = true;
            }
            else this.$root.$emit('next');

            this.errorMessages['BuyersTC_NameFirst'] = {required: 'First name is required.'};
            this.errorMessages['BuyersTC_NameLast'] = {required: 'Last name is required.'};
            this.errorMessages['BuyersTC_Email'] = {required: 'Email address is required.'};
            this.errorMessages['BuyersTC_Phone'] = {required: 'A phone number is required.'};

            this.$parent.$emit('setErrorMessages', this.errorMessages);
        }
    }
</script>

<style scoped>

</style>