<template>
    <div>
        <center>
            <question-title :title="title"></question-title>
            <a class="ButtonStyleOne">
                <button
                        v-on:click="chooseSide('b')"
                        :class="{'btn light-blue-background': radioValue == 'b',
                        'btn': radioValue != 'b'}"
                >
                    <img :src="getHostUrl() + 'images/questionnaires/buyer.png'">
                    <br>
                    <span class="ButtonStyleOneText">Buyer</span>
                </button>
                <button
                        v-on:click="chooseSide('s')"
                        :class="{'btn light-blue-background': radioValue == 's',
                        'btn': radioValue != 's'}"
                >
                    <img :src="getHostUrl() + 'images/questionnaires/seller.png'">
                    <br>
                    <span class="ButtonStyleOneText">Seller</span>
                </button>
                <input
                        type="hidden"
                        name="TransactionSide"
                        v-model="radioValue"
                        class="AnswerChoice"
                >
                <button
                        v-on:click="chooseSide('bs')"
                        :class="{'btn light-blue-background': radioValue == 'bs',
                        'btn': radioValue != 'bs'}"
                >
                    <img :src="getHostUrl() + 'images/questionnaires/escrowtitle.png'">
                    <br>
                    <span class="ButtonStyleOneText">Both</span>
                </button>
                <input
                        type="hidden"
                        name="TransactionSide"
                        v-model="radioValue"
                        class="AnswerChoice"
                >
                <div v-for="tc in types">
                    <input :value="userData.roleID" type="hidden" class="AnswerChoice" :name="tc+'_ID'">
                    <input v-model="NameFirst" type="hidden" class="AnswerChoice" :name="tc+'_NameFirst'">
                    <input v-model="NameLast" type="hidden" class="AnswerChoice" :name="tc+'_NameLast'">
                    <input v-model="Email" type="hidden" class="AnswerChoice" :name="tc+'_Email'">
                    <input v-model="Phone" type="hidden" class="AnswerChoice" :name="tc+'_Phone'">
                    <input v-model="UUID" type="hidden" class="AnswerChoice" :name="tc+'_UUID'">
                    <input v-model="Users_ID" type="hidden" class="AnswerChoice" :name="tc+'_Users_ID'">
                </div>
                <div v-for="tc in removeTypes">
                    <input value="" type="hidden" class="AnswerChoice" :name="tc+'_ID'">
                    <input value="" type="hidden" class="AnswerChoice" :name="tc+'_NameFirst'">
                    <input value="" type="hidden" class="AnswerChoice" :name="tc+'_NameLast'">
                    <input value="" type="hidden" class="AnswerChoice" :name="tc+'_Email'">
                    <input value="" type="hidden" class="AnswerChoice" :name="tc+'_Phone'">
                    <input value="" type="hidden" class="AnswerChoice" :name="tc+'_UUID'">
                    <input value="" type="hidden" class="AnswerChoice" :name="tc+'_Users_ID'">
                </div>
            </a>
        </center>
    </div>
</template>

<script>
    import QuestionTitle from "../../../QuestionTitle";
    export default {
        name: "TCCT_TransactionSide",
        components: {
            QuestionTitle
        },
        props: {
            friendlyIndex: {
                type: String,
                default: null,
            },
            answerChoices:{
                type: Array,
                default: () => []
            },
            currentAnswers: {
                type: Object,
                default: () => {},
            },
            allData: {
                type: Object,
                default: () => {},
            },
        },
        watch: {
            radioValue: {
                handler(val, oldVal){
                    if (val) this.$parent.processAutoAdvance();
                }
            }
        },
        data(){
            return{
                title: 'What side of the transaction are you on?',
                radioValue: this.currentAnswers['TransactionSide'].Answer || '',
                types: [],
                removeTypes: [],
                isBuyer: 0,
                agentTypeOpposite: '',
                NameFirst: '',
                NameLast: '',
                Email: '',
                Phone: '',
                License: '',
                UUID: '',
                Users_ID: '',
                userData: this.$store.getters.getUserData(),
                errorMessages: {
                    TransactionSide: {
                        required: 'Please select a side to continue.',
                    }
                }
            }
        },
        methods: {
            getHostUrl()
            {
                return getHostURL();
            },
            fetchData(){
                genericLoading('Preparing...');
                axios.post(route('getAuxData').url(), {
                    ID: this.userData.roleID,
                    _model: '\\App\\Models\\TransactionCoordinator'
                }).then((r) => {
                    console.log({
                        fetchDataResponse: r,
                    });
                    if (Swal2.isVisible()) Swal2.close();
                    if (r.data.status == 'success')
                    {
                        if (r.data.data.length > 0)
                        {
                            let tc          = r.data.data[0];
                            this.NameFirst  = tc.NameFirst;
                            this.NameLast   = tc.NameLast;
                            this.Phone      = tc.PrimaryPhone;
                            this.Email      = tc.Email;
                            this.UUID       = tc.UUID;
                            this.Users_ID   = tc.Users_ID;
                        }
                    }
                });
            },
            chooseSide(side, fromMounted = false){
                this.types = [];
                if (this.radioValue == side && !fromMounted)
                {
                    side = '';
                    this.radioValue = side;
                }
                if (side)
                {
                    this.types = [];
                    this.removeTypes = [];
                    switch (side)
                    {
                        case 'b':
                            this.types.push('BuyersTC');
                            this.removeTypes.push('SellersTC');
                            break;
                        case 's':
                            this.types.push('SellersTC');
                            this.removeTypes.push('BuyersTC');
                            break;
                        case 'bs':
                            this.types.push('BuyersTC');
                            this.types.push('SellersTC');
                            break;
                    }
                    this.radioValue = side;
                }
            },
        },
        mounted() {
            this.chooseSide(this.radioValue, true);
            this.fetchData();
            this.$parent.$emit('setErrorMessages', this.errorMessages);
        }
    }
</script>

<style scoped>

</style>