.main-banner img{
    max-height: 300px;
    min-height: 150px;
    width: 100%;
}

.our_mission{
    background-color: #F8F8F8;
    padding: 50px 0px;
}

.our_mission h2{
    color: grey;
}

.our_mission mark{
    font-weight: bold;
    background-color: #F8F8F8;
}

.our_mission p{
    color: grey;
}

.news{
    background-color: #CE343E;
    height: 270px;
}

.news h2{
    color: white;
    text-align: center;
    margin-top: 30px;
}

.news .col-sm-4{
    background-color: white;
    border-radius: 4px;
    max-width: 300px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 20px;
    padding: 30px;
}

.news img{
    width: 25px;
    height: 50px;
    margin-bottom: 20px;
}

.news a{
    color: #CE343E;
}

.news a:hover{
    color: #CE343E;
}

.team_about {
    background-image: url("../../images/prelogin/background2.png");
    padding-top: 120px;
    padding-bottom: 50px;
    height: 600px;
}

.team_about .col-sm-3{
    margin-bottom: 30px;
}

.team_about h2{
    text-align: center;
    margin-bottom: 30px;
}

.team_about img{
    max-width: 150px;
    max-height: 150px;
    margin-bottom: 20px;
}

.team_about h4{
    font-weight: bold;
}

.team_about p{
    font-size: 13px;
    color: grey;
}

.team_about a{
    font-size: 13px;
    color: #CE343E;
}

.team_about a:hover{
    color: #CE343E;
}

.team_about .contact{
    margin-top: 120px;
}

.team_about .contact img{
    width: 60px;
    height: 60px;
    float: left;
    margin-right: 10px;
    clear: both;
}

.team_about .contact p{
    color: grey;
    font-size: 15px;
}

.team_about .contact mark{
    background-color: rgba(0,0,0,0);
    color: #CE343E;
}


.app{
    background-image: url("../../images/prelogin/banner.png");
    background-size: cover;
    height: 700px;

}

.app .content{
    margin-top: 150px;
    border-left: 3px solid white;
    padding-left: 25px;
}

.app h2{
    color: white;
    font-weight: 100px;
}

.app h1{
    color: white;
    font-weight: bold;
    font-size: 65px;
}

.app .content2{
    padding-left: 28px;
    margin-top: 50px;
}

.app .content2 p{
    color: lightgrey;
    font-size: 13px;
}

.app .content2 button{
    border:none;
    margin-right: 10px;
    margin-top: 20px;
    height: 35px;
    width: 150px;
    padding: 0px;
}

.news {
    height: auto;
    padding: 40px 0px;
}

.team_about{
    height: auto;
}

@media screen and (max-width: 700px) {
    .navbar_prelogin ul {
        float: left;
        margin-left: 30px;
    }


    .app{
        height: auto;
        padding-bottom: 50px;
    }
}

@media screen and (max-width: 767px) {
    .press-release{
        margin: auto !important;
        margin-bottom: 20px !important;
    }
}