.banner{

    background-image: url('../../images/prelogin/background.png');
    padding-top: 70px;
    padding-bottom: 70px;
}

.banner h2{
    color: white;
    font-size: 22px;
}
.banner button{
    background-color: #CE343E;
    border:1px solid white;
    color: white;
    font-size: 10px;
    height: 40px;
    width: 150px;
    margin-top: 10px;
    float: right;
}



.banner button:hover{
    background-color: white;
    color: #CE343E;
    border: 1px solid #CE343E;
}

.packages{
    background-color: white;
    padding: 50px 0 50px 0;
    margin: 0 auto;
}

.packages .col-sm-6{
    padding: 30px;
    height: 250px;
    width: 300px;
    margin-right: 15px;
    margin-left: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 30px;
    border-radius: 8px;
}

.packages img{
    max-height: 60px;
    max-width: 90px;
    margin-bottom: 15px;
}

.packages h4{
    color: #CE343E;
}

.packages .btn1{
    background-color: white;
    border: 1px solid #CE343E;
    color: #CE343E;
    height: 40px;
    width: 150px;
    font-size: 12px;
    border-radius: 3px;
    margin-top: 15px;
}

.packages .btn1:hover{
    background-color: #CE343E;
    color: white;
}

.packages input{
    height: 40px;
    border-radius: 6px;
    border: 1px solid lightgrey;
    color: #000000;
    padding-left: 15px;
    width: 150px;
    font-size: 10px;
}

.packages #submit{
    background-color: #CE343E;
    color: white;
    height: 40px;
    width: 90px;
    margin-left: -8px;
    font-size: 10px;
    border: none;
    border-radius: 6px;
}

.packages #submit:hover{
    background-color: white;
    color: #CE343E;
    border: 1px solid lightgrey;
}

.get-coupon-code{
    margin-top: 10px;
}

.map{
    background-image: url('../../images/prelogin/map.png');
    background-size: cover;
    background-repeat: no-repeat;
    padding: 30px 50px;
}

.map h3{
    color: #CE343E;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 40px;
}

.map p{
    font-size: 11px;
}

.agent_services .col-sm-6{
    margin-bottom: 30px;
}

.agent_services img{
    width: 90px;
    height: 90px;
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 90px;
}

.agent_services h3{
    font-weight: bold;
    margin-bottom: 30px;
    font-size: 22px;
}
.agent_services p {
    font-size: 14px;
}
.team{
    background-color: #CE343E;
    padding: 30px;
}

.team .col-sm-4{
    margin-bottom: 30px;
}

.team h3{
    color: white;
    margin-bottom: 30px;
}

.team h4{
    color: white;
    font-weight: bold;
}

.team p{
    color: white;
    font-size: 12px;
}

.team img{
    width: 200px;
    height: 200px;
    margin: 20px;
}

#the-little-special-div{
    position: absolute;
    width: 95%;
    height: 94%;
}

.coupon-container{
    margin-top: 10%;
    padding: 7%;
}

.why-use-section p{
    font-size: 15px;
}

@media screen and (max-width: 700px) {
    .navbar ul {
        float: left;
        margin-left: 30px;
    }
    .banner {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .banner button{
        float: left;
    }
    .packages .col-sm-4{
        margin-left: 30px;
    }
}

@media screen and (max-width: 767px) {
    .packages-outer-div{
        margin: auto !important;
        margin-bottom: 30px !important;
    }
}