#banner_thin_centered_text{
	background-image: url("../../images/prelogin/background.png");
	background-size: cover;	
	padding: 40px 0;
}

#banner_thin_centered_text h2{
	text-align: center;
	color: white;
	font-weight: bold;
}

#main{
	background-color: #F5F7F8;
	padding: 10px 0px;
}

#main p{
	text-align: center;
	font-weight: bold;
	font-size: 13px;
	margin: 40px 0px;
}

#main .row{
	padding: 10px 0px 30px;
}

#main .col-sm-4{
	background-color: white;
	border-radius: 4px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	width: 280px;
	padding: 60px 25px 30px;
	margin-bottom: 30px;
}

#main #col-2{
	margin-left: 60px;
	margin-right: 60px;
}

#main .row p{
	margin: 30px 0px 25px;
	font-size: 12px;
}

#main a{
	color: #CE343E;
	font-size: 12px;
	font-weight: bold;
}

#main a:hover{
	color: #CE343E;
}

#main .row2{
	max-width: 620px;
	margin: 0 auto;
}

#main .col-sm-6{
	background-color: white;
	border-radius: 4px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	width: 280px;
	padding: 60px 25px 30px;
	margin-bottom: 30px;
}

#main .row2 .col1{
	margin-right: 30px;
}

#main .row2 .col2{
	margin-left: 30px;
}

#brands{
	background-color: #999999;
	padding: 50px 20px;
}

#brands img{
	float: left;
	height: 40px;
	width: 180px;
	margin-right: 30px;
	margin-bottom: 30px;
}

@media screen and (max-width: 780px) {
  .navbar ul {
    float: left;
    margin-left: 30px;
  }
  #main .row{
  	padding: 10px 0px;
  }
  #main .col-sm-4{
  	width: auto;
  	margin: 20px;
  }
  #main #col-2{
  	margin: 20px;
  }

  #main .row2 .col-sm-6{
  	width: auto;
  	margin: 20px;
  }

}