.btn-black{
    font-size: 14px;
    background-color: black !important;
    color: white;
    font-weight: 600;
}

.btn-teal {
    font-size: 14px;
    background-color: #4DC0B5 !important;
    color: white;
    font-weight: 600;
}