*{
	padding: 0;
	margin: 0;
}

.disclosures-banner{
	padding: 20px 0px;
}

.disclosures-banner .row{
	padding: 0px 10px;
}

.disclosures-banner-button{
	font-size: 16px !important;
	width: auto !important;
	margin-top: 0 !important;
	float: right !important;
	padding: 8px 15px;
}

.disclosures-main-banner{
	padding: 30px 0px;
}

.disclosures-main-banner h3{
	font-size: 1.7em; 
	font-weight: bold;
	color: #CD343F;
}

.disclosures-main-banner a{
	text-decoration: none !important;
}

.disclosures-main-banner-button{
	border: 1px solid #CD343F !important;
	color: #CD343F !important;
	border-radius: 4px !important;
	width: 170px;
	font-size: 14px !important;
	background-color: #F1FFF4 !important;
	margin-left: 20px;
	margin-bottom: 15px !important;
}

.disclosures-main-banner-button:hover{
	border: 1px solid #F1FFF4 !important;
	background-color: #CD343F !important;
	color: #F1FFF4 !important;
}

.disclosures-agent_services .col-lg-6{
	margin-bottom: 10px;
}

.disclosures-agent_services img{
	max-width:  100px !important;
	max-height:  100px !important;
}

.disclosures-agent_services h3{
	font-size: 18px;
}

.disclosures-agent_services p{
	font-size: 13px !important;
}

.disclosures-anchor-style-one{
	color: #22D7D2 !important;
	font-weight: 700 !important;
}

.additional-disclosures .row{
	border-radius: 15px;
	box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.5);
	padding: 15px;
}

.additional-disclosures ul{
	list-style: none;
}

.additional-disclosures ul li::before{
	content: "\2022";
	margin-right: 8px;
	font-weight: bold;
	font-size: 20px;
	line-height: 20px;
	color: #22D7D2 !important;
}

.additional-disclosures li{
	font-size: 11px;
}

.disclosures-packages{
	padding: 15px;
	margin: 0px auto;
}

.disclosures-packages .col-sm-4{
	margin-bottom: 30px;
}

.disclosures-outer-package-div{
	box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.2);
	border-radius: 8px;
	padding: 15px;
}

.disclosures-inner-package-div{
	position: relative;
}

.disclosures-outer-package-div img{
	position: absolute;
	right: 0;
	bottom: 0;
}

.disclosures-packages h5{
	font-weight: 700;
}

.disclosures-packages p{
	margin: 25px 0px 35px;
	font-size: 12px !important;
}

.disclosures-packages-button{
	background-color: white !important;
	color: #CD343F !important;
	border: 1px solid #CD343F !important;
	font-size: 13px !important;
	padding: 8px 20px;
}

footer h4{
	text-transform: uppercase;
	margin-bottom: 30px;
}






