ul , li {
    margin: 0;
    padding: 0;
}

.shadow {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

.request_beta_submit_button{
    padding: 10px;
}

.mobile__register-button{
    display: block;
}
.mobile__register-button button{
    border: solid 1px white !important;
}
.mobile__register-button:hover{
    text-decoration: none !important;
}

.navbar_prelogin{
    min-height: 50px;
}

.white-text{
    color: white;
}

.navbar_prelogin .collapse_btn{
    margin-top: 15px;
    border:1px solid #CE343E;
}
.navbar_prelogin .collapse_btn span{
    background-color: #CE343E;
}
.navbar_prelogin img{
    margin-top: 10px;
    height: 30px;
    width: 150px;
}

.navbar_prelogin ul{
    margin-top: 20px;
    float: right;
}

.navbar_prelogin ul li a{
    color: #CE343E;
    font-size: 14px
}
.navbar_prelogin #btn1{
    background-color: white;
    border: 1px solid #CE343E;
    color: #CE343E;
    height: 30px;
    width: 100px;
    font-size: 12px;
    border-radius: 3px;
    margin-top: 10px;
}

.navbar_prelogin #btn1:hover{
    background-color: #CE343E;
    color: white;
}

.navbar_prelogin #btn2{
    background-color: #CE343E;
    border: 1px solid #CE343E;
    color: white;
    height: 30px;
    width: 100px;
    font-size: 12px;
    border-radius: 3px;
    margin-top: 10px;
}

.navbar_prelogin #btn2:hover{
    background-color: white;
    color: #CE343E;
    border: 1px solid #CE343E;
}

.dropdown-menu{
    background-color: #eee;
    border: none;
    border-radius: 0;
    padding: 0;
    box-shadow: none;
}

.dropdown-menu ul{
    list-style: none;
    min-width: 220px;
    margin-top: 0;
}

.dropdown-menu ul li{
    width: 140%;
    min-height: 40px;
    padding: 10px;
    background-color: #eee;
    border-top: 1px solid #f6f6f6;
}

.dropdown-menu ul li:first-child{
    border-top: none;
}

.dropdown-menu ul li:hover{
    background-color: #f6f6f6;
}

.dropdown-menu ul li a{
    display: inline-block;
    width: 100%;
    padding-left: 5px;
}

.dropdown-menu ul li a:hover{
    text-decoration: none;
}

.dropdown-menu ul li table{
    table-layout: fixed;
}

.dropdown-menu ul li table tr td:first-child{
    margin-left: 10px;
    min-width: 30px;
}

.dropdown-menu ul li table td{
    display: inline-block;
}

.link-text{
    font-weight: 600;
}

.underneath-link-text{
    color: #000;
    font-size: 95%;
    font-weight: 500;
}

.dropdown-link-image{
    margin-top: -5px !important;
}

.services .row-content{
    padding: 0 5px 0 5px;
}

.services img{
    margin: auto;
}

.services .row-content h4{
    text-align: center;
}

#banner{
    background-image: url("../../images/prelogin/background.png");
    background-size: cover;
    min-height: 400px;
    padding: 70px 20px 30px;
}

#banner .col-sm-6{
    margin-bottom: 30px;
}

#banner h2, #banner h3{
    color: white;
    margin-bottom: 60px;
    font-weight: bold;
    line-height: 40px;
}

#banner p{
    color: white;
    font-size: 11px;
}

#banner input{
    height: 40px;
    color: #000;
    border-radius: 6px;
    border: 1px solid lightgrey;
    padding-left: 15px;
    width: 270px;

}

#banner #submit{
    background-color: #CE343E;
    color: white;
    height: 40px;
    letter-spacing: 1.5px;
    margin-left: -8px;
    border: 1px solid white;
    border-radius: 6px;
}

#banner #submit:hover{
    background-color: white;
    color: #CE343E;
    border: 1px solid #CE343E;
}

@media screen and (max-width: 700px) {
    #banner input{
        width: 180px;
    }
}

div#welcome.services{
    padding: 30px 20px;
}

div#welcome.services .col-sm-3{
    padding-left: 15px;
    padding-right: 15px;
}
div#welcome.services img{
    height: 80px;
    width: 80px;
    margin-bottom: 30px;
}

div#welcome.services h4{
    font-weight: bold;
}

.mobile-view {
    display: none !important;
}

.mobile-trigger {
    cursor: pointer;
    display: block;
    margin: 0 0 0 auto;
    padding: 0;
    width: 40px;
}

.mobile-trigger.active > span:nth-child(2) {
    -webkit-transform: translate(15px, 0);
    transform: translate(15px, 0);
}

.mobile-trigger > span {
    background-color: #cb4544;
    border-radius: 5px;
    display: block;
    height: 5px;
    margin: 5px 0;
    width: 25px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.mobile-trigger > span:first-child {
    background-color: #333333;
    width: 40px;
}

.mobile-trigger > span:last-child {
    background-color: #333333;
    width: 40px;
}
#sidepanel {
    background: url("../../images/prelogin/background.png");
    position: fixed;
    top: 71px;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    padding: 20px 0 100px;
    overflow-x: auto;
    opacity: 0;
    visibility: hidden;
    z-index: 8;
    -webkit-transform: translate(-50px, 0);
    transform: translate(-50px, 0);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#sidepanel.active {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
}

#sidepanel .phone-link {
    padding: 15px 15px;
    -webkit-box-shadow: inset 0px -2px 36px 0px rgba(255, 255, 255, 0.1);
    box-shadow: inset 0px -2px 36px 0px rgba(255, 255, 255, 0.1);
}

#sidepanel .phone-link a {
    background-image: url(../images/icons/icon-phone-wht.png);
    background-position: center left;
    background-repeat: no-repeat;
    color: #fff;
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    line-height: 27px;
    padding-left: 34px;
}

#sidepanel .phone-link a:hover, #sidepanel .phone-link a:focus, #sidepanel .phone-link a:active {
    color: #fff;
}

#sidepanel .mobile-menu {
    padding: 0;
    margin: 0 0;
    list-style: none;
}

#sidepanel .mobile-menu .menu-item {
    position: relative;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

#sidepanel .mobile-menu .menu-item.styled-link a {
    color: #cb4544;
    text-decoration: underline;
    font-weight: bold;
    font-size: 20px;
}

#sidepanel .mobile-menu .menu-item.current-menu-ancestor > a, #sidepanel .mobile-menu .menu-item.current-menu-item > a {
    color: #fff;
    padding-left: 25px;
    background-color: rgba(51, 51, 51, 0.5);
}

#sidepanel .mobile-menu .menu-item.current-menu-ancestor > a:before, #sidepanel .mobile-menu .menu-item.current-menu-item > a:before {
    content: '';
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #fff;
    display: inline-block;
    position: absolute;
    left: 15px;
    top: 15px;
}

#sidepanel .mobile-menu .menu-item a {
    font-size: 17px;
    padding: 5px 15px;
    display: block;
    width: 100%;
    font-weight: 300;
    -webkit-box-shadow: inset 0px -2px 36px 0px rgba(255, 255, 255, 0.1);
    box-shadow: inset 0px -2px 36px 0px rgba(255, 255, 255, 0.1);
}

#sidepanel .mobile-menu .menu-item a:hover, #sidepanel .mobile-menu .menu-item a:focus, #sidepanel .mobile-menu .menu-item a:active {
    background-color: rgba(51, 51, 51, 0.5);
}

#sidepanel .mobile-menu .menu-item > .sub-menu {
    display: none;
    position: relative;
    padding: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    list-style: none;
}

#sidepanel .mobile-menu .menu-item > .sub-menu > .menu-item a {
    padding: 5px 30px;
}

#sidepanel .mobile-menu .menu-item > .sub-menu > .menu-item > .sub-menu > .menu-item a {
    padding-left: 45px;
}

#sidepanel .mobile-menu .menu-item .toggle-menu {
    cursor: pointer;
}

#sidepanel .mobile-menu .menu-item .toggle-menu.close, #sidepanel .mobile-menu .menu-item .toggle-menu.open {
    font-size: 14px;
}

#sidepanel .mobile-menu .menu-item .toggle-menu.close:after, #sidepanel .mobile-menu .menu-item .toggle-menu.open:after {
    content: "\F067";
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
    display: inline-block;
    font-size: inherit;
    height: 35px;
    line-height: 35px;
    position: absolute;
    right: 0;
    text-align: center;
    text-rendering: auto;
    top: 0;
    width: 35px;
    z-index: 9;
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#sidepanel .mobile-menu .menu-item .toggle-menu.close:after {
    content: "\F068";
}

#sidepanel .mobile-menu .menu-item .toggle-menu.open:after {
    content: "\F067";
}

#sidepanel .btn-wrap {
    border-top: 3px solid #d2d2d2;
    padding: 15px;
}

#sidepanel .btn-wrap p {
    margin-bottom: 5px;
}

#sidepanel .sidebar-link{
    color: white;
}

.nav1 .navbar-nav{
    min-width: 520px;
}

.styled-link{
    color: #cb4544;;
}

@media (min-width: 1200px) {
    #sidepanel.active {
        opacity: 0;
        visibility: hidden;
        -webkit-transform: translate(50px, 0);
        transform: translate(50px, 0);
    }
}

.brands{
    padding: 30px;
}

footer{
    background-color: black;
    min-height: 300px;
    padding: 50px;
}
footer .col-sm-3, footer .col-sm-2{
    margin-bottom: 30px;
}
footer h4{
    color: #DDDDDD;
    font-size: 17px;
    font-weight: bold;
}
footer a{
    color: #DDDDDD;
    font-size: 14px;
}
footer a:hover{
    text-decoration: none;
}

footer .cnt{
    border-left:1px solid #323232;
    padding-left: 30px;
}

footer #social{
    color: white;
    font-size: 15px;
    width:40px;
    height: 40px;
    background-color: rgba(0,0,0,0);
    border: 1px solid #323232;
    border-radius: 360px;
    margin-right: 7px;
}

@media screen and (max-width: 440px){
    #banner #submit{
        margin-left: 0;
        border-radius: 6px;
    }
}

@media screen and (max-width: 700px) {
    .navbar_prelogin ul {
        float: left;
        margin-left: 30px;
    }
}

@media screen and (max-width: 767px) {
    .mobile-view{
        display: inline-block !important;
    }

    .dropdown-menu ul li{
        width: 100%;
        padding: 5px;
    }
    .sidebar-link:hover{
        background-color: transparent !important;
    }
    .sidebar-link a:hover{
        background-color: transparent; !important;
    }

    .navbar-nav li.open{
        background: #eee;
    }

    .navbar-nav li.open > .sidebar-link{
        color: #CE343E !important;
        font-weight: bold;
    }
}