/* RESPONSIVE CSS  */
@media only screen and (max-width: 325px) and (min-width: 0){
	
.rg_hd .rg2 a::after {background-size: 19px auto;	right: -5px;	top: 93px;}
}

@media only screen and (max-width: 375px) and (min-width: 0){

.wraper{width:290px;}
/********************************** HOME PAGE *************************/
.main_bnr {   background-position: center center !important;}
.header { padding: 10px 0; }
.lf_hd { width: 48%;   position: relative;    top: 1px;}
.rg1 { display: none;}
.rg1 li { padding: 0 11px;}
.rg2 {  padding: 6px 0 0;}
.rg2 a {  padding: 7px 12px;}
.rg2 a::after {background-size: 22px auto;	right: 17px;	top: 90px;}
.rg2 img {  left: -3px; position: relative; top: 3px; width: 16px;}
.rg2 span { font-size: 12px;}
.banr_txt { padding: 30px 0; width:100%;}
.banr_txt h2 { font-size: 22px;}
/*.prc_bnr1 li {  padding: 10px !important;  width: 49.2%;}*/
/*.prc_bnr1 p { font-size: 23px;}*/
/*.prc_bnr1 span { font-size: 17px;   margin-top: 0;   max-width: 60px !important;   line-height: 20px;}*/
.we_do h4 {  font-size: 24px; margin: 10px 0;}
.strt { width: 100%;}
.strt h6 { font-size: 16px;   padding: 15px 13px;}
.strt > li {  margin: 10px 0;  width: 100%;}
.strt img { width: 120px;}
.soc_icn { width: 38%;}
.btnsb { font-size: 14px; margin: 15px 0;  padding: 10px 0; width: 48%;}
.banr_txt h2 { font-size: 23px; line-height: 30px;}
.lf_foot img {  width: 80%;}
.soc_icn { width: 27%;}
.soc_icn > li {  padding: 0 10px;}
.call_us .wraper > p { font-size: 16px;}
.lf_foot {    float: left;    width: 100%;}
.lf_foot img { width: 50%;}
.soc_icn {   float: left;   margin: 20px 0;    text-align: center;   width: 100%;}
.cpyrgt {   float: left;   width: 100%;}
.footer {  text-align: center;}
.lf_hd img {width: 100%;}
/******************* GET STARTED *********************/
.main_sec form { width: 100%;}
.main_sec {  padding: 10px 0;}
.main_sec h1 {font-size: 34px; }
.main_sec form label { font-size: 16px; margin: 20px 0 0; text-align: left; width: 100%;}
.main_sec form input {  width: 94%; display:block;}
.subbtn { margin: 0 auto !important; width: 81% !important;}
.fbtn {width:70%;}


/************************************* PRICE PAGE ************************************/
.prc_bnr h1 { font-size: 20px; padding: 20px 0;}
.prc_bnr li {padding: 20px 64px !important;  width: 100%;}
.prc_bnr p {  font-size: 32px;}
.prc_bnr span {  font-size: 22px;  line-height: 25px;  margin: 0;  max-width: 87px;}
.txt_cs { background-size: cover ; margin: 10px 0 0; padding: 10px 0;}
.prc_bnr h6 { font-size: 13px;  margin: 12px;}
.wht_we_do h4 { font-size: 24px; margin: 10px 0;}
.lf_img {  margin: 0 auto;  width: 50%; float:none;}
.rt_txt {  padding: 0;  width: 100%;}
.rt_txt h5 {  font-size: 30px;  margin: 0 0 10px;  text-align: center;}
.rt_txt > p { font-size: 15px; text-align: center;}
.lf_img.rgt1 {  float: none; }
.rt_txt.rgt2 {  float: left;  padding-left: 0;  padding-right: 0;}
.lst_st {  width: 100%;}

/************************************* ABOUT US PAGE ****************************************/
.bnr_txt {  padding: 15px 0;  width: 100%;}
.bnr_txt br {  display: none;}
.bnr_txt p { font-size: 14px;  line-height: 20px;  margin: 10px 0;}  
.bnr_txt h2 { font-size: 20px;}
.lf_tst {  margin: 0 auto;  width: 80%; float:none;}
.rg_tst {  padding: 0;   width: 100%;}
.rg_tst::before {  background-size: 100px auto;  left: 0;  top: 0;}
.rg_tst > p {  text-align: center;}
.gt_strt {  padding: 30px 0;}
.gt_txt {  width: 100%;}
.gt_txt h5 {font-size: 17px;  line-height: 30px;}
.gt_txt a { font-size: 16px;    padding: 12px 20px;  }
.photo_sec li {  margin-left: 0;  width: 100%;}
.testimonial {  padding: 30px 0;}
.txt_cs {  background-size: 100% 100%;  margin: 10px 0 0;  padding: 2px 0;}
.prc_bnr h6 {  font-size: 12px;  margin: 4px 12px;}
.prc_bnr {  padding: 40px 0 20px;}

/******************************21-feb-2018********************************************/
.prc_bnr1 li {
    padding: 20px 15px !important;
    width: 49.3% !important;
    text-align: center !important;
    margin: 0px 0px 10px 0px;
}
.prc_bnr1 p {font-size: 34px;}
.prc_bnr1 span {
    font-size: 19px;
    margin-top: 6px;
    max-width: 60px !important;
    line-height: 20px;
    text-align: left;
}

span.inputfile {   width: 49% !important;   float: left;   cursor: pointer;   position: relative;}
span.rp_file {    width: 34% !important;    float: left;    font-size: 12px;    margin-top: 25px !important;    margin-right: 0 !important;}

/*************login page***************/
.login_div {width: 73%;	margin: 52px auto;	padding: 30px 20px 50px 20px;}
.new_logo img {width: 100%;}
.login_div input {width: 84%;}

}

@media only screen and (max-width: 480px) and (min-width: 376px){

.wraper{width:320px;}
/********************************** HOME PAGE *************************/
.header {	padding: 10px 0}
.lf_hd { width: 48%;     position: relative;    top: 0px;}
.rg1 { display: none;}
.rg1 li { padding: 0 11px;}
.rg2 a {  padding: 7px 12px;}
.rg2 {  padding: 6px 0 0;}
.rg2 a::after {right: 57px;	top: 90px;	background-size: 22px auto !important;}
.rg2 img {  left: -3px; position: relative; top: 3px; width: 16px;}
.rg2 span { font-size: 12px;}
.banr_txt { padding: 30px 0; width:100%;}
.banr_txt h2 { font-size: 22px;}
/*.prc_bnr1 li {  padding: 10px !important;  width: 49.4%;}*/
/*.prc_bnr1 p { font-size: 23px;}*/
/*.prc_bnr1 span { font-size: 17px;   margin-top: 0;   max-width: 60px !important;   line-height: 20px;}*/
.we_do h4 {  font-size: 24px; margin: 10px 0;}
.strt { width: 100%;}
.strt h6 { font-size: 16px;   padding: 15px 13px;}
.strt > li {  margin: 10px 0;  width: 100%;}
.strt img { width: 120px;}
.soc_icn { width: 38%;}
.btnsb { font-size: 14px; margin: 15px 0;  padding: 10px 0; width: 48%;}
.banr_txt h2 { font-size: 22px; line-height: 30px;}
.lf_foot img {  width: 80%;}
.soc_icn { width: 27%;}
.soc_icn > li {  padding: 0 10px;}
.call_us .wraper > p { font-size: 16px;}
.lf_foot {    float: left;    width: 100%;}
.lf_foot img { width: 50%;}
.soc_icn {   float: left;   margin: 20px 0;   text-align: center;   width: 100%;}
.cpyrgt {   float: left;   width: 100%;}
.footer {  text-align: center;}
.lf_hd img {width: 100%;}
/******************* GET STARTED *********************/
.main_sec form { width: 100%;}
.main_sec {  padding: 10px 0;}
.main_sec h1 {font-size: 34px; }
.main_sec form label { font-size: 16px; margin: 20px 0 0; text-align: left; width: 100%;}
.main_sec form input {  width: 100%; display: block;}
.subbtn { margin: 0 auto !important; width: 81% !important;}
.fbtn {width: 100%;	text-align: center;}

/************************************* PRICE PAGE ************************************/
.prc_bnr h1 { font-size: 20px; padding: 20px 0;}
.prc_bnr li {padding: 20px 64px !important;  width: 100%;}
.prc_bnr p {  font-size: 32px;}
.prc_bnr span {  font-size: 22px;  line-height: 25px;  margin: 0;  max-width: 87px;}
.txt_cs { background-size: cover ; margin: 10px 0 0; padding: 10px 0;}
.prc_bnr h6 { font-size: 13px;  margin: 12px;}
.wht_we_do h4 { font-size: 24px; margin: 10px 0;}
.lf_img {  margin: 0 auto;  width: 50%; float:none;}
.rt_txt {  padding: 0;  width: 100%;}
.rt_txt h5 {  font-size: 30px;  margin: 0 0 10px;  text-align: center;}
.rt_txt > p { font-size: 15px; text-align: center;}
.lf_img.rgt1 {  float: none; }
.rt_txt.rgt2 {  float: left;  padding-left: 0;  padding-right: 0;}
.lst_st {  width: 100%;}

/************************************* ABOUT US PAGE ****************************************/
.bnr_txt {  padding: 15px 0;  width: 100%;}
.bnr_txt br {  display: none;}
.bnr_txt p { font-size: 14px;  line-height: 20px;  margin: 10px 0;}  
.bnr_txt h2 { font-size: 20px;}
.lf_tst {  margin: 0 auto;  width: 80%; float:none;}
.rg_tst {  padding: 0;   width: 100%;}
.rg_tst::before {  background-size: 100px auto;  left: 0;  top: 0;}
.rg_tst > p {  text-align: center;}
.gt_strt {  padding: 30px 0;}
.gt_txt {  width: 100%;}
.gt_txt h5 {font-size: 17px;  line-height: 30px;}
.gt_txt a { font-size: 16px;    padding: 12px 20px;  }
.photo_sec li {  margin-left: 0;  width: 100%;}
.testimonial {  padding: 30px 0;}
.txt_cs {  background-size: 100% 100%;  margin: 10px 0 0;  padding: 2px 0;}
.prc_bnr h6 {  font-size: 12px;  margin: 4px 12px;}
.prc_bnr {  padding: 40px 0 20px;}

/******************************21-feb-2018********************************************/
.prc_bnr1 li {padding: 10px !important; width: 49.3% !important;	text-align: center !important;	margin: 0px 0px 10px 0px;}
.prc_bnr1 p {font-size: 34px;	float: none;}
.prc_bnr1 span {font-size: 23px;	margin-top: 0;	max-width: 60px !important;	line-height: 24px;float: none;}
span.inputfile {   width: 49% !important;   float: left !important;   cursor: pointer !important;   position: relative;}
span.rp_file {    width: 41% !important;    float: left;    font-size: 12px !important;    margin-top: 25px !important;    margin-right: 0 !important;}

/*************login page***************/
.login_div {width: 73%;	margin: 52px auto;	padding: 30px 20px 50px 20px;}
.new_logo img {width: 100%;}
.login_div input {width: 89%;}

}

@media only screen and (max-width: 600px) and (min-width: 481px){
    
.wraper{width:450px;}
/********************************** HOME PAGE *************************/
.header { padding: 10px 0; }
.rg2 { padding: 10px 0 0;}
.lf_hd { width: 48%;   position: relative;    top: -3px;}
.rg1 { display: none;}
.rg1 li { padding: 0 11px;}
.rg2 img {  left: -3px; position: relative; top: 3px; width: 16px;}
.banr_txt { padding: 30px 0; width:100%;}
.banr_txt h2 { font-size: 22px;}
/*.prc_bnr1 li {  padding: 15px 52px!important;  width: 49.4%;}*/
/*.prc_bnr1 p { font-size: 23px;}*/
/*.prc_bnr1 span { font-size: 17px;   margin-top: 0;   max-width: 60px !important;   line-height: 20px;}*/
.we_do h4 {  font-size: 30px; margin: 10px 0;}
.strt { width: 100%;}
.strt h6 { font-size: 15px;   padding: 15px}
.strt > li {  margin: 10px 0;  width: 49%;}
.strt img { width: 120px;}
.soc_icn { width: 38%;}
.btnsb { font-size: 14px; margin: 15px 0;  padding: 10px 0; width: 48%;}
.banr_txt h2 { font-size: 31px; line-height: 45px;}
.lf_foot img {  width: 80%;}
.soc_icn { width: 27%;}
.soc_icn > li {  padding: 0 10px;}
.call_us .wraper > p { font-size: 16px;}
.lf_foot {    float: left;    width: 100%;}
.lf_foot img { width: 50%;}
.soc_icn {   float: left;   margin: 20px 0;   text-align: center;   width: 100%;}
.cpyrgt {   float: left;   width: 100%;}
.footer {  text-align: center;}
.lf_hd img {width: 100%;}
.rg2 a::after {right: 67px;	top: 85px;}
.mobile-nav-button {left: 92%;}

/******************* GET STARTED *********************/
.main_sec form { width: 100%;}
.main_sec {  padding: 10px 0;}
.main_sec h1 {font-size: 34px; }
.main_sec form label { font-size: 16px; margin: 20px 0 0; text-align: left; width: 100%;}
.main_sec form input {  width: 100%;}
.subbtn { margin: 0 auto !important; width: 81% !important;}
.fbtn {width: 100%;	text-align: center;}

/************************************* PRICE PAGE ************************************/
.prc_bnr h1 { font-size: 20px; padding: 20px 0;}
.prc_bnr li {    padding: 20px 30px;   width: 49%;}
.prc_bnr p {  font-size: 32px;}
.prc_bnr span {  font-size: 22px;  line-height: 25px;  margin: 0;  max-width: 87px;}
.txt_cs { background-size: cover ; margin: 10px 0 0; padding: 10px 0;}
.prc_bnr h6 { font-size: 13px;  margin: 12px;}
.wht_we_do h4 { font-size: 24px; margin: 10px 0;}
.lf_img {  margin: 0 auto;  width: 50%; float:none;}
.rt_txt {  padding: 0;  width: 100%;}
.rt_txt h5 {  font-size: 30px;  margin: 0 0 10px;  text-align: center;}
.rt_txt > p { font-size: 15px; text-align: center;}
.lf_img.rgt1 {  float: none; }
.rt_txt.rgt2 {  float: left;  padding-left: 0;  padding-right: 0;}
.lst_st {  width: 100%;}
.testimonial {    padding: 30px 0;}
.rg_tst::before {  background-size:  130px auto;   top: 0;}
/************************************* ABOUT US PAGE ****************************************/
.bnr_txt {  padding: 15px 0;  width: 100%;}
.bnr_txt br {  display: none;}
.bnr_txt p { font-size: 14px;  line-height: 20px;  margin: 10px 0;}  
.bnr_txt h2 { font-size: 20px;}
.lf_tst {  margin: 0 auto;  width: 80%; float:none;}
.rg_tst {  padding: 0;   width: 100%;}
.rg_tst::before {  background-size: 100px auto;  left: 0;  top: 0;}
.rg_tst > p {  text-align: center;}
.gt_strt {  padding: 30px 0;}
.gt_txt {  width: 100%;}
.gt_txt h5 {font-size: 17px;  line-height: 30px;}
.gt_txt a { font-size: 16px;    padding: 12px 20px;  }
.photo_sec li {  margin-left: 0;  width: 49%;}
.testimonial {  padding: 30px 0;}
.photo_sec .wraper > ul {  text-align: center;}
.photo_sec p {  font-size: 14px;  padding: 10px;}
.txt_cs {  background-size: 100% 100%;  margin: 10px 0 0;  padding: 2px 0;}
.prc_bnr h6 {  font-size: 12px;  margin: 4px 12px;}
.prc_bnr {  padding: 40px 0 20px;}

/*************login page***************/
.login_div {width: 73%;	margin: 52px auto;	padding: 30px 20px 50px 20px;}
.login_div input {width: 91%;}

/******************************21-feb-2018********************************************/
.prc_bnr1 li {padding: 10px !important; width: 100%;	text-align: center !important;	margin: 0px 0px 10px 0px;}
.prc_bnr1 p {font-size: 34px;	float: none;}
.prc_bnr1 span {font-size: 23px;	margin-top: 0;	max-width: 60px !important;	line-height: 24px;float: none;}

span.inputfile {    width: 33% !important; }
span.rp_file {    width: 30% !important; }
}

@media only screen and (max-width: 667px) and (min-width: 601px){

.wraper{width:500px;}
/********************************** HOME PAGE *************************/
.header { padding: 10px 0; }
.rg2 a::after { top: 87px;}
.lf_hd { width: 33%;   position: relative;    top: 2px;}
.rg1 { display: none;}
.rg1 li { padding: 0 11px;}
.banr_txt { padding: 40px 0;}
.banr_txt h2 { font-size: 29px;}
/*.prc_bnr1 li {  padding: 20px 58px !important;  width: 49.6%;}*/
/*.prc_bnr1 p { font-size: 32px;}*/
/*.prc_bnr1 span { font-size: 20px; max-width: 100px !important; line-height: 24px;  margin-top: 0;}*/
.we_do h4 {  font-size: 42px;}
.strt { width: 100%;}
.strt h6 { font-size: 13px;  padding: 15px 14px;}
.strt > li { width: 30%;     margin: 20px 10px 20px 0;}
.soc_icn { width: 38%;}
.btnsb { width: 35%;}
.lf_foot img {  width: 80%;}
.soc_icn { width: 27%;}
.soc_icn > li {  padding: 0 10px;}
.call_us .wraper > p { font-size: 18px;}
.lf_foot {  float: left;   width: 50%;}
.lf_foot img { width: 100%;}
.soc_icn {
    float: left;
    margin: 10px 0;
    text-align: center;
    width: 50%;
    padding: 0;
}
.cpyrgt {   float: left;   width: 100%;}
.footer {  text-align: center;}
.strt img {width: 150px;}
.lf_hd img {width: 100%;}
/******************* GET STARTED *********************/
.main_sec form { width: 100%;}
.main_sec {  padding: 20px 0; }

/*************login page***************/
.login_div {width: 73%;	margin: 65px auto;	padding: 30px 20px 50px 20px;}
.login_div input {width: 91%;}

/*************************************** PRICE PAGE ****************************************/
.prc_bnr h1 {font-size: 32px; padding: 0;}
.prc_bnr li {  padding: 20px 27px !important; width: 49.6%;}
.prc_bnr p { font-size: 35px; }
.prc_bnr span {  margin: 0;  line-height: 25px; font-size: 21px; max-width: 115px;}
.txt_cs { padding: 14px 0; }
.wht_we_do h4 {  font-size: 35px; margin: 10px 0;}
.lst_st > li {  padding: 20px 0;}
.rt_txt {  padding-left: 9px;  }
.rt_txt h5 {  font-size: 22px;  margin: 0;}
.rt_txt > p {  font-size: 14px; }
.rt_txt.rgt2{ padding-right: 9px; }
.prc_bnr h6 { font-size: 13px;}
.lst_st {  width: 100%;}
.testimonial {    padding: 30px 0;}
.lf_tst {    width: 40%;}
.rg_tst {   padding-left: 20px;      width: 60%;}
.rg_tst::before {    background-size: 90px auto;   top: 0;}
/***************************** ABOUT US PAGE ********************************/
.bnr_txt {  padding: 20px 0; width: 100%;}
.bnr_txt h2 {  font-size: 36px;}
.bnr_txt p { font-size: 15px; line-height: 30px;  }
.rg_tst > p {  font-size: 14px;  line-height: 27px;  }
.gt_txt {  width: 100%;}
.photo_sec .wraper > ul {  text-align: center;}
.photo_sec li {  margin-left: 10px;  width: 47%;}
.photo_sec p { font-size: 13px; line-height: 22px; padding: 8px;}
.gt_txt h5 {  font-size: 16px;  }
.gt_txt a { font-size: 16px; }

/******************************21-feb-2018********************************************/
.prc_bnr1 li {
    padding: 25px 60px !important;
    width: 49.5% !important;
    text-align: center !important;
    margin: 0px 0px 10px 0px;
}
.prc_bnr1 p {
    font-size: 45px;
    /* float: none; */
}
.prc_bnr1 span {
    font-size: 23px;
    margin-top: 10px;
    max-width: 80px !important;
    line-height: 24px;
    /* float: none; */
}
span.inputfile {   width: 25%; }
span.rp_file {    width: 20%;   margin-right: 100px;}
.mobile-nav-button {left: 93%;}

}

@media only screen and (max-width: 800px) and (min-width: 668px){ 

.wraper{width:640px;}
.prc_bnr1 li:first-child {   width: 49.7%;  }
.main_sec1 p {   font-size: 14px; }
/********************************** HOME PAGE *************************/
.lf_hd { width: 33%;}
.rg1 { display: none;}
.rg1 li { padding: 0 11px;}
.rg2 a {  padding: 10px 20px;}
.rg2 {  padding: 0px 0 0;}
.rg2 a::after {top: 99px;	right: 54px;}
.banr_txt { padding: 80px 0; }
.banr_txt h2 { font-size: 30px;}
.prc_bnr1 li {  padding: 20px 52px !important;  width: 49.6%;}
.prc_bnr1 p { font-size: 52px;}
.prc_bnr1 span {  font-size: 25px; margin-top:0px;     max-width: 100px;}
.strt { width: 100%;}
.strt > li { width: 30%;}
.soc_icn { width: 38%;}
.btnsb { width: 35%;}
.lf_foot img {  width: 80%;}
.soc_icn { width: 27%;}
.soc_icn > li {  padding: 0 10px;}
.lf_hd img {width: 100%;}
.mobile-nav-button {left: 94%;}

/******************* GET STARTED *********************/
.main_sec form { width: 100%;}
.subbtn {   clear: none; }
/*************************************** PRICE PAGE ****************************************/
.prc_bnr h1 {font-size: 42px; padding: 30px 0;}
.prc_bnr li {  padding: 20px 35px !important; width: 49.6%;}
.prc_bnr p { font-size: 50px; }
.prc_bnr span {  margin: 13px 0 0;  line-height: 25px; font-size: 21px;     max-width: 110px;}
.txt_cs { padding: 14px 0; }
.wht_we_do h4 {  font-size: 50px; margin: 10px 0;}
.lst_st > li {  padding: 20px 0;}
.rt_txt {  padding-left: 20px;  }
.rt_txt h5 {  font-size: 22px;  margin: 0;}
.rt_txt > p {  font-size: 14px; }
.rt_txt.rgt2{ padding-right: 20px; }
.prc_bnr h6 { font-size: 18px;}
.lst_st {  width: 100%;}
.testimonial {    padding: 30px 0;}
.rg_tst {
    box-sizing: border-box;
    float: none;
    padding-left: 0;
    position: relative;
    width: auto;
}
.rg_tst::before {
    background-size: 110px auto;
    top: 0;
    left: 200px;
}
.lf_foot {    width: 30%;    margin: 10px 0;}

.soc_icn {
    width: 30%;
}
span.rp_file {
    width: 20%;
}
/***************************** ABOUT US PAGE ********************************/
.bnr_txt {  padding: 30px 0; width: 92%;}
.bnr_txt h2 {  font-size: 36px;}
.bnr_txt p { font-size: 15px; line-height: 30px;  }
.rg_tst > p {  font-size: 14px;  line-height: 27px;  }
.gt_txt {  width: 100%;}
.photo_sec li {  margin-left: 10px;     width: 31%;}
.photo_sec p { font-size: 12px; line-height: 22px; padding: 8px;}
.gt_txt h5 {  font-size: 16px;  }

.lf_tst {
    float: left;
    margin-top: 30px;
    width: 30%;
    margin-right: 30px;
}
/***************login page*************/
.login_div {width: 50%; padding: 35px 35px 70px 35px;}
.login_div input {width: 90%;}

}

@media only screen and (max-width: 962px) and (min-width: 801px){

.wraper{width:780px;}
/********************************** HOME PAGE *************************/
.lf_hd { width: 27%;}
.rg1 li { padding: 0 11px;}
.rg2 a {  padding: 10px 20px;}
.banr_txt { padding: 80px 0; }
.banr_txt h2 { font-size: 36px;}
.prc_bnr1 li {  padding: 20px 50px !important;  width: 49.7%;}
.prc_bnr1 p { font-size: 70px;}
.prc_bnr1 span {  font-size: 30px;  margin-top: 0;}
.strt { width: 100%;}
.strt > li { width: 23%;}
.soc_icn { width: 38%;}
.lf_hd img {width: 100%;}

/******************* GET STARTED *********************/
.main_sec form { width: 90%;}

/*************************************** PRICE PAGE ****************************************/
.prc_bnr li {  padding: 20px 40px; width: 49.7%;}
.prc_bnr p { font-size: 72px; }
.prc_bnr span {  margin: 13px 0 0; }
.txt_cs { padding: 14px 0; }
.wht_we_do h4 {  font-size: 50px; margin: 10px 0;}
.lst_st > li {  padding: 20px 0;}
.rt_txt {  padding-left: 20px;  }
.rt_txt h5 {  font-size: 22px;  margin: 0;}
.rt_txt > p {  font-size: 14px; }
.rt_txt.rgt2{ padding-right: 20px; }
.lst_st {  width: 90%;}
.testimonial {    padding: 30px 0;}
.rg_tst::before {  background-size:  130px auto;   top: 0;}
/***************************** ABOUT US PAGE ********************************/
.bnr_txt {  padding: 30px 0; width: 65%;}
.bnr_txt h2 {  font-size: 36px;}
.bnr_txt p { font-size: 15px; line-height: 30px;  }
.rg_tst > p {  font-size: 14px;  line-height: 27px;  }
.gt_txt {  width: 100%;}
.photo_sec li {  margin-left: 23px;}

/***************login page*************/
.login_div {width: 50%; padding: 35px 35px 70px 35px;}
.login_div input {width: 90%;}
}

@media only screen and (max-width: 1067px) and (min-width: 963px){

.wraper{width:940px;}
/********************************** HOME PAGE *************************/
.lf_hd { width: 27%;}
.banr_txt { padding: 80px 0; }
.banr_txt h2 { font-size: 44px;}
.rg2 a {  padding: 10px 20px;}
.prc_bnr1 li {
    width: 49% !important;
}
.prc_bnr1 li:first-child {
    background: #01bfb8 none repeat scroll 0 0;
    border-radius: 0 14px 14px 0;
    padding: 35px 0 35px 300px;
    width: 49.5% !important;
    margin-right: 5px;
}
.prc_bnr1 li:nth-child(2) {  margin-left: 0px;}
.prc_bnr1 li{padding: 20px 85px !important;}
.prc_bnr1 p { font-size: 60px;}
.prc_bnr1 span { font-size: 28px;     margin-top: 13px;}
.strt { width: 90%;}
.soc_icn {  width: 50%;}
.rg2 a::after { top: 41px; right: 34px;}
.lf_hd img {width: 100%;}

/******************* GET STARTED *********************/
.main_sec form { width: 75%;}

/*************************************** PRICE PAGE ****************************************/
.prc_bnr li {  padding: 20px 60px  !important;  width: 49.7%;}
.wht_we_do h4 {  margin: 10px 0; }
.rt_txt { padding-left: 30px; }
.rt_txt h5 {  margin: 0;  font-size: 32px;}
.lst_st > li {   padding: 25px 0; }
.rt_txt.rgt2{ padding-right: 30px; }
.txt_cs {   padding: 18px 0;  }
.prc_bnr p {font-size: 74px;}
.prc_bnr span {font-size: 30px;}

/***************************** ABOUT US PAGE ********************************/
.bnr_txt {  padding: 30px 0; width: 65%;}
.bnr_txt h2 {  font-size: 36px;}
.bnr_txt p { font-size: 15px; line-height: 30px;  }
.rg_tst > p {  font-size: 14px;  line-height: 27px;  }
.gt_txt {  width: 100%;}
.photo_sec li {  margin-left: 28px;}

/*************Login page**************/
.login_div input {width: 87%;}

}

@media only screen and (max-width: 1280px) and (min-width: 1068px){


.wraper{width:1024px;}
/********************************** HOME PAGE *************************/

.rg1 a { padding: 26px 0 13px; }
.rg2 a::after {  right: 120px; }
.banr_txt h2 {  font-size: 50px;}
.strt {  width: 80%;}
.soc_icn {  width: 50%;}
.main_sec1 form {  width: 70%;}
.prc_bnr1 li{padding: 20px 85px !important;}
/*************************************** PRICE PAGE ****************************************/
.prc_bnr1 li:first-child {    padding: 20px 0 20px 280px !important;}
.prc_bnr li { padding: 20px 80px; }
.rt_txt { padding-left: 40px; }
.rt_txt.rgt2{ padding-right: 40px; }
.prc_bnr p {font-size: 80px;}

/***************************** ABOUT US PAGE ********************************/
.bnr_txt {  width: 60%;  padding: 60px 0;}
}



@media only screen and (min-width: 1380px){


.wraper{width:1024px;}
/********************************** HOME PAGE *************************/

.rg1 a { padding: 26px 0 14px; }

}

@media only screen and (max-width: 800px) and (min-width: 0px){
	
.nav_btnn .rg1 {display: block;}
.nav_btnn { display:block;}
}