* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Roboto', sans-serif;
}
.clr {
    clear: both;
}
.wraper {
    margin: 0 auto;
    width: 1170px;
}
.header {
  box-shadow: 0 8px 20px -6px #cecece;
  padding: 20px 0 10px;
}
.lf_hd {
    float: left;
    width: 22%;
}
.rg_hd {
    float: right;
}
.rg1 {
  float: left;
  padding: 10px 0 0;
}
.rg2 {
    float: left;
}
.rg1 li {
  display: inline-block;
  padding: 0 25px;
}
.rg1 a {
  color: #000;
  font-size: 16px;
  font-weight: 300;
  padding: 26px 0;
  text-decoration: none;
}
.rg2 li {
    display: inline-block;
}
.rg2 a {
  background: #01bfb8 none repeat scroll 0 0;
  border-radius: 25px;
  color: #fff;
  padding: 10px 30px;
  text-decoration: none;
}
.rg1 a:hover {
  border-bottom: 3px solid #cb4544;
}
.rg2 img {
  left: -5px;
  position: relative;
  top: 5px;
}
.rg2 span {
  font-size: 15px;
}
/************************************ HOME PAGE *********************************/
.banner {
  background: rgba(0, 0, 0, 0) url("https://www.offertoclose.com/new/images/mnbnr.jpg") no-repeat scroll 0 0 / cover ;
  text-align:center;
}
.banr_txt {
  margin: 0 auto;
  padding: 120px 0;
  width: 85%;
}
.banr_txt span {
  color: #01bfb8;
}
.banr_txt h2 {
    color: #000;
    font-size: 52px;
}
.prc_bnr1 h1 {
  font-size: 52px;
  padding: 70px 0 60px;
  text-align: center;
}
.prc_bnr1 li {
  border-radius: 15px;
  box-sizing: border-box;
  display: inline-block;
  padding: 20px 100px;
  width: 49.8%;
}
.prc_bnr1 p {
  color: #fff;
  float: left;
  font-size: 95px;
  text-decoration: none;
}
.prc_bnr1 span {
  color: #fff;
  float: left;
  font-size: 40px;
  margin-left: 10px;
  max-width: 131px;
}
.prc_bnr1 li:first-child {
  background: #01bfb8 none repeat scroll 0 0;
  border-radius: 0 14px 14px 0;
  padding: 20px 0 20px 210px;
}
.prc_bnr1 li:nth-child(2){
  background: #cb4544 none repeat scroll 0 0;
  border-radius: 14px 0px 0px 14px;
}
.we_do {
  padding: 30px 0;
  text-align: center;
}
.we_do h4 {
  color: #cb4544;
  font-size: 52px;
  font-weight: normal;
  margin: 40px 0;
  text-align: center;
}
.strt {
    margin: 0 auto;
    width: 70%;
}
.strt > li {
  display: inline-block;
  margin: 20px 5px 20px 0;
  text-align: center;
  vertical-align: top;
  width: 24%;
}
.strt img {
    width: 170px;
}
.strt a {
    text-decoration: none;
}
.strt h6 {
  box-sizing: border-box;
  color: #000;
  font-size: 16px;
  padding: 15px 20px;
  text-transform: uppercase;
}
/***************************************** ABOUT US PAGE *********************/
.main_bnr {
  background: rgba(0, 0, 0, 0) url("images/Aboutbnr.jpg") no-repeat scroll 0 0 / cover ;
}
.bnr_txt {
  float: left;
  padding: 90px 0;
  width: 70%;
}
.bnr_txt h2 {
    color: #fff;
    font-size: 52px;
}
.bnr_txt p {
  color: #fff;
  font-size: 16px;
  line-height: 35px;
  margin: 20px 0;
}
.testimonial {
  padding: 150px 0 30px;
}
.lf_tst {
  float: left;
  margin-top: 30px;
  width: 30%;
}
.lf_tst > img {
    width: 100%;
}
.rg_tst {
  box-sizing: border-box;
  float: left;
  padding-left: 45px;
  position: relative;
  width: 70%;
}
.rg_tst::before {
  background: rgba(0, 0, 0, 0) url("images/invcm.png") no-repeat scroll left top / 220px auto;
  content: "";
  height: 195px;
  left: 15px;
  position: absolute;
  top: -115px;
  width: 220px;
  z-index: -1;
}
.rg_tst > p {
    font-size: 15px;
    line-height: 30px;
    margin: 10px 0;
}
.gt_strt {
  background: #f9f9f9 none repeat scroll 0 0;
  padding: 50px 0;
}
.gt_txt {
  margin: 0 auto;
  text-align: center;
  width: 70%;
}
.gt_txt h5 {
  color: #01bfb8;
  font-size: 18px;
  line-height: 35px;
}
.gt_txt > a {
  background: #cb4544 none repeat scroll 0 0;
  border-radius: 25px;
  color: #fff;
  display: inline-block;
  font-size: 20px;
  margin: 20px 0 0;
  padding: 12px 35px;
  text-decoration: none;
}
.photo_sec {
	padding:50px 0;
}
.photo_sec li {
  display: inline-block;
  margin-left: 30px;
  width: 30%;
}
.photo_sec a {
  text-decoration: none;
}
.photo_sec p {
  background: #000 none repeat scroll 0 0;
  border-radius: 0 0 14px 14px;
  box-sizing: border-box;
  color: #fff;
  float: left;
  font-size: 16px;
  font-weight: bold;
  line-height: 24px;
  padding: 12px;
  position: relative;
  text-align: center;
  top: -52px;
  width: 100%;
}
.photo_sec li:nth-child(2) p {
  background: #01bfb8 none repeat scroll 0 0;
}
.photo_sec li:nth-child(3) p {
  background: #cb4544 none repeat scroll 0 0;
}
.photo_sec li img {
  float: left;
  width: 100%;
}
.call_us {
    background: #01bfb8 none repeat scroll 0 0;
    padding: 30px 0;
}
.call_us .wraper > p {
    color: #fff;
    font-size: 24px;
    text-align: center;
}
.footer {
    background: #000 none repeat scroll 0 0;
    padding: 30px 0;
}
.lf_foot {
    float: left;
}
.lf_foot img {
    width:100%;
}
.soc_icn {
    float: left;
    padding-top: 8px;
    text-align: center;
    width: 60%;
}
.cpyrgt {
  float: right;
  padding-top: 14px;
}
.soc_icn > li {
    display: inline-block;
    padding: 0 20px;
}
.cpyrgt > p {
    color: #5e5e5e;
    font-size: 12px;
}
.soc_icn img {
    width: 20px;
}
/***********************************GET STARTED PAGE********************************/
.main_sec {
  padding: 50px 0;
}
.main_sec h1 {
    color: #01bfb8;
    font-size: 52px;
    margin: 20px 0;
    text-align: center;
}
.main_sec .wraper > p {
    font-size: 16px;
    margin: 20px 0;
    text-align: center;
}
.main_sec form {
  margin: 40px auto 0;
  width: 60%;
}
.main_sec form label {
  box-sizing: border-box;
  float: left;
  font-size: 15px;
  margin: 20px 0;
  padding-right: 10px;
  text-align: right;
  width: 32%;
}
.main_sec form input {
  border: 1px solid #01bfb8;
  border-radius: 10px;
  float: left;
  margin: 10px 0;
  padding: 14px 10px;
  width: 50%;
}
.subbtn {
  background: #cb4544 none repeat scroll 0 0;
  border: medium none !important;
  border-radius: 25px !important;
  clear: both;
  color: #fff;
  cursor: pointer;
  float: none !important;
  font-size: 16px;
  font-weight: bold;
  margin: 30px auto 0 !important;
  padding: 12px 0 !important;
  text-transform: uppercase;
  width: 29% !important;
}
.fbtn {
  box-sizing: border-box;
  color: #01bfb8;
  float: left;
  font-size: 14px;
  margin: 42px 0;
  text-align: right;
  text-decoration: none;
  width: 40%;
}
.adbtn {
    background: #01bfb8 none repeat scroll 0 0;
    border-radius: 25px;
    color: #fff;
    display: inline-block;
    margin: 10px 0;
    padding: 10px 20px;
    text-decoration: none;
}
/**********************************PRICE PAGE **********************************/
.prc_bnr {
  background: #f0efe8 none repeat scroll 0 0;
  padding: 40px 0 0;
}
.prc_bnr h1 {
  font-size: 52px;
  padding: 70px 0 60px;
  text-align: center;
}
.prc_bnr li {
  border-radius: 15px;
  box-sizing: border-box;
  display: inline-block;
  padding: 20px 100px;
  width: 49.8%;
}
.prc_bnr p {
  color: #fff;
  float: left;
  font-size: 95px;
  text-decoration: none;
}
.prc_bnr span {
  color: #fff;
  float: left;
  font-size: 40px;
  margin-left: 10px;
  max-width: 131px;
}
.prc_bnr li:first-child {
  background: #01bfb8 none repeat scroll 0 0;
}
.prc_bnr li:nth-child(2){
  background: #cb4544 none repeat scroll 0 0;
}
.txt_cs {
  background: rgba(0, 0, 0, 0) url("images/bgr.png") no-repeat scroll 0 0 / 100% auto;
  margin: 10px 0 0;
  padding: 32px 0;
  text-align: center;
}
.prc_bnr h6 {
  color: #01bfb8;
  font-size: 24px;
  margin: 0 0 80px;
  text-align: center;
}
.wht_we_do {
  padding: 30px 0 50px;
  text-align: center;
}
.wht_we_do h4 {
    color: #cb4544;
    font-size: 52px;
    font-weight: normal;
    margin: 40px 0;
    text-align: center;
}
.lst_st {
  margin: 0 auto;
  width: 75%;
}
.lf_img {
    float: left;
    margin-top: 12px;
    width: 20%;
}
.lst_st > li {
  border-bottom: 1px solid #ccc;
  display: inline-block;
  list-style: outside none none;
  padding: 40px 0;
}
.lst_st > li:last-child {
  border-bottom: none;
}
.rt_txt {
  box-sizing: border-box;
  float: left;
  padding-left: 58px;
  text-align: left;
  width: 80%;
}
.lf_img > img {
    width: 100%;
}
.rt_txt h5 {
    color: #01bfb8;
    font-size: 35px;
    margin: 0 0 10px;
    text-transform: uppercase;
}
.rt_txt > p {
    font-size: 15px;
    line-height: 27px;
}
.rt_txt.rgt2 {
    float: left;
    padding-left: 0;
    padding-right: 58px;
    text-align: right;
}
.lf_img.rgt1 {
    float: right;
}
.btnsb {
  background: #cb4544 none repeat scroll 0 0;
  border: medium none;
  border-radius: 25px;
  clear: both;
  color: #fff;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  margin: 30px 0;
  padding: 12px 0;
  text-decoration: none;
  text-transform: uppercase;
  width: 20%;
}
.rg2 a::after {
	background: rgba(0, 0, 0, 0) url("images/logoph.png") no-repeat scroll 0 0 / 34px auto;
	content: "";
	height: 57px;
	position: absolute;
	right: 74px;
	top: 36px;
	width: 43px;
}
.prc_bnr1 {
	margin: 8px 0 0;
}

.mobile-nav-button {
	width: 35px;
	position: relative;
	left: 88%;
	top: 0;
	z-index: 9999;
	cursor: pointer;
	width: 35px;
	height: 30px;
}

.mobile-nav-button .mobile-nav-button__line {
  width: 100%;
  height: 4px;
  background: #fff;
  position: relative;
  transition: 1s ease;
}

.mobile-nav-button .mobile-nav-button__line:nth-of-type(2) { margin: 0.5rem 0; }

.mobile-nav-button .mobile-nav-button__line--1 {
  transform: rotate(45deg);
  top: 13px;
  position: absolute;
}

.mobile-nav-button .mobile-nav-button__line--2 { display: none; }

.mobile-nav-button .mobile-nav-button__line--3 {
  transform: rotate(135deg);
  top: 13px;
  position: absolute;
}

.mobile-menu {
  display: block;
  max-width: 100%;
  width: 100%;
  right: -100%;
 /* height: 100vh;*/
  background: #000;
  position: absolute;
  z-index: 9998;
  transition: 0.6s ease;
  top: 0;
  opacity: 0;
}

/*.mobile-menu ul {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  padding: 0;
}*/
.mobile-menu ul {
	padding: 34px 0 0 0;
}
.mobile-menu ul li {
	list-style: none;
	display: block;
	line-height: 27px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.05);
	padding: 4px 0px;
}
.mobile-menu ul li a {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	display: block;
	text-align: left;
	text-decoration: none;
	color: #fff;
	font-size: 17px;
	font-weight: normal;
	overflow: hidden;
	position: relative;
	padding: 6px 23px;
	text-transform: uppercase;
}


.mobile-menu ul li a:hover { color: #fff; }



.mobile-menu--open {
  right: 0;
  opacity: 1;
}
.nav_btnn {
	background: #000;
	width: 100%;
	padding: 10px 0px;
	margin: 0 0 10px 0;
}
.nav_btnn { display:none;}
.nav_btnn .rg1 a:hover {
	border-bottom: none;
}

/******************login page***************************/
.login_div {
	width: 30%;
	margin: 100px auto;
	box-shadow: 0px 1px 15px #ccc;
	border-radius: 17px;
	padding: 35px 45px 70px 45px;
}
.new_logo {
	text-align: center;
	padding: 0 0 35px 0;
}
.login_div h3 {
	font-size: 23px;
	font-weight: normal;
	color: #333;
	padding: 0 0 30px 0;
}
.login_div input {
	width: 95%;
	padding: 10px 10px 10px 27px;
	margin: 10px 0px;
	border: 1px solid #ccc;
	font-size: 14px;
	letter-spacing: 1px;
}
.forget button {
	float: right;
	background: #CB4544;
	border: none;
	padding: 6px 0px;
	width: 35%;
	display: block;
	color: #fff;
	font-size: 14px;
	text-transform: uppercase;
	border-radius: 6px;
	letter-spacing: 1px;
	text-align: center;
	cursor: pointer;
}
.forget a {
	font-size: 14px;
	text-decoration: none;
	color: #CB4544;
	float: left;
}
.forget {
	padding: 15px 0px 30px 0px;
}
.account a {
	display: block;
	border: 2px solid #01BFB8;
	padding: 8px 10px;
	text-align: center;
	color: #01BFB8;
	text-decoration: none;
	text-transform: capitalize;
	border-radius: 6px;
	font-size: 15px;
}
.email {
	background: url("images/email.png")no-repeat;
	background-position: left 4px center;
}
.pass {
	background: url("images/password.png")no-repeat;
	background-position: left 4px center;
}