#ConsumerKeyPeople{
  @import url('https://fonts.googleapis.com/css?family=Mada:300&display=swap');
  .progress{
    display: none;
  }
  @media screen and (min-width: 950px){
    min-width: 650px;
  }
  .questionnaire-title{
    font-family: 'Mada', sans-serif;
    text-align: center;
    font-size: 35px;
  }
  form label{
    margin-left: 0;
  }
  .consumer-row{
    padding: 30px 0 30px 30px;
  }

  .cancel {
    max-width: 800px;
    margin: 0 auto;
    margin-top: -40px;
    a {
      text-decoration: none;
      text-align: right;
      display: block;
      color: #353535;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .p1 {
    font-size: 35px;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 0;
  }

  .key-people-button-style {
    margin-top: 30px;
    margin-bottom: 60px;
    a {
      text-decoration: none !important;
    }
  }

  .search {
    height: 50px;
    border-radius: 0;
    background-color: white;
    border: 1px solid #B5B6B7;
    margin-bottom: 20px;
    margin-left: 155px;
    padding: 8px 50px;
    margin-right: 28px;
    float: right;
    max-width: 608px;
    .input-group{
      width: 100%;
      input {
        height: 30px;
        background-color: white;
        color: #ABABAB;
        font-weight: 500;
        border: 1px solid #D7D7D7;
        border-radius: 5px;
        width: 80%;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        &::placeholder {
          padding-left: 50px;
          font-size: 13px;
        }
      }
      button {
        background-color: #D12E2E;
        border: 1px solid #D7D7D7;
        color: #F9EBEB;
        font-size: 13px;
        height: 30px;
        border-top-left-radius: 0;
        padding: 8px 10px 5px 10px;
        border-bottom-left-radius: 0;
        img {
          height: 80px;
        }
        &:hover {
          background-color: #D5EEF0;
          border-radius: 6px;
        }
      }
    }
  }
  label {
    padding: 0;
    height: 30px;
    font-size: 12px;
    text-align: right;
    padding-top: 4px;
    span {
      color: #D12E2E;
      margin-left: 3px;
    }
  }
  input {
    height: 30px;
    border-radius: 0;
    background-color: #F4F4F4;
    border: 1px solid #B5B6B7;
    margin-bottom: 20px;
    margin-bottom: 0px;
  }

  @media screen and (max-width: 600px) {
    .cancel {
      padding: 0 20px;
    }
    .p1 {
      margin-top: 20px;
      font-size: 30px;
      font-weight: 400;
    }
    label {
      text-align: left;
      padding-left: 20px;
    }
    input {
      margin-bottom: 10px;
    }
    .search {
      margin-left: 20px;
      margin-right: 20px;
      width: 100%;
      height: auto;
      margin-top: 20px;
      padding: 5px;
      input::placeholder {
        padding-left: 10px;
      }
    }
  }
}