#EmailToolPageContainer{
  background: #f4f4f4;
  padding: 50px;
  justify-content: center;
  #EmailToolPage {
    background-color: white;
    max-width: 1000px;
    padding: 40px 55px 40px 55px;

    .EmailToolForm {
      max-width: 800px;
      margin: 0 auto;
      select {
        color: #9B9E9E;
      }
      label {
        color: #9B9E9E;
        font-weight: 500;
        font-size: 20px;
      }
    }

    .EmailToolDropdown{
      .dropDownIconContainer{
        position: absolute;
        top: 5px;
        right: 20px;
        pointer-events: none;
      }
      .dropdown-toggle{
        &::after{
          display: none;
        }
      }
    }

    .EmailToolDropdownButton {
      text-align: left !important;
      color: #9B9E9E !important;
      background: url("select-caret.png") 98% 50% no-repeat;
      background-size: 10px 10px;
      border: 1px solid #ccc;
      line-height: 2px;
      padding-left: 10px;
    }

    .EmailToolDropdownMenu {
      width: 100%;
      border-top-right-radius: 0;
      border-top-left-radius: 0;
      margin-top: -3px;
      border: solid 1px #ccc;
      border-top: none;
      padding-bottom: 0;
      max-height: 250px;
      overflow-y: scroll;
      z-index: 9999;
      ul{
        list-style: none;
        font-size: 16px;
        padding-left: 5px;
        padding-bottom: 2px;
        li{
          &:hover{
            color: $teal;
          }
          .personRole{
            font-size: 16px;
            color: #9c9c9c;
            font-style: italic;
          }
          .removeButton{
            color: #c44342;
            font-size: 15px;
            font-style: italic;
            &:hover{
              text-decoration: underline;
            }
          }
        }
      }

      img {
        margin-left: 25px;
      }
    }

    .EmailToolDropdownItem:hover {
      background-color: #E8FBFA !important;
      border-radius: 6px;
      box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
    }

    .EmailToolAnchorStyleOne {
      color: #21D8D2;
      font-size: 12px;
      padding-left: 10px;
      &:hover {
        text-decoration: none;
        color: #21D8D2;
      }
    }

    .EmailToolAnchorStyleTwo {
      color: #404040;
      font-size: 14px;
      &:hover {
        color: #21D8D2;
      }
    }

    .EmailToolForm textarea {
      font-style: italic;
      color: #9B9E9E;
    }

    .EmailToolButtonOne {
      background-color: #C44342;
      border-radius: 6px;
      color: white;
      font-size: 12px;
      border: none;
      width: 100px;
      height: 35px;
      &:hover {
        background-color: white;
        border: 2px solid #C44342;
        color: #C44342;
        font-weight: 500;
      }
    }

    #EmailToolCloseStyle {
      color: #21D8D2;
      font-size: 12px;
    }
  }

  .ql-editor{
    min-height: 300px !important;
  }

  .sendEmailButtonContainer{
    width: 100px;
    float: right;
    margin-top: 30px;
    button{
      font-size: 14px;
      padding: 12px 7px 12px 7px;
      font-weight: lighter;
    }
  }
}


@media screen and (max-width: 600px) {
  .EmailToolDropdownMenu img {
    max-width: 200px;
  }
}