#splitDocumentModal{
  .header{
    background: $teal;
    margin-top: -20px;
    font-size: 15px;
    color: white;
    font-weight: lighter;
  }
  .closeButton{
    position: absolute;
    height: 40px;
    width: 40px;
    z-index: 1;
    top: -18px;
    right: -10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: white;
    color: $teal;
    border: solid 1px #ccc;
    font-size: 25px;
    cursor: pointer;
  }
  .adHocDocInputContainer{
    padding: 25px 25px 0 25px;
    input{
      padding: 15px;
      height: 50px;
      color: #000;
      border: 0;
      border-radius: 5px;
      border: solid 1px #ccc;
      width: 90%;
    }
  }
  .docListContainer{
    h4{
      color: $teal;
      font-size: 12px;
      font-style: italic;
      text-align: left;
      margin-left: 60px;
      cursor: pointer;
    }
  }
  .docList{
    ul{
      list-style: none;
      li{
        cursor: pointer;
        text-align: left;
        font-size: 15px;
        padding-left: 20px;
      }
    }
  }
  .saveButtonContainer{
    float: right;
    padding: 10px;
    margin-right: 35px;
    button{
      padding: 10px 40px 10px 40px;
    }
  }
}