<template>
    <div class="Q mb-0">
        <center>
            <p class="display-1">{{titleText}}</p>
            <a href="#/" class="SkipStepStyle" v-on:click="noAgent">{{prefix}} is Representing Themselves Skip This Step.</a>
            <div id="searchResults" class="hidden" style="margin-top:5px;">
                <a id="searchResultsText" class="SkipStepStyle">{{searchText}}</a>
                <a
                        style="font-weight: bold;"
                        class="SkipStepStyle"
                        v-on:click="displayAgents"
                        v-if="agents.length > 0"
                >
                    View
                </a>
            </div>
            <form class="mt-2 BuyerSellerAgentInfo">
                <div class="row">
                    <div class="form-group col-md-6">
                        <input
                                v-model="NameFirst"
                                type="text"
                                :name="prefix+'sAgent_NameFirst'"
                                id="NameFirst"
                                placeholder="FIRST NAME"
                                class="AnswerChoice"
                        >
                    </div>
                    <div class="form-group col-md-6">
                        <input
                                v-model="NameLast"
                                type="text"
                                :name="prefix+'sAgent_NameLast'"
                                id="NameLast"
                                placeholder="LAST NAME"
                                class="AnswerChoice"
                        >
                    </div>
                    <div class="form-group col-md-6">
                        <input
                                v-model="Email"
                                type="text"
                                :name="prefix+'sAgent_Email'"
                                id="Email"
                                placeholder="EMAIL ADDRESS"
                                class="AnswerChoice"
                        >
                    </div>
                    <div class="form-group col-md-6">
                        <input
                                v-model="Phone"
                                type="text"
                                :name="prefix+'sAgent_Phone'"
                                v-mask="'(###)-###-####'"
                                maxlength="14"
                                placeholder="PHONE #"
                                class="AnswerChoice"
                        >
                    </div>
                    <div class="form-group col-md-6">
                        <input
                                v-model="BrokerageOffice"
                                type="text"
                                :name="prefix+'sAgent_BrokerageOffice'"
                                id="BrokerageOffice"
                                placeholder="AGENT'S BROKERAGE"
                                class="AnswerChoice"
                        >
                    </div>
                    <div class="form-group col-md-6">
                        <input
                                v-model="License"
                                type="text"
                                :name="prefix+'sAgent_License'"
                                id="License"
                                placeholder="AGENT'S LICENSE #"
                                class="AnswerChoice"
                        >
                    </div>
                    <input
                            class="AnswerChoice"
                            type="hidden"
                            v-model="ID"
                            id="ID"
                            :name="prefix+'sAgent_ID'"
                    >
                    <input
                            class="AnswerChoice"
                            type="hidden"
                            v-model="BrokerageOfficeID"
                            id="BrokerageOfficeID"
                            :name="prefix+'sAgent_BrokerageOfficeID'"
                    >
                    <input
                            class="AnswerChoice"
                            type="hidden"
                            v-model="UUID"
                            id="UUID"
                            :name="prefix+'sAgent_UUID'"
                    >
                    <input
                            class="AnswerChoice"
                            type="hidden"
                            v-model="Users_ID"
                            id="Users_ID"
                            :name="prefix+'sAgent_Users_ID'"
                    >
                    <input
                            class="AnswerChoice"
                            type="hidden"
                            v-model="NotInList"
                            id="NotInList"
                            :name="prefix+'sAgent_NotInList'"
                    >
                </div>
            </form>
        </center>
        <div v-if="agents.length > 0" class="modal" id="AgentPopup">
            <div class="vertical-alignment-helper">
                <div class="modal-dialog vertical-align-center">
                    <div class="modal-content">
                        <div class="modal-body">
                            <center>
                                <h5 class="d-inline-block mb-3">Select {{prefix}}'s Agent:</h5>
                            </center>
                            <button v-on:click="displayCategories" type="button" class="close shadow" data-dismiss="modal">&times;</button>
                            <ul>
                                <li v-for="agent in agents" v-on:click="selectAgent(agent)">{{ agent.NameFull || agent.NameFirst+' '+agent.NameLast }}</li>
                                <li class="border-0" v-on:click="agentNotInList">{{prefix}}’s agent is not in this list</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import {has} from 'lodash';
    export default {
        name: "AgentInformation",
        components: {
            has
        },
        props: {
            friendlyIndex: {
                type: String,
                default: null,
            },
            title: {
                type: String,
                default: null,
            },
            answerChoices:{
                type: Array,
                default: () => []
            },
            currentAnswers: {
                type: Object,
                default: () => {},
            },
            prefix: {
                type: String,
                default: '',
            },
            token: {
                type: String,
                default: '',
            },
        },
        computed: {
            titleText(){
                let title = this.title;
                if (this.userData.userID == this.Users_ID) title = 'Please Confirm Your Information.';
                return title;
            },
            searchAgentFields(){
                return this.NameFirst+this.NameLast+this.Email+
                       this.Phone+this.License+this.BrokerageOffice;
            }
        },
        watch: {
            searchAgentFields: {
                handler(val){
                    if (val) this.searchAgent();
                    else this.cancelAgentSearch();
                }
            },
            Phone: {
                handler(val){
                    let msg = 'Please enter a valid phone number.';
                    if (val.length < 14 && val)
                        this.errors.push(msg);
                    else this.errors = removeFromArray(this.errors, msg);
                }
            },
            Email: {
                handler(val){
                    let msg = 'Please enter a valid email address.';
                    if ((val.indexOf('@') === -1 || val.indexOf('.') === -1) && val)
                        this.errors.push(msg);
                    else this.errors = removeFromArray(this.errors, msg);
                },
            },
            License: {
                handler(val){
                    this.License = val.replace(/[^0-9]/g, '');
                }
            },
            errors: {
                handler(val){
                    val = uniqueValueArray(val);
                    this.$root.$emit('__addErrors', val);
                },
                deep: true,
            }
        },
        methods: {
            debounceFunction(func,timer){
                let vueObject = this;
                return _.debounce(()=>{
                    vueObject[func]();
                },timer);
            },
            displayCategories(){
                $('.categories').show();
            },
            hideCategories(){
                $('.categories').hide();
            },
            closeAgentsModal(){
                $('#AgentPopup').modal('hide');
                this.displayCategories();
            },
            displayAgents(){
                this.hideCategories();
                $('#AgentPopup').modal({backdrop:'static',keyboard:false});
            },
            noAgent(){
                let vueObject = this;
                vueObject.ID = 0;
                this.NameFirst = '';
                this.NameLast = '';
                this.Email = '';
                this.Phone = '';
                this.License = '';
                this.BrokerageOffice = '';
                this.BrokerageOfficeID = '';
                this.UUID = '';
                this.Users_ID = '';
                setTimeout(()=>{
                    vueObject.$root.$emit('next');
                },250);
            },
            agentNotInList(){
                this.NotInList = 1;
                this.closeAgentsModal();
            },
            selectAgent(agent){
                this.ID                 = agent.ID || 0;
                this.NameFirst          = agent.NameFirst || '';
                this.NameLast           = agent.NameLast || '';
                this.Email              = agent.Email || '';
                this.Phone              = agent.Phone || '';
                this.License            = agent.License || '';
                this.BrokerageOffice    = agent.BrokerageOfficeName || '';
                this.BrokerageOfficeID  = agent.BrokerageOfficeID || '';
                this.UUID               = agent.UUID || '**';
                this.Users_ID           = agent.Users_ID || null;
                $('#AgentPopup').modal('hide');
                this.displayCategories();
            },
            cancelAgentSearch(){
                if (this.cancelSource) this.cancelSource.cancel('Starting a new search, aborting active search.');
            },
            searchAgent: _.debounce(function(){
                this.searchText = 'Searching...';
                this.cancelAgentSearch();
                this.cancelSource = axios.CancelToken.source();
                let vueObject = this;
                let dataObject = {
                    NameFirst: this.NameFirst,
                    NameLast: this.NameLast,
                    Email: this.Email,
                    Phone: this.Phone,
                    License: this.License,
                    ID: this.ID,
                    BrokerageOfficeID: this.BrokerageOfficeID,
                    BrokerageOffice: this.BrokerageOffice,
                    _token: this.token,
                };

                axios.post(route('search.agent').url(), dataObject, {cancelToken: this.cancelSource.token}).then((r) => {
                    console.log({
                        AgentSearchResponse: r,
                    });
                    let status = r.data.status;
                    if (status == 'success')
                    {
                        vueObject.agents            = r.data.agents;
                        vueObject.cancelSource      = null;
                        let searchResultsContainer  = $('#searchResults');
                        let agentCount              = vueObject.agents.length;
                        searchResultsContainer.removeClass('hidden');
                        if(agentCount > 0)
                        {
                            let rText = agentCount > 1 ? 'records' : 'record';
                            this.searchText = agentCount+' '+rText+' found.';
                        }
                        else
                        {
                            this.searchText = 'No records found.';
                        }
                    }
                }).catch((err) => {
                    console.log({
                        agentSearchError: err,
                    });
                });
            }, 500),
        },
        data(){
            return {
                agents: [],
                answers: {},
                NameFirst: '',
                NameLast: '',
                Email: '',
                Phone: '',
                License: '',
                BrokerageOffice: '',
                BrokerageOfficeID: '',
                UUID: '',
                Users_ID: '',
                ID: '0',
                NotInList: 0,
                cancelSource: null,
                searchText: '',
                errorMessages: {},
                errors: [],
                userData: this.$store.getters.getUserData(),
            }
        },
        mounted() {
            this.NameFirst          = this.currentAnswers[this.prefix+'sAgent_NameFirst'].Answer            || '';
            this.NameLast           = this.currentAnswers[this.prefix+'sAgent_NameLast'].Answer             || '';
            this.Email              = this.currentAnswers[this.prefix+'sAgent_Email'].Answer                || '';
            this.Phone              = this.currentAnswers[this.prefix+'sAgent_Phone'].Answer                || '';
            this.BrokerageOffice    = this.currentAnswers[this.prefix+'sAgent_BrokerageOffice'].Answer      || '';
            this.License            = this.currentAnswers[this.prefix+'sAgent_License'].Answer              || '';
            this.BrokerageOfficeID  = this.currentAnswers[this.prefix+'sAgent_BrokerageOfficeID'].Answer    || '';
            this.ID                 = this.currentAnswers[this.prefix+'sAgent_ID'].Answer                   || '0';
            this.UUID               = this.currentAnswers[this.prefix+'sAgent_UUID'].Answer                 || '';
            this.Users_ID           = this.currentAnswers[this.prefix+'sAgent_Users_ID'].Answer             || '';
            this.NotInList          = this.currentAnswers[this.prefix+'sAgent_NotInList'].Answer            || '';

            this.errorMessages[this.prefix+'sAgent_NameFirst'] = {required: 'First name is required.'};
            this.errorMessages[this.prefix+'sAgent_NameLast'] = {required: 'Last name is required.'};
            this.errorMessages[this.prefix+'sAgent_Email'] = {required: 'Email address is required.'};
            this.errorMessages[this.prefix+'sAgent_Phone'] = {required: 'A phone number is required.'};
            this.errorMessages[this.prefix+'sAgent_License'] = {required: 'License is required.'};

            this.$parent.$emit('setErrorMessages', this.errorMessages);
        }
    }
</script>

<style scoped>

</style>