<template>
    <div>
        <center>
            <p class="questionnaire-title">{{title}}</p>
        </center>
        <div class="mt-4 mb-4 ContingencyStyle">
            <div class="form-check">
                <label class="form-check-label">
                    <input
                            type="checkbox"
                            class="form-check-input AnswerChoice booleanCheckbox"
                            name="hasBuyerSellContingency"
                            :checked="currentAnswers['hasBuyerSellContingency'].Answer == 1"
                            :value="currentAnswers['hasBuyerSellContingency'].Answer || 0"
                    > BUYER SELLING ANOTHER HOME
                </label>
            </div>
            <div class="form-check">
                <label class="form-check-label">
                    <input
                            class="form-check-input AnswerChoice booleanCheckbox"
                            type="checkbox"
                            name="hasSellerBuyContingency"
                            :checked="currentAnswers['hasSellerBuyContingency'].Answer == 1"
                            :value="currentAnswers['hasBuyerSellContingency'].Answer || 0"
                    > SELLER BUYING ANOTHER HOME
                </label>
            </div>
            <div class="form-check">
                <label class="form-check-label">
                    <input
                            type="checkbox"
                            class="form-check-input"
                            name="contingency"
                            v-model="inspectionContingencyChecked"
                    > INSPECTION CONTINGENCY<br>
                    <div v-bind:class="inspectionContingencyClass">
                        <span>HOW MANY DAYS UNTIL THE INSPECTION CONTINGENCY MUST BE REMOVED</span>
                        <input
                                type="text"
                                class="AnswerChoice"
                                name="hasInspectionContingency"
                                v-model="inspectionContingency"
                        >
                    </div>
                </label>
            </div>
            <div class="form-check">
                <label class="form-check-label">
                    <input
                            type="checkbox"
                            class="form-check-input"
                            name="contingency"
                            v-model="appraisalContingencyChecked"
                    >
                    APPRAISAL CONTINGENCY<br>
                    <div :class="appraisalContingencyClass">
                        <span>HOW MANY DAYS UNTIL THE APPRAISAL CONTINGENCY MUST BE REMOVED</span>
                        <input
                                type="text"
                                class="AnswerChoice"
                                name="hasAppraisalContingency"
                                v-model="appraisalContingency"
                        >
                    </div>
                </label>
            </div>
            <div class="form-check">
                <label class="form-check-label">
                    <input
                            type="checkbox"
                            class="form-check-input"
                            name="contingency"
                            v-model="loanContingencyChecked"
                    >
                    LOAN CONTINGENCY<br>
                    <div :class="loanContingencyClass">
                        <span>HOW MANY DAYS UNTIL THE LOAN CONTINGENCY MUST BE REMOVED</span>
                        <input
                                type="text"
                                class="AnswerChoice"
                                name="hasLoanContingency"
                                v-model="loanContingency"
                        >
                    </div>
                </label>
            </div>
            <div class="form-check">
                <label class="form-check-label">
                    <input
                            type="checkbox"
                            class="form-check-input AnswerChoice booleanCheckbox"
                            name="needsTermiteInspection"
                            :checked="currentAnswers['needsTermiteInspection'].Answer == 1"
                            :value="currentAnswers['needsTermiteInspection'].Answer || 0"
                    > TERMITE INSPECTION CONTINGENCY<br>
                </label>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "CT_Contingencies",
        components: {

        },
        computed: {
            appraisalContingencyClass(){
                return {
                    'additionalData hidden' : this.currentAnswers['hasAppraisalContingency'].Answer == 0,
                    'additionalData' : this.currentAnswers['hasAppraisalContingency'].Answer > 0,
                }
            },
            inspectionContingencyClass(){
                return {
                    'additionalData hidden' : this.currentAnswers['hasInspectionContingency'].Answer == 0,
                    'additionalData' : this.currentAnswers['hasInspectionContingency'].Answer > 0,
                }
            },
            loanContingencyClass(){
                return {
                    'additionalData hidden' : this.currentAnswers['hasLoanContingency'].Answer == 0,
                    'additionalData' : this.currentAnswers['hasLoanContingency'].Answer > 0,
                }
            }
        },
        props: {
            friendlyIndex: {
                type: String,
                default: null,
            },
            title: {
                type: String,
                default: null,
            },
            answerChoices:{
                type: Array,
                default: () => []
            },
            currentAnswers: {
                type: Object,
                default: () => {},
            },
        },
        watch: {
            inspectionContingencyChecked: {
                handler(val){
                    if (val && !this.inspectionContingency) this.inspectionContingency = this.inspContDefault;
                    else if (!val) this.inspectionContingency = 0;
                },
            },
            appraisalContingencyChecked: {
                handler(val){
                    if (val && !this.appraisalContingency) this.appraisalContingency = this.appContDefault;
                    else if (!val) this.appraisalContingency = 0;
                },
            },
            loanContingencyChecked: {
                handler(val){
                    if (val && !this.loanContingency) this.loanContingency = this.loanContDefault;
                    else if (!val) this.loanContingency = 0;
                },
            },
        },
        data(){
            return {
                inspContDefault: 17,
                appContDefault: 17,
                loanContDefault: 21,
                inspectionContingencyChecked: this.currentAnswers['hasInspectionContingency'].Answer > 0,
                appraisalContingencyChecked: this.currentAnswers['hasAppraisalContingency'].Answer > 0,
                loanContingencyChecked: this.currentAnswers['hasLoanContingency'].Answer > 0,
                inspectionContingency: this.currentAnswers['hasInspectionContingency'].Answer || 0,
                appraisalContingency: this.currentAnswers['hasAppraisalContingency'].Answer || 0,
                loanContingency: this.currentAnswers['hasLoanContingency'].Answer || 0,
            }
        },
        mounted() {
            $('.form-check-input').click(function () {
                if ($(this).prop('checked'))
                {
                    $(this).siblings('.additionalData').removeClass('hidden');
                }
                else
                {
                    if(!$(this).siblings('.additionalData').hasClass('hidden'))
                        $(this).siblings('.additionalData').addClass('hidden');
                }
            });
        }
    }
</script>

<style scoped>

    .form-check{
        width: 110%;
    }
</style>