<template>
    <div>
        <center>
            <p class="questionnaire-title">{{title}}</p>
            <form class="py-4 mb-2 EscrowDateStyle">
                <input
                        readonly
                        placeholder="MM/DD/YYYY"
                        type="text"
                        id="date"
                        v-model="escrowDate"
                >
            </form>
            <input type="hidden" class="AnswerChoice" name="EscrowCloseDate" :value="formattedDate">
        </center>
    </div>
</template>

<script>
    import moment from 'moment';
    export default {
        name: "CT_EscrowDate",
        components: {
            moment,
        },
        props: {
            title: {
                type: String,
                default: '',
            },
            answerChoices:{
                type: Array,
                default: () => []
            },
            currentAnswers: {
                type: Object,
                default: () => {},
            },
            allAnswersByFriendlyIndex: {
                type: Object,
                default: () => {},
            },
            allData: {
                type: Object,
                default: () => {},
            },
        },
        watch: {
            escrowDate: {
                handler(val){
                    if (val === 'Invalid date') val = this.escrowDate = '';
                    if (val && val !== 'Invalid date')
                    {
                        let a = moment(this.dateAcceptance);
                        let b = moment(this.escrowDate);
                        let diff = Math.abs(a.diff(b, 'days'));
                        if (b.isBefore(a))
                        {
                            genericWarning('Close of Escrow cannot be before the Date of Acceptance.');
                            this.escrowDate = '';
                        }
                        else if (diff < 7)
                        {
                            genericWarning('Close of Escrow must be at least 7 days from Date of Acceptance.');
                            this.escrowDate = '';
                        }
                    }
                }
            }
        },
        computed: {
            formattedDate(){
                let date = moment(this.escrowDate, 'MM/DD/YYYY').format('YYYY-MM-DD');
                if (date == 'Invalid date') return '';
                return date;
            }
        },
        data(){
            return {
                escrowDate: '',
                dateAcceptance: this.allAnswersByFriendlyIndex['DateAcceptance'] || '',
                errorMessages: {
                    EscrowCloseDate: {
                        required: 'Please select a date.',
                    }
                }
            }
        },
        mounted() {
            let v = this;
            $('#date').datepicker({
                onSelect: function() {
                    let dateObject = $(this).datepicker('getDate');
                    console.log({
                        dateObject: dateObject,
                    });
                    v.escrowDate = moment(dateObject).format('MM/DD/YYYY');
                }
            });
            let oldValue = this.currentAnswers['EscrowCloseDate'].Answer;
            if (oldValue) this.escrowDate = moment(oldValue, 'YYYY-MM-DD').format('MM/DD/YYYY');
            if (!this.dateAcceptance)
            {
                Swal2({
                    text: 'Please select the Acceptance Date before completing this question.',
                    confirmButtonText: 'Select Acceptance Date',
                    showCancelButton: false,
                    allowOutsideClick: false,
                }).then(() => {
                    v.$parent.$emit('goToFriendlyIndex', 'DateAcceptance');
                });
            }
            this.$parent.$emit('setErrorMessages', this.errorMessages);
        }
    }
</script>

<style scoped>

</style>