<template>
    <div>
        <div>
            <center>
                <question-title :title="title"></question-title>
            </center>
        </div>
        <center>
            <form class="my-4 pb-3 BuyerSellerAgentInfo">
                <div class="row">
                    <div class="form-group col-md-6">
                        <input
                                class="AnswerChoice"
                                type="text"
                                :name="addPrefix('_NameFirst')"
                                v-model="nameFirst"
                                :placeholder="prefix.toUpperCase()+'\'S FIRST NAME'"
                        >
                    </div>
                    <div class="form-group col-md-6">
                        <input
                                class="AnswerChoice"
                                type="text"
                                :name="addPrefix('_NameLast')"
                                v-model="nameLast"
                                :placeholder="prefix.toUpperCase()+'\'S LAST NAME'"
                        >
                    </div>
                    <div class="form-group col-md-6">
                        <input
                                class="AnswerChoice"
                                type="text"
                                :name="addPrefix('_Email')"
                                v-model="email"
                                :placeholder="prefix.toUpperCase()+'\'S EMAIL'"
                        >
                    </div>
                    <div class="form-group col-md-6">
                        <input
                                id="phone"
                                class="AnswerChoice"
                                type="text"
                                :name="addPrefix('_Phone')"
                                v-model="phone"
                                maxlength="14"
                                :placeholder="prefix.toUpperCase()+'\'S PHONE'"
                                v-mask="'(###)-###-####'"
                        >
                    </div>
                </div>
            </form>
        </center>
    </div>
</template>

<script>
    import QuestionTitle from "../../QuestionTitle";
    export default {
        name: "CT_HomesumerInfo",
        components: {
            QuestionTitle,
        },
        props: {
            prefix: {
                type:String,
                default: '',
            },
            pos: {
                type: String,
                default: '',
            },
            currentAnswers: {
                type: Object,
                default: () => {},
            },
        },
        computed: {
            title(){
                let returnValue = '';
                if (this.prefix == 'Buyer')
                {
                    returnValue = 'What is the buyer\'s contact information?';
                    if (this.pos == 2)
                        returnValue = 'What is the other buyer\'s contact information?';
                }
                else if (this.prefix == 'Seller')
                {
                    returnValue = 'What is the seller\'s contact information?';
                    if (this.pos == 2)
                        returnValue = 'What is the other seller\'s contact information?';
                }
                if ((this.userIsBuyer1 == 1 || this.userIsSeller1 == 1) && this.pos == 1)
                    returnValue = 'Please confirm your contact information.';
                return returnValue;
            },
        },
        watch: {
            phone: {
                handler(val){
                    let msg = 'Please enter a valid phone number.';
                    if (val && val.length < 14)
                        this.errors.push(msg);
                    else this.errors = removeFromArray(this.errors, msg);
                }
            },
            email: {
                handler(val){
                    let msg = 'Please enter a valid email address.';
                    if ((val.indexOf('@') === -1 || val.indexOf('.') === -1) && val)
                        this.errors.push(msg);
                    else this.errors = removeFromArray(this.errors, msg);
                },
            },
            errors: {
                handler(val){
                    this.$root.$emit('__addErrors', val);
                },
                deep: true,
            }
        },
        data(){
            return {
                nameFirst:      this.currentAnswers[this.addPrefix('_NameFirst')].Answer || '',
                nameLast:       this.currentAnswers[this.addPrefix('_NameLast')].Answer || '',
                email:          this.currentAnswers[this.addPrefix('_Email')].Answer || '',
                phone:          this.currentAnswers[this.addPrefix('_Phone')].Answer || '',
                userIsBuyer1:   false,
                userIsSeller1:  false,
                errorMessages:  {},
                errors:         [],
            }
        },
        methods: {
            addPrefix(field){
                return this.prefix+this.pos+field;
            }
        },
        mounted() {
            this.errorMessages[this.addPrefix('_NameFirst')] = {required: 'First name is required.',};
            this.errorMessages[this.addPrefix('_NameLast')] = {required: 'Last name is required.',};
            this.errorMessages[this.addPrefix('_Email')] = {required: 'An email address is required.',};
            this.errorMessages[this.addPrefix('_Phone')] = {required: 'A phone number is required.',};

            if (this.currentAnswers['userIsBuyer1'] !== undefined)
                this.userIsBuyer1 = this.currentAnswers['userIsBuyer1'].Answer == 1;
            if (this.currentAnswers['userIsSeller1'] !== undefined)
                this.userIsBuyer1 = this.currentAnswers['userIsSeller1'].Answer == 1;

            this.$parent.$emit('setErrorMessages', this.errorMessages);
        }
    }
</script>

<style scoped>

</style>