<template>
    <div class="Q">
        <center>
            <p class="questionnaire-title">Invite others to use Offer To Close<br> to assist with this transaction</p>
            <a href="#/" class="SkipStepStyle" v-on:click="skipInvitation">Skip This Step</a>
            <br>
            <form class="mt-4 mb-3">
                <div style="max-width: 500px;">
                    <div class="InviteFieldStyle" id="select-wrapper">
                        <div id="icon"><i class="fas fa-chevron-down"></i></div>
                        <div v-if="!role" id="select-cover" class="InviteFieldStyle">ROLE</div>
                        <select class="InviteFieldStyle" v-model="role" id="role-select">
                            <option value=""></option>
                            <option value="ba" v-if="!isUserThisRole('ba') && ba_f && ba_l && ba_e && !invitations['ba']">{{ba_nf}}</option>
                            <option value="ba" v-else-if="!isUserThisRole('ba') && !invitations['ba']">Buyer's Agent</option>
                            <option value="sa" v-if="!isUserThisRole('sa') && sa_f && sa_l && sa_e &&!invitations['sa']">{{sa_nf}}</option>
                            <option value="sa" v-else-if="!isUserThisRole('sa') && !invitations['sa']">Seller's Agent</option>
                            <option value="btc" v-if="!isUserThisRole('btc') && !invitations['btc']">Buyer's Transaction Coordinator</option>
                            <option value="stc" v-if="!isUserThisRole('stc') && !invitations['stc']">Seller's Transaction Coordinator</option>
                            <option value="b1" v-if="!isUserThisRole('b1') && b1_f && b1_l && b1_e && !invitations['b1']">{{b1_nf}}</option>
                            <option value="b1" v-else-if="!isUserThisRole('b1') && !invitations['b1']">Buyer 1</option>
                            <option value="b2" v-if="!isUserThisRole('b2') && b2_f && b2_l && b2_e && !invitations['b2']">{{b2_nf}}</option>
                            <option value="b2" v-else-if="!isUserThisRole('b2') && !invitations['b2']">Buyer 2</option>
                            <option value="s1" v-if="!isUserThisRole('s1') && s1_f && s1_l && s1_e && !invitations['s1']">{{s1_nf}}</option>
                            <option value="s1" v-else-if="!isUserThisRole('s1') && !invitations['s1']">Seller 1</option>
                            <option value="s2" v-if="!isUserThisRole('s2') && s2_f && s2_l && s2_e && !invitations['s2']">{{s2_nf}}</option>
                            <option value="s2" v-else-if="!isUserThisRole('s2') && !invitations['s2']">Seller 2</option>
                        </select>
                    </div>
                </div>
                <br>
                <div style="max-width:500px;">
                    <div id="email-wrapper" class="InviteFieldStyle">
                        <input
                                type="email"
                                name="email"
                                v-model="Email"
                                placeholder="EMAIL ADDRESS"
                                style="text-align: center"
                                class="InviteFieldStyle">
                        <a
                                href="#/"
                                class="SkipStepStyle d-block"
                                id="sendInviteButton"
                                v-on:click="addInvite"
                        >Send Invite</a>
                    </div>
                </div>
                <input
                        type="hidden"
                        name="SkipInvitation"
                        v-model="skipInvitationFlag"
                        class="AnswerChoice"
                >
                <input
                        type="hidden"
                        name="Invitations"
                        v-model="jsonEncodedInvitations"
                        class="AnswerChoice"
                >
            </form>
            <div class="row" id="invitations-wrapper">
                <span class="col-xs-12 col-sm-4">Invites to be sent: </span>
                <div v-if="invitationsCount" class="col-xs-12 col-sm-8">
                    <ul>
                        <li v-for="(email,role) in invitations" v-if="email">{{roleTranslator[role]}} : <span class="SkipStepStyle">{{email}}</span>
                            <span class="otc-red" style="font-size: 10px; cursor: pointer;" v-on:click="removeInvite(role)"><i class="fas fa-times"></i></span>
                        </li>
                    </ul>
                </div>
            </div>
        </center>
    </div>
</template>

<script>
    export default {
        name: "CT_Invitation",
        components: {

        },
        props: {
            friendlyIndex: {
                type: String,
                default: null,
            },
            title: {
                type: String,
                default: null,
            },
            answerChoices:{
                type: Array,
                default: () => []
            },
            allAnswersByFriendlyIndex: {
                type: Object,
                default: () => {},
            },
        },
        computed: {
            invitationsCount(){
                let count = 0;
                $.each(this.invitations, (role, email) => {
                    if (email) count++;
                });
                return count;
            },
            jsonEncodedInvitations(){
                return JSON.stringify(this.invitations);
            },
            /**
             * The following computed properties are for ease of use.
             * nf stands for NameFull, e stands for Email,
             * f stands for NameFirst, l stands for NameLast.
             */
            b1_nf(){
                let ans = this.all_ans;
                return ans['Buyer1_NameFirst']+' '+ans['Buyer1_NameLast'];
            },
            b1_f(){
                let ans = this.all_ans;
                return ans['Buyer1_NameFirst'];
            },
            b1_l(){
                let ans = this.all_ans;
                return ans['Buyer1_NameLast'];
            },
            b1_e(){
                return this.all_ans['Buyer1_Email'];
            },
            b2_nf(){
                let ans = this.all_ans;
                return ans['Buyer2_NameFirst']+' '+ans['Buyer2_NameLast'];
            },
            b2_f(){
                let ans = this.all_ans;
                return ans['Buyer2_NameFirst'];
            },
            b2_l(){
                let ans = this.all_ans;
                return ans['Buyer2_NameLast'];
            },
            b2_e(){
                return this.all_ans['Buyer2_Email'];
            },
            s1_nf(){
                let ans = this.all_ans;
                return ans['Seller1_NameFirst']+' '+ans['Seller1_NameLast'];
            },
            s1_f(){
                let ans = this.all_ans;
                return ans['Seller1_NameFirst'];
            },
            s1_l(){
                let ans = this.all_ans;
                return ans['Seller1_NameLast'];
            },
            s1_e(){
                return this.all_ans['Seller1_Email'];
            },
            s2_nf(){
                let ans = this.all_ans;
                return ans['Seller2_NameFirst']+' '+ans['Seller2_NameLast'];
            },
            s2_f(){
                let ans = this.all_ans;
                return ans['Seller2_NameFirst'];
            },
            s2_l(){
                let ans = this.all_ans;
                return ans['Seller2_NameLast'];
            },
            s2_e(){
                return this.all_ans['Seller2_Email'];
            },
            ba_nf(){
                let ans = this.all_ans;
                return ans['BuyersAgent_NameFirst']+' '+ans['BuyersAgent_NameLast'];
            },
            ba_f(){
                let ans = this.all_ans;
                return ans['BuyersAgent_NameFirst'];
            },
            ba_l(){
                let ans = this.all_ans;
                return ans['BuyersAgent_NameLast'];
            },
            ba_e(){
                return this.all_ans['BuyersAgent_Email'];
            },
            sa_nf(){
                let ans = this.all_ans;
                return ans['SellersAgent_NameFirst']+' '+ans['SellersAgent_NameLast'];
            },
            sa_f(){
                let ans = this.all_ans;
                return ans['SellersAgent_NameFirst'];
            },
            sa_l(){
                let ans = this.all_ans;
                return ans['SellersAgent_NameLast'];
            },
            sa_e(){
                return this.all_ans['SellersAgent_Email'];
            },
        },
        watch: {
            role: {
                handler(val){
                    this.Email = '';
                    switch(val)
                    {
                        case 'ba':
                            this.Email = this.ba_e;
                            break;
                        case 'sa':
                            this.Email = this.sa_e;
                            break;
                        case 'b1':
                            this.Email = this.b1_e;
                            break;
                        case 'b2':
                            this.Email = this.b2_e;
                            break;
                        case 's1':
                            this.Email = this.s1_e;
                            break;
                        case 's2':
                            this.Email = this.s2_e;
                            break;
                    }
                },
            }
        },
        methods: {
            isUserThisRole(role){
                let roleSide = role.charAt(0);
                return (this.side == 'bs' || this.side == roleSide) && this.roleCodeToUserRole[role] == this.userRole;
            },
            skipInvitation(){
                this.skipInvitationFlag = 1;
                setTimeout(() => {
                    this.$root.$emit('next');
                },250);
            },
            removeInvite(role){
                if (this.invitations[role]) this.invitations[role] = '';
            },
            addInvite(){
                if (this.role && this.role != 'ROLE')
                {
                    this.invitations[this.role] = this.Email;
                    this.Email = '';
                    this.role = '';
                }
            },
        },
        data(){
            return {
                skipInvitationFlag: 0,
                role: '',
                Email: '',
                userRole: this.$store.getters.getUserData().userRole,
                side: this.allAnswersByFriendlyIndex['TransactionSide'],
                roleTranslator: {
                    ba:  'Buyer\'s Agent',
                    sa:  'Seller\'s Agent',
                    btc: 'Buyer\'s Transaction Coordinator',
                    stc: 'Seller\'s Transaction Coordinator',
                    b1:  'Buyer',
                    b2:  'Buyer',
                    s1:  'Seller',
                    s2:  'Seller',
                },
                roleCodeToUserRole: {
                    b1:  'h',
                    b2:  'h',
                    s1:  'h',
                    s2:  'h',
                    btc: 'tc',
                    stc: 'tc',
                    ba:  'a',
                    sa:  'a',
                },
                invitations: {
                    ba:  '',
                    sa:  '',
                    btc: '',
                    stc: '',
                    b1:  '',
                    b2:  '',
                    s1:  '',
                    s2:  '',
                },
                all_ans: {},
            }
        },
        mounted() {
            this.all_ans = this.allAnswersByFriendlyIndex;
            $('.form-check-input').click(function () {
                if ($(this).prop('checked'))
                {
                    $(this).siblings('.additionalData').removeClass('hidden');
                }
                else
                {
                    if(!$(this).siblings('.additionalData').hasClass('hidden'))
                        $(this).siblings('.additionalData').addClass('hidden');
                }
            });
        }
    }
</script>

<style scoped>
    #icon{
        position: absolute;
        height: 50px;
        right: 0;
        top: -1px;
        z-index: 3;
        display: flex;
        align-items: center;
        justify-content: center;
        background: black;
        width: 35px;
        color: white;
        font-size: 20px;
    }
    #select-wrapper{
        position: relative;
    }
    #role-select{
        padding-left: 23%;
        position: absolute;
        left: -1px;
        top: -1px;
    }
    #email-wrapper{
        position: relative;
        background: white;
        border: none;
        padding: 0;
    }
    #email-wrapper a{
        position: absolute;
        right: -70px;
        top: 35%;
        font-size: 13px;
    }
    @media screen and (max-width: 1060px){
        #email-wrapper a{
            position: unset;
        }
        #email-wrapper{
            margin-bottom: 40px;
        }
    }
    #invitations-wrapper{
        width: 100%;
        max-width: 500px;
    }
    #invitations-wrapper div{
        border: solid 2px #ccc;
        padding: 0;
    }
    #invitations-wrapper span:first-child{
        padding: 0;
    }
    #invitations-wrapper ul{
        padding-inline-start: 0;
        list-style: none;
        font-size: 10px;
    }
    #select-cover{
        position: absolute;
        padding: 0;
        left: 0;
        top: 0;
        text-align: center;
        background: transparent;
        pointer-events: none;
        z-index: 4;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #9CA0A3;
        font-size: 14px;
    }
    #icon{
        pointer-events: none;
    }
</style>