<template>
    <div>
        <center>
            <question-title :title="title"></question-title>
            <a class="ButtonStyleOne row">
                <div class="col-sm-4" v-for="p in propertyTypes">
                    <button
                            :class="{'btn light-blue-background':radioValue == p.Value,
                        'btn':radioValue != p.Value}"
                            v-on:click="assignValue(p.Value)"
                    >
                        <img :src="path + 'images/questionnaires/'+p.Value+'-v2.png'">
                        <br>
                        <span class="ButtonStyleOneText">{{p.Display}}</span>
                    </button>
                </div>
                <input
                        type="hidden"
                        :name="friendlyIndex"
                        v-model="radioValue"
                        class="AnswerChoice"
                >
            </a>
        </center>
    </div>
</template>

<script>
    import QuestionTitle from "../../QuestionTitle";
    export default {
        name: "CT_PropertyType",
        components: {
            QuestionTitle
        },
        props: {
            friendlyIndex: {
                type: String,
                default: null,
            },
            title: {
                type: String,
                default: null,
            },
            answerChoices:{
                type: Array,
                default: () => []
            },
            currentAnswers: {
                type: Object,
                default: () => {},
            },
            allAnswersByFriendlyIndex: {
                type: Object,
                default: () => {},
            },
            allData: {
                type: Object,
                default: () => {},
            },
        },
        data(){
            return {
                radioValue: this.currentAnswers[this.friendlyIndex].Answer || '',
                propertyTypes: [],
                errorMessages: {
                    PropertyType: {required: 'Please select a property type.'},
                }
            }
        },
        watch: {
            radioValue: {
                handler(val){
                    if (val) this.$parent.processAutoAdvance();
                }
            }
        },
        computed: {
            path(){
                return getHostURL();
            }
        },
        methods: {
            assignValue(val){
                if (val == this.radioValue) this.radioValue = val = '';
                if (val) this.radioValue = val;
            },
            fetchPropertiesForState(){
                genericLoading('Loading property types...');
                axios.post(route('ajax.converter').url(),{
                    class: '\\App\\Models\\LookupTable',
                    isStatic: 1,
                    method: 'getLookupTablesByState',
                    args: [
                        this.allAnswersByFriendlyIndex['State'],
                    ],
                }).then((r) => {
                    Swal2.close();
                    console.log({
                        fetchPropertiesForStateResponse: r,
                    });
                    let status = r.data.status || false;
                    if (status == 'success')
                    {
                        this.propertyTypes = r.data.data.lu_PropertyTypes;
                    }
                    else if (status == 'fail')
                    {
                        genericError(r.data.message || 'An unknown error has occurred. Error code fps-001');
                    }
                    else genericError('An unknown error has occurred. Error code fps-002');
                });
            },
        },
        mounted() {
            let v = this;
            if (!this.allAnswersByFriendlyIndex['State'])
            {
                Swal2.fire({
                    text: 'You must enter the Property Address before answering this question.',
                    confirmButtonText: 'Enter Property Address Now',
                    showCancelButton: false,
                    allowOutsideClick: false,
                }).then((r) => {
                    v.$root.$emit('prev');
                });
            }
            else
            {
                this.fetchPropertiesForState();
            }
            this.$parent.$emit('setErrorMessages', this.errorMessages);
        }
    }
</script>

<style scoped>

</style>