<template>
    <div class="Q Q18">
        <center>
            <p class="questionnaire-title">Will there be tenants remaining in the property?</p>
            <a class="ButtonStyleOne">
                <button
                        :class="{'btn light-blue-background':willTenantsRemain === '1',
                        'btn':willTenantsRemain !== '1'}"
                        v-on:click="willTenantsRemain = '1'"
                >
                    <img :src="getHostUrl()+'images/questionnaires/thumbsup.png'">
                    <br>
                    <span class="ButtonStyleOneText">Yes</span>
                </button>
                <button
                        :class="{'btn light-blue-background':willTenantsRemain === '0',
                        'btn':willTenantsRemain !== '0'}"
                        v-on:click="willTenantsRemain = '0'"
                >
                    <img :src="getHostUrl()+'images/questionnaires/thumbsdown.png'">
                    <br>
                    <span class="ButtonStyleOneText">No</span>
                </button>
                <input
                        class="AnswerChoice"
                        name="willTenantsRemain"
                        v-model="willTenantsRemain"
                        type="hidden"
                >
            </a>
            <div id="timeLength" v-if="willTenantsRemain === '1'">
                <how-long
                        title="How long?"
                        friendly-index="TenantsRemainLength"
                        :current-answers="currentAnswers"
                ></how-long>
            </div>
        </center>
    </div>
</template>

<script>
    import HowLong from "../standard/HowLongQuestion";
    export default {
        name: "CT_TenantsRemain",
        components: {
            HowLong
        },
        props: {
            friendlyIndex: {
                type: String,
                default: null,
            },
            title: {
                type: String,
                default: null,
            },
            answerChoices:{
                type: Array,
                default: () => []
            },
            currentAnswers: {
                type: Object,
                default: () => {},
            },
        },
        watch: {
            willTenantsRemain: {
                handler(val){
                    if (val == '0') this.nextSlide();
                },
            }
        },
        data(){
            return{
                willTenantsRemain: this.currentAnswers['willTenantsRemain'].Answer || '',
                errorMessages: {
                    willTenantsRemain: {
                        required: 'Please make a selection.',
                    }
                }
            }
        },
        methods: {
            nextSlide(){
                let v = this;
                setTimeout(() => {
                    v.$root.$emit('next');
                }, 200);
            },
            getHostUrl() {
                return getHostURL();
            }
        },
        mounted() {
            this.$parent.$emit('setErrorMessages', this.errorMessages);
        }
    }
</script>

<style scoped>

</style>