<template>
    <div>
        <center>
            <question-title :title="title"></question-title>
            <center>
                <form>
                    <div class="row">
                        <div class="form-group col-sm-4 col-sm-offset-4">
                            <input
                                    type="text"
                                    class="AnswerChoice form-control"
                                    placeholder="YEAR BUILT"
                                    :name="friendlyIndex"
                                    v-model="answer"
                            >
                        </div>
                    </div>
                </form>
            </center>
        </center>
    </div>
</template>

<script>
    import QuestionTitle from "../../QuestionTitle";
    import moment from 'moment';
    export default {
        name: "CT_YearBuilt",
        components: {
            QuestionTitle,
            moment,
        },
        props: {
            friendlyIndex: {
                type: String,
                default: null,
            },
            title: {
                type: String,
                default: null,
            },
            answerChoices:{
                type: Array,
                default: () => []
            },
            currentAnswers: {
                type: Object,
                default: () => {},
            },
        },
        watch: {
            answer: {
                handler(val){
                    val = val.toString().replace(/[^0-9]/g,'');
                    let msg = 'Please enter a valid year.';
                    const maxYearsBeyondCurrent = 1;
                    let year = moment().year() + maxYearsBeyondCurrent;
                    let length = val.length;
                    const maxDigits = 4;
                    if (val.length < maxDigits) this.errors.push(msg);
                    else this.errors = [];
                    val = parseInt(val);
                    if (val > year) this.answer = year;
                    if (length > maxDigits) this.answer = val.substring(0, maxDigits);
                }
            },
            errors: {
                handler(val){
                    val = uniqueValueArray(val);
                    this.$root.$emit('__addErrors', val);
                },
                deep: true,
            }
        },
        data(){
            return {
                answer: this.currentAnswers[this.friendlyIndex].Answer || '',
                errors: [],
                errorMessages: {
                    PropertyBuilt: {required: 'Please enter the year the property was built.'},
                }
            }
        },
        methods: {
            getYearBuiltChoices(startingYear){
                return getYearsSince(startingYear);
            }
        },
        mounted() {
            this.$parent.$emit('setErrorMessages', this.errorMessages);
        }
    }
</script>

<style scoped>

</style>