<template>
    <div>
        <question-title title="Disclosure Information Advisory"></question-title>
        <center>
            <img :src="baseURL+'images/questionnaires/disclosure.png'" class="img-responsive">
        </center>
        <p class="p1">
            All sellers in California are required to provide various disclosures in real property transactions. Among the disclosure requirements, sellers have an affirmative duty to disclose to buyers all material conditions, defects and/or issues known to them that might impact the value or desirability of the Property. Failing to provide those disclosures may lead to a claim or a lawsuit against you which can be very costly and time consuming. As a seller, you may be required to fill out one or more of the following: Real Estate Transfer Disclosure Statement (&quot;TDS&quot;); Seller Property Questionnaire (&quot;SPQ&quot;); Exempt Seller Disclosure (&quot;ESD&quot;). (Collectively, or individually, &quot;Disclosure Forms&quot;). Please read the following carefully and, if you have any questions, ask your broker or appropriate legal or tax advisor for help.
        </p>
        <h4 class="mt-5">Sections</h4>
        <ul class="sections my-5">
            <a href="#" v-on:click.prevent="travel('DIA_DisclosureObligations')">
                <li>
                    Preparing to Complete Your Disclosure Obligations
                </li>
            </a>
            <a href="#" v-on:click.prevent="travel('DIA_DisclosureForms')">
                <li>
                    Instructions for Completing All Disclosure Forms
                </li>
            </a>
            <a href="#\">
                <li>
                    Completing Specific Types of Disclosure Documents
                    <div v-on:click.prevent="travel('DIA_TDS')"><i class="fas fa-caret-right"></i> Transfer Disclosure Statement</div>
                    <div v-on:click.prevent="travel('DIA_SPQ')"><i class="fas fa-caret-right"></i> Seller Property Questionnaire</div>
                    <div v-on:click.prevent="travel('DIA_ESD')"><i class="fas fa-caret-right"></i> Exempt Seller Disclosure</div>
                </li>
            </a>
            <a href="#" v-on:click.prevent="travel('DIA_FinalRecommendations')">
                <li>
                    Final Recommendations
                </li>
            </a>
        </ul>
    </div>
</template>

<script>
    import QuestionTitle from "../../QuestionTitle";
    export default {
        name: "DIA_Intro",
        components: {
            QuestionTitle
        },
        props: {
            friendlyIndex: {
                type: String,
                default: null,
            },
            title: {
                type: String,
                default: null,
            },
            answerChoices:{
                type: Array,
                default: () => []
            },
            currentAnswers: {
                type: Object,
                default: () => {},
            },
        },
        data(){
            return {
                baseURL: this.$store.getters.getHostURL(),
            }
        },
        methods: {
            travel(friendlyIndex){
                this.$parent.$emit('goToFriendlyIndex', friendlyIndex);
            },
        },
        mounted() {

        }
    }
</script>

<style scoped>

</style>