<template>
    <div>
        <question-title title="Disclosure Information Advisory"></question-title>
        <h5>Completing Specific Types of Disclosure Documents</h5>


        <b>Seller Property Questionnaire (&quot;SPQ&quot;)</b>
        <br><br>

        <p>
            The C.A.R. Residential Purchase Agreement requires Sellers
            to complete an SPQ for any transaction that requires a TDS because
            the TDS does not include questions regarding everything that
            sellers need to disclose to buyers. One example of a question
            not covered in the TDS but that is on the SPQ is whether there
            has been a death on the Property within the last 3 years.
            Another example of a legally required disclosure that is not
            in the TDS, is the requirement that sellers of single family
            residences built prior to January 1, 1994 must disclose if the
            Property has any noncompliant plumbing fixtures. 1.Any toilet
            that uses more than 1.6 Gallons per Flush; 2. Any showerhead
            that has a flow capacity of more than 2.5 Gallons per Minute
            and 3. Any interior faucet that emits more than 2.2 Gallons per Minute.
            The SPQ should be used in conjunction with the TDS to help the seller
            carry out the obligation to disclose known material facts about the Property.
        </p>
    </div>
</template>

<script>
    import QuestionTitle from "../../QuestionTitle";
    export default {
        name: "DIA_Intro",
        components: {
            QuestionTitle,
        },
        props: {
            friendlyIndex: {
                type: String,
                default: null,
            },
            title: {
                type: String,
                default: null,
            },
            answerChoices:{
                type: Array,
                default: () => []
            },
            currentAnswers: {
                type: Object,
                default: () => {},
            },
        },
        methods: {

        },
        mounted() {

        }
    }
</script>

<style scoped>

</style>