<template>
    <div>
        <question-title title="Disclosure Information Advisory"></question-title>
        <h5>Final Recommendations</h5>
        <p>
            It is important that you fully complete any legally or contractually required Disclosure Forms. To that end, the real estate Broker, and, if different, the real estate licensee, who listed the property for sale (&quot;Listing Broker&quot;) strongly recommend that you consider the following points when completing your Disclosure Forms:
        </p>
        <ul>
            <li>
                If you are aware of any planned or possible changes to your neighbor&apos;s property
                (such as an addition), changes in the neighborhood (such as new construction or road changes)
                that may affect traffic, views, noise levels or other issues, conditions or problems,
                disclose those plans or proposed changes even if you are not certain whether the change(s)
                will ever occur.
            </li>
            <li>
                Disclose any lawsuits, whether filed in the past, presently filed or that will be
                filed regarding the property or the neighborhood (such as an HOA dispute) even if
                you believe that the case has been resolved. Provide as much detail as possible
                about any lawsuit, including the name of the case and the County where the case was filed.
            </li>
            <li>
                If any disclosure that you have made becomes inadequate, incomplete, inaccurate or
                changes over time, including right up until the close of escrow, you should update
                and correct your Disclosure Forms in a timely fashion.
            </li>
            <li>
                If you have any questions about the applicability of any law to the Property, your Listing
                Broker recommends that you consult with a qualified California real estate attorney for
                advice. Your Listing Broker cannot and will not tell you if any law is applicable to the Property.
            </li>
            <li>
                <b>If you need help regarding what to disclose, how to disclose it or what changes need
                    to be made to your Disclosure Forms, the best advice is to consult with a qualified
                    real estate attorney for advice. Your Listing Broker cannot and will not tell you what
                    to disclose, how to disclose it or what changes need to be made to your answers.</b>
            </li>
            <li>
                While limited exceptions may exist, such as questions that may impact fair housing and
                discrimination laws, generally speaking, <b>when in doubt, the best answer to the
                question: &quot;Do I need to disclose…?&quot; is almost always &quot;Yes, disclose it.&quot;</b>
            </li>
        </ul>
    </div>
</template>

<script>
    import QuestionTitle from "../../QuestionTitle";
    export default {
        name: "DIA_FinalRecommendations",
        components: {
            QuestionTitle

        },
        props: {
            friendlyIndex: {
                type: String,
                default: null,
            },
            title: {
                type: String,
                default: null,
            },
            answerChoices:{
                type: Array,
                default: () => []
            },
            currentAnswers: {
                type: Object,
                default: () => {},
            },
        },
        methods: {

        },
        mounted() {

        }
    }
</script>

<style scoped>

</style>