<template>
    <div>
        <question-title title="Disclosure Information Advisory"></question-title>
        <h5>Instructions for Completing All Disclosure Forms</h5>


        <p>
            <span>A.</span>
            <b>DO NOT</b> leave any questions blank or unanswered unless the section is not applicable. Answer all questions and provide all documents, information and explanations to every &quot;Yes&quot; response in the blank lines or in an addendum to the Disclosure Form.
        </p>
        <p>
            <span>B.</span>
            Many questions on the Disclosure Forms ask if you &quot;are aware&quot; of a particular condition, fact or item. If you do not know the answer to any question, then you are &quot;not aware&quot; and should answer that question &quot;No.&quot;
        </p>
        <p>
            <span>C.</span>
            The Disclosure Forms are designed to get sellers to provide buyers with as much information as possible, and thus many of the questions on these forms may list multiple issues, conditions or problems and/or have subparts. It is important to address each aspect of each question and provide precise details so that Buyers will understand the &quot;who, what, where, when and how.&quot;
        </p>
        <p>
            <span>D.</span>
            The Disclosure Forms are written using very broad language. You should not limit the information, documents, and/or explanations that you provide Buyers.
        </p>
        <p>
            <span>E.</span>
            Be specific and provide facts for each response; you should not let subjective beliefs limit, qualify or downplay your disclosures. Avoid words such as &quot;never,&quot; &quot;minor,&quot; &quot;insignificant,&quot; &quot;small&quot; or &quot;infrequent&quot; as these terms reflect your opinion but that opinion may not be shared by Buyers, professionals or others. Do not speculate as to what you guess the issue is, or assume something is true without actual knowledge. State your disclosures only to the extent of what you actually know.
        </p>
        <p>
            <span>F.</span>
            Consider all issues, conditions or problems that impact your Property, even those that are not necessarily on your Property but are related to a neighbor&apos;s property (such as shared fences, lot-line debates) or exist in the neighborhood (such as noise, smells, disputes with neighbors, or other nuisances).
        </p>
        <p>
            <span>G.</span>
            Even if you have learned to live with an issue, condition or problem, disclose it.
        </p>
        <p>
            <span>H.</span>
            Even if you believe that an issue, condition or problem has been repaired, resolved or stopped, disclose the issue and what has been done, but do not speculate, predict or guarantee the quality of effectiveness of the repair or resolution.
        </p>
        <p>
            <span>I.</span>
            If there is conflicting information, data, and/or documents regarding any issue, condition or problem, disclose and identify everything.
        </p>
        <p>
            <span>J.</span>
            Do not assume that you know the answer to all questions; for example, unless you personally obtained or received copies of permits do not assume that anyone who did work on the Property obtained permits.
        </p>
        <p>
            <span>K.</span>
            If you are relying on written or oral information you received from someone else, even if you disagree with that information or are unsure as to its truth, disclose and identify the source of that information.
        </p>
    </div>
</template>

<script>
    import QuestionTitle from "../../QuestionTitle";
    export default {
        name: "DIA_DisclosureFormss",
        components: {
            QuestionTitle

        },
        props: {
            friendlyIndex: {
                type: String,
                default: null,
            },
            title: {
                type: String,
                default: null,
            },
            answerChoices:{
                type: Array,
                default: () => []
            },
            currentAnswers: {
                type: Object,
                default: () => {},
            },
        },
        methods: {

        },
        mounted() {

        }
    }
</script>

<style scoped>

</style>