<template>
    <div>
        <question-title title="Disclosure Information Advisory"></question-title>
        <h5>Completing Specific Types of Disclosure Documents</h5>

        <b>Exempt Seller Disclosure (&quot;ESD&quot;)</b>
        <br><br>

        <p>
            Some sellers of real property may be legally exempt from completing the TDS.
            For example, probate and bankruptcy court sales and sales by governmental
            entities are exempt from the obligation to provide a TDS. Some property that
            is owned by a trust which has trustee(s) acting in the capacity of a seller
            may also be exempt; but not all trustee(s) are exempt. If a qualified
            California real estate attorney has advised you that you are exempt from
            completing the TDS, then you may choose not to complete that form or any
            supplement to the TDS, but you may still be required to complete the ESD.
            Being exempt from completing certain Disclosure Forms does not completely
            eliminate those disclosure obligations that apply to all sellers under federal,
            state or local laws, ordinances or regulation and/or by contractual agreement
            with the buyer. The seller is still obligated to disclose all known material
            facts that may affect the value of the property. Further, the C.A.R.
            Residential Purchase Agreement requires those sellers who are exempt from
            the TDS to fill out the ESD. Pay particular attention to the &quot;catch all&quot;
            question, which asks you to disclose your awareness of any other material
            facts or defects affecting the property.
        </p>
    </div>
</template>

<script>
    import QuestionTitle from "../../QuestionTitle";
    export default {
        name: "DIA_ESD",
        components: {
            QuestionTitle

        },
        props: {
            friendlyIndex: {
                type: String,
                default: null,
            },
            title: {
                type: String,
                default: null,
            },
            answerChoices:{
                type: Array,
                default: () => []
            },
            currentAnswers: {
                type: Object,
                default: () => {},
            },
        },
        methods: {

        },
        mounted() {

        }
    }
</script>

<style scoped>

</style>