<template>
    <div>
        <question-title title="Disclosure Information Advisory"></question-title>
        <h5>Preparing to Complete Your Disclosure Obligations</h5>
        <br>

        <p>
            <span>A.</span>
            Read and carefully review all questions in the Disclosure Form(s) to make sure that you understand the full extent of the information that is being requested in each questions.
        </p>
        <p>
            <span>B.</span>
            While a seller does not have the duty to investigate or discover unknown issues, you may have been given disclosures either from the previous owner at the time of purchase or from a previous buyer who cancelled. Information about the Property may have been revealed if you may have posted or recorded information and material facts about the Property online (social media, blogs, personal websites, Facebook, advertisements, etc.) or received documents or correspondence from a Homeowners’ Association (&quot;HOA&quot;).
        </p>
        <p>
            <span>C.</span>
            Use any known and available documentation to refresh your memory of past and current issues, condition and/or problems and then provide a copy of that paperwork with your fully completed Disclosure Forms. A seller does not have to find lost documents or to speculate about what was in the documents that they cannot remember, but if the documents are known and available to you, they should be used to assist you in completing the Disclosures forms.
        </p>
        <p>
            <span>D.</span> Allow plenty of time to fully complete the Disclosure Forms.
        </p>
        <p>
            <span>E.</span>
            Your knowledge may be based upon what you have been told orally (e.g., in a conversation with a neighbor) or received in writing (such as a repair estimate, report, invoice, an appraisal, or sources as informal as neighborhood or HOA newsletters). Keep in mind that if a neighbor told you something, they are likely to tell the new owner the same information after the transaction.
        </p>
        <p>
            <span>F.</span>
            If you are unsure about whether something is important enough to be disclosed, you should probably disclose it. If you don’t want to disclose a piece of information about the Property, think about your reasoning for why you do not want to disclose this information. If the answer is because you think a buyer will not want to buy the Property or will want to purchase at a lower price, that is exactly the reason why the fact ought to be disclosed; it materially affects the value or desirability of the Property.
        </p>
    </div>
</template>

<script>
    import QuestionTitle from "../../QuestionTitle";
    export default {
        name: "DIA_DisclosureObligations",
        components: {
            QuestionTitle

        },
        props: {
            friendlyIndex: {
                type: String,
                default: null,
            },
            title: {
                type: String,
                default: null,
            },
            answerChoices:{
                type: Array,
                default: () => []
            },
            currentAnswers: {
                type: Object,
                default: () => {},
            },
        },
        methods: {

        },
        mounted() {

        }
    }
</script>

<style scoped>

</style>