<template>
    <div>
        <question-title title="Disclosure Information Advisory"></question-title>
        <h5>Completing Specific Types of Disclosure Documents</h5>


        <b>Real Estate Transfer Disclosure Statement (&quot;TDS&quot;)</b>
        <br><br>

        <p>
            The TDS includes Question 16 in section II C which refers to various code sections which are part of a law concerning construction defects that is widely known as SB 800 or Title 7. This law applies to residential real property built by a &quot;Builder&quot; and sold for the first time on or after January 1, 2003. If you have any questions about the applicability to the Property of any of the laws referenced in Question 16, or how you should answer this question, your Listing Agent recommends that you consult with a qualified California real estate attorney for advice. Your Listing Agent cannot and will not give you legal advice on these matters.
        </p>
        <p>
            <b>Section I</b> allows sellers to incorporate and provide reports and disclosures that relate to the information requested in that Disclosure Form. Providing those &quot;Substituted Disclosures&quot; does not eliminate your responsibility to fully and completely disclose all information known by you that is requested in the TDS.
        </p>
        <p>
            <b>Section II A</b> asks you to check a series of boxes to indicate what appliances, fixtures and other items exist on the property and ask whether any of those existing items are &quot;not in operating condition&quot;, a term which is not defined. Consider whether the checked appliances, fixtures and items fully function as if they were new and if not, disclose any issues, limitations or problems. The TDS is not a contract and it does not control which items must remain with the property after close of escrow; the purchase agreement determines which items must remain. However, you should be careful not to represent an amenity that the property does not have, so do not assume that feature is there (i.e. sewer or central air conditioning), and only check the box if you know it is a part of the property.
        </p>
        <p>
            <b>Section II B</b> asks if you are aware of any significant defects/malfunctions in certain identified areas of the property. There is no definition for &quot;significant defects/malfunctions&quot;; do not assume this terminology places any limits on what you need to disclose. If you check any of the boxes, please provide as much information as possible regarding the issues, conditions or problems that you know about the checked areas.
        </p>
        <p>
            <b>Section II C</b> asks sixteen questions regarding the Property and the surrounding areas. These questions are written very broadly and contain multiple issues, conditions and/or problems. Make sure that you respond as to each issue, condition or problem. If you respond &quot;Yes&quot; to any question, you should provide as much information as possible about the issue. If you are answering any of these questions &quot;No&quot; because you lack familiarity with the Property or the topic of any question, then you can explain the reasons, such as that you have not seen the Property in a long time or at all. This may help the buyers to understand that your &quot;No&quot; answer reflects the lack of awareness of the item, not that you are representing that the problem, condition or issue does not exist.
        </p>
    </div>
</template>

<script>
    import QuestionTitle from "../../QuestionTitle";
    export default {
        name: "DIA_DisclosureDocumentTypes",
        components: {
            QuestionTitle
        },
        props: {
            friendlyIndex: {
                type: String,
                default: null,
            },
            title: {
                type: String,
                default: null,
            },
            answerChoices:{
                type: Array,
                default: () => []
            },
            currentAnswers: {
                type: Object,
                default: () => {},
            },
        },
        methods: {

        },
        mounted() {

        }
    }
</script>

<style scoped>

</style>