<template>
    <div>
        <h4 class="questionnaire-title">
            {{this.questionnaireTitle}}
        </h4>
        <center>
            <img :src="baseURL+'images/questionnaires/earthquake.png'" class="img-responsive" style="max-width: 250px; margin-top: 50px; margin-bottom: 50px;">
        </center>
        <p style="max-width: 650px; font-size: 12px; font-weight: 500;" class="mx-auto mb-4 pb-4">
            The Earthquake Hazards Report is a California specific disclosure that sellers
            make to the buyers about specific property attributes that communicate their
            earthquake related risks. Sellers should answer each question to the best of
            their knowledge and where sellers are unsure they can mark that they do not know.
        </p>
        <hr>
    </div>
</template>

<script>
    export default {
        name: "",
        components: {

        },
        computed: {

        },
        props: {
            friendlyIndex: {
                type: String,
                default: null,
            },
            title: {
                type: String,
                default: null,
            },
            answerChoices:{
                type: Array,
                default: () => []
            },
            currentAnswers: {
                type: Object,
                default: () => {},
            },
            questionnaireTitle: {
                type: String,
                default: null,
            },
        },
        data(){
            return {
                baseURL: this.$store.getters.getHostURL(),
            }
        },
        methods: {

        },
        mounted() {

        }
    }
</script>

<style scoped>

</style>