<template>
    <div>

    </div>
</template>

<script>
    export default {
        name: "",
        components: {

        },
        computed: {

        },
        props: {
            friendlyIndex: {
                type: String,
                default: null,
            },
            title: {
                type: String,
                default: null,
            },
            answerChoices:{
                type: Array,
                default: () => []
            },
            currentAnswers: {
                type: Object,
                default: () => {},
            },
        },
        data(){
            return {

            }
        },
        methods: {

        },
        mounted() {

        }
    }
</script>

<style scoped>

</style>