<template>
    <div class="Q mb-0">
        <center>
            <p class="display-1">{{titleText}}</p>
            <!--
            <div id="searchResults" class="hidden" style="margin-top:5px;">
                <a id="searchResultsText" class="SkipStepStyle">{{searchText}}</a>
                <a
                        style="font-weight: bold;"
                        class="SkipStepStyle"
                        v-on:click="displayTCs"
                        v-if="tcs.length > 0"
                >
                    View
                </a>
            </div>
            -->
            <form class="mt-2 BuyerSellerAgentInfo">
                <div class="row">
                    <div class="form-group col-md-6">
                        <input
                                v-model="NameFirst"
                                type="text"
                                :name="prefix+'sTC_NameFirst'"
                                id="NameFirst"
                                placeholder="FIRST NAME"
                                class="AnswerChoice"
                        >
                    </div>
                    <div class="form-group col-md-6">
                        <input
                                v-model="NameLast"
                                type="text"
                                :name="prefix+'sTC_NameLast'"
                                id="NameLast"
                                placeholder="LAST NAME"
                                class="AnswerChoice"
                        >
                    </div>
                    <div class="form-group col-md-6">
                        <input
                                v-model="Email"
                                type="text"
                                :name="prefix+'sTC_Email'"
                                id="Email"
                                placeholder="EMAIL ADDRESS"
                                class="AnswerChoice"
                        >
                    </div>
                    <div class="form-group col-md-6">
                        <input
                                v-model="Phone"
                                type="text"
                                :name="prefix+'sTC_Phone'"
                                v-mask="'(###)-###-####'"
                                maxlength="14"
                                placeholder="PHONE #"
                                class="AnswerChoice"
                        >
                    </div>
                    <input
                            class="AnswerChoice"
                            type="hidden"
                            v-model="ID"
                            id="ID"
                            :name="prefix+'sTC_ID'"
                    >
                    <input
                            class="AnswerChoice"
                            type="hidden"
                            v-model="UUID"
                            id="UUID"
                            :name="prefix+'sTC_UUID'"
                    >
                    <input
                            class="AnswerChoice"
                            type="hidden"
                            v-model="Users_ID"
                            id="Users_ID"
                            :name="prefix+'sTC_Users_ID'"
                    >
                </div>
            </form>
        </center>
        <div v-if="tcs.length > 0" class="modal" id="AgentPopup">
            <div class="vertical-alignment-helper">
                <div class="modal-dialog vertical-align-center">
                    <div class="modal-content">
                        <div class="modal-body">
                            <center>
                                <h5 class="d-inline-block mb-3">Select {{prefix}}'s TC:</h5>
                            </center>
                            <button v-on:click="displayCategories" type="button" class="close shadow" data-dismiss="modal">&times;</button>
                            <ul>
                                <li v-for="tc in tcs" v-on:click="select(tc)">{{ tc.NameFull || tc.NameFirst+' '+tc.NameLast }}</li>
                                <li class="border-0" v-on:click="notInList()">{{prefix}}’s TC is not in this list</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import {has} from 'lodash';
    export default {
        name: "TCInformation",
        components: {
            has
        },
        props: {
            friendlyIndex: {
                type: String,
                default: null,
            },
            title: {
                type: String,
                default: null,
            },
            answerChoices:{
                type: Array,
                default: () => []
            },
            currentAnswers: {
                type: Object,
                default: () => {},
            },
            prefix: {
                type: String,
                default: '',
            },
            token: {
                type: String,
                default: '',
            },
        },
        computed: {
            titleText(){
                let title = this.title;
                if (this.userData.userID == this.Users_ID) title = 'Please Confirm Your Information.';
                return title;
            },
            searchFields(){
                return this.NameFirst+this.NameLast+this.Email+this.Phone;
            }
        },
        watch: {
            searchFields: {
                handler(val){
                    /* Uncomment this to search on the fields.
                    if (val) this.search();
                    else this.cancelSearch();
                    */
                }
            },
            Phone: {
                handler(val){
                    let msg = 'Please enter a valid phone number.';
                    if (val.length < 14)
                        this.errors.push(msg);
                    else this.errors = removeFromArray(this.errors, msg);
                }
            },
            Email: {
                handler(val){
                    let msg = 'Please enter a valid email address.';
                    if (val.indexOf('@') === -1 || val.indexOf('.') === -1)
                        this.errors.push(msg);
                    else this.errors = removeFromArray(this.errors, msg);
                },
            },
            License: {
                handler(val){
                    this.License = val.replace(/[^0-9]/g, '');
                }
            },
            errors: {
                handler(val){
                    val = uniqueValueArray(val);
                    this.$root.$emit('__addErrors', val);
                },
                deep: true,
            }
        },
        methods: {
            displayCategories(){
                $('.categories').show();
            },
            hideCategories(){
                $('.categories').hide();
            },
            closeModal(){
                $('#AgentPopup').modal('hide');
                this.displayCategories();
            },
            displayTCs(){
                this.hideCategories();
                $('#AgentPopup').modal({backdrop:'static',keyboard:false});
            },
            notInList(){
                this.NotInList = 1;
                this.closeModal();
            },
            select(tc){
                this.ID                 = tc.ID || 0;
                this.NameFirst          = tc.NameFirst || '';
                this.NameLast           = tc.NameLast || '';
                this.Email              = tc.Email || '';
                this.Phone              = tc.Phone || '';
                this.License            = tc.License || '';
                this.UUID               = tc.UUID || '**';
                this.Users_ID           = tc.Users_ID || null;
                $('#AgentPopup').modal('hide');
                this.displayCategories();
            },
            cancelSearch(){
                if (this.cancelSource) this.cancelSource.cancel('Starting a new search, aborting active search.');
            },
            search: _.debounce(function(){
                this.searchText = 'Searching...';
                this.cancelSearch();
                this.cancelSource = axios.CancelToken.source();
                let vueObject = this;
                let dataObject = {
                    NameFirst:          this.NameFirst,
                    NameLast:           this.NameLast,
                    Email:              this.Email,
                    Phone:              this.Phone,
                    License:            this.License,
                    ID:                 this.ID,
                    BrokerageOfficeID:  this.BrokerageOfficeID,
                    BrokerageOffice:    this.BrokerageOffice,
                    _token:             this.token,
                };

                axios.post(route('search.tc').url(), dataObject, {cancelToken: this.cancelSource.token}).then((r) => {
                    console.log({
                        TCSearchResponse: r,
                    });
                    let status = r.data.status;
                    if (status == 'success')
                    {
                        vueObject.tcs            = r.data.tcs;
                        vueObject.cancelSource      = null;
                        let searchResultsContainer  = $('#searchResults');
                        let count              = vueObject.tcs.length;
                        searchResultsContainer.removeClass('hidden');
                        if(count > 0)
                        {
                            let rText = count > 1 ? 'records' : 'record';
                            this.searchText = count+' '+rText+' found.';
                        }
                        else
                        {
                            this.searchText = 'No records found.';
                        }
                    }
                }).catch((err) => {
                    console.log({
                        TCSearchError: err,
                    });
                });
            }, 500),
        },
        data(){
            return {
                tcs: [],
                answers: {},
                NameFirst: '',
                NameLast: '',
                Email: '',
                Phone: '',
                UUID: '',
                Users_ID: '',
                ID: '',
                NotInList: 0,
                cancelSource: null,
                searchText: '',
                errorMessages: {},
                errors: [],
                userData: this.$store.getters.getUserData(),
            }
        },
        mounted() {
            this.NameFirst          = this.currentAnswers[this.prefix+'sTC_NameFirst'].Answer            || '';
            this.NameLast           = this.currentAnswers[this.prefix+'sTC_NameLast'].Answer             || '';
            this.Email              = this.currentAnswers[this.prefix+'sTC_Email'].Answer                || '';
            this.Phone              = this.currentAnswers[this.prefix+'sTC_Phone'].Answer                || '';
            this.ID                 = this.currentAnswers[this.prefix+'sTC_ID'].Answer                   || '';
            this.UUID               = this.currentAnswers[this.prefix+'sTC_UUID'].Answer                 || '';
            this.Users_ID           = this.currentAnswers[this.prefix+'sTC_Users_ID'].Answer             || '';

            this.errorMessages[this.prefix+'sTC_NameFirst'] = {required: 'First name is required.'};
            this.errorMessages[this.prefix+'sTC_NameLast'] = {required: 'Last name is required.'};
            this.errorMessages[this.prefix+'sTC_Email'] = {required: 'Email address is required.'};
            this.errorMessages[this.prefix+'sTC_Phone'] = {required: 'A phone number is required.'};

            this.$parent.$emit('setErrorMessages', this.errorMessages);
        }
    }
</script>

<style scoped>

</style>