<template>
    <div>
        <question-title title="Are you (the Seller) aware of any significant defects / malfunctions in any of the following?"></question-title>
        <div class="table-box">
            <table class="table table-borderless" id="TDS-table">
                <tr>
                    <td>
                        <input
                                type="checkbox"
                                id="checkbox-41"
                                style="margin-left: -18px;"
                                v-model="DefectsOrMalfunctions"
                                value="Interior Walls"
                        >
                        <label for="checkbox-41">Interior Walls</label>
                    </td>
                    <td>
                        <input
                                type="checkbox"
                                id="checkbox-42"
                                style="margin-left: -18px;"
                                v-model="DefectsOrMalfunctions"
                                value="Windows"
                        >
                        <label for="checkbox-42">Windows</label>
                    </td>
                    <td>
                        <input
                                type="checkbox"
                                id="checkbox-43"
                                style="margin-left: -18px;"
                                v-model="DefectsOrMalfunctions"
                                value="Walls/Fences"

                        >
                        <label for="checkbox-43">Walls/Fences</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input
                                type="checkbox"
                                id="checkbox-44"
                                style="margin-left: -18px;"
                                v-model="DefectsOrMalfunctions"
                                value="Ceilings"
                        >
                        <label for="checkbox-44">Ceilings</label>
                    </td>
                    <td>
                        <input
                                type="checkbox"
                                id="checkbox-45"
                                style="margin-left: -18px;"
                                v-model="DefectsOrMalfunctions"
                                value="Doors"
                        >
                        <label for="checkbox-45">Doors</label>
                    </td>
                    <td>
                        <input
                                type="checkbox"
                                id="checkbox-46"
                                style="margin-left: -18px;"
                                v-model="DefectsOrMalfunctions"
                                value="Electrical Systems"
                        >
                        <label for="checkbox-46">Electrical Systems</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input
                                type="checkbox"
                                id="checkbox-47"
                                style="margin-left: -18px;"
                                v-model="DefectsOrMalfunctions"
                                value="Floors"
                        >
                        <label for="checkbox-47">Floors</label>
                    </td>
                    <td>
                        <input
                                type="checkbox"
                                id="checkbox-48"
                                style="margin-left: -18px;"
                                v-model="DefectsOrMalfunctions"
                                value="Foundation"
                        >
                        <label for="checkbox-48">Foundation</label>
                    </td>
                    <td>
                        <input
                                type="checkbox"
                                id="checkbox-49"
                                style="margin-left: -18px;"
                                v-model="DefectsOrMalfunctions"
                                value="Plumbing/Sewers/Septics"
                        >
                        <label for="checkbox-49">Plumbing/Sewers/Septics</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input
                                type="checkbox"
                                id="checkbox-50"
                                style="margin-left: -18px;"
                                v-model="DefectsOrMalfunctions"
                                value="Exterior Walls"
                        >
                        <label for="checkbox-50">Exterior Walls</label>
                    </td>
                    <td>
                        <input
                                type="checkbox"
                                id="checkbox-51"
                                style="margin-left: -18px;"
                                v-model="DefectsOrMalfunctions"
                                value="Slabs"
                        >
                        <label for="checkbox-51">Slab(s)</label>
                    </td>
                    <td colspan="3">
                        <input
                                type="checkbox"
                                id="checkbox-52"
                                style="margin-left: -18px;"
                                v-model="DefectsOrMalfunctions"
                                value="Other Structural Components"
                        >
                        <label for="checkbox-52">Other Structural Components</label>

                    </td>
                </tr>
                <tr>
                    <td>
                        <input
                                type="checkbox"
                                id="checkbox-53"
                                style="margin-left: -18px;"
                                v-model="DefectsOrMalfunctions"
                                value="Insulation"
                        >
                        <label for="checkbox-53">Insulation</label>
                    </td>
                    <td>
                        <input
                                type="checkbox"
                                id="checkbox-54"
                                style="margin-left: -18px;"
                                v-model="DefectsOrMalfunctions"
                                value="Driveways"
                        >
                        <label for="checkbox-54">Driveways</label>
                    </td>
                    <td>
                        <input
                                type="text"
                                name="OtherStructuralComponents"
                                :class="OtherStructuralComponentsClass"
                                placeholder="List Other Structural Components"
                                style="max-width: 250px; font-size: 13px; text-align: center; color: #C3C3C3;"
                                :value="currentAnswers['OtherStructuralComponents'].Answer || ''"
                        >
                    </td>
                </tr>
                <tr>
                    <td>
                        <input
                                type="checkbox"
                                id="checkbox-55"
                                style="margin-left: -18px;"
                                v-model="DefectsOrMalfunctions"
                                value="Roofs"
                        >
                        <label for="checkbox-55">Roof(s)</label>
                    </td>
                    <td>
                        <input
                                type="checkbox"
                                id="checkbox-56"
                                style="margin-left: -18px;"
                                v-model="DefectsOrMalfunctions"
                                value="Sidewalks"
                        >
                        <label for="checkbox-56">Sidewalks</label>
                    </td>
                    <td>

                    </td>
                </tr>
            </table>
        </div>

        <h5 id="the-question">Explain issues identified above:</h5>
        <textarea
                rows="4"
                placeholder="Explain issues identified above:"
                name="ExplainIssuesCheckedPreviousPage"
                class="form-control mb-4 AnswerChoice"
        >{{this.currentAnswers['ExplainIssuesCheckedPreviousPage'].Answer || ''}}</textarea>
        <input
                type="hidden"
                class="AnswerChoice"
                :value="DefectsOrMalfunctionsValue"
                name="DefectsOrMalfunctionsToFollowing"
        >
    </div>
</template>

<script>
    import QuestionTitle from "../../QuestionTitle";
    export default {
        name: "TDS_DefectsOrMalfunctions",
        components: {
            QuestionTitle

        },
        computed: {
            OtherStructuralComponentsClass(){
                return {
                    'form-control ml-5 AnswerChoice' : this.DefectsOrMalfunctions.includes('Other Structural Components'),
                    'form-control ml-5 AnswerChoice hidden' : !this.DefectsOrMalfunctions.includes('Other Structural Components')
                }
            },
            DefectsOrMalfunctionsValue() {
                if (this.DefectsOrMalfunctions.length == 0) return 0
                else return this.DefectsOrMalfunctions.join(',')
            },
        },
        props: {
            friendlyIndex: {
                type: String,
                default: null,
            },
            title: {
                type: String,
                default: null,
            },
            answerChoices:{
                type: Array,
                default: () => []
            },
            currentAnswers: {
                type: Object,
                default: () => {},
            },
        },
        data(){
            return {
                DefectsOrMalfunctions: [],
            }
        },
        methods: {

        },
        mounted() {
            if (this.currentAnswers['DefectsOrMalfunctionsToFollowing'].Answer)
                this.DefectsOrMalfunctions = this.currentAnswers['DefectsOrMalfunctionsToFollowing']['Answer'].split(',');
        }
    }
</script>

<style scoped>

</style>