<template>
    <div>
        <h5 class="question mt-0 mb-5">Please Select All Items Included with the Property</h5>

        <div class="table-box mb-5">
            <table class="table table-borderless" id="TDS-table">
                <tr>
                    <td>
                        <input
                                type="checkbox"
                                id="range"
                                style="margin-left: -18px;"
                                v-model="PropertyHasItems"
                                value="Range"
                        >
                        <label for="range">Range</label>
                    </td>
                    <td>
                        <input
                                type="checkbox"
                                id="satellite_dish"
                                style="margin-left: -18px;"
                                v-model="PropertyHasItems"
                                value="Satellite Dish"
                        >
                        <label for="satellite_dish">Satellite Dish</label>
                    </td>
                    <td>
                        <input
                                type="checkbox"
                                id="carbon_monoxide_devices"
                                style="margin-left: -18px;"
                                v-model="PropertyHasItems"
                                value="Carbon Monoxide Devices"
                        >
                        <label for="carbon_monoxide_devices">Carbon Monoxide Device(s)</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input
                                type="checkbox"
                                id="oven"
                                style="margin-left: -18px;"
                                v-model="PropertyHasItems"
                                value="Oven"
                        >
                        <label for="oven">Oven</label>
                    </td>
                    <td>
                        <input
                                type="checkbox"
                                id="intercom"
                                style="margin-left: -18px;"
                                v-model="PropertyHasItems"
                                value="Intercom"
                        >
                        <label for="intercom">Intercom</label>
                    </td>
                    <td>
                        <input
                                type="checkbox"
                                id="gas_starter"
                                style="margin-left: -18px;"
                                v-model="PropertyHasItems"
                                value="Gas Starter"
                        >
                        <label for="gas_starter">Gas Starter</label>
                    </td>
                    <!--
                    <td>
                        <input
                                type="checkbox"
                                style="margin-left: -18px;"
                                v-model="PropertyHasItems"
                                value="220 Volt Wiring"
                        >
                        <label for="checkbox-8">220 Volt Wiring</label>
                    </td>
                    -->
                </tr>
                <tr>
                    <td>
                        <input
                                type="checkbox"
                                id="microwave"
                                style="margin-left: -18px;"
                                v-model="PropertyHasItems"
                                value="Microwave"
                        >
                        <label for="microwave">Microwave</label>
                    </td>
                    <td>
                        <input
                                type="checkbox"
                                id="central_heating"
                                style="margin-left: -18px;"
                                v-model="PropertyHasItems"
                                value="Central Heating"
                        >
                        <label for="central_heating">Central Heating</label>
                    </td>
                    <td>
                        <input
                                type="checkbox"
                                id="water_softener"
                                style="margin-left: -18px;"
                                v-model="PropertyHasItems"
                                value="Water Softener"
                        >
                        <label for="water_softener">Water Softener</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input
                                type="checkbox"
                                id="dishwasher"
                                style="margin-left: -18px;"
                                v-model="PropertyHasItems"
                                value="Dishwasher"
                        >
                        <label for="dishwasher">Dishwasher</label>
                    </td>
                    <td>
                        <input
                                type="checkbox"
                                id="central_air_conditioning"
                                style="margin-left: -18px;"
                                v-model="PropertyHasItems"
                                value="Central Air Conditioning"
                        >
                        <label for="central_air_conditioning">Central Air Conditioning</label>
                    </td>
                    <td>
                        <input
                                type="checkbox"
                                id="patio_decking"
                                style="margin-left: -18px;"
                                v-model="PropertyHasItems"
                                value="Patio/Decking"
                        >
                        <label for="patio_decking">Patio/Decking</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input
                                type="checkbox"
                                id="trash_compactor"
                                style="margin-left: -18px;"
                                v-model="PropertyHasItems"
                                value="Trash Compactor"
                        >
                        <label for="trash_compactor">Trash Compactor</label>
                    </td>
                    <td>
                        <input
                                type="checkbox"
                                id="evaporator_coolers"
                                style="margin-left: -18px;"
                                v-model="PropertyHasItems"
                                value="Evaporator Coolers"
                        >
                        <label for="evaporator_coolers">Evaporator Cooler(s)</label>
                    </td>
                    <td>
                        <input
                                type="checkbox"
                                id="built_in_barbecue"
                                style="margin-left: -18px;"
                                v-model="PropertyHasItems"
                                value="Built-in Barbecue"
                        >
                        <label for="built_in_barbecue">Built-in Barbecue</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input
                                type="checkbox"
                                id="garbage_disposal"
                                style="margin-left: -18px;"
                                v-model="PropertyHasItems"
                                value="Garbage Disposal"
                        >
                        <label for="garbage_disposal">Garbage Disposal</label>
                    </td>
                    <td>
                        <input
                                type="checkbox"
                                id="wall_window_air_conditioning"
                                style="margin-left: -18px;"
                                v-model="PropertyHasItems"
                                value="Wall/Window Air Conditioning"
                        >
                        <label for="wall_window_air_conditioning">Wall/Window Air Conditioning</label>
                    </td>
                    <td>
                        <input
                                type="checkbox"
                                id="sauna"
                                style="margin-left: -18px;"
                                v-model="PropertyHasItems"
                                value="Sauna"
                        >
                        <label for="sauna">Sauna</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input
                                type="checkbox"
                                id="washer_dryer_hookups"
                                style="margin-left: -18px;"
                                v-model="PropertyHasItems"
                                value="Washer/Dryer Hookups"
                        >
                        <label for="washer_dryer_hookups">Washer/Dryer Hookups</label>
                    </td>
                    <td>
                        <input
                                type="checkbox"
                                id="sprinklers"
                                style="margin-left: -18px;"
                                v-model="PropertyHasItems"
                                value="Sprinklers"
                        >
                        <label for="sprinklers">Sprinklers</label>
                    </td>
                    <td>
                        <input
                                type="checkbox"
                                id="gazebo"
                                style="margin-left: -18px;"
                                v-model="PropertyHasItems"
                                value="Gazebo"
                        >
                        <label for="gazebo">Gazebo</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input
                                type="checkbox"
                                id="rain_gutters"
                                style="margin-left: -18px;"
                                v-model="PropertyHasItems"
                                value="Rain Gutters"
                        >
                        <label for="rain_gutters">Rain Gutters</label>
                    </td>
                    <td>
                        <input
                                type="checkbox"
                                id="public_sewer_system"
                                style="margin-left: -18px;"
                                v-model="PropertyHasItems"
                                value="Public Sewer System"
                        >
                        <label for="public_sewer_system">Public Sewer System</label>
                    </td>
                    <td>
                        <input
                                type="checkbox"
                                id="burglar_alarms"
                                style="margin-left: -18px;"
                                v-model="PropertyHasItems"
                                value="Burglar Alarms"
                        >
                        <label for="burglar_alarms">Burglar Alarms</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input
                                type="checkbox"
                                id="smoke_detectors"
                                style="margin-left: -18px;"
                                v-model="PropertyHasItems"
                                value="Smoke Detectors"
                        >
                        <label for="smoke_detectors">Smoke Detector(s)</label>
                    </td>
                    <td>
                        <input
                                type="checkbox"
                                id="septic_tank"
                                style="margin-left: -18px;"
                                v-model="PropertyHasItems"
                                value="Septic Tank"
                        >
                        <label for="septic_tank">Septic Tank</label>
                    </td>
                    <td>
                        <input
                                type="checkbox"
                                id="security_gates"
                                style="margin-left: -18px;"
                                v-model="PropertyHasItems"
                                value="Security Gates"
                        >
                        <label for="security_gates">Security Gate(s)</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input
                                type="checkbox"
                                id="fire_alarm"
                                style="margin-left: -18px;"
                                v-model="PropertyHasItems"
                                value="Fire Alarm"
                        >
                        <label for="fire_alarm">Fire Alarm</label>
                    </td>
                    <td>
                        <input
                                type="checkbox"
                                id="sump_pump"
                                style="margin-left: -18px;"
                                v-model="PropertyHasItems"
                                value="Sump Pump"
                        >
                        <label for="sump_pump">Sump Pump</label>
                    </td>
                    <td>
                        <input
                                type="checkbox"
                                id="window_screens"
                                style="margin-left: -18px;"
                                v-model="PropertyHasItems"
                                value="Window Screens"
                        >
                        <label for="window_screens">Window Screens</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input
                                type="checkbox"
                                id="tv_antenna"
                                style="margin-left: -18px;"
                                v-model="PropertyHasItems"
                                value="TV Antenna"
                        >
                        <label for="tv_antenna">T.V Antenna</label>
                    </td>
                    <td>
                        <input
                                type="checkbox"
                                id="water_heater"
                                style="margin-left: -18px;"
                                v-model="PropertyHasItems"
                                value="Water Heater"
                        >
                        <label for="water_heater">Water Heater</label>
                    </td>
                    <td>
                        <input
                                type="checkbox"
                                id="window_security_bars"
                                style="margin-left: -18px;"
                                v-model="PropertyHasItems"
                                value="Window Security Bars"
                        >
                        <label for="window_security_bars">Window Security Bars</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input
                                type="checkbox"
                                id="hot_tub_spa"
                                style="margin-left: -18px;"
                                v-model="PropertyHasItems"
                                value="Hot Tub/Spa"
                        >
                        <label for="hot_tub_spa">Hot Tub/Spa</label>
                    </td>
                    <td>
                        <input
                                type="checkbox"
                                id="water_conserving_plumbing_fixtures"
                                style="margin-left: -18px;"
                                v-model="PropertyHasItems"
                                value="Water Conserving Plumbing Fixtures"
                        >
                        <label for="water_conserving_plumbing_fixtures">Water Conserving Plumbing Fixtures</label>
                    </td>
                    <td>
                        <input
                                type="checkbox"
                                id="quick_release"
                                style="margin-left: -18px;"
                                v-model="PropertyHasItems"
                                value="Quick Release Mechanism on Bedroom Windows"
                        >
                        <label for="quick_release">Quick Release Mechanism<br> on Bedroom Windows</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input
                                type="checkbox"
                                id="pool"
                                style="margin-left: -18px;"
                                v-model="PropertyHasItems"
                                value="Pool"
                        >
                        <label for="pool">Pool</label>
                    </td>
                    <td>
                        <input
                                type="checkbox"
                                id="garage"
                                style="margin-left: -18px;"
                                v-model="PropertyHasItems"
                                value="Garage"
                        >
                        <label for="garage">Garage</label>
                    </td>
                    <td>
                        <input
                                type="checkbox"
                                id="gas_supply"
                                style="margin-left: -18px;"
                                v-model="PropertyHasItems"
                                value="Gas Supply"
                        >
                        <label for="gas_supply">Gas Supply</label>
                    </td>
                    <!--
                    <td>
                        <input
                                type="checkbox"
                                style="margin-left: -18px;"
                                v-model="PropertyHasItems"
                                value="Exhaust Fans"
                        >
                        <label for="checkbox-39">Exhaust Fans</label>
                    </td>
                    -->
                    <td>

                    </td>
                </tr>
                <tr>
                    <!--
                    <td>
                        <input
                                type="checkbox"
                                style="margin-left: -18px;"
                                v-model="PropertyHasItems"
                                value="Fireplaces"
                        >
                        <label for="checkbox-41">Fireplace(s)</label>
                    </td>
                    -->
                    <td>
                        <input
                                type="checkbox"
                                id="other"
                                style="margin-left: -18px;"
                                v-model="PropertyHasItems"
                                value="Other"
                        >
                        <label for="other">Other</label>
                        <input
                                v-if="ShowOtherExplanationText"
                                type="text"
                                name="OtherExplanation"
                                class="AnswerChoice"
                                v-model="otherExplanationValue"
                        >
                    </td>
                    <td>
                        <input
                                type="checkbox"
                                id="water_supply"
                                style="margin-left: -18px;"
                                v-model="PropertyHasItems"
                                value="Water Supply"
                        >
                        <label for="water_supply">Water Supply</label>
                    </td>
                </tr>
                <input type="hidden" name="PropertyHasItems" :value="PropertyHasItemsValue" class="AnswerChoice">
            </table>
            <h5 id="the-question">To the Best of Your Knowledge, As the Seller, Are Any of the Above Items Not in Operating Condition?</h5>
            <div class="mb-4">
                <button
                        :class="{'btn teal-background white-text question-response-button':PreviousInOperatingCondition == 1,
                        'btn question-response-button':PreviousInOperatingCondition != 1}"
                        v-on:click="PreviousInOperatingCondition = 1">
                    <span class="ButtonStyleOneText">Yes</span>
                </button>
                <button
                        :class="{'btn teal-background white-text question-response-button':PreviousInOperatingCondition == 0,
                        'btn question-response-button':PreviousInOperatingCondition != 0}"
                        v-on:click="PreviousInOperatingCondition = 0">
                    <span class="ButtonStyleOneText">No</span>
                </button>
                <input
                        class="AnswerChoice"
                        type="hidden"
                        name="PreviousInOperatingCondition"
                        v-model="PreviousInOperatingCondition"
                >
                <textarea
                        v-if="PreviousInOperatingCondition == 1"
                        rows="8"
                        class="form-control mt-n2 AnswerChoice"
                        name="IssuesDescription"
                        placeholder="Explain issues identified above:"
                        style="max-width: 720px;"
                >{{this.currentAnswers['IssuesDescription'].Answer || ''}}</textarea>
            </div>
            <br>
        </div>
    </div>
</template>

<script>
    export default {
        name: "TDS_PropertyHasItems",
        components: {

        },
        computed: {
            PropertyHasItemsValue() {
                if (this.PropertyHasItems.length == 0) return 0;
                else return this.PropertyHasItems.join(',');
            },
            ShowOtherExplanationText(){
                return this.PropertyHasItems.includes('Other');
            },
        },
        props: {
            friendlyIndex: {
                type: String,
                default: null,
            },
            title: {
                type: String,
                default: null,
            },
            answerChoices:{
                type: Array,
                default: () => []
            },
            currentAnswers: {
                type: Object,
                default: () => {},
            },
            required: {
                type: String,
                default: null,
            },
        },
        data(){
            return {
                otherExplanationValue: this.currentAnswers['OtherExplanation'].Answer || '',
                PropertyHasItems: [],
                PreviousInOperatingCondition: null,
                errorMessages: {},
            }
        },
        methods: {
            getHostUrl()
            {
                return getHostURL();
            }
        },
        mounted() {
            if (this.currentAnswers['PropertyHasItems'].Answer)
                this.PropertyHasItems = this.currentAnswers['PropertyHasItems']['Answer'].split(',');
            this.PreviousInOperatingCondition = this.currentAnswers['PreviousInOperatingCondition'].Answer;
            this.errorMessages[this.friendlyIndex] = {required: this.required || 'Please select an option.',};
            this.$parent.$emit('setErrorMessages', this.errorMessages);
        }
    }
</script>

<style scoped>

</style>