<template>
    <div>

        <div class="mx-auto" style="max-width: 650px;">
            <div class="TDS-summary">
                <h5 class="question mt-0">Summary</h5><br>
                <ul>
                    <li>
                        Does the seller occupy the property?
                        <b>{{this.allAnswersByFriendlyIndex['SellerOccupying']}}</b>
                    </li>
                    <li>
                        Property has these items:
                        <b>{{this.allAnswersByFriendlyIndex['PropertyHasItems']}}</b>
                    </li>
                    <li v-if="allAnswersByFriendlyIndex['PreviousInOperatingCondition'] == 1">
                        The items above have these issues:
                        <b>{{this.allAnswersByFriendlyIndex['IssuesDescription']}}</b>
                    </li>
                    <li>
                        Child Resistant Barrier on Pool
                        <b>{{this.allAnswersByFriendlyIndex['ChildResistantBarrier']}}</b>
                    </li>
                    <li>
                        Pool Heater
                        <b>{{this.allAnswersByFriendlyIndex['PoolHeater']}}</b>
                    </li>
                    <li>
                        Pool Heater Type
                        <b>{{this.allAnswersByFriendlyIndex['PoolHeaterType']}}</b>
                    </li>
                    <li>
                        Hot Tub Locking Safety Cover
                        <b>{{this.allAnswersByFriendlyIndex['HotTubLockingSafetyCover']}}</b>
                    </li>
                    <li>
                        Exhaust fans in:
                        <b>{{this.allAnswersByFriendlyIndex['ExhaustFan']}}</b>
                    </li>
                    <li>
                        220 Volt Wiring in:
                        <b>{{this.allAnswersByFriendlyIndex['VoltWiring']}}</b>
                    </li>
                    <li>
                        Fireplace(s) in:
                        <b>{{this.allAnswersByFriendlyIndex['Fireplace']}}</b>
                    </li>
                    <li>
                        Property gas starter:
                        <b>{{this.allAnswersByFriendlyIndex['PropertyGasStarter']}}</b>
                    </li>
                    <li>
                        Roof type:
                        <b>{{this.allAnswersByFriendlyIndex['RoofsType']}}</b>
                    </li>
                    <li>
                        Roof Age:
                        <b>{{this.allAnswersByFriendlyIndex['RoofsAge']}}</b>
                    </li>
                    <li>
                        Water Supply Source:
                        <b>{{this.allAnswersByFriendlyIndex['WaterSupplyType']}}</b>
                        <br v-if="allAnswersByFriendlyIndex['WaterSupplyType'] == 'Private Utility or Other'">
                        <b v-if="allAnswersByFriendlyIndex['WaterSupplyType'] == 'Private Utility or Other'">
                            {{this.allAnswersByFriendlyIndex['PrivateUtilityOtherExplanation']}}
                        </b>
                    </li>
                    <li>
                        Gas Supply Type:
                        <b>{{this.allAnswersByFriendlyIndex['GasSupplyType']}}</b>
                    </li>
                    <li>
                        Water Heater Type:
                        <b>{{this.allAnswersByFriendlyIndex['WaterHeaterType']}}</b>
                    </li>
                    <li>
                        Garage Type:
                        <b>{{this.allAnswersByFriendlyIndex['GarageType']}}</b>
                    </li>
                    <li>
                        Does the garage have an automatic door opener?
                        <b>{{this.allAnswersByFriendlyIndex['GarageAutoDoorOpener']}}</b>
                    </li>
                    <li v-if="allAnswersByFriendlyIndex['GarageAutoDoorOpener'] == 'yes'">
                        Number of remote controls for automatic garage door opener:
                        <b>{{this.allAnswersByFriendlyIndex['NumberRemoteControls']}}</b>
                    </li>
                    <li>
                        I am (the Seller) Aware of The Significant Defects/Malfunctions in the Following
                        <b>{{this.allAnswersByFriendlyIndex['DefectsOrMalfunctionsToFollowing'] == 0 ? 'None' : this.allAnswersByFriendlyIndex['DefectsOrMalfunctionsToFollowing']}}</b><br><br>
                        Explanation:
                        <span>{{this.allAnswersByFriendlyIndex['ExplainIssuesCheckedPreviousPage']}}</span>
                    </li>
                    <li class="Summary_SellerAwareList">
                        I am (the Seller) Aware of The Following:
                        <br>
                        <div v-if="allAnswersByFriendlyIndex['EnvironmentalHazardSubstancesMaterials'] == 1">
                            <b>
                                Substances, materials, or products that may be an environmental hazard such as,
                                but not limited to, asbestos, formaldehyde, radon gas, lead-based paint, mold,
                                fuel or chemical storage tanks, and contaminated soil or water on the subject property.</b>
                            <br>
                        </div>
                        <div v-if="allAnswersByFriendlyIndex['PropertySharedFeatures'] == 1">
                            <b>
                                Features of the property shared in common with adjoining landowners, such as walls,
                                fences, and driveways, whose use or responsibility for maintenance may have an effect
                                on the subject property.</b>
                            <br>
                        </div>
                        <div v-if="allAnswersByFriendlyIndex['EnchroachmentsEasements'] == 1">
                            <b>
                                Any encroachments, easements, or similar matters that may affect your interest in
                                the subject property.</b>
                            <br>
                        </div>
                        <div v-if="allAnswersByFriendlyIndex['ModificationsWithoutNecessaryPermits'] == 1">
                            <b>
                                Room additions, structural modifications, or other alterations or repairs made
                                without necessary permits.</b>
                            <br>
                        </div>
                        <div v-if="allAnswersByFriendlyIndex['ModificationsNotInCompliance'] == 1">
                            <b>
                                Room additions, structural modifications, or other alterations or repairs not in
                                compliance with building codes.</b>
                            <br>
                        </div>
                        <div v-if="allAnswersByFriendlyIndex['FillOnProperty'] == 1">
                            <b>
                                Fill (compacted or otherwise) on the property or any portion thereof.</b>
                            <br>
                        </div>
                        <div v-if="allAnswersByFriendlyIndex['SettlingFromAnyCause'] == 1">
                            <b>
                                Any settling from any cause, or slippage, sliding, or other soil problems.</b>
                            <br>
                        </div>
                        <div v-if="allAnswersByFriendlyIndex['FloodingDrainageProblems'] == 1">
                            <b>
                                Flooding, drainage, or grading problems.</b>
                            <br>
                        </div>
                        <div v-if="allAnswersByFriendlyIndex['PropertyMajorDamage'] == 1">
                            <b>
                                Major damage to the property or any other structures from fire, earthquake,
                                floods, or landslides.</b>
                            <br>
                        </div>
                        <div v-if="allAnswersByFriendlyIndex['ZoningViolations'] == 1">
                            <b>
                                Any zoning violations, nonconforming uses, or violations of “setback” requirements.</b>
                            <br>
                        </div>
                        <div v-if="allAnswersByFriendlyIndex['NoiseProblems'] == 1">
                            <b>
                                Neighborhood noise problems or other nuisances.</b>
                            <br>
                        </div>
                        <div v-if="allAnswersByFriendlyIndex['DeedRestrictions'] == 1">
                            <b>
                                CC&amp;Rs or other deed restrictions or obligations.</b>
                            <br>
                        </div>
                        <div v-if="allAnswersByFriendlyIndex['HOAAuthority'] == 1">
                            <b>
                                Homeowners’ association that has any authority over the subject property.</b>
                            <br>
                        </div>
                        <div v-if="allAnswersByFriendlyIndex['CommonArea'] == 1">
                            <b>
                                Any “common area” (facilities such as pools, tennis courts, walkways, or other
                                areas co-owned in undivided interest with others).</b>
                            <br>
                        </div>
                        <div v-if="allAnswersByFriendlyIndex['AbatementNotice'] == 1">
                            <b>
                                Any notices of abatement or citations against the property.</b>
                            <br>
                        </div>
                        <div v-if="allAnswersByFriendlyIndex['Lawsuits'] == 1">
                            <b>
                                Any lawsuits by or against the Seller threatening to or affecting this real property,
                                including any lawsuits alleging a defect or deficiency in this real property or
                                “common areas“ (facilities such as pools, tennis courts, walkways, or other areas
                                co-owned in undivided interest with others.</b>
                            <br>
                        </div>
                        <br>
                        <span v-if="allAnswersByFriendlyIndex['SellerAwareExplanation']">Explanation:</span>
                        <span>{{this.allAnswersByFriendlyIndex['SellerAwareExplanation']}}</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "",
        components: {

        },
        computed: {

        },
        props: {
            friendlyIndex: {
                type: String,
                default: null,
            },
            title: {
                type: String,
                default: null,
            },
            answerChoices:{
                type: Array,
                default: () => []
            },
            currentAnswers: {
                type: Object,
                default: () => {},
            },
            allAnswersByFriendlyIndex: {
                type:Object,
                default: () => {},
            },
        },
        data(){
            return {

            }
        },
        methods: {

        },
        mounted() {

        }
    }
</script>

<style scoped>

</style>