<template>
    <div>
        <h4 class="reports-main-heading">Transfer Disclosure Statement</h4>
        <center>
            <iframe src="https://www.youtube.com/embed/dhYOPzcsbGM"></iframe>
            <p id="p2">
                THE FOLLOWING ARE REPRESENTATIONS MADE BY THE SELLER(S) AND ARE
                NOT REPRESENTATIONS OF THE AGENT(S), IF ANY. THIS INFORMATION IS
                A DISCLOSURE AND IS NOT INTENDED TO BE PART OF ANY CONTRACT BETWEEN
                THE BUYER AND SELLER
            </p>
            <a href="#/" v-on:click="$root.$emit('next')">
                <button class="btn float-none get-started" style="width: 180px;">Get Started &nbsp; <i class="fas fa-chevron-right"></i></button>
            </a>
        </center>
    </div>
</template>

<script>
    export default {
        name: "TDS_Overview",
        components: {

        },
        props: {
            friendlyIndex: {
                type: String,
                default: null,
            },
            title: {
                type: String,
                default: null,
            },
            answerChoices:{
                type: Array,
                default: () => []
            },
            currentAnswers: {
                type: Object,
                default: () => {},
            },
        },
        data(){
            return {

            }
        },
        methods: {

        },
        mounted() {

        }
    }
</script>

<style scoped>

</style>