<template>
    <div>
        <question-title title="Where does the property’s water supply come from?"></question-title>
        <center>
            <button
                    :class="{'btn teal-background white-text question-response-button':WaterSupplyType == 'City',
                        'btn question-response-button':WaterSupplyType != 'City'}"
                    v-on:click="WaterSupplyType = 'City'"
            >
                <span class="ButtonStyleOneText">City</span>
            </button>
            <button
                    :class="{'btn teal-background white-text question-response-button':WaterSupplyType == 'Well',
                        'btn question-response-button':WaterSupplyType != 'Well'}"
                    v-on:click="WaterSupplyType = 'Well'"
            >
                <span class="ButtonStyleOneText">Well</span>
            </button>
            <button
                    :class="{'btn teal-background white-text question-response-button':WaterSupplyType == 'Private Utility or Other',
                        'btn question-response-button':WaterSupplyType != 'Private Utility or Other'}"
                    v-on:click="WaterSupplyType = 'Private Utility or Other'"
            >
                <span class="ButtonStyleOneText">Private Utility or Other</span>
            </button>
            <input
                    type="hidden"
                    name="WaterSupplyType"
                    class="AnswerChoice"
                    v-model="WaterSupplyType"
            >
            <form v-if="WaterSupplyType == 'Private Utility or Other'" class="mx-auto mb-4 mt-n3 pb-4 BuyerSellerAgentInfo" style="max-width: 250px;">
                <div>
                    <a href="#/" class="report-anchor-style-one" style="font-size: 11px;">The water supply comes from a different source</a>
                    <input
                            type="text"
                            name="PrivateUtilityOtherExplanation"
                            class="form-control mt-4 report-input-style-one AnswerChoice"
                            :value="currentAnswers['PrivateUtilityOtherExplanation'].Answer || ''"
                    >
                </div>
            </form>
        </center>
    </div>
</template>

<script>
    import QuestionTitle from "../../QuestionTitle";
    export default {
        name: "TDS_WaterSupplyType",
        components: {
            QuestionTitle

        },
        computed: {

        },
        props: {
            friendlyIndex: {
                type: String,
                default: null,
            },
            title: {
                type: String,
                default: null,
            },
            answerChoices:{
                type: Array,
                default: () => []
            },
            currentAnswers: {
                type: Object,
                default: () => {},
            },
        },
        data(){
            return {
                WaterSupplyType: this.currentAnswers['WaterSupplyType'].Answer || '',
            }
        },
        methods: {

        },
        mounted() {

        }
    }
</script>

<style scoped>

</style>