<template>
    <div>
        <question-title title="Are you (the Seller) aware of any of the following?"></question-title>
        <ul class="sellerAwareUL">
            <li class="clearfix">
                <div class="float-left px-3" style="max-width: 400px;">
                    <p>1. Substances, materials, or products that may be an environmental hazard such as,
                        but not limited to, asbestos, formaldehyde, radon gas, lead-based paint, mold,
                        fuel or chemical storage tanks, and contaminated soil or water on the subject property.</p>
                </div>
                <div class="float-right pt-2 pb-4 pr-5">
                    <button
                            :class="{'btn teal-background white-text question-response-button':EnvironmentalHazardSubstancesMaterials == 1,
                        'btn question-response-button':EnvironmentalHazardSubstancesMaterials != 1}"
                            v-on:click="EnvironmentalHazardSubstancesMaterials = 1">
                        <span class="ButtonStyleOneText">Yes</span>
                    </button>
                    <button
                            :class="{'btn teal-background white-text question-response-button':parseInt(EnvironmentalHazardSubstancesMaterials) == 0,
                        'btn question-response-button':parseInt(EnvironmentalHazardSubstancesMaterials) != 0}"
                            v-on:click="EnvironmentalHazardSubstancesMaterials = 0">
                        <span class="ButtonStyleOneText">No</span>
                    </button>
                    <input
                            class="AnswerChoice"
                            type="hidden"
                            name="EnvironmentalHazardSubstancesMaterials"
                            v-model="EnvironmentalHazardSubstancesMaterials"
                    >
                </div>
            </li>
            <li class="clearfix">
                <div class="float-left px-3" style="max-width: 400px;">
                    <p>
                        2. Features of the property shared in common with adjoining landowners, such as walls,
                        fences, and driveways, whose use or responsibility for maintenance may have an effect
                        on the subject property.
                    </p>
                </div>
                <div class="float-right pt-2 pb-4 pr-5">
                    <button
                            :class="{'btn teal-background white-text question-response-button':PropertySharedFeatures == 1,
                        'btn question-response-button':PropertySharedFeatures != 1}"
                            v-on:click="PropertySharedFeatures = 1">
                        <span class="ButtonStyleOneText">Yes</span>
                    </button>
                    <button
                            :class="{'btn teal-background white-text question-response-button':parseInt(PropertySharedFeatures) == 0,
                        'btn question-response-button':parseInt(PropertySharedFeatures) != 0}"
                            v-on:click="PropertySharedFeatures = 0">
                        <span class="ButtonStyleOneText">No</span>
                    </button>
                    <input
                            class="AnswerChoice"
                            type="hidden"
                            name="PropertySharedFeatures"
                            v-model="PropertySharedFeatures"
                    >
                </div>
            </li>
            <li class="clearfix">
                <div class="float-left px-3" style="max-width: 400px;">
                    <p>
                        3. Any encroachments, easements, or similar matters that may affect your interest in
                        the subject property.
                    </p>
                </div>
                <div class="float-right  pt-2 pb-4 pr-5">
                    <button
                            :class="{'btn teal-background white-text question-response-button':EnchroachmentsEasements == 1,
                        'btn question-response-button':EnchroachmentsEasements != 1}"
                            v-on:click="EnchroachmentsEasements = 1">
                        <span class="ButtonStyleOneText">Yes</span>
                    </button>
                    <button
                            :class="{'btn teal-background white-text question-response-button':parseInt(EnchroachmentsEasements) == 0,
                        'btn question-response-button':parseInt(EnchroachmentsEasements) != 0}"
                            v-on:click="EnchroachmentsEasements = 0">
                        <span class="ButtonStyleOneText">No</span>
                    </button>
                    <input
                            class="AnswerChoice"
                            type="hidden"
                            name="EnchroachmentsEasements"
                            v-model="EnchroachmentsEasements"
                    >
                </div>
            </li>
            <li class="clearfix mt-3">
                <div class="float-left px-3" style="max-width: 400px;">
                    <p>
                        4. Room additions, structural modifications, or other alterations or repairs made
                        without necessary permits.
                    </p>
                </div>
                <div class="float-right pt-2 pb-4 pr-5">
                    <button
                            :class="{'btn teal-background white-text question-response-button':ModificationsWithoutNecessaryPermits == 1,
                        'btn question-response-button':ModificationsWithoutNecessaryPermits != 1}"
                            v-on:click="ModificationsWithoutNecessaryPermits = 1">
                        <span class="ButtonStyleOneText">Yes</span>
                    </button>
                    <button
                            :class="{'btn teal-background white-text question-response-button':parseInt(ModificationsWithoutNecessaryPermits) == 0,
                        'btn question-response-button':parseInt(ModificationsWithoutNecessaryPermits) != 0}"
                            v-on:click="ModificationsWithoutNecessaryPermits = 0">
                        <span class="ButtonStyleOneText">No</span>
                    </button>
                    <input
                            class="AnswerChoice"
                            type="hidden"
                            name="ModificationsWithoutNecessaryPermits"
                            v-model="ModificationsWithoutNecessaryPermits"
                    >
                </div>
            </li>
            <li class="clearfix">
                <div class="float-left px-3" style="max-width: 400px;">
                    <p>
                        5. Room additions, structural modifications, or other alterations or repairs not in
                        compliance with building codes.
                    </p>
                </div>
                <div class="float-right pt-2 pb-4 pr-5">
                    <button
                            :class="{'btn teal-background white-text question-response-button':ModificationsNotInCompliance == 1,
                        'btn question-response-button':ModificationsNotInCompliance != 1}"
                            v-on:click="ModificationsNotInCompliance = 1">
                        <span class="ButtonStyleOneText">Yes</span>
                    </button>
                    <button
                            :class="{'btn teal-background white-text question-response-button':parseInt(ModificationsNotInCompliance) == 0,
                        'btn question-response-button':parseInt(ModificationsNotInCompliance) != 0}"
                            v-on:click="ModificationsNotInCompliance = 0">
                        <span class="ButtonStyleOneText">No</span>
                    </button>
                    <input
                            class="AnswerChoice"
                            type="hidden"
                            name="ModificationsNotInCompliance"
                            v-model="ModificationsNotInCompliance"
                    >
                </div>
            </li>
            <li class="clearfix">
                <div class="float-left px-3" style="max-width: 400px;">
                    <p>
                        6. Fill (compacted or otherwise) on the property or any portion thereof.
                    </p>
                </div>
                <div class="float-right pt-2 pb-4 pr-5">
                    <button
                            :class="{'btn teal-background white-text question-response-button':FillOnProperty == 1,
                        'btn question-response-button':FillOnProperty != 1}"
                            v-on:click="FillOnProperty = 1">
                        <span class="ButtonStyleOneText">Yes</span>
                    </button>
                    <button
                            :class="{'btn teal-background white-text question-response-button':parseInt(FillOnProperty) == 0,
                        'btn question-response-button':parseInt(FillOnProperty) != 0}"
                            v-on:click="FillOnProperty = 0">
                        <span class="ButtonStyleOneText">No</span>
                    </button>
                    <input
                            class="AnswerChoice"
                            type="hidden"
                            name="FillOnProperty"
                            v-model="FillOnProperty"
                    >
                </div>
            </li>
            <li class="clearfix">
                <div class="float-left px-3" style="max-width: 400px;">
                    <p>
                        7. Any settling from any cause, or slippage, sliding, or other soil problems.
                    </p>
                </div>
                <div class="float-right pt-2 pb-4 pr-5">
                    <button
                            :class="{'btn teal-background white-text question-response-button':SettlingFromAnyCause == 1,
                        'btn question-response-button':SettlingFromAnyCause != 1}"
                            v-on:click="SettlingFromAnyCause = 1">
                        <span class="ButtonStyleOneText">Yes</span>
                    </button>
                    <button
                            :class="{'btn teal-background white-text question-response-button':parseInt(SettlingFromAnyCause) == 0,
                        'btn question-response-button':parseInt(SettlingFromAnyCause) != 0}"
                            v-on:click="SettlingFromAnyCause = 0">
                        <span class="ButtonStyleOneText">No</span>
                    </button>
                    <input
                            class="AnswerChoice"
                            type="hidden"
                            name="SettlingFromAnyCause"
                            v-model="SettlingFromAnyCause"
                    >
                </div>
            </li>
            <li class="clearfix">
                <div class="float-left px-3" style="max-width: 400px;">
                    <p>
                        8. Flooding, drainage, or grading problems.
                    </p>
                </div>
                <div class="float-right pt-2 pb-4 pr-5">
                    <button
                            :class="{'btn teal-background white-text question-response-button':FloodingDrainageProblems == 1,
                        'btn question-response-button':FloodingDrainageProblems != 1}"
                            v-on:click="FloodingDrainageProblems = 1">
                        <span class="ButtonStyleOneText">Yes</span>
                    </button>
                    <button
                            :class="{'btn teal-background white-text question-response-button':parseInt(FloodingDrainageProblems) == 0,
                        'btn question-response-button':parseInt(FloodingDrainageProblems) != 0}"
                            v-on:click="FloodingDrainageProblems = 0">
                        <span class="ButtonStyleOneText">No</span>
                    </button>
                    <input
                            class="AnswerChoice"
                            type="hidden"
                            name="FloodingDrainageProblems"
                            v-model="FloodingDrainageProblems"
                    >
                </div>
            </li>
            <li class="clearfix">
                <div class="float-left px-3" style="max-width: 400px;">
                    <p>
                        9. Major damage to the property or any other structures from fire, earthquake,
                        floods, or landslides.
                    </p>
                </div>
                <div class="float-right pt-2 pb-4 pr-5">
                    <button
                            :class="{'btn teal-background white-text question-response-button':PropertyMajorDamage == 1,
                        'btn question-response-button':PropertyMajorDamage != 1}"
                            v-on:click="PropertyMajorDamage = 1">
                        <span class="ButtonStyleOneText">Yes</span>
                    </button>
                    <button
                            :class="{'btn teal-background white-text question-response-button':parseInt(PropertyMajorDamage) == 0,
                        'btn question-response-button':parseInt(PropertyMajorDamage) != 0}"
                            v-on:click="PropertyMajorDamage = 0">
                        <span class="ButtonStyleOneText">No</span>
                    </button>
                    <input
                            class="AnswerChoice"
                            type="hidden"
                            name="PropertyMajorDamage"
                            v-model="PropertyMajorDamage"
                    >
                </div>
            </li>
            <li class="clearfix">
                <div class="float-left px-3" style="max-width: 400px;">
                    <p>
                        10. Any zoning violations, nonconforming uses, or violations of “setback” requirements.
                    </p>
                </div>
                <div class="float-right pt-2 pb-4 pr-5">
                    <button
                            :class="{'btn teal-background white-text question-response-button':ZoningViolations == 1,
                        'btn question-response-button':ZoningViolations != 1}"
                            v-on:click="ZoningViolations = 1">
                        <span class="ButtonStyleOneText">Yes</span>
                    </button>
                    <button
                            :class="{'btn teal-background white-text question-response-button':parseInt(ZoningViolations) == 0,
                        'btn question-response-button':parseInt(ZoningViolations) != 0}"
                            v-on:click="ZoningViolations = 0">
                        <span class="ButtonStyleOneText">No</span>
                    </button>
                    <input
                            class="AnswerChoice"
                            type="hidden"
                            name="ZoningViolations"
                            v-model="ZoningViolations"
                    >
                </div>
            </li>
            <li class="clearfix">
                <div class="float-left px-3" style="max-width: 400px;">
                    <p>
                        11. Neighborhood noise problems or other nuisances.
                    </p>
                </div>
                <div class="float-right pt-2 pb-4 pr-5">
                    <button
                            :class="{'btn teal-background white-text question-response-button':NoiseProblems == 1,
                        'btn question-response-button':NoiseProblems != 1}"
                            v-on:click="NoiseProblems = 1">
                        <span class="ButtonStyleOneText">Yes</span>
                    </button>
                    <button
                            :class="{'btn teal-background white-text question-response-button':parseInt(NoiseProblems) == 0,
                        'btn question-response-button':parseInt(NoiseProblems) != 0}"
                            v-on:click="NoiseProblems = 0">
                        <span class="ButtonStyleOneText">No</span>
                    </button>
                    <input
                            class="AnswerChoice"
                            type="hidden"
                            name="NoiseProblems"
                            v-model="NoiseProblems"
                    >
                </div>
            </li>
            <li class="clearfix">
                <div class="float-left px-3" style="max-width: 400px;">
                    <p>
                        12. CC&amp;Rs or other deed restrictions or obligations.
                    </p>
                </div>
                <div class="float-right pt-2 pb-4 pr-5">
                    <button
                            :class="{'btn teal-background white-text question-response-button':DeedRestrictions == 1,
                        'btn question-response-button':DeedRestrictions != 1}"
                            v-on:click="DeedRestrictions = 1">
                        <span class="ButtonStyleOneText">Yes</span>
                    </button>
                    <button
                            :class="{'btn teal-background white-text question-response-button':parseInt(DeedRestrictions) == 0,
                        'btn question-response-button':parseInt(DeedRestrictions) != 0}"
                            v-on:click="DeedRestrictions = 0">
                        <span class="ButtonStyleOneText">No</span>
                    </button>
                    <input
                            class="AnswerChoice"
                            type="hidden"
                            name="DeedRestrictions"
                            v-model="DeedRestrictions"
                    >
                </div>
            </li>
            <li class="clearfix">
                <div class="float-left px-3" style="max-width: 400px;">
                    <p>
                        13. Homeowners’ association that has any authority over the subject property.
                    </p>
                </div>
                <div class="float-right pt-2 pb-4 pr-5">
                    <button
                            :class="{'btn teal-background white-text question-response-button':HOAAuthority == 1,
                        'btn question-response-button':HOAAuthority != 1}"
                            v-on:click="HOAAuthority = 1">
                        <span class="ButtonStyleOneText">Yes</span>
                    </button>
                    <button
                            :class="{'btn teal-background white-text question-response-button':parseInt(HOAAuthority) == 0,
                        'btn question-response-button':parseInt(HOAAuthority) != 0}"
                            v-on:click="HOAAuthority = 0">
                        <span class="ButtonStyleOneText">No</span>
                    </button>
                    <input
                            class="AnswerChoice"
                            type="hidden"
                            name="HOAAuthority"
                            v-model="HOAAuthority"
                    >
                </div>
            </li>
            <li class="clearfix">
                <div class="float-left px-3" style="max-width: 400px;">
                    <p>
                        14. Any “common area” (facilities such as pools, tennis courts, walkways, or other
                        areas co-owned in undivided interest with others).
                    </p>
                </div>
                <div class="float-right pt-2 pb-4 pr-5">
                    <button
                            :class="{'btn teal-background white-text question-response-button':CommonArea == 1,
                        'btn question-response-button':CommonArea != 1}"
                            v-on:click="CommonArea = 1">
                        <span class="ButtonStyleOneText">Yes</span>
                    </button>
                    <button
                            :class="{'btn teal-background white-text question-response-button':parseInt(CommonArea) == 0,
                        'btn question-response-button':parseInt(CommonArea) != 0}"
                            v-on:click="CommonArea = 0">
                        <span class="ButtonStyleOneText">No</span>
                    </button>
                    <input
                            class="AnswerChoice"
                            type="hidden"
                            name="CommonArea"
                            v-model="CommonArea"
                    >
                </div>
            </li>
            <li class="clearfix">
                <div class="float-left px-3" style="max-width: 400px;">
                    <p>
                        15. Any notices of abatement or citations against the property.
                    </p>
                </div>
                <div class="float-right pt-2 pb-4 pr-5">
                    <button
                            :class="{'btn teal-background white-text question-response-button':AbatementNotice == 1,
                        'btn question-response-button':AbatementNotice != 1}"
                            v-on:click="AbatementNotice = 1">
                        <span class="ButtonStyleOneText">Yes</span>
                    </button>
                    <button
                            :class="{'btn teal-background white-text question-response-button':parseInt(AbatementNotice) == 0,
                        'btn question-response-button':parseInt(AbatementNotice) != 0}"
                            v-on:click="AbatementNotice = 0">
                        <span class="ButtonStyleOneText">No</span>
                    </button>
                    <input
                            class="AnswerChoice"
                            type="hidden"
                            name="AbatementNotice"
                            v-model="AbatementNotice"
                    >
                </div>
            </li>
            <li class="clearfix">
                <div class="float-left px-3" style="max-width: 400px;">
                    <p>
                        16. Any lawsuits by or against the Seller threatening to or affecting this real property,
                        including any lawsuits alleging a defect or deficiency in this real property or
                        “common areas“ (facilities such as pools, tennis courts, walkways, or other areas
                        co-owned in undivided interest with others.
                    </p>
                </div>
                <div class="float-right pt-2 pb-4 pr-5">
                    <button
                            :class="{'btn teal-background white-text question-response-button':Lawsuits == 1,
                        'btn question-response-button':Lawsuits != 1}"
                            v-on:click="Lawsuits = 1">
                        <span class="ButtonStyleOneText">Yes</span>
                    </button>
                    <button
                            :class="{'btn teal-background white-text question-response-button':parseInt(Lawsuits) == 0,
                        'btn question-response-button':parseInt(Lawsuits) != 0}"
                            v-on:click="Lawsuits = 0">
                        <span class="ButtonStyleOneText">No</span>
                    </button>
                    <input
                            class="AnswerChoice"
                            type="hidden"
                            name="Lawsuits"
                            v-model="Lawsuits"
                    >
                </div>
                <textarea
                        rows="3"
                        class="form-control mt-n2 AnswerChoice"
                        name="SellerAwareExplanation"
                        placeholder="Explain issues identified above:"
                        style="max-width: 720px;"
                >{{this.currentAnswers['SellerAwareExplanation'].Answer || ''}}</textarea>
            </li>
        </ul>
    </div>
</template>

<script>
    import QuestionTitle from "../../QuestionTitle";
    export default {
        name: "TDS_SellerAware",
        components: {
            QuestionTitle,
        },
        computed: {

        },
        props: {
            friendlyIndex: {
                type: String,
                default: null,
            },
            title: {
                type: String,
                default: null,
            },
            answerChoices:{
                type: Array,
                default: () => []
            },
            currentAnswers: {
                type: Object,
                default: () => {},
            },
        },
        data(){
            return {
                EnvironmentalHazardSubstancesMaterials: this.currentAnswers['EnvironmentalHazardSubstancesMaterials'].Answer || '',
                PropertySharedFeatures: this.currentAnswers['PropertySharedFeatures'].Answer || '',
                EnchroachmentsEasements: this.currentAnswers['EnchroachmentsEasements'].Answer || '',
                ModificationsWithoutNecessaryPermits: this.currentAnswers['ModificationsWithoutNecessaryPermits'].Answer || '',
                ModificationsNotInCompliance: this.currentAnswers['ModificationsNotInCompliance'].Answer || '',
                FillOnProperty: this.currentAnswers['FillOnProperty'].Answer || '',
                SettlingFromAnyCause: this.currentAnswers['SettlingFromAnyCause'].Answer || '',
                FloodingDrainageProblems: this.currentAnswers['FloodingDrainageProblems'].Answer || '',
                PropertyMajorDamage: this.currentAnswers['PropertyMajorDamage'].Answer || '',
                ZoningViolations: this.currentAnswers['ZoningViolations'].Answer || '',
                NoiseProblems: this.currentAnswers['NoiseProblems'].Answer || '',
                DeedRestrictions: this.currentAnswers['DeedRestrictions'].Answer || '',
                HOAAuthority: this.currentAnswers['HOAAuthority'].Answer || '',
                CommonArea: this.currentAnswers['CommonArea'].Answer || '',
                AbatementNotice: this.currentAnswers['AbatementNotice'].Answer || '',
                Lawsuits: this.currentAnswers['Lawsuits'].Answer || '',
            }
        },
        methods: {

        },
        mounted() {

        }
    }
</script>

<style scoped>

</style>