<template>
    <div>
        <h5 class="question mt-0">COORDINATION WITH OTHER DISCLOSURE FORMS</h5>
        <center>
            <img
                    :src="getHostUrl()+'/images/questionnaires/transfer.png'"
                    class="img-responsive mb-5"
                    style="max-width: 250px; margin-top: 30px;"
            >
        </center>
        <br><br>
        <p>
            This Real Estate Transfer Disclosure Statement is made pursuant to Section 1102 of the Civil Code.
            Other statutes require disclosures, depending upon the details of the particular real estate
            transaction (for example: special study zone and purchase-money liens on residential property).
        </p>

        <p>
            <span class="report-anchor-style-one">Substituted Disclosures:</span> The following disclosures and other disclosures required by law, including the Natural Hazard Disclosure Report/Statement that may include airport annoyances, earthquake, fire, flood, or special assessment information, have or will be made in connection with this real estate transfer, and are intended to satisfy the disclosure obligations on this form, where the subject matter is the same:
        </p>

        <form style="max-width: 100%;">
            <input
                    type="checkbox"
                    id="checkbox-1"
                    style="margin-left: -18px;"
                    class="AnswerChoice booleanCheckbox"
                    name="InspectionReportsCompleted"
                    v-model="InspectionReportsCompleted"
            >
            <label for="checkbox-1">Inspection reports completed pursuant to the contract of sale or receipt for deposit.</label><br>

            <input
                    type="checkbox"
                    id="checkbox-2"
                    style="margin-left: -18px;"
                    class="AnswerChoice booleanCheckbox"
                    name="AreAdditionalReportsOrDisclosures"
                    v-model="AreAdditionalReportsOrDisclosures"
            >
            <label for="checkbox-2">Additional inspection reports or disclosures:</label><br>

            <textarea
                    :class="textAreaClass"
                    rows="3"
                    name="AdditionalReportsOrDisclosures"
                    placeholder="List all substituted disclosure forms to be used in connection with this transaction"
                    v-model="AdditionalReportsOrDisclosures"
            >
            </textarea>
        </form>
    </div>
</template>

<script>
    export default {
        name: "TDS_INTRO",
        components: {

        },
        computed: {
            textAreaClass(){
                return {
                    'form-control ml-lg-4 mt-2 AnswerChoice' : this.AreAdditionalReportsOrDisclosures,
                    'form-control ml-lg-4 mt-2 AnswerChoice hidden' : !this.AreAdditionalReportsOrDisclosures
                }
            }
        },
        props: {
            friendlyIndex: {
                type: String,
                default: null,
            },
            title: {
                type: String,
                default: null,
            },
            answerChoices:{
                type: Array,
                default: () => []
            },
            currentAnswers: {
                type: Object,
                default: () => {},
            },
        },
        data(){
            return {
                InspectionReportsCompleted: this.currentAnswers['InspectionReportsCompleted'].Answer || 0,
                AreAdditionalReportsOrDisclosures: this.currentAnswers['AreAdditionalReportsOrDisclosures'].Answer || 0,
                AdditionalReportsOrDisclosures: this.currentAnswers['AdditionalReportsOrDisclosures'].Answer,
            }
        },
        methods: {
            getHostUrl()
            {
                return getHostURL();
            }
        },
        mounted() {

        }
    }
</script>

<style scoped>

</style>