@media screen{
	#uploadfiles{
		text-align: center;
		.droparea-wrapper{
			border-bottom: 4px solid #f4f4f4;
			padding:40px 30px;
			margin:0 -30px;
		}
		.form-groups{
			padding: 40px 0 10px;
			.form-group{
				padding:0;
				max-width: 600px;
				margin: 0 auto 40px;
			}
			.radio-boxes{
				h2{
					display: inline-block;
					vertical-align: middle;
					margin: 0;
					font-size: 1.2em;
					text-transform: uppercase;
					font-weight: 700;
					margin-right: 20px;
					margin-bottom: 15px;
				}
				.label-control{
					display: inline-block;
					vertical-align: middle;
					margin: 0;
					&.checkboxes{
						color: #a4a4a4;
						margin-right: 15px;
						position: relative;
						padding-left: 15px;
						font-weight: 400;
						transition: all 0.7s ease;
						padding-left: 30px;
						display: block;
						margin-bottom: 15px;
						text-align: left;
						&:last-child{
							margin-right: 0;
						}
						@media (min-width: 992px) {
							display: inline-block;
						}
						&.radio{
							& > span{
								border-radius: 50%;
							}
						}
						&:hover{
							color: $black;
						}
						input{
							display: none;
							
							&:checked + span {
								border: 2px solid #000000;
								background: $red;
							}
						}
						& > span{
							content: '';
							display: block;
							border: 2px solid #000000;
							height: 20px;
							width: 20px;
							vertical-align: middle;
							top: 50%;
							position: absolute;
							left: 0;
							margin-top: -10px;
							transition: all 0.7s ease;
						}
						

					}
				}
			}
			.select-wrapper{
				position: relative;
				&:after{
					content: "\F078";
					font-family: 'Font Awesome 5 Free';
					font-weight: 900;
					position: absolute;
					top: 0;
					font-size: 18px;
					margin-top: 0;
					right: 0;
					pointer-events: none;
					z-index: 2;
					background: #222222;
					padding: 9px;
					color: $white;
					height: 44px;
				}
				select{
					border:1px solid #222222;
					width: 100%;
					padding: 10px;
					color: #222222;
					appearance:none;
					position: relative;
					z-index: 1;
					background: #f4f4f4;
					height: 44px;
				}
			}
		}
		.droparea {
			margin-bottom: 20px;
			.fs-upload-target{
				border:1px dashed #70777b;
				line-height: 10em;
				font-weight: 700;
				font-size: 1.2em;
				color: #3c3e3f;
			}
			.fs-upload-input{
				display: none;
			}
		}
	}
}