<template>
    <div>
        <center>
            <question-title :title="title"></question-title>
            <a class="ButtonStyleOne">
                <button
                        v-on:click="chooseSide('b')"
                        :class="{'btn light-blue-background': radioValue == 'b',
                        'btn': radioValue != 'b'}"
                >
                    <img :src="getHostUrl() + 'images/questionnaires/buyer.png'">
                    <br>
                    <span class="ButtonStyleOneText">Buyer</span>
                </button>
                <button
                        v-on:click="chooseSide('s')"
                        :class="{'btn light-blue-background': radioValue == 's',
                        'btn': radioValue != 's'}"
                >
                    <img :src="getHostUrl() + 'images/questionnaires/seller.png'">
                    <br>
                    <span class="ButtonStyleOneText">Seller</span>
                </button>
                <input
                        type="hidden"
                        name="TransactionSide"
                        v-model="radioValue"
                        class="AnswerChoice"
                >
                <input v-model="ConsumerNameFirst" type="hidden" class="AnswerChoice" :name="consumerType+'1_NameFirst'">
                <input v-model="ConsumerNameLast" type="hidden" class="AnswerChoice" :name="consumerType+'1_NameLast'">
                <input v-model="ConsumerEmail" type="hidden" class="AnswerChoice" :name="consumerType+'1_Email'">
                <input v-model="ConsumerPhone" type="hidden" class="AnswerChoice" :name="consumerType+'1_Phone'">
                <input type="hidden" class="AnswerChoice" name="userIsBuyer1" :value="consumerType == 'Buyer' ? 1:0">
                <input type="hidden" class="AnswerChoice" name="userIsSeller1" :value="consumerType == 'Seller' ? 1:0">
            </a>
        </center>
    </div>
</template>

<script>
    import QuestionTitle from "../../../QuestionTitle";
    export default {
        name: "HCT_TransactionSide",
        components: {
            QuestionTitle
        },
        props: {
            friendlyIndex: {
                type: String,
                default: null,
            },
            answerChoices:{
                type: Array,
                default: () => []
            },
            currentAnswers: {
                type: Object,
                default: () => {},
            },
            allData: {
                type: Object,
                default: () => {},
            },
        },
        watch: {
            radioValue: {
                handler(val){
                    if (val) this.$parent.processAutoAdvance();
                },
            }
        },
        data(){
            return{
                title: 'What side of the transaction are you on?',
                radioValue: this.currentAnswers['TransactionSide'].Answer || '',
                consumerType: '',
                isBuyer: 0,
                consumerTypeOpposite: '',
                ConsumerNameFirst: '',
                ConsumerNameLast: '',
                ConsumerEmail: '',
                ConsumerPhone: '',
                errorMessages: {
                    TransactionSide: {
                        required: 'Please select a side to continue.',
                    }
                }
            }
        },
        methods: {
            getHostUrl()
            {
                return getHostURL();
            },
            chooseSide(side, fromMounted = false){
                if (side == this.radioValue && !fromMounted)
                {
                    side = '';
                    this.radioValue = side;
                }
                if (side)
                {
                    this.consumerType = side == 'b' ? 'Buyer' : 'Seller';
                    this.radioValue = side;
                }
            },
        },
        mounted() {
            let userData = this.$store.getters.getUserData();
            this.ConsumerNameFirst  = userData.user.NameFirst || '';
            this.ConsumerNameLast   = userData.user.NameLast || '';
            this.ConsumerEmail      = userData.user.email || '';
            this.ConsumerPhone      = userData.user.PrimaryPhone || '';
            this.chooseSide(this.radioValue, true);
            this.$parent.$emit('setErrorMessages', this.errorMessages);
        }
    }
</script>

<style scoped>

</style>