<!--
    As you can immediately tell this component hardly has any template because it has no UI presence.
    It only exists for the purpose of fetching data for the system on page reload or when the user
    just logs in.
-->
<template>
    <queued-message
        ref="queuedMessage"
    >

    </queued-message>
</template>

<script>
    export default {
        name: "DataInvoker",
        props: {
            token: {
                type: String,
                default: '',
            },
        },
        data(){
            return {
                queuedMessage:      {},
                user:               null,
                userRole:           null,
                roleID:             0,
                userID:             0,
                allTransactions:    this.$store.getters.getAllTransactions(),
            }
        },
        methods: {
            /**
             * This call should only execute the ajax call
             * when the user has just logged in. Therefore, it should only
             * execute this method once per session.
             */
            initialCall(){
                let initialCallComplete = this.$store.getters.getInitialCallState();
                if (!initialCallComplete)
                {
                    /**
                     * This means that the initial call has not been made.
                     */
                    axios.post(route('app.initialCall').url(), {
                        userID: this.userID,
                    }).then((r) => {
                        console.log({
                            initialCallResponse: r,
                        });
                        let status = r.data.status || false;
                        if (status == 'success')
                        {
                            this.$store.commit('setSubscriptionData', r.data.subscriptionData);
                            this.$store.commit('toggleInitialCallComplete');
                        }
                    }).catch((err) => {
                        console.log({
                            initialCallError: err,
                        });
                    });
                }
                else
                {
                    console.log('Initial call has already been made.');
                }
            },
            /**
             * This application data is retrieved on every page load.
             * Currently, the data it sends back on each page load includes the following:
             *
             * 1. Active country states which we support with our software.
             * 2. Tooltips which allow us to display helpful and brief messages to our users.
             * 3. System messages which are controlled through admin infrastructure.
             *
             * Out of these 3 the only one that should be getting called each page load is the system messages.
             * Other than that active country states and tooltips should be moved to initialCall().
             */
            getAppData(){
                axios.post(route('app.data').url()).then((r) => {
                    console.log({
                        appDataResponse: r,
                    });
                    this.$store.commit('setActiveStates', r.data.activeStates);
                    this.$store.commit('setTooltips', r.data.tooltips);
                    this.$store.commit('setSystemMessages', r.data.systemMessages);
                }).catch(err => {
                    console.log({
                        appDataError: err,
                    });
                });
            },
            /**
             * This method retrieves user data such as role, userID, roleID, etc.
             * It also retrieves the user's transactions that it is a part of but only
             * if userRole is not currently set, or if allTransactions length is 0.
             *
             * If optimizing this code, it would be better to move this type of data to initialCall()
             * and add support for the role switching feature. Then getAllTransactions() can be its own method
             * that only gets used when certain conditions are met.
             */
            getUserRoleData(){
                genericLoading('Gathering data please wait...');
                axios.post(route('ajax.converter').url(), {
                    class: 'App\\Combine\\AccountCombine2',
                    isStatic: 1,
                    method: 'getUserData',
                    args: []
                }).then((r) => {
                    console.log({
                        DataInvokerResponse: r,
                    });
                    let status = r.data.status || false;
                    if (status == 'success')
                    {
                        let data        = r.data.data;
                        this.user       = data.user;
                        if (this.user === null)
                            window.location.href = route('logout').url();
                        let userData = {
                            user:           data.user,
                            userRole:       data.role,
                            roleID:         data.roleID,
                            userID:         data.userID,
                            userRoles:      data.userRoles,
                        };
                        this.$store.commit('setUserData',userData);
                        if (this.userRole != data.role || this.allTransactions.length == 0)
                        {
                            this.userRole       = data.role;
                            this.roleID         = data.roleID;
                            this.userID         = data.userID;
                            this.getAllTransactions();
                        }
                        else if (Swal2.isVisible()) Swal2.close();
                    }
                    else if (Swal2.isVisible()) Swal2.close();
                });
            },
            /**
             * Fetch all transactions that the user is a part of for the current user's role.
             * For example if the user is currently using an Agent role and they are a Buyer's Agent
             * in a transaction then that transaction will be fetched.
             */
            getAllTransactions(){
                // the order of the values in "data" matters because it is the order of the
                // parameters in TransactionCombine2::transactionList()
                let parameters = {
                    data: [
                        this.userRole,
                        [],
                        this.userID,
                    ],
                    showLoading: true,
                };
                this.$store.dispatch('getAllTransactions', parameters);
            },
            /**
             * Render a queued message that was activated in another page.
             * You can see an example of this in Subscription.vue.
             * In Subscription.vue after the user purchases a subscription they
             * are redirected to the dashboard and are shown a queued message.
             */
            renderQueuedMessage(){
                let qm = this.$store.getters.getQueuedMessage();
                if (qm.text)
                {
                    this.queuedMessage = qm;
                    let qmComponent = this.$refs.queuedMessage;
                    if (qmComponent)
                    {
                        qmComponent.$emit('toggleQueuedMessage', qm);
                    }
                    this.$store.commit('setQueuedMessage', {});
                }
            },
        },
        mounted() {
            let userData = this.$store.getters.getUserData();
            if (userData.userRole) this.userRole = userData.userRole;
            this.initialCall();
            this.getUserRoleData();
            this.getAppData();
            this.renderQueuedMessage();
        }
    }
</script>

<style scoped>

</style>