<template>
    <div id="SystemMessagesWrapper">
        <v-alert
                v-for="(message, i) in messages"
                :key="i"
                style="margin: 0;"
                :value="true"
                dismissible
                :type="appropriateType(message.Type)"
                @input="closedAlert(message.ID)"
        >
            {{message.Message}}
        </v-alert>
    </div>
</template>

<script>
    export default {
        name: "SystemMessagesWrapper",
        props: {

        },
        data(){
            return {
                systemMessages: this.$store.getters.getSystemMessages(),
                systemMessagesRead: this.$store.getters.getSystemMessagesRead(),
                types: {},
                messages: [],
                alerts: null,
                defaultType: 'info',
            }
        },
        methods: {
            closedAlert(id){
                this.$store.commit('addSystemMessageRead', id);
            },
            appropriateType(messageType){
                return this.types[messageType] || this.defaultType;
            },
        },
        mounted() {

            const updateMessages = (systemMessages = this.systemMessages) => {
                this.messages = systemMessages.messages.filter(m => {
                    return this.systemMessagesRead.indexOf(m.ID) === -1;
                });
                this.types = systemMessages.types;
            };
            updateMessages();
            this.$store.subscribe((mutation, state) => {
                if(mutation.type === 'setSystemMessages'){
                    updateMessages(state.systemMessages);
                }
            })
        }
    }
</script>

<style scoped>

</style>