<template>
    <div>
        <question-title :title="sectionTitle"></question-title>
        <div>
            <p class="text-center">
                You will now be answering questions about
                <span class="teal">
                    {{sectionDescription}}
                </span>
            </p>
        </div>
    </div>
</template>

<script>
    import QuestionTitle from "../../../../../QuestionTitle";
    export default {
        name: "SPQ_Section",
        components: {QuestionTitle},
        props: {
            sectionTitle: {
                type:String,
                default: '',
            },
            sectionDescription: {
                type: String,
                default: '',
            }
        },
    }
</script>

<style scoped>

</style>