<template>
    <div>
        <question-title title="Seller Property Questionnaire"></question-title>
        <center class="text-left">
            <div>
                <p>
                    This form is not a substitute for the Real Estate Transfer Disclosure Statement (TDS). It is used
                    by the Seller to provide additional information when a TDS is completed. If Seller is exempt from
                    completing a TDS, Seller should complete an Exempt Seller Disclosure (C.A.R. Form ESD) or may use
                    this form instead.
                </p>
            </div>
            <div>
                <p>
                    <strong>II.</strong> The following are representations made by the Seller and are not the representations of the Agent(s), if any. This
                    disclosure statement is not a warranty of any kind by the Seller or any agents(s) and is not a substitute for any
                    inspections or warranties the principal(s) may wish to obtain. This disclosure is not intended to be part of the contract
                    between Buyer and Seller. Unless otherwise specified in writing, Broker and any real estate licensee or other person
                    working with or through Broker has not verified information provided by Seller. A real estate broker is qualified to advise
                    on real estate transactions. If Seller or Buyer desires legal advice, they should consult an attorney.
                </p>
            </div>
            <div>
                <p>
                    <strong>III. Note to Seller:</strong> PURPOSE: To tell the Buyer about known material or significant items affecting the value or desirability of the
                    Property and help to eliminate misunderstandings about the condition of the Property.
                </p>
                    <ul>
                        <li>
                            Answer based on actual knowledge and recollection at this time.
                        </li>
                        <li>
                            Something that you do not consider material or significant may be perceived differently
                            by a Buyer.
                        </li>
                        <li>
                            Think about what you would want to know if you were buying the Property today.
                        </li>
                        <li>
                            Read the questions carefully and take your time.
                        </li>
                        <li>
                            If you do not understand how to answer a question, or what to disclose or how to make a
                            disclosure in response to a question, whether on this form or a TDS, you should consult a
                            real estate attorney in California of your choosing. A broker cannot answer the questions
                            for you or advise you on the legal sufficiency of any answers or disclosures you provide.
                        </li>
                    </ul>
            </div>
            <div>
                <p>
                    <strong>SELLER AWARENESS:</strong> For each of the questions the follow answer the
                    question “Are you (Seller) aware of...” by selecting either “Yes” or “No.”
                </p>
            </div>
        </center>
    </div>
</template>

<script>
    import QuestionTitle from "../../../../../QuestionTitle";
    export default {
        name: "SPQ_Overview",
        components: {QuestionTitle},
    }
</script>

<style scoped>

</style>