@media screen{

	#main-wrapper{
		// display:flex;
		
		// width: 100%;
		// position: relative;
		// flex-wrap: nowrap;
		// flex-direction: row;
		// align-items: stretch;
		// overflow: hidden;
		// max-width: 100%;

		&.menu-open{
			overflow-y:auto;

			& > .main-wrapper{
				margin-left: 0;
				margin-right: -320px;
				
				& > .main-contents{
				//	margin-left: 0;
					.mc-wrapper{
				//		margin-right: -320px;
					}
				}
			}
			/*.menu-ctrl{
				display: block;
			}*/
		}
		
		.main-wrapper{
			background: $blue1;
			
			margin-left: -320px;
			transition: all 0.7s ease;
			display: flex;
			flex-wrap: nowrap;
			flex-direction: row;
			align-items: stretch;
			width: auto;
			overflow: hidden;
			@media (min-width: 992px){
				display: table;
			}

			& > .main-menu{
				min-width: 320px;
				vertical-align: top;
				@media (min-width: 992px){
					display: table-cell;
				}
			}
			& > .main-contents{
				-webkit-transition: all 0.7s ease;
				-moz-transition: all 0.7s ease;
				-ms-transition: all 0.7s ease;
				-o-transition: all 0.7s ease;
				transition: all 0.7s ease;
				
				padding: 70px 30px 50px;
				flex: 1;
				width: 100%;
				
				position: relative;
				background: #f4f4f4;
				position: relative;

				overflow: hidden;
				@media (min-width: 992px){
					padding: 80px 30px;
					display: table-cell;	
					margin-left: -320px;	
					flex:0;		
				}

				.mc-wrapper{
					-webkit-transition: all 0.7s ease;
					-moz-transition: all 0.7s ease;
					-ms-transition: all 0.7s ease;
					-o-transition: all 0.7s ease;
					transition: all 0.7s ease;

				}
				.mc-box{
					background: $white;
					padding: 30px;
					border-radius: 30px;
				}
				.mc-heading{
					margin: 0 0 20px;
					text-align: center;
					h1{
						margin: 0 0 10px;
						font-weight: 300;
						font-size: 1.8em;
					}
					.ctrls{
						.btn{
							padding: 8px 15px;
							font-size:0.750em;
							width: 100%;
							max-width: 280px;
							margin-bottom: 10px;
							border-radius: 4px;
						}
					}
					@media (min-width: 992px){
						display: inline-block;
						width: 100%;
						h1{
							font-size: 2.500em;
							margin: 0;
						    float: left;
						    text-align: left;
						}
						.ctrls{
							float: right;
							text-align: right;
							.btn{
								display: inline-block;
								vertical-align: middle;
								margin-bottom: 0;
								width: auto;
								margin-left: 10px;
							}
						}
					}
				}
				.mc-box-heading{
					border-bottom: 4px solid #f4f4f4;
					margin: 0 -30px;
					padding: 0 30px 20px;
					text-align: center;
					h2{
						margin: 0 0 10px;
						line-height: 1em;
						font-size: 1em;
						color: #3c3e3f;
					}
					
					.others{
						& > .btn{
							display: inline-block;
							margin: 0 0 10px 10px;
							padding: 11px 15px;
						}
					}
					form.search{
						.form-group{
							border:1px solid #d5d5d5;
							position: relative;
							margin: 0;
							input{
								padding: 10px 36px 10px 15px;
							    line-height: 1em;
							    border: none;
							    border-radius: 0;
							    height: 36px;
							}
							.btn{
								padding: 10px;
								position: absolute;
								right: 0;
								top: 0;
								border-radius: 0;
								height: 36px;
							}
						}
					}

					@media (min-width: 992px){
						&.no-other{
							h2{
								width: 100%;
							}
						}
						.others{
							float: right;
							width:70%;
							text-align: right;
						}
						h2{
							float: left;
							width: 30%;
							text-align: left;
							margin: 10px 0 0;
						}
						form.search{
							margin-left: 15px;
							max-width: 400px;
							float: right;
							width: 100%;
						}
					}
				}
				.menu-ctrl{
					left: 0;
					width: 100px;
					top: 20px;
					background: $blue2;
					line-height: 1em;
					padding: 10px 10px;
					font-size: 12px;
					text-align: center;
					text-transform: uppercase;
					position: absolute;
					border-top-right-radius: 5px;
					border-bottom-right-radius: 5px;
					color: #8c9194;
					cursor: pointer;
					text-decoration: none;
					display: block;
					
					&:hover{
						color: $white;
					}
				}

				
				.mc-box-groups {
					@media (min-width: 992px){
						margin: 0 -15px;
						.col-width-2{
							float: left;
							width: 50%;
							padding: 0 15px;
						}
					}
					.ctrls{
						text-align: center;
						padding: 0 15px;
						@media (min-width: 992px){
							text-align: right;
						}
					}
					.form-groups{
						.form-groups-wrapper{
							@media (min-width: 992px){
								margin: 0 -10px 15px;
								&:last-child{
									margin-bottom: 0;
								}
								.form-group{
									display: inline-block;
									padding:0 10px;	
									margin-bottom: 0;
									&.w50{
										width: 	50%;
									}
									&.w70{
										width: 	70%;
									}
									&.w30{
										width: 	30%;
									}
								}
							}

						}
						.form-group{
							position: 	relative;	
							.errorMsg{
								position: absolute;
								right: 11px;
								top: 11px;
								font-size: 0.65em;
								background: red;
								color: #fff;
								padding: 5px 15px;
								line-height: 1em;
							}
						}
						& > .form-group{
							&:last-child{
								margin-bottom: 0;
							}
							.label-control{
								width: 120px;
								font-size: 0.750em;
								.important{
									color: $red;
								}
							}
							
							.checkbox{
								display: inline-block;
								margin: 7px 10px 7px 0;
								input {
									display: inline-block;
									vertical-align: middle;
									width: auto;
									margin: 0;
									height: auto;
								}
								span{
									vertical-align: middle;
									display: inline-block;
									font-size: 0.750em;
								}
							}
							@media (min-width: 992px){
								&.with-label{
									position: relative;
									padding-left: 120px;
									.label-control{
										position: absolute;
										top: 10px;
										left: 0;
										width: 120px;
										
									}
								}
							}
						}
						input[type='email'],
						input[type='text'],select,textarea{
							background: #f4f4f4;
							border: 1px solid #8c9194;
							border-radius: 0;
							height: 40px;
							width: 100%;
							padding: 0 15px;
							text-indent: 0;
							box-sizing: border-box;
							appearance: none;
							&:focus{
								background: $white;
							}
						}
						textarea{
							height: 256px;
						}
					}
					.mc-box{
						padding: 15px;
						border-radius: 10px;
						margin: 0 0 15px;
						@media (min-width: 992px){
							padding: 30px;
							border-radius: 30px;
							margin-bottom: 30px;
						}
					}
					.mc-box-heading{
						margin: 0 -15px 15px;
						padding: 0 15px 15px;
						@media (min-width: 992px){
							padding: 0 30px 15px;
							margin: 0 -30px 30px;
						}
						h2{
							margin: 0;
							padding-top: 5px;
							width: 100%;
							text-align: center;
							i{
								margin-right: 10px;
								font-size: 2em;
								color: $red;
								margin-top: -5px;
								display: inline-block;
								vertical-align: middle;
							}
							@media (min-width: 992px){
								text-align: left;
							}
						}
					}
				}
			}

			& > .main-menu{
				// width: 320px;
				background: $blue1;
				// overflow-y: auto;
				color:#8c9194;
				flex-basis: 320px;
				flex-shrink: 0;
				-webkit-transition: all 0.7s ease;
				-moz-transition: all 0.7s ease;
				-ms-transition: all 0.7s ease;
				-o-transition: all 0.7s ease;
				transition: all 0.7s ease;

				a{
					color: #8c9194;
					text-decoration: none;
					cursor: pointer;
					&:hover{
						color: $white;
					}
				}
				.main{
					text-transform: uppercase;
					display: block;
					padding:20px 30px;
					font-size: 0.875em;
					line-height: 1em;
					i{
						font-size: 22px;
						margin-right: 20px;
						width: 29px;
						margin-bottom: -6px;
						text-align: center;
					}
				}
				.sub{
					display: none;
					a{
						background: $blue2;
						line-height: 1em;
						display: block;
						padding-left: 70px;
						font-size: 0.750em;
						padding-top: 10px;
						padding-bottom: 10px;
						text-transform: uppercase;
						&:hover{
							background: $black;
						}
					}
				}
			}

		}

	}
}