@import url('https://fonts.googleapis.com/css?family=Montserrat|Noto+Sans|Open+Sans');

/***************** Mixins ******************/
@import "helpers/_mixins";
/***************** Functions ***************/
@import "helpers/_functions";

/***************** UI STUFF ****************/
@import "ui/colors";
@import "ui/buttons";
@import "ui/search";
@import "ui/alerts";
@import "ui/spinners";
@import "ui/dropdown";

@import "ui/user";

@import "ui/states";


/******************************************

Components/Views
Placing these after mixins, functions, and other UI styles ~should~
implicitly import them into each component below.

********************************************/
/*@import "components/2a/disclosures";*/
@import "components/2a/keypeople";
@import "components/2a/tasks";
@import "components/2a/mail";
@import "components/2a/modal_a";
@import "components/2a/modal_aux";
@import "components/2a/modal_p";
@import "components/2a/documents";
@import "components/2a/timeline";
@import "components/2a/dashboard_banner";
@import "components/2a/transaction_list";
@import "components/2a/addpeople";
@import "components/2a/filterDropdown";
@import "components/2a/register";
@import "components/2a/questionnaires";


body {
  background-color: #F9F9F9;
  overflow-x: hidden;
}

a {
  cursor: pointer;
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

#header {
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1) !important;
}

.footer {
  margin: 50px 0 50px 0;
  padding-left: 50px !important;
  .left, .right {
    float: left;
  }
  .img {
    background-image: url('../images/logo.png');
    height: 33px;
    width: 21px;
    margin-right: 10px;
  }
  .right {
    .copy p {
      font-size: 11px;
      line-height: 22px;
      color: rgb(113, 113, 113);
      font-weight: bold;
    }
    .links {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      a {
        font-size: 11px;
        line-height: 22px;
        color: rgb(113, 113, 113);
        font-weight: bold;
        margin-right: 5px;
      }
    }
  }
}

.main-content {
  padding-left: 42px;
  width: 100%;
  float: left;
  font-size: 16px;
  &.shrink {
    padding-left: 250px;
  }
}

.main-content .white {
  background-color: white;
}

.quicklinks .item a {
  border-radius: 0 !important;
  color: #da6c77 !important;
  border: none !important;
  font-size: 18px !important;
  font-weight: 400 !important;
}

.name {
  padding-left: 10px;
  font-size: 18px !important;
  font-weight: 500;
}

.user-info-wrapper .avatar img {
  height: 40px !important;
  width: 40px !important;
}

.uinfo {
  position: relative;
}

.user-info-drop-down a {
  text-decoration: none;
}

.user-info-drop-down {
  display: none;
  left: 0;
  top: 60px;
  padding: 20px;
  position: absolute;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.15);
  z-index: 99 !important;
  ul {
    text-align: left;
    padding: 0;
    list-style: none;
    font-size: 15px;
    li {
      margin-top: 10px;
      margin-bottom: 10px;
      font-weight: 600;
      color: #333333;
    }
  }
  .btn-ofc {
    background-color: $red;
    font-weight: 600 !important;
  }
}

.left-menu {
  transition: all 0s;
  position: absolute;
  z-index: 5;
  background-color: white;
  width: 40px;
  min-height: 100%;
  float: left;
  left: 0;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1) !important;
  &.stickIt {
    position: fixed;
    top: 0;
  }
  .menu-toggler {
    width: 40px;
    color: #aba7a7;
    padding-left: 10px;
    font-size: 20px;
    border-top: solid;
    border-bottom: solid;
    border-width: 1px;
    border-color: $gray;
    cursor: pointer;
    &.active {
      padding-left: 90%;
      width: 250px !important;
      animation: open-toggler;
      animation-duration: 0.2s;
    }
  }
  .sub {
    display: none;
    padding-left: 40px;
    font-size: 16px;
    text-transform: uppercase;
  }
  .item .sub a {
    padding-left: 10px;
    color: #5f5e5e;
    display: block;
    margin-bottom: 10px;
    margin-top: 10px;
    &:hover {
      color: $red;
    }
  }
}

.menu-item-wrapper {
  overflow-y: scroll;
  height: 90vh;
  &::-webkit-scrollbar {
    display: none;
  }
}

.menu-icon {
  width: 100px !important;
  color: $red;
  &.selected {
    color: white !important;
  }
}

.left-menu {
  .item {
    position: relative;
    font-size: 20px;
    .main {
      padding-left: 10px;
      padding-right: 5px;
      display: block;
      height: 50px;
      padding-top: 10px;
      font-weight: 500;
      border-bottom-color: $gray solid 1px;
      &.active {
        background-color: $teal;
        color: white;
      }
      &:hover {
        background-color: $teal;
        cursor: pointer;
      }
    }
  }
  &.active {
    width: 250px;
    animation-name: open-toggler;
    animation-duration: 0.2s;
  }
}

.item .main .menu-title {
  font-size: 16px;
  letter-spacing: 1px;
  user-select: none;
  visibility: hidden;
  font-weight: 500;
  padding-left: 10px;
  color: #333333;
  &.active {
    visibility: visible;
  }
  &.selected {
    color: white;
  }
}

.left-menu .item .sub.active {
  display: block;
}

/*=======Transaction list page css====*/

.o-box {
  padding-top: 20px;
  padding-left: 0;
  padding-right: 0;
  border-radius: 8px;
  background-color: white;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.07);
  .title {
    padding: 20px;
    font-size: 20px;
  }
}

.o-radio-container {
  display: inline;
  position: relative;
  cursor: pointer;
  font-size: 13px;
  user-select: none;
  font-weight: 600;
  margin: 7px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 25px;
  padding-right: 10px;
  border-radius: 5px;
}

.o-radio-container {
  input {
    display: none;
  }
  i {
    font-size: 14px;
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

.o-table {
  width: 100%;
  font-size: 0.750em;
  border-spacing: 0 10px;
  margin: 0;
  thead tr th {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ebebec;
    border-left: 1px solid #ebebec;
    height: 73px;
    text-align: center;
    font-size: 13px;
    line-height: 22px;
    color: rgb(0, 0, 0);
    font-weight: bold;
  }
  td {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ebebec;
    border-left: 1px solid #ebebec;
    height: 71px;
    vertical-align: middle;
    text-align: center;
    font-size: 13px;
    line-height: 17px;
    color: #717171;
  }
}

.view-icon {
  width: 28px;
  height: 28px;
  border-radius: 3px;
  padding: 10px;
  &:hover {
    background-color: $red;
    color: white;
  }
}

.edit-icon {
  width: 28px;
  height: 28px;
  border-radius: 3px;
  padding: 10px;
  &:hover {
    background-color: $teal;
    color: white;
  }
}

.left-menu .white {
  color: white !important;
}

.main-details {
  background-color: #f9f9f9;
}

.text-center {
  text-align: center;
}

.dot-text {
  color: #000;
  display: inline-block;
  font-size: 16px;
  padding-left: 21px;
  position: relative;
  &:before {
    content: '';
    background-color: $teal;
    border: 1px solid #1baba6;
    border-radius: 50%;
    display: inline-block;
    height: 13px;
    width: 13px;
    position: absolute;
    top: 6px;
    right: auto;
    bottom: auto;
    left: 0;
  }
}

.main-details.dashboard {
  font-family: Roboto, sans-serif;
  .btn-danger {
    background-color: $red;
    border-radius: 6px;
    font-size: 12px;
    font-weight: 600;
    line-height: 19px;
    display: inline-block;
    padding: 10px 15px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
}

#o-success-message {
  background-color: #a4e6af;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  position: absolute;
  border-radius: 8px;
  z-index: 10;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 250px;
  padding-top: 10px;
  .success-icon {
    font-size: 40px;
    color: white;
  }
  .success-text {
    color: #333333;
  }
}

.dropdown-group select {
  height: 30px;
}

#o-failure-message {
  background-color: #ffe1e1;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  position: absolute;
  border-radius: 8px;
  z-index: 10;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 250px;
  padding-top: 10px;
  .failure-icon {
    font-size: 40px;
    color: rgb(226, 151, 151);
  }
  .failure-text {
    color: #333333;
  }
}

#o-failure-popup {
  background-color: #ffe1e1;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  position: absolute;
  border-radius: 8px;
  z-index: 10;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  padding: 30px;
  padding-top: 10px;
  padding-bottom: 25px;
  .failure-icon {
    font-size: 40px;
    color: rgb(226, 151, 151);
  }
}

.o-failure-popup .failure-icon {
  font-size: 40px;
  color: rgb(226, 151, 151);
}

#o-failure-popup .failure-text, .o-failure-popup .failure-text {
  color: #333333;
}

#o-failure-popup .yes-button, .o-failure-popup .yes-button {
  font-size: 14px;
  background-color: $teal;
  color: white;
  font-weight: 600;
  margin-top: 10px;
}

#o-failure-popup .no-button, .o-failure-popup .no-button {
  font-size: 14px;
  background-color: $red;
  color: white;
  font-weight: 600;
  margin-top: 10px;
}

.checkbox label:after, .radio label:after {
  content: '';
  display: table;
  clear: both;
}

.checkbox .cr {
  position: relative;
  display: inline-block;
  border: 1px solid #a9a9a9;
  border-radius: .25em;
  width: 1.7em;
  height: 1.7em;
  float: left;
  margin-right: .5em;
}

.radio .cr {
  position: relative;
  display: inline-block;
  border: 1px solid #a9a9a9;
  width: 1.7em;
  height: 1.7em;
  float: left;
  margin-right: .5em;
  border-radius: 50%;
}

.checkbox .cr .cr-icon {
  position: absolute;
  font-size: .8em;
  line-height: 0;
  top: 50%;
  left: 20%;
}

.radio .cr .cr-icon {
  position: absolute;
  font-size: .8em;
  line-height: 0;
  top: 50%;
  left: 20%;
  margin-left: 0.04em;
}

.checkbox label input[type="checkbox"], .radio label input[type="radio"] {
  display: none;
}

.checkbox label input[type="checkbox"] + .cr > .cr-icon, .radio label input[type="radio"] + .cr > .cr-icon {
  transform: scale(3) rotateZ(-20deg);
  opacity: 0;
  transition: all .3s ease-in;
}

.checkbox label input[type="checkbox"]:checked + .cr > .cr-icon, .radio label input[type="radio"]:checked + .cr > .cr-icon {
  transform: scale(1) rotateZ(0deg);
  opacity: 1;
}

.checkbox label input[type="checkbox"]:disabled + .cr, .radio label input[type="radio"]:disabled + .cr {
  opacity: .5;
}

.rectangular-radio {
  input {
    display: none;
  }
  .rectangular-radio-value {
    &:hover {
      background-color: $teal;
      color: white !important;
      border: none;
      cursor: pointer;
    }
    border-radius: 5px;
    padding-left: 75px;
    padding-right: 75px;
    padding-top: 20px;
    padding-bottom: 20px;
    border: 1px solid #a3a3a3;
  }
  input:checked + .rectangular-radio-value {
    background-color: $teal;
    color: white !important;
    border-color: none;
  }
}

.main-details.dashboard {
  .btn-danger {
    &:hover, &:active, &:focus {
      background-color: #862e2d;
    }
  }
  .tab-content {
    .title {
      color: $red;
      font-family: Roboto, sans-serif;
      font-size: 18px;
      font-weight: 400;
    }
    .sub-title {
      color: $teal;
      font-size: 16px;
      font-weight: 400;
      text-transform: uppercase;
    }
    .display-change {
      margin-bottom: 20px;
      &.alt {
        margin-top: 15px;
        margin-bottom: 0;
        a {
          color: $red;
          font-size: 15px;
          &:hover, &:active, &:focus {
            color: #333333;
          }
        }
      }
    }
  }
  .content-wrap {
    background-color: #fff;
    border-radius: 8px;
    margin-bottom: 30px;
    -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
    .section-item {
      padding: 20px 20px 1px;
      + .section-item {
        border-top: 1px solid #eaeaea;
      }
      &.section-top {
        padding: 12px 13px 10px;
      }
      &:last-child {
        padding-bottom: 20px;
      }
    }
  }
  .list-tabs {
    list-style: none;
    padding-left: 0;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 0;
    .tab-button {
      -ms-flex-preferred-size: 0;
      flex-basis: 0;
      -ms-flex-positive: 1;
      -webkit-box-flex: 1;
      flex-grow: 1;
      max-width: 100%;
      padding: 10px 15px;
      text-align: center;
    }
    .desktop-view {
      display: none;
    }
    .mobile-view {
      font-size: 20px;
    }
  }
  .list-dates {
    margin-bottom: 20px;
    .date-item {
      display: table;
      width: 100%;
      margin-bottom: 20px;
      .date {
        display: table-cell;
        vertical-align: top;
        width: 55px;
        text-align: center;
        padding-top: 2px;
        .month {
          display: block;
          font-size: 14px;
          font-weight: 600;
          vertical-align: middle;
          line-height: 14px;
        }
        .day {
          font-size: 27px;
          display: inline-block;
          vertical-align: middle;
          line-height: 30px;
        }
        &.due {
          padding-top: 7px;
          padding-right: 12px;
          .quote-due {
            font-size: 10px;
            color: $red;
            bordeR: 1px solid #cb4544;
            display: block;
            border-radius: 5px;
            line-height: 12px;
            padding: 10px 3px;
            position: relative;
            &:after {
              content: '';
              background-image: url(../images/arrow-left.jpg);
              width: 8px;
              height: 11px;
              display: block;
              position: absolute;
              right: -8px;
              top: 11px;
            }
          }
        }
      }
      .description {
        display: table-cell;
        vertical-align: middle;
        .desc-note {
          font-size: 12px;
          font-style: italic;
          color: #616161;
          line-height: 20px;
          margin-top: 10px;
          padding-left: 20px;
          padding-right: 10px;
          position: relative;
          &:before {
            content: '';
            display: block;
            background-image: url(../images/information-icon.png);
            width: 14px;
            height: 14px;
            position: absolute;
            left: 0;
            top: 2px;
          }
        }
        .desc-wrap {
          border-radius: 8px;
          border: 1px dashed #cdcdcd;
          font-weight: 400;
          line-height: 21px;
          padding: 13px 10px 13px 33px;
          position: relative;
          font-size: 14px;
          -webkit-transition: all 0.2s ease;
          transition: all 0.2s ease;
          &.done, &:hover, &:active, &:focus {
            background-color: $teal;
            border: 1px solid $teal;
            color: #fff;
          }
          &.done .action, &:hover .action, &:active .action, &:focus .action, &.done .action-list > li a, &:hover .action-list > li a, &:active .action-list > li a, &:focus .action-list > li a {
            color: #fff;
          }
          .action-list {
            list-style: none;
            padding-left: 0;
            margin: 8px -5px 0;
            font-size: 0;
          }
        }
      }
    }
  }
}

.desc {
  padding-right: 10%;
}

.main-details.dashboard {
  .list-dates {
    .date-item .description .desc-wrap {
      .action-list {
        &:after {
          content: '';
          display: block;
          clear: both;
        }
        > li {
          display: inline-block;
          padding: 0 5px;
          float: left;
          a {
            font-size: 12px;
            -webkit-transition: all 0.2s ease;
            transition: all 0.2s ease;
            color: $gray;
          }
        }
      }
      .action {
        color: $gray;
        margin-right: 6px;
        position: absolute;
        top: 13px;
        left: 13px;
        font-size: 12px;
        cursor: pointer;
        &.alt {
          left: auto;
          right: 10px;
        }
      }
      .mark-complete {
        font-size: 14px;
        display: block;
        text-transform: uppercase;
      }
      .add-date {
        color: $red;
        display: block;
        font-size: 11px;
        font-weight: 600;
      }
    }
    &.w-actions .date-item .description .desc-wrap {
      padding-left: 14px;
      padding-right: 35px;
    }
  }
  .details-content {
    background-color: #fff;
    padding: 22px 20px 11px;
    border-radius: 8px;
    margin-bottom: 30px;
    -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
    .title {
      margin-bottom: 15px;
    }
    .details-list .detail-item {
      color: #000000;
      border-radius: 8px;
      border: 1px dashed $gray;
      font-size: 14px;
      line-height: 20px;
      margin-bottom: 11px;
      padding: 10px 15px;
      min-height: 42px;
      &.people-icon {
        padding-left: 10px;
        .item-title:before {
          content: '\f007';
          font-family: 'Font Awesome 5 Free';
          font-weight: 900;
          color: #cdcdcd;
          margin-right: 10px;
          display: inline-block;
        }
      }
      .item-title {
        font-weight: bold;
        display: block;
      }
    }
  }
}

.links-list {
  margin-bottom: 20px;
  .link-item {
    margin-bottom: 10px;
    .link {
      border-radius: 5px;
      border: 1px solid $teal;
      color: #000;
      display: block;
      font-size: 13px;
      font-weight: 600;
      line-height: 20px;
      padding: 15px;
      text-align: center;
      text-transform: uppercase;
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease;
      &:hover, &:active, &:focus {
        border-color: $red;
      }
    }
  }
}

@media (min-width: 576px) {
  .main-details.dashboard .details-content {
    padding: 25px 20px 16px;
    .details-list .detail-item .item-title {
      float: left;
      width: 160px;
    }
  }
}

@media (min-width: 768px) {
  .main-details.dashboard.transaction-summary{
    .wrap{
      /*border-top: solid 3px $red;*/
      margin-top: 0 !important;
    }
  }
}

@media (min-width: 768px) {
  .main-details.dashboard {
    .wrap {
      margin-top: -100px;
      position: relative;
    }
    .tab-content {
      .title, .sub-title {
        font-size: 20px;
      }
      .display-change {
        margin-bottom: 30px;
      }
    }
    .content-wrap .section-item {
      padding: 23px 30px 1px;
      &:last-child {
        padding-bottom: 40px;
      }
    }
    .list-tabs {
      padding: 0 40px;
      .tab-button {
        padding-bottom: 20px;
        &.current-tab {
          position: relative;
          &:after {
            content: '';
            background-image: url(../images/triangle.png);
            background-position: center;
            background-repeat: no-repeat;
            display: block;
            height: 23px;
            left: 0;
            margin: auto;
            position: absolute;
            right: 0;
            width: 40px;
          }
        }
        a {
          color: #000 !important;
          display: inline-block;
          font-size: 16px;
          font-weight: 600;
          line-height: 13px;
          padding: 12px 0;
          text-transform: uppercase;
          &:hover, &:active, &:focus {
            color: $teal;
          }
        }
      }
      .desktop-view {
        display: block;
      }
      .mobile-view {
        display: none;
      }
    }
    .list-dates .date-item {
      .date {
        width: 86px;
      }
      .description .desc-wrap {
        .action-list, .mark-complete, .add-date {
          float: right;
        }
        .action-list {
          margin-top: 0;
          margin-right: 6px;
          position: absolute;
          left: auto;
          right: 10px;
          top: 13px;
          font-size: 12px;
          cursor: pointer;
        }
      }
    }
  }
}

@media (min-width: 992px) {
  .main-details.dashboard.transaction-summary{
    .wrap{
      /*border-top: solid 3px $red;*/
      margin-top: 0 !important;
    }
  }
}

@media (min-width: 992px) {
  .main-details.dashboard {
    .wrap {
      margin-top: -134px;
    }
    .list-tabs {
      padding: 0 80px;
    }
    .list-dates {
      .date-item .description .desc-wrap {
        font-size: 20px;
        &:hover .mark-complete, &:active .mark-complete, &:focus .mark-complete {
          opacity: 1;
          visibility: visible;
        }
        .mark-complete {
          color: #fff;
          opacity: 0;
          visibility: hidden;
          -webkit-transition: all 0.2s ease;
          transition: all 0.2s ease;
        }
      }
      &.w-actions .date-item .date {
        width: 100px;
        &.due .quote-due {
          font-size: 11px;
        }
      }
    }
  }
}

@media (min-width: 1200px) {
  .main-details.dashboard {
    .container-fluid {
      max-width: 1270px;
      &.docs-alt {
        max-width: 1400px;
      }
    }
    .tb-layout {
      display: table;
      width: 100%;
      .tb-item {
        display: table-cell;
        vertical-align: top;
        &.right {
          padding-left: 60px;
          width: 460px;
        }
      }
    }
    .list-dates {
      .date-item {
        margin-bottom: 27px;
        .description .desc-wrap {
          &:hover .action-list li, &:active .action-list li, &:focus .action-list li {
            opacity: 1;
            visibility: visible;
          }
          .action-list li {
            opacity: 0;
            visibility: hidden;
          }
        }
      }
      &.w-actions .date-item .description .desc-wrap {
        padding-right: 90px;
      }
    }
    .details-content {
      margin-bottom: 60px;
    }
  }
}

.document-wrapper {
  background-color: #fff;
  border-radius: 8px;
  .docs-actions {
    padding: 10px 15px;
    > .action-item {
      &.docs-search {
        margin-bottom: 15px;
      }
      &.docs-filler {
        display: none;
      }
    }
  }
  .docs-sorting {
    padding: 0 5px;
    margin: 0 0 0 auto;
    text-align: right;
    .list-sort {
      margin: 0 -5px;
      list-style: none;
      white-space: nowrap;
      padding-left: 10px;
      .sort-item {
        display: inline-block;
        padding: 0 5px;
        a {
          border-radius: 5px;
          border: 1px solid #eaeaea;
          color: #9b9b9b;
          display: inline-block;
          font-size: 16px;
          line-height: 19px;
          padding: 10px 5px;
          text-align: center;
          width: 50px;
          &:hover, &:active, &:focus {
            background-color: $teal;
            color: #fff;
          }
        }
      }
    }
  }
}

@media (min-width: 576px) {
  .document-wrapper .docs-actions {
    display: table;
    width: 100%;
    > .action-item {
      display: table-cell;
      vertical-align: middle;
      &.docs-search {
        margin-bottom: 0;
      }
      &.docs-sorting {
        width: 150px;
      }
    }
  }
}

@media (min-width: 992px) {
  .document-wrapper .docs-actions {
    padding: 25px;
    display: table;
    width: 100%;
    > .action-item {
      display: table-cell;
      vertical-align: middle;
      &.docs-search {
        margin-bottom: 0;
        width: 42%;
      }
      &.docs-sorting {
        width: 29%;
      }
      &.docs-filler {
        display: table-cell;
        width: 29%;
      }
    }
  }
}

.document-listing {
  padding: 10px 15px;
  .complete {
    color: #1fca3b;
  }
  .incomplete {
    color: $red;
  }
  .table-wrap {
    overflow: auto;
    max-width: 100%;
    .table {
      margin-bottom: 0;
    }
    .docs-item .item {
      color: #000;
      display: table-cell;
      font-size: 14px;
      padding: 10px 15px;
      vertical-align: middle;
      white-space: nowrap;
      border: none;
      &.status {
        font-weight: bold;
      }
      &.dropdwn {
        color: $teal;
      }
    }
  }
  .accordions .accordion-target {
    margin-top: 0;
    padding-bottom: 30px;
  }
}

.docs-search-wrap {
  position: relative;
  .search-input {
    border: 1px solid #a3a3a3;
    line-height: 20px;
    font-size: 12px;
    font-weight: 600;
    padding: 10px 30px 10px 10px;
    border-radius: 5px;
    width: 100%;
  }
  .search-submit, .upload-transaction-document {
    background-color: transparent;
    border: none;
    color: $teal;
    font-size: 16px;
    padding: 8px;
    position: absolute;
    right: 0;
    top: 0;
  }
  .search-submit {
    &:hover, &:active, &:focus {
      color: $red;
    }
  }
}

@media (min-width: 992px) {
  .document-listing {
    padding: 10px 50px;
    .table-wrap .docs-item .item {
      font-size: 14px;
      padding: 10px 10px;
      line-height: 30px;
      &.title {
        width: 200px;
        padding-left: 25px;
      }
    }
  }
  .docs-search-wrap {
    .search-input {
      font-size: 14px;
      padding: 15px 42px 15px 20px;
    }
    .search-submit {
      padding: 10px 10px;
      font-size: 20px;
    }
  }
}

@media (min-width: 1200px) {
  .document-listing {
    padding: 0 50px 20px;
    .table-wrap .docs-item .item {
      font-size: 17px;
      padding: 15px 15px;
      line-height: 30px;
    }
  }
}

@media (min-width: 1400px) {
  .document-listing {
    padding: 0 50px 20px;
    .table-wrap .docs-item .item {
      &.status, &.upload {
        text-align: right;
        padding: 0 30px;
      }
      &.dropdwn {
        text-align: right;
        padding: 0 15px;
      }
    }
  }
}

.accordions {
  .acc-title {
    color: $teal;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 0;
    line-height: 2em;
  }
  .accordion-item {
    + .accordion-item {
      border-top: 1px solid #eaeaea;
    }
    &.active .accordion-trigger:after {
      content: '\F068';
    }
  }
  .accordion-target {
    display: none;
    margin-top: 15px;
  }
  .accordion-trigger {
    cursor: pointer;
    padding: 0 26px 0 0;
    position: relative;
    &:after {
      content: '\f0d7';
      color: $teal;
      font-family: 'Font Awesome 5 Free';
      font-weight: 900;
      position: absolute;
      right: 9px;
      top: 50%;
      -webkit-transform: translate(0, -50%);
      transform: translate(0, -50%);
    }
    &:hover {
      &:after, .acc-title {
        color: $red;
      }
    }
    &:active {
      &:after, .acc-title {
        color: $red;
      }
    }
    &:focus {
      &:after, .acc-title {
        color: $red;
      }
    }
  }
}

@media (min-width: 768px) {
  .accordions .acc-title {
    font-size: 20px;
    padding: 14px 0;
  }
}

/***************** Styling For SnapNHD **********************/

.report-modal-class .modal-dialog {
  width: 700px !important;
}

.snapNHDContainer {
  width: 600px !important;
}

.order-report {
  font-size: 15px;
  background: $gray;
  color: rgba(86, 86, 86, 0.8);
  height: 40px;
  line-height: 5px;
}

.reportbuttons button {
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  width: 200px;
  margin: 0 auto;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.plan {
  position: relative;
  border: solid 1px #ccc;
  border-radius: 5px;
}

.modal-backdrop.in {
  z-index: auto;
}

.exit-modal {
  background: $red !important;
}

/* Styling for Data Table */

table.dataTable thead th {
  border-bottom: none !important;
}

/****** Sweet Alert 2 ******/

.swal2-popup {
  font-size: 1.6rem !important;
  /* This is slightly experimental as I am trying to upgrade from Swal1 to Swal2 */
}


/**** START STYLE.CSS *****/

.content-style-test-test {
  width: 100%;
  float: left;
}

.add-new-transaction-title h1 {
  font-size: 21px;
  margin-top: 30px;
  line-height: 22px;
  color: rgb(0, 0, 0);
}

.div-address-search {
  text-align: center;
  margin-top: 50px;
  .location-icon {
    width: 16px;
    height: 24px;
    float: left;
    margin-right: 1px;
  }
  .address-search {
    font-size: 20px;
    line-height: 22px;
    color: $gray;
    float: left;
    border: 0;
    background-color: #F9F9F9;
    width: 90%;
    font-weight: 100;
    padding: 3px 5px;
    &:focus {
      outline: none;
      border-bottom: 1px solid $teal;
    }
  }
}

.two-by-two, .two-by-two-white {
  margin-top: 40px;
  overflow: hidden;
}

.two-by-two div {
  .red, .blue {
    height: 309px;
    border-radius: 6px;
    position: relative;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.07);
    text-align: center;
    display: table;
  }
}

.two-by-two-white div .white {
  height: 309px;
  border-radius: 6px;
  position: relative;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.07);
  text-align: center;
  display: table;
}

.two-by-two div {
  .blue {
    background-image: linear-gradient(0deg, #17d8d1 0%, #01bdb7 100%);
  }
  .red {
    background-image: linear-gradient(0deg, #cd6563 0%, #cb4949 100%);
  }
}

.one-by-one div .red {
  background-image: linear-gradient(0deg, #cd6563 0%, #cb4949 100%);
}

.two-by-two-white div .white {
  background-image: linear-gradient(0deg, #FFFFFF 0%, #FFFFFF 100%);
}

.two-by-two div .red-blue-2, .two-by-two-white div .white {
  margin-top: 10px;
}

.two-by-two div .red-blue-2 .img, .two-by-two-white div .white .img {
  background-image: url('../images/Layer 6.png');
  height: 231px;
  width: 144px;
  left: 50%;
  transform: translate(-50%, 0);
  position: absolute;
  top: 20px;
}

.two-by-two div .red-blue-2 .transaction-placeholder, .one-by-one div .red-blue-4 .transaction-placeholder, .one-by-one-white div .white .transaction-placeholder {
  vertical-align: middle;
  display: table-cell;
}

.two-by-two div .red-blue-2 .transaction-placeholder h4, .one-by-one div .red-blue-4 .transaction-placeholder h4 {
  font-size: 18px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-align: center;
  margin-bottom: -13px;
}

.two-by-two div .red-blue-2 .transaction-placeholder h2 {
  color: rgb(255, 255, 255);
  font-weight: 100;
  font-family: "Montserrat", sans-serif;
}

/* ########################## four by four */

.one-by-one div {
  .red {
    height: 156px;
    border-radius: 6px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.07);
    text-align: center;
    display: table;
    cursor: pointer;
  }
  .blue {
    height: 156px;
    border-radius: 6px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.07);
    background-image: linear-gradient(0deg, #17d8d1 0%, #01bdb7 100%);
    text-align: center;
    display: table;
    cursor: pointer;
  }
  .red-blue-4 {
    margin-top: 20px;
    .img {
      background-image: url('../images/Layer 3 copy 2.png');
      height: 131px;
      width: 82px;
      left: 50%;
      transform: translate(-50%, 0);
      position: absolute;
      top: 20px;
    }
    .transaction-placeholder h2 {
      color: rgb(255, 255, 255);
      font-size: 20px;
      font-weight: 100;
      font-family: "Montserrat", sans-serif;
    }
  }
}

/* ######################### one-by-one-while */

.one-by-one-white div .white {
  height: 156px;
  border-radius: 6px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.07);
  background-color: white;
  text-align: center;
  display: table;
  margin-top: 20px;
  cursor: pointer;
  .img {
    background-image: url('../images/Layer 3 copy 2.png');
    height: 131px;
    width: 82px;
    left: 50%;
    transform: translate(-50%, 0);
    position: absolute;
    top: 20px;
  }
  .transaction-placeholder h4 {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
  }
}

.transaction-placeholder-role h4{
  font-weight: 500 !important;
  font-size: 15px !important;
  width: 50%;
  margin: auto;
}

.transaction-placeholder-add-text{
  margin-bottom: -13px;
}

.footer {
  margin: 70px 0 20px 0;
  .left, .right {
    float: left;
  }
  .img {
    background-image: url('../images/logo.png');
    height: 32px;
    width: 21px;
    margin-right: 10px;
  }
  .right {
    .copy p {
      font-size: 11px;
      line-height: 22px;
      color: rgb(113, 113, 113);
      font-weight: bold;
    }
    .links a {
      font-size: 11px;
      line-height: 22px;
      color: rgb(113, 113, 113);
      font-weight: bold;
      margin-right: 5px;
    }
  }
}

/* ############################################### step2 edit transaction */

.two-by-two-white div .white {
  padding-left: 30px;
  .transaction-details .info {
    margin-top: 25px;
    overflow: hidden;
    .purchase-price span, .contract-date span {
      font-size: 12px;
      line-height: 26px;
      color: rgb(3, 192, 185);
      font-weight: bold;
      font-family: "Open Sans", sans-serif;
    }
  }
  .property-details .info .data span {
    font-size: 12px;
    line-height: 26px;
    color: rgb(3, 192, 185);
    font-weight: bold;
    font-family: "Open Sans", sans-serif;
  }
  .transaction-details .info {
    .purchase-price h1 {
      font-size: 30px;
      line-height: 26px;
      color: rgb(0, 0, 0);
      font-family: "open sans", sans-serif;
      font-weight: 300;
    }
    .contract-date h6 {
      font-size: 14px;
      line-height: 50px;
      color: rgb(0, 0, 0);
      font-family: "open sans",sans-serif;
      font-weight: 900;
      margin-top: -20px;
    }
  }
  .property-details .info {
    .data h6 {
      font-size: 14px;
      line-height: 50px;
      color: rgb(0, 0, 0);
      font-family: "open sans",sans-serif;
      font-weight: 900;
      margin-top: -20px;
    }
    .address h6 {
      line-height: 20px;
      margin-top: 5px;
    }
  }
  .transaction-details .info a {
    font-size: 14px;
    color: rgb(205, 101, 100);
    font-family: "open sans",sans-serif;
    font-weight: bold;
    text-align: center;
    position: absolute;
    left: 40px;
    bottom: 5px;
  }
  .property-details .info {
    a {
      font-size: 14px;
      color: rgb(205, 101, 100);
      font-family: "open sans",sans-serif;
      font-weight: bold;
      text-align: center;
      position: absolute;
      left: 40px;
      bottom: 5px;
    }
    .data:nth-child(4) h6 {
      &:nth-child(2) {
        margin-top: -38px;
      }
      &:nth-child(1) {
        margin-top: -5px;
      }
    }
  }
}

/* ################################## .one-by-one in the show data */

.one-by-one div .red-blue-4 .transaction-info h3 {
  font-size: 18px;
  color: rgb(255, 255, 255);
  font-family: "Open Sans",sans-serif;
  text-align: left;
}

.one-by-one-white div .white .transaction-info h3 {
  font-size: 18px;
  margin-bottom: 17px;
  color: rgb(0, 0, 0);
  font-family: "Open Sans",sans-serif;
}

.one-by-one div .red-blue-4 .transaction-info h4 {
  font-size: 16px;
  line-height: 23px;
  color: rgb(255, 255, 255);
  font-family: "Open Sans",sans-serif;
}

.one-by-one-white div .white .transaction-info h4 {
  font-size: 14px;
  color: rgb(0, 0, 0);
  font-family: "Open Sans",sans-serif;
}

.one-by-one div .red-blue-4 .transaction-info h5 {
  font-size: 12px;
  line-height: 12px;
  color: rgb(255, 255, 255);
  font-family: "Open Sans",sans-serif;
}

.one-by-one-white div .white .transaction-info h5 {
  font-size: 12px;
  line-height: 14px;
  color: rgb(0, 0, 0);
  font-family: "Open Sans",sans-serif;
}

.one-by-one div .red-blue-4 .transaction-info .hrefs {
  a {
    font-size: 12px;
    color: rgb(255, 255, 255);
    font-family: "Open Sans",sans-serif;
    font-weight: bold;
    text-align: center;
  }
  .info {
    position: absolute;
    right: 15px;
    bottom: 10px;
  }
  .view {
    position: absolute;
    left: 15px;
    bottom: 10px;
  }
}

.one-by-one-white div .white {
  .transaction-info .hrefs {
    .info {
      position: absolute;
      right: 15px;
      bottom: 20px;
    }
    .view {
      position: absolute;
      left: 15px;
      bottom: 20px;
    }
    a {
      font-size: 12px;
      color: rgb(203, 79, 78);
      font-family: "Open Sans", sans-serif;
      font-weight: bold;
      text-align: center;
    }
  }
  .coordinator {
    h4 {
      margin: 3px 0;
      font-size: 12px;
      margin-left: 4px;
    }
    h3 {
      margin-bottom: 10px;
    }
  }
}

/* ################################################################### Transaction details :-moz-user-disabled */

.modal-body .header {
  margin-bottom: 40px;
  overflow: hidden;
  h1 {
    font-size: 20px;
    line-height: 22px;
    color: rgb(0, 0, 0);
    font-family: "Open Sans",sans-serif;
    font-weight: 300;
  }
}

.model-step {
  .input-data {
    .the-input {
      width: 90%;
      /* display: inline; */
      float: left;
    }
    .input-and-image .red-bottom {
      border-bottom: 1px solid $red;
      overflow: hidden;
    }
    .the-input input {
      width: 100%;
      height: 20px;
      outline: 0;
      border: 0;
    }
    .img {
      background-repeat: no-repeat;
      float: left;
      height: 16px;
      width: 10px;
      margin-right: 5px;
      transform: translate(0%, 39%);
    }
  }
  .input-lable h6 {
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 22px;
    color: rgb(0, 0, 0);
    font-family: "Open Sans",sans-serif;
    font-weight: bold;
    text-transform: uppercase;
  }
}

.seller-rent {
  margin-top: 20px;
  h6 {
    font-size: 18px;
    line-height: 22px;
    color: rgb(0, 0, 0);
    font-family: "Open Sans",sans-serif;
    font-weight: 300;
  }
}

.check-box-section .o-radio-container {
  float: left !important;
  margin-left: 0;
}

.right-arrow {
  height: 17px;
  width: 10px;
  position: absolute;
  right: 22px;
  top: 19px;
}

.the-next-model, .the-next-model-b-s {
  position: relative;
  width: 146px;
  height: 58px;
  border-radius: 6px;
  background-color: $teal;
  font-size: 12px;
  line-height: 22px;
  color: rgb(255, 255, 255);
  font-family: "Open Sans",sans-serif;
  font-weight: bold;
  padding-left: 20px;
  outline: 0;
  border: 1px solid $teal;
  margin-left: 15px;
  margin-top: 50px;
}

/* ######################################################## STEP 2 */

.add-note-a h6 {
  font-size: 11px;
  line-height: 22px;
  color: $red;
  font-family: "Open Sans",sans-serif;
  font-weight: bold;
  cursor: pointer;
  margin-top: 35px;
}

.the-previous-model {
  font-size: 12px;
  line-height: 22px;
  color: rgb(0, 0, 0);
  font-family: "Open Sans",sans-serif;
  font-weight: bold;
}

.sale-conti {
  margin-bottom: 30px;
  h4 {
    font-size: 18px;
    line-height: 22px;
    color: rgb(0, 0, 0);
    font-family: "Open Sans",sans-serif;
    font-weight: bold;
  }
}

.modal-content {
  overflow: hidden;
}

.blue-ball {
  height: 9px;
  width: 9px;
  float: left;
  margin: auto;
  transform: translate(-50%, 100%);
}

.next-continue-btn {
  width: 188px;
  height: 59px;
}

.save-exit-button {
  position: relative;
  width: 146px;
  height: 58px;
  border-radius: 6px;
  background-color: $red;
  font-size: 12px;
  line-height: 22px;
  color: rgb(255, 255, 255);
  font-family: "Open Sans",sans-serif;
  font-weight: bold;
  padding-left: 20px;
  outline: 0;
  border: 1px solid #c94949;
  margin-left: 15px;
  margin-top: 50px;
}

.o-select {
  width: 100%;
}

.save-exit-button-td {
  position: relative;
  width: 146px;
  height: 58px;
  border-radius: 6px;
  background-color: $red;
  font-size: 12px;
  line-height: 22px;
  color: rgb(255, 255, 255);
  font-family: "Open Sans",sans-serif;
  font-weight: bold;
  padding-left: 20px;
  outline: 0;
  border: 1px solid #c94949;
  margin-left: 15px;
  margin-top: 50px;
}

/* ################################################# ANKUSH DESIGN */

.address-field {
  display: inline;
  width: 70%;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid $red;
  outline: none;
  padding-left: 10px;
  padding-right: 10px;
}

.show-notes {
  display: block !important;
}

.text-field {
  display: inline;
  width: 100%;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid $red;
  outline: none;
  padding-left: 10px;
  padding-right: 10px;
}

.modal-content {
  padding: 20px;
}

.modal-label {
  padding-left: 0;
  padding-right: 0;
}

.address-label {
  font-size: 16px;
  line-height: 22px;
  color: rgb(0, 0, 0);
  font-family: "Open Sans",sans-serif;
  font-weight: 300;
}

.modal-label {
  font-size: 12px;
  line-height: 22px;
  color: rgb(0, 0, 0);
  font-family: "Open Sans",sans-serif;
  font-weight: bold;
}

.o-select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  -ms-appearance: none;
  appearance: none;
  font-size: 16px;
  background-color: white;
  border: none;
  background: url("../images/icons/dropdown.png") no-repeat 98% center;
  background-size: 20px 20px;
  border-bottom: 1px solid #cd6563;
  outline: none;
  border-radius: 0;
  box-shadow: none;
  position: relative;
  padding-left: 10px;
  &::before {
    content: "\f107";
    font-family: "FontAwesome";
    color: black;
    position: absolute;
    right: 20px;
    top: 5px;
    z-index: -1;
    pointer-events: none;
  }
}

.field-row {
  margin-bottom: 20px;
}

.o-radio-container {
  display: inline;
  position: relative;
  cursor: pointer;
  font-size: 13px;
  user-select: none;
  font-weight: 600;
  margin: 7px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 25px;
  padding-right: 10px;
  border-radius: 5px;
}

.o-radio-container {
  input {
    display: none;
    opacity: 0;
  }
  i {
    font-size: 14px;
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

.field-row-2 {
  margin-top: 50px;
}

.intro {
  .line-pa .blue-black {
    h3 {
      font-size: 12px;
      color: $teal;
      font-family: "Open Sans",sans-serif;
      font-weight: bold;
    }
    h6 {
      font-size: 12px;
      color: rgb(0, 0, 0);
      font-family: "Open Sans",sans-serif;
      font-style: italic;
    }
    h4 {
      font-size: 18px;
      color: rgb(0, 0, 0);
      font-family: "Open Sans",sans-serif;
    }
  }
  .title h1 {
    font-size: 18px;
    color: rgb(0, 0, 0);
    font-family: "Open Sans",sans-serif;
  }
  .line-pa a {
    width: 110px;
    height: 46px;
    border-radius: 6px;
    background-color: $red;
    font-size: 12px;
    color: rgb(255, 255, 255);
    font-family: "Open Sans",sans-serif;
    border: 16px solid #cb4f4d;
  }
}

@media (min-width: 992px) {
  .modal-lg {
    width: 1041px;
  }
}

.height-30 {
  height: 30px;
}

.the-previous-model {
  cursor: pointer;
}

.padding-left-0 {
  padding-left: 0;
}

.line-NB .label-control {
  font-size: 12px;
  letter-spacing: 1px;
  line-height: 22px;
  color: rgb(0, 0, 0);
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
}

.add-note {
  font-size: 12px;
  line-height: 22px;
  color: $red;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
}

.tall-button {
  width: 214px;
}

.line-NB {
  margin-top: 20px;
}

.save-buyer-seller-btn {
  position: relative;
  width: 96px;
  height: 58px;
  border-radius: 6px;
  background-color: $teal;
  font-size: 12px;
  line-height: 22px;
  color: rgb(255, 255, 255);
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  padding-left: 20px;
  outline: 0;
  border: 1px solid $teal;
  margin-left: 15px;
  margin-top: 50px;
}

.modal-content .dim {
  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    z-index: 1;
  }
  display: none;
}

/* #################################### print invoice */

.container-inv {
  width: 816px;
  margin: auto;
  background-color: #FFFFFF;
  overflow: hidden;
  padding-left: 0.75in;
  padding-right: 0.75in;
  padding-top: .5in;
  padding-bottom: 200px;
  .title-div {
    .left-div {
      .title {
        .context {
          font-family: 'Montserrat', sans-serif;
          font-weight: 900;
        }
        .image {
          height: 37px;
          width: 209px;
          background-size: cover;
          background-repeat: no-repeat;
        }
      }
      .address {
        margin-top: 20px;
        font-weight: bolder;
      }
      .bill-to {
        margin-top: 30px;
      }
    }
    margin-top: 50px;
    .right-div {
      margin-top: 20px;
      .balance-due {
        background-color: #D3D3D3;
        overflow: hidden;
        .panel-due {
          font-size: 13px;
          margin-top: 3px;
          font-weight: 700;
        }
        .data {
          font-size: 20px;
        }
      }
    }
  }
}

.table {
  thead td {
    background-color: #474747 !important;
    color: white !important;
  }
  tr {
    border-bottom: .5px solid #474747;
  }
}

.container-inv {
  .items {
    margin-top: 60px;
    .table tr td {
      &:first-child {
        border-radius: 10px 0 0 10px;
      }
      &:last-child {
        border-radius: 0 10px 10px 0;
      }
    }
  }
  table thead {
    td:first-child {
      width: 60%;
    }
    height: 20px;
  }
  .total-sub-total {
    float: right;
    width: 40%;
    margin-top: 60px;
  }
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.container-inv {
  .Terms, .Notes {
    margin-top: 40px;
  }
  .items {
    .headre-inv-table {
      background-color: #474747;
      overflow: hidden;
      color: white;
      padding: 4px;
      border-radius: 4px;
    }
    .item {
      width: 55%;
      float: left;
    }
    .Quantity, .Rate, .Amount {
      width: 13%;
      float: left;
    }
    .item-line {
      padding: 4px;
      border-bottom: 1px solid #474747;
      overflow: hidden;
    }
  }
}

/* The switch - the box around the slider */

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

span.upper-case {
  text-transform: uppercase;
}

/* date input (working on chrome) */

input[type=date] {
  &::-webkit-calendar-picker-indicator {
    background: url(https://upload.wikimedia.org/wikipedia/commons/6/69/Calendar_font_awesome.svg) no-repeat;
    border-width: thin;
    color: rgba(0, 0, 0, 0);
    display: block;
    height: 16px;
    width: 16px;
    opacity: 1;
  }
  &::-webkit-inner-spin-button {
    display: none;
    -webkit-appearance: none;
  }
}

.vertical-alignment-helper {
  display:table;
  height: 100%;
  width: 100%;
  pointer-events:none; /* This makes sure that we can still click outside of the modal to close it */
}
.vertical-align-center {
  /* To center vertically */
  display: table-cell;
  vertical-align: middle;
  pointer-events:none;
}
.modal-content {
  /* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
  width:inherit;
  /*max-width:inherit; /* For Bootstrap 4 - to avoid the modal window stretching full width */
  height:inherit;
  /* To center horizontally */
  margin: 0 auto;
  pointer-events: all;
}