/*** UI ***/
@import "components/3a/ui/colors";
@import "components/3a/ui/buttons.scss";

/*** Modals ***/
@import "components/3a/SplitDocumentModal";

/*** Documents ***/
@import "components/3a/consumer/ConsumerDocuments";
@import "components/3a/documents/DocumentBagShare";

/*** Components/Pages ***/
@import "components/3a/consumer/ConsumerTransactionSummary";
@import "components/3a/consumer/ConsumerEditDetails";
@import "components/3a/consumer/ConsumerSearchKeyPeople";
@import "components/3a/transactions/transactions";
@import "components/3a/consumer/ConsumerDashboard";
@import "components/3a/SendEmail";
@import "components/3a/consumer/ConsumerAlerts";

/*** Layout ***/
@import "components/3a/consumer/ConsumerFooter";
@import "components/3a/consumer/ConsumerHeader";
@import "components/3a/consumer/LeftNav";
@import "components/3a/transactions/TransactionBanner";


/*** Account ***/
@import "components/3a/account/Subscription";
@import "components/3a/consumer/ConsumerProfile";

/*** Tooltips ***/
@import "components/3a/tooltip/tooltip";

/*** Questionnaires ***/
@import "components/3a/questionnaires/consumer/AddKeyPeople";

/*** Other ***/
@import "components/3a/consumer/Style";

.modal-backdrop{
  pointer-events: none !important;
  opacity: 0 !important;
}

#header{
  z-index: 1;
}

.float-right{
  float: right;
}

.float-left{
  float: left;
}

.controls-dropdown{
  border:1px solid $teal;
  color: black;
  background-color: white;
  margin-right: 100px;
  padding: 0;
  a{
    color: #000;
    display: block;
    padding: 2px 20px !important;
    text-align: left;
    border-bottom: solid 1px $teal;
    &:hover{
      background: $lightTeal;
    }
  }
  a:last-child{
    border-bottom: none;
  }
}

.fade {
  transition: opacity 0.15s linear;
  &:not(.show) {
    opacity: 0;
  }
}

@media (prefers-reduced-motion: reduce) {
  .fade {
    transition: none;
  }
}

.modal {
  &.fade .modal-dialog {
    transition: -webkit-transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
    transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
    -webkit-transform: translate(0, -50px);
    transform: translate(0, -50px);
  }
  &.show .modal-dialog {
    -webkit-transform: none;
    transform: none;
  }
}

@media (prefers-reduced-motion: reduce) {
  .modal.fade .modal-dialog {
    transition: none;
  }
}

.modal3a-1{
  .form-control[readonly]{
    background: white;
  }
  .swal2-header{
    height: 0 !important;
  }
  #closeButton{
    position: absolute;
    width: 50px;
    height: 50px;
    background: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -10px;
    right: -10px;
    z-index: 1;
    border: solid 1px $teal;
    font-size: 30px;
    font-weight: lighter;
  }
  .EditModalButton {
    float: right;
    height: 45px;
    border-radius: 6px;
    background-color: #CCCCCC !important;
    color: #494949 !important;
    margin-top: 15px;
    padding: 10px 15px;
    margin-bottom: 20px;
  }
  .EditModalHeader {
    background-color: #21D7D1;
    color: white;
    padding-left: 60px !important;
    h5{
      padding: 15px 10px 15px;
      color: white;
    }
  }
  .dropdown-menu {
    border: 1px solid #CED4DA;
    width: 100%;
    padding: 10px !important;
  }
  .dropdown-item {
    margin: 0;
    color: #1C2023 !important;
    padding-top: 8px;
    padding-bottom: 8px;
    &:hover {
      background-color: #E8FBFA;
      border-radius: 4px;
      color: black;
    }
  }
  input {
    height: 45px;
    margin-top: 15px;
    padding-left: 30px;
  }
  .modal-content {
    border: 2px solid #21D7D1;
  }
  form {
    width: 80%;
    margin: 20px auto;
  }
  .dropdown-toggle::after {
    float: right;
    margin-top: 10px;
    font-size: 18px !important;
    color: #21D7D1;
  }
}

.overflow-break-word{
  overflow-wrap: break-word;
}

.clamp{
  overflow: hidden;
  text-overflow: ellipsis;
}

.shadow {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

/**
.fa-check:before in app.css is causing issues with FormAPI/DocSpring.
This is a temporary fix, CSS needs a complete overhaul.
**/
.fa-check:before{
  content: unset !important;
}

.vue-spinner-container{
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  background: white !important;
}