<template>
    <div class="categories mb-3">
        <a href="#\" v-for="(object, section) in navigationStepsObject">
            <button type="button" v-bind:class="buttonClass(section)" v-on:click="travelToIndex(object.index)">
                <span class="category-button-text">{{windowWidth > 1060 ? section : object.alternate}}</span>
            </button>
        </a>
    </div>
</template>

<script>
    export default {
        name: "NavigationSteps",
        props: {
            navigationSteps: {
                type: Object,
                default: () => {},
            },
            currentSection: {
                type: String,
                default: '',
            },
            strictMode: {}
        },
        computed: {
            navigationStepsObject(){
                let steps = Object.entries(this.navigationSteps);
                let newSteps = {};
                let counter = 1;
                for (let [section, index] of steps)
                {
                    newSteps[section] = {
                        index: index,
                        alternate: counter,
                    };
                    counter++;
                }
                return newSteps;
            }
        },
        data(){
            return {
                windowWidth: window.innerWidth,
            }
        },
        methods: {
            buttonClass(section){
                return this.currentSection == section ? 'btn btn-arrow-right nav-steps-btn active': 'btn btn-arrow-right nav-steps-btn';
            },
            travelToIndex(index) {
                if (this.strictMode != 1)
                    this.$root.$emit('switchViews', index);
            },
        },
        mounted() {
            window.addEventListener('resize', function () {
                this.windowWidth = window.innerWidth;
            });
        }
    }
</script>

<style scoped>

</style>