<template>
    <div class="navigation-container">
        <div class="navigation clearfix">
            <div class="col-sm-1"></div>
            <div class="col-sm-10">
                <a v-if="viewIndex > 1" href="#/">
                    <button v-on:click="prevClicked" class="btn btn-secondary previous-gray-button btn-arrow-left questionnaire-nav-button" :disabled="prevDisabled"><i class="fas fa-chevron-left"></i>&nbsp;&nbsp;&nbsp;PREVIOUS</button>
                </a>
                <a href="#/" v-if="!commands.nav.autoadvance">
                    <button v-on:click="nextClicked" class="btn btn-danger float-right next-red-button questionnaire-nav-button" >{{nextText}}&nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-chevron-right"></i></button>
                </a>
            </div>
            <div class="col-sm-1"></div>
        </div>
        <div class="col-sm-1"></div>
        <div class="col-sm-10">
            <div class="progress">
                <div class="progress-bar" role="progressbar" :style="'width: '+progressPercent+'%'" :aria-valuenow="progressPercent" aria-valuemin="0" aria-valuemax="100">
                    <span v-if="progressPercent > 0" class="progress-bar-percent">{{progressPercent}}%</span>
                </div>
            </div>
        </div>
        <div class="col-sm-1"></div>
    </div>
</template>

<script>
    export default {
        name: "Navigation",
        props: {
            viewIndex: {},
            questionnaireType: {
                type: String,
                default: '',
            },
            commands: {
                type: Object,
                default: () => {}
            },
            allAnswers:{
                type: Array,
                default: () => [],
            },
            nextText:{
                type: String,
                default: 'NEXT',
            },
            finish: {
                type: Boolean,
                default: false,
            },
            strictMode: {},
            errorMessages: {
                type: Object,
                default: () => {},
            }
        },
        data(){
            return {
                answers: {},
                progressPercent: 0,
                prevDisabled: false,
                canMoveForward: false,
                errors: [],
                required: [],
            }
        },
        watch: {
            finish: {
                handler(val){
                    this.prevDisabled = val;
                    if (val)
                    {
                        this.$parent.$emit('toggleWarnOnPageLeave');
                        this.nextClicked();
                    }
                }
            },
        },
        methods:{
            /**
             * Checks the progress of the questionnaire and returns a percent value.
             * Progress is determined by whether a question is answerable and answered.
             */
            checkProgress(){
                /**
                 * Count all required and answered.
                 */
                let requiredCount       = 0;
                let answeredCount       = 0;
                let vueObject           = this;
                let allAnswersLength    = this.allAnswers.length;
                for(let i = 0; i < allAnswersLength; i++)
                {
                    $.each(vueObject.allAnswers[i],  (friendlyIndex, component) => {
                        if (component.isRequired == 1 && component.isAnswerable == 1)
                        {
                            requiredCount++;
                            if (component.Answer !== null && component.Answer !== '') answeredCount++;
                        }
                    });
                }

                this.progressPercent = Math.ceil((answeredCount/requiredCount) * 100);
                if (this.progressPercent > 100) this.progressPercent = 100;
            },
            /**
             * Collects the answers from inputs on the slide/view and then stores them locally
             * inside of a 'questionnaireAnswers' object in QuestionnaireContainer.vue.
             *
             * Then it initiates a set of procedures for moving forward in the questionnaire.
             */
            saveDataLocally() {
                this.canMoveForward = false;
                this.$parent.$emit('setErrors', []);
                let answers         = document.getElementsByClassName('AnswerChoice');
                let answersCount    = answers.length;

                for(let i = 0; i < answersCount; i++)
                {
                    let self = answers[i];
                    if (self.type == 'radio')
                    {
                        if (self.checked) this.answers[self.getAttribute('name')] = self.value;
                    }
                    else if (self.tagName == 'TEXTAREA')
                    {
                        this.answers[self.getAttribute('name')] = self.value;
                    }
                    else if (self.tagName == 'INPUT' && (self.type == 'text' || self.type == 'hidden' || self.type == 'date'))
                    {
                        this.answers[self.getAttribute('name')] = self.value;
                    }
                    else if (self.type && self.classList.contains('booleanCheckbox'))
                    {
                        if(self.checked) this.answers[self.getAttribute('name')] = 1;
                        else this.answers[self.getAttribute('name')] = 0;
                    }
                    else if (self.type == 'checkbox')
                    {
                        if(self.checked)
                        {
                            if(!this.answers[self.getAttribute('name')])
                            {
                                this.answers[self.getAttribute('name')] = [];
                            }
                            this.answers[self.getAttribute('name')].push(self.value);
                        }
                        else
                        {
                            this.answers[self.getAttribute('name')] = 0;
                        }
                    }
                    else if (self.tagName == 'SELECT')
                    {
                        this.answers[self.getAttribute('name')] = self.value;
                    }
                }
                this.checkInputCommands();
                //this.getRequirements();
            },
            getRequirements(){
                this.$parent.$emit('setRequired');
            },
            /**
             * Checks for errors in the requirements. For example, a field named FirstName might be
             * required but the user didn't enter anything. This will add an error for that field
             * and then emit all of the errors to the QuestionnaireContainer.vue component.
             */
            checkForErrors(){
                if (this.strictMode == 1)
                {
                    let moveForward = true;
                    let errors = [];
                    /** Process required errors **/
                    let length = Array.isArray(this.required) ? this.required.length : 0;
                    for (let i = 0; i < length; i++)
                    {
                        let index = this.required[i];
                        if (this.answers[index] === '' || this.answers[index] === null)
                        {
                            let error_msg = this.errorMessages[index];
                            if (error_msg)
                                errors.push(error_msg.required);
                        }
                    }
                    /** Merge errors sent in from component and remove duplicates **/
                    let allErrors = uniqueValueArray(errors.concat(this.errors));
                    /** Emit errors to questionnaire container **/
                    this.$parent.$emit('setErrors', allErrors);
                    /** If there are any errors, prevent the user from continuing **/
                    if (allErrors.length > 0) moveForward = false;
                    this.canMoveForward = moveForward;
                }
                else this.canMoveForward = true;
                this.executeNext();
            },
            /**
             * Checks input commands that are verifying inputs or an array input (inputcontains).
             * It needs to do this here in order to decide what the next slide/view should be
             * and if any requirements in the questionnaire have changed.
             */
            checkInputCommands(direction = 'next') {
                if (Object.keys(this.commands).length > 0)
                {
                    /**
                     * This means there are some commands that are applicable based on user input.
                     * We need to see if the user's input matches any of these commands.
                     */
                    if (this.commands['input'])
                    {
                        let inputCommands = this.commands['input'];
                        let inputCommandsLength = inputCommands.length;
                        for(let i = 0; i < inputCommandsLength; i++)
                        {
                            let parts           = splitWithTail(inputCommands[i],':',2);
                            let answer          = parts[0];
                            let friendlyIndex   = parts[1];
                            let newCommand      = parts[2];
                            if(this.answers[friendlyIndex])
                            {
                                let processInputCommand = false;
                                processInputCommand = this.$parent.checkOperators(this.answers[friendlyIndex], answer);

                                if (processInputCommand)
                                {
                                    /**
                                     * We pass in the command and the commands object.
                                     * Since 'this.commands' is an object it will be accessed by reference
                                     * inside of processSingleCommand()
                                     */
                                    this.$parent.processInputCommand(newCommand,this.commands);
                                }
                            }
                        }
                    }
                    /**
                     * inputcontains is used to determine whether a value exists in an array.
                     * This is useful to process answers from a checkbox type input where multiple values
                     * can exist for a single question.
                     */
                    if (this.commands['inputcontains'])
                    {
                        let inputCommands = this.commands['inputcontains'];
                        let inputCommandsLength = inputCommands.length;
                        for(let i = 0; i < inputCommandsLength; i++)
                        {
                            let parts           = splitWithTail(inputCommands[i],':',2);
                            let answer          = parts[0];
                            let friendlyIndex   = parts[1];
                            let newCommand      = parts[2];
                            if(this.answers[friendlyIndex])
                            {
                                let items = this.answers[friendlyIndex].split(',');
                                if(items.includes(answer))
                                {
                                    /**
                                     * We pass in the command and the commands object.
                                     * Since 'this.commands' is an object it will be accessed by reference
                                     * inside of processSingleCommand()
                                     */
                                    this.$parent.processInputCommand(newCommand,this.commands);
                                }
                            }
                        }
                    }
                }
                if (direction === 'next') this.getRequirements();
            },
            /**
             * Questionnaire progression.
             * Either the user is able to continue the questionnaire or the questionnaire is over.
             * If the questionnaire is over there are specific messages based on questionnaireType.
             *
             * Emits to the QuestionnaireContainer.
             */
            executeNext(){
                if (this.canMoveForward)
                {
                    if (this.finish) {
                        let success_text = 'Finish';
                        if (this.questionnaireType == 'transaction') success_text = 'Open Transaction';
                        genericSuccess('', 0, false, null, success_text).then(() => {
                            this.$root.$emit('finishQuestionnaire', {
                                answers: this.answers,
                            });
                        });
                    } else {
                        this.$root.$emit('executeNavigation', {
                            direction: 'next',
                            commands: this.commands,
                            answers: this.answers,
                        });
                    }
                }
                else
                {

                }
            },
            nextClicked() {
                this.saveDataLocally();
            },
            prevClicked()
            {
                /**
                 * Need to clear out any previous errors, we also clear them out inside of executeNavigation
                 * $emit receiver in QuestionnaireContainer.
                 */
                this.errors = [];
                //this.checkInputCommands('prev');
                this.$root.$emit('executeNavigation',{
                    direction: 'prev',
                    commands: this.commands,
                    answers: this.answers,
                });
            },
            /**
             * Enable processing of keys. In this case we only care about the enter key because
             * in the context of the questionnaire it means the user wants to click next.
             * @param code
             * @param e
             */
            keyPressed(code, e){
                if (code === 13 || code === 'Enter')
                {
                    e.preventDefault();
                    this.nextClicked();
                }
            },
        },
        mounted() {
            if (this.allAnswers[0] == undefined) this.allAnswers[0] = {};
            this.checkProgress();
            /**
             * Checks for errors before attempting to move forward.
             */
            this.$on('checkForErrors', data => {
                this.required = data;
                this.checkForErrors();
            });
            /**
             * Used to move forward from a component or the parent container.
             */
            this.$root.$on('next', () =>{
                this.nextClicked();
            });
            /**
             * Used to move backwards from a component or the parent container.
             */
            this.$root.$on('prev', () =>{
                this.prevClicked();
            });
            /**
             * Used to check the progress on the questionnaire. The value is displayed
             * at the bottom as a percent.
             */
            this.$root.$on('checkProgress', () => {
                this.checkProgress();
            });
            /**
             * Used to add specific errors from other components.
             * For example, you might consider that if a phone number is not
             * x amount of digits then it is not valid. You can add this error from another component
             * and it will be processed and displayed to the user at the appropriate time.
             */
            this.$root.$on('__addErrors', data => {
                this.errors = data;
            });
            let v = this;
            window.onkeypress = (e) => {
                let code;
                if (e.key !== undefined) code = e.key;
                else if (e.keyIdentifier !== undefined) code = e.keyIdentifier;
                else if (e.keyCode !== undefined) code = e.keyCode;
                v.keyPressed(code, e);
            };
        }
    }
</script>

<style scoped>

</style>