<template>
    <div class="questionnaire-title">
        {{title}}
    </div>
</template>

<script>
    export default {
        name: "QuestionTitle",
        props: {
            title: {
                default: null,
                type: String,
            }
        },
    }
</script>

<style scoped>

</style>