<template>
    <div id="questionnaire" v-if="containerReady">
        <div class="container" id="body-content">
            <div class="row" v-if="Object.keys(selectedView).length > 0">
                <div class="col-sm-12 shadow questionnaireContainer" :id="staticQuestionnaireData.ContainerID">
                    <navigation-steps
                            v-if="showNavigationSteps"
                            :navigation-steps="navigationSteps"
                            :current-section="currentSection"
                            :key="navigationStepsKey"
                            :strict-mode="staticQuestionnaireData.isStrict"
                    >
                    </navigation-steps>
                    <div style="min-height: 300px;">
                        <a v-tooltip="tooltips.find(t => t.Name == 'questionnaire.contactUS').Description" href="#/" id="help"><i class="far fa-question-circle"></i></a>
                        <v-alert
                                v-if="errors.length > 0"
                                :value="true"
                                type="error"
                        >
                            <ul class="error-messages">
                                <li v-for="error in errors">{{error}}</li>
                            </ul>
                        </v-alert>
                        <component
                                v-for="(component,i) in selectedView"
                                :is="component['Component']"
                                v-bind="bindAttributes(component)"
                                :key="component.ID"
                                ref="QuestionnaireQuestionComponent"
                        >
                        </component>
                    </div>
                    <navigation
                            :class="!showNavigation ? 'hidden' : '' "
                            ref="nav"
                            :questionnaire-type="staticQuestionnaireData.Type"
                            :view-index="currentViewIndex"
                            :commands="commands"
                            :next-text="navigationNextText"
                            :all-answers="questionnaireAnswers"
                            :finish="finishQuestionnaire"
                            :strict-mode="staticQuestionnaireData.isStrict"
                            :error-messages.sync="errorMessages"
                    >
                    </navigation>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    /**
     * In order for Questionnaire vue components to be usable you need to import them here.
     * Otherwise it will throw an error that they do not exist. Generally, when building a questionnaire the
     * idea is to try to use as many reusable components as possible but in some situations a customized component
     * is necessary. Below are a list of custom and standard components. Both are reusable but custom components
     * are created to address a need in a specific questionnaire. The name of a custom component should be prefixed
     * with an indication of what it is used for.
     */
    import Navigation from './Navigation';
    import NavigationSteps from './NavigationSteps';
    import Checkbox from './questions/standard/Checkbox';
    import Radio from './questions/standard/Radio';
    import TextInput from './questions/standard/TextInput';
    import SingleTextInput from "./questions/standard/SingleTextInput";
    import TextAreaInput from "./questions/standard/TextAreaInput";
    import SingleTextAreaInput from "./questions/standard/SingleTextAreaInput";
    import SelectInput from './questions/standard/SelectInput';
    import HowLongQuestion from './questions/standard/HowLongQuestion';
    import SkipStep from './SkipStep';
    import PhoneInput from './questions/standard/PhoneInput';
    import BooleanCheckbox from './questions/standard/BooleanCheckbox';
    import ViewTitle from './ViewTitle';
    import CurrencyInput from './questions/standard/CurrencyInput';
    import SelectInputOpen from './questions/standard/SelectInputOpen';
    import DateInput from './questions/standard/DateInput';
    import YesNoDaDkRadio from './questions/standard/YesNoDaDkRadio';
    import NoImgRadio from "./questions/standard/NoImgRadio";

    /**
     * CT_ stands for Create Transaction, these components are specifically made for the
     * transaction creation process.
     * TCCT = transaction coordinator create transaction
     * ACT = agent create transaction
     * HCT = homesumer create transaction
     */
    import AgentInformation from './questions/custom/AgentInformation';
    import DualAgentInformation from "./questions/custom/agent/DualAgentInformation";
    import TCInformation from "./questions/custom/TCInformation";
    import DualTCInformation from "./questions/custom/tc/DualTCInformation";
    import SomeCustomComponent from './questions/custom/SomeCustomComponent';
    import AddressSearch from './questions/standard/AddressSearch';
    import CT_Contingencies from './questions/custom/CT_Contingencies';
    import CT_RentBack from "./questions/custom/CT_RentBack";
    import CT_TenantsRemain from './questions/custom/CT_TenantsRemain';
    import CT_Invitation from './questions/custom/CT_Invitation';
    import CT_PropertyType from "./questions/custom/CT_PropertyType";
    import CT_EscrowDate from './questions/custom/CT_EscrowDate';
    import CT_YearBuilt from "./questions/custom/CT_YearBuilt";
    import CT_HomesumerInfo from "./questions/custom/CT_HomesumerInfo";

    import HCT_TransactionSide from "./questions/custom/homesumer/HCT_TransactionSide";
    import ACT_TransactionSide from "./questions/custom/agent/ACT_TransactionSide";
    import TCCT_TransactionSide from "./questions/custom/tc/TCCT_TransactionSide";

    /**
     * DIA stands for Disclosure Information Advisory
     */
    import DIA_Intro from './questions/custom/DIA_Intro';
    import DIA_DisclosureObligations from './questions/custom/DIA_DisclosureObligations';
    import DIA_DisclosureForms from './questions/custom/DIA_DisclosureForms';
    import DIA_TDS from './questions/custom/DIA_TDS';
    import DIA_SPQ from './questions/custom/DIA_SPQ';
    import DIA_ESD from './questions/custom/DIA_ESD';
    import DIA_FinalRecommendations from './questions/custom/DIA_FinalRecommendations';

    /**
     * TDS stands for Transfer Disclosure Statement.
     */
    import TDS_INTRO from './questions/custom/TDS_INTRO';
    import TDS_PropertyHasItems from './questions/custom/TDS_PropertyHasItems';
    import TDS_WaterSupplyType from './questions/custom/TDS_WaterSupplyType';
    import TDS_DefectsOrMalfunctions from './questions/custom/TDS_DefectsOrMalfunctions';
    import TDS_SellerAware from './questions/custom/TDS_SellerAware';
    import TDS_Summary from './questions/custom/TDS_Summary';
    import TDS_Overview from './questions/custom/TDS_Overview';

    /**
     * SPQ stands for Seller Property Questionnaire disclosure.
     */
    import SPQ_Overview from "./questions/custom/disclosures/CA/spq/SPQ_Overview";
    import SPQ_Section from "./questions/custom/disclosures/CA/spq/SPQ_Section";

    /**
     * EHR stands for Earthquake Hazard Report disclosure. The intro requires a custom component.
     */
    import EHR_Intro from './questions/custom/EHR_Intro';

    /**
     * C_ used to stand for "consumer" but these components are user facing for transaction coordinators, agents,
     * and consumers. The following components are for the Add Key People questionnaire.
     *
     * In some roles, such as transaction coordinator and agent, the system does not know immediately what
     * transaction they wish to add a key person to so there is a select transaction question that comes before.
     */
    import C_AddAux from "./questions/custom/addPeople/C_AddAux";
    import C_AddRealEstateAgent from "./questions/custom/addPeople/C_AddRealEstateAgent";
    import C_AddRole from "./questions/custom/addPeople/C_AddRole";
    import C_AgentSide from "./questions/custom/addPeople/C_AgentSide";
    import C_EscrowOrTitle from "./questions/custom/addPeople/C_EscrowOrTitle";

    import AAKP_SelectTransaction from "./questions/custom/addPeople/AAKP_SelectTransaction";

    import AC_AddRole from "./questions/custom/addPeople/AC_AddRole";
    import AC_BuyerOrSeller from "./questions/custom/addPeople/AC_BuyerOrSeller";
    import AC_AddConsumer from "./questions/custom/addPeople/AC_AddConsumer";

    export default {
        name: "QuestionnaireContainer",
        components: {
            Navigation,
            NavigationSteps,
            SkipStep,
            Radio,
            TextInput,
            SingleTextInput,
            TextAreaInput,
            SingleTextAreaInput,
            Checkbox,
            SelectInput,
            HowLongQuestion,
            PhoneInput,
            BooleanCheckbox,
            ViewTitle,
            CurrencyInput,
            SelectInputOpen,
            DateInput,
            YesNoDaDkRadio,
            NoImgRadio,

            AgentInformation,
            DualAgentInformation,
            TCInformation,
            DualTCInformation,
            SomeCustomComponent,
            AddressSearch,
            CT_Contingencies,
            CT_RentBack,
            CT_TenantsRemain,
            CT_Invitation,
            CT_PropertyType,
            CT_EscrowDate,
            CT_YearBuilt,
            CT_HomesumerInfo,

            HCT_TransactionSide,
            ACT_TransactionSide,
            TCCT_TransactionSide,

            DIA_Intro,
            DIA_DisclosureObligations,
            DIA_DisclosureForms,
            DIA_TDS,
            DIA_SPQ,
            DIA_ESD,
            DIA_FinalRecommendations,

            TDS_INTRO,
            TDS_PropertyHasItems,
            TDS_WaterSupplyType,
            TDS_DefectsOrMalfunctions,
            TDS_SellerAware,
            TDS_Summary,
            TDS_Overview,

            SPQ_Overview,
            SPQ_Section,

            EHR_Intro,
            
            C_AddAux,
            C_AddRealEstateAgent,
            C_AddRole,
            C_AgentSide,
            C_EscrowOrTitle,

            AAKP_SelectTransaction,

            AC_AddRole,
            AC_BuyerOrSeller,
            AC_AddConsumer,
        },
        props: {
            additionalData: {
                type: String,
                default: '',
            },
            transactionID: {
                default: 0,
            },
            questionnaireID: {
                default: 0,
            },
            questionnaireLinkID: {
                default: 0,
            },
            token: {
                type: String,
                default: '',
            },
            state: {
                type: String,
                default: 'CA',
            },
        },
        computed: {
            currentComponentAutoAdvance(){
                return (
                    this.getCurrentComponent() == 'Radio' ||
                    this.getCurrentComponent() == 'NoImgRadio' ||
                    this.getCurrentComponent() == 'SelectInputOpen'
                );
            }
        },
        data() {
            return {
                /**
                 * The width of the browser window.
                 */
                windowWidth:                window.innerWidth,
                /**
                 * Used to wait for certain actions to be done prior to displaying data.
                 * Used when switching views.
                 */
                containerReady:             false,
                /**
                 * This can be set in the excel file of the questionnaire.
                 * Value of whether to display the section at the top of the questionnaire.
                 */
                showNavigationSteps:        true,
                /**
                 * Object that will house the steps.
                 */
                navigationSteps:            {},
                /**
                 * What step you are in.
                 */
                navigationStepsKey:         0,
                /**
                 * What section you are in.
                 * Different from steps in that this is text to be displayed.
                 */
                currentSection:             '',
                /**
                 * Whether or not to show the 'previous'
                 * and 'next' buttons at the bottom.
                 */
                showNavigation:             true,
                allQuestionnaireData:       {},
                questionnaireQuestions:     {},
                /**
                 * Object with keys based on slide display order.
                 * Each object has more objects inside based on the friendly index of each question.
                 */
                questionnaireAnswers:       [],
                /**
                 * Object with FriendlyIndex -> answer value pairs.
                 */
                allAnswersByFriendlyIndex:  {},
                /**
                 * Data that is set prior to starting the questionnaire.
                 */
                staticQuestionnaireData:    {},
                questionnaireViews:         {},
                /**
                 * Object that is equivalent to the object of the slide the user is currently in.
                 */
                selectedView:               [],
                /**
                 * List of all commands for that slide (structured).
                 */
                commands:                   {},
                /**
                 * Used to ensure that the child component is re-mounted.
                 * Possibly deprecated.
                 */
                keySeeder:                  '0',
                /**
                 * Used to know what the index of the last slide is.
                 */
                lastViewIndex:              -1,
                /**
                 * Text of the button that triggers a progression to the next question.
                 */
                navigationNextText:         'NEXT',
                /**
                 * Boolean of whether the questionnaire is completed or not.
                 */
                finishQuestionnaire:        false,
                /**
                 * A boolean that indicates that the user has already been redirected to a question
                 * that was pending. Probably deprecated.
                 */
                reroutedToPendingView:      false,
                /**
                 * A list of friendly indexes that have already been viewed by the user.
                 */
                viewedFriendlyIndexList:    [],
                /**
                 * All commands including ones in other components.
                 */
                allCommands:                [],
                allData:                    {},
                /**
                 * Transaction ID.
                 * If it is 0, this questionnaire is not attached to any transaction.
                 */
                tID:                        this.transactionID || 0,
                /**
                 * The index of the current view/slide that the user is in.
                 */
                currentViewIndex:           -1,
                /**
                 * Boolean value of whether to display a warning message to the user when he is redirected
                 * or tries to leave. Look inside of mounted() to see how to edit this value.
                 */
                warnOnLeaveIntent:          true,
                /**
                 * All the tooltips of the Offer To Close system.
                 */
                tooltips:                   this.$store.getters.getTooltips(),
                /**
                 * List of errors, this value is changed by child components via emit methods.
                 */
                errors:                     [],
                errorMessages:              {},
                requiredIndexes:            -1,
                AdditionalData:             {},
            }
        },
        watch: {
            finishQuestionnaire: {
                handler(val){
                    if (val) this.navigationNextText = 'FINISH';
                    else this.navigationNextText = 'NEXT';
                },
            },
            windowWidth: {
                handler(val, oldVal){
                    if (val > 1060 && oldVal <= 1060) this.navigationStepsKey++;
                    else if (val <= 1060 && oldVal > 1060) this.navigationStepsKey++;
                }
            },
            requiredIndexes: {
                handler(val){
                    if (val != -1 && Array.isArray(val))
                    {
                        this.$refs.nav.$emit('checkForErrors', val);
                    }
                }
            }
        },
        methods: {
            /**
             * Get the host URL which depends on what server the code is running in.
             * I was having issues adding this method to all Vue components via root so I do this where I
             * need to use it.
             */
            getHostURL() {
                return getHostURL();
            },
            /**
             * This function is responsible for switching to a corresponding view, it does things like
             * show Navigation and set containerReady to true.
             * */
            switchViews(index) {
                this.selectedView       = this.questionnaireViews[index];
                $.each(this.selectedView, (friendlyIndex, component) => {
                    component.ID = String(component.ID+this.keySeeder);
                    this.currentSection = component['Section'];
                });
                this.showNavigation = true;
                this.containerReady = true;
                this.processCommands();
                this.processNavCommands();
                this.executeComponentLoadCommands();
                this.currentViewIndex = index;
            },
            /**
             * This method processes an input command.
             * An input command looks something like this: input@1:SomeIndex:nav@next:SomeOtherIndex
             *
             * What this command is saying is this: if the user enters "1" as the answer for "SomeIndex", then
             * navigation next button will point to "SomeOtherIndex".
             *
             * This method processes similar logic for require, removerequire, and removeRequireOriginal.
             * It is processing a follow up command after an input command is deemed to be true. This means that
             * if an input is different than what is state in the command it should not get into this method.
             * @param command
             * @param commandsReference
             * @returns {boolean}
             */
            processInputCommand(command, commandsReference) {
                let parts   = command.split(/@(.+)/);
                let type    = parts[0];
                let friendlyIndex;
                let restart = false;
                /**
                 * Set the navigation.
                 * For example: input@1:SomeIndex:nav@next:SomeOtherIndex
                 *
                 * Navigation's next button will be set to move to SomeOtherIndex.
                 * Note: If strict mode is activated and this logic is attempting to "skip" a required
                 * question it will be ignored.
                 */
                if (type == 'nav')
                {
                    let split       = parts[1].split(':');
                    let direction   = split[0];
                    friendlyIndex   = split[1];
                    commandsReference['nav'][direction] = friendlyIndex;
                }
                /**
                 * Require whatever the FriendlyIndex is.
                 * For example: input@1:SomeIndex:require@SomeOtherIndex
                 *
                 * Since we are already in this method, the user selected "1" for SomeIndex. This means,
                 * SomeOtherIndex isRequired should now be set to true.
                 */
                else if (type == 'require')
                {
                    let friendlyIndexes = parts[1].split(',');
                    let friendlyIndexesLength = friendlyIndexes.length;
                    let viewIndex;
                    for (let i = 0; i < friendlyIndexesLength; i++)
                    {
                        viewIndex = this.seekViewBasedOnFriendlyIndex(friendlyIndexes[i]);
                        if (parseInt(this.questionnaireAnswers[viewIndex][friendlyIndexes[i]].isRequired) != 1)
                        {
                            this.questionnaireAnswers[viewIndex][friendlyIndexes[i]].isRequired = 1;
                            restart = true;
                        }
                    }
                }
                /**
                 * Remove the requirement of the target index.
                 * For example: input@1:SomeIndex:removerequire@SomeOtherIndex.
                 *
                 * Note that this removes the requirement on that specific question regardless of whether
                 * or not it was a required question when the questionnaire began.
                 */
                else if (type == 'removerequire')
                {
                    let friendlyIndexes = parts[1].split(',');
                    let friendlyIndexesLength = friendlyIndexes.length;
                    let viewIndex;
                    for (let i = 0; i < friendlyIndexesLength; i++)
                    {
                        viewIndex = this.seekViewBasedOnFriendlyIndex(friendlyIndexes[i]);
                        if (parseInt(this.questionnaireAnswers[viewIndex][friendlyIndexes[i]].isRequired) === 1)
                        {
                            this.questionnaireAnswers[viewIndex][friendlyIndexes[i]].isRequired = 0;
                            restart = true;
                        }
                    }
                }
                /**
                 * Remove the requirement on the target index if it was not originally required.
                 * It is essentially the same thing as removerequire except it does not remove the requirement
                 * if the question was required when the questionnaire began.
                 *
                 * When creating questionnaires you do not need to specify this, depending on the situation
                 * removerequire will be converted to removeRequireOriginal based on context.
                 */
                else if (type == 'removerequireOriginal')
                {
                    let friendlyIndexes = parts[1].split(',');
                    let friendlyIndexesLength = friendlyIndexes.length;
                    let viewIndex;
                    for (let i = 0; i < friendlyIndexesLength; i++)
                    {
                        viewIndex = this.seekViewBasedOnFriendlyIndex(friendlyIndexes[i]);
                        if (viewIndex > -1)
                        {
                            if (parseInt(this.questionnaireAnswers[viewIndex][friendlyIndexes[i]].originallyRequired) === 0)
                            {
                                this.questionnaireAnswers[viewIndex][friendlyIndexes[i]].isRequired = 0;
                                if (this.questionnaireAnswers[viewIndex][friendlyIndexes[i]].Answer != null && this.questionnaireAnswers[viewIndex][friendlyIndexes[i]].Answer != '')
                                {
                                    if (parseInt(this.staticQuestionnaireData['saveEachAnswer']) === 1)
                                    {
                                        let updateAnswers = {};
                                        updateAnswers[friendlyIndexes[i]] = null;
                                        this.assignNewAnswers(updateAnswers).then(() => {
                                            this.questionnaireAnswers[viewIndex][friendlyIndexes[i]].Answer = null;
                                        });
                                    }
                                    else
                                    {
                                        this.questionnaireAnswers[viewIndex][friendlyIndexes[i]].Answer = null;
                                    }
                                    restart = true;
                                }
                            }
                        }
                    }
                }
                return restart;
            },
            /**
             * This returns a list of the required questions inside of the current view.
             * A view/page/slide may have more than one question attached to it.
             * @returns {[]}
             */
            getSelectedViewRequired(){
                let list = [];
                $.each(this.questionnaireAnswers[this.currentViewIndex], (friendlyIndex, component) => {
                    if (component.isAnswerable == 1 && component.isRequired == 1)
                        list.push(friendlyIndex);
                });
                return list;
            },
            /**
             * This processes all the commands in a view/page/slide in the questionnaire and puts them into an
             * object.
             *
             * A questionnaire slide is decided by the question's DisplayOrder. So if multiple FriendlyIndexes
             * have the same DisplayOrder, they will be part of the same slide. That means that their commands
             * will also be joined and processed together.
             *
             * Example: You have a slide with 2 friendly indexes. Each with its own set of commands.
             * FriendlyIndex1 - 'input@1:SomeIndex'
             * FriendlyIndex2 - 'nav@next:SomeOtherIndex'
             *
             * This "view" now has the following commands 'input@1:SomeIndex|nav@next:SomeOtherIndex'
             * So this method will now return:
             *
             * {
             *     input: [
             *         '1:SomeIndex',
             *     ],
             *     nav: [
             *         'next:SomeOtherIndex'
             *     ]
             * }
             *
             */
            processCommands() {
                let allCommands         = [];
                let structuredCommands  = {};
                let components          = Object.entries(this.selectedView);

                for (const [friendlyIndex,component] of components)
                {
                    if(component['Commands'])
                    {
                        let multipleCommands = component['Commands'].split('|');
                        let commandsLength = multipleCommands.length;
                        for(let j = 0; j < commandsLength; j++) allCommands.push(multipleCommands[j]);
                    }
                }

                let allCommandsLength = allCommands.length;
                for (let k = 0; k < allCommandsLength; k++)
                {
                    let parts   = allCommands[k].split(/@(.+)/);
                    let type    = parts[0];
                    let command = parts[1];
                    if (!structuredCommands[type]) structuredCommands[type] = [];
                    structuredCommands[type].push(command);
                }

                this.commands = structuredCommands;
            },
            /**
             * This is used to set a custom image to a specific answer for a question.
             * For example, say you used a Radio (radio question) component and it has 4 possible answers.
             *
             * You can assign a specific image to each answer like so: 'img@SomeIndex:SomeAnswer:something.png'
             *
             * Note: that the component you are using must be designed to process the value in this command.
             * The radio component already has this functionality so you can use it as an example.
             *
             * Note: The image used must be inside of /images/questionnaires/ directory.
             */
            processImgCommands() {
                let vueObject = this;
                let imgCommands = vueObject.commands['img'] || [];
                let length = imgCommands.length;
                for (let i = 0; i < length; i++)
                {
                    let parts = imgCommands[i].split(/@(.+)/)[0].split(':');
                    let friendlyIndex   = parts[0];
                    let value           = parts[1];
                    let img             = parts[2];

                    if (vueObject.selectedView[friendlyIndex])
                    {
                        $.each(vueObject.selectedView[friendlyIndex].answerChoices, (i, obj) => {
                            if (obj.value == value) obj.imgURL = getHostURL() + '/images/questionnaires/' + img;
                        });
                    }
                }
            },
            /**
             * This processes navigation commands for the slide.
             * Navigation commands are the following:
             *
             * 1. nav@next
             * 2. nav@prev
             * 3. nav@autoadvance
             * 4. nav@hide
             *
             * The first two require an index to be specified.
             * Note: the first two will also be ignored if strict mode is true. This is because in strict mode we
             * don't want to allow the user to jump around.
             *
             * nav@autoadvance is used to determine that the 'next' button should be automatically be triggered
             * when a user selects an answer. This only works for questions like radio, select. It doesn't make
             * sense with questions that require text input or have follow up parts.
             *
             * nav@hide is used to hide the navigation.
             */
            processNavCommands() {
                this.processCommands();
                let NavCommands = {
                    next: '',
                    prev: '',
                    autoadvance: false,
                };

                let navCommands = this.commands['nav'] || [];
                let length = navCommands.length;
                console.log({
                    navCommands: navCommands,
                });
                for (let i = 0; i < length; i++)
                {
                    let parts = navCommands[i].split(':');
                    let navType = parts[0];
                    let navToFriendlyIndex = parts[1];
                    if (NavCommands.hasOwnProperty(navType))
                    {
                        NavCommands[navType] = navToFriendlyIndex;
                    }
                    if (navType == 'autoadvance')
                    {
                        NavCommands.autoadvance = true;
                    }
                    if (navType == 'hide' && navToFriendlyIndex == 'nav')
                    {
                        this.showNavigation = false;
                    }
                }
                if (this.currentComponentAutoAdvance)
                {
                    NavCommands.autoadvance = true;
                }
                console.log({
                    NavCommands1: JSON.parse(JSON.stringify(NavCommands)),
                });
                if (!NavCommands.next || !NavCommands.prev)
                {
                    let allViews            = this.questionnaireViews;
                    let firstComponent      = Object.values(this.selectedView)[0];
                    let displayOrder        = parseInt(firstComponent.DisplayOrder);
                    let nextDisplayOrder    = displayOrder + 1;
                    let prevDisplayOrder    = displayOrder - 1;

                    if (!NavCommands.next)
                    {
                        let pendingFriendlyIndex = this.seekRequired();
                        console.log({
                            pendingFriendlyIndex: pendingFriendlyIndex,
                        });
                        if (pendingFriendlyIndex)
                        {
                            NavCommands.next = pendingFriendlyIndex;
                        }
                        else if (allViews[nextDisplayOrder] && !this.staticQuestionnaireData.isStrict)
                        {
                            let nextView = allViews[nextDisplayOrder];
                            NavCommands.next = Object.keys(nextView)[0];
                        }
                    }
                    if (!NavCommands.prev)
                    {
                        if (allViews[prevDisplayOrder])
                        {
                            let prevView = allViews[prevDisplayOrder];
                            NavCommands.prev = Object.keys(prevView)[0];
                        }
                    }
                }
                console.log({
                    NavCommands2: JSON.parse(JSON.stringify(NavCommands)),
                });
                this.commands['nav'] = NavCommands;
            },
            saveAllCommands() {
                let commands = {};
                $.each(this.questionnaireQuestions, (i,obj) => {
                    if (obj.Commands)
                    {
                        let multipleCommands = obj.Commands.split('|');
                        let multipleCommandsLength = multipleCommands.length;
                        for (let i = 0; i < multipleCommandsLength; i++)
                        {
                            let parts   = multipleCommands[i].split(/@(.+)/);
                            let type    = parts[0];
                            let command = parts[1];
                            if (!commands[type]) commands[type] = [];
                            commands[type].push(command);
                        }
                    }
                });
                this.allCommands = commands;
            },
            /**
             * Look for a specific view/slide/page based on its FriendlyIndex and
             * return the slide index where it is located.
             *
             * A view/slide/page can contain numerous FriendlyIndexes.
             * @param index
             * @returns {number}
             */
            seekViewBasedOnFriendlyIndex(index) {
                let foundIndex = -1;
                let allViews = this.questionnaireViews;
                for(let i in allViews)
                {
                    if (!allViews.hasOwnProperty(i)) continue;
                    if(allViews[i][index])
                    {
                        foundIndex = i;
                    }
                }

                return foundIndex;
            },
            /**
             * This is used as a base for executing commands once the component loads.
             * In this example a placeholder is added. This method really isn't used much at the moment.
             */
            executeComponentLoadCommands() {
                let vueObject = this;
                $(document).ready(
                    function ()
                    {
                        let placeHolderCommands = vueObject.commands['placeholder'] || [];
                        if (placeHolderCommands)
                        {
                            let length = placeHolderCommands.length;
                            for (let i = 0; i < length; i++)
                            {
                                let parts           = placeHolderCommands[i].split(':');
                                let placeHolder     = parts[0];
                                let friendlyIndex   = parts[1];
                                let elements        = document.getElementsByName(friendlyIndex);
                                elements.forEach(function(el, index, nodeList){
                                    el.placeholder = placeHolder;
                                });
                            }
                        }
                    }
                );
            },
            /**
             * Fetch the questionnaire's questions and answers from the database using AJAX.
             */
            getQuestionnaireQuestionsAndAnswers() {
                let transactionID = this.tID;
                let questionnaireLinkID = this.questionnaireLinkID;
                let questionnaireID = this.questionnaireID;
                let FetchQuestionnaireDataRoute = correctVuexRouteURL(this.$store.getters.routeName('questionnaire.questions.answers'));
                if (!FetchQuestionnaireDataRoute) genericError('Unable to fetch questionnaire data. Error code: fqd-001');
                axios.post(FetchQuestionnaireDataRoute, {
                    questionnaireLinkID: questionnaireLinkID,
                    questionnaireID: questionnaireID,
                    transactionID: transactionID,
                }).then((r) => {
                    console.log({
                        getQuestionnaireDataResponse: r,
                    });
                    let status = r.data.status;
                    if (status == 'success')
                    {
                        this.allData                    = r.data.data;
                        this.allQuestionnaireData       = r.data.questionnaire;
                        this.staticQuestionnaireData    = r.data.questionnaire.lu_questionnaire;
                        this.questionnaireQuestions     = r.data.questionnaire.questions;
                        this.questionnaireViews         = r.data.questionnaire.views;
                        this.answersByDisplayOrder();
                        this.checkCompletionStatus();
                        this.setNavigationSteps();
                        this.setLastViewIndex();
                        this.saveAllCommands();
                        this.initiateQuestionnaire();
                    }
                    else if (status == 'fail') genericError(r.data.message);
                    else genericError();
                }).catch((err) => {
                    console.log({
                        getQuestionnaireDataError: err,
                    });
                });
            },
            /**
             * Check whether or not this questionnaire is completed based on its DateCompleted value.
             * If it is completed, redirect the user to the review page.
             */
            checkCompletionStatus() {
                if (this.allQuestionnaireData.DateCompleted)
                {
                    let reviewQuestionnaireRoute = correctVuexRouteURL(this.$store.getters.routeName('review.questionnaire'));
                    if (!reviewQuestionnaireRoute)
                    {
                        genericError('Failed to find route to review questionnaire. Error code: rqr-001');
                    }
                    else
                    {
                        reviewQuestionnaireRoute    = reviewQuestionnaireRoute.replace(':transactionID', this.tID);
                        reviewQuestionnaireRoute    = reviewQuestionnaireRoute.replace(':lk_ID', this.allQuestionnaireData.ID);
                        reviewQuestionnaireRoute    = reviewQuestionnaireRoute.replace(':returnJSON?','');
                        reviewQuestionnaireRoute    = reviewQuestionnaireRoute.replace(':returnHTML?','');
                        reviewQuestionnaireRoute    = reviewQuestionnaireRoute.replace(':sign?','');
                        window.location.href        = reviewQuestionnaireRoute;
                    }
                }
            },
            /**
             * Setup the navigation steps for the Questionnaire. This is a display up at the top of the page
             * that shows the user what section they are in. They can also use this to shift between sections
             * if strict mode is not activated.
             */
            setNavigationSteps() {
                this.showNavigationSteps = this.staticQuestionnaireData.useNavigationSteps;
                if (this.showNavigationSteps)
                {
                    let navigationSteps = {};
                    $.each(this.questionnaireViews, (index, view) => {
                        $.each(view, (friendlyIndex, component) => {
                            /**
                             * Since indexes are based on display order we want to get the smallest one
                             */
                            let section = component['Section'];
                            if (section)
                            {
                                if (navigationSteps[section])
                                {
                                    if (index < navigationSteps[section])
                                        navigationSteps[section] = index;
                                }
                                else navigationSteps[section] = index;
                            }
                        });
                    });
                    this.navigationSteps = navigationSteps;
                }
            },
            /**
             * Determine what the index is for the last view/page/slide.
             */
            setLastViewIndex() {
                let largestIndex = this.lastViewIndex;
                for(let i in this.questionnaireViews)
                    if (i > largestIndex) this.lastViewIndex = i;
            },
            /**
             * Sets up the object QuestionnaireAnswers which is widely used throughout the
             * logic of the Questionnaire System. The object is setup based on DisplayOrder.
             * In the end, QuestionnaireAnswers object will looks something like this:
             *
             * {
             *     0: null,
             *     1: {
             *         SomeIndex: {...},
             *         SomeOtherIndex: {...},
             *     },
             *     2: {
             *         AnotherIndex: {...},
             *         YetAnotherIndex: {...},
             *     }
             * }
             */
            answersByDisplayOrder() {
                for (let key in this.questionnaireQuestions)
                {
                    if(!this.questionnaireQuestions.hasOwnProperty(key))
                    {
                        continue;
                    }
                    let displayOrder = parseInt(this.questionnaireQuestions[key]['DisplayOrder']);
                    let friendlyIndex = this.questionnaireQuestions[key]['FriendlyIndex'];
                    let answer = this.questionnaireQuestions[key]['answer'];
                    if (answer.length > 0)
                    {
                        answer[0].isRequired            = this.questionnaireQuestions[key]['isRequired'];
                        answer[0].originallyRequired    = this.questionnaireQuestions[key]['isRequired'];
                        answer[0].isAnswerable          = this.questionnaireQuestions[key]['isAnswerable'];
                        if (!this.questionnaireAnswers[displayOrder])
                        {
                            this.questionnaireAnswers[displayOrder] = {};
                        }
                        this.questionnaireAnswers[displayOrder][friendlyIndex] = answer[0];
                    }
                }

                this.answersByFriendlyIndex();
            },
            /**
             * Sets up the allAnswersByFriendlyIndex object. It is useful to quickly determine what the
             * answer is for a given question.
             * Example:
             *
             * {
             *     SomeIndex: 'BlaBlaBla',
             *     AnotherIndex: 'Answer',
             *     YetAnotherIndex: 'AnotherAnswer',
             * }
             *
             * This object also gets passed through to each component so you have access to the answers
             * of other questions in any given slide.
             */
            answersByFriendlyIndex() {
                let vueObject = this;
                $.each(vueObject.questionnaireAnswers, (viewIndex, components) => {
                    $.each(components, (friendlyIndex, component) => {
                        vueObject.allAnswersByFriendlyIndex[friendlyIndex] = component.Answer;
                    });
                });
            },
            /**
             * Start the questionnaire. Right off the bat we want to proceed to the any question that has not
             * already been answered and skip the ones that have.
             *
             * This is especially important for long disclosure based questionnaires.
             */
            initiateQuestionnaire() {
                let pendingViewIndex = this.seekPendingView();
                if(pendingViewIndex != -1) this.switchViews(pendingViewIndex);
                else
                {
                    /**
                     * This happens if there are no questions left to answer
                     * in the questionnaire.
                     */
                    this.finishQuestionnaire    = true;
                    this.warnOnLeaveIntent      = false;
                    this.switchViews(this.lastViewIndex);
                    console.log({pendingViewIndex: pendingViewIndex});
                }
            },
            /**
             * Looks for any un-answered questions and returns the index of the view that
             * contains the unanswered question.
             *
             * There are two separate logical instances where this becomes useful:
             *
             * 1. A view is answerable (some answer is expected) and required, but it is not answered yet.
             * 2. A view is NOT answerable (no answer is expected) and required, but it is not viewed yet.
             */
            seekPendingView() {
                let index = -1;
                let seek = true;
                $.each(this.questionnaireAnswers, function (viewIndex,components) {
                    $.each(components, function(friendlyIndex,questionData){
                        if((questionData.Answer === null || questionData.Answer === '')
                            && parseInt(questionData.isRequired) === 1 && parseInt(questionData.isAnswerable) === 1)
                        {
                            index = viewIndex;
                            seek = false;
                            return false;
                        }
                        else if(parseInt(questionData.isRequired) === 1 &&
                            parseInt(questionData.isAnswerable) === 0 && (parseInt(questionData.isViewed) === 0 || questionData.isViewed === ''))
                        {
                            index = viewIndex;
                            seek = false;
                            return false;
                        }
                    });
                    return seek;
                });
                return parseInt(index);
            },
            /**
             * This is how the system saves an answer in the questionnaire. It is saved to questionnaireAnswers
             * object and also to the database if applicable.
             */
            async assignNewAnswers(newAnswers) {
                let updateAnswers       = {};
                let vueObject           = this;
                let allAnswersLength    = this.questionnaireAnswers.length;
                $.each(newAnswers, (friendlyIndex, value) => {
                    for (let i = 0; i < allAnswersLength; i++)
                    {
                        $.each(this.questionnaireAnswers[i], (findex, component) => {
                            if (friendlyIndex == findex)
                            {
                                if (this.questionnaireAnswers[i][findex].Answer !== value)
                                {
                                    this.questionnaireAnswers[i][findex].Answer = value;
                                    updateAnswers[this.questionnaireAnswers[i][findex].ID] = {};
                                    updateAnswers[this.questionnaireAnswers[i][findex].ID].Answer = value;
                                }
                            }
                        });
                    }
                });

                let viewedFriendlyIndexListLength = this.viewedFriendlyIndexList.length;
                for (let i = 0; i < viewedFriendlyIndexListLength; i++)
                {
                    if (updateAnswers[this.viewedFriendlyIndexList[i]])
                    {
                        updateAnswers[this.viewedFriendlyIndexList[i]].isViewed = 1;
                    }
                    else {
                        updateAnswers[this.viewedFriendlyIndexList[i]] = {};
                        updateAnswers[this.viewedFriendlyIndexList[i]].isViewed = 1;
                    }
                }
                this.$root.$emit('checkProgress');
                if (parseInt(vueObject.staticQuestionnaireData['saveEachAnswer']) === 1)
                {
                    return await vueObject.updateAnswerToDB(updateAnswers);
                }
                else
                {
                    return {
                        data: {
                            status: 'success',
                        }
                    }
                }
            },
            /**
             * If applicable, save the answer for the given question to the database.
             *
             * Note: this is not applicable in all instances, for example it is not applicable in
             * questionnaires like the transaction creation questionnaire where all answers are temporary until
             * the user decides they want to open the transaction.
             */
            async updateAnswerToDB(updateAnswers) {
                let vueObject = this;
                let updateAnswerRoute = correctVuexRouteURL(vueObject.$store.getters.routeName('update.questionnaireAnswer'));
                if (!updateAnswerRoute) genericError('Could not update answer because of missing route. Error code: u-a-rou-001');
                else
                {
                    return await axios.post(updateAnswerRoute,{
                        updateAnswers: updateAnswers,
                    });
                }
            },
            /**
             *
             * @param answer
             *      This is the answer the user provided
             *      in the questionnaire.
             * @param conditionalAnswer
             *      This is the answer that is in the input command that needs to be checked.
             *      For example if the conditional command is something like this:
             *      input@{{>=}}2:NumberBaths:nav@next:Bath2 -- this means, if the user inputs a value of
             *      2 or more in the question whose friendlyIndex is 'NumberBaths' then, make the 'next' button
             *      go to Bath2 friendly index.
             * @returns {boolean}
             */
            checkOperators(answer, conditionalAnswer){
                let processInputCommand = false;
                let matchInCurlies      = /{{2}(.*?)}{2}/;
                let regex               = new RegExp(matchInCurlies);
                let operation           = conditionalAnswer.match(regex);
                operation               = operation || [];
                if (operation.length > 0)
                {
                    operation = operation[1];
                    conditionalAnswer = conditionalAnswer.replace(regex, '');
                    switch (operation) {
                        case '<=':
                            if (Number(answer) >= Number(conditionalAnswer))
                                processInputCommand = true;
                            break;
                        case '<':
                            if (Number(answer) >= Number(conditionalAnswer))
                                processInputCommand = true;
                            break;
                        case '>=':
                            if (Number(answer) >= Number(conditionalAnswer))
                                processInputCommand = true;
                            break;
                        case '>':
                            if (Number(answer) >= Number(conditionalAnswer))
                                processInputCommand = true;
                            break;
                        case '=':
                            if (Number(answer) == Number(conditionalAnswer))
                                processInputCommand = true;
                            break;
                        default:
                            processInputCommand = false;
                    }
                }
                else if (answer == conditionalAnswer) processInputCommand = true;
                return processInputCommand;
            },
            /**
             * Check the kind of input commands that affect whether a specific question is required or not.
             * @param callback
             */
            checkInputCommandsThatAffectRequired(callback) {
                let vueObject = this;
                let restart = false;
                /**
                 * If the answer is not the same, we need to use the removeRequireOriginal command
                 * but we can only remove the required if it was not originally required.
                 *
                 * This is different from the removerequire command which removes the requirement regardless
                 * of whether or not it was originally required.
                 *
                 * This converts the command you pass through to a "removeRequireOriginal" to be
                 * processed in processInputCommand() function on the condition that it is not
                 * included in any of the inputCommands. The reason we need to verify this is because
                 * of conflicting requirements when creating a questionnaire. If two separate "requires"
                 * are affecting the same friendly indexes, we need to ensure that the removeRequireOriginal
                 * is not applied to indexes that should be processed by processInputCommand().
                 */
                function convertCommandToRemoveRequireOriginal(c, inputCommands)
                {
                    let command = c.split('@');
                    let throwAwayIndexesArr = command[1].split(',');
                    let length = inputCommands.length;
                    let tlength = throwAwayIndexesArr.length;
                    let throwAwayIndexesToSplice = [];
                    /**
                     * Loop through all of the inputCommands and remove any indexes from
                     * throwAway that are inside of inputCommands.
                     */
                    for (let i = 0; i < length; i++)
                    {
                        let ic = inputCommands[i].split('@');
                        let processIndexesArr = ic[1].split(',');
                        for (let j = 0; j < tlength; j++)
                        {
                            if (processIndexesArr.includes(throwAwayIndexesArr[j]))
                            {
                                throwAwayIndexesToSplice.push(j);
                            }
                        }
                    }

                    let newThrowAwayArr = throwAwayIndexesArr.filter((t,i) => {
                        return !throwAwayIndexesToSplice.includes(i);
                    });

                    if (newThrowAwayArr.length > 0)
                    {
                        let friendlyIndexes = newThrowAwayArr.join(',');
                        let replacedCommand = 'removerequireOriginal@' + friendlyIndexes;
                        restart = vueObject.processInputCommand(replacedCommand, vueObject.commands);
                    }
                }

                let allInputCommands            = this.allCommands['input'] || [];
                let allInputContainsCommands    = this.allCommands['inputcontains'] || [];
                let length                      = allInputCommands.length;
                const commandTypesToCheck       = ['require',];
                /**
                 * Instantiating arrays that will hold whether a command will
                 * be thrown away or processed.
                 */
                let inputCommandsToProcess      = [];
                let throwAwayCommands           = [];
                for (let i = 0; i < length; i++)
                {
                    let parts           = splitWithTail(allInputCommands[i],':',2);
                    let answer          = parts[0];
                    let friendlyIndex   = parts[1];
                    let newCommand      = parts[2];
                    let commandType     = newCommand.split('@')[0];
                    if (commandTypesToCheck.includes(commandType))
                    {
                        let index = this.seekViewBasedOnFriendlyIndex(friendlyIndex);
                        if (index > -1) {
                            let questionObject = this.questionnaireAnswers[index][friendlyIndex];
                            if (questionObject)
                            {
                                let processInputCommand = false;
                                processInputCommand     = this.checkOperators(questionObject.Answer, answer);

                                if (processInputCommand) inputCommandsToProcess.push(newCommand);
                                else if (commandType != 'nav') throwAwayCommands.push(newCommand);
                            }
                        }
                    }
                }

                /**
                 * This loop is for the inputcontains command, which is used on array type answers
                 */
                length = allInputContainsCommands.length;
                for (let j = 0; j < length; j++)
                {
                    let parts           = splitWithTail(allInputContainsCommands[j],':',2);
                    let answer          = parts[0];
                    let friendlyIndex   = parts[1];
                    let newCommand      = parts[2];
                    let commandType     = newCommand.split('@')[0];
                    if (commandTypesToCheck.includes(commandType))
                    {
                        let index = this.seekViewBasedOnFriendlyIndex(friendlyIndex);
                        if (index > -1) {
                            let questionObject = this.questionnaireAnswers[index][friendlyIndex];
                            if (questionObject) {
                                if (questionObject['Answer']) {
                                    let items = questionObject['Answer'].split(',');
                                    if (items.includes(answer))
                                    {
                                        inputCommandsToProcess.push(newCommand);
                                    }
                                    else
                                    {
                                        throwAwayCommands.push(newCommand);
                                    }
                                }
                                else
                                {
                                    throwAwayCommands.push(newCommand);
                                }
                            }
                        }
                    }
                }
                length = throwAwayCommands.length;
                for (let i = 0; i < length; i++) convertCommandToRemoveRequireOriginal(throwAwayCommands[i], inputCommandsToProcess);
                if (restart) this.checkInputCommandsThatAffectRequired(callback);
                else
                {
                    length = inputCommandsToProcess.length;
                    for (let i = 0; i < length; i++)
                    {
                        restart = this.processInputCommand(inputCommandsToProcess[i], this.commands);
                        if (restart) break;
                    }
                    if (restart) this.checkInputCommandsThatAffectRequired(callback);
                    else
                    {
                        this.processNavCommands();
                        callback();
                    }
                }
            },
            /**
             * Get the current component. For example "Radio".
             */
            getCurrentComponent(){
                let currentComponent = '';
                $.each(this.selectedView, (friendlyIndex, component) => {
                    currentComponent = component['Component'];
                    return false;
                });
                return currentComponent;
            },
            /**
             * This is how we will bind the props to the component we set dynamically. We should have a standard
             * of props we will use across all questionnaire components. This is also the function where we specify a
             * specific view has been viewed.
             */
            bindAttributes(question) {
                let vueObject = this;
                let dataCommands = vueObject.processDataCommands();
                vueObject.processImgCommands();
                vueObject.answersByFriendlyIndex();
                let bindingObject = {
                    title: question.Question,
                    /**
                     * For radio type questions. 'answerChoices' is a list of choices
                     * that the user can select.
                     */
                    answerChoices: question.answerChoices,
                    /**
                     * The specific commands for this slide.
                     */
                    commands: vueObject.commands,
                    /**
                     * 'friendlyIndex' of the slide. This is useful only when the slide contains one
                     * question and in the case that standard components are being used.
                     */
                    friendlyIndex: question.FriendlyIndex,
                    /**
                     * These are the current answers for this specific slide.
                     * 'currentAnswers' does not contain answers from other questions,
                     * use 'allAnswersByFriendlyIndex' for that.
                     */
                    currentAnswers: vueObject.questionnaireAnswers[parseInt(question.DisplayOrder)],
                    allAnswersByFriendlyIndex: vueObject.allAnswersByFriendlyIndex,
                    questionnaireTitle: vueObject.staticQuestionnaireData.Description,
                    token: vueObject.token,
                    transactionID: vueObject.tID,
                    allData: vueObject.allData,
                    /**
                     * The country state.
                     */
                    state: vueObject.state,
                    additionalData: this.AdditionalData,
                };
                bindingObject = {...dataCommands,...bindingObject};
                $.each(vueObject.questionnaireAnswers[parseInt(question.DisplayOrder)], (friendlyIndex, component) => {
                    if (parseInt(component.isViewed) === 0 || component.isViewed === '')
                    {
                        component.isViewed = 1;
                        vueObject.viewedFriendlyIndexList.push(component.ID);
                    }
                });
                this.getCurrentComponent();
                return bindingObject;
            },
            /**
             * If applicable, process the auto advance feature. This emits a message to the Vue root
             * instance, inside of the Navigation.vue component a listener is setup to listen to this and
             * trigger a 'next' button push.
             */
            processAutoAdvance(){
                let v = this;
                setTimeout(() => {
                    if (v.commands.nav.autoadvance == true)
                        v.$root.$emit('next');
                }, 250);
            },
            /**
             * Determine whether the next view/slide/page is already viewed.
             * Note: this does not check whether the questions in the next view have been answered.
             */
            isNextViewViewed(index) {
                let isViewed = true;
                $.each(this.questionnaireAnswers[index], (friendlyIndex, component) => {
                    if (parseInt(component.isViewed) === 0)
                    {
                        isViewed = false;
                        return false;
                    }
                });
                return isViewed;
            },
            /**
             * Process data commands. This is used if the creator of the questionnaire wants to pass in
             * any additional data to the component. So far only 'scalar' types are supported.
             *
             * You can see an example of the usefulness of this feature in the AgentInformation component.
             * In AgentInformation.vue example: prefix = 'Buyer' or 'Seller' and is used to determine whether the
             * component is being used to enter information for the Buyer's Agent or for the Seller's Agent.
             */
            processDataCommands() {
                if (this.commands['data'])
                {
                    let unprocessedDataCommands = this.commands['data'];
                    let DataCommands = {};
                    let dataCommandsLength = unprocessedDataCommands.length;
                    for (let i = 0; i < dataCommandsLength; i++)
                    {
                        let parts = unprocessedDataCommands[i].split(':');
                        if(parts.length == 3)
                        {
                            let key     = parts[0];
                            let value   = parts[1];
                            let type    = parts[2];

                            if (type == 'scalar') DataCommands[key] = value;
                        }
                    }
                    return DataCommands;
                }
            },
            /**
             * Used to address an anomaly where navigation may
             * attempt to point back to the same view.
             *
             * @return boolean
             */
            indexLeadsToSameView(index) {
                let selectedViewKeys    = Object.keys(this.selectedView);
                let allViewsIndexKeys   = Object.keys(this.questionnaireViews[index]);
                return compareArrays(selectedViewKeys,allViewsIndexKeys);
            },
            /**
             * Determine whether the next view has been answered.
             * Since a specific view may have many required questions, if any of them fail this returns false.
             *
             * If the view questions are not required then it returns true.
             */
            nextViewHasBeenAnswered(index) {
                if (index == -1) return false;
                let isAnswered = true;
                $.each(this.questionnaireAnswers[index], (friendlyIndex, answer) => {
                    if (parseInt(answer.isRequired) === 1 && (answer.Answer === null || answer.Answer === ''))
                    {
                        isAnswered = false;
                    }
                });
                return isAnswered;
            },
            /**
             * Attempts to end the questionnaire.
             * There are three paths this can take:
             *
             * 1. The questionnaire is not actually over, there is a question pending somewhere so it takes
             * the user there.
             *
             * 2. There is a route attached to this particular questionnaire and it sends the data to that route.
             * It does this via AJAX so the redirection happens here once a response a received. The route was
             * incorrectly called SaveMethodName (should've been SaveRouteName or RouteName) but you get the idea.
             *
             * 3. This is questionnaire linked to database entries and once it is done saving it redirects the
             * user to a review page of the questionnaire. This path is used for disclosure/document based
             * questionnaires.
             */
            endQuestionnaire() {
                let checkPendingIndex = this.seekPendingView();
                if(checkPendingIndex > -1)
                {
                    this.switchViews(checkPendingIndex);
                    this.finishQuestionnaire = false;
                }
                else
                {
                    let vueObject = this;
                    if (this.staticQuestionnaireData.SaveMethodName)
                    {
                        genericLoading('Saving data, please wait.');
                        axios.post(route(this.staticQuestionnaireData.SaveMethodName).url(), {
                            answers: vueObject.questionnaireAnswers,
                            additionalData: {
                                Transactions_ID: vueObject.tID || 0,
                                State: vueObject.state || 'CA',
                            }
                        }).then((r) => {
                            console.log({
                                questionnaireContainer__SaveMethodNameResponse: r,
                            });
                            let url = r.data.url || null;
                            let message = r.data.message || null;
                            let status = r.data.status;
                            if (status == 'success') {
                                this.$store.dispatch('setTransaction', r.data.transactionID);
                                let userData = this.$store.getters.getUserData();
                                let transactionListData = [
                                    userData.userRole,
                                    [],
                                    userData.userID,
                                ];
                                let params = {
                                    data: transactionListData,
                                    showLoading: false,
                                    url: url || 0,
                                };
                                if (url && message)
                                {
                                    let showLoading = r.data.showLoading || false;
                                    genericSuccess(message,0, showLoading);
                                    vueObject.$store.dispatch('getAllTransactions', params);
                                    vueObject.$store.dispatch('__redirect', {
                                        url: params.url,
                                        waitFor: [
                                            'getAllTransactions',
                                            'fetchLookupTables',
                                        ]
                                    });
                                }
                                else if (url)
                                {
                                    vueObject.$store.dispatch('getAllTransactions', params);
                                    vueObject.$store.dispatch('__redirect', {
                                        url: params.url,
                                        waitFor: [
                                            'getAllTransactions',
                                            'fetchLookupTables',
                                        ]
                                    });
                                }
                                else if (status == 'fail')
                                    genericError(message || 'An unknown error has occurred.');
                                else genericError();
                            }
                        }).catch((err) => {
                            console.log({
                                questionnaireContainer__SaveMethodNameError: err,
                            });
                            genericError(err);
                        });
                    }
                    else
                    {
                        let questionnaireCompletionRoute = correctVuexRouteURL(vueObject.$store.getters.routeName('questionnaire.completionStatus'));
                        if (!questionnaireCompletionRoute) genericError('Failed to questionnaire completion status route. Error code: auq-002');
                        else
                        {
                            axios.post(questionnaireCompletionRoute, {
                                isComplete: 1,
                                questionnaireLinkID: vueObject.allQuestionnaireData.ID
                            }).then((r) => {
                                console.log({
                                    questionnaireCompletionStatusResponse: r,
                                });
                                let reviewQuestionnaireRoute = correctVuexRouteURL(vueObject.$store.getters.routeName('review.questionnaire'));
                                if (!reviewQuestionnaireRoute)
                                {
                                    genericError('Failed to find route to review questionnaire. Error code: rqr-001');
                                }
                                else
                                {
                                    reviewQuestionnaireRoute    = reviewQuestionnaireRoute.replace(':transactionID', vueObject.tID);
                                    reviewQuestionnaireRoute    = reviewQuestionnaireRoute.replace(':lk_ID', vueObject.allQuestionnaireData.ID);
                                    reviewQuestionnaireRoute    = reviewQuestionnaireRoute.replace(':returnJSON?','');
                                    reviewQuestionnaireRoute    = reviewQuestionnaireRoute.replace(':returnHTML?','');
                                    reviewQuestionnaireRoute    = reviewQuestionnaireRoute.replace(':sign?','');
                                    window.location.href        = reviewQuestionnaireRoute;
                                }
                            }).catch((err) => {
                                console.log({
                                    questionnaireCompletionStatusError: err,
                                });
                            });
                        }
                    }
                }
            },
            /**
             * Minor function used to change data inside of this component dynamically.
             */
            changeContainerData(object) {
                let v = this;
                $.each(object, (prop, val) => {
                    v[prop] = val;
                });
            },
            /**
             * Check whether the view is required. It is considered required if
             * any of the indexes inside of the view are required.
             *
             * It is not required by default.
             */
            isViewRequired(viewIndex){
                let isRequired = false;
                let view = this.questionnaireAnswers[viewIndex];
                $.each(view, (friendlyIndex, data) => {
                    if (parseInt(data.isRequired) === 1) isRequired = true;
                });
                return isRequired;
            },
            /**
             * Searches all views and returns the friendly index of a view
             * that contains a question that is required and not answered
             * OR required and not viewed
             */
            seekRequired(){
                let views = this.questionnaireAnswers;
                let length = views.length;
                let breakOut = false;
                let returnVal = null;

                for (let i = 0; i < length; i++)
                {
                    $.each(views[i], (friendlyIndex, data) => {
                        if (this.selectedView.hasOwnProperty(friendlyIndex)) return;
                        if (
                            (parseInt(data.isRequired) === 1 && parseInt(data.isAnswerable) === 1) &&
                            (data.Answer === null || data.Answer === '')
                        )
                        {
                            breakOut = true;
                            returnVal = friendlyIndex;
                            return false;
                        }
                        if (
                            (parseInt(data.isRequired) === 1 && parseInt(data.isAnswerable) === 0) &&
                            (parseInt(data.isViewed) === 0 || data.isViewed === '')
                        )
                        {
                            breakOut = true;
                            returnVal = friendlyIndex;
                            return false;
                        }
                    });
                    if (breakOut) break;
                }
                return returnVal;
            },
            /**
             * Execute navigation. This method is called from a listener in the mounted section. It listens
             * to the Navigation.vue component which detects whether the user attempts to navigate.
             */
            executeNavigation(direction = 'next') {
                let v = this;
                let nextFriendlyIndex = this.commands['nav'][direction];
                let pendingView = this.seekPendingView();
                let newViewIndex = this.seekViewBasedOnFriendlyIndex(nextFriendlyIndex);

                function getValidPreviousView(newViewIndex)
                {
                    const skipAmt = 1;
                    let proposedViewIndex = newViewIndex - skipAmt;
                    let isRequired = v.isViewRequired(newViewIndex);
                    if (!isRequired)
                    {
                        let skipped = getValidPreviousView(proposedViewIndex);
                        return skipped > -1 ? skipped : 0;
                    }
                    return newViewIndex;
                }

                if (direction == 'next')
                {
                    /*
                    if (newViewIndex > -1 && pendingView > -1 && this.nextViewHasBeenAnswered(newViewIndex))
                    {
                        this.switchViews(pendingView);
                    }
                    */

                    // if (newViewIndex > -1 && !this.isNextViewViewed(newViewIndex))// && !this.reroutedToPendingView)
                    // {
                    //     this.switchViews(newViewIndex);
                    // }
                    // else if (newViewIndex > -1 && pendingView > -1 && !this.indexLeadsToSameView(newViewIndex)) //&& !this.reroutedToPendingView)
                    // {
                    //     this.switchViews(newViewIndex);
                    // }
                    // else if (newViewIndex > -1 && pendingView > -1 && this.indexLeadsToSameView(newViewIndex))
                    // {
                    //     this.reroutedToPendingView = true;
                    //     this.switchViews(pendingView);
                    // }
                    // else if (pendingView > -1)
                    // {
                    //     this.reroutedToPendingView = true;
                    //     this.switchViews(pendingView);
                    // }
                    if (newViewIndex > -1)
                    {
                        this.switchViews(newViewIndex);
                    }
                    else if (pendingView > -1)
                    {
                        this.switchViews(pendingView);
                    }
                    else if (newViewIndex == -1 && pendingView == -1)
                    {
                        this.finishQuestionnaire = true;
                    }
                }
                else if (direction == 'prev')
                {
                    if (newViewIndex > -1)
                    {
                        this.switchViews(getValidPreviousView(newViewIndex));
                    }
                }
            },
        },
        mounted()
        {
            let vueObject = this;
            this.AdditionalData = JSON.parse(this.additionalData);
            window.addEventListener('resize', function () {
                vueObject.windowWidth = window.innerWidth;
                vueObject.setNavigationSteps();
            });
            vueObject.getQuestionnaireQuestionsAndAnswers();
            /**
             * Executes navigation either forwards or backwards.
             */
            vueObject.$root.$on('executeNavigation', data => {
                if (data.direction == 'next')
                {
                    vueObject.assignNewAnswers(data.answers).then((r) => {
                        let status = r.data.status;
                        if (status == 'success')
                        {
                            let callback = function (){
                                vueObject.executeNavigation(data.direction, data.commands);
                            };
                            vueObject.checkInputCommandsThatAffectRequired(callback);
                        }
                        else if (status == 'fail')
                        {
                            if (r.data.message) genericError(r.data.message);
                            else genericError();
                        }
                    });
                }
                else if (data.direction == 'prev')
                {
                    /**
                     * Need to clear out any previous errors, we also clear them out inside of prevClicked()
                     * in Navigation.
                     */
                    this.errors = [];
                    vueObject.executeNavigation(data.direction, data.commands);
                }
            });
            /**
             * Similar to 'goToFriendlyIndex' emit, but in this one you pass in the slide index
             * not a friendly index name.
             */
            vueObject.$root.$on('switchViews', index => {
                this.switchViews(index);
            });
            /**
             * This is useful if you want to jump to a question/slide from another component.
             */
            vueObject.$on('goToFriendlyIndex', friendlyIndex => {
                let index = vueObject.seekViewBasedOnFriendlyIndex(friendlyIndex);
                if (index > -1) vueObject.switchViews(index);
            });
            /**
             * This is emitted from Navigation.vue, but it can come from anywhere since it is being emitted
             * to the root instance.
             */
            vueObject.$root.$on('finishQuestionnaire', data => {
                vueObject.assignNewAnswers(data.answers).then((r) => {
                    let status = r.data.status;
                    if (status == 'success')
                    {
                        let callback = function (){
                            vueObject.endQuestionnaire();
                        };
                        vueObject.checkInputCommandsThatAffectRequired(callback);
                    }
                    else if (status == 'fail')
                    {
                        if (r.data.message) genericError(r.data.message);
                        else genericError();
                    }

                });
            });
            /**
             * As the name suggests, change container data from another component.
             * Typically, in this situation you will want to change the data from a child component.
             */
            vueObject.$on('changeContainerData', data => {
                if (vueObject.$refs.QuestionnaireQuestionComponent)
                {
                    vueObject.changeContainerData(data);
                }
            });
            /**
             * This receiver is to toggle a browser warning when the page is trying to redirect and
             * the user is inside of a questionnaire. This is useful for questionnaires where all data is
             * temporary and not stored in a DB, and therefore it warns the user that he/she may lose all
             * their data if they leave.
             */
            vueObject.$on('toggleWarnOnPageLeave', () => {
                this.warnOnLeaveIntent = !this.warnOnLeaveIntent;
            });
            /**
             * This emit receiver is used to update data in a different slide.
             * For example say a questionnaire has 4 slides. On question three there is a
             * question that should update the answer on slide one. This is what
             * this is used for. There is no command to call this via standard components
             * so for now it can only be used in custom components.
             */
            vueObject.$root.$on('questionnaireSaveAnswer', data => {
                vueObject.assignNewAnswers(data);
            });
            /**
             * This receiver is used to fetch an error list that will be displayed to the user.
             */
            this.$on('setErrors', data => {
                this.errors = data;
            });
            /**
             * Every question component will emit its own error messages, questionnaire container
             * serves as the middle man and passes the error messages into navigation.
             */
            this.$on('setErrorMessages', data => {
                this.errorMessages = data;
            });
            /**
             * This receives a command to get the requirements for the selected view. Once it has calculated
             * the required fields, the requiredIndexes watcher sends the data to navigation to check for missing
             * requirements before allowing the user to continue.
             */
            this.$on('setRequired', () => {
                this.requiredIndexes = -1;
                this.requiredIndexes = this.getSelectedViewRequired();
            });

            /**
             * Displays a message warning the user that if they leave their changes may not be saved.
             * You can turn this off by setting 'warnOnLeaveIntent' to false.
             * @param e
             */
            window.onbeforeunload = function (e) {
                if (vueObject.warnOnLeaveIntent)
                    e.returnValue = 'Are you sure you want to leave? Your changes will not be saved';
                else delete e['returnValue'];
            };
        },
    }
</script>

<style scoped>
    .error-messages{
        padding-inline-start: 0;
        list-style: none;
        padding-left: 10px;
        margin: 0;
    }
</style>