<template>
    <div class="Q">
        <center>
            <a href="#" class="SkipStepStyle text-center">Skip This Step</a>
        </center>
    </div>
</template>

<script>
    export default {
        name: "SkipStep",
        components: {

        },
        props: {
            friendlyIndex: {
                type: String,
                default: null,
            },
            title: {
                type: String,
                default: null,
            },
            answerChoices:{
                type: Array,
                default: () => []
            }
        },
        mounted() {
            //on click you want to emit a skip command
        }
    }
</script>

<style scoped>

</style>