<template>
    <div class="Q">
        <center>
            <p class="display-1">{{title}}</p>
        </center>
    </div>
</template>

<script>
    import QuestionTitle from "./QuestionTitle";
    export default {
        name: "ViewTitle",
        components: {
            QuestionTitle
        },
        props: {
            friendlyIndex: {
                type: String,
                default: null,
            },
            title: {
                type: String,
                default: null,
            },
            answerChoices:{
                type: Array,
                default: () => []
            }
        },
        mounted() {
            console.log('view title mounted');
        }
    }
</script>

<style scoped>

</style>