<template>
    <modal3a_1 id="AddDocumentModal">
        <template v-slot:header>
            <h5 class="modal-title">Add a Document</h5>
        </template>
        <template v-slot:main>
            <form class="EditModalForm">
                <div class="row">
                    <div class="form-group col-sm-12">
                        <label for="description" class="form-check-label">Description</label>
                        <input id="description" type="text" class="form-control" v-model="description">
                        <span class="help-block otc-red">{{errors.description}}</span>
                    </div>
                    <div class="form-group col-sm-12">
                        Is the document required?
                    </div>
                    <div class="form-group col-sm-12" style="height: 75px;">
                        <button
                                type="button"
                                class="dropdown-toggle form-control"
                                data-toggle="dropdown"
                                id="isDocumentRequired"
                                aria-haspopup="true"
                                aria-expanded="false"
                        >
                            {{isIncluded === null ? 'Select' : isIncluded === true ? 'Yes' : 'No'}}
                        </button>
                        <span class="help-block otc-red">{{errors.isIncluded}}</span>
                        <div class="dropdown-menu" aria-labelledby="isDocumentRequired">
                            <div v-on:click="isIncluded = true">Yes</div>
                            <div v-on:click="isIncluded = false">No</div>
                        </div>
                    </div>
                    <div class="form-group col-sm-6 col-sm-offset-6">
                        <button v-on:click="save" type="button" class="float-right btn btn-white hov-teal-bg">Save</button>
                    </div>
                </div>
            </form>
        </template>
    </modal3a_1>
</template>

<script>
    export default {
        name: "AddDocument",
        props: {
            transactionID: {

            },
        },
        data(){
            return {
                description: '',
                isIncluded: null,
                errors: {
                    description: '',
                    requirement: '',
                }
            }
        },
        methods: {
            toggle(){
                $('#AddDocumentModal').modal('toggle');
            },
            save(){
                this.errors = {
                    description: '',
                    requirement: '',
                };
                let saveAllowed = true;
                if (!this.description.trim())
                {
                    this.errors.description = 'Description is required.';
                    saveAllowed = false;
                }
                if (this.isIncluded === null)
                {
                    this.errors.isIncluded  = 'You must specify whether the document is required.';
                    saveAllowed = false;
                }

                if (saveAllowed)
                {
                    axios.post(route('saveAdHocDocument').url(), {
                        Transactions_ID: this.transactionID,
                        isIncluded: this.isIncluded,
                        isOptional: !this.isIncluded,
                        Description: this.description,
                    }).then((r) => {
                        console.log({
                            saveAdHocDocumentResponse: r,
                        });
                        let status = r.data.status || false;
                        if (status == 'success')
                        {
                            this.$parent.$emit('Documents__getDocuments');
                            this.toggle();
                        }
                        else if (status == 'fail')
                        {
                            if (r.data.message) genericError(r.data.message);
                            else genericError();
                        }
                        else genericError();
                    }).catch((err) => {
                        console.log({
                            saveAdHocDocumentError: err,
                        });
                    });
                }
            },
        },
        mounted() {
            this.$on('AddDocument__toggle', () => {
                this.toggle();
            });
        }
    }
</script>

<style scoped>

</style>