<template>
    <div class="modal fade modal3a-1 in" role="dialog" :id="elementID">
        <div class="modal-dialog rounded-lg">
            <div v-on:click.prevent="person = {}" id="closeButton" data-dismiss="modal"><i class="fas fa-times teal"></i></div>
            <div class="modal-content" style="padding: 0 !important;">
                <div class="modal-header EditModalHeader">
                    <h5 v-if="!askRole" class="modal-title">Add/Edit {{person.role}}</h5>
                    <h5 v-else class="modal-title">Select a Role to Add/Edit</h5>
                </div>
                <div v-if="askRole" class="modal-body" style="min-height: 350px;">
                    <div class="form-group">
                        <div class="dropdown">
                            <div class="row selectRoleContainer">
                                <button type="button" class="btn btn-white form-control EditFormDButton dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{'Select Person to Add'}}</button>
                                <div class="dropdown-menu col-sm-12 roles-dropdown" aria-labelledby="roleDropdownButton">
                                    <a v-on:click.prevent="person = p" v-for="p in keyPeople" href="#" class="dropdown-item">{{p.role}} {{p.position || ''}}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div v-else class="modal-body">
                    <form class="EditModalForm">
                        <div v-if="roleIsUser">
                            <h4>This is you.</h4>
                        </div>
                        <div id="searchContainer" v-if="searchableRole && !roleIsUser">
                            <input
                                    v-model="search_query"
                                    type="text"
                                    placeholder="Search Our Database"
                                    class="form-control"
                            >
                            <div id="searchIcon">
                                <span><i class="fas fa-search"></i></span>
                            </div>
                            <search-person
                                    ref="search"
                                    :token="token"
                                    :table.sync="person.table"
                                    :model="person.model"
                                    :role-code="person.roleCode"
                            >

                            </search-person>
                        </div>

                        <input
                                v-model="person.NameFirst"
                                type="text"
                                placeholder="First Name"
                                class="form-control"
                        >
                        <input
                                v-model="person.NameLast"
                                type="text"
                                placeholder="Last Name"
                                class="form-control"
                        >
                        <input
                                v-model="person.Email"
                                type="email"
                                placeholder="Email Address"
                                class="form-control"
                        >
                        <input
                                v-model="person.Phone"
                                type="text"
                                v-mask="'(###)-###-####'"
                                placeholder="Cell #"
                                class="form-control"
                                maxlength="14"
                        >
                        <input
                                v-if="rolesWithLicenseField.includes(person.roleCode)"
                                v-model="person.License"
                                type="text"
                                placeholder="License #"
                                class="form-control"
                        >
                        <input
                                v-if="rolesWithCompanyField.includes(person.roleCode)"
                                v-model="person.Company"
                                type="text"
                                placeholder="Company"
                                class="form-control"
                        >
                        <button v-on:click="save()" data-dismiss="modal" type="button" class="btn EditModalButton">Confirm</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import has from 'lodash';
    export default {
        name: "AddEditPerson",
        components: {
            has
        },
        props: {
            elementID: {
                type: String,
                default: '',
            },
            keyPeople: {
                type: Object,
                default: () => {},
            },
            transactionID: {

            },
            token: {
                type: String,
                default: '',
            },
        },
        computed: {
            askRole(){
                return $.isEmptyObject(this.person);
            },
            roleIsUser(){
                return this.person.Users_ID == this.user.userID;
            },
            searchableRole(){
                return (
                    this.person.roleCode == 'ba'  ||
                    this.person.roleCode == 'sa'  ||
                    this.person.roleCode == 'btc' ||
                    this.person.roleCode == 'stc' ||
                    this.person.roleCode == 'e'   ||
                    this.person.roleCode == 'l'   ||
                    this.person.roleCode == 't'
                );
            }
        },
        watch: {
            personData: {
                handler(val){
                    this.person = val;
                }
            },
            search_query: _.debounce(function(val) {
                if (val.length > 2) this.search();
            }, 1000),
        },
        data(){
            return {
                user: this.$store.getters.getUserData(),
                search_query: '',
                person: this.personData,
                errors: {},
                rolesWithLicenseField: [
                    'ba',
                    'sa',
                    'btc',
                    'stc',
                    'e',
                    'l',
                    't',
                ],
                rolesWithCompanyField: [
                    'btc',
                    'stc',
                    'e',
                    'l',
                    't',
                ]
            }
        },
        methods: {
            search(){
                this.$refs.search.$emit('executeSearch', this.search_query);
            },
            save(){
                this.errors = {};
                axios.post(route('saveAux').url(), {
                    Transactions_ID: this.transactionID,
                    _roleCode: this.person.roleCode,
                    Role: this.person.roleCode,
                    ID: this.person.ID || null,
                    Lib_ID: this.person.Lib_ID || null,
                    NameFirst: this.person.NameFirst,
                    NameLast: this.person.NameLast,
                    Email: this.person.Email,
                    PrimaryPhone: this.person.Phone,
                    LicenseNumber: this.person.License || null,
                    Company: this.person.Company || null,
                    UUID: this.person.UUID || '**',
                    Users_ID: this.person.Users_ID,
                }).then((r) => {
                    console.log({
                        saveAuxResponse: r,
                    });
                    let status = r.data.status || false;
                    if (status == 'success')
                    {
                        this.$parent.$emit('keyPersonUpdated', this.person);
                    }
                    else if (status == 'fail')
                        genericError(r.data.message || 'An error has occurred. Error code: s-ae-002');
                    else genericError();
                    this.selectedPerson = {};
                }).catch((r) => {
                    console.log({
                        saveAuxError: r,
                    });
                    let status = r.data.status || false;
                    if (status == 'AddressError')
                        this.errors.PropertyAddress = r.data.PropertyAddress;
                    else if(r.data.errors) this.errors = r.data.errors;
                });
            }
        },
        mounted() {
            this.$on('setPersonData', data => {
                this.person = data;
            });
            this.$on('searchPersonChosenData', data => {
                this.search_query       = '';
                this.person.NameFull    = data.NameFull;
                this.person.NameFirst   = data.NameFirst;
                this.person.NameLast    = data.NameLast;
                this.person.Phone       = data.PrimaryPhone;
                this.person.ID          = data.ID || null;
                this.person.Lib_ID      = data.Lib_ID || null;
                this.person.Email       = data.Email;
                this.person.UUID        = data.UUID || '**';
                this.person.Users_ID    = data.Users_ID;
                if (data.License)
                    if (this.person.hasOwnProperty('License'))
                        this.person.License = data.License || '';
                if (data.Company)
                    if (this.person.hasOwnProperty('Company'))
                        this.person.Company = data.Company || '';
            });
        }
    }
</script>

<style scoped>
    #searchContainer{
        position: relative;
    }
    #searchIcon{
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 50px;
        pointer-events: none;
    }
    .selectRoleContainer button{
        width: 90%;
        margin-left: 5%;
        color: black;
        border: solid 1px #ccc;
        height: unset;
    }
    .selectRoleContainer div{
        width: 90%;
    }
    .selectRoleContainer div a{
        width: 100%;
        display: inline-block;
        padding: 0 !important;
    }
</style>