<template>
    <modal3a_1 id="AddressOverrideModal">
        <template v-slot:header>
            <h5 class="modal-title">Address Could Not Be Verified</h5>
        </template>
        <template v-slot:main>
            <form class="EditModalForm">
                <p>
                    <span style="text-decoration: underline;">{{address}}</span> could not be verified.
                    Please fill out the fields below and override.
                </p>
                <div class="form-group">
                    <div class="row" id="addressContainer">
                        <div class="col-sm-9">
                            <input class="form-control" type="text" v-model="street" placeholder="STREET ADDRESS">
                            <span class="help-block otc-red">{{errors.street}}</span>
                        </div>
                        <div class="col-sm-3">
                            <input class="form-control" type="text" v-model="unit" placeholder="UNIT #">
                            <span class="help-block otc-red">{{errors.unit}}</span>
                        </div>
                        <div class="col-sm-4">
                            <input class="form-control" type="text" v-model="city" placeholder="CITY">
                            <span class="help-block otc-red">{{errors.city}}</span>
                        </div>
                        <div class="col-sm-4">
                            <input class="form-control" type="text" v-model="state" placeholder="STATE">
                            <span class="help-block otc-red">{{errors.state}}</span>
                        </div>
                        <div class="col-sm-4">
                            <input class="form-control" type="text" v-model="zip" placeholder="ZIP CODE">
                            <span class="help-block otc-red">{{errors.zip}}</span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-6 col-xs-12">
                            <button type="button" v-on:click="override" class="btn btn-white hov-teal-bg">
                                Override and Save
                            </button>
                        </div>
                        <div class="col-sm-4 col-xs-12">
                            <button type="button" data-dismiss="modal" class="btn btn-red-white-trim">
                                Cancel
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </template>
    </modal3a_1>
</template>

<script>
    export default {
        name: "AddressOverride",
        props: {
            address: {
                type: String,
                default: '',
            }
        },
        computed: {
            ovrAddress(){
                return  this.street+', '+
                        this.city+', '+
                        this.state+' '+
                        this.zip;
            },
        },
        data(){
            return {
                street:         '',
                unit:           '',
                city:           '',
                state:          '',
                zip:            '',
                activeStates:   this.$store.getters.getActiveStates(),
                errors:     {
                    street: null,
                    unit:   null,
                    city:   null,
                    state:  null,
                    zip:    null,
                },
            }
        },
        methods: {
            validate(){
                if (!this.street) this.errors.street = 'Street Address is required.';
                if (!this.city) this.errors.city = 'City is required.';
                if (!this.state) this.errors.state = 'State is required.';
                if (!this.zip) this.errors.zip = 'Zip Code is required.';
                return this.street && this.city && this.state && this.zip;
            },
            override(){
                this.errors = {
                    street: null,
                    unit:   null,
                    city:   null,
                    state:  null,
                    zip:    null,
                };
                if (this.validate())
                {
                    if (this.activeStates.includes(this.state))
                    {
                        axios.post(route('override.address').url(),{
                            address: this.ovrAddress,
                        }).then((r) => {
                            if (r.data.status == 'success') this.save();
                            else genericError();
                        }).catch((err) => {
                            if (err.data.status == 'fail') genericError(err.data.message || null);
                            else genericError('An unknown error has occurred. Error code: ovr-003');
                        });
                    }
                    else unsupportedStateWarning(this.activeStates, this.state);
                }
            },
            save(){
                this.$parent.$emit('postOverrideSave', {
                    address:    this.ovrAddress,
                    street:     this.street,
                    unit:       this.unit || '',
                    city:       this.city,
                    state:      this.state,
                    zip:        this.zip,
                });
            },
            toggle(){
                $('#AddressOverrideModal').modal('toggle');
            }
        },
        mounted(){
            this.$on('toggleAddressOverride', () => {
                this.toggle();
            });
        }
    }
</script>

<style scoped>
    #addressContainer input{
        padding-left: 15px;
    }
    .help-block{
        padding-left: 5px;
    }
</style>