<template>
    <modal3a_1 id="AddTaskModal">
        <template v-slot:header>
            <h5 class="modal-title">Add a Task</h5>
        </template>
        <template v-slot:main>
            <form class="EditModalForm">
                <div class="form-group">
                    <div class="dropdown">
                        <div class="row">
                            <div class="col-sm-11 no-padding">
                                <button type="button" class="btn btn-white form-control EditFormDButton" >{{taskRoles[roleSelected] ? taskRoles[roleSelected].name : 'Select a Person For This Task'}}</button>
                            </div>
                            <div id="roleDropdownButton" class="col-sm-1 caret-down-container dropdown-toggle no-padding" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-caret-down"></i></div>
                            <div class="dropdown-menu col-sm-12 roles-dropdown" aria-labelledby="roleDropdownButton">
                                <a v-on:click.prevent="roleSelected = roleCode" v-for="(person, roleCode) in taskRoles" href="#" class="dropdown-item">
                                    {{person.name}}
                                    <br>
                                    <span class="person-role">({{rolesLookup[roleCode]}})</span>
                                </a>
                            </div>
                            <span class="help-block otc-red">{{errors.roleSelected || ''}}</span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <textarea class="form-control" v-model="description" placeholder="Enter Description"></textarea>
                    <span class="help-block otc-red">{{errors.description || ''}}</span>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-7"></div>
                        <div class="col-sm-5 row">
                            <input
                                    v-model="date"

                                    placeholder="MM/DD/YYYY"
                                    type="text"
                                    name="date"
                                    id="addTaskDatePicker"
                                    class="col-sm-9 form-control-no-width date-input"
                            >
                            <div class="calendar-icon-container col-sm-3"><i class="fas fa-calendar-alt"></i></div>
                            <span class="help-block otc-red">{{errors.date || ''}}</span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-7"></div>
                        <div class="col-sm-5">
                            <button v-on:click="save()" type="button" class="btn EditModalButton form-control">Confirm</button>
                        </div>
                    </div>
                </div>
            </form>
        </template>
    </modal3a_1>
</template>

<script>
    import moment from 'moment';
    export default {
        name: "AddTask",
        components: {
            moment,
        },
        props: {
            transactionID: {

            }
        },
        data(){
            return {
                roles:          this.taskRoles,
                roleSelected:   '',
                description:    '',
                date:           '',
                rolesLookup:    this.$store.getters.getRolesLookup(),
                transaction:    null,
                taskRoles:      {},
                errors:         {
                    description: '',
                    date: '',
                    roleSelected: ''
                }
            }
        },
        methods: {
            toggle(){
                $('#AddTaskModal').modal('toggle');
                genericLoading('Preparing task...');
                this.$store.dispatch('setTransaction', this.transactionID);
                this.$store.dispatch('__waitFor', {
                    function: this.getTaskRoles,
                    waitFor: [
                        'setTransaction',
                        'fetchDaysUntilClose',
                        'fetchLookupTables',
                    ],
                });
            },
            getTaskRoles(){
                if (Swal2.isVisible()) Swal2.close();
                this.transaction = this.$store.getters.getTransactionByID(this.transactionID);
                let transaction = this.transaction;
                let roles = ['agents', 'buyers', 'sellers', 'tcs'];
                let length = roles.length;
                let taskRoles = {};
                for (let i = 0; i < length; i++)
                {
                    let people = transaction[roles[i]];
                    let peopleLength = people.length;
                    for (let person = 0; person < peopleLength; person++)
                    {
                        let p = people[person];
                        taskRoles[p.Role] = {
                            name: p.NameFull,
                            uuid: p.UUID,
                        };
                    }
                }
                if (taskRoles.btc && taskRoles.stc)
                {
                    if (taskRoles.btc.uuid == taskRoles.stc.uuid)
                    {
                        taskRoles.dtc = {
                            name: taskRoles.btc.name,
                            uuid: taskRoles.btc.uuid,
                        };
                        delete taskRoles.btc;
                        delete taskRoles.stc;
                    }
                }
                if (taskRoles.ba && taskRoles.sa)
                {
                    if (taskRoles.ba.uuid == taskRoles.sa.uuid)
                    {
                        taskRoles.da = {
                            name: taskRoles.ba.name,
                            uuid: taskRoles.ba.uuid,
                        };
                        delete taskRoles.ba;
                        delete taskRoles.sa;
                    }
                }
                this.taskRoles = taskRoles;
            },
            calendarImageStyle(){
                return 'background-image: url(\''+getHostURL()+'images/calendarImage.png\')';
            },
            save(){
                this.errors = {
                    description: '',
                    date: '',
                    roleSelected: '',
                };
                if (!this.description) this.errors.description = 'Description is required.';
                if (!this.date) this.errors.date = 'Due date is required.';
                if (!this.roleSelected) this.errors.roleSelected = 'Role(s) is required.';
                if (this.description && this.date && this.roleSelected)
                {
                    axios.post(route('transactionSummary.saveTask'),{
                        transactionID:  this.transactionID,
                        Description:    this.description,
                        DateDue:        moment(this.date).format('YYYY-MM-DD HH:MM:SS'),
                        taskRole:       this.roleSelected,
                    }).then((r) => {
                        console.log({
                            addTaskResponse: r,
                        });
                        if(r.data.status == 'success')
                        {
                            this.description = '';
                            this.roleSelected = '';
                            this.date = '';
                            genericSuccessToast(r.data.message);
                            this.$emit('taskAdded');
                        }
                        else if (r.data.status == 'fail') genericError(r.data.message);
                        else genericError();
                    });
                }
            }
        },
        mounted(){
            let v = this;
            this.$on('AddTask__toggle', () => {
                this.toggle();
            });
            $('#addTaskDatePicker').datepicker({
                onSelect: function() {
                    let dateObject = $(this).datepicker('getDate');
                    v.date = moment(dateObject).format('MM/DD/YYYY');
                }
            });
        },
    }
</script>

<style scoped>
    *{
        padding: 0;
    }
    .no-padding{
        padding: 0;
    }
    .roles-dropdown{
        left: unset !important;
        right: 91.67%;
        padding: 0 !important;
        overflow-y: scroll;
        max-height: 200px;
    }
    .roles-dropdown a{
        padding: 10px;
        width: 100%;
        display: inline-block;
    }
    .EditFormDButton{
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border: solid 1px #ccc;
        height: 45px;
        color: #a8a8a8;
        text-align: left;
        padding-left: 10px;
    }
    textarea{
        padding: 10px;
    }
    .date-input{
        height: 45px !important;
        margin-top: 0;
        border-top-right-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
    }
    .caret-down-container{
        background: #21D7D1;
        height: 45px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }
    .calendar-icon-container{
        height: 45px;
        display: flex;
        color: white;
        background: #21D7D1;
        justify-content: center;
        align-items: center;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }
    .form-control-no-width{
        display: block;
        height: 34px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #555555;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
    }
    .row{
        margin: 0;
    }
    input::-webkit-calendar-picker-indicator{
        display: none;
    }
    .person-role{
        font-size: 12px;
        color: #ccc;
        font-style: italic;
    }
</style>