<template>
    <modal3a_1 id="EditTaskModal">
        <template v-slot:header>
            <h5 class="modal-title">Edit Task</h5>
        </template>
        <template v-slot:main>
            <form class="EditModalForm">
                <div class="row">
                    <div class="form-group col-sm-12">
                        <textarea class="form-control" v-model="description" placeholder="Description"></textarea>
                    </div>
                    <div class="col-sm-12 form-group">
                        <textarea class="form-control" v-model="notes" placeholder="Notes"></textarea>
                    </div>
                    <div class="col-sm-offset-6 col-sm-6 form-group">
                        <input
                                readonly
                                id="editDatePicker"
                                placeholder="mm/dd/yyyy"
                                class="form-control"
                                v-model="dateDue"
                                type="text"
                        >
                    </div>
                    <div class="col-sm-12 form-group">
                        <button
                                type="button"
                                v-on:click="save()"
                                class="btn btn-white hov-teal-bg float-right"
                        >Save
                        </button>
                    </div>
                </div>
            </form>
        </template>
    </modal3a_1>
</template>

<script>
    import moment from 'moment';
    export default {
        name: "EditTaskOrMilestone",
        components: {
            moment,
        },
        props: {
            object: {
                type: Object,
                default: () => {},
            },
        },
        data(){
            return {
                type: '',
                id: 0,
                description: '',
                notes: '',
                dateDue: '',
            }
        },
        methods: {
            toggle(){
                $('#EditTaskModal').modal('toggle');
            },
            save(){
                axios.post(route('update.tasks').url(), {
                    id:             this.id,
                    Description:    this.description,
                    DateDue:        this.dateDue,
                    Notes:          this.notes,
                    status:         'edit',
                }).then((r) => {
                    let status = r.data.status || false;
                    if (status == 'success')
                    {
                        this.toggle();
                        this.$parent.$emit('Timeline__fetchTimeline');
                    }
                });
            },
        },
        mounted() {
            let v = this;
            this.$on('EditTask__toggle', data => {
                this.id             = data.Link_ID || '';
                this.description    = data.Description || '';
                this.notes          = data.Notes || '';
                this.dateDue        = moment(data.DateDue).format('MM/DD/YYYY');
                this.toggle();
            });
            $('#editDatePicker').datepicker({
                onSelect: function() {
                    let date = $(this).datepicker('getDate');
                    v.dateDue = moment(date).format('MM/DD/YYYY');
                }
            });
        }
    }
</script>

<style scoped>
    .form-control[readonly]{
        background: white;
    }
</style>