<!--
    Current container for the version 3a modal.
    Can be used together with other vue components so that you don't have to consistently
    code the same modal styles in various places.

    Please look at the components AddTask.vue, AddDocument.vue, etc. for examples
    of how to utilize this wrapper.
-->
<template>
    <div class="modal fade modal3a-1 in" role="dialog">
        <div class="modal-dialog rounded-lg">
            <div id="closeButton" data-dismiss="modal"><i class="fas fa-times teal"></i></div>
            <div class="modal-content" style="padding: 0 !important;">
                <div class="modal-header EditModalHeader">
                    <slot name="header"></slot>
                </div>
                <div class="modal-body">
                    <slot name="main"></slot>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Modal3a_1",
        props: {

        },
        data(){
            return {

            }
        },
        methods: {
            save(){

            }
        },
        mounted() {

        }
    }
</script>

<style scoped>

</style>