<template>
    <modal3a_1 id="QueuedMessageModal">
        <template v-slot:header>
            <h5 class="modal-title">{{message.title}}</h5>
        </template>
        <template v-slot:main>
            <form class="EditModalForm">
                <div class="form-group">
                    <div v-html="message.text">

                    </div>
                </div>
            </form>
        </template>
    </modal3a_1>
</template>

<script>
    export default {
        name: "QueuedMessage",
        data(){
            return {
                message: {
                    title: '',
                    text: '',
                    type: '',
                }
            }
        },
        methods: {
            toggle(){
                $('#QueuedMessageModal').modal('toggle');
            },
        },
        mounted() {
            this.$on('toggleQueuedMessage', data => {
                this.message = data;
                this.toggle();
            });
        },
    }
</script>

<style scoped>

</style>