<template>
    <div class="EditDetailsBody" v-if="contentReady">
        <h5 class="EditHeadingOne">Contingency Date and Details</h5>
        <hr style="height: 3px; background-color: #EBEBEB; margin: 0px 8px;">
        <form class="EditDetailsForm">
            <div class="form-group row">
                <label class="col-sm-8 col-form-label" for="">
                    Is the sale contingent on the buyer selling another home?
                </label>
                <span v-if="errors.hasBuyerSellContingency" class="help-block otc-red">{{errors.hasBuyerSellContingency[0] || ''}}</span>
                <div class="col-sm-3">
                    <div class="dropdown">
                        <button class="btn btn-white form-control dropdown-toggle EditFormDButton" data-toggle="dropdown">{{transactionData.hasBuyerSellContingency ? 'Yes' : 'No'}} <i class="fas fa-caret-down"></i></button>
                        <div class="dropdown-menu">
                            <a href="#" class="dropdown-item" v-on:click.prevent="editTransactionData('hasBuyerSellContingency', 1)">Yes</a>
                            <a href="#" class="dropdown-item" v-on:click.prevent="editTransactionData('hasBuyerSellContingency', 0)">No</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-8 col-form-label" for="">
                    Is the sale contingent on the seller buying another home?
                </label>
                <span v-if="errors.hasSellerBuyContingency" class="help-block otc-red">{{errors.hasSellerBuyContingency[0] || ''}}</span>
                <div class="col-sm-3">
                    <div class="dropdown">
                        <button class="btn btn-white form-control dropdown-toggle EditFormDButton" data-toggle="dropdown">{{transactionData.hasSellerBuyContingency ? 'Yes' : 'No'}} <i class="fas fa-caret-down"></i></button>
                        <div class="dropdown-menu">
                            <a href="#" class="dropdown-item" v-on:click.prevent="editTransactionData('hasSellerBuyContingency', 1)">Yes</a>
                            <a href="#" class="dropdown-item" v-on:click.prevent="editTransactionData('hasSellerBuyContingency', 0)">No</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-8 col-form-label" for="">
                    Is there an inspection contingency?
                </label>
                <div class="col-sm-3">
                    <div class="dropdown">
                        <button class="btn btn-white form-control dropdown-toggle EditFormDButton" data-toggle="dropdown">{{showInspCont ? 'Yes' : 'No'}} <i class="fas fa-caret-down"></i></button>
                        <div class="dropdown-menu">
                            <a href="#" class="dropdown-item" v-on:click.prevent="showInspCont = true">Yes</a>
                            <a href="#" class="dropdown-item" v-on:click.prevent="showInspCont = false">No</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group row" v-if="showInspCont">
                <div class="col-sm-1">
                    <img :src="getHostUrl()+'images/contingencyArrow.png'" class="EditArrowImg">
                </div>
                <label class="col-sm-7 col-form-label EditDetailsArrowLabel" for="ContingencyDays">
                    How many days from acceptance date until contingency needs to be removed?
                </label>
                <div class="col-sm-3">
                    <input v-model="inspCont" type="text" class="form-control">
                    <span v-if="errors.hasInspectionContingency" class="help-block otc-red">{{errors.hasInspectionContingency[0] || ''}}</span>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-8 col-form-label" for="">
                    Is there an appraisal contingency?
                </label>
                <div class="col-sm-3">
                    <div class="dropdown">
                        <button class="btn btn-white form-control dropdown-toggle EditFormDButton" data-toggle="dropdown">{{showAppCont ? 'Yes' : 'No'}} <i class="fas fa-caret-down"></i></button>
                        <div class="dropdown-menu">
                            <a href="#" class="dropdown-item" v-on:click.prevent="showAppCont = true">Yes</a>
                            <a href="#" class="dropdown-item" v-on:click.prevent="showAppCont = false">No</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group row" v-if="showAppCont">
                <div class="col-sm-1">
                    <img :src="getHostUrl()+'images/contingencyArrow.png'" class="EditArrowImg">
                </div>
                <label class="col-sm-7 col-form-label EditDetailsArrowLabel" for="">
                    How many days from acceptance date until contingency needs to be removed?
                </label>
                <div class="col-sm-3">
                    <input v-model="appCont" type="text" class="form-control">
                    <span v-if="errors.hasAppraisalContingency" class="help-block otc-red">{{errors.hasAppraisalContingency[0] || ''}}</span>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-8 col-form-label" for="">
                    Is there a loan contingency?
                </label>
                <div class="col-sm-3">
                    <div class="dropdown">
                        <button class="btn btn-white form-control dropdown-toggle EditFormDButton" data-toggle="dropdown">{{showLoanCont ? 'Yes' : 'No'}} <i class="fas fa-caret-down"></i></button>
                        <div class="dropdown-menu">
                            <a href="#" class="dropdown-item" v-on:click.prevent="showLoanCont = true">Yes</a>
                            <a href="#" class="dropdown-item" v-on:click.prevent="showLoanCont = false">No</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group row" v-if="showLoanCont">
                <div class="col-sm-1">
                    <img :src="getHostUrl()+'images/contingencyArrow.png'" class="EditArrowImg">
                </div>
                <label class="col-sm-7 col-form-label EditDetailsArrowLabel" for="">
                    How many days from acceptance date until loan contingency needs to be removed?
                </label>
                <div class="col-sm-3">
                    <input v-model="loanCont" type="text" class="form-control">
                    <span v-if="errors.hasLoanContingency" class="help-block otc-red">{{errors.hasLoanContingency[0] || ''}}</span>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-8 col-form-label" for="">
                    Is a termite inspection and/or report required?
                </label>
                <span v-if="errors.needsTermiteInspection" class="help-block otc-red">{{errors.needsTermiteInspection[0] || ''}}</span>
                <div class="col-sm-3">
                    <div class="dropdown">
                        <button class="btn btn-white form-control dropdown-toggle EditFormDButton" data-toggle="dropdown">{{transactionData.needsTermiteInspection ? 'Yes' : 'No'}} <i class="fas fa-caret-down"></i></button>
                        <div class="dropdown-menu">
                            <a href="#" class="dropdown-item" v-on:click.prevent="editTransactionData('needsTermiteInspection', 1)">Yes</a>
                            <a href="#" class="dropdown-item" v-on:click.prevent="editTransactionData('needsTermiteInspection', 0)">No</a>
                        </div>
                    </div>
                </div>
            </div><br>
            <div class="form-group row">
                <div class="col-sm-6">

                </div>
                <div class="col-sm-6">
                    <a href="#" class="EditAnchorTwo" v-on:click.prevent="getTransactionData()">Cancel Changes</a>
                    <button class="btn EditButtonThree" type="button" v-on:click="saveChanges()">SAVE CHANGES</button>
                </div>
            </div>
        </form>
    </div>
</template>

<script>
    import moment from 'moment';
    export default {
        name: "ContingencyDates",
        components: {
            moment
        },
        props: {
            token: {
                type: String,
                default: '',
            },
            transactionID: {
                type: Number,
                default: 0,
            },
            state: {
                type: String,
                default: '',
            },
        },
        watch: {
            showAppCont: {
                handler(val){
                    if (val) this.appCont = this.transactionData.hasAppraisalContingency || this.appraisalContingencyDefault;
                    else this.appCont = 0;
                },
            },
            showInspCont: {
                handler(val){
                    if (val) this.inspCont = this.transactionData.hasInspectionContingency || this.inspectionContingencyDefault;
                    else this.inspCont = 0;
                },
            },
            showLoanCont: {
                handler(val){
                    if (val) this.loanCont = this.transactionData.hasLoanContingency || this.loanContingencyDefault;
                    else this.loanCont = 0;
                },
            },
            appCont: {
                handler(val){
                    this.appCont = parseInt(val.toString().replace(/\D/g, '')) || 0;
                },
            },
            inspCont: {
                handler(val){
                    this.inspCont = parseInt(val.toString().replace(/\D/g, '')) || 0;
                },
            },
            loanCont: {
                handler(val){
                    this.loanCont = parseInt(val.toString().replace(/\D/g, '')) || 0;
                },
            },

        },
        data(){
            return {
                transactionData: {},
                contentReady: false,
                appraisalContingencyDefault: 17,
                inspectionContingencyDefault: 17,
                loanContingencyDefault: 21,
                showAppCont: false,
                showInspCont: false,
                showLoanCont: false,
                appCont: 0,
                inspCont: 0,
                loanCont: 0,
                errors: {},
                ajaxConverterRoute: correctVuexRouteURL(this.$store.getters.routeName('ajax.converter')),
                timeline: {},
            }
        },
        methods: {
            getHostUrl(){
                return getHostURL();
            },
            async getTimeline(){
                if (!this.ajaxConverterRoute) genericError('Unable to find ajax converter route. Error code: ajc-0004');
                else
                {
                    return axios.post(this.ajaxConverterRoute, {
                        class: 'App\\Combine\\TransactionCombine2',
                        isStatic: 1,
                        method: 'getTimeline',
                        args: [
                            this.transactionID,
                            this.state,
                        ]
                    });
                }
            },
            saveChanges(){
                let v = this;
                v.getTimeline().then((r) => {
                    let status = r.data.status || false;
                    let acceptanceDate = v.transactionData.DateAcceptance;
                    if (status == 'success')
                    {
                        detectAndChangeToNumeric(r.data.data);
                        v.timeline = r.data.data;
                        v.errors = {};
                        let queuedFunctions = [];
                        let appMilestone = {Approved: false};
                        if (v.appCont != v.transactionData.hasAppraisalContingency)
                        {
                            let proposedAppContDate = moment(acceptanceDate).add(v.appCont, 'days').format('YYYY-MM-DD');
                            let appCont = v.timeline.find(t => t.MilestoneName == 'Appraisal Contingency Completed');
                            appMilestone = {
                                ID: appCont.ID,
                                Description: appCont.MilestoneName,
                                DateDue: proposedAppContDate,
                                Approved: false,
                            };
                            queuedFunctions.push(function () {
                                timelineDateChangeDialog(
                                    appMilestone,
                                    v.transactionID,
                                    queuedFunctionsCallback,
                                    {bodyText: 'By changing the length of <b><i>Appraisal Contingency</i></b>, you will be moving' +
                                            ' Appraisal Contingency to this date. Please confirm that is what you wish to do.'},
                                    true,
                                    appCont.mustBeBusinessDay || false,
                                );
                            });
                        }

                        let inspMilestone = {Approved: false};
                        if (v.inspCont != v.transactionData.hasInspectionContingency)
                        {
                            let proposedInspContDate = moment(acceptanceDate).add(v.inspCont, 'days').format('YYYY-MM-DD');
                            let inspCont = v.timeline.find(t => t.MilestoneName == 'Inspection Contingency');
                            inspMilestone = {
                                ID: inspCont.ID,
                                Description: inspCont.MilestoneName,
                                DateDue: proposedInspContDate,
                                Approved: false,
                            };
                            queuedFunctions.push(function () {
                                timelineDateChangeDialog(
                                    inspMilestone,
                                    v.transactionID,
                                    queuedFunctionsCallback,
                                    {bodyText: 'By changing the length of <b><i>Inspection Contingency</i></b>, you will be moving' +
                                            ' Inspection Contingency to this date. Please confirm that is what you wish to do.'},
                                    true,
                                    inspCont.mustBeBusinessDay || false,
                                );
                            });
                        }

                        let loanMilestone = {Approved: false};
                        if (v.loanCont != v.transactionData.hasLoanContingency)
                        {
                            let proposedLoanContDate = moment(acceptanceDate).add(v.loanCont, 'days').format('YYYY-MM-DD');
                            let loanCont = v.timeline.find(t => t.MilestoneName == 'Loan Contingency');
                            loanMilestone = {
                                ID: loanCont.ID,
                                Description: loanCont.MilestoneName,
                                DateDue: proposedLoanContDate,
                                Approved: false,
                            };
                            queuedFunctions.push(function () {
                                timelineDateChangeDialog(
                                    loanMilestone,
                                    v.transactionID,
                                    queuedFunctionsCallback,
                                    {bodyText: 'By changing the length of <b><i>Loan Contingency</i></b>, you will be moving' +
                                            ' Loan Contingency to this date. Please confirm that is what you wish to do.'},
                                    true,
                                    loanCont.mustBeBusinessDay || false,
                                );
                            });
                        }

                        let functionIterator = new FunctionIterator(queuedFunctions,updateContingencies);
                        let queuedFunctionsCallback = function(){
                            functionIterator.executeQueuedFunctions();
                        };

                        functionIterator.executeQueuedFunctions();

                        function updateContingencies()
                        {
                            if (appMilestone.Approved)
                                v.transactionData.hasAppraisalContingency = v.appCont;
                            if (inspMilestone.Approved)
                                v.transactionData.hasInspectionContingency = v.inspCont;
                            if (loanMilestone.Approved)
                                v.transactionData.hasLoanContingency = v.loanCont;
                            let route = correctVuexRouteURL(v.$store.getters.routeName('saveDetails'));
                            if (!route) genericError('Unable to find saveDetails route. Error code: st-001');
                            else
                            {
                                let data = {
                                    ...{_token: v.token},
                                    ...v.transactionData
                                };
                                axios.post(route, data).then((r) => {
                                    let status = r.data.status || false;
                                    if (status == 'success')
                                    {
                                        genericSuccess('Contingency Data Saved!',0);
                                        v.getTransactionData();
                                    }
                                    else if (status == 'fail')
                                    {
                                        genericError(r.data.message || 'An unknown error has occurred.');
                                    }
                                    else genericError();
                                }).catch((r) => {
                                    console.log(r);
                                    if (r.data.errors) v.errors = r.data.errors;
                                });
                            }
                        }
                    }
                }).catch( err => {
                    console.log({
                        getTimelineError: err,
                    });
                    genericError(err);
                });

            },
            getTransactionData(){
                genericLoading();
                if (!this.ajaxConverterRoute) genericError('Unable to find ajax converter route. Error code: ajc-0004');
                else
                {
                    axios.post(this.ajaxConverterRoute, {
                        class: 'App\\Combine\\TransactionCombine2',
                        isStatic: 1,
                        method: 'getDetails',
                        args: [
                            this.transactionID
                        ]
                    }).then((r) => {
                        Swal2.close();
                        console.log({
                            getContingencyData: r,
                        });
                        let status = r.data.status || false;
                        if (status == 'success')
                        {
                            detectAndChangeToNumeric(r.data.data);
                            this.transactionData    = r.data.data;
                            this.showAppCont        = !!this.transactionData.hasAppraisalContingency;
                            this.showInspCont       = !!this.transactionData.hasInspectionContingency;
                            this.showLoanCont       = !!this.transactionData.hasLoanContingency;
                            this.appCont            = this.transactionData.hasAppraisalContingency;
                            this.inspCont           = this.transactionData.hasInspectionContingency;
                            this.loanCont           = this.transactionData.hasLoanContingency;
                            this.contentReady       = true;
                        }
                    });
                }
            },
            editTransactionData(property, val){
                this.transactionData[property] = val;
            },
        },
        mounted() {
            this.getTransactionData();
        }
    }
</script>

<style scoped>

</style>