<template>
    <div class="container" style="max-width: 1140px;">
        <div class="row" id="ConsumerEditDetails">
            <div class="col-xs-12 col-sm-3">
                <div class="EditSettingsLeftCol">
                    <center>
                        <b class="border-bottom EditSettingsHeading">PROPERTY PHOTO</b>
                    </center>
                    <a href="#" v-on:click.prevent="editPropertyImage()">
                        <img :src="propertyData.PropertyImageURL" class="img-responsive">
                    </a>
                    <button v-on:click.prevent="editPropertyImage()" type="button" class="btn EditButtonTwo"><i class="fas fa-camera"></i></button>
                </div>
                <div class="EditSettingsLeftCol">
                    <center>
                        <b class="border-bottom EditSettingsHeading">ACCOUNT SETTINGS</b>
                    </center>
                    <ul>
                        <li>
                            <router-link to="/transaction/details/property">Property Details</router-link>
                        </li>
                        <li>
                            <router-link to="/transaction/details">Transaction Settings</router-link>
                        </li>
                        <li>
                            <router-link to="/transaction/contingency/dates">Contingency Dates</router-link>
                        </li>
                        <li>
                            <router-link to="/transaction/key/people">Key People</router-link>
                        </li>
                    </ul>
                </div>
            </div>
            <router-view :key="routerKey" ref="child" class="col-xs-12 col-sm-9" v-bind="bindAttributes()">

            </router-view>
        </div>
    </div>
</template>

<script>
    import moment from 'moment';
    export default {
        name: "EditDetails",
        components: {
            moment,
        },
        props: {
            token: {
                type: String,
                default: '',
            }
        },
        data(){
            return {
                yearBuiltChoices: [],
                transactionID: this.$store.getters.currentTransaction(),
                routerKey: 0,
                currentRoute: this.$route.path,
                propertyData: this.$store.getters.currentTransactionProperty(),
            }
        },
        methods: {
            editPropertyImage(){
                let v = this;
                async function uploadImage(token, transactionID, uploadImageRoute)
                {
                    const {value: file} = await uploadPropertyImage();
                    if (file)
                    {
                        const reader = new FileReader;
                        reader.onload = (e) => {
                            Swal2({
                                title: 'Selected Picture.',
                                imageUrl: e.target.result,
                                imageAlt: 'The selected picture.',
                                showCancelButton: true,
                            }).then((r)=>{
                                console.log(r);
                                if (r.value)
                                {
                                    genericLoading('Uploading Image...');
                                    let loginURL = route('login').url();
                                    fetch(e.target.result).then(res => res.blob()).then((blob) => {
                                        let formData = new FormData();
                                        formData.append('image',blob);
                                        formData.append('transactionID', transactionID);
                                        formData.append('_token', token);

                                        let request = new XMLHttpRequest();
                                        request.open('POST', uploadImageRoute);
                                        request.send(formData);
                                        request.onreadystatechange = function () {
                                            if (request.readyState !== 4 || request.status !== 200) return;
                                            if (request.responseURL === loginURL) window.location.href = loginURL;
                                            v.$store.dispatch('setTransaction', v.transactionID);
                                            let data = JSON.parse(request.response);
                                            v.propertyData.PropertyImageURL = data.url+'?timestamp='+new Date().getTime();
                                            genericSuccess('Property Image Saved!', 2000);
                                        }
                                    });
                                }
                                else Swal2.close();
                            });
                        };
                        reader.readAsDataURL(file.files[0]);
                    }
                }
                uploadImage(this.token, this.transactionID, correctVuexRouteURL(this.$store.getters.routeName('property.uploadImage')));
            },
            bindAttributes(){
                return  {
                    token:          this.token,
                    transactionID:  Number(this.transactionID),
                    state:          this.propertyData.State,
                }
            },
            processHashes(){
                let hashes = getLocationHashes();
                if (hashes.includes('okp')) this.$router.push('/transaction/key/people');
                else this.$router.push('/transaction/details');
                location.hash = '';
            },
        },
        mounted() {
            this.processHashes();
            this.$store.subscribe((mutation, state) => {
                switch(mutation.type)
                {
                    case 'setLookupTables':
                        let lookupTables = state.lookupTables;
                        if (this.$refs.child) this.$refs.child.$emit('updateLookupTables', lookupTables);
                        this.transactionID = state.currentTransactionID;
                        this.propertyData = state.currentTransactionProperty;
                        break;
                }
            });
        }
    }
</script>

<style scoped>

</style>