<template>
    <div>
        <div class="EditDetailsBody EditDetailsBodyTwo" v-if="contentReady && version == 1">
            <h5 class="EditHeadingOne">Key People</h5>
            <hr style="height: 3px; background-color: #EBEBEB; margin: 0 8px;">
            <form class="EditDetailsForm">
                <div class="form-group row" v-for="(person,i) in keyPeople">
                    <label class="col-sm-3 col-form-label" for="Buyer">
                        {{person.role}}:
                    </label>
                    <div class="col-sm-6">
                        <input
                                v-if="person.ID"
                                :value="person.NameFull || person.NameFirst+' '+person.NameLast"
                                readonly
                                type="text"
                                class="form-control"
                        >
                        <input
                                v-else
                                :value="person.addText"
                                readonly
                                type="text"
                                class="form-control teal"
                                v-on:click="addEditPerson(i)"
                        >
                    </div>
                    <div class="col-sm-1">
                        <a v-if="person.ID" href="#" class="EditAnchorOne" v-on:click.prevent="addEditPerson(i)">Edit</a>
                    </div>
                </div>
            </form>
        </div>
        <div v-else-if="version == 2 && contentReady">
            <div v-if="consumer || agent || tc">
                <div class="timeline-additional-data">
                    <div data-toggle="collapse" href="#keyPeopleCollapse" aria-expanded="false" aria-controls="keyPeopleCollapse">
                        <h3 class="title">Key People</h3>
                        <span class="title-icon"><i class="fas fa-plus"></i></span>
                    </div>
                    <div class="details-list collapse" id="keyPeopleCollapse">
                        <div v-for="person in keyPeople" v-on:click="addEditPerson(getIndexCode(person))" v-if="keyPeople[getIndexCode(person)].ID" class="detail-item people-icon">
                            <div class="row">
                                <div class="col-sm-12 col-md-5 col-lg-5">
                                    <span class="item-title">{{person.role}}:</span>
                                </div>
                                <div class="kp-name">
                                    {{keyPeople[getIndexCode(person)].NameFull}}
                                </div>
                            </div>
                        </div>
                        <span v-on:click="addEditPerson()" class="teal add-person">Add Person</span>
                    </div>
                </div>
            </div>
            <div v-else>
                <h3 class="title">Key People</h3>
                <div class="details-list">
                    <div v-for="person in keyPeople" v-on:click="addEditPerson(getIndexCode(person))" v-if="keyPeople[getIndexCode(person)].ID" class="detail-item people-icon">
                        <div class="row">
                            <div class="col-sm-12 col-md-5 col-lg-5">
                                <span class="item-title">{{person.role}}:</span>
                            </div>
                            <div class="kp-name">
                                {{keyPeople[getIndexCode(person)].NameFull}}
                            </div>
                        </div>
                    </div>
                    <span v-on:click="addEditPerson()" class="teal add-person">Add Person</span>
                </div>
            </div>
        </div>
        <add-edit-person-modal
                ref="addEditPersonModal"
                :key-people.sync="keyPeople"
                :element-i-d="addPersonModalID"
                :transaction-i-d="tID"
                :token="token"
        >

        </add-edit-person-modal>
    </div>
</template>

<script>
    export default {
        name: "KeyPeople",
        components: {

        },
        props: {
            version: {
                type: String,
                default: '1',
            },
            token: {
                type: String,
                default: ''
            },
            transactionID: {

            },
        },
        computed: {
            consumer(){
                let role = this.userData.userRole;
                return role == 'b' || role == 's' || role =='h';
            },
            agent(){
                let role = this.userData.userRole;
                return role == 'a' || role == 'ba' || role == 'sa';
            },
            tc(){
                let role = this.userData.userRole;
                return role == 'tc' || role == 'btc' || role == 'stc';
            },
            aux(){
                let role = this.userData.userRole;
                return role == 'e' || this.userRole == 'l' || role == 't' || role == 'aux';
            }
        },
        data(){
            return {
                rawKeyPeopleData:   {},
                keyPeople:          {},
                contentReady:       false,
                selectedPerson:     {},
                userData:           this.$store.getters.getUserData(),
                tID:      this.$store.getters.currentTransaction() || parseInt(this.transactionID),
                addPersonModalID:   'addPersonModal',
            }
        },
        methods: {
            getIndexCode(person){
                return person.position ?
                    person.roleCode.toUpperCase() + (person.position - 1) :
                    person.roleCode.toUpperCase();
            },
            addEditPerson(index = false){
                if (index) this.selectedPerson = this.keyPeople[index];
                else this.selectedPerson = {};
                let modal = this.$refs.addEditPersonModal;
                if (modal) modal.$emit('setPersonData', this.selectedPerson);
                $('#'+this.addPersonModalID).modal();
            },
            fetchKeyPeople(){
                let route = correctVuexRouteURL(this.$store.getters.routeName('ajax.converter'));
                if (!route) genericError('Unable to find ajax converter route. Error code: fkp-001');
                else
                {
                    let data = {
                        _token: this.token,
                        class: 'App\\Combine\\TransactionCombine2',
                        isStatic: 1,
                        method: 'keyPeople',
                        args: [
                            this.tID,
                        ],
                    };
                    axios.post(route, data).then((r) => {
                        console.log(r);
                        let status = r.data.status || false;
                        if (status == 'success')
                        {
                            this.rawKeyPeopleData = r.data.data;
                            this.getKeyPeople();
                        }
                        else if (status == 'fail') genericError(r.data.message);
                        else genericError();
                    });
                }
            },
            getKeyPeople(){
                this.keyPeople = {};
                this.keyPeople['B0'] = {
                    ID: this.rawKeyPeopleData['B ID_0'],
                    UUID: this.rawKeyPeopleData['B UUID_0'],
                    Users_ID: this.rawKeyPeopleData['B Users_ID_0'],
                    NameFull: this.rawKeyPeopleData['Buyer_0'] || '',
                    NameFirst: this.rawKeyPeopleData['B NameFirst_0'] || '',
                    NameLast: this.rawKeyPeopleData['B NameLast_0'] || '',
                    Phone: this.rawKeyPeopleData['B Phone_0'] || '',
                    Email: this.rawKeyPeopleData['B Email_0'] || '',
                    role: 'Buyer',
                    position: 1,
                    roleCode: 'b',
                    addText: 'Add a Buyer',
                    table: 'Buyers',
                    model: '\\App\\Models\\Buyer',
                };
                this.keyPeople['B1'] = {
                    ID: this.rawKeyPeopleData['B ID_1'],
                    UUID: this.rawKeyPeopleData['B UUID_1'],
                    Users_ID: this.rawKeyPeopleData['B Users_ID_1'],
                    NameFull: this.rawKeyPeopleData['Buyer_1'] || '',
                    NameFirst: this.rawKeyPeopleData['B NameFirst_1'] || '',
                    NameLast: this.rawKeyPeopleData['B NameLast_1'] || '',
                    Phone: this.rawKeyPeopleData['B Phone_1'] || '',
                    Email: this.rawKeyPeopleData['B Email_1'] || '',
                    role: 'Buyer',
                    position: 2,
                    roleCode: 'b',
                    addText: 'Add a Buyer',
                    table: 'Buyers',
                    model: '\\App\\Models\\Buyer',
                };
                this.keyPeople['S0'] = {
                    ID: this.rawKeyPeopleData['S ID_0'],
                    UUID: this.rawKeyPeopleData['S UUID_0'],
                    Users_ID: this.rawKeyPeopleData['S Users_ID_0'],
                    NameFull: this.rawKeyPeopleData['Seller_0'] || '',
                    NameFirst: this.rawKeyPeopleData['S NameFirst_0'] || '',
                    NameLast: this.rawKeyPeopleData['S NameLast_0'] || '',
                    Phone: this.rawKeyPeopleData['S Phone_0'] || '',
                    Email: this.rawKeyPeopleData['S Email_0'] || '',
                    role: 'Seller',
                    position: 1,
                    roleCode: 's',
                    addText: 'Add a Seller',
                    table: 'Sellers',
                    model: '\\App\\Models\\Seller',
                };
                this.keyPeople['S1'] = {
                    ID: this.rawKeyPeopleData['S ID_1'],
                    UUID: this.rawKeyPeopleData['S UUID_1'],
                    Users_ID: this.rawKeyPeopleData['S Users_ID_1'],
                    NameFull: this.rawKeyPeopleData['Seller_1'] || '',
                    NameFirst: this.rawKeyPeopleData['S NameFirst_1'] || '',
                    NameLast: this.rawKeyPeopleData['S NameLast_1'] || '',
                    Phone: this.rawKeyPeopleData['S Phone_1'] || '',
                    Email: this.rawKeyPeopleData['S Email_1'] || '',
                    role: 'Seller',
                    position: 2,
                    roleCode: 's',
                    addText: 'Add a Seller',
                    table: 'Sellers',
                    model: '\\App\\Models\\Seller',
                };
                this.keyPeople['BA'] = {
                    ID: this.rawKeyPeopleData['BA ID'],
                    UUID: this.rawKeyPeopleData['BA UUID'],
                    Users_ID: this.rawKeyPeopleData['BA Users_ID'],
                    NameFull: this.rawKeyPeopleData['Buyer\'s Agent'] || '',
                    NameFirst: this.rawKeyPeopleData['BA NameFirst'] || '',
                    NameLast: this.rawKeyPeopleData['BA NameLast'] || '',
                    Phone: this.rawKeyPeopleData['BA Phone'] || '',
                    Email: this.rawKeyPeopleData['BA Email'] || '',
                    License: this.rawKeyPeopleData['BA License'] || '',
                    role: 'Buyer\'s Agent',
                    roleCode: 'ba',
                    addText: 'Add a Buyer\'s Agent',
                    table: 'Agents',
                    model: '\\App\\Models\\Agent',
                };
                this.keyPeople['SA'] = {
                    ID: this.rawKeyPeopleData['SA ID'],
                    UUID: this.rawKeyPeopleData['SA UUID'],
                    Users_ID: this.rawKeyPeopleData['SA Users_ID'],
                    NameFull: this.rawKeyPeopleData['Seller\'s Agent'] || '',
                    NameFirst: this.rawKeyPeopleData['SA NameFirst'] || '',
                    NameLast: this.rawKeyPeopleData['SA NameLast'] || '',
                    Phone: this.rawKeyPeopleData['SA Phone'] || '',
                    Email: this.rawKeyPeopleData['SA Email'] || '',
                    License: this.rawKeyPeopleData['SA License'] || '',
                    role: 'Seller\'s Agent',
                    roleCode: 'sa',
                    addText: 'Add a Seller\'s Agent',
                    table: 'Agents',
                    model: '\\App\\Models\\Agent',
                };
                this.keyPeople['BTC'] = {
                    ID: this.rawKeyPeopleData['BTC ID'],
                    UUID: this.rawKeyPeopleData['BTC UUID'],
                    Users_ID: this.rawKeyPeopleData['BTC Users_ID'],
                    NameFull: this.rawKeyPeopleData['Buyer\'s Transaction Coordinator']  || '',
                    NameFirst: this.rawKeyPeopleData['BTC NameFirst'] || '',
                    NameLast: this.rawKeyPeopleData['BTC NameLast'] || '',
                    Phone: this.rawKeyPeopleData['BTC Phone'] || '',
                    Email: this.rawKeyPeopleData['BTC Email'] || '',
                    License: this.rawKeyPeopleData['BTC License'] || '',
                    Company: this.rawKeyPeopleData['BTC Company'] || '',
                    role: 'Buyer\'s TC',
                    roleCode: 'btc',
                    addText: 'Add a Buyer\'s TC',
                    table: 'TransactionCoordinators',
                    model: '\\App\\Models\\TransactionCoordinator',
                };
                this.keyPeople['STC'] = {
                    ID: this.rawKeyPeopleData['STC ID'],
                    UUID: this.rawKeyPeopleData['STC UUID'],
                    Users_ID: this.rawKeyPeopleData['STC Users_ID'],
                    NameFull: this.rawKeyPeopleData['Seller\'s Transaction Coordinator'] || '',
                    NameFirst: this.rawKeyPeopleData['STC NameFirst'] || '',
                    NameLast: this.rawKeyPeopleData['STC NameLast'] || '',
                    Phone: this.rawKeyPeopleData['STC Phone'] || '',
                    Email: this.rawKeyPeopleData['STC Email'] || '',
                    License: this.rawKeyPeopleData['STC License'] || '',
                    Company: this.rawKeyPeopleData['STC Company'] || '',
                    role: 'Seller\'s TC',
                    roleCode: 'stc',
                    addText: 'Add a Seller\'s TC',
                    table: 'TransactionCoordinators',
                    model: '\\App\\Models\\TransactionCoordinator',
                };
                this.keyPeople['E'] = {
                    ID: this.rawKeyPeopleData['E ID'],
                    UUID: this.rawKeyPeopleData['E UUID'],
                    Users_ID: this.rawKeyPeopleData['E Users_ID'],
                    NameFull: this.rawKeyPeopleData['Escrow'] || '',
                    NameFirst: this.rawKeyPeopleData['E NameFirst'] || '',
                    NameLast: this.rawKeyPeopleData['E NameLast'] || '',
                    Phone: this.rawKeyPeopleData['E Phone'] || '',
                    Email: this.rawKeyPeopleData['E Email'] || '',
                    License: this.rawKeyPeopleData['E License'] || '',
                    Company: this.rawKeyPeopleData['E Company'] || '',
                    role: 'Escrow',
                    roleCode: 'e',
                    addText: 'Add a Escrow Officer / Company',
                    table: 'Escrows',
                    model: '\\App\\Models\\Escrow',
                };
                this.keyPeople['L'] = {
                    ID: this.rawKeyPeopleData['L ID'],
                    UUID: this.rawKeyPeopleData['L UUID'],
                    Users_ID: this.rawKeyPeopleData['L Users_ID'],
                    NameFull: this.rawKeyPeopleData['Loan'] || '',
                    NameFirst: this.rawKeyPeopleData['L NameFirst'] || '',
                    NameLast: this.rawKeyPeopleData['L NameLast'] || '',
                    Phone: this.rawKeyPeopleData['L Phone'] || '',
                    Email: this.rawKeyPeopleData['L Email'] || '',
                    License: this.rawKeyPeopleData['L License'] || '',
                    Company: this.rawKeyPeopleData['L Company'] || '',
                    role: 'Lender',
                    roleCode: 'l',
                    addText: 'Add a Lender / Company',
                    table: 'Loans',
                    model: '\\App\\Models\\Loan',
                };
                this.keyPeople['T'] = {
                    ID: this.rawKeyPeopleData['T ID'],
                    UUID: this.rawKeyPeopleData['T UUID'],
                    Users_ID: this.rawKeyPeopleData['T Users_ID'],
                    NameFull: this.rawKeyPeopleData['Title'] || '',
                    NameFirst: this.rawKeyPeopleData['T NameFirst'] || '',
                    NameLast: this.rawKeyPeopleData['T NameLast'] || '',
                    Phone: this.rawKeyPeopleData['T Phone'] || '',
                    Email: this.rawKeyPeopleData['T Email'] || '',
                    License: this.rawKeyPeopleData['T License'] || '',
                    Company: this.rawKeyPeopleData['T Company'] || '',
                    role: 'Title Officer',
                    roleCode: 't',
                    addText: 'Add a Title Officer / Company',
                    table: 'Titles',
                    model: '\\App\\Models\\Title',
                };
                this.contentReady = true;
            },
        },
        mounted() {
            this.fetchKeyPeople();
            this.$on('keyPersonUpdated', data => {
                if (this.version == 2)
                {
                    genericLoading();
                    location.reload();
                }
                else this.fetchKeyPeople();
            });
            this.$store.subscribe((mutation, state) => {
                switch (mutation.type)
                {
                    case 'setUserData':
                        this.userData = state.userData;
                        break
                }
            });
        }
    }
</script>

<style scoped>
    .form-control[readonly]{
        background: white;
    }
    .add-person{
        padding-left: 10px;
        cursor: pointer;
    }
</style>