<template>
    <div id="tcs-modal" class="tcs-modal modal fade in" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="dim">
                    <div class="spinner-kero"><i class="fas fa-spinner fa-spin"></i></div>
                </div>
                <div class="modal-body">
                    <div class="row o-field-row">
                        <div class="col-sm-9">
                            <h1 class="tc-title">{{role == 'btc' ? 'Add/Edit Buyer\'s Transaction Coordinator': 'Add/Edit Seller\'s Transaction Coordinator'}}</h1>
                        </div>
                        <div class="col-sm-3 text-right">
                            <button type="button" data-dismiss="modal" class="close close-tcs-model" v-on:click="closeModal()">
                                <i class="fas fa-times"></i>
                            </button>
                        </div>
                    </div>
                    <div class="row o-field-row">
                        <!-- Search Div -->

                        <div class="col-md-12 search-container col-xs-12 col-sm-12 text-left">
                            <form action="" id="formSearchBS">

                                <div class="col-md-1 text-right" style="padding-right: 2px;padding-top: 7px;"><i class="fas fa-search" style="color: #c94a49"></i></div>
                                <div class="col-md-12 col-xs-12 field-box">
                                    <input type="hidden" name="Transactions_ID" :value="transactionID">
                                    <input type="hidden" name="_table" value="TransactionCoordinators">
                                    <input type="hidden" name="_model" value="\App\Models\TransactionCoordinator">
                                    <input type="hidden" name="_pickedID" value="" id="_pickedID">
                                    <input type="hidden" name="_roleCode" v-model="role" id="_roleCode">
                                    <input v-model="search_query" name="search_query" autocomplete="off" placeholder="Search existing transaction coordinators" type="text" id="search_person" >
                                    <search-person
                                            ref="tcSearch"
                                            :token="token"
                                            table="TransactionCoordinators"
                                            model="\App\Models\TransactionCoordinator"
                                            :role-code="role"
                                    ></search-person>
                                    <ul class="col-md-12 col-sm-12 col-xs-12 search_list" id="search_list"> </ul>
                                    <i id="search_person_spinner" class="search_spinner fas fa-circle-notch fa-spin"></i>
                                </div>


                                <button style="height:37px;" v-on:click="searchTC()" type="button" :class="searchButtonClass"><i class="fas fa-search"></i></button>

                            </form>
                        </div>
                        <!-- End Search Div -->
                    </div>
                    <div class="row o-field-row">
                        <div class=" col-md-4 form-group with-label ">
                            <label for="NameFirst" class="label-control" style="text-transform: uppercase;">First Name <span class="important">*</span></label>
                            <input v-model="selectedTC.NameFirst" name="NameFirst" class="padding-left-0 text-field" placeholder="Enter your first Name">
                            <span v-if="errors.NameFirst" class="col-md-12 text-center errors text-left">{{errors.NameFirst[0] || ''}}</span>
                        </div>
                        <div class=" col-md-4 form-group with-label">
                            <label for="NameLast" class="label-control" style="text-transform: uppercase;">Last Name <span class="important">*</span></label>
                            <input v-model="selectedTC.NameLast" name="NameLast" class="text-field padding-left-0" placeholder="Enter your last Name">
                            <span v-if="errors.NameLast" class="col-md-12 text-center errors text-left">{{errors.NameLast[0] || ''}}</span>
                        </div>
                        <div class=" col-md-4 form-group with-label">
                            <label for="Company" class="label-control" style="text-transform: uppercase;">Company Name<span class="important">*</span></label>
                            <input v-model="selectedTC.Company" name="Company" class="text-field padding-left-0" placeholder="">
                            <span v-if="errors.Company" class="col-md-12 text-center errors text-left">{{errors.Company[0] || ''}}</span>
                        </div>
                    </div>
                    <div class="row o-field-row">
                        <div class=" col-md-4 form-group with-label ">
                            <label for="PrimaryPhone" class="label-control" style="text-transform: uppercase;">Cell #<span class="important">*</span></label>
                            <input v-model="selectedTC.PrimaryPhone" name="PrimaryPhone" maxlength="14" class="padding-left-0 text-field js_phoneMask" placeholder="(###)-###-####">
                            <span v-if="errors.PrimaryPhone" class="col-md-12 text-center errors text-left">{{errors.PrimaryPhone[0] || ''}}</span>
                        </div>
                        <div class=" col-md-4 form-group with-label">
                            <label for="License" class="label-control" style="text-transform: uppercase;">License<span class=""> #</span></label>
                            <input v-model="selectedTC.License" name="License" class="text-field padding-left-0" placeholder="#">
                            <span v-if="errors.License" class="col-md-12 text-center errors text-left">{{errors.License[0] || ''}}</span>
                        </div>
                        <div class=" col-md-4 form-group with-label">
                            <label for="Email" class="label-control" style="text-transform: uppercase;">Email<span class="important">*</span></label>
                            <input v-model="selectedTC.Email" name="Email" class="text-field padding-left-0" placeholder="">
                            <span v-if="errors.Email" class="col-md-12 text-center errors text-left">{{errors.Email[0] || ''}}</span>
                        </div>
                    </div>
                    <div class="row o-field-row">
                        <div class=" col-md-6 form-group with-label">
                            <label for="Address" class="label-control" style="text-transform: uppercase;">Address <span class="important"></span></label>
                            <input v-model="address" name="Address" class="padding-left-0 text-field" placeholder="Enter Current Address">
                        </div>
                        <div class=" col-md-3 form-group with-label">
                            <label for="Unit" class="label-control" style="text-transform: uppercase;">Unit <span class="important"></span></label>
                            <input v-model="selectedTC.Unit" name="Unit" class="padding-left-0 text-field" placeholder="">
                            <span v-if="errors.Unit" class="col-md-12 text-center errors text-left">{{errors.Unit[0] || ''}}</span>
                        </div>
                    </div>
                    <div class="col-sm-12 row" style="margin-bottom: 10px !important;">
                        Notes
                        <textarea
                                v-model="selectedTC.Notes"
                                class="form-control z-depth-1 modal-notes"
                                name="Notes"
                                rows="1"
                                cols="85"
                                placeholder="Write something here..."></textarea>
                    </div>
                    <div class="row o-field-row text-left">
                        <div class="col-sm-12">
                            <button v-on:click="saveTCData()" type="button" class="save-add-edit-tc btn btn-teal" data-tc-url-input="" data-id="">
                                {{role == 'btc' ? 'Save Buyer\'s Transaction Coordinator' : 'Save Seller\'s Transaction Coordinator'}}
                            </button>
                            <button v-on:click="switchTC(role == 'btc' ? 'stc' : 'btc', true)" type="button" class="save-add-edit-tc btn btn-teal" data-tc-url-input="" data-id="">
                                {{role == 'btc' ? 'Add/Edit Seller\'s Transaction Coordinator' : 'Add/Edit Buyer\'s Transaction Coordinator'}}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "modalTC",
        props: {
            transactionID: {
                type: String,
                default: '',
            },
            token: {
                type:String,
                default: '',
            }
        },
        computed: {
            tcAddress() {
                let address = ((this.selectedTC.Street1 || '') + ' ' + (this.selectedTC.Street2 || '')) + ' ' +
                        (this.selectedTC.City || '') + ', ' +
                        (this.selectedTC.State || '') + ' ' +
                        (this.selectedTC.Zip || '');
                address = address.replace(/\s+/g,' ').trim();
                return address == ',' ? '' : address;

            },
            searchButtonClass(){
                return {
                    'o-teal-btn select-button' : this.search_query.length > 2,
                    'o-teal-btn select-button deactivated-noevents' : this.search_query.length <= 2
                }
            }
        },
        data(){
            return {
                role: 'btc',
                stc: {},
                btc: {},
                selectedTC: {},
                address: '',
                errors: {},
                changesSaved: false,
                search_query: '',
            }
        },
        methods: {
            getHostUrl(){
                return getHostURL();
            },
            closeModal(){
                if (this.changesSaved)
                {
                    genericLoading();
                    location.reload();
                }
            },
            searchTC(){
                this.$refs.tcSearch.$emit('executeSearch', this.search_query);
            },
            saveTCData(){
                this.errors = {};
                let route = correctVuexRouteURL(this.$store.getters.routeName('saveAux'));
                if (!route) genericError('Unable to find saveAux route. Error code: tcr-002');
                else
                {
                    let data = {
                        _token:             this.token,
                        Transactions_ID:    this.transactionID,
                        ID:                 this.selectedTC.ID,
                        NameFirst:          this.selectedTC.NameFirst,
                        NameLast:           this.selectedTC.NameLast,
                        PrimaryPhone:       this.selectedTC.PrimaryPhone,
                        Email:              this.selectedTC.Email,
                        License:            this.selectedTC.License,
                        Unit:               this.selectedTC.Unit,
                        Company:            this.selectedTC.Company,
                        Address:            this.address,
                        _roleCode:          this.role,
                    };
                    axios.post(route, data).then((r) => {
                        let status = r.data.status;
                        if (status == 'success')
                        {
                            this.changesSaved = true;
                            genericSuccess((this.role == 'btc' ? 'Buyer\'s ' : 'Seller\'s ') + 'Transaction Coordinator Successfully Saved!');
                            this.getTCData();
                        }
                    }).catch((r) => {
                        let status = r.data.status;
                        if (status == 'AddressError') genericError('Invalid Address');
                        else if (status == 'fail') genericError(r.data.message || 'An error has occurred. Error code: st-0001.');

                        if (r.data.errors) this.errors = r.data.errors;
                    });
                }
            },
            getTCData(){
                let route = correctVuexRouteURL(this.$store.getters.routeName('getTransactionTCData'));
                if (!route) genericError('Unable to fetch TC data. Error code: tcr-001');
                else
                {
                    route = route.replace(':transactionID', this.transactionID);
                    axios.get(route).then((r) => {
                        let status = r.data.status;
                        if(status == 'success')
                        {
                            this.stc = r.data.stc;
                            this.btc = r.data.btc;
                            this.switchTC(this.role);
                        }
                        else if(status == 'fail') genericError(r.data.message);
                        else genericError();
                    });
                }
            },
            switchTC(tcType){
                this.role = tcType;
                this.selectedTC = this[tcType];
                this.address = this.tcAddress;
            },
        },
        mounted() {
            $('.js_phoneMask').mask('(###)-###-####');
            this.getTCData();

            this.$on('searchPersonChosenData', data => {
                this.selectedTC = data;
            });
        }
    }
</script>

<style scoped>
    .errors{
        display: inline !important;
    }
</style>