<template>
    <div class="EditDetailsBody" id="js__PropertyDetails">
        <h5 class="EditHeadingOne">Property Details</h5>
        <hr style="height: 3px; background-color: #EBEBEB; margin: 0 8px;">
        <form class="EditDetailsForm">
            <div class="form-group row">
                <label class="col-sm-3 col-form-label" for="PropertyAddress">Property Address:</label>
                <div class="col-sm-9">
                    <input
                            ref="PropertyAutoComplete"
                            autocomplete="off"
                            v-model="propertyData.Address"
                            type="text"
                            name="propertyaddress"
                            id="PropertyAddress"
                            class="form-control InputPropertyAddress"
                    >
                    <span class="help-block otc-red">{{errors.PropertyAddress || ''}}</span>
                    <span class="help-block otc-red">{{errors.State || ''}}</span>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label" for="AssessorParcel">Assessor's Parcel #</label>
                <div class="col-sm-6">
                    <input
                            v-model="propertyData.ParcelNumber"
                            type="text"
                            name="assessorparcel"
                            id="AssessorParcel"
                            class="form-control"
                            style="padding-left: 30px;"
                    >
                    <span class="help-block otc-red">{{errors.ParcelNumber || ''}}</span>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label" for="PropertyType">Property Type</label>
                <div class="col-sm-6">
                    <div class="dropdown">
                        <button class="btn btn-white form-control dropdown-toggle EditFormDButton text-capitalize" data-toggle="dropdown">{{propertyTypeDisplay}} <i class="fas fa-caret-down"></i></button>
                        <span class="help-block otc-red">{{errors.PropertyType || ''}}</span>
                        <div class="dropdown-menu">
                            <a
                                    v-for="type in lookupTables.lu_PropertyTypes"
                                    href="#"
                                    class="dropdown-item"
                                    v-on:click.prevent="editPropertyData('PropertyType', type.Value)"
                            >
                                {{type.Display}}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label" for="YearBuilt">Year Built</label>
                <div class="col-sm-6">
                    <input
                            v-model="propertyData.YearBuilt"
                            type="text"
                            id="YearBuilt"
                            class="form-control"
                            style="padding-left: 30px;"
                    >
                    <span class="help-block otc-red">{{errors.YearBuilt || ''}}</span>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label" for="HOA">Has an HOA</label>
                <div class="col-sm-6">
                    <div class="dropdown">
                        <button class="btn btn-white form-control dropdown-toggle EditFormDButton" data-toggle="dropdown" id="HOA">{{propertyData.hasHOA ? 'Yes' : 'No'}} <i class="fas fa-caret-down"></i></button>
                        <span class="help-block otc-red">{{errors.hasHOA || ''}}</span>
                        <div class="dropdown-menu">
                            <a href="#" class="dropdown-item" v-on:click.prevent="editPropertyData('hasHOA', 1)">Yes</a>
                            <a href="#" class="dropdown-item" v-on:click.prevent="editPropertyData('hasHOA', 0)">No</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label" for="SepticTank">Has a Septic Tank:</label>
                <div class="col-sm-6">
                    <div class="dropdown">
                        <button class="btn btn-white form-control dropdown-toggle EditFormDButton" data-toggle="dropdown" id="SepticTank">{{propertyData.hasSeptic ? 'Yes' : 'No'}} <i class="fas fa-caret-down"></i></button>
                        <span class="help-block otc-red">{{errors.hasSeptic || ''}}</span>
                        <div class="dropdown-menu">
                            <a href="#" class="dropdown-item" v-on:click.prevent="editPropertyData('hasSeptic', 1)">Yes</a>
                            <a href="#" class="dropdown-item" v-on:click.prevent="editPropertyData('hasSeptic', 0)">No</a>
                        </div>
                    </div>
                </div>
            </div><br>
            <div class="form-group row ">
                <div class="col-sm-6">

                </div>
                <div class="col-sm-6 row changeControlButtons">
                    <div class="col-xs-12 col-sm-6">
                        <a href="#/transaction/details/property" class="EditAnchorTwo" v-on:click="getPropertyData()">Cancel Changes</a>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <button class="btn EditButtonThree" type="button" v-on:click="saveChanges()">SAVE CHANGES</button>
                    </div>
                </div>
            </div>
        </form>
        <address-override
            ref="addressOverrideModal"
            :address.sync="propertyData.Address"
        >
        </address-override>
    </div>
</template>

<script>
    export default {
        name: "PropertyDetails",
        props: {
            token: {
                type: String,
                default: '',
            },
            transactionID: {
                type: Number,
                default: 0,
            }
        },
        computed: {
            propertyTypeDisplay(){
                if (this.lookupTables.hasOwnProperty('lu_PropertyTypes'))
                {
                    let propertyType = this.lookupTables.lu_PropertyTypes.find(type => type.Value == this.propertyData.PropertyType);
                    if (propertyType) return propertyType.Display || '';
                    return '';
                }
                return '';
            }
        },
        watch: {
            propertyData: {
                handler(val){
                    if (val.YearBuilt)
                    {
                        let yearBuilt = val.YearBuilt;
                        yearBuilt = yearBuilt.toString().replace(/[^0-9]/g,'');
                        const maxYearsBeyondCurrent = 1;
                        let year = moment().year() + maxYearsBeyondCurrent;
                        let length = val.length;
                        const minMaxDigits = 4;
                        yearBuilt = parseInt(yearBuilt);
                        if (yearBuilt > year)
                            this.propertyData.YearBuilt = year;
                        if (length > minMaxDigits)
                            this.propertyData.YearBuilt = yearBuilt.substring(0, minMaxDigits);
                    }
                },
                deep: true,
            },
            errors: {
                handler(val){
                    if (val.PropertyAddress)
                        if (this.$refs.addressOverrideModal)
                            this.$refs.addressOverrideModal.$emit('toggleAddressOverride');
                }
            }
        },
        data(){
            return {
                propertyData:       {},
                lookupTables:       this.$store.getters.getLookupTables(),
                errors:             {},
                autocomplete:       {},
                activeStates:       this.$store.getters.getActiveStates(),
                addressClone:       '',
            }
        },
        methods: {
            getPropertyData(){
                genericLoading();
                let route = correctVuexRouteURL(this.$store.getters.routeName('ajax.converter'));
                if (!route) genericError('Unable to find ajax converter route. Error code: gpd-001');
                else
                {
                    axios.post(route, {
                        class: 'App\\Combine\\TransactionCombine2',
                        isStatic: 1,
                        method: 'getPropertySummary',
                        args: [
                            this.transactionID
                        ]
                    }).then((r) => {
                        console.log(r);
                        Swal2.close();
                        let status = r.data.status || false;
                        if (status == 'success')
                        {
                            detectAndChangeToNumeric(r.data.data);
                            this.propertyData   = r.data.data;
                            this.addressClone   = this.propertyData.Address;
                        }
                        else if (status == 'fail') genericError(r.data.message);
                        else genericError();
                    });
                }
            },
            editPropertyData(property, val){
                this.propertyData[property] = val;
            },
            saveChanges(){
                genericLoading('Saving...');
                this.errors = {};
                let data = {
                    ...{
                        singleInput: 0,
                        Transactions_ID: this.transactionID,
                        PropertyAddress: this.propertyData.Address
                    },
                    ...this.propertyData,
                };
                axios.post(route('saveProperty').url(), data).then(r => {
                    console.log({
                        savePropertyResponse: r,
                    });
                    if (Swal2.isVisible()) Swal2.close();
                    let status = r.data.status || false;
                    if (status == 'success')
                    {
                        this.$store.dispatch('setTransaction', this.transactionID);
                        genericSuccess('Property details saved!');
                    }
                    else if (status == 'fail')
                    {
                        genericError(r.data.message || 'An unknown error has occurred.');
                    } else genericError();
                }).catch(err => {
                    console.log({
                        savePropertyErrorResponse: err,
                    });
                    if (Swal2.isVisible()) Swal2.close();
                    let status = err.data.status || false;
                    if (status == 'AddressError') this.errors = err.data;
                    else if (err.data.errors) this.errors = err.data.errors;
                });
            },
            getYearBuiltChoices(startingYear){
                return getYearsSince(startingYear);
            },
        },
        mounted() {
            this.getPropertyData();
            this.$on('postOverrideSave', data => {
                this.propertyData.Street1   = data.street;
                this.propertyData.Street2   = '';
                this.propertyData.Unit      = data.unit || '';
                this.propertyData.City      = data.city;
                this.propertyData.State     = data.state;
                this.propertyData.Zip       = data.zip;
                this.propertyData.Address   = data.address;
                this.$refs.addressOverrideModal.$emit('toggleAddressOverride');
                this.saveChanges();
            });
            this.$on('updateLookupTables', lookupTables => {
                this.lookupTables = lookupTables;
            });
            this.autocomplete = new google.maps.places.Autocomplete(
                (this.$refs.PropertyAutoComplete),
                {types: ['geocode']});
            this.autocomplete.addListener('place_changed', () => {
                let place = this.autocomplete.getPlace();
                let components = place.address_components;
                let state = components.filter(c => c.types.includes('administrative_area_level_1'));
                state = state[0].short_name;
                if (!this.activeStates.includes(state)) unsupportedStateWarning(this.activeStates, state);
                this.propertyData.Address = place.formatted_address;
            });
        }
    }
</script>

<style scoped>

</style>