<template>
    <div class="EditDetailsBody EditDetailsBodyTwo" id="TransactionDetails" v-if="contentReady">
        <h5 class="EditHeadingOne">Transaction Details</h5>
        <hr style="height: 3px; background-color: #EBEBEB; margin: 0 8px;">
        <form class="EditDetailsForm">
            <div class="form-group row">
                <label class="col-sm-3 col-form-label" for="PurchasePrice">
                    Purchase Price:
                </label>
                <input
                        v-model="transactionData.PurchasePrice"
                        type="text"
                        name="purchase price"
                        id="PurchasePrice"
                        class="col-sm-6"
                        style="padding-left: 30px;"
                >
            </div>
            <div v-if="errors.EscrowLength">
                <span class="otc-red">{{errors.EscrowLength[0]}}</span>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label" for="">
                    Close of Escrow:
                </label>
                <input
                        v-model="dateEscrowCloseClone"
                        type="date"
                        name="date"
                        class="col-sm-6"
                        :style="calendarImageStyle()"
                >
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label" for="">
                    Transaction Side:
                </label>
                <div class="col-sm-6">
                    <div class="dropdown">
                        <button class="btn btn-white form-control dropdown-toggle EditFormDButton disabled" data-toggle="dropdown">{{transactionSide}}</button>
                        <div class="dropdown-menu">
                            <a v-on:click.prevent="editTransactionData('Side', 'b')" href="#" class="dropdown-item">Buyer's Side</a>
                            <a v-on:click.prevent="editTransactionData('Side', 's')" href="#" class="dropdown-item">Seller's Side</a>
                            <a v-on:click.prevent="editTransactionData('Side', 'bs')" href="#" class="dropdown-item">Both</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label" for="">
                    Contract Date:
                </label>
                <input
                        v-model="transactionData.DateOfferPrepared"
                        type="date"
                        name="date"
                        class="col-sm-6"
                        :style="calendarImageStyle()"
                >
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label" for="">
                    Acceptance Date:
                </label>
                <input
                        v-model="dateAcceptanceClone"
                        type="date"
                        name="date"
                        class="col-sm-6"
                        :style="calendarImageStyle()"
                >
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label" for="">
                    Loan Type:
                </label>
                <div class="col-sm-6">
                    <div class="dropdown">
                        <button
                                class="btn btn-white form-control dropdown-toggle EditFormDButton text-capitalize"
                                data-toggle="dropdown"
                        >
                            {{lookupTables.lu_LoanTypes.find(t => t.Value.toLowerCase() == transactionData.LoanType.toLowerCase()).Display}} <i class="fas fa-caret-down"></i>
                        </button>
                        <div class="dropdown-menu">
                            <a
                                    v-for="type in lookupTables.lu_LoanTypes"
                                    href="#"
                                    class="dropdown-item"
                                    v-on:click.prevent="editTransactionData('LoanType', type.Value)"
                            >
                                {{type.Display}}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label" for="">
                    Sale Type:
                </label>
                <div class="col-sm-6">
                    <div class="dropdown">
                        <button
                                class="btn btn-white form-control dropdown-toggle EditFormDButton text-capitalize"
                                data-toggle="dropdown"
                        >
                            {{lookupTables.lu_SaleTypes.find(t => t.Value.toLowerCase() == transactionData.SaleType.toLowerCase()).Display}} <i class="fas fa-caret-down"></i>
                        </button>
                        <div class="dropdown-menu">
                            <a
                                    v-for="type in lookupTables.lu_SaleTypes"
                                    href="#"
                                    class="dropdown-item"
                                    v-on:click.prevent="editTransactionData('SaleType', type.Value)"
                            >
                                {{type.Display}}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label" for="" style="font-size: 14px !important;">
                    Is seller going to rent after close of escrow:
                </label>
                <div class="col-sm-6">
                    <div class="dropdown">
                        <button
                                class="btn btn-white form-control dropdown-toggle EditFormDButton"
                                data-toggle="dropdown"
                        >
                            {{transactionData.willRentBack ? 'Yes' : 'No'}} <i class="fas fa-caret-down"></i>
                        </button>
                        <div class="dropdown-menu">
                            <a v-on:click.prevent="editTransactionData('willRentBack', 1)" href="#" class="dropdown-item">Yes</a>
                            <a v-on:click.prevent="editTransactionData('willRentBack', 0)" href="#" class="dropdown-item">No</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group row EditDaysInput" v-if="transactionData.willRentBack">
                <label class="col-sm-3 col-form-label" for="" style="font-size: 14px !important;">
                    How Long?
                </label>
                <input v-model="rentBackTimeNum" type="text" placeholder="eg. 25" class="col-sm-3">
                <div class="dropdown col-sm-3" style="padding-right: 0;">
                    <button
                            class="btn btn-white form-control dropdown-toggle EditFormDButton"
                            data-toggle="dropdown"
                    >
                        {{rentBackTimeDisplay}} <i class="fas fa-caret-down"></i>
                    </button>
                    <div class="dropdown-menu">
                        <a href="#" class="dropdown-item" v-on:click.prevent="rentBackTimeFrame = 'd'">Days</a>
                        <a href="#" class="dropdown-item" v-on:click.prevent="rentBackTimeFrame = 'm'">Months</a>
                        <a href="#" class="dropdown-item" v-on:click.prevent="rentBackTimeFrame = 'y'">Years</a>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label" for="" style="font-size: 14px !important;">
                    Will tenants remain after close of escrow:
                </label>
                <div class="col-sm-6">
                    <div class="dropdown">
                        <button class="btn btn-white form-control dropdown-toggle EditFormDButton" data-toggle="dropdown">{{transactionData.willTenantsRemain ? 'Yes' : 'No'}} <i class="fas fa-caret-down"></i></button>
                        <div class="dropdown-menu">
                            <a href="#" class="dropdown-item" v-on:click.prevent="editTransactionData('willTenantsRemain', 1)">Yes</a>
                            <a href="#" class="dropdown-item" v-on:click.prevent="editTransactionData('willTenantsRemain', 0)">No</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group row EditDaysInput" v-if="transactionData.willTenantsRemain">
                <label class="col-sm-3 col-form-label" for="" style="font-size: 14px !important;">
                    How Long?
                </label>
                <input v-model="tenantRemainTimeNum" type="text" placeholder="eg. 25" class="col-sm-3">
                <div class="dropdown col-sm-3" style="padding-right: 0;">
                    <button
                            class="btn btn-white form-control dropdown-toggle EditFormDButton"
                            data-toggle="dropdown"
                    >
                        {{tenantRemainTimeDisplay}} <i class="fas fa-caret-down"></i>
                    </button>
                    <div class="dropdown-menu">
                        <a href="#" class="dropdown-item" v-on:click.prevent="tenantRemainTimeFrame = 'd'">Days</a>
                        <a href="#" class="dropdown-item" v-on:click.prevent="tenantRemainTimeFrame = 'm'">Months</a>
                        <a href="#" class="dropdown-item" v-on:click.prevent="tenantRemainTimeFrame = 'y'">Years</a>
                    </div>
                </div>
            </div>
            <br>
            <div class="form-group row">
                <div class="col-sm-6">

                </div>
                <div class="col-sm-6">
                    <a href="#" class="EditAnchorTwo" v-on:click.prevent="getTransactionData()">Cancel Changes</a>
                    <button class="btn EditButtonThree" type="button" v-on:click.prevent="saveChanges()">SAVE CHANGES</button>
                </div>
            </div>
        </form>
    </div>
</template>

<script>
    import moment from 'moment';
    export default {
        name: "TransactionDetails",
        components: {
            moment,
        },
        props: {
            token: {
                type: String,
                default: '',
            },
            transactionID: {
                type: Number,
                default: 0,
            }
        },
        computed: {
            purchasePrice(){
                return this.transactionData.PurchasePrice;
            },
            transactionSide(){
                let side = this.transactionData.Side;
                if (side == 'b') return 'Buyer\'s Side';
                else if (side == 's') return 'Seller\'s Side';
                else if (side == 'bs') return 'Both Sides';
                else return '';
            },
            rentBackTimeDisplay(){
                switch(this.rentBackTimeFrame)
                {
                    case 'd':
                        return 'Days';
                    case 'm':
                        return 'Months';
                    case 'y':
                        return 'Years';
                    default:
                        return '';
                }
            },
            tenantRemainTimeDisplay(){
                switch(this.tenantRemainTimeFrame)
                {
                    case 'd':
                        return 'Days';
                    case 'm':
                        return 'Months';
                    case 'y':
                        return 'Years';
                    default:
                        return '';
                }
            }
        },
        watch: {
            purchasePrice: {
                handler(val){
                    this.transactionData.PurchasePrice = '$' + currencyFormat(val.toString());
                }
            },
            rentBackTimeFrame: {
                handler(val){
                    this.transactionData.RentBackLength = this.rentBackTimeNum+this.rentBackTimeFrame;
                }
            },
            dateAcceptanceClone: {
                handler(){
                    this.transactionData.EscrowLength = daysBetweenTwoDates(this.dateAcceptanceClone,this.dateEscrowCloseClone);
                },
            },
            dateEscrowCloseClone: {
                handler(val, oldVal){
                    if (!isBusinessDayFunction(val)) this.dateEscrowCloseClone = moment(moveToBusinessDay(val)).format('YYYY-MM-DD');
                    this.transactionData.EscrowLength = daysBetweenTwoDates(this.dateAcceptanceClone,this.dateEscrowCloseClone);
                },
            },
            rentBackTimeNum: {
                handler(val){
                    this.rentBackTimeNum = val.replace(/\D/, '');
                    this.transactionData.RentBackLength = this.rentBackTimeNum+this.rentBackTimeFrame;
                }
            },
            tenantRemainTimeNum: {
                handler(val){
                    this.tenantRemainTimeNum = val.replace(/\D/, '');
                    this.transactionData.TenantsRemainLength = this.tenantRemainTimeNum+this.tenantRemainTimeFrame;
                },
            },
            tenantRemainTimeFrame: {
                handler(val){
                    this.transactionData.TenantsRemainLength = this.tenantRemainTimeNum+this.tenantRemainTimeFrame;
                }
            },
        },
        data(){
            return {
                transactionData:        {},
                contentReady:           false,
                lookupTables:           this.$store.getters.getLookupTables(),
                rentBackTimeFrame:      'd',
                rentBackTimeNum:        0,
                tenantRemainTimeFrame:  'd',
                tenantRemainTimeNum:    0,
                recalculateTimeline:    'false',
                dateEscrowCloseClone:   null,
                dateAcceptanceClone:    null,
                errors:                 {},
                timeline:               {},
                ajaxConverterRoute:     correctVuexRouteURL(this.$store.getters.routeName('ajax.converter')),
            }
        },
        methods: {
            getTransactionData(){
                genericLoading();
                let route = correctVuexRouteURL(this.$store.getters.routeName('ajax.converter'));
                if (!route) genericError('Unable to find ajax converter route. Error code: ajc-0002');
                else
                {
                    axios.post(route, {
                        class: 'App\\Combine\\TransactionCombine2',
                        isStatic: 1,
                        method: 'getDetails',
                        args: [
                            this.transactionID
                        ]
                    }).then((r) => {
                        Swal2.close();
                        console.log({
                            getDetailsResponse: r,
                        });
                        let status = r.data.status || false;
                        if (status == 'success')
                        {
                            detectAndChangeToNumeric(r.data.data);
                            this.transactionData    = r.data.data;
                            if (this.transactionData.RentBackLength)
                            {
                                this.rentBackTimeFrame  = this.transactionData.RentBackLength.replace(/\d+/g, '') || 'd';
                                this.rentBackTimeNum    = this.transactionData.RentBackLength.replace(/[a-zA-Z]/g, '');
                            }
                            if (this.transactionData.TenantsRemainLength)
                            {
                                this.tenantRemainTimeFrame  = this.transactionData.TenantsRemainLength.replace(/\d+/g, '') || 'd';
                                this.tenantRemainTimeNum    = this.transactionData.TenantsRemainLength.replace(/[a-zA-Z]/g, '');
                            }
                            this.transactionData.DateCloseEscrow = this.$root.addDays(
                                this.transactionData.DateAcceptance,
                                this.transactionData.EscrowLength,
                                1,
                                'YYYY-MM-DD'
                            );
                            this.dateEscrowCloseClone   = this.transactionData.DateCloseEscrow;
                            this.dateAcceptanceClone    = this.transactionData.DateAcceptance;
                            this.contentReady           = true;
                            this.recalculateTimeline    = false;
                        }
                    });
                }
            },
            editTransactionData(property, val){
                this.transactionData[property] = val;
            },
            saveChanges(){
                let v = this;
                function proceedFunction() {
                    v.transactionData.DateAcceptance = v.dateAcceptanceClone;
                    v.executeSave();
                }
                if (this.dateAcceptanceClone != this.transactionData.DateAcceptance)
                    recalculateTimeline(this.transactionID, this.dateAcceptanceClone, proceedFunction);
                else v.executeSave();
            },
            calendarImageStyle(){
                return 'background-image: url(\''+getHostURL()+'images/calendarImage.png\')';
            },
            executeSave(){
                this.errors = {};
                this.transactionData.PurchasePrice = this.transactionData.PurchasePrice.replace(/\D/g, '');
                let data = {
                    ...{
                        recalculateDates: this.recalculateTimeline,
                    },
                    ...this.transactionData
                };
                axios.post(route('saveDetails').url(), data).then((r) => {
                    console.log({
                        saveDetailsResponse: r,
                    });
                    let status = r.data.status || false;
                    if (status == 'success')
                    {
                        genericSuccess('Transaction Settings Saved!', 0);
                        this.getTransactionData();
                    }
                }).catch((err) => {
                    console.log({
                        saveDetailsError: err,
                    });
                    if (err.response.data.errors)
                    {
                        this.errors = err.response.data.errors;
                    }
                });
            },
        },
        mounted() {
            this.getTransactionData();
            this.$on('updateLookupTables', lookupTables => {
               this.lookupTables = lookupTables;
            });
        }
    }
</script>

<style scoped>

</style>