/******** Colors  *****/
$teal           : #21d7d1;
$red            : #ca4544;
$orange         : #FF8C00;
$gray           : #e4e4e4;
$gray-background: #eeeeee;
$disabled       : #dddddd;
$green          : #08b004;

.teal{
  color: $teal !important;
}

.gray{
  color: $gray !important;
}

.gray-background {
  background: $gray-background !important;
}

.teal-background {
  background: $teal !important;
}

.otc-red {
  color: $red;
}

.border-red {
  border: 1px solid $red;
}

.green{
    color:$green;
}

.light-blue-background{
  background: #D5EEF0 !important;
}

.white-text{
  color: white !important;
}