/******** Search ********/
.search-container{
  padding-top: 30px;
  padding-bottom: 40px;
  border-radius: 8px;
  background-color: #eeeeee;
  margin-bottom: 5px;
}
.search-container .field-box{
  width: 70%;
  @include LeftRightPadding();
  margin-right: 10px;
}
.search-container .field-box input{
  width: 100%;
  height: 37px;
  border-radius: 5px;
  border: 1px solid $red;
  margin-left: 3px;
  margin-right: 5px;
  padding-left: 10px;
}

#search_person_spinner{
  font-size: 20px;
  position: absolute;
  top: 20%;
  left: 93%;
  display: none;
}

.search_list{
  margin-left: 5px;
  margin-right: 5px;
  position: absolute;
  z-index: 4;
  left: 0;
  right: 0;
  list-style: none;
  padding-left: 10px;
  background: white;
  max-height: 150px;
  overflow-y: scroll;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.search_list li{
  font-size: 18px;
  @include TopBottomPadding(5px,5px);
}

.search_list li:hover{
  background: #f2f2f2;
  cursor: pointer;
  z-index: 5;
}
.search_list{
  font-weight: 1000;
  color: #090f0f;
  display: none;
}

.search-text {
  font-size: 20px;
  font-weight: 200;
  width: 100%;
  margin-top: 50px;
  margin-bottom: 50px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid $teal;
  outline: none;
  padding-left: 10px;
  padding-right: 20px;
  position: relative;
  &:focus {
    border-top: none !important;
    border-left: none;
    border-right: none;
  }
}



/**** Google Address Search *****/
.pac-container:after {
  /* Disclaimer: not needed to show 'powered by Google' if also a Google Map is shown */

  background-image: none !important;
  height: 0;
}