/***** Spinners ******/
.spinner {
  display: none;
  font-size: 80px;
  color: #ffff;
  position: absolute;
  left: 47%;
  top: 35%;
  z-index: 6;
  transform: translateX(-50%, -50%);
}

.spinner-kero {
  display: none;
  z-index: 2;
  transform: translateX(-50%);
  font-size: 180px;
  position: absolute;
  left: 40%;
  top: 30%;
  color: #000;
}