<template>
    <div class="row">
        <question-title title="Please select a transaction."></question-title>
        <div class="col-sm-12">
            <center>
                <select v-if="userData.userRole == 'a'" class="SelectStyleOne" v-model="selectedTransaction" style="min-width: 400px; max-width: 500px;">
                    <option
                            v-for="t in agentTransactions"
                            :value="t"
                    >
                        {{t.Address || t.ID}}
                    </option>
                </select>
                <select v-if="userData.userRole == 'tc'" class="SelectStyleOne" v-model="selectedTransaction" style="min-width: 400px; max-width: 500px;">
                    <option
                            v-for="t in tcTransactions"
                            :value="t"
                    >
                        {{t.Address || t.ID}}
                    </option>
                </select>
                <input type="hidden" :name="friendlyIndex" class="AnswerChoice" v-model="transactionID">
            </center>
        </div>
    </div>
</template>

<script>
    import QuestionTitle from "../../../QuestionTitle";
    export default {
        name: "AAKP_SelectTransaction",
        components: {
            QuestionTitle
        },
        props: {
            friendlyIndex: {
                type: String,
                default: null,
            },
            title: {
                type: String,
                default: null,
            },
            answerChoices:{
                type: Array,
                default: () => []
            },
            currentAnswers: {
                type: Object,
                default: () => {},
            },
            allAnswersByFriendlyIndex: {
                type: Object,
                default: () => {},
            },
            allData: {
                type: Object,
                default: () => {},
            },
        },
        data(){
            return {
                selectedTransaction:    null,
                transactionID:          null,
                allTransactions:        this.$store.getters.getAllTransactions(),
                userData:               this.$store.getters.getUserData(),
                errorMessages:          {},
            }
        },
        watch: {
            selectedTransaction: {
                handler(val, oldVal){
                    this.selectTransaction(val)
                },
            }
        },
        computed: {
            tcTransactions(){
                let v = this;
                let tcTransactions = [];
                function filterTC(t)
                {
                    let tcs = t.tcs;
                    let length = tcs.length;
                    for (let i = 0; i < length; i++)
                        if (tcs[i].Users_ID == v.userData.userID)
                            return true;
                    return false;
                }
                tcTransactions = this.allTransactions.filter(t => filterTC(t));
                return tcTransactions;
            },
            agentTransactions(){
                let v = this;
                let agentTransactions = [];
                function filterAgent(t)
                {
                    let agents = t.agents;
                    let length = agents.length;
                    for (let i = 0; i < length; i++)
                        if (agents[i].Users_ID == v.userData.userID)
                            return true;
                    return false;
                }
                agentTransactions = this.allTransactions.filter(t => filterAgent(t));
                return agentTransactions;
            },
        },
        methods: {
            selectTransaction(transaction){
                let updateQuestionnaireContainer = {
                    tID: transaction.ID,
                    state: transaction.State,
                };
                this.currentAnswers[this.friendlyIndex].Answer = updateQuestionnaireContainer.tID;
                this.transactionID = updateQuestionnaireContainer.tID;
                this.$parent.$emit('changeContainerData', updateQuestionnaireContainer);
            },
        },
        mounted() {
            this.errorMessages[this.friendlyIndex] = {required: this.required || 'Please make a selection.'};
            this.$parent.$emit('setErrorMessages', this.errorMessages);
        }
    }
</script>

<style scoped>

</style>