<template>
    <div>
        <center>
            <question-title :title="title"></question-title>
            <a class="ButtonStyleOne">
                <button v-on:click="rVal = 'l'"
                        :class="{'btn light-blue-background': rVal == 'l',
                        'btn': rVal != 'l' }"
                >
                    <img alt="lender.png" :src="getHostUrl() + 'images/questionnaires/lender.png'">
                    <br>
                    <span class="ButtonStyleOneText">Lender</span>
                </button>
                <button v-on:click="rVal = 'a'"
                        :class="{'btn light-blue-background': rVal == 'a',
                        'btn': rVal != 'a'}"
                >
                    <img alt="rea.png" :src="getHostUrl() + 'images/questionnaires/rea.png'">
                    <br>
                    <span class="ButtonStyleOneText">Real Estate Agent</span>
                </button>
                <button v-on:click="rVal = 'escrowtitle'"
                        :class="{'btn light-blue-background': rVal == 'escrowtitle',
                        'btn': rVal != 'escrowtitle' }"
                >
                    <img alt="escrowtitle.png" :src="getHostUrl() + 'images/questionnaires/escrowtitle.png'">
                    <br>
                    <span class="ButtonStyleOneText">Escrow/Title</span>
                </button>
                <button v-on:click="rVal = 'bs'"
                        :class="{'btn light-blue-background': rVal == 'bs',
                        'btn': rVal != 'bs' }"
                >
                    <img alt="buyer.png" :src="getHostUrl() + 'images/questionnaires/buyer.png'">
                    <br>
                    <span class="ButtonStyleOneText">Buyer/Seller</span>
                </button>
                <button
                        v-if="showOtherUsers"
                        v-on:click="rVal = 'btc'"
                        :class="{'btn light-blue-background': rVal == 'btc',
                        'btn': rVal != 'btc' }"
                >
                    <img alt="icon-escrow.png" :src="getHostUrl() + 'images/questionnaires/icon-escrow.png'">
                    <br>
                    <span class="ButtonStyleOneText">Buyer's TC</span>
                </button>
                <button
                        v-if="showOtherUsers"
                        v-on:click="rVal = 'stc'"
                        :class="{'btn light-blue-background': rVal == 'stc',
                        'btn': rVal != 'stc' }"
                >
                    <img alt="title.png" :src="getHostUrl() + 'images/questionnaires/title.png'">
                    <br>
                    <span class="ButtonStyleOneText">Seller's TC</span>
                </button>
                <div>
                    <center>
                        <span v-if="!showOtherUsers" v-on:click="showOtherUsers = true" class="SkipStepStyle">+ Add a Different Type Of User</span>
                    </center>
                </div>
                <input
                        type="hidden"
                        name="RoleAdding"
                        v-model="rVal"
                        class="AnswerChoice"
                >
            </a>
        </center>
    </div>
</template>

<script>
    import QuestionTitle from "../../../QuestionTitle";
    export default {
        name: "AC_AddRole",
        components: {
            QuestionTitle,
        },
        computed: {

        },
        props: {
            transactionID: {

            },
            friendlyIndex: {
                type: String,
                default: null,
            },
            answerChoices:{
                type: Array,
                default: () => []
            },
            currentAnswers: {
                type: Object,
                default: () => {},
            },
            allData: {
                type: Object,
                default: () => {}
            },
            token: {
                type: String,
                default: '',
            },
        },
        watch: {
            rVal: {
                handler(val){
                    switch (val)
                    {
                        case 'stc':
                        case 'btc':
                        case 'l':
                            this.$parent.$emit('toggleWarnOnPageLeave');
                            this.$root.switchToAddNewRoleQuestionnaire(this.transactionID, val);
                            break;
                    }
                },
            },
        },
        data(){
            return {
                title: 'What type of user would you like to add?',
                rVal: null,
                showOtherUsers: false,
            }
        },
        methods: {
            getHostUrl(){
                return getHostURL();
            },
        },
        mounted() {
            this.rVal = this.currentAnswers['RoleAdding'].Answer || '';
        }
    }
</script>

<style scoped>
    .ButtonStyleOne button{
        margin-bottom: 0 !important;
        margin-top: 0 !important;
    }
</style>