<template>
    <div>
        <center>
            <question-title :title="title"></question-title>
            <a class="ButtonStyleOne">
                <button v-on:click="assignVal('b')"
                        :class="{'btn light-blue-background': radioValue == 'b',
                        'btn': radioValue != 'b' }"
                >
                    <img alt="title.png" :src="getHostUrl() + 'images/questionnaires/title.png'">
                    <br>
                    <span class="ButtonStyleOneText">Buyer</span>
                </button>
                <button v-on:click="assignVal('s')"
                        :class="{'btn light-blue-background': radioValue == 's',
                        'btn': radioValue != 's'}"
                >
                    <img alt="escrowtitle.png" :src="getHostUrl() + 'images/questionnaires/escrowtitle.png'">
                    <br>
                    <span class="ButtonStyleOneText">Seller</span>
                </button>
                <input
                        type="hidden"
                        name="Role"
                        v-model="radioValue"
                        class="AnswerChoice"
                >
            </a>
        </center>
    </div>
</template>

<script>
    import QuestionTitle from "../../../QuestionTitle";
    export default {
        name: "AC_BuyerOrSeller",
        components: {
            QuestionTitle,
        },
        computed: {

        },
        props: {
            friendlyIndex: {
                type: String,
                default: null,
            },
            answerChoices:{
                type: Array,
                default: () => []
            },
            currentAnswers: {
                type: Object,
                default: () => {},
            },
            allData: {
                type: Object,
                default: () => {}
            },
            allAnswersByFriendlyIndex: {
                type: Object,
                default: () => {},
            },
            token: {
                type: String,
                default: '',
            },
            transactionID: {

            }
        },
        watch: {

        },
        data(){
            return {
                title: 'Who would you like to add?',
                radioValue: null,
                consumers: [],
                replace: '',
                errorMessages: {},
            }
        },
        methods: {
            getHostUrl(){
                return getHostURL();
            },
            assignVal(val){
                if (val)
                {
                    this.$parent.$emit('toggleWarnOnPageLeave');
                    this.$root.switchToAddNewRoleQuestionnaire(this.transactionID, val);
                }
            },
        },
        mounted() {

        }
    }
</script>

<style scoped>

</style>