<template>
    <div class="row consumer-row">
        <question-title title="Add A Real Estate Agent"></question-title>
        <div class="col-sm-12 search">
            <div class="input-group mb-3">
                <input v-model="search_query" type="text" class="form-control" placeholder="Search Our Agent Database">
                <button v-if="role" v-on:click="search()" class="btn btn-success search-button" type="button"><i class="fas fa-search"></i></button>
                <button v-else class="btn btn-success search-button deactivated-no-events" type="button" disabled><i class="fas fa-search"></i></button>
                <search-person
                    ref="agentSearch"
                    :token="token"
                    table="Agents"
                    model="\App\Models\Agent"
                    :role-code="role"
                ></search-person>
            </div>
        </div>
        <div class="col-sm-12">
            <form class="mt-4">
                <div class="form-group row">
                    <label for="fname" class="col-sm-2 col-form-label">First Name <span>*</span></label>
                    <div class="col-sm-4">
                        <input name="NameFirst" v-model="NameFirst" type="text" class="form-control AnswerChoice" id="fname">
                    </div>

                    <label for="lname" class="col-sm-2 col-form-label">Last Name <span>*</span></label>
                    <div class="col-sm-4">
                        <input name="NameLast" v-model="NameLast" type="text" class="form-control AnswerChoice" id="lname">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="fullname" class="col-sm-2 col-form-label">Name on License <span>*</span></label>
                    <div class="col-sm-4">
                        <input name="NameFull" v-model="NameFull" type="text" class="form-control AnswerChoice" id="fullname">
                    </div>

                    <label for="license" class="col-sm-2 col-form-label">License # <span>*</span></label>
                    <div class="col-sm-4">
                        <input name="License" v-model="License" type="text" class="form-control AnswerChoice" id="license">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="cell" class="col-sm-2 col-form-label">Cell # <span>*</span></label>
                    <div class="col-sm-4">
                        <input name="PrimaryPhone" v-model="PrimaryPhone" type="text" class="form-control AnswerChoice js__phoneMask" id="cell">
                    </div>

                    <label for="email" class="col-sm-2 col-form-label">Email Address <span>*</span></label>
                    <div class="col-sm-4">
                        <input name="Email" v-model="Email" type="text" class="form-control AnswerChoice" id="email">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="boffice" class="col-sm-2 col-form-label">Brokerage Office <span>*</span></label>
                    <div class="col-sm-4">
                        <input name="BrokerageOffice" v-model="BrokerageOffice" type="text" class="form-control AnswerChoice" id="boffice">
                    </div>

                    <label for="office" class="col-sm-2 col-form-label">Office # <span>*</span></label>
                    <div class="col-sm-4">
                        <input name="SecondaryPhone" v-model="SecondaryPhone" type="text" class="form-control AnswerChoice js__phoneMask" id="office">
                    </div>
                </div>
                <input v-model="ID" type="hidden" name="ID" class="AnswerChoice">
                <input v-model="UUID" type="hidden" name="UUID" class="AnswerChoice">
                <input v-model="Users_ID" type="hidden" name="Users_ID" class="AnswerChoice">
                <input v-model="BrokerageOfficeID" type="hidden" name="BrokerageOfficeID" class="AnswerChoice">
                <input v-model="role" type="hidden" name="Role" class="AnswerChoice">
            </form>
        </div>
    </div>
</template>

<script>
    import QuestionTitle from "../../../QuestionTitle";
    import SearchPerson from "../../../../SearchPerson";
    export default {
        name: "C_AddRealEstateAgent",
        components: {
            QuestionTitle,
            SearchPerson,
        },
        computed: {

        },
        watch: {
            Lib_ID: {
                handler(val){
                    this.ID = val;
                }
            }
        },
        props: {
            additionalData: {
                type: Object,
                default: () => {}
            },
            friendlyIndex: {
                type: String,
                default: null,
            },
            title: {
                type: String,
                default: null,
            },
            answerChoices:{
                type: Array,
                default: () => []
            },
            currentAnswers: {
                type: Object,
                default: () => {},
            },
            token: {
                type: String,
                default: '',
            },
            transactionID: {

            },
            allData: {
                type: Object,
                default: () => {},
            },
            state: {
                type: String,
                default: 'CA',
            },
        },
        data(){
            return {
                role: this.additionalData.Role,
                search_query: '',
                ID: this.currentAnswers['ID'].Answer || '',
                Lib_ID: null,
                NameFirst: this.currentAnswers['NameFirst'].Answer || '',
                NameLast: this.currentAnswers['NameLast'].Answer || '',
                NameFull: this.currentAnswers['NameFull'].Answer || '',
                Email: this.currentAnswers['Email'].Answer || '',
                PrimaryPhone: this.currentAnswers['PrimaryPhone'].Answer || '',
                SecondaryPhone: this.currentAnswers['SecondaryPhone'].Answer || '',
                License: this.currentAnswers['License'].Answer || '',
                BrokerageOffice: this.currentAnswers['BrokerageOffice'].Answer || '',
                BrokerageOfficeID: this.currentAnswers['BrokerageOfficeID'].Answer || '',
                UUID:   this.currentAnswers['UUID'].Answer || '',
                Users_ID: this.currentAnswers['Users_ID'].Answer || '',
                currentAgents: {},
                errorMessages: {
                    NameFirst: {required: 'First name is required.'},
                    NameLast: {required: 'Last name is required.'},
                    NameFull: {required: 'Name on License is required.'},
                    Email: {required: 'Email address is required.'},
                    PrimaryPhone: {required: 'Cell phone is required.'},
                    SecondaryPhone: {required: 'Office phone is required.'},
                    License: {required: 'License is required.'},
                    BrokerageOffice: {required: 'Brokerage Office is required.'},
                }
            }
        },
        methods: {
            search(){
                this.$refs.agentSearch.$emit('executeSearch', this.search_query);
            },
        },
        mounted() {
            let v = this;
            $('.js__phoneMask').mask('(###)-###-####');
            this.$on('searchPersonChosenData', data => {
                $.each(data, (i, val) => {
                    if (typeof(v[i]) !== 'undefined')
                    {
                        v[i] = val;
                    }
                });
                if (data.brokerage_office)
                    if (data.brokerage_office.Name) v.BrokerageOffice = data.brokerage_office.Name;
                if (data.BrokerageOffices_ID)
                    if (data.BrokerageOffices_ID) v.BrokerageOfficeID = data.BrokerageOffices_ID;
            });
            this.$parent.$emit('setErrorMessages', this.errorMessages);
        }
    }
</script>

<style scoped>

</style>