<template>
    <div>
        <center>
            <question-title :title="title"></question-title>
            <a class="ButtonStyleOne">
                <button v-on:click="rVal = 'l'"
                        :class="{'btn light-blue-background': rVal == 'l',
                        'btn': rVal != 'l' }"
                    >
                    <img alt="lender.png" :src="getHostUrl() + 'images/questionnaires/lender.png'">
                    <br>
                    <span class="ButtonStyleOneText">Lender</span>
                </button>
                <button v-on:click="rVal = 'a'"
                        :class="{'btn light-blue-background': rVal == 'a',
                        'btn': rVal != 'a'}"
                >
                    <img alt="rea.png" :src="getHostUrl() + 'images/questionnaires/rea.png'">
                    <br>
                    <span class="ButtonStyleOneText">Real Estate Agent</span>
                </button>
                <button v-on:click="rVal = 'escrowtitle'"
                        :class="{'btn light-blue-background': rVal == 'escrowtitle',
                        'btn': rVal != 'escrowtitle' }"
                >
                    <img alt="escrowtitle.png" :src="getHostUrl() + 'images/questionnaires/escrowtitle.png'">
                    <br>
                    <span class="ButtonStyleOneText">Escrow/Title</span>
                </button>
                <input
                        type="hidden"
                        name="RoleAdding"
                        v-model="rVal"
                        class="AnswerChoice"
                >
                <input  v-if="rVal == 'l'"
                        type="hidden"
                        name="Role"
                        v-model="rVal"
                        class="AnswerChoice"
                >
            </a>
        </center>
    </div>
</template>

<script>
    import QuestionTitle from "../../../QuestionTitle";
    export default {
        name: "C_AddRole",
        components: {
            QuestionTitle,
        },
        computed: {

        },
        props: {
            friendlyIndex: {
                type: String,
                default: null,
            },
            answerChoices:{
                type: Array,
                default: () => []
            },
            currentAnswers: {
                type: Object,
                default: () => {},
            },
            allData: {
                type: Object,
                default: () => {}
            },
            token: {
                type: String,
                default: '',
            },
        },
        data(){
            return {
                title: 'What type of user would you like to add?',
                rVal: null,
            }
        },
        methods: {
            getHostUrl(){
                return getHostURL();
            },
        },
        mounted() {
            this.rVal = this.currentAnswers['RoleAdding'].Answer || '';
        }
    }
</script>

<style scoped>

</style>