<template>
    <div class="row">
        <question-title :title="titleBasedOnRole"></question-title>
        <div class="col-sm-12" style="margin-top: 30px;">
            <form class="mb-5 mt-4">
                <div class="form-group row">
                    <label for="fname" class="col-sm-2 col-form-label">First Name <span>*</span></label>
                    <div class="col-sm-4">
                        <input name="NameFirst" v-model="NameFirst" type="text" class="form-control AnswerChoice" id="fname">
                    </div>

                    <label for="lname" class="col-sm-2 col-form-label">Last Name <span>*</span></label>
                    <div class="col-sm-4">
                        <input name="NameLast" v-model="NameLast" type="text" class="form-control AnswerChoice" id="lname">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="cell" class="col-sm-2 col-form-label">Cell # <span>*</span></label>
                    <div class="col-sm-4">
                        <input name="PrimaryPhone" maxlength="14" v-model="PrimaryPhone" type="text" class="form-control AnswerChoice js__phoneMask" id="cell">
                    </div>

                    <label for="email" class="col-sm-2 col-form-label">Email Address <span>*</span></label>
                    <div class="col-sm-4">
                        <input name="Email" v-model="Email" type="text" class="form-control AnswerChoice" id="email">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="cname" class="col-sm-2 col-form-label">Company Name <span>*</span></label>
                    <div class="col-sm-4">
                        <input name="CompanyName" v-model="CompanyName" type="text" class="form-control AnswerChoice" id="cname">
                    </div>

                    <label for="office" class="col-sm-2 col-form-label">Office # <span>*</span></label>
                    <div class="col-sm-4">
                        <input name="SecondaryPhone" maxlength="14" v-model="SecondaryPhone" type="text" class="form-control AnswerChoice js__phoneMask" id="office">
                    </div>
                </div>
                <input type="hidden" name="Role" v-model="role" class="AnswerChoice">
            </form>
        </div>
    </div>
</template>

<script>
    import QuestionTitle from "../../../QuestionTitle";
    export default {
        name: "C_AddAux",
        components: {
            QuestionTitle
        },
        computed: {
            titleBasedOnRole(){
                if (this.role == 'l') return 'Add a new Lender';
                else if (this.role == 'e') return 'Add a new Escrow Agent';
                else if (this.role == 't') return 'Add a new Title Agent';
                else if (this.role == 'btc') return 'Add New Buyer\'s TC';
                else if (this.role == 'stc') return 'Add New Seller\'s TC';
                else return 'Please select a role to add.';
            },
        },
        props: {
            additionalData: {
                type: Object,
                default: () => {},
            },
            friendlyIndex: {
                type: String,
                default: null,
            },
            title: {
                type: String,
                default: null,
            },
            answerChoices:{
                type: Array,
                default: () => []
            },
            currentAnswers: {
                type: Object,
                default: () => {},
            },
            allAnswersByFriendlyIndex: {
                type: Object,
                default: () => {},
            },
            allData: {
                type: Object,
                default: () => {},
            },
        },
        data(){
            return {
                role: this.additionalData.Role,
                NameFirst: this.currentAnswers['NameFirst'].Answer || '',
                NameLast: this.currentAnswers['NameLast'].Answer || '',
                PrimaryPhone: this.currentAnswers['PrimaryPhone'].Answer || '',
                Email: this.currentAnswers['Email'].Answer || '',
                CompanyName: this.currentAnswers['CompanyName'].Answer || '',
                SecondaryPhone: this.currentAnswers['SecondaryPhone'].Answer || '',
                errorMessages: {
                    NameFirst: {required: 'First name is required.'},
                    NameLast: {required: 'Last name is required.'},
                    PrimaryPhone: {required: 'Cell phone is required.'},
                    Email: {required: 'Email is required.'},
                    CompanyName: {required: 'Company name is required.'},
                    SecondaryPhone: {required: 'Office phone is required.'},
                },
            }
        },
        methods: {

        },
        mounted() {
            $('.js__phoneMask').mask('(###)-###-####');
            this.$parent.$emit('setErrorMessages', this.errorMessages);
        }
    }
</script>

<style scoped>

</style>