<template>
    <div>
        <center>
            <question-title :title="title"></question-title>
            <a class="ButtonStyleOne">
                <button v-on:click="assignVal('e')"
                        :class="{'btn light-blue-background': radioValue == 'e',
                        'btn': radioValue != 'e' }"
                >
                    <img alt="lender.png" :src="getHostUrl() + 'images/questionnaires/escrowtitle.png'">
                    <br>
                    <span class="ButtonStyleOneText">Escrow Agent</span>
                </button>
                <button v-on:click="assignVal('t')"
                        :class="{'btn light-blue-background': radioValue == 't',
                        'btn': radioValue != 't'}"
                >
                    <img alt="rea.png" :src="getHostUrl() + 'images/questionnaires/title.png'">
                    <br>
                    <span class="ButtonStyleOneText">Title Agent</span>
                </button>
                <input
                        type="hidden"
                        name="Role"
                        v-model="radioValue"
                        class="AnswerChoice"
                >
            </a>
        </center>
    </div>
</template>

<script>
    import QuestionTitle from "../../../QuestionTitle";
    export default {
        name: "C_EscrowOrTitle",
        components: {
            QuestionTitle,
        },
        computed: {

        },
        props: {
            transactionID: {},
            friendlyIndex: {
                type: String,
                default: null,
            },
            answerChoices:{
                type: Array,
                default: () => []
            },
            currentAnswers: {
                type: Object,
                default: () => {},
            },
            allData: {
                type: Object,
                default: () => {}
            },
            allAnswersByFriendlyIndex: {
                type: Object,
                default: () => {},
            },
            token: {
                type: String,
                default: '',
            },
        },
        data(){
            return {
                title: 'What role would you like to add?',
                radioValue: this.allAnswersByFriendlyIndex['Role'] || null,
                errorMessages: {},
            }
        },
        methods: {
            getHostUrl(){
                return getHostURL();
            },
            assignVal(val){
                if (val)
                {
                    this.$parent.$emit('toggleWarnOnPageLeave');
                    this.$root.switchToAddNewRoleQuestionnaire(this.transactionID, val);
                }
            },
        },
        mounted() {
            this.errorMessages['Role'] = {required: this.required || 'Please select an option.',};
            this.$parent.$emit('setErrorMessages', this.errorMessages);
        }
    }
</script>

<style scoped>

</style>