#TransactionBanner{
  .text-muted{
    color: #adadad !important;
  }
  #linksContainer{
    margin-top: 25px;
    div{
      margin-left: 5px;
      display: flex;
      justify-content: space-between;
      a{
        display: inline-block;
        &:hover{
          color: $teal !important;
        }
      }
    }
  }
}