#transactions{
  margin-bottom: 100px;
  * {
    margin: 0;
    padding: 0;
  }

  .address-div{
    min-height: 50px;
  }

  .role-display{
    min-height: 66px;
  }

  .NoProperty {
    max-width: 1000px;
  }

  .firstRow{
    padding: 20px;
  }

  .PropCol{
    padding: 20px;
    max-height: 472px;
    margin-top: 20px;
  }

  .PropColStyleOne {
    border: 1px solid #B4B4B4;
    border-radius: 6px;
    margin-bottom: 30px;
  }

  .PropHeadingStyleOne {
    font-weight: bold;
    background-color: #126469;
    color: white;
    text-align: center;
    padding: 20px 20px;
  }

  .InformationalSegmentsContainer{
    padding: 20px;
  }

  .NoProperties{
    padding: 20px;
    div{
      &:first-child{
        cursor:pointer;
      }
    }
    p{
      padding: 20px;
      font-size: 15px;
    }
    .AddPropertyLinkContainer{
      padding: 20px;
    }
  }

  .PropAnchorStyleOne {
    color: #3DCDCD !important;
    font-weight: 500;
    text-decoration: none !important;
  }

  .InformationalSegment{
    padding: 1rem 1.5rem;
    margin-top: .5rem;
    &:first-child{
      margin-top: 40px;
    }

  }

  .AgentCard{
    margin-top: 55px;
    height: 463px;
    .PropCard{
      height: 100%;
      .card-body{
        div{
          padding: 20px;
        }
      }
    }
    img{
      height: 158px;
      width: 100%;
    }
  }

  .PropImageStyleOne {
    float: left;
    margin-right: 30px;
  }

  .PropCardImg {
    height: 220px;
    width: 100%;
  }

  .add-property-link{
    color: $teal;
    &:hover{
      text-decoration: underline;
    }
  }

  .close-of-escrow-date{
    padding: 7px 20px;
  }

  .PropDropdownButton {
    background: white;
    padding: 5px 1.5rem;
  }

  .PropDropdownButtonStyleTwo {
    border: 1px solid #D2D2D2 !important;
    color: #21D7D1 !important;
    font-size: 25px !important;
  }

  .PropCard {
    .dropdown-toggle::after {
      display: none;
    }
    border: 1px solid #B4B4B4;
    border-radius: 5px;
  }

  .PropListStyleOne li {
    border-left: 1px solid $teal;
    padding: 0 10px;
  }

  .PropSpanStyleOne {
    color: #CD6564;
    font-weight: 500;
  }

  .PropSpanStyleTwo {
    font-weight: bold;
    font-size: 20px;
  }

  .PropSpanStyleThree {
    display: block;
    text-align: center;
    margin: 10px 0;
  }

  .actions-div{
    ul{
      display: flex;
      justify-content: center;
      padding: 10px;
      font-size: 17px;
      font-weight: 600;
      li{
        &:first-child{
          border: none;
        }
      }
    }
  }

  @media screen and (max-width: 700px) {
    .PropCol {
      padding: 0 !important;
    }
    .PropCardImg {
      max-height: 180px;
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1085px){
    .PropCol {
      width: 100%;
    }
  }

  #controls{
    padding-right: 20px;
    padding-left: 20px;

    .SearchContainer{
      padding-right: 20px;
      .doc-search-box .input-group input{
        width: 100%;
        padding-left: 10px;
      }
      .search-button-container{
        position: absolute;
        z-index: 3 !important;
        right: 0;
      }
    }
    button{
      padding: 10px;
    }

    .controls-dropdown{
      border:1px solid $teal;
      color: black;
      background-color: white;
      margin-right: 100px;
      padding: 0;
      a{
        color: #000;
        display: block;
        padding: 7px;
        text-align: center;
        border-bottom: solid 1px $teal;
        &:hover{
          background: $lightTeal;
        }
      }
      a:last-child{
        border-bottom: none;
      }
    }

    .documentControlButtons{
      height: 35px;
      border:1px solid #21D7D1;
      color: #21D7D1;
      font-size: 14px;
      margin-bottom: 10px;
      &:hover{
        background-color: #21D7D1;
        color: white;
      }
    }

    #CS-sorting-dropdown{
      padding-left: 20px;
      .active {
        background-color: #21D7D1;
        color: white;
      }
      .dropdown-menu{
        position: absolute;
        top: -1px !important;
        left: unset !important;
        right: -1px !important;
        transform: none !important;
        margin: 0 !important;
        .dropdown{
          margin-right: 10px !important;
        }
        div:first-child{
          height: 35px;
          background: #21D7D1;
          display: flex;
          justify-content: flex-end;
          align-items: center;
          padding-right: 10px;
          color: white;
          &:hover{
            text-decoration: none;
          }
        }
      }
      @media screen and (max-width: 768px){
        padding-top: 10px;
        padding-left: 0;
      }
    }

    .doc-search-box{
      .input-group{
        width: 100%;
        input{
          width: 60%;
          height: 38px;
        }
        .search-button{
          height: 38px;
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
        }
        .add-doc-button{
          margin-left:20px;
        }
      }
    }

    .red-button{
      background-color: #C44342;
      color: white;
      font-size: 12px;
      height: 38px;
      border-radius: 6px;
      &:hover{
        background-color: white;
        border:1px solid #C44342;
        color: #C44342;
      }
    }

    .controls-dropdown{
      border:1px solid #21D7D1 !important;
      color: black;
      background-color: white;
      margin-right: 100px;
      margin-left: 65%;
      margin-top: 8%;
      a{
        padding-top: 8px;
        padding-bottom: 8px;
        border-bottom:1px solid #21D7D1;
        font-size: 12px;
        &:hover{
          background-color: #E8FBFA;
        }
      }
    }
  }

  #tList{
    .v-table__overflow{
      overflow-x: unset !important;
      overflow-y: unset !important;
    }
    .tListActions{
      text-align: center;
      .dropdown-menu{
        right: -14px !important;
        top: -11px !important;
        left: unset !important;
        border: solid 1px $teal;
        padding: 0;
        transform: none !important;
        max-width: 200px;
        div{
          width: 100%;
          border-bottom: 1px solid $teal;
          padding: 5px 5px 5px 20px;
          &:hover{
            text-decoration: none;
            background: $lightTeal;
            color: black;
          }
        }
        div:first-child{
          height: 47px;
          display: flex;
          justify-content: flex-end;
          align-items: center;
          padding-right: 17px;
          background: #21D7D1;
          i{
            padding: 6px;
            color: #e6e6e6;
            border: solid 1px #e6e6e6;
            border-radius: 50%;
            margin-right: -5px;
          }
        }
        div:last-child{
          border: none;
        }
      }
      .timeline-item-dropdown-trigger{
        position: relative;
        border-radius: 50%;
        border: solid 1px #ccc9;
        padding: 4px 6px;
        display: inline-block;
        i{
          color: #ccc9;
        }
      }
    }
    .container{
      &:first-child{
        padding: 20px;
      }
    }
    .tListHeader{
      background: #f4f4f4d4;
      border-left: solid 1px #ddd;
      text-align: center;
      &:first-child{
        border: none;
      }
    }

    table{
      margin-top: 30px !important;
      tbody{
        .tListAddress{
          div{
            font-size: 13px;
            font-family: Roboto, sans-serif;
            &:first-child{
              font-size: 17px;
              font-weight: 400;
              text-transform: uppercase;
            }
          }
        }
        .tListClient{
          div{
            font-family: Roboto, sans-serif;
            font-size: 13px;
            &:first-child{
              font-size: 17px;
              font-weight: 400;
              text-transform: uppercase;
            }
          }
        }
        td{
          padding-left: 25px;
          border-left: solid 1px #ddd;
          background: rgba(250, 250, 250, 0.92);
          &:first-child{
            border: none;
          }
          &:last-child{
            padding-left: 0;
          }
        }
      }
    }
  }

}

.transactions-title{
  font-size: 35px;
  font-family: Roboto, sans-serif;
  font-weight: 200;
  padding: 20px;
}