<template>
    <div class="account-details-body pb-4">
        <h5 class="pt-4 ml-4 mb-4">My Account</h5>
        <hr>
        <form class="mb-3 mt-4 mx-4 pr-4 clearfix">
            <b>Profile Details</b>
            <div class="form-group row mt-4">
                <div class="col-sm-6">
                    <label for="fname">First Name</label>
                    <input v-model="nameFirst" name="NameFirst" type="text" class="form-control" id="fname" placeholder="First Name">
                    <span v-if="errors.NameFirst" class="col-md-12 text-center errors text-left">{{errors.NameFirst[0] || ''}}</span>
                </div>
                <div class="col-sm-6">
                    <label for="lname">Last Name</label>
                    <input v-model="nameLast" name="NameLast" type="text" class="form-control" id="lname">
                    <span v-if="errors.NameLast" class="col-md-12 text-center errors text-left">{{errors.NameLast[0] || ''}}</span>
                </div>
            </div>
            <div class="form-group row mb-4">
                <div class="col-sm-6">
                    <label for="email">Email Address</label>
                    <input v-model="email" name="Email" type="email" class="form-control" autocomplete="on" id="email" placeholder="">
                    <span v-if="errors.Email" class="col-md-12 text-center errors text-left">{{errors.Email[0] || ''}}</span>
                </div>
                <div class="col-sm-6">
                    <label for="phone">Phone</label>
                    <input maxlength="14" v-model="phone" name="PrimaryPhone" type="text" class="form-control js__phoneMask" id="phone" placeholder="">
                    <span v-if="errors.PrimaryPhone" class="col-md-12 text-center errors text-left">{{errors.PrimaryPhone[0] || ''}}</span>
                </div>
            </div>

            <b>Change Password</b>
            <div class="form-group row mt-4">
                <div class="col-sm-6">
                    <label for="opass">Old Password</label>
                    <input v-model="current_password" type="password" name="current_password" class="form-control" autocomplete="on" id="opass" placeholder="">
                    <span v-if="errors.current_password" class="col-md-12 text-center errors text-left">{{errors.current_password[0] || ''}}</span>
                </div>
                <div class="col-sm-6">

                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-6">
                    <label for="npass">New Password</label>
                    <input v-model="password" type="password" name="password" class="form-control" autocomplete="off" id="npass">
                    <span v-if="errors.password" class="col-md-12 text-center errors text-left">{{errors.password[0] || ''}}</span>
                </div>
                <div class="col-sm-6">
                    <label for="cpass">Confirm Password</label>
                    <input v-model="password_confirmation" type="password" name="password_confirmation" class="form-control" autocomplete="off" id="cpass">
                    <span v-if="errors.password_confirmation" class="col-md-12 text-center errors text-left">{{errors.password_confirmation[0] || ''}}</span>
                </div>
            </div>
            <button
                    v-on:click="update()"
                    type="button"
                    class="btn float-right mt-5 mb-1"
                    id="profile-save-button"
            >
                SAVE CHANGES
            </button>
        </form>
    </div>
</template>

<script>
    export default {
        name: "AccountDetails",
        computed: {

        },
        props: {
            NameFirst: {
                type: String,
                default: '',
            },
            NameLast: {
                type: String,
                default: '',
            },
            Email: {
                type: String,
                default: '',
            },
            PrimaryPhone: {
                type: String,
                default: '',
            },
            token: {
                type:String,
                default: '',
            }
        },
        watch: {

        },
        data(){
            return {
                nameFirst: this.NameFirst,
                nameLast: this.NameLast,
                email: this.Email,
                phone: this.PrimaryPhone,
                errors: {},
                current_password: '',
                password: '',
                password_confirmation: '',
            }
        },
        methods: {
            update(){
                this.errors = {};
                let route = correctVuexRouteURL(this.$store.getters.routeName('update.accountDetails'));
                if (!route) genericError('Unable to find update account details route. Error code: uac-001');
                else
                {
                    axios.post(route, {
                        NameFirst: this.nameFirst,
                        NameLast: this.nameLast,
                        Email: this.email,
                        PrimaryPhone: this.phone,
                        current_password: this.current_password,
                        password: this.password,
                        password_confirmation: this.password_confirmation,
                    }).then((r) => {
                        console.log(r);
                        let status = r.data.status;
                        if (status == 'success')
                        {
                            genericSuccess('Profile Saved!',0);
                            location.reload();
                        }
                        else if ((status == 'fail')) genericError(r.data.message);
                        else genericError();
                    }).catch((r) => {
                        console.log(r);
                        let errors = r.data.errors || false;
                        if (errors) this.errors = errors;
                    });
                }
            }
        },
        mounted() {
            $('.js__phoneMask').mask('(###)-###-####');
        }
    }
</script>

<style scoped>
    .errors{
        display: inline;
    }
</style>