<template>
    <div class="account-details-body pb-4">
        <h5 class="pt-4 ml-4 mb-4">Email Settings</h5>

        <form class="mx-4 pr-4 clearfix">
            <b>Daily Update Emails</b>
            <div class="form-group row">
                <div class="col-sm-12 mt-1">
                    <div class="form-check ml-4 mb-1">
                        <label class="form-check-label text-uppercase" style="font-size: 12px;">
                            <input type="checkbox" class="form-check-input" value="" disabled> &nbsp;&nbsp;&nbsp;&nbsp; SIGNATURE NOTIFICATIONS - Coming Soon
                        </label>
                    </div>
                    <div class="form-check ml-4 mb-1">
                        <label class="form-check-label text-uppercase" style="font-size: 12px;">
                            <input type="checkbox" class="form-check-input" value="" disabled> &nbsp;&nbsp;&nbsp;&nbsp; UPLOAD DOCUMENTS - Coming Soon
                        </label>
                    </div>
                    <div class="form-check ml-4 mb-1">
                        <label class="form-check-label text-uppercase" style="font-size: 12px;">
                            <input v-model="returnSetting('task-reminder-001').Value" type="checkbox" class="form-check-input"> &nbsp;&nbsp;&nbsp;&nbsp; TASK REMINDERS
                        </label>
                    </div>
                </div>
            </div>

            <b>System Emails</b>
            <div class="form-group row">
                <div class="col-sm-12 mt-1">
                    <div class="form-check ml-4 mb-1">
                        <label class="form-check-label text-uppercase" style="font-size: 12px;">
                            <input type="checkbox" class="form-check-input" value="" disabled> &nbsp;&nbsp;&nbsp;&nbsp; FEATURES RELEASES - Coming Soon
                        </label>
                    </div>
                    <div class="form-check ml-4 mb-1">
                        <label class="form-check-label text-uppercase" style="font-size: 12px;">
                            <input type="checkbox" class="form-check-input" value="" disabled> &nbsp;&nbsp;&nbsp;&nbsp; RECEIPTS - Coming Soon
                        </label>
                    </div>
                    <div class="form-check ml-4 mb-1">
                        <label class="form-check-label text-uppercase" style="font-size: 12px;">
                            <input type="checkbox" class="form-check-input" value="" disabled> &nbsp;&nbsp;&nbsp;&nbsp; MAINTENANCE EMAILS - Coming Soon
                        </label>
                    </div>
                </div>
            </div>

            <b>Marketing Emails</b>
            <div class="form-group row">
                <div class="col-sm-12 mt-1 mb-3">
                    <div class="form-check ml-4 mb-1">
                        <label class="form-check-label text-uppercase" style="font-size: 12px;">
                            <input type="checkbox" class="form-check-input" value="" disabled> &nbsp;&nbsp;&nbsp;&nbsp; PARTNER EMAILS - Coming Soon
                        </label>
                    </div>
                    <div class="form-check ml-4 mb-1">
                        <label class="form-check-label text-uppercase" style="font-size: 12px;">
                            <input type="checkbox" class="form-check-input" value="" disabled> &nbsp;&nbsp;&nbsp;&nbsp; PROMOTIONS - Coming Soon
                        </label>
                    </div>
                </div>
            </div>
            <br>
            <button v-on:click="updateSettings()" type="button" class="btn" id="profile-save-button">SAVE CHANGES</button>
        </form>
    </div>
</template>

<script>
    export default {
        name: "EmailSettings",
        props: {
            Settings: {
                type: Array,
                default: () => [],
            },
            token: {
                type: String,
                default: '',
            }
        },
        data(){
            return {
                settings: this.Settings || [],
                editedSettings: [],
            }
        },
        methods: {
            returnSetting(code){
                return this.settings.find(s => s.Settings_Code == code);
            },
            updateSettings(){
                let route = correctVuexRouteURL(this.$store.getters.routeName('update.accountSettings'));
                if (!route) genericError('Unable to find update account settings route. Error code: uas-001');
                else
                {
                    axios.post(route, {
                        settings: this.settings,
                    }).then((r) => {
                        let status = r.data.status;
                        if (status == 'success') genericSuccess('Email Settings Updated!');
                        else if (status == 'fail') genericError(r.data.message);
                        else genericError();
                    }).catch((r) => {
                        console.log(r);
                    });
                }
            },
            /**
             * Because javascript reads "0" as true, we have to make sure
             * the data is properly handled. Add any other data manipulations that need to occur here.
             */
            processData(){
                $.each(this.settings, (i, obj) => {
                    if (obj.setting.ValueType == 'boolean') obj.Value = parseInt(obj.Value);
                });
            }
        },
        mounted() {
            this.processData();
        }
    }
</script>

<style scoped>

</style>