<template>
    <div class="account-details-body pb-4">
        <h5 class="pt-4 ml-4 mb-4">Third-Party Integration Settings</h5>

        <form class="mx-4 pt-3 pr-4 clearfix">
            <b>File Storage</b>
            <div class="form-group row">
                <div class="col-sm-12 mt-3">
                    <div class="form-check ml-4 mb-1">
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input" value="" disabled> &nbsp;&nbsp;&nbsp;&nbsp; BOX.COM - Coming Soon
                        </label>
                    </div>
                    <div class="form-check ml-4 mb-1">
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input" value="" disabled> &nbsp;&nbsp;&nbsp;&nbsp; DROPBOX.COM - Coming Soon
                        </label>
                    </div>
                    <div class="form-check ml-4 mb-1">
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input" value="" disabled> &nbsp;&nbsp;&nbsp;&nbsp; GOOGLE DRIVE - Coming Soon
                        </label>
                    </div>
                </div>
            </div>

            <b>Calendars</b>
            <div class="form-group row">
                <div class="col-sm-12 mt-3">
                    <div class="form-check ml-4">
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input" value="" disabled> &nbsp;&nbsp;&nbsp;&nbsp; GOOGLE CALENDAR - Coming Soon
                        </label>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-7 mt-3 mb-5 pb-3">
                    <a href="#add">
                        <i class="fas fa-plus-circle mr-2"></i>Suggest New Third-Party Integrations
                    </a>
                    <input type="text" class="form-control mt-2" id="add" required style="max-width: 270px; min-height: 45px; display: inline-block;" disabled>
                    <a href="" class="ml-2 mt-n1">Send</a>
                </div>
            </div>

            <button class="btn" id="profile-save-button" disabled>SAVE CHANGES</button>
        </form>
    </div>
</template>

<script>
    export default {
        name: "Integrations"
    }
</script>

<style scoped>

</style>