<template>
    <div class="account-details-body pb-4" v-if="!loader.loading">
        <h5 class="pt-4 ml-4 mb-4">Real Estate License Details</h5>
        <hr>
        <form class="mb-3 mt-4 mx-4 pr-4 clearfix">
            <b>License Details</b>
            <div class="form-group row mt-4">
                <div class="col-sm-6">
                    <label for="fname">First Name</label>
                    <input v-model="record.NameFirst" name="NameFirst" type="text" class="form-control" id="fname" placeholder="First Name">
                    <span v-if="errors.NameFirst" class="col-md-12 text-center errors text-left">{{errors.NameFirst[0] || ''}}</span>
                </div>
                <div class="col-sm-6">
                    <label for="lname">Last Name</label>
                    <input v-model="record.NameLast" name="NameLast" type="text" class="form-control" id="lname">
                    <span v-if="errors.NameLast" class="col-md-12 text-center errors text-left">{{errors.NameLast[0] || ''}}</span>
                </div>
            </div>
            <div class="form-group row mb-4">
                <div class="col-sm-6">
                    <label for="email">Email Address</label>
                    <input v-model="record.Email" name="Email" type="email" class="form-control" autocomplete="on" id="email" placeholder="">
                    <span v-if="errors.Email" class="col-md-12 text-center errors text-left">{{errors.Email[0] || ''}}</span>
                </div>
                <div class="col-sm-6">
                    <label for="phone">Phone</label>
                    <input maxlength="14" v-model="record.PrimaryPhone" name="PrimaryPhone" type="text" class="form-control js__phoneMask" id="phone" placeholder="">
                    <span v-if="errors.PrimaryPhone" class="col-md-12 text-center errors text-left">{{errors.PrimaryPhone[0] || ''}}</span>
                </div>
            </div>

            <b>Brokerage Details</b>
            <div class="form-group row mt-4">
                <div class="col-sm-6">
                    <label for="brokerage_name">Brokerage Name</label>
                    <input v-model="record.brokerage_office.Name" type="text" name="brokerage_name" class="form-control" autocomplete="on" id="brokerage_name" placeholder="">
                    <span v-if="errors.BrokerageName" class="col-md-12 text-center errors text-left">{{errors.BrokerageName[0] || ''}}</span>
                </div>
                <div class="col-sm-6">
                    <label for="broker_name">Broker's Name</label>
                    <input v-model="record.brokerage_office.broker.NameFull" type="text" name="broker_name" class="form-control" autocomplete="on" id="broker_name" placeholder="">
                    <span v-if="errors.BrokerName" class="col-md-12 text-center errors text-left">{{errors.BrokerName[0] || ''}}</span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-6">
                    <label for="broker_email">Broker's Email</label>
                    <input v-model="record.brokerage_office.broker.Email" type="text" name="broker_email" class="form-control" autocomplete="off" id="broker_email">
                    <span v-if="errors.BrokerEmail" class="col-md-12 text-center errors text-left">{{errors.BrokerEmail[0] || ''}}</span>
                </div>
                <div class="col-sm-6">
                    <label for="office_phone">Brokerage Office #</label>
                    <input v-mask="'(###)-###-####'" v-model="record.brokerage_office.PrimaryPhone" type="text" name="office_phone" class="form-control" autocomplete="off" id="office_phone">
                    <span v-if="errors.OfficePhone" class="col-md-12 text-center errors text-left">{{errors.OfficePhone[0] || ''}}</span>
                </div>
            </div>
            <button
                    v-on:click="update()"
                    type="button"
                    class="btn float-right mt-5 mb-1"
                    id="profile-save-button"
            >
                SAVE CHANGES
            </button>
        </form>
    </div>
    <div v-else class="account-details-body pb-4 vue-spinner-container">
        <pulse-loader
                :loading="loader.loading"
                :size="loader.size"
                :color="loader.color">

        </pulse-loader>
    </div>
</template>

<script>
    export default {
        name: "LicensingInfo",
        props: {
            NameFirst: {
                type: String,
                default: '',
            },
            NameLast: {
                type: String,
                default: '',
            },
            Email: {
                type: String,
                default: '',
            },
            PrimaryPhone: {
                type: String,
                default: '',
            },
            token: {
                type:String,
                default: '',
            },
            BrokerageName: {
                type: String,
                default: '',
            },
            BrokerName: {
                type: String,
                default: '',
            },
            BrokerEmail: {
                type: String,
                default: '',
            },
            OfficePhone: {
                type:String,
                default: '',
            }
        },
        data(){
            return {
                loader: {
                    loading: false,
                    color: '#ca4544',
                    size: '40px',
                },
                errors: {},
                userData: this.$store.getters.getUserData(),
                record: {
                    NameFirst: '',
                    NameLast: '',
                    NameFull: '',
                    Email: '',
                    PrimaryPhone: '',
                    brokerage_office: {
                        Name: '',
                        PrimaryPhone: '',
                        broker: {
                            NameFull: '',
                            Email: '',
                        }
                    }
                },
            }
        },
        methods: {
            update(){
                this.loader.loading = true;
                axios.post(route('update.agentLicensingDetails').url(), {
                    record: this.record,
                }).then(r => {
                    this.loader.loading = false;
                    console.log({
                        updateAgentLicensingDetailsResponse: r,
                    });
                }).catch(err => {
                    this.loader.loading = false;
                    let status = err.data.status || false;
                    let message = err.data.message || false;
                    if (status === 'fail' && message) genericError(message);
                    else genericError();
                    console.log({
                        updateAgentLicensingDetailsError: err,
                    });
                });
            },
            getAgentDetails(){
                this.loader.loading = true;
                axios.post(route('get.agentLicensingDetails').url(), {
                    userID: this.userData.userID,
                }).then(r => {
                    this.loader.loading = false;
                    console.log({
                        getAgentLicensingDetailsResponse: r,
                    });
                    if (r.data) this.record = r.data;
                }).catch(err => {
                    this.loader.loading = false;
                    let status = err.data.status || false;
                    let message = err.data.message || false;
                    if (status === 'fail' && message) genericError(message);
                    else genericError();
                    console.log({
                        getAgentLicensingDetailsError: err,
                    });
                });
            },
        },
        mounted(){
            this.getAgentDetails();
        },
    }
</script>

<style scoped>

</style>