<template>
    <div class="account-details-body pb-1">
        <h5 class="pt-4 ml-4 mb-4">Text Message Settings</h5>

        <form class="mx-4 pr-4 clearfix" >
            <b>Update Texts</b>
            <div class="form-group row">
                <div class="col-sm-12 mt-3">
                    <div class="form-check ml-4 mb-1">
                        <label class="form-check-label text-uppercase" style="font-size: 12px;">
                            <input type="checkbox" class="form-check-input" value="" disabled> &nbsp;&nbsp;&nbsp;&nbsp; SIGNATURE NOTIFICATIONS - Coming Soon
                        </label>
                    </div>
                    <div class="form-check ml-4 mb-1">
                        <label class="form-check-label text-uppercase" style="font-size: 12px;">
                            <input type="checkbox" class="form-check-input" value="" disabled> &nbsp;&nbsp;&nbsp;&nbsp; UPLOAD DOCUMENTS - Coming Soon
                        </label>
                    </div>
                    <div class="form-check ml-4 mb-1">
                        <label class="form-check-label text-uppercase" style="font-size: 12px;">
                            <input type="checkbox" class="form-check-input" value="" disabled> &nbsp;&nbsp;&nbsp;&nbsp; TASK REMINDERS - Coming Soon
                        </label>
                    </div>
                </div>
            </div>

            <b>System Texts</b>
            <div class="form-group row">
                <div class="col-sm-12 mt-3">
                    <div class="form-check ml-4 mb-1">
                        <label class="form-check-label text-uppercase" style="font-size: 12px;">
                            <input type="checkbox" class="form-check-input" value="" disabled> &nbsp;&nbsp;&nbsp;&nbsp; FEATURES RELEASES - Coming Soon
                        </label>
                    </div>
                    <div class="form-check ml-4 mb-1">
                        <label class="form-check-label text-uppercase" style="font-size: 12px;">
                            <input type="checkbox" class="form-check-input" value="" disabled> &nbsp;&nbsp;&nbsp;&nbsp; RECEIPTS - Coming Soon
                        </label>
                    </div>
                    <div class="form-check ml-4 mb-1">
                        <label class="form-check-label text-uppercase" style="font-size: 12px;">
                            <input type="checkbox" class="form-check-input" value="" disabled> &nbsp;&nbsp;&nbsp;&nbsp; MAINTENANCE TEXTS - Coming Soon
                        </label>
                    </div>
                </div>
            </div>

            <br><br><br><br><br>


            <button class="btn" id="profile-save-button" disabled>SAVE CHANGES</button>
        </form><br>
    </div>
</template>

<script>
    export default {
        name: "TextAlerts"
    }
</script>

<style scoped>

</style>