<!--
    This is the subscription component. It is where the user can view the subscription choices we offer
    and make a choice to upgrade or downgrade their subscriptions.
-->
<template>
    <div class="row" id="Subscription">
        <div class="col-sm-12">
            <h2 id="pageHeader" class="text-center">Upgrade Your Subscription Today</h2>
        </div>
        <div class="col-sm-3 col-sm-offset-1 t-column shadow">
            <div class="t-header">
                <span class="text-center h-spans h-type">PARTICIPANT</span>
                <span class="text-center h-spans h-price">FREE</span>
                <span class="text-center h-spans h-per">&nbsp</span>
                <div class="features-heading">
                    Features
                </div>
            </div>
            <div class="features-container" style="line-height: 2">
                {{features.participant}}
                <br><br><br>
                <span style="font-weight: 600; color: #000000b8;">No Credit Card Required</span>
                <br><br><br>
            </div>
            <div v-if="subscriptionData.subscriberType =='part'" class="col-sm-10 col-sm-offset-1 btn-container">
                <button type="button" class="form-control btn-black">This is Your Current Plan</button>
            </div>
            <div v-else class="col-sm-8 col-sm-offset-2 btn-container">
                <button v-if="subscriptionData.subCancelAtPeriodEnd === true" type="button" class="form-control btn-black">Begins on {{subscriptionData.subCancelOnDate}}</button>
                <button v-else v-on:click="freePlan()" type="button" class="form-control btn-teal">Select This Plan</button>
            </div>
        </div>
        <div class="col-sm-3 t-column shadow">
            <div class="t-header">
                <span class="text-center h-spans h-type">PROFESSIONAL</span>
                <span class="text-center h-spans h-price">$30</span>
                <span class="text-center h-spans h-per">per month</span>
                <div class="features-heading">
                    Features
                </div>
            </div>
            <div class="features-container">
                <ul>
                    <li v-for="feature in features.professional">{{feature}}</li>
                </ul>
            </div>
            <div v-if="subscriptionData.subscriberType =='pro'" class="col-sm-10 col-sm-offset-1 btn-container">
                <button
                        v-tooltip="$store.getters.getTooltip('subscription.renew.professional.hover').Description"
                        v-on:click="renew()" v-if="subscriptionData.subCancelAtPeriodEnd === true"
                        type="button"
                        class="form-control btn-black"
                >
                    Expires {{subscriptionData.subCancelOnDate}} (Click to Renew)
                </button>
                <button v-else type="button" class="form-control btn-black">This is Your Current Plan</button>
            </div>
            <div v-else class="col-sm-6 col-sm-offset-3 btn-container">
                <button v-on:click="checkout()" type="button" class="form-control btn-teal">Upgrade</button>
            </div>
        </div>
        <div class="col-sm-3 t-column shadow">
            <div class="t-header">
                <span class="text-center h-spans h-type">TEAMS</span>
                <span class="text-center h-spans h-price">CONTACT</span>
                <span class="text-center h-spans h-per">&nbsp</span>
                <div class="features-heading">
                    Features
                </div>
            </div>
            <div class="features-container">
                <ul>
                    <li v-for="feature in features.teams">{{feature}}</li>
                </ul>
            </div>
            <div class="col-sm-6 col-sm-offset-3 btn-container">
                <a href="mailto:support@offertoclose.com">
                    <button type="button" class="form-control btn-teal">Contact Sales</button>
                </a>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Subscription",
        props: {
            purchasedPlan: {
                type: String,
                default: '0',
            }
        },
        data(){
            /**
             * A lot of variables are here for the purposes of allowing flexibility as the subscription types
             * potentially change and expand.
             */
            return {
                /**
                 * User data retrieved from system state via Vuex.
                 */
                user: this.$store.getters.getUserData(),
                /**
                 * User subscription data retrieved from system state via Vuex.
                 */
                subscriptionData: this.$store.getters.getSubscriptionData(),
                service: 'stripe',
                isTest: 0,
                withTrial: 0,
                useDefault: 0,
                /**
                 * If recurring period is blank then isRecurring will be false.
                 */
                recurringPeriod: 'monthly',
                price: '$30',
                /**
                 * 'features' is an object which holds feature information on
                 * different subscription types. It is setup this way so that it
                 * provides a blueprint of how to get information from a database.
                 */
                features: {
                    /**
                     * participant is the default subscription type the user starts in.
                     */
                    participant: 'Participate in Transactions You\'ve Been Invited To As a Primary' +
                        'Role (Agent, Seller, Buyer, or TC) By One of Our Paying Subscribers',
                    /**
                     * professional is the $30 a month subscription type.
                     * It is a subscription based payment.
                     */
                    professional: [
                        'Custom Task Tracker',
                        'Transaction Timeline',
                        'Share Documents',
                        'eSignature',
                        'Simplified Disclosures',
                        'Invite Non-Subscribers to Participate in a Transaction',
                        'Add Unlimited Transactions',
                        'Free Transaction Support',
                    ],
                    /**
                     * This has not been defined yet, but the current specs indicate
                     * these are the features.
                     */
                    teams: [
                        'Custom Task Tracker',
                        'Transaction Timeline',
                        'Share Documents',
                        'eSignature',
                        'Simplified Disclosures',
                        'Invite Non-Subscribers to Participate in a Transaction',
                        'Add Unlimited Transactions',
                        'Free Transaction Support',
                        'Multiple Users',
                    ]
                }
            }
        },
        methods: {
            /**
             * Redirect the user to Stripe's checkout page for
             * the subscription they selected. At the moment this is
             * only one type of subscription.
             */
            stripeCheckout(key, sessionID){
                var stripe = Stripe(key);
                console.log({stripe:stripe});
                stripe.redirectToCheckout({
                    sessionId: sessionID
                }).then((r) => {
                    console.log({
                        stripeCheckoutResponse:r
                    });
                    if (r.error.message) genericError(r.error.message);
                }).catch((err)=>{
                    console.log({
                        stripeCheckoutError: err,
                    });
                    genericError(err);
                });
            },
            /**
             * The user has decided that they want to checkout.
             * We will fetch the API key and initiate a session with Stripe
             * and retrieve that session ID.
             */
            checkout(){
                axios.post(route('purchase').url(), {
                    userID:             this.user.userID,
                    service:            this.service,
                    isTest:             this.isTest,
                    withTrial:          this.withTrial,
                    useDefault:         this.useDefault,
                    isRecurring:        !!this.recurringPeriod,
                    recurringPeriod:    this.recurringPeriod,
                    price:              this.price,
                }).then((r) => {
                    console.log({
                        purchaseResponse: r,
                    });
                    let data    = r.data;
                    let status  = data.status || false;
                    if (status == 'success')
                    {
                        this.stripeCheckout(data.apiKey, data.session.id);
                    }
                    else if (status == 'fail') genericError(data.message);
                    else genericError();
                }).catch((err) => {
                    console.log({
                        purchaseError: err,
                    });
                });
            },
            /**
             * Update the subscription for the user in our current database.
             * If it is successful, fetch the new subscription data and reload the page
             * so that the user can view the updated subscription.
             * @param dataToUpdate
             */
            updateSubscription(dataToUpdate){
                axios.post(route('subscription.update').url(), {
                    userID: this.user.userID,
                    dataToUpdate: dataToUpdate,
                }).then((r) => {
                    console.log({
                        updateSubscriptionResponse: r,
                    });
                    let status = r.data.status || false;
                    if (status == 'success')
                    {
                        this.fetchSubscriptionData().then((r) => {
                            console.log({
                                fetchSubscriptionDataResponse: r,
                            });
                            let status = r.data.status || false;
                            if (status == 'success')
                            {
                                this.$store.commit('setSubscriptionData', r.data.data);
                                genericSuccess('Your plan has been updated.', 2000, 0, null, 'OKAY').then(() => {
                                    location.reload();
                                });
                            }
                            else if (status == 'fail') genericError(r.data.message);
                            else genericError();
                        }).catch((err) => {
                            console.log({
                                fetchSubscriptionDataError: err,
                            });
                        });

                    }
                    else if (status == 'fail') genericError(r.data.message);
                    else genericError();
                }).catch((err) => {
                    console.log({
                        updateSubscriptionError: err,
                    });
                });
            },
            /**
             * Fetch subscription data from the static PHP function getSubscriptionData().
             * This function is used directly inside of updateSubscription() and mounted().
             * @returns {Promise<*>}
             */
            async fetchSubscriptionData(){
                return axios.post(route('ajax.converter').url(), {
                    class: 'App\\Models\\OtcUser',
                    method: 'getSubscriptionData',
                    isStatic: true,
                    args: [this.user.userID],
                });
            },
            /**
             * This is in the circumstance where the user has already paid for the subscription and then decided
             * to go for the free plan instead. Since the user had already paid we let the subscription expire
             * on its own (Stripe takes care of it). If the user changes his/her mind on cancelling
             * then this code will update the subscription so that it doesn't expire.
             */
            renew(){
                this.updateSubscription({
                    cancel_at_period_end: false,
                });
            },
            /**
             * If the user cancels their subscription by selecting the free plan after they have already paid
             * for the subscription. Their subscription with automatically expire when their month or alotted
             * subscription time is over (Stripe takes care of this).
             */
            freePlan(){
                this.updateSubscription({
                    cancel_at_period_end: true,
                });
            }
        },
        mounted() {
            if (this.purchasedPlan === '1')
            {
                this.fetchSubscriptionData().then((r) => {
                    console.log({
                        fetchNewSubscriptionDataResponse: r,
                    });
                    let status = r.data.status || false;
                    if (status == 'success')
                    {
                        this.$store.commit('setSubscriptionData', r.data.data);
                        this.$store.commit('setQueuedMessage', {
                            title: 'THANK YOU',
                            type: 'success',
                            text: '<p>Your subscription plan has been upgraded!<br><br> You are ready to enjoy all of ' +
                                'the great features that come ' +
                                'with being an <strong>Offer To Close Professional.</strong><br><br>' +
                                'If you want to review the list of features, please visit the ' +
                                '<a href="' + route('account.subscription').url() + '">subscription page</a> ' +
                                'or contact us.</p>',
                        });
                        window.location.href = route('dashboard').url();
                    }
                    else if (status == 'fail') genericError(r.data.message);
                    else genericError();
                }).catch((err) => {
                    console.log({
                        fetchNewSubscriptionDataError: err,
                    });
                    genericError(err);
                });
            }
        }
    }
</script>

<style scoped>

</style>