<template>
    <div class="Q mb-0">
        <center>
            <p class="display-1">{{title}}</p>
            <form class="mt-2 BuyerSellerAgentInfo" v-if="display">
                <div class="row">
                    <div class="form-group col-md-6">
                        <input
                                v-model="NameFirst"
                                type="text"
                                name="BuyersAgent_NameFirst"
                                placeholder="FIRST NAME"
                                class="AnswerChoice"
                        >
                        <input
                                v-model="NameFirst"
                                type="hidden"
                                name="SellersAgent_NameFirst"
                                class="AnswerChoice"
                        >
                    </div>
                    <div class="form-group col-md-6">
                        <input
                                v-model="NameLast"
                                type="text"
                                name="BuyersAgent_NameLast"
                                id="NameLast"
                                placeholder="LAST NAME"
                                class="AnswerChoice"
                        >
                        <input
                                v-model="NameLast"
                                type="hidden"
                                name="SellersAgent_NameLast"
                                class="AnswerChoice"
                        >
                    </div>
                    <div class="form-group col-md-6">
                        <input
                                v-model="Email"
                                type="text"
                                name="BuyersAgent_Email"
                                id="Email"
                                placeholder="EMAIL ADDRESS"
                                class="AnswerChoice"
                        >
                        <input
                                v-model="Email"
                                type="hidden"
                                name="SellersAgent_Email"
                                class="AnswerChoice"
                        >
                    </div>
                    <div class="form-group col-md-6">
                        <input
                                v-model="Phone"
                                type="text"
                                name="BuyersAgent_Phone"
                                v-mask="'(###)-###-####'"
                                maxlength="14"
                                placeholder="PHONE #"
                                class="AnswerChoice"
                        >
                        <input
                                v-model="Phone"
                                type="hidden"
                                name="SellersAgent_Phone"
                                v-mask="'(###)-###-####'"
                                maxlength="14"
                                class="AnswerChoice"
                        >
                    </div>
                    <div class="form-group col-md-6">
                        <input
                                v-model="BrokerageOffice"
                                type="text"
                                name="BuyersAgent_BrokerageOffice"
                                id="BrokerageOffice"
                                placeholder="AGENT'S BROKERAGE"
                                class="AnswerChoice"
                        >
                        <input
                                v-model="BrokerageOffice"
                                type="hidden"
                                name="SellersAgent_BrokerageOffice"
                                class="AnswerChoice"
                        >
                    </div>
                    <div class="form-group col-md-6">
                        <input
                                v-model="License"
                                type="text"
                                name="BuyersAgent_License"
                                id="License"
                                placeholder="AGENT'S LICENSE #"
                                class="AnswerChoice"
                        >
                        <input
                                v-model="License"
                                type="hidden"
                                name="SellersAgent_License"
                                class="AnswerChoice"
                        >
                    </div>
                    <input
                            class="AnswerChoice"
                            type="hidden"
                            v-model="ID"
                            id="ID"
                            name="BuyersAgent_ID"
                    >
                    <input
                            class="AnswerChoice"
                            type="hidden"
                            v-model="BrokerageOfficeID"
                            id="BrokerageOfficeID"
                            name="BuyersAgent_BrokerageOfficeID"
                    >
                    <input
                            class="AnswerChoice"
                            type="hidden"
                            v-model="UUID"
                            id="UUID"
                            name="BuyersAgent_UUID"
                    >
                    <input
                            class="AnswerChoice"
                            type="hidden"
                            v-model="Users_ID"
                            id="Users_ID"
                            name="BuyersAgent_Users_ID"
                    >
                    <input
                            class="AnswerChoice"
                            type="hidden"
                            v-model="NotInList"
                            id="NotInList"
                            name="BuyersAgent_NotInList"
                    >
                    <input
                            class="AnswerChoice"
                            type="hidden"
                            v-model="ID"
                            name="SellersAgent_ID"
                    >
                    <input
                            class="AnswerChoice"
                            type="hidden"
                            v-model="BrokerageOfficeID"
                            name="SellersAgent_BrokerageOfficeID"
                    >
                    <input
                            class="AnswerChoice"
                            type="hidden"
                            v-model="UUID"
                            name="SellersAgent_UUID"
                    >
                    <input
                            class="AnswerChoice"
                            type="hidden"
                            v-model="Users_ID"
                            name="SellersAgent_Users_ID"
                    >
                    <input
                            class="AnswerChoice"
                            type="hidden"
                            v-model="NotInList"
                            name="SellersAgent_NotInList"
                    >
                </div>
            </form>
        </center>
    </div>
</template>

<script>
    import {has} from 'lodash';
    export default {
        name: "DualAgentInformation",
        components: {
            has
        },
        props: {
            friendlyIndex: {
                type: String,
                default: null,
            },
            answerChoices:{
                type: Array,
                default: () => []
            },
            currentAnswers: {
                type: Object,
                default: () => {},
            },
            prefix: {
                type: String,
                default: '',
            },
            token: {
                type: String,
                default: '',
            },
            allAnswersByFriendlyIndex: {
                type: Object,
                default: () => {},
            }
        },
        computed: {
            allRequired(){
                return this.NameFirst+this.NameLast+this.Email+this.Phone+this.License;
            }
        },
        watch: {
            allRequired: {
                handler(val){
                    this.checkRequired();
                }
            },
            Phone: {
                handler(val){
                    let msg = 'Please enter a valid phone number.';
                    if (val.length < 14 && val)
                        this.errors.push(msg);
                    else this.errors = removeFromArray(this.errors, msg);
                }
            },
            Email: {
                handler(val){
                    let msg = 'Please enter a valid email address.';
                    if ((val.indexOf('@') === -1 || val.indexOf('.') === -1) && val)
                        this.errors.push(msg);
                    else this.errors = removeFromArray(this.errors, msg);
                },
            },
            License: {
                handler(val){
                    this.License = val.replace(/[^0-9]/g, '');
                }
            },
            errors: {
                handler(val){
                    val = uniqueValueArray(val);
                    this.$root.$emit('__addErrors', val);
                },
                deep: true,
            }
        },
        methods: {
            displayCategories(){
                $('.categories').show();
            },
            hideCategories(){
                $('.categories').hide();
            },
            checkRequired(){
                let fname_msg = 'First name is required.';
                let lname_msg = 'Last name is required.';
                let l_msg = 'License is required.';
                if (this.NameFirst === '') this.errors.push(fname_msg);
                else this.errors = removeFromArray(this.errors, fname_msg);
                if (this.NameLast === '') this.errors.push(lname_msg);
                else this.errors = removeFromArray(this.errors, lname_msg);
                if (this.License === '') this.errors.push(l_msg);
                else this.errors = removeFromArray(this.errors, l_msg);
            },
        },
        data(){
            return {
                userData: this.$store.getters.getUserData(),
                agents: [],
                answers: {},
                NameFirst: '',
                NameLast: '',
                Email: '',
                Phone: '',
                License: '',
                BrokerageOffice: '',
                BrokerageOfficeID: '',
                UUID: '',
                Users_ID: '',
                ID: '',
                NotInList: 0,
                cancelSource: null,
                searchText: '',
                errorMessages: {},
                errors: [],
                title: 'Please confirm your agent information.',
                display: false,
            }
        },
        mounted() {
            let all_ans = this.allAnswersByFriendlyIndex;
            let sa_userID = all_ans['SellersAgent_Users_ID'];
            let ba_userID = all_ans['BuyersAgent_Users_ID'];
            let bs = sa_userID == ba_userID;
            if (bs && this.userData.userID == ba_userID)
            {
                this.NameFirst          = all_ans['BuyersAgent_NameFirst']            || '';
                this.NameLast           = all_ans['BuyersAgent_NameLast']             || '';
                this.Email              = all_ans['BuyersAgent_Email']                || '';
                this.Phone              = all_ans['BuyersAgent_Phone']                || '';
                this.BrokerageOffice    = all_ans['BuyersAgent_BrokerageOffice']      || '';
                this.License            = all_ans['BuyersAgent_License']              || '';
                this.BrokerageOfficeID  = all_ans['BuyersAgent_BrokerageOfficeID']    || '';
                this.ID                 = all_ans['BuyersAgent_ID']                   || '';
                this.UUID               = all_ans['BuyersAgent_UUID']                 || '';
                this.Users_ID           = all_ans['BuyersAgent_Users_ID']             || '';
                this.NotInList          = all_ans['BuyersAgent_NotInList']            || '';
                this.checkRequired();
                this.display = true;
            }
            else this.$root.$emit('next');

            this.errorMessages['BuyersAgent_NameFirst'] = {required: 'First name is required.'};
            this.errorMessages['BuyersAgent_NameLast'] = {required: 'Last name is required.'};
            this.errorMessages['BuyersAgent_Email'] = {required: 'Email address is required.'};
            this.errorMessages['BuyersAgent_Phone'] = {required: 'A phone number is required.'};
            this.errorMessages['BuyersAgent_License'] = {required: 'License is required.'};

            this.$parent.$emit('setErrorMessages', this.errorMessages);
        }
    }
</script>

<style scoped>

</style>