#Subscription{
  @import url('https://fonts.googleapis.com/css?family=Montserrat:500,700|Raleway:500&display=swap');
  #pageHeader{
    font-family: Roboto, sans-serif;
    font-weight: 200;
    margin-bottom: 20px;
  }
  .t-column{
    height: 550px;
    margin-bottom: 30px;
    position: relative;
    padding: 25px;
    margin-right: 30px;
    border-radius: 5px;
  }
  .t-header{

  }
  .h-price{
    font-size: 50px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    color: #403f3f;
  }
  .h-type{
    color: #00bdb6;
    font-size: 20px;
    letter-spacing: 3px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
  }
  .h-per{
    font-size: 9px;
    padding-bottom: 30px;
    margin-top: -10px;
  }
  .h-spans{
    display: block;
  }
  .features-heading{
    background: #747171;
    padding: 10px;
    text-align: center;
    color: white;
    font-size: 17px;
    font-family: Raleway, sans-serif;
    font-weight: 500;
    margin: -25px;
    margin-bottom: 7px;
    margin-top: 15px;
  }
  .features-container{
    font-family: 'Montserrat', sans-serif;
    padding: 15px 0;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    color: #747171;
    ul{
      list-style: none;
      padding-inline-start: 0;
      li{
        padding: 3px;
      }
    }
  }

  .btn-container{
    position: absolute;
    bottom: 15px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }

  button{
    border-radius: 0;
    white-space: nowrap;
    font-size: 12px;
    padding: 5px;
    border: none !important;
    &.btn-teal{
      background: #01bfb8 !important;
    }
  }

  .col-sm-3{
    width: 27%;
  }
}