#DocumentBagShare{
  $brightRed: #ff312c;
  #documentBagShareMainHeader{
    .btn.btn-red{
      padding: 10px !important;
    }
    h1{
      color: $teal;
      font-family: Montserrat, sans-serif;
      font-weight: 900;
      margin: 0;
    }
    h2{
      font-family: sans-serif;
    }
    h3{
      font-size: 18px;
      color: $teal;
    }
    ul{
      li{
        list-style: none;
        font-style: normal;
      }
    }
  }
  .bag-header{
    height: 90px;
    .header-uploader-image{
      float: left;
      height: 100%;
      img{
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin-right: 10px;
      }
    }
    .bag-header-meta-data{
      height: 100%;
      float: left;
      .header-text{
        font-weight: 700;
        font-family: Montserrat, sans-serif;
      }
      .uploaded-timestamp{

      }
      .view-file-link{
        color: $teal;
        font-size: 17px;
        &:hover{
          text-decoration: underline;
        }
      }
      .delete-file-link{
        color: $brightRed;
        font-size: 14px;
        &:hover{
          text-decoration: underline;
        }
      }
    }
    .header-icon-container{
      float: right;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      span{
        padding: 12px 15px;
        border: solid 1px #ccc;
        border-radius: 50%;
        color: #ccc;
      }
    }
  }
  .signed-by-container{
    .signed-by-role{
      font-size: 12px;
      color: #a7a2a2;
    }
    .signature-column{
      .inner-column{
        width: 70%;
        display: inline-block;
        max-height: 100px;
        &:first-child{
          vertical-align: top;
          color: #c3c3c3;
          width: 25%;
        }
        div{
          width: 50%;
          display: inline-block;
        }
      }
    }
  }
  .disallowed-role{
    color: $brightRed;
    text-decoration: line-through;
  }
  .controls-container{
    margin-top: 15px;
  }
  .shared-with-container{
    table{
      tr{
        td{
          &:first-child{
            vertical-align: top;
            color: #c3c3c3;
          }
          width: 25%;
        }
      }
    }
  }
  .share-link-container{
    height: 100px;
    display: flex;
    align-items: center;
    .share-link-input-container{
      .share-link-description{
        padding: 10px;
        font-size: 14px;
        color: #a9a6a6;
      }
    }
    .share-link-button-container{
      margin-top: 25px;
    }
  }
  table{
    table-layout: fixed;
  }
}