/****** Dashboard Banner ******/

.dashboard-banner .wrap .title{
  color: black;
}

.dashboard-banner {
  overflow: hidden;
  border-bottom: solid 2px $red;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    z-index: -1;
  }
  .banner-bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    &:after {
      content: '';
      background: transparent;
      background: linear-gradient(to bottom, rgba(36, 66, 101, 0) 0%, rgba(255, 255, 255, 0.94) 45%);
      padding-top: 36%;
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      min-height: 145px;
    }
  }
  .wrap {
    position: relative;
    text-align: center;
    padding: 30px 25px 0 25px;
  }
}

.dashboard-banner .wrap {
  .title {
    color: #000;
    font-weight: 600;
    line-height: 1.6em;
    font-family: Roboto, sans-serif;
    margin-bottom: 0;
    word-spacing: 3px;
    font-size: 35px;
  }
  .countdown {
    color: $teal;
    font-size: 16px;
    display: inline-block;
    border-bottom: 2px solid $red;
    font-family: Roboto, sans-serif;
  }
  .edit-button {
    margin-bottom: 20px;
  }
}

@media (min-width: 768px) {
  .dashboard-banner .wrap {
    /*padding: 80px 30px 120px;*/
    .countdown {
      padding-bottom: 20px;
    }
  }
}

@media (min-width: 992px) {
  .dashboard-banner .wrap {
    /*padding: 80px 30px 120px;*/
    .title {
      margin-bottom: 15px;
      margin-bottom: 0;
      word-spacing: 3px;
      font-size: 35px;
    }
    .countdown {
      font-size: 25px;
    }
  }
}

@media (min-width: 1200px) {
  .dashboard-banner .wrap {
    /*padding: 114px 30px 183px;*/
  }
}

.edit-button {
  background-color: $red;
  border-radius: 6px;
  color: #fff;
  display: inline-block;
  &:hover, &:active, &:focus {
    color: #fff;
    background-color: $teal;
  }
  opacity: .8;
  padding: 10px 15px 12px 15px;
}

.transaction-summary-banner-stats{
  .edit-button{
    float: right;
    margin-top: 40px;
  }
  .title{
    text-align: left;
  }
  .countdown{
    float: left;
    border: none !important;
  }
}

