/******** Disclosures  **********/
.disclosure-show-completed{
  cursor: pointer;
}

.disclosure-hide-completed{
  cursor: pointer;
}

.timeline-hide-toggle {color:teal!important; cursor: pointer; display: none}
.disclosure-show-completed {cursor: pointer; text-align: center;  font-size: 17px!important;}
.timeline_completed {display:none}
.desc-wrap:hover {cursor: pointer}
.desc-wrap-completed:hover {background-color: #e85c5c!important; cursor: pointer}
.timeline-past-due {color:red!important; font-weight: 600}
.completed-milestone-h3{color:#21d7d1 !important;}
.link-active{ color: #D52A39;}
.mobile-view{color: #00DED3}

.progress {
  margin-top: 15px;
  height: 15px !important;
  border-radius: 25px !important;
}

.progress-bar {
  background-color: #00e2da !important;
  border-radius: 25px;
  height: 15px !important;
}

.questionAmt {
  position: absolute;
  top: -10px;
  color: darkgrey;
  left: 30%;
}

.additionalInfo {
  margin-top: 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  height: 50px;
  width: 300px;
  border: 1px solid #ccc;
  padding: 5px;
  font-family: Tahoma, sans-serif;
  &::placeholder {
    color: #ccc;
  }
}

.disclosure-title {
  color: #C94543;
  font-size: 1em;
}

.question-text {
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 30px;
  margin-top: 40px;
}

.question-info {
  padding: 20px;
  padding-left: 0px;
  font-weight: bold;
  font-style: italic;
}

.hint-title {
  color: #00e2da;
  font-weight: normal !important;
  font-style: normal !important;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}

.answer-section {
  margin-top: 15px;
  min-height: 250px;
}

.list-buttons {
  width: 90%;
  padding-top: 20px;
  border-top: solid 1px rgba(204, 204, 204, 0.45);
  position: relative;
  min-height: 100px;
}

.questionnaireContainer {
  background: white !important;
  padding: 30px;
  min-height: 500px;
  margin-bottom: 100px;
}

.angle-icon {
  position: relative;
  bottom: -1px;
}

.next-question {
  background: #00e2da !important;
  display: inline-block;
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 1.2em !important;
  &:hover {
    background: #00e2da !important;
  }
}

.next-unanswered-question {
  background: $red;
  display: inline-block;
  position: absolute;
  right: 0;
  padding: 10px !important;
  top: -56px;
  font-size: 13px;
  &:hover {
    background: $teal !important;
  }
}

.update-button{
  cursor: pointer !important;
}

.prev-question {
  background: none;
  color: rgba(143, 143, 143, 0.72);
  border: none;
  display: inline-block;
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 20px;
  text-align: left;
}

.radio-group {
  list-style-type: none;
  margin: 25px 0 0 0;
  padding: 0;
  li {
    float: left;
    color: #ccc;
    margin: 0 5px 0 0;
    width: 200px;
    height: 50px;
    position: relative;
  }
}

.radio-label {
  color: lightgray;
  display: block;
  text-align: center;
  line-height: 49%;
}

.radio-group {
  label {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  input {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    &[type="radio"] {
      display: none;
      &:checked + label {
        background-color: #00e2da;
        color: white;
      }
    }
  }
  label {
    padding: 20px;
    border: 1px solid #CCC;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    cursor: pointer;
    z-index: 90;
    &:hover {
      background-color: #00e2da;
      color: white;
    }
  }
}

.single-answer {
  font-size: 20px;
  font-style: italic;
}

/* Checkboxes */

.checkbox-group .row div {
  margin-top: 10px;
}

.checkbox-label {
  padding-left: 10px;
}

.checkbox-group {
  input[type="checkbox"] {
    display: none;
    float: right;
  }
  label:before {
    content: "";
    width: 30px;
    height: 30px;
    border-radius: 4px;
    display: inline-block;
    vertical-align: bottom;
    margin-right: 10px;
    line-height: 20px;
    text-align: right;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    padding: 10px;
  }
  input[type="checkbox"]:checked + label::before {
    background: url("../../public/images/icons/check.png");
    background-position: center;
  }
}