/******** Mail ***************/

.mail_fields {
  width: 100%;
  div {
    width: 50%;
    margin: 0 auto;
  }
  label {
    width: 20%;
    font-family: 'Noto Sans TC', sans-serif;
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
  }
  input[type=text] {
    height: 30px;
    width: 80%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 10px;
  }
}

.to_field {
  width: 200px;
  height: 20px;
}

.email-template-container {
  width: 100%;
}

.email-template {
  width: 50%;
  margin: 0 auto;
}

.choose-template-container {
  width: 100%;
  padding: 20px;
  padding-left: 50px;
}

.choose-template-form input {}

.template-radio {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-block;
  position: relative;
  background-color: #dddddd;
  color: #666;
  top: 10px;
  height: 30px;
  width: 30px;
  border: 0;
  border-radius: 50px;
  cursor: pointer;
  margin-right: 7px;
  outline: none;
  &:checked::before {
    position: absolute;
    font: 13px/1 'Open Sans', sans-serif;
    left: 11px;
    top: 7px;
    content: '\02143';
    transform: rotate(40deg);
  }
  &:hover {
    background-color: $gray;
  }
  &:checked {
    background-color: $teal;
  }
}

label {
  font: 300 16px/1.7 'Open Sans', sans-serif;
  color: #666;
  cursor: pointer;
}