/********* Timeline  **********/
.timeline-hide-toggle {color:teal!important; cursor: pointer; display: none}
.timeline-show-completed {cursor: pointer; text-align: center;  font-size: 17px!important;}
.timeline_completed {display:none}
.desc-wrap:hover {cursor: pointer}
.desc-wrap-completed:hover {background-color: #e85c5c!important; cursor: pointer}
.timeline-past-due {color:red!important; font-weight: 600}
.completed-milestone-h3{color:#21d7d1 !important;}
.link-active{ color: #D52A39;}
.mobile-view{color: #00DED3}

#aButtons{
  width: 300px;
  margin-top: 10px;
  margin-bottom: 20px;
  button{
      width: 100px !important;
  }
}

.timeline-modal-class{
    .modal-content{
        width: 400px;
    }
}

.tasks-save{
  margin-left: 70px;
}