#questionnaire {
  @media screen and (min-width: 1033px){
    min-width: 700px;
  }

  .questionnaire-title {
    text-align: center;
    font-size: 29px;
    margin-top: 20px;
    margin-bottom: 5px;
  }

  margin: auto;
  * {
    //margin: 0;
    //padding: 0;
  }

  /* ================================================= */
  /*     CSS FOR (HEADER / SIDEBAR / FOOTER) STARTS    */
  /* ================================================= */

  header {
    min-height: 70px;

    img {
      height: 35px;
    }

    ul li a {
      color: black;
    }
  }

  .nav-steps-btn{
    @media screen and (max-width: 1060px){
      max-width: 50px;
      width: 100%;
      padding-left: 0 !important;
      padding-right: 15px !important;
      margin-right: 0 !important;
      text-align: right;
      display: inline-block !important;
    }
  }

  .questionnaire-nav-button{
    @media screen and (max-width: 480px){
      width: 100%;
      margin-bottom: 10px;
    }
  }

  .sidebar {
    margin: 0;
    padding: 0;
    width: 250px;
    background-color: #253138;
    position: fixed;
    height: 100%;
    overflow: auto;

    ul li {
      width: 100%;

      img {
        height: 17px;
        width: 20px;
        margin-right: 10px;
        margin-top: -5px;
      }
    }

    a {
      display: block;
      color: #8C9194;
      font-size: 12px;
      background-color: #404B51;
      border-bottom: 1px solid #343A40;
      padding: 8px 23px;
      text-decoration: none;
    }

    .sub-item a {
      font-size: 11px;
      background-color: #343A40;
      border-bottom: none;
      padding: 5px 10px 5px 65px;
    }

    a:hover {
      background-color: #404B51;
      color: #8C9194;
    }
  }

  div.content {
    margin-left: 250px;
    background-color: #F4F4F4;
    padding-top: 50px;
  }

  .sidebar button {
    background-color: #343A40;
    color: #8C9194;
    width: 100%;
    height: 40px;
    margin: 0 auto;
    border-radius: 0px;
  }

  footer {
    margin-top: 50px;
    background-color: #343A40;
    border-left: 1px solid #8C9194;
    color: white;
    font-size: 12px;

    img {
      height: 25px;
    }

    ul li a {
      color: white;
    }

    #social a {
      font-size: 14px;
    }
  }

  @media screen and (max-width: 700px) {
    header {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

      ul {
        float: right;
      }
    }
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;

      a {
        float: left;
      }
    }
    div.content {
      margin-left: 0;
    }
    footer ul {
      float: left;
    }
  }

  @media screen and (max-width: 400px) {
    .sidebar a {
      float: none;
    }
  }

  /* ================================================= */
  /*       CSS FOR (HEADER / SIDEBAR / FOOTER) ENDS    */
  /* ================================================= */
  /* ================================================= */
  /*       CSS FOR (Consumer Summary) PAGE STARTS      */
  /*               Category & Timeline View            */
  /* ================================================= */

  #consumer-doc {
    padding-top: 0px;

    .address {
      background-color: white;
      padding: 15px 50px;
      border-bottom: 2px solid #C44342;

      small {
        font-size: 13px;
        font-weight: 600;
        text-align: left;
        border: 1px solid red;
      }

      #days-of-escrow {
        color: #21D7D1;
      }

      button {
        height: 35px;
        width: 40px;
        background-color: #C44342;
        color: white;
        border-radius: 8px;
        padding-top: 5px;

        &:hover {
          background-color: white;
          border: 1px solid #C44342;
          color: #C44342;
        }
      }
    }
  }

  .tasks {
    background-color: white;
    border-radius: 6px;
    margin-left: 20px;

    #form1 {
      width: 77%;
      margin-right: 15px;
      display: inline-block;

      button {
        background-color: #C44342;
        color: white;
      }
    }

    .add {
      background-color: #C44342;
      color: white;
      font-size: 12px;
      height: 38px;
      border-radius: 6px;
    }

    #form1 button:hover, .add:hover {
      background-color: white;
      border: 1px solid #C44342;
      color: #C44342;
    }
  }

  .tasks-body {
    button {
      height: 35px;
      border: 1px solid #21D7D1;
      color: #21D7D1;
      font-size: 14px;
      margin-bottom: 10px;

      &:hover {
        background-color: #21D7D1;
        color: white;
      }
    }

    .active {
      background-color: #21D7D1;
      color: white;
    }

    .filter-dropdown {
      border: 1px solid #21D7D1;
      color: black;
      background-color: white;
      margin-right: 100px;

      a {
        padding-top: 8px;
        padding-bottom: 8px;
        border-bottom: 1px solid #21D7D1;
        font-size: 12px;

        &:hover {
          background-color: #E8FBFA;
        }
      }
    }

    h5 {
      color: #C44342;
    }

    .form-check-label {
      font-size: 12px;
      line-height: 15px;
      font-weight: 600;
    }

    h6 {
      color: #21D7D1;
      font-size: 18px;
    }
  }

  .tasks {
    ul {
      margin-top: 30px;

      li {
        list-style-type: none;
        margin-bottom: 15px;
      }
    }

    .label-box {
      margin-left: 20px;

      label {
        font-size: 18px;
        font-weight: bold;
        line-height: 18px;

        span {
          font-size: 28px;
          line-height: 25px;
          margin-left: 3px;
        }
      }
    }

    .list-content {
      border: 1px dashed #CDCDCD;
      border-radius: 6px;
      min-height: 45px;
      padding-top: 8px;
      padding-left: 15px;
      width: 80%;
      margin-left: 5%;

      &:hover {
        color: white;
        background-color: #21D7D1;
        border: none;
      }

      .dropdown-toggle:after {
        content: none;
      }

      .filter-dropdown {
        margin-left: 65%;
        margin-top: 8%;
        color: black;
      }
    }

    ul li i {
      color: #eee8e8;
      margin-right: 3px;
      font-size: 12px;
      float: right;
      margin-right: 10px;
      border: 2px solid #eee8e8;
      padding: 4px;
      border-radius: 180px;
      margin-top: 2px;
    }

    .p1 {
      font-size: 10px;
      margin-top: -15px;
      margin-left: 100px;
      margin-right: 40px;
    }

    .milestones {
      background-color: white;
      border-radius: 0px;
      padding: 15px 0px 5px;
      margin-top: 30px;

      h6 {
        color: #21D7D1;
        font-size: 18px;
        display: inline-block;
      }

      .collapse-toggler {
        text-align: right;
        color: #21D7D1;
        text-decoration: none;

        &:hover {
          color: #21D7D1;
        }
      }
    }
  }

  .details-block {
    margin-left: 60px;

    .red-edit-btn {
      width: 100%;
      height: 40px;
      padding-right: 10px;
      background-color: #C44342;
      color: white;
      border-radius: 6px;

      i {
        font-size: 20px;
        margin-top: 2px;
        margin-left: -20px;
      }

      &:hover {
        background-color: white;
        border: 2px solid #C44342;
        color: #C44342;
        font-weight: 600;
      }
    }
  }

  .details {
    background-color: white;
    border-radius: 6px;
    padding: 15px 15px 5px;
    margin-top: 30px;
    margin-bottom: 20px;

    h5 {
      color: #C44342;
      font-size: 18px;
      display: inline-block;
    }

    a {
      text-align: right;
      color: #21D7D1;
      text-decoration: none;

      &:hover {
        color: #21D7D1;
      }
    }

    ul li {
      list-style-type: none;
      border: 1px dashed #CDCDCD;
      border-radius: 6px;
      font-size: 14px;
      margin-bottom: 10px;
      height: 30px;
      padding-top: 3px;
      padding-left: 10px;

      i {
        color: #CDCDCD;
        margin-right: 3px;
        font-size: 12px;
      }

      label {
        font-weight: bold;
        font-size: 12px;
        width: 140px;
      }
    }

    #key-people a {
      color: #21D7D1;
      font-weight: 600;
    }
  }

  @media screen and (max-width: 600px) {
    #consumer-doc .address {
      padding: 15px 25px;

      button {
        margin-top: 20px;
      }
    }
    .tasks, .details-block {
      margin-left: 0px;
      margin-bottom: 20px;
    }
    .tasks {
      #form1, .add {
        width: 100%;
        margin-right: 0px;
      }

      .list-content {
        width: 80%;
        margin-left: 10px;
        font-size: 14px;
        padding-left: 8px;
      }

      .label-box {
        margin-left: 0px;
      }
    }
  }

  /* ================================================= */
  /*       CSS FOR (Consumer Summary) PAGE ENDS        */
  /*               Category & Timeline View            */
  /* ================================================= */

  /* ================================================= */
  /* ================================================= */
  /*                     NEXT PAGE                     */
  /* ================================================= */
  /* ================================================= */

  /* ================================================= */
  /*         CSS FOR (Type of Users) PAGE STARTS       */
  /* ================================================= */

  .key-people .cancel {
    max-width: 800px;
    margin: 0 auto;
    margin-top: -40px;

    a {
      text-decoration: none;
      text-align: right;
      display: block;
      color: #353535;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .add-type-of-user .p1 {
    font-size: 35px;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 0px;
  }

  .type-of-users {
    margin-top: 30px;
    margin-bottom: 60px;

    a {
      text-decoration: none !important;
    }

    button {
      margin-left: 8px;
      margin-right: 8px;
      height: 140px;
      width: 140px;
      font-size: 12px;
      margin-bottom: 15px;
      line-height: 30px;

      img {
        height: 80px;
      }

      &:hover {
        background-color: #D5EEF0;
        border-radius: 6px;
      }
    }
  }

  .add-type-of-user footer {
    margin-top: 80px;
  }

  @media screen and (max-width: 600px) {
    .key-people .cancel {
      padding: 0px 20px;
    }
    .add-type-of-user .p1 {
      margin-top: 20px;
    }
  }

  /* ================================================= */
  /*         CSS FOR (Type of Users) PAGE ENDS         */
  /* ================================================= */

  /* ================================================= */
  /* ================================================= */
  /*                     NEXT PAGE                     */
  /* ================================================= */
  /* ================================================= */

  /* ================================================= */
  /*              CSS FOR (New User) PAGE STARTS       */
  /*   CSS FOR (Add a Real Estate Agent) PAGE STARTS   */
  /* ================================================= */

  .add-an-REA .search {
    max-width: 595px;
    height: 50px;
    border-radius: 0px;
    background-color: white;
    border: 1px solid #B5B6B7;
    margin-bottom: 20px;
    margin-left: 140px;
    padding: 8px 50px;

    input {
      height: 30px;
      background-color: white;
      color: #ABABAB;
      font-weight: 500;
      border: 1px solid #D7D7D7;
      border-radius: 5px;
      padding-top: 0;

      &::placeholder {
        padding-left: 50px;
        font-size: 13px;
      }
    }

    button {
      background-color: #D12E2E;
      border: 1px solid #D7D7D7;
      color: #F9EBEB;
      font-size: 13px;
      float: none;
      width: auto;
      height: 30px;
      padding-top: 3px;
    }
  }

  .new-user .p1 {
    font-size: 35px;
    text-align: center;
    margin-bottom: 30px;
  }

  .add-an-REA .p1 {
    font-size: 35px;
    text-align: center;
    margin-bottom: 30px;
    font-size: 38px;
  }

  .new-user label, .add-an-REA label {
    padding: 0;
    height: 30px;
    font-size: 12px;
    text-align: right;
    padding-top: 4px;
  }

  .new-user label span, .add-an-REA label span {
    color: #D12E2E;
    margin-left: 3px;
  }

  .new-user input {
    min-width: 220px;
    height: 30px;
    border-radius: 0px;
    background-color: #F4F4F4;
    border: 1px solid #B5B6B7;
    margin-bottom: 20px;
  }

  .add-an-REA input {
    min-width: 220px;
    height: 30px;
    border-radius: 0px;
    background-color: #F4F4F4;
    border: 1px solid #B5B6B7;
    margin-bottom: 20px;
    margin-bottom: 0px;
  }

  .key-people .navigation {
    button {
      font-size: 13px;
      border-radius: 4px;
      width: 110px !important;
      height: 35px;
    }
  }

  .new-user footer, .add-an-REA footer {
    margin-top: 100px;
  }

  @media screen and (max-width: 600px) {
    .new-user .p1, .add-an-REA .p1 {
      text-align: center;
      margin-left: 20px;
      margin-right: 20px;
    }
    .new-user label, .add-an-REA label {
      text-align: left;
      padding-left: 20px;
    }
    .new-user input {
      margin-bottom: 10px;
    }
    .add-an-REA {
      input {
        margin-bottom: 10px;
      }

      .search {
        margin-left: 20px;
        margin-right: 20px;
        width: 100%;
        height: auto;
        margin-top: 20px;
        padding: 5px;

        input::placeholder {
          padding-left: 10px;
        }
      }
    }
    .key-people .p1 {
      font-size: 30px;
      font-weight: 400;
    }
  }

  /* ================================================= */
  /*              CSS FOR (New User) PAGE ENDS         */
  /*    CSS FOR (Add a Real Estate Agent) PAGE ENDS    */
  /* ================================================= */

  /* ================================================= */
  /* ================================================= */
  /*                     NEXT PAGE                     */
  /* ================================================= */
  /* ================================================= */

  /* ================================================= */
  /*      CSS FOR (POP-UP confirmhome) PAGE STARTS     */
  /* ================================================= */

  #pop-up {
    .modal-content {
      min-height: 450px;
      padding: 50px 20px;
      border-radius: 15px;
    }

    h1 {
      margin-top: 40px;
      margin-bottom: 20px;
      font-size: 45px;
      font-weight: 400;
      color: black;
    }

    h5 {
      margin-bottom: 50px;
      font-size: 22px;
    }

    button {
      background-color: #0F0E0C;
      color: white;
      height: 50px;
      width: 170px;
      border-radius: 6px;

      &:hover {
        background-color: black;
        font-size: 18px;
      }
    }
  }

  /* ================================================= */
  /*      CSS FOR (POP-UP confirmhome) PAGE STARTS     */
  /* ================================================= */

  /* ================================================= */
  /* ================================================= */
  /*                     NEXT PAGE                     */
  /* ================================================= */
  /* ================================================= */

  /* ================================================= */
  /*         CSS FOR (Consumer Alerts) PAGE STARTS     */
  /* ================================================= */

  .consumer-alerts {
    width: 600px;

    .row {
      max-width: 1000px;
      margin-left: 20px;
    }

    ul {
      float: right;

      li {
        a {
          color: #13C1BA;
          padding-left: 10px;
          padding-right: 10px;

          &:hover {
            font-weight: 600;
            text-decoration: none;
          }
        }

        &:first-child {
          border-right: 1px solid #13C1BA;
        }
      }
    }

    h5 {
      color: #13C1BA;
      font-size: 18px;
      font-weight: 700;
    }

    table {
      tr {
        font-size: 13px;
        height: 50px;

        &:hover {
          background-color: #E6FFFE;
        }
      }

      a {
        color: black;
        font-weight: bold;
        text-decoration: none;
        padding-left: 20px;
      }

      .action {
        padding-left: 0px;
        color: #41DDD7;
        font-size: 12px;

        &:hover {
          text-decoration: underline;
        }
      }

      .read {
        border-right: 1px solid #41DDD7;
        padding-right: 20px;
        margin-right: -20px;
      }

      span {
        color: #B6B6B6;
        font-size: 12px;
      }

      i {
        color: #13C1BA;
        font-size: 8px;
        margin-right: -10px;
      }
    }

    .more {
      color: #13C1BA;
      text-decoration: none;
    }
  }

  @media screen and (max-width: 600px) {
    .consumer-alerts {
      .row {
        width: auto;
        margin-left: 0px;
        margin-right: 0;
      }

      ul {
        margin-bottom: 10px;
        float: left;
      }

      h5 {
        margin-left: 10px;
      }

      .table-box {
        overflow-x: auto;
      }
    }
  }

  /* ================================================= */
  /*         CSS FOR (Consumer Alerts) PAGE ENDS       */
  /* ================================================= */

  /* ================================================= */
  /* ================================================= */
  /*                     NEXT PAGE                     */
  /* ================================================= */
  /* ================================================= */

  /* ================================================= */
  /*            CSS FOR (My Account) PAGE STARTS       */
  /*     CSS FOR (Profile-INTERRATION) PAGE STARTS     */
  /* ================================================= */

  #my-account, #profile-TPI {
    max-width: 1000px;
    min-height: 500px;
    padding: 0px 20px;
  }

  #my-account {
    .profile-pic, .account-settings {
      background-color: white;
      border-radius: 8px;
      min-height: 250px;
      margin-bottom: 20px;
    }
  }

  #profile-TPI {
    .profile-pic, .account-settings {
      background-color: white;
      border-radius: 8px;
      min-height: 250px;
      margin-bottom: 20px;
    }
  }

  #my-account .profile-pic img, #profile-TPI .profile-pic img {
    min-height: 180px;
    width: 100%;
  }

  #my-account .profile-pic img:hover, #profile-TPI .profile-pic img:hover {
    border: 1px dashed #F0F0F0;
  }

  #my-account .account-settings ul, #profile-TPI .account-settings ul {
    margin-top: 10px;
    margin-left: 15px;
  }

  #my-account .account-settings ul li, #profile-TPI .account-settings ul li {
    list-style-type: none;
    font-size: 13px;
    margin-bottom: 5px;
  }

  #my-account .account-settings ul li a, #profile-TPI .account-settings ul li a {
    text-decoration: none;
    color: #41DDD7;
    font-weight: 500;
  }

  #my-account .account-settings ul li a:hover, #profile-TPI .account-settings ul li a:hover {
    font-weight: 600;
  }

  #my-account .account-details, #profile-TPI .TPI {
    background-color: white;
    border-radius: 8px;
    min-height: 500px;
  }

  #my-account .account-details h5, #profile-TPI .TPI h5 {
    color: #CE343E;
  }

  #my-account .account-details form label, #profile-TPI .TPI form label {
    color: #AAADB0;
    font-size: 14px;
    margin-bottom: 5px;
  }

  #my-account .account-details form input::placeholder {
    color: black;
  }

  #profile-TPI .TPI a {
    margin-top: 25px;
    color: #41DDD7;
    font-weight: 400;
    font-size: 15px;
  }

  #my-account .account-details form button {
    background-color: #CE343E;
    color: white;
    border-radius: 6px;
    height: 40px;
    font-size: 14px;
    width: 150px;
    margin-top: 15px;
  }

  #profile-TPI .TPI form button {
    background-color: #CE343E;
    color: white;
    border-radius: 6px;
    height: 40px;
    font-size: 14px;
    width: 150px;
    margin-top: 80px;
    margin-bottom: 20px;
    float: right;
    clear: both;
  }

  @media screen and (max-width: 600px) {
  }

  /* ================================================= */
  /*            CSS FOR (My Account) PAGE ENDS         */
  /*     CSS FOR (Profile-INTERRATION) PAGE ENDS       */
  /* ================================================= */

  /* ================================================= */
  /* ================================================= */
  /*                     NEXT PAGE                     */
  /* ================================================= */
  /* ================================================= */

  /* ================================================= */
  /*        CSS FOR (Summary of offer) PAGE STARTS     */
  /* ================================================= */

  .summary-of-offers {
    #body-content {
      max-width: 950px;
      min-height: 400px;
      background-color: white;
      border-radius: 15px;
      padding: 30px 30px;
    }

    h5 {
      color: #CE343E;
      margin: -20px 0px 20px 70px;
      font-size: 24px;
    }

    a {
      text-decoration: none !important;
    }

    .offer-btn {
      border-radius: 90px;
      font-size: 14px;

      &:hover {
        background-color: #CE343E;
        color: white;
        border-radius: 90px;
      }
    }

    .active {
      background-color: #CE343E;
      color: white;
      border-radius: 90px;

      &:hover {
        color: white;
        font-weight: 600;
      }
    }

    th {
      font-weight: normal;
      color: #ADADAD;
      font-size: 14px;
    }

    tbody {
      tr {
        background-image: linear-gradient(to bottom, white, #eee);
        border: 1px solid #E1E1E1;
        border-radius: 5px;
        margin-top: 50px;
        font-size: 15px;
      }

      .rejected {
        color: #CE343E;
      }

      .accepted {
        color: #38A018;
      }

      button {
        border: 1px solid #CDCDCD;
        color: #CDCDCD;
        height: 25px;
        width: 25px;
        border-radius: 360px;

        &:hover {
          color: #CDCDCD;
        }
      }

      .dropdown-menu {
        background-color: white;
        border: 1px solid #21D7D1;
        margin-right: 90px;
        padding: 0;
        font-size: 12px;

        a {
          border-bottom: 1px solid #21D7D1;
          padding-top: 10px;
          padding-bottom: 10px;

          &:hover {
            background-color: #E8FBFA;
          }

          &:last-child {
            border-bottom: none;
          }
        }
      }

      .dropdown-toggle::after {
        display: none;
      }
    }
  }

  @media screen and (max-width: 600px) {
    .summary-of-offers {
      .table-box {
        overflow-x: auto;
      }

      h5 {
        margin: -20px 0px 20px 0px;
        text-align: center;
      }

      table {
        width: 50%;
      }

      tbody .dropdown-menu {
        margin-right: 10px;
      }
    }
  }

  /* ================================================= */
  /*        CSS FOR (Summary of offer) PAGE STARTS     */
  /* ================================================= */

  /* ================================================= */
  /* ================================================= */
  /*                     NEXT PAGE                     */
  /* ================================================= */
  /* ================================================= */

  /* ================================================= */
  /*       CSS FOR (Overview of offer) PAGE STARTS     */
  /* ================================================= */

  .overview-of-offer {
    #body-content {
      max-width: 900px;
      min-height: 500px;
      background-color: white;
      border-radius: 15px;
      padding: 30px;
    }

    h5 {
      color: #CE343E;
      margin: -10px 0px 20px 70px;
      display: inline-block;
    }

    .back {
      float: right;
      color: black;
      text-decoration: none;
      font-size: 14px;
      margin-right: 100px;
    }

    .property-img {
      min-height: 200px;
      width: 100%;
    }

    h6 {
      font-size: 18px;
      margin-top: 15px;
      margin-bottom: 15px;
    }

    .add {
      display: inline-block;
      color: black;
      text-decoration: none;
      font-size: 10px;
      margin-right: 10px;
      margin-bottom: 8px;
      line-height: 20px;
      text-align: center;

      button {
        height: 65px;
        width: 65px;
        border: 1px solid #CE343E;
        border-radius: 4px;
        color: #CE343E;
      }
    }

    table td {
      font-size: 12px;
      line-height: 20px;
      padding-top: 0px;
      padding-bottom: 20px;

      label {
        margin-bottom: 0;
        color: #C2C2C2;
        font-weight: 500;
        width: 120px;
      }
    }

    .sign {
      background-color: #CE343E;
      color: white;
      height: 35px;
      font-size: 13px;
      border-radius: 4px;
      width: 170px;
      margin-bottom: 10px;
      margin-right: 10px;

      &:hover {
        background-color: white;
        color: #CE343E;
        border: 2px solid #CE343E;
        font-weight: 600;
      }
    }

    .modal-content {
      background-color: rgba(0, 0, 0, 0);
      border: none;
    }

    #body-content ul li {
      list-style-type: none;
      border-bottom: 1px solid #A1A1A1;
      padding: 10px 0px;
      font-weight: 600;
      font-size: 15px;

      &:last-child {
        border: none;
      }

      a {
        color: black;
      }

      span {
        display: block;
        color: #A1A1A1;
        font-size: 12px;
        margin-bottom: 5px;
      }
    }
  }

  @media screen and (max-width: 600px) {
    .overview-of-offer {
      h5 {
        margin: -20px 0px 20px 0px;
        display: inline-block;
      }

      .back {
        margin-right: 20px;
      }

      table {
        margin-top: 20px;

        td label {
          width: 100px;
        }
      }

      .sign {
        width: 100%;
        margin-right: 0px;
      }

      &.modal-dialog img {
        width: auto;
      }
    }
  }

  /* ================================================= */
  /*       CSS FOR (Overview of offer) PAGE ENDS       */
  /* ================================================= */

  /* ================================================= */
  /* ================================================= */
  /*                     NEXT PAGE                     */
  /* ================================================= */
  /* ================================================= */

  /* ================================================= */
  /*  CSS FOR (Earthquake Hazards Reports) PAGE STARTS */
  /* ================================================= */

  .EHR {
    .row {
      max-width: 800px;
      margin: 0 auto;
    }

    .EHR-content {
      min-height: 400px;
      max-width: 600px;
      margin: 0 auto;
    }

    h4 {
      color: #21D7D1;
      text-align: center;
    }

    img {
      max-width: 250px;
      margin-top: 50px;
      margin-bottom: 50px;
    }

    p {
      font-size: 12px;
      text-align: justify;
      color: black;
      font-weight: 500;
    }

    h5 {
      margin-top: 50px;
      margin-bottom: 25px;
      line-height: 30px;
      font-weight: 400;
    }

    .what {
      color: #21D7D1;
      font-size: 14px;
      font-weight: 500;
    }

    .response-btn {
      background-color: white;
      border: 1px solid #CACACA;
      color: #CACACA;
      height: 35px;
      width: 120px;
      font-size: 14px;
      margin-bottom: 15px;

      &:hover {
        color: white;
        background-color: #21D7D1;
        font-weight: 600;
      }
    }

    .question {
      max-width: 350px;
      text-align: center;
      margin: 0 auto;
      margin-bottom: -25px;

      span {
        font-size: 14px;
        color: #ADADAD;
        margin-bottom: 5px;
      }
    }

    .progress {
      border-radius: 90px;
      width: 80%;
    }

    .progress-bar {
      background-color: #21D7D1;
      color: #21D7D1;
    }

    .continue-btn {
      float: right;
      background-color: #21D7D1;
      color: white;

      &:hover {
        color: white;
      }
    }
  }

  @media screen and (max-width: 600px) {
    .EHR {
      .question {
        margin-bottom: 20px;
      }

      .response-btn {
        width: 45%;
        margin-right: 2%;
      }
    }
  }

  /* ================================================= */
  /*  CSS FOR (Earthquake Hazards Reports) PAGE ENDS   */
  /* ================================================= */

  /* ================================================= */
  /* ================================================= */
  /*                     NEXT PAGE                     */
  /* ================================================= */
  /* ================================================= */

  /* ================================================= */
  /* CSS FOR (Disclosure Information Advisory) STARTS  */
  /* ================================================= */

  .DIA {
    .row {
      max-width: 800px;
      margin: 0 auto;
    }

    .DIA-content {
      min-height: 400px;
      max-width: 800px;
      margin: 0 auto;
    }

    h4 {
      color: #21D7D1;
      text-align: center;
    }

    img {
      max-width: 300px;
      margin-top: 50px;
      margin-bottom: 50px;
    }

    .p1 {
      font-size: 12px;
      text-align: center;
      color: black;
      font-weight: 500;
    }

    .sections {
      list-style-type: none;
      max-width: 500px;
      margin: 0 auto;

      li {
        background-color: #FBFBFB;
        border: 1px solid #DBDBDB;
        color: #A9A9A9;
        border-radius: 5px;
        padding: 8px 30px;
        margin-bottom: 10px;

        &:hover {
          background-color: #1FC9C4;
          color: white;
        }
      }

      a {
        color: #A9A9A9;
        text-decoration: none;
      }

      span {
        display: block;
        padding-left: 5px;

        i {
          color: #1FC9C4;
          margin-right: 10px;
          font-size: 14px;
        }
      }
    }

    .question {
      max-width: 350px;
      text-align: center;
      margin: 0 auto;
      margin-bottom: -25px;

      span {
        font-size: 14px;
        color: #ADADAD;
        margin-bottom: 5px;
      }
    }

    .progress {
      border-radius: 90px;
    }

    .progress-bar {
      background-color: #21D7D1;
      color: #21D7D1;
    }

    .continue-btn {
      float: right;
      background-color: #21D7D1;
      color: white;

      &:hover {
        color: white;
      }
    }

    h5 {
      margin-top: 40px;
      margin-bottom: 20px;
      line-height: 30px;
      font-weight: 400;
    }

    .what {
      color: #21D7D1;
      font-size: 14px;
      font-weight: 500;
    }

    .DIA-content p { /* used to be .DIA-content p */
      font-size: 14px;

      span {
        color: #21D7D1;
        font-weight: 600;
      }
    }

    .final-recom ul {
      list-style-image: url("list-bullet.png");

      li {
        margin-left: 20px;
        margin-bottom: 15px;
        font-size: 14px;
      }
    }

    .clearfix {
      span {
        text-align: center;
        color: #21D7D1;
        margin-bottom: 20px;
        display: block;
        font-weight: bold;
      }

      button {
        background-color: white;
        color: #BCBCBC;
        border: 1px solid #BCBCBC;
        border-radius: 4px;
        width: 200px;
        height: 35px;
        font-size: 12px;
        margin-bottom: 10px;
      }

      .sign {
        background-color: white;
        margin-left: 30px;
        max-height: 200px;
        border-radius: 6px;
        padding: 15px 40px;

        img {
          max-height: 100px;
          margin-top: 8px;
          margin-bottom: 8px;
        }
      }
    }
  }

  @media screen and (max-width: 600px) {
    .DIA {
      img {
        width: 80%;
      }

      .question {
        margin-bottom: 20px;
      }

      .clearfix {
        .options, button {
          width: 100%;
        }

        .sign {
          margin-left: 0;
        }
      }
    }
  }

  /* ================================================= */
  /*  CSS FOR (Disclosure Information Advisory) ENDS   */
  /* ================================================= */

  /* ================================================= */
  /* ================================================= */
  /*                     NEXT PAGE                     */
  /* ================================================= */
  /* ================================================= */

  /* ================================================= */
  /*  CSS FOR (Transfer Disclosure Statement) STARTS   */
  /* ================================================= */


  .TDS-address {
    color: #CCCCCC;
    font-size: 14px;
    text-align: center;
    font-weight: 500;
    line-height: 18px;
    margin-top: 20px;
  }

  #SPQ{
    .clickable-text-container{
      text-align: left;
      padding: 20px;
      color: $teal;
      span{
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }

  #TDS {
    min-height: 400px;
    max-width: 900px;
    margin: 0 auto;

    ul{
      list-style: none;
    }

    .Summary_SellerAwareList {
      div {
        margin-bottom: 15px;
      }
    }

    .report-anchor-style-one {
      color: #21D7D1;
      font-size: 14px;
      font-weight: 500;
      margin-bottom: 30px;
      margin-top: -50px;
      display: inline-block;

    }

    .sellerAwareUL {
      color: #0a0a0a;

      li {
        border: none;
        color: #000;
      }
    }

    #TDS-table {
      width: 100%;
      margin-bottom: 1rem;
      color: #212529;
      border-spacing: 0 0;
      padding: 20px 0 0 40px;

      td {
        background: none;
        vertical-align: 0;
        text-align: left;
        padding: 0 0 0 0;
        border: none;
        white-space: nowrap;
        width: 5%;
      }

      td:last-child {
        width: 1%;
        white-space: nowrap;
      }
    }

    textarea {
      font-size: 12px;
      color: #ccc;
    }

    iframe {
      width: 520px;
      height: 300px;
      border: none;
      margin-top: 20px;
    }

    #p2 {
      font-size: 11px;
      font-weight: 500;
      margin-top: 20px;
      max-width: 655px;
    }

    p {
      font-size: 12px;
    }

    table td {
      padding-top: 0;
      padding-bottom: 0;
    }

    form {
      max-width: 350px;
    }

    .TDS-summary ul li {
      list-style-type: none;
      margin-bottom: 15px;
    }

    .row {
      max-width: 800px;
      margin: 0 auto;
    }

    h4 {
      color: #21D7D1;
      text-align: center;
    }

    #address {
      color: #CCCCCC;
      font-size: 14px;
      text-align: center;
      font-weight: 500;
      line-height: 18px;
      margin-top: 20px;
    }

    iframe {
      width: 520px;
      height: 300px;
      border: none;
      margin-top: 20px;
    }

    #p2 {
      font-size: 11px;
      font-weight: 500;
      margin-top: 20px;
    }

    .get-started {
      background-color: #21D7D1;
      color: white;
      border-radius: 4px;
      width: 180px;
      font-size: 14px;

      &:hover {
        color: white;
      }
    }

    img {
      max-width: 250px;
      margin-top: 30px;
    }

    .question {
      text-align: center;
      font-size: 28px;
      color: #8F9091;
      font-weight: 300;

      span {
        font-size: 14px;
        color: #ADADAD;
        margin-bottom: 5px;
      }
    }

    .TDS-summary ul li {
      background-color: white;
      border: 1px solid #D1D1D1;
      border-radius: 6px;
      font-size: 13px;
      color: #C6C6C6;
      padding: 10px 20px;

      b {
        color: black;
      }

      span {
        /*color: #9F9F9F;*/
        font-style: italic;
      }
    }

    .progress {
      border-radius: 90px;
    }

    .progress-bar {
      background-color: #21D7D1;
      color: #21D7D1;
    }

    .progress-bar-percent {
      line-height: 2.2;
      color: white;
    }

    .continue-btn {
      float: right;
      background-color: #21D7D1;
      color: white;

      &:hover {
        color: white;
      }
    }

    /*
    h5 {
      margin-top: 20px;
      margin-bottom: 20px;
      line-height: 30px;
      font-weight: 400;
    }
    */
    .what {
      color: #21D7D1;
      font-size: 14px;
      font-weight: 500;
    }

    p {
      font-size: 12px;

      span {
        color: #21D7D1;
        font-weight: 600;
      }
    }

    textarea {
      font-size: 12px;
      color: #ccc;
    }

    .response-btn {
      background-color: white;
      border: 1px solid #CACACA;
      color: #CACACA;
      height: 35px;
      width: 120px;
      font-size: 14px;
      margin-bottom: 15px;

      &:hover {
        color: white;
        background-color: #21D7D1;
        font-weight: 600;
      }
    }

    table td {
      padding-top: 0;
      padding-bottom: 0;
    }

    #summary ul li {
      background-color: white;
      border: 1px solid #D1D1D1;
      border-radius: 6px;
      font-size: 13px;
      color: #C6C6C6;
      padding: 10px 20px;
      max-width: 600px;

      b {
        color: black;
      }

      span {
        color: #9F9F9F;
        font-style: italic;
      }
    }

    input[type="checkbox"] {
      opacity: 0;
    }

    label {
      &::before {
        content: "";
        display: inline-block;
        width: 20px;
        height: 20px;
        border: 1px solid #ccc;
        border-radius: 4px;
        background-color: white;
      }

      &::after {
        content: "";
        display: inline-block;
        height: 6px;
        width: 10px;
        border-bottom: 2px solid #21D7D1;
        border-left: 2px solid #21D7D1;
        transform: rotate(-45deg);
      }

      position: relative;
      display: inline-block;
      padding-left: 30px;
      font-size: 12px;

      &::before {
        position: absolute;
        display: inline-block;
      }
    }

    label {
      &::before {
        left: 0;
        top: 1px;
      }

      &::after {
        left: 5px;
        top: 6px;
      }
    }

    input[type="checkbox"] {
      + label::after {
        content: none;
      }

      &:checked + label::after {
        content: "";
      }

      &:focus + label::before {
        outline: rgb(59, 153, 252) auto 5px;
      }
    }

    .BuyerSellerAgentInfo {
      div {
        margin-top: 50px;
        width: 100%;

        input {
          margin: 0 auto;
          width: 100%;
          border: none;
          border: solid 1px #ccc;
          border-radius: 5px;
          height: 50px;
        }
      }
    }
  }

  @media screen and (max-width: 600px) {
    #TDS {
      iframe {
        width: 100%;
        height: auto;
        border: none;
        margin-top: 20px;
      }

      img {
        width: 80%;
      }

      .question {
        margin-bottom: 20px;
      }

      .table-box {
        overflow-x: auto;
      }
    }
  }

  /* ------------- CUSTOME CHECKBOX -------------- */

  /*        Hiding default checkbox      */

  /*        Creating the fake checkbox        */

  /*        Creating the outer box           */

  /*        Creating the check mark           */

  /*        Positioning the outer box and checkmark         */

  label::after {
    position: absolute;
    display: inline-block;
  }

  /*       checkmark appear and disappear         */

  /*       focus styles to make the checkbox accessible     */

  /* ================================================= */
  /*  CSS FOR (Transfer Disclosure Statement) ENDS     */
  /* ================================================= */

  /* ================================================= */
  /* ================================================= */
  /*                     NEXT PAGE                     */
  /* ================================================= */
  /* ================================================= */

  /* ================================================= */
  /*            CSS FOR (Invite) PAGE STARTS           */
  /* ================================================= */

  .invite {
    max-width: 450px;
    margin-top: 50px;

    img {
      height: 65px;
      margin-bottom: 20px;
    }

    h4 {
      font-weight: 300;
      margin-bottom: 40px;
      font-size: 28px;
    }

    [type="password"] {
      border: none;
      border-bottom: 1px solid #ccc;
      font-size: 16px;
      margin-bottom: 10px;
      color: #AFADAD;

      &:focus {
        box-shadow: none;
      }
    }

    [type="checkbox"] {
      height: 10px;
      width: 10px;
    }

    label {
      font-size: 8.5px;
      color: #AFADAD;
    }

    form a {
      color: #41DDD7;
      font-weight: 500;
    }

    [type="submit"] {
      background-color: #CA4544;
      color: white;
      border: none;
      border-radius: 5px;
      height: 30px;
      font-size: 14px;
      padding: 5px 10px;
      margin: 20px 0px 25px 8px;
    }
  }

  #invite-page footer {
    position: fixed;
    bottom: 0;
  }

  @media screen and (max-width: 600px) {
    .invite {
      max-width: 450px;
      position: static;

      img {
        height: 45px;
      }
    }
    #invite-page footer {
      position: static;
      margin-top: 50px;
    }
  }

  /* ================================================= */
  /*            CSS FOR (Invite) PAGE ENDS             */
  /* ================================================= */

  /* ================================================= */
  /* ================================================= */
  /*                     NEXT PAGE                     */
  /* ================================================= */
  /* ================================================= */

  /* ================================================= */
  /*        CSS FOR (Offer Past) PAGE STARTS           */
  /* ================================================= */

  .offer-past {
    #body-content {
      max-width: 900px;
      min-height: 500px;
      background-color: white;
      border-radius: 8px;
      padding: 30px 60px;
    }

    h2 {
      font-weight: 300;
      text-align: center;
      color: #616364;
      margin-top: -20px;
      margin-bottom: 20px;
      display: inline-block;
      margin-left: 420px;
    }

    .save {
      float: right;
      margin-right: 80px;
      color: #21D7D1;
      text-decoration: underline;
    }

    .row1 {
      max-width: 600px;
      margin: 0 auto;
    }

    .form-group {
      background-color: #F9F9F9;
      max-width: 550px;
      padding-left: 30px;
      padding-right: 30px;

      button {
        height: 45px;
        color: white;
        width: 180px;
        border-radius: 4px;
        font-size: 14px;
        margin-bottom: 10px;
      }

      .upload-offer-btn {
        background-color: #21D7D1;

        &:hover {
          background-color: white;
          color: #21D7D1;
          border: 2px solid #21D7D1;
          font-weight: 600;
        }
      }

      .counter-offer-btn {
        background-color: black;

        &:hover {
          background-color: white;
          color: black;
          border: 2px solid black;
          font-weight: 600;
        }
      }
    }
  }

  @media screen and (max-width: 600px) {
    .offer-past {
      #body-content {
        padding: 30px 20px;
      }

      .row1 .col {
        padding-left: 0px;
        padding-right: 0px;
      }

      h2 {
        margin-left: 10px;
      }

      .save {
        float: right;
        margin-right: 0px;
      }

      .form-group {
        padding-left: 0px;
        padding-right: 0px;
      }
    }
  }

  /* ================================================= */
  /*          CSS FOR (Offer Past) PAGE ENDS           */
  /* ================================================= */

  /* ================================================= */
  /*    CSS FOR (Offer - Buyer Info) PAGE STARTS       */
  /*          Q4, Q5, Q6, Q10, Q19, Q20, Q21           */
  /* ================================================= */

  .Q .AgentInfoStyle {
    input {
      background-color: #F4F4F4;
      border: 1px solid #B6B6B6;
      color: #9CA0A3;
      border-radius: 4px;
      height: 50px;
      width: 380px;
      font-size: 14px;
      padding-left: 25px;
      padding-right: 25px;
      margin-bottom: 15px;
      text-align: center;

      input::placeholder {
        font-size: 11px;
      }
    }

    .num {
      width: 175px;
      margin-left: 10px;
      margin-right: 10px;
      margin-bottom: 0px;
    }
  }

  @media screen and (max-width: 400px) {
    .Q .AgentInfoStyle {
      input, .num {
        width: 100%;
        margin-bottom: 15px;
        margin-left: 0px;
        margin-right: 0px;
      }
    }
  }

  .info {
    .Q6 form {
      max-width: 400px;
      margin-left: 150px;

      label {
        font-size: 11px;
        width: 170px;
        text-align: right;
        margin-right: 15px;
        color: #8B9093;

        a {
          color: #42CCBF;
          font-size: 11px;
          font-weight: 600;
        }
      }

      b {
        text-align: center;
        margin-left: 60px;
        color: #5D5E5E;
      }

      input {
        background-color: #F4F4F4;
        border: 1px solid #B6B6B6;
        color: #9CA0A3;
        border-radius: 4px;
        height: 30PX;
        width: 150px;
        font-size: 14px;
        text-align: left;
        padding-left: 15px;
        padding-right: 15px;
        margin-bottom: 8px;
      }
    }

    .Q10 {
      small {
        font-size: 9px;
        color: #5D5E5E;
      }

      form {
        margin: 0 auto;
        margin-top: 45px;
        max-width: 500px;

        label {
          font-size: 12px;
          color: #5D5E5E;
        }

        [type="checkbox"] {
          border-radius: 4px;
        }

        [type="text"] {
          background-color: #F4F4F4;
          color: #9CA0A3;
          border: 1px solid #9CA0A3;
          border-radius: 4px;
          height: 45px;
          font-size: 13px;
          max-width: 300px;
          margin: 0 auto;
          margin-bottom: 8px;
          padding-left: 45px;

          &::placeholder {
            text-align: center;
            font-size: 11px;
          }
        }

        .include {
          background: #F4F4F4 url("include.png") no-repeat scroll 7px 7px;
          background-size: 30px;
        }

        .exclude {
          background: #F4F4F4 url("exclude.png") no-repeat scroll 7px 7px;
          background-size: 30px;
        }
      }
    }

    /*
    .Q19 form {
      max-width: 400px;
      margin-top: 20px;
      label {
        font-size: 11px;
        margin-right: 10px;
        color: #8B9093;
      }
      input {
        background-color: #F4F4F4;
        border: 1px solid #B6B6B6;
        color: #9CA0A3;
        border-radius: 4px;
        height: 35PX;
        width: 130px;
        font-size: 14px;
        text-align: left;
        padding-left: 15px;
        padding-right: 15px;
        margin-bottom: 8px;
        &::placeholder {
          font-size: 11px;
        }
      }
    }
    .Q20 table {
      font-size: 11px;
      font-weight: bold;
      td {
        padding-bottom: 35px;
      }
      label {
        font-size: 11px;
        color: #A7ABAD;
      }
      input {
        height: 10px;
        width: 10px;
      }
    }
    .Q21 form {
      margin: 0 auto;
      max-width: 550px;
      label {
        text-transform: uppercase;
        font-size: 11px;
        line-height: 15px;
        color: #A7ABAD;
      }
    }
    */
  }

  @media screen and (max-width: 400px) {
    .info .Q6 form {
      input {
        width: 100%;
      }

      margin-bottom: 10px;
      margin-left: 0px;

      label {
        text-align: left;
      }

      b {
        margin-left: 0px;
      }
    }
  }

  @media screen and (max-width: 400px) {
    .info .Q19 form input {
      width: 100%;
    }
  }

  .shadow {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
  }

  /*
  .categories {
    display: inline-block;
  }
  */

  .category-button-text {
    line-height: 2px;
  }

  .progress {
    margin-top: 50px;
    height: 25px;
    border-radius: 4px;
  }

  .progress-bar {
    background-color: #6BD5CD;
    width: 30%;
  }

  .previous-gray-button, .next-red-button {
    font-size: 12px;
    color: white;
  }

  .previous-gray-button {
    background-color: #6C757D;
    opacity: .65;

    &:hover {
      opacity: .80;
    }
  }

  .question-response-button {
    background-color: white;
    border: 1px solid #CACACA;
    color: #CACACA;
    height: 40px;
    width: inherit;
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 15px;
    margin-right: 5px;
    line-height: 2px;

    &:hover {
      background-color: #6BD5CD;
    }
  }

  .next-red-button {
    background-color: #D12E2E;

    &:hover {
      background-color: #c82333;
    }
  }

  .btn-arrow-right {
    position: relative;
    padding-right: 15px;
    padding-left: 36px;
    max-height: 33px;
    background-color: #F4F4F4;
    font-size: 12px;
    outline: none;

    &:hover, &.active {
      background-color: #6BD5CD;
      color: white;
    }

    &:before, &:after {
      /* make two squares (before and after), looking similar to the button */
      content: "";
      position: absolute;
      top: 5px;
      /* move it down because of rounded corners */
      width: 22px;
      /* same as height */
      height: 22px;
      /* button_outer_height / sqrt(2) */
      background: inherit;
      /* use parent background */
      border: inherit;
      /* use parent border */
      border-left-color: transparent;
      /* hide left border */
      border-bottom-color: transparent;
      /* hide bottom border */
      border-radius: 0 4px 0 0;
      /* round arrow corner, the shorthand property doesn't accept "inherit" so it is set to 4px */
      -webkit-border-radius: 0 4px 0 0;
      -moz-border-radius: 0 4px 0 0;
    }

    &:before, &:after {
      transform: rotate(45deg);
      /* rotate right arrow squares 45 deg to point right */
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
    }

    &:before {
      /* align the "before" square to the left */
      left: -11px;
    }

    &:after {
      /* align the "after" square to the right */
      right: -11px;
      /* bring arrow pointers to front */
      z-index: 1;
    }

    &:before {
      /* hide arrow tails background */
      background-color: white;
    }
  }

  @media screen and (max-width: 400px) {
    padding: 10px 30px;
    .btn-arrow-right {
      display: block;
      width: 100%;
      margin-bottom: 2px;
    }
    .categories {
      width: 80%;
    }
  }

  #help {
    color: black;
    font-size: 22px;
    float: right;
  }

  .navigation-container {
    width: 100%;
    bottom: 0;
    left: 0;
  }

  .questionnaireContainer {
    max-width: 900px;
    min-height: 500px;
    background-color: white;
    border-radius: 15px;
    padding: 30px 60px;
    @media screen and (max-width: 768px){
      padding: 20px 20px;
    }
  }

  .display-1 {
    font-size: 29px;
    margin-top: 20px;
    margin-bottom: 5px;
  }

  .SkipStepStyle {
    color: #6BD5CD;
    font-size: 12px;
    font-weight: 500;

    &:hover {
      color: #42CCBF;
      text-decoration: underline;
    }

    i {
      font-size: 18px;
      margin-right: 10px;
    }
  }

  .ButtonStyleOne {
    text-decoration: none !important;

    button {
      margin: 50px 15px 50px;
      padding: 0;
      height: 120px;
      width: 120px;
      font-size: 14px;
      line-height: 30px;
      background: white;
      color: #000;
      white-space: normal;
      line-height: 1;

      &:hover {
        background: #D5EEF0;
        border-radius: 6px;
      }

      img {
        height: 60px;
      }
    }
  }

  .ButtonStyleOneText {
    /*line-height: 2em;*/
    font-size: 13px;
    display: block;
    /*margin-top: 15px;*/
  }

  .BuyerSellerAgentInfo {
    max-width: 550px;
    padding-bottom: 0;

    input, select {
      background-color: #F4F4F4;
      border: 1px solid #B6B6B6;
      color: #9CA0A3;
      border-radius: 4px;
      height: 50px;
      width: 250px;
      font-size: 14px;
      padding-left: 25px;
      padding-right: 25px;
    }

    input::placeholder {
      font-size: 11px;
    }
  }

  #AgentPopup {
    .modal-dialog {
      max-width: 400px;
    }

    h5 {
      color: #434343;
      text-align: center;
      text-transform: uppercase;
    }

    .modal-dialog button {
      height: 35px;
      width: 35px;
      padding-bottom: 20px;
      border-radius: 360px;
      margin-top: -40px;
      background-color: white;
      color: #6BD5CD;
      line-height: 25px;
      font-size: 35px;
      border: 1px solid #CDCDCD;
    }

    ul {
      border: 5px solid #C1C5C8;
      border-radius: 4px;
      list-style-type: none;
    }

    .modal-dialog ul a {
      color: #434343;
      font-size: 18px;
      text-decoration: none;
    }

    .modal-content {
      border: 2px solid #6BD5CD;
    }

    .modal-dialog {
      .not-in-list {
        color: red;
        font-size: 16px;
      }

      ul li {
        padding-top: 10px;
        padding-bottom: 10px;
        border-bottom: 3px solid #CDCDCD;
        padding-left: 20px;
        padding-right: 20px;
      }
    }
  }

  .SelectStyleOne {
    border: 1px solid #8D9295;
    background-color: #F4F4F4;
    color: #9CA0A3;
    width: 180px;
    height: 35px;
    font-size: 14px;
    padding-left: 15px;
    margin-bottom: 138px;
  }

  .ListStyleOne {
    list-style-type: none;
    border: 1px solid #BFC3C5;
    max-width: 200px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 37px;
    padding-inline-start: 0;
    text-align: center;
    a {
      color: #BFC3C5;
      text-decoration: none;
    }

    li {
      padding: 3px 20px 3px 30px;
    }

    .active, li:hover {
      border: 1px solid #BFC3C5;
      background-color: #F2F5F6;
    }
  }

  .InviteFieldStyle {
    background-color: #F4F4F4;
    border: 1px solid #B6B6B6;
    color: #9CA0A3;
    border-radius: 2px;
    height: 50px;
    font-size: 14px;
    padding-left: 25px;
    padding-right: 25px;
    margin-bottom: 10px;
    width: 100%;
  }

  .address {
    #address {
      background: #F4F4F4 url("icon-map.png") 5% 50% no-repeat;
      padding-left: 40px;
    }

    input {
      background-color: #F4F4F4;
      border: 1px solid #B6B6B6;
      color: #9CA0A3;
      border-radius: 4px;
      height: 50px;
      width: 380px;
      font-size: 14px;
      padding-left: 25px;
      padding-right: 25px;
      margin-bottom: 25px;
    }
  }

  form {
    input::placeholder {
      font-size: 11px;
    }

    .InputStyle1 {
      width: 73px;
      margin-bottom: 0;
      padding-left: 5px;
      padding-right: 5px;
      text-align: center;
    }

    .InputStyle2 {
      width: 110px;
      margin-bottom: 0;
      padding-left: 5px;
      padding-right: 5px;
      text-align: center;
    }
  }

  .EscrowDateStyle input {
    width: 300px;
    background: #F4F4F4 url("date to excrow.png") 88% 50% no-repeat;
    border: 1px solid #B6B6B6;
    color: #9CA0A3;
    border-radius: 4px;
    height: 50px;
    font-size: 14px;
    padding-left: 25px;
    padding-right: 10px;
    margin-bottom: 100px;
    margin-top: 30px;

    &::-webkit-inner-spin-button {
      display: none;
    }

    &::-webkit-calendar-picker-indicator {
      opacity: 1;
      color: red;
    }

    &::placeholder {
      font-size: 11px;
    }
  }

  .ContingencyStyle {
    max-width: 355px;
    margin: 0 auto;

    .form-check {
      margin-bottom: 3px;
    }

    label {
      font-size: 11px;
      color: #9CA0A3;
      line-height: 23px;

      span {
        font-size: 8.5px;
      }
    }

    [type="text"] {
      background-color: #F4F4F4;
      border: 1px solid #B6B6B6;
      color: #9CA0A3;
      border-radius: 4px;
      height: 35px;
      width: 60px;
      font-size: 12px;
      padding-left: 5px;
      padding-right: 5px;
      margin-left: 10px;
      margin-top: -20px;
    }
  }

  form {
    p {
      font-size: 23px;
      display: inline-block;
    }

    input {
      background-color: #F4F4F4;
      border: 1px solid #B6B6B6;
      color: #9CA0A3;
      border-radius: 0;
      height: 30px;
      font-size: 14px;
      padding-left: 5px;
      padding-right: 5px;
      /*margin-left: 10px;*/
    }

    label {
      font-size: 12px;
      margin-left: 3px;
    }
  }

  #HCT, #ACT, #TCCT, #AVID {
    .questionnaire-title {
      font-size: 29px;
      margin-top: 20px;
      margin-bottom: 5px;
    }
  }

  @media screen and (max-width: 400px) {
    .ButtonStyleOne button {
      margin: 20px 15px;
    }
    .SelectStyleOne, .InviteFieldStyle {
      width: 100%;
    }
  }

  @media screen and (max-width: 400px) {
    form {
      p {
        display: block;
      }

      input {
        margin-left: 0;
        margin-bottom: 5px;
      }

      label {
        width: 50%;
      }
    }
  }

  @media screen and (max-width: 400px) {
    #address, .InputStyle1, .InputStyle2 {
      width: 100%;
      margin-bottom: 15px;
      text-align: left;
      padding-left: 25px;
      padding-right: 25px;
    }
  }

  @media screen and (max-width: 400px) {
    .EscrowDateStyle input {
      width: 100%;
    }
  }

  @media screen and (max-width: 400px) {
    .ContingencyStyle [type="text"] {
      margin-top: 10px;
      margin-left: 0;
      display: block;
    }
  }

  #timeLength{
    .icon-container{
      position: absolute;
      right: 0;
      top: 0;
      height: 100%;
      display: flex;
      align-items: center;
      width: 25px;
      background: black;
      color: white;
      justify-content: center;
      pointer-events: none;
    }
    .form-group{
      padding-right: 0;
      input{
        height: 34px;
      }
      button{
        border-radius: 0;
        background: #f4f4f4;
        text-align: left;
      }
    }
    #lengthTypeDropdown{
      padding: 0;
      ul{
        list-style-type: none;
        padding-inline-start: 0;
        border: solid 1px $teal;
        margin-bottom: 0;
        li{
          padding: 5px 5px 5px 10px;
          border-bottom: 1px solid $teal;
          &:hover{
            background: #E8FBFA;
          }
          &:last-child{
            border: none;
          }
        }
      }
    }
  }

  #AVID{
    @media screen and (min-width: 1030px){
      min-width: 700px;
    }
  }

}
